In [5]:
import pandas as pd
import os,sys
import numpy as np

In [7]:
sch_file = 'data/vapor.library.2'
cdm = {} # dictionary holding the CDM tables and Schr. table (that will become the sensor_configuration table)
dtypes={ 'station_id': np.int32, 'latitude':str, 'longitude':str, 'altitude':str,
                'rstype':'S4','datetime':np.int,'date_flag':'S2','Station Name':'S60'}

names=list(dtypes.keys())

# Metadata Schroeder -> columns: Index(['station_id', 'rstype', 'datetime', 'date_flag', 'Station Name', 'latitude', 'longitude', 'altitude'], dtype='object')
sch_meta = pd.read_csv(sch_file,  sep=':', header=0, dtype=dtypes, names=names )        
for l in 'latitude','longitude','altitude':
    sch_meta[l]=pd.to_numeric(sch_meta.pop(l), errors='coerce')

sch_instr=pd.read_csv('data/vapor.instruments.all' , sep=':', names=('sensor_id','comments') )

/tmp/ipykernel_2100399/1251255101.py:4: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  'rstype':'S4','datetime':np.int,'date_flag':'S2','Station Name':'S60'}

In [10]:
sch_meta['rstype'] = [s.decode('utf-8') for s in sch_meta.rstype ]

In [11]:
sch_meta.head()

,station_id,rstype,datetime,date_flag,Station Name,latitude,longitude,altitude
0,1001,V11,194800000000,b'+-',"b'Jan Mayen - ""Atlantic City"", Norway'",71.0120,-8.4620,-888.0
1,1001,V11,194900000000,b'+-',b'Jan Mayen - Old Meteorological Station (Gaml...,71.0142,-8.4602,39.0
2,1001,V13,196200000000,b'>-',"b'ENJA Jan Mayen - Jan Mayensfield, Norway'",70.9396,-8.6681,9.0
3,1001,V15,0,b'+/',"b'ENJA Jan Mayen - Jan Mayensfield, Norway'",70.9396,-8.6681,8.0
4,1001,V15,197510000000,b'#o',"b'ENJA Jan Mayen - Jan Mayensfield, Norway'",70.9396,-8.6681,8.0

In [35]:
sch_meta_red = sch_meta[sch_meta['datetime'] > 0 ]
all_sensors = np.unique(sch_meta_red['rstype'])

In [22]:
all_sensors

array([' WGN', ' W_P', ' XXX', ..., 'Zqr', '_P', 'u06'], dtype=object)

In [36]:
sch_meta_red.head()

,station_id,rstype,datetime,date_flag,Station Name,latitude,longitude,altitude
0,1001,V11,194800000000,b'+-',"b'Jan Mayen - ""Atlantic City"", Norway'",71.0120,-8.4620,-888.0
1,1001,V11,194900000000,b'+-',b'Jan Mayen - Old Meteorological Station (Gaml...,71.0142,-8.4602,39.0
2,1001,V13,196200000000,b'>-',"b'ENJA Jan Mayen - Jan Mayensfield, Norway'",70.9396,-8.6681,9.0
4,1001,V15,197510000000,b'#o',"b'ENJA Jan Mayen - Jan Mayensfield, Norway'",70.9396,-8.6681,8.0
5,1001,V18,197611241200,b'+<',"b'ENJA Jan Mayen - Jan Mayensfield, Norway'",70.9396,-8.6681,8.0

In [62]:
min_dates, station_ids, station_names, lats, lons = [],[],[], [],[]

for s in all_sensors:
    df_sensor = sch_meta_red[ sch_meta_red.rstype == s ]  ### all stations using this sensor 
    intro_date = min( df_sensor.datetime ) ### earliest date of adoption
    df_stations = df_sensor[df_sensor.datetime ==  intro_date ]
    
    min_dates.append( str(min( df_stations[ df_stations.rstype == s ].datetime ))[:4]  )
    station_ids.append(df_stations.station_id.values)
    station_names.append( [s.decode('utf-8') for s in df_stations['Station Name'].values] ) 
    
    lats.append(df_stations.latitude.values) 
    lons.append(df_stations.longitude.values)

1080

In [66]:
df_intr = pd.DataFrame.from_dict( {'sensor':all_sensors , 
                                   'mindate': min_dates,
                                   'station_id' : station_ids ,
                                   'station_name' : station_names ,
                                   'latitude':lats,
                                   'longitude':lons
                                  } )

df_intr = df_intr.loc[df_intr.mindate < '2020']

In [67]:
df_intr = df_intr.sort_values(by=['mindate'])

In [68]:
df_intr

,sensor,mindate,station_id,station_name,latitude,longitude
925,XXX,1893,[72434],"[St. Louis, MO]",[999.9999],[999.9999]
485,NF1,1893,[72434],"[St. Louis, MO]",[38.63],[-90.2]
526,NUt,1894,[74492],"[Boston (Milton - Blue Hill Observatory), MA]",[42.21],[-71.11]
486,NF3,1896,[74492],"[Boston (Milton - Blue Hill Observatory), MA]",[42.21],[-71.11]
509,NU1,1897,[74492],"[Boston (Milton - Blue Hill Observatory), MA]",[42.21],[-71.11]
...,...,...,...,...,...,...
314,KUuW,2012,[73357],"[(made up station ID) Norman, OK - 449 MHz DeT...",[35.236],[-97.463]
884,VNW,2012,[72712],"[KCAR [IB] Caribou AP - NWS Office, 810 N. Mai...",[46.8683],[-68.0136]
97,DGN,2012,[7758],"[(made up station ID) INRA, San Giuliano, Cors...",[42.2852],[9.5234]
668,SGG,2012,[6610],"[Payerne, Switzerland]",[46.8131],[6.9437]
231,KHAT,2013,[55588],[(made up station ID) Yang Ba Jing (YBJ) Inter...,[30.101],[90.524]

In [70]:
#for i in df_intr.station_id.values:
#    if len(i) >1:
#        print(i)

[72326 72334 72344 72405 72421 72435 72439 72451 72456 72524 72547 72554
 72562 72660 72734 72745]
[3104 3348 3767 3963]
[71261 71262 72877]
[71261 72877]
[4339 7145]
[72222 72794 74509 74707]
[26066 27612]
[72226 72327 72353 72553 72564 72677 72753 72785 74463 74498 74567 74570
 74747]
[26066 27612]
[72327 72353 72493 72553 72734 72753]
[72327 72753]
[7180 7240 7257 7280 7354]
[20049 26781 28440 28901 29634]
[3005 3743 3811 3953]
[3005 3743]
[94120 94294 94326 94335 94510 94568 94677 94772 94865 94995 94996]
[20049 21982 23330 23933 24688 25594 26781 27037 27553 28698 30230 33837
 35121 36177 37054]
[3005 3743]
[94120 94326 94335 94510 94568 94677 94772 94995]
[47401 47412 47582 47590 47600 47646 47744 47778 47827 47971]
[ 3005  3743  3808  3917  3953  8495 88890 93115]
[20049 20107 20292 20353 20667 20674 20891 21432 21824 21965 21982 22113
 22271 22522 22550 22802 23022 23074 23146 23205 23274 23330 23418 23472
 23552 23804 23884 23921 23933 23955 24266 24343 24507 24641 24688 24790
 24817 24908 24944 25173 25399 25400 25563 25594 25677 25913 25954 26038
 26063 26065 26258 26298 26406 26422 26702 26781 26850 27037 27196 27553
 27595 27947 28275 28440 28698 28722 28900 28952 29231 29282 29698 30054
 30230 30521 30554 30635 30673 30692 30758 30935 31004 31168 31300 31510
 31561 31707 31735 31909 31960 32061 32150 32165 32195 32217 32389 32540
 33008 33345 33393 33631 33658 33815 33837 33946 34009 34139 34172 34300
 34560 34731 34858 34880 35108 35121 35229 35394 35700 35746 35796 36096
 36177 36880 37018 37054 37260 37789 37985 38392 38457 38687 38750 38836
 38880 38989]
[87576 89001]
[72226 72274]
[72226 72274 72392]
[12105 12330 12374]
[21946 23205 23330]
[72226 72392]
[93112 93780]
[70026 70261 70316 70398 72202 72206 72232 72248 72250 72265 72274 72304
 72327 72403 72476 72493 72506 72520 72532 72562 72597 72712 72734 72747
 72775 72798 72917 78526 91165 91245 91700]
[10202 10338]
[72641 72823 72912 74208 74489 74538 74610 74634 74786 78116 78804]
[72232 72493]
[72360 73350 73351 73352 73358 73359]
[89010 89011]
[46747 59553]
[37395 37575 37747]
[37686 37709 37735 37897 37936 38001]
[75003 75004 75005 75006 75007 75008]
[46747 59345 59553]
[72201 72208]
[72248 72259 72266 72290 72327 72402 72476 72493 72518 72572 72747 91765]
[46810 59792]
[13275 70454]
[72226 72274 72340]
[70026 70200 70261 70273 70308 70316 72202]
[7110 7180 7480 7510 7645 7761]
[4018 4340]
[6260 8521 8536]
[ 4202 48354]
[46747 46810 59345 59553 59792]
[42027 42647 42971 43128 43149 43192 43279 43333 43369 43371]
[42182 42339 42369 42410 42809 42867 43003]
[94035 94120 94203 94294 94299 94300 94312 94326 94332 94380 94461 94510
 94527 94578 94610 94637 94638 94646 94659 94672 94711 94750 94776 94802
 94821 94865 94910 94975 94995 94996 94998 96996]
[3693 3774]
[72229 72274 72340]
[72201 78073]
[46747 46810 59345 59553 59792]
[48647 48657]
[72244 72264 72266 72330 72344 72445 72450 72458 72465 73238 73335 73345
 73346 73361 73362 73546 74639 74740]
[70026 72712]
[6476 8001 8221 8521]
[75872 75878 75928]
[ 8509 61967]
[42182 42339 42369 42410 42809 42867]
[73197 73199]
[3808 3920]
[46692 58968]
[46747 46810 59553 59792]
[72244 72266 73011 73012 73013 73014 73015 73016 73017 73018 73019 73345]
[71124 71867]
[46747 59553]
[71043 71051 71072 71081 71082 71109 71115 71119 71399 71600 71701 71716
 71722 71801 71811 71815 71816 71826 71836 71853 71896 71906 71907 71909
 71913 71915 71917 71924 71925 71926 71934 71945 71957 71964]
[7110 7145 7180 7481 7510 7645 7761]
[91843 93780 93844]
[46692 58968]
[72289 73173 73175 73177 73178 73179 74704]
[40194 40195 40196]
[75870 75871 75873 75875 75876]
[74948 74949 74950 74951 74952 74953 74954 74955]
[74945 74946 74947]
[74956 74957 74958]
[89571 89611 94120 94203 94294 94299 94300 94312 94326 94332 94380 94461
 94510 94527 94578 94610 94637 94638 94646 94659 94672 94711 94750 94776
 94802 94821 94865 94910 94975 94995 94996 94998 96996]
[72302 73301 73302 73304 73305 74790 74791]
[71601 71604 71702]
[89050 89512]
[73514 73515]
[46747 59553]
[46683 46699 46751]
[70200 72235 72403 72518 72553 72562 72583 72645 72768 78384]
[42027 42101 42314 42361 42379 42492 42647 42667 42700 42724 42779 42971
 43003 43014 43041 43128 43150 43185 43192 43279 43285 43311 43333 43346
 43369 43371]
[42182 42339 42369 42410 42809 42867]
[70219 70231]
[72274 72365]
[73522 73525 73526 73528]
[73514 73515 73516]
[73925 73929 73931]
[70219 70231 70261 72270 72363 72365 72476 72486 72572 72576]
[42027 42101 42182 42314 42361 42379 42397 42492 42647 42667 42700 42724
 42779 42971 43014 43041 43128 43150 43185 43192 43279 43285 43295 43311
 43333 43346 43353 43369 43371]
[42339 42369 42410 42809 42867 43003]
[33658 33946]
[70378 70379 70380]
[82906 82907]
[74959 74960]
[47406 47417 47423 47585 47587 47612 47616 47626 47629 47636 47640 47656
 47663 47674 47755 47800 47805 47815 47819 47822 47836 47891 47893 47898
 47912]
[3019 3020]
[61442 61641 61831]
[73910 73911 73912]
[ 6458 47950]
[48480 48551]
[33837 33966]

In [ ]:
def get_data_year(df, year):
    
    d = df.loc[df['datetime']==year]