# radio sonde trajectory calculation

In [9]:
import os, sys
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

import numpy as np
import re 
import subprocess
import geopy.distance
import glob
import pickle

In [6]:
file = glob.glob('/mnt/users/scratch/leo/scratch/era5/odbs/2/*10393*')[0]

In [7]:
comm = "odb sql 'select distinct statid'  -i FILE --no_alignment ".replace('FILE', file)   
proc = subprocess.Popen(comm, stdout=subprocess.PIPE , shell=True)
b = proc.stdout.read().decode('utf-8').split('\n')
statids = [ eval(c) for c in np.unique( b[1:-1] ) ]

/bin/sh: odb: Kommando nicht gefunden.

In [34]:
data = pickle.load( open( './lindenberg_hires.p', "rb" ))

In [51]:
df = pd.DataFrame([sub.split("\t") for sub in data])
df.columns = df.iloc[0]
df = df.drop(df.index[0])
df

,date@hdr,lat@hdr,lon@hdr,time@hdr,varno@body,obsvalue@body,vertco_reference_1@body,vertco_reference_2@body,report_event1@hdr
1,20201210,52.209999,14.120000,0,1,990.000000,100000.000000,NULL,16
2,20201210,52.209999,14.120000,0,2,NULL,100000.000000,NULL,16
3,20201210,52.209999,14.120000,0,3,NULL,100000.000000,NULL,16
4,20201210,52.209999,14.120000,0,4,NULL,100000.000000,NULL,16
5,20201210,52.209999,14.120000,0,1,1100.000000,99900.000000,NULL,16
...,...,...,...,...,...,...,...,...,...
215737,20201210,52.209301,14.120410,224506,3,4.725514,10000.000000,NULL,16
215738,20201210,52.209301,14.120410,224506,4,-3.187400,10000.000000,NULL,16
215739,20201210,52.209301,14.120410,224506,1,155250.062500,10000.000000,NULL,16
215740,20201210,52.209301,14.120410,224506,2,210.570007,10000.000000,NULL,16
215741,,None,None,None,None,None,None,None,None

In [58]:
for i in df:
    df[i]= df[i].astype(float)

ValueError: could not convert string to float: 'NULL'

In [59]:
df

,date@hdr,lat@hdr,lon@hdr,time@hdr,varno@body,obsvalue@body,vertco_reference_1@body,vertco_reference_2@body,report_event1@hdr
1,20201210.0,52.209999,14.12000,0.0,1.0,990.000000,100000.000000,NULL,16
5,20201210.0,52.209999,14.12000,0.0,1.0,1100.000000,99900.000000,NULL,16
6,20201210.0,52.209999,14.12000,0.0,1.0,NULL,96500.000000,NULL,16
10,20201210.0,52.209999,14.12000,0.0,1.0,NULL,95400.000000,NULL,16
14,20201210.0,52.209999,14.12000,0.0,1.0,4860.000000,95200.000000,NULL,16
...,...,...,...,...,...,...,...,...,...
215723,20201210.0,52.209301,14.12041,224506.0,1.0,155126.500000,10024.000000,NULL,16
215727,20201210.0,52.209301,14.12041,224506.0,1.0,155148.062500,10018.000000,NULL,16
215731,20201210.0,52.209301,14.12041,224506.0,1.0,155191.218750,10011.000000,NULL,16
215735,20201210.0,52.209301,14.12041,224506.0,1.0,155223.578125,10005.000000,NULL,16
215739,20201210.0,52.209301,14.12041,224506.0,1.0,155250.062500,10000.000000,NULL,16

In [55]:
df = df[df['varno@body']=='1']
df
df.plot(x = df['date@hdr'], y=df['lat@hdr'])

KeyError: "None of [Index(['20201210', '20201210', '20201210', '20201210', '20201210', '20201210',\n       '20201210', '20201210', '20201210', '20201210',\n       ...\n       '20201210', '20201210', '20201210', '20201210', '20201210', '20201210',\n       '20201210', '20201210', '20201210', '20201210'],\n      dtype='object', name=0, length=53953)] are in the [columns]"

In [53]:
df['varno@body'][1]

'1'