In [1]:
# extracts an inventory table from Schroeder metadata file

import os,glob,sys


### /mnt/users/staff/leo/checkschroed.py

path='/mnt/scratch/scratch/federico/COP2_HARVEST_APRIL2022/era5_2/'
#path='/mnt/scratch/scratch/federico/COP2_HARVEST_APRIL2022/era5_2/'
if 'era5_1' in path:
    di=-4
else:
    di=-3
fns=glob.glob(path+'-1_*')
sns=[]
with open('/users/staff/leo/tables/vapor.library.1') as f:
    data=f.read().split('\n')

with open('/scratch/das/federico/MERGED_15JUNE2022/merging_summary.txt') as f:
    mdata=f.read().split('\n')
    
f=0
nf=0
for fn in fns:
    sns.append(fn.split('.')[di][-5:])
    found=False
    for d in data:
        if sns[-1] == d[:5] and not found:
            print(sns[-1]+': '+d)
            found=True
            f+=1
    if not found:
        print(sns[-1]+': NOT FOUND!!')
        nf+=1

print('found',f,'not found',nf)
f=0
nf=0
for fn in fns:
    sns.append(fn.split('.')[di][-5:])
    found=False
    for d in mdata:
        if sns[-1] in d and not found:
            print(sns[-1]+': '+d)
            found=True
            f+=1
    if not found:
        print(sns[-1]+': NOT FOUND!!')
        nf+=1

print('found',f,'not found',nf)

import os,glob,sys

lines =  open('/users/staff/leo/tables/vapor.library.1', 'r').readlines()

stations, lats, lons = [],[],[]

dates = []

last_wmo = ''
for l in lines[:10]:
    #print (l)
    s = l.split(':')
    
    wmo = s[0]
        
    lat = s[1]
    lon = s[2]
    d = s[5]
    stat = s[7]
        
    if wmo != last_wmo:
    
        stations.append(wmo)
        lats.append(lat)
        lons.append(lon)
        
        last_wmo = wmo
        
    
    try:
        date = d[0:8]
        dates.append(date)
    except:
        pass
    
    min_date = min(dates)
    max_dates = max(dates)
    
    print (min_date, max_dates)

In [2]:
import os,glob,sys
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

lines =  open('/users/staff/leo/tables/vapor.library.1', 'r').readlines()

wmos, lats, lons, stations, dates = [],[],[],[],[]
dates_min, dates_max = [],[] 

last_wmo = ''

# appending only valid latitude and longitude data
valid_data_indices = []

for l,ind in zip( lines, range(len(lines)) ):
    #print (l)
    s = l.split(':')
    
    wmo = s[0]
    if wmo != last_wmo:

        lat = s[1]
        lon = s[2]
        d = s[5]
        stat = s[7]

        try:
            lats.append(float(lat))
            lons.append(float(lon))
            valid_data_indices.append(ind)
             
        except:
            lats.append(lat)
            lons.append(lon)
             
        wmos.append(wmo)

        stations.append(stat.replace('\n', ''))

    
        y = d[0:4]
        m = d[4:6]
        da = d[6:8]
        
        if m == '00':
            m = '01'
        if da == '00':
            da ='01'
        try:
            date = pd.to_datetime(y+m+da)
        except:
            date = d[0:8]

        dates.append(date)

    #last_wmo = wmo
    

        
#dic = {'wmo':wmos , 'lat':lats, 'lon':lons, 'dates_min': dates_min, 'dates_min': dates_max }
dic = {'wmo':wmos , 'lat':lats, 'lon':lons, 'stations':stations, 'dates': dates }

df_all = pd.DataFrame.from_dict( dic )
             
df_clean = df_all.iloc[valid_data_indices]

/tmp/ipykernel_2317641/3480537501.py:7: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [3]:
len(df_clean)

40458

In [4]:
df_clean = df_clean.loc[(df_clean.lat < 90) & (df_clean.lat > -90) & (df_clean.lon < 180) & (df_clean.lat > -180) ]

In [5]:
df_clean.head(20)

,wmo,lat,lon,stations,dates
0,01001,70.98,-8.35,"Jan Mayen - Oldest Meteorological Station (Eldstemetten), Norway",1922-01-01 00:00:00
1,01001,71.012,-8.462,"Jan Mayen - ""Atlantic City"", Norway",1948-01-01 00:00:00
2,01001,71.0142,-8.4602,"Jan Mayen - Old Meteorological Station (Gamlemetten) and Frydenlund House, Norway",1949-01-01 00:00:00
3,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",1962-01-01 00:00:00
4,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",0
5,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",1975-10-01 00:00:00
6,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",1976-11-24 00:00:00
7,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",1983-02-01 00:00:00
8,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",1983-04-15 00:00:00
9,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",1994-08-07 00:00:00
10,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",1997-09-30 00:00:00
11,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",2005-08-03 00:00:00
12,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",2005-08-08 00:00:00
13,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",2005-08-09 00:00:00
14,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",2006-01-11 00:00:00
15,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",2006-01-12 00:00:00
16,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",2006-01-13 00:00:00
17,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",2006-01-13 00:00:00
18,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",2006-01-14 00:00:00
19,01001,70.9396,-8.6681,"ENJA Jan Mayen - Jan Mayensfield, Norway",2006-01-14 00:00:00

In [6]:
import numpy as np
uniques = np.unique(df_clean.wmo)
from tqdm import tqdm

# rerun to reduce to single unique stations wmo ids
wmos, lats, lons, stations, dates_min, dates_max = [],[],[],[],[], []

for s in tqdm(uniques):
    d = df_clean[df_clean.wmo == s]
    try:
        min_d, max_d = d.dates.values[0], d.dates.values[-1]
        wmos.append(s)
        stations.append(d.stations.values[0])
        lats.append(d.lat.values[0])
        lons.append(d.lon.values[0])
    except:
        print(d)
    try:
        dates_min.append( min([l for l in d.dates.values if isinstance(l, pd.Timestamp)] ))
        dates_max.append( max([l for l in d.dates.values if isinstance(l, pd.Timestamp)] ))
    except:
        dates_max.append('9999999')
        dates_min.append('9999999')

100%|██████████| 4088/4088 [00:08<00:00, 462.68it/s]

In [7]:
dic = {'wmo':wmos , 'lat':lats, 'lon':lons, 'station':stations, 'date_min': dates_min ,  'date_max': dates_max }
sch_df = pd.DataFrame.from_dict( dic )
sch_df.head(10)

sch_df.to_csv('schroeder_metadata.csv', sep = '\t')

In [8]:
sch_df[sch_df.wmo == '01733']

Empty DataFrame
Columns: [wmo, lat, lon, station, date_min, date_max]
Index: []

In [9]:
### create WMO table 
import glob
import regex as re

wmo_tabs = glob.glob('/users/staff/leo/tables/world-weather-records/*WWR*.txt')

In [10]:
!conda install -c conda-forge regex

/bin/bash: conda: command not found

In [11]:
wmo_tabs

['/users/staff/leo/tables/world-weather-records/WWR_v01_global_array_1961-1970.txt',
 '/users/staff/leo/tables/world-weather-records/WWR_v01_global_array_1971-1980.txt',
 '/users/staff/leo/tables/world-weather-records/WWR_v01_global_array_1981-1990.txt',
 '/users/staff/leo/tables/world-weather-records/WWR_v02_global_StnLst.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region00_2001-2010.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region01_2001-2010.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region02_2001-2010.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region03_2001-2010.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region04_2001-2010.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region05_2001-2010.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region06_2001-2010.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region06_2011-2016.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region05_2011-2016.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region04_2011-2016.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region03_2011-2016.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region02_2011-2016.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region01_2011-2016.txt',
 '/users/staff/leo/tables/world-weather-records/StnLstWWR_Region00_2011-2016.txt']

In [68]:
import copy

""" Copied from Leo script """

tabns = glob.glob('/users/staff/leo/tables/world-weather-records/*WWR*.txt')
dlist = {}
for t in tabns:
    with open(t,encoding='ISO-8859-1') as f:
        try:
            data = f.read().split('\n')
            gdata = []
            for d in data:
                if re.search('[a-zA-Z]',d):
                    gdata.append(d)
            dlist[t.split('/')[-1].split('.')[0]] = copy.copy(gdata)
        except Exception as e:
            print(t.split('/')[-1].split('.')[0], e)

stns = {'id': [],'name': [],'lats': [], 'lons': [] }
latsign = {'N':1, 'S':-1}
lonsign = {'E':1, 'W':-1}
for d,v in dlist.items():
    for vv in v:
        if vv[2:7] not in stns['id']:
            
            try:
                
                if vv[7] == ' ':
                    h = vv[10:21]
                    h = '0'.join(h.split(' '))
                    vv=vv[:10]+h+vv[21:]

                    name = vv[48:73]
                    lats = (int(vv[10:12]) + int(vv[12:14]) / 60) * latsign[vv[14]]
                    lons = (int(vv[16:19]) + int(vv[19:21]) / 60) * lonsign[vv[21]]

                        
                else:
                    h = vv[8:18]
                    h = '0'.join(h.split(' '))
                    vv=vv[:8]+h+vv[18:]

                    name = vv[43:68]
                    lats = (int(vv[8:10]) + int(vv[10:12]) / 60) * latsign[vv[12]]
                    lons = (int(vv[13:16]) + int(vv[16:18]) / 60) * lonsign[vv[18]]


            except:
                print('failed', vv)
                continue
            stns['id'].append(str(vv[2:7]))
            stns['name'].append(name)
            stns['lats'].append(lats)
            stns['lons'].append(lons)

failed   6003012756N01523NCANARY ISLANDS          LAS PALMAS/GANDO           24        031036405
failed   9685310747511026EINDONESIA               JOGYAKARTA                107        804626115
failed   9619510138510339EINDONESIA               JAMBI                      25        805204605
failed   Wmo#  # 0Lat000Lon0  Country Name             Station Name               (m)  (.1m)    #       :   Pres Pres Temp Prec Temp Temp   RH| Obs
failed   96A54 1 00000000000  INDONESIA                INDRAPURI                                        :      0    0   30   31   30   29    0  120
failed   96B63 1 00000000000  INDONESIA                TUNTUNGAN MEDAN                                  :      0    0   18   17   18   17    0   70
failed   96C01 1 00000000000  INDONESIA                PADANG PANJANG                                   :      0    0   12   11   12   12    0   47
failed   96D05 1 00000000000  INDONESIA                LUBUK RUSO                                       :      0    0    0   35    0    0    0   35
failed   96D65 1 00000000000  INDONESIA                SMPK KUALA TUNGGAL                               :      0    0    2    2    2    2    0    8
failed   96F62 1 00000000000  INDONESIA                SMPK LAB PHPTPH                                  :      0    0    3    3    2    2    0   10
failed   96H51 1 00000000000  INDONESIA                KOTA BUMI                                        :      0    0   28   28   26   28    0  110
failed   96H66 1 00000000000  INDONESIA                PT. UJF                                          :      0    0    1    1    1    1    0    4
failed   96H74 1 00000000000  INDONESIA                TRIMURJO                                         :      0    0    7    6    7    7    0   27
failed   96I16 1 00000000000  INDONESIA                LEMBANG                                          :      0    0    6   47    0    6    0   59
failed   96I21 1 00000000000  INDONESIA                KEBON CURUG                                      :      0    0   10   10   10    0    0   30
failed   96I72 1 00000000000  INDONESIA                SPMA GEGER KALONG                                :      0    0    2    2    2    2    0    8
failed   96K30 1 00000000000  INDONESIA                SENDANG HARJO                                    :      0    0   11    6    0   11    0   28
failed   96K61 1 00000000000  INDONESIA                DS. PALUR                                        :      0    0   12   10    0    0    0   22
failed   96K90 1 00000000000  INDONESIA                SRIMARDONO                                       :      0    0    6    7    0    0    0   13
failed   96L18 1 00000000000  INDONESIA                CUKUR GONDANG                                    :      0    0   22   22   23   23    0   90
failed   96L21 1 00000000000  INDONESIA                KEBUN WONOSARI                                   :      0    0   17   16   17   17    0   67
failed   96L24 1 00000000000  INDONESIA                SAWAHAN (GEOFISIKA)                              :      0    0   55   55   56   55    0  221
failed   96L26 1 00000000000  INDONESIA                LAB.PPHPTP MADIUN                                :      0    0    9    9    9    9    0   36
failed   96L35 1 00000000000  INDONESIA                PLOSO                                            :      0    0    1    0    0    0    0    1
failed   96L36 1 00000000000  INDONESIA                SMPK TULUNGAGUNG                                 :      0    0    0    4    0    0    0    4
failed   96L42 1 00000000000  INDONESIA                KP.TLEKUNG                                       :      0    0   16   17   17   17    0   67
failed   96L49 1 00000000000  INDONESIA                BANJARSARI                                       :      0    0   11   10   11   11    0   43
failed   96L56 1 00000000000  INDONESIA                LITBANG II SMPK                                  :      0    0   11    2   11   11    0   35
failed   96L72 1 00000000000  INDONESIA                PUNTEN (BATU MALANG)                             :      0    0   24   23   24   24    0   95
failed   96L76 1 00000000000  INDONESIA                KALIWINING JEMBER           45                   :      0    0   12   13   12   12    0   49
failed   96L89 1 00000000000  INDONESIA                TUGUREJO                                         :      0    0    1    1    1    1    0    4
failed   96L94 1 00000000000  INDONESIA                MOJOKERTO                                        :      0    0    5    4    5    5    0   19
failed   96N48 1 00000000000  INDONESIA                NANGAPINOH                                       :      0    0   20   20   20   20    0   80
failed   96P53 1 00000000000  INDONESIA                TANJUNG REDEP                                    :      0    0   42   42    0    0    0   84
failed   96R55 1 00000000000  INDONESIA                KARANG ASEM                                      :      0    0   16   15   16   16    0   63
failed   96R58 1 00000000000  INDONESIA                SANGLAH                                          :      0    0   13   10   13   13    0   49
failed   96R59 1 00000000000  INDONESIA                DAWAM BPP                                        :      0    0    1    1    1    1    0    4
failed   96R70 1 00000000000  INDONESIA                KLUNGKUNG BALI                                   :      0    0    5    5    5    5    0   20
failed   96R75 1 00000000000  INDONESIA                NEGARA                                           :      0    0   20    7   20   20    0   67
failed   96R76 1 00000000000  INDONESIA                SPMA KUBUTAMBAHAN                                :      0    0    6    6    6    6    0   24
failed   96S04 1 00000000000  INDONESIA                PG.TAKALAR                                       :      0    0   10    1   10   10    0   31
failed   96S32 1 00000000000  INDONESIA                PANAIKANG                                        :      0    0    9    9    9    9    0   36
failed   96S57 1 00000000000  INDONESIA                MAROS                                            :      0    0    8   10    8    8    0   34
failed   96S60 1 00000000000  INDONESIA                LANRANG                                          :      0    0    2    2    2    2    0    8
failed   96U77 1 00000000000  INDONESIA                TONDANO                                          :      0    0   32   23   32   32    0  119
failed   96U80 1 00000000000  INDONESIA                SASARAN TONDANO            650                   :      0    0   12   11   12   10    0   45
failed   96W16 1 00000000000  INDONESIA                TIMBANUH                                         :      0    0    5    5    5    4    0   19
failed   96W64 1 00000000000  INDONESIA                NYIUR GADING KEDIRI                              :      0    0   26   25   26   25    0  102
failed   96Y02 1 00000000000  INDONESIA                LABUHA                                           :      0    0   99  107   94  107    0  407
failed   96Z46 1 00000000000  INDONESIA                ENAROTOLI                                        :      0    0    2    1    2    2    0    7
failed   96Z49 1 00000000000  INDONESIA                SARMI                                            :      0    0   22   32   30   34    0  118
failed   96Z52 1 00000000000  INDONESIA                MERAUKE                                          :      0    0   51   46   39   51    0  187
failed   96Z57 1 00000000000  INDONESIA                SORONG                                           :      0    0   51   50   51   51    0  203
failed   Wmo#  # 0Lat000Lon0  Country Name             Station Name               (m)  (.1m)    #       :   Pres Pres Temp Prec Temp Temp   RH| Obs
failed   Wmo#  # 0Lat000Lon0  Country Name             Station Name               (m)  (.1m)    #       :   Pres Pres Temp Prec Temp Temp   RH| Obs
failed   Wmo#  # 0Lat000Lon0  Country Name             Station Name               (m)  (.1m)    #       :   Pres Pres Temp Prec Temp Temp   RH| Obs
failed   Wmo#  # 0Lat000Lon0  Country Name             Station Name               (m)  (.1m)    #       :   Pres Pres Temp Prec Temp Temp   RH| Obs
failed   Wmo#  # 0Lat000Lon0  Country Name             Station Name               (m)  (.1m)    #       :   Pres Pres Temp Prec Temp Temp   RH| Obs
failed   Wmo#  # 0Lat000Lon0  Country Name             Station Name               (m)  (.1m)    #       :   Pres Pres Temp Prec Temp Temp   RH| Obs
failed   Wmo#  # 0Lat000Lon0  Country Name             Station Name               (m)  (.1m)    #       :   Pres Pres Temp Prec Temp Temp   RH| Obs

In [69]:
wmo = pd.DataFrame.from_dict( stns )

In [70]:
wmo.head(5)

      id                       name       lats       lons
0  43333  PORT BLAIR                 11.666667  92.716667
1  96996  COCOS ISLAND              -12.200000  96.833333
2  67005  DZAOUDZI/PAMANZI          -12.800000  45.283333
3  67001  MORONI                    -11.700000  43.233333
4  61968  ILES GLORIEUSES           -11.550000  47.283333

In [24]:
wmo.loc[wmo.id == '11035']

        id                       name   lats       lons             elevation
817  11035  WIEN-HOHE WARTE         0  48.25  16.366667         001990

In [95]:
# getting elevation
f = '../data/world-weather-records/WWR_v02_global_StnLst.txt'
lines = open(f, 'r').readlines()
d = {'id':[], 'elevation':[] }
for l in lines[5:]:
    id = l[2:7].strip('')
    elev = l[74:78]
    elev_b = l[79:83]
    
    try:
        id = int(id)
    except:
        continue
    
    d['id'].append(str(id))
    
    if elev_b:
        d['elevation'].append(elev_b)
    else:
        d['elevation'].append(elev)
        
df = pd.DataFrame.from_dict(d)

In [108]:
elev = []
for i in wmo.id:
    dr = df.loc[df.id == i]
    if len(dr) >0:
        p = dr.elevation.values[0]
    else:
        p = -999
    if p:
        try:
            elev.append(float(p))
        except:
            elev.append(-999)

In [109]:
elev[:5]

[78.0, 4.0, 7.0, -999.0, -999.0]

In [110]:
wmo['elevation'] = elev

In [111]:
wmo.head(5)

      id                       name       lats       lons  elevation
0  43333  PORT BLAIR                 11.666667  92.716667  78.0
1  96996  COCOS ISLAND              -12.200000  96.833333  4.0
2  67005  DZAOUDZI/PAMANZI          -12.800000  45.283333  7.0
3  67001  MORONI                    -11.700000  43.233333 -999.0
4  61968  ILES GLORIEUSES           -11.550000  47.283333 -999.0

In [112]:
wmo.to_csv('wmo_metadata.csv', sep = '\t')