In [1]:
import numpy
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)
import matplotlib as plt
plt.rcParams["figure.figsize"] = (10, 5)
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
from datetime import date
# warnings.filterwarnings('ignore')
# import pycountry
sys.path.append(os.getcwd()+'/../cds-backend/code/')
import cds_eua3 as eua
import numba
import copy
import glob
from numba import njit
import pandas
import glob
import pickle
import multiprocessing
from functools import partial

/tmp/ipykernel_3437319/564853260.py:7: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

## 1 station

### csv

In [2]:
a = eua.vm_request_wrapper({'variable': 'temperature', 'statid': ['11035'], 'fast_csv':'True'}, vm_url='http://localhost:8004',overwrite=True)
a

         # latitude  longitude     date_time  z_coordinate  observation_value
0        48.250      16.370     7.909393e+08  4300.0       NaN
1        48.250      16.370     7.909393e+08  4400.0       NaN
2        48.250      16.370     7.909393e+08  5300.0       NaN
3        48.250      16.370     7.909393e+08  9200.0       NaN
4        48.250      16.370     7.909393e+08  10300.0      NaN
...         ...         ...              ...      ...       ..
6348029  48.249      16.357     3.818403e+09  98130.0      NaN
6348030  48.249      16.357     3.818403e+09  98190.0      NaN
6348031  48.249      16.357     3.818403e+09  98210.0      NaN
6348032  48.249      16.357     3.818403e+09  98240.0      NaN
6348033  48.249      16.357     3.818403e+09  98320.0      NaN

[6348034 rows x 5 columns]

In [3]:
tt = time.time()
eua.vm_request_wrapper({'variable': 'temperature', 'statid': ['11035'], 'fast_csv':'True', 'speed_test':1}, vm_url='http://localhost:8004',overwrite=True)
print(time.time() - tt)

18.8522686958313

#### zipping: 0.4437854290008545 sec
#### writing: 15.085647583007812

### nc

In [4]:
tt = time.time()
eua.vm_request_wrapper({'variable': 'temperature', 'statid': ['11035'], 'speed_test':1}, vm_url='http://localhost:8004',overwrite=True)
print(time.time() - tt)

6.964275121688843

#### zipping: 0.3818824291229248 sec

## 1 month all stations

### csv

In [5]:
tt = time.time()
eua.vm_request_wrapper({'variable': 'temperature', 'date':['20100101','20100201'], 'fast_csv':'True', 'speed_test':1}, vm_url='http://localhost:8004',overwrite=True)
print(time.time() - tt)

2.985860586166382

#### zipping: 0.22829532623291016 sec

### nc

In [6]:
tt = time.time()
eua.vm_request_wrapper({'variable': 'temperature', 'date':['20100101','20100201'], 'speed_test':1}, vm_url='http://localhost:8004',overwrite=True)
print(time.time() - tt)

4.230541229248047

#### zipping: 0.23750019073486328 sec

## 300 hPa all stations

### csv

In [7]:
tt = time.time()
eua.vm_request_wrapper({'variable': 'temperature', 'pressure_level':[30000], 'fast_csv':'True', 'speed_test':1}, vm_url='http://localhost:8004',overwrite=True)
print(time.time() - tt)

111.60393905639648

#### zipping: 3.1846954822540283 sec

### nc

In [8]:
tt = time.time()
eua.vm_request_wrapper({'variable': 'temperature', 'pressure_level':[30000], 'speed_test':1}, vm_url='http://localhost:8004',overwrite=True)
print(time.time() - tt)

113.49047660827637

#### zipping: 3.222466230392456 sec