In [1]:
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
from datetime import date
warnings.filterwarnings('ignore')

sys.path.append(os.getcwd()+'/../cds-backend/code/')
import cds_eua4 as eua

no config found

In [2]:
def request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.nc')
    
    with eua.CDMDataset(files[0]) as f:
        data = f.to_dataframe()
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [3]:
def csv_request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.csv*')
    
    data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [4]:
def cdmrequest(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.nc')
    
    data = eua.CDMDataset(files[0])
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [5]:
#
# returns the whole dataframe instead of just the first bit whenever there are more files retrieved from the cds
# only relevant, if you would like to have a look at the data
#
def multi_request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test2/')
    z.close()
    
    datalist = []
    files = glob.glob('./test2/*.nc')
    with eua.CDMDataset(files[0]) as f:
        data = f.to_dataframe()
    if len(files) > 0:
        for i in files[1:]:
            with eua.CDMDataset(i) as f:
                add = f.to_dataframe()
            data = data.append(add, ignore_index=True)
#     if len(files) > 0:
#         for i in range(len(files)):
#             ds = xarray.open_dataset(files[i])            
#             to_be_removed = ['trajectory_index', 'trajectory']
#             for ivar in list(ds.variables):
#                 if 'string' in ivar:
#                     to_be_removed.append(ivar)

#                 if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
#                     report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
#                     ds = ds.drop_vars(ivar)
#                     ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???

#                 if ds[ivar].ndim > 1:
#                     tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
#                     ds = ds.drop_vars(ivar)
#                     idim = tmp.dims[0]
#                     ds[ivar] = (idim, tmp)

#             ds = ds.drop_vars(to_be_removed)
#             data = ds.to_dataframe()
#             datalist.append(data)
#         data = pd.concat(datalist, axis=0)
#     else:
#         files = glob.glob('./test2/*.csv')
#         data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test2/')
    except:
       print('Error while deleting directory')
    
    return data

In [6]:
def test_statid():
    log = []
    log.append('\n\n---STATID---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'all', 11035, '11035', '0-20001-0-11035', '0-20100-0-00701','11*', '1103*', '0-20100*', ['11035', 10393], ['0-20001-0-11035', '0-20001-0-10393']]:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            print(rd)
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['110350', '1103', '0-20000-0-1103', '0-20000-0-110350']:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        }
        try: 
            print(rd)
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('statid - testing: finished')
    return log

In [7]:
def test_variable():
    log = []
    log.append('\n\n---VARIABLE---')
    cachworkaround = np.random.random_sample()
    for s in ['air_temperature','dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '11035',
            'date': '20000101-20000131',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['temperature', 'dew_point', 'wind', 'humidity', 'sonde_type']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '11035',
            'date': '20000101-20000131',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('variable - testing: finished')
    return log

In [8]:
def test_optional():
    log = []
    log.append('\n\n---OPTIONAL---')
    cachworkaround = np.random.random_sample()
    for s in ['sonde_type', 'bias_estimate', 'obs_minus_an', 'obs_minus_bg']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['11035'], # '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ ' - ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['sonde', 'air_temperature', 'dew_point_temperature']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['11035'],# '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [9]:
def test_area():
    log = []
    log.append('\n\n---AREA---')
    cachworkaround = np.random.random_sample()
    for s in [[80,140,-40,359], [49,16,48,17], [49,-180,48,180], [49,0,48,360], [90, -180, -90, 180]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [[80,140,70], [80,140,70,150,0],[0,0,0,0], [40,20,50,0], [49,-180,48,360]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('area - testing: finished')
    return log

In [10]:
def test_country():
    log = []
    log.append('\n\n---COUNTRY---')
    cachworkaround = np.random.random_sample()
    for s in ['GLOBE', 'ALL', 'NOR', ["NOR","DEU"]]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['NORWAY', 'nor',]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('country - testing: finished')
    return log

In [11]:
def test_date(): 
    log = []
    log.append('\n\n---DATE---')
    cachworkaround = np.random.random_sample()
    for s in [None, '20000231', '20000101', '20000101-20000201', ['20000101', '20000103', '20000106'], ['20000102', '20000101']]:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['2000011', '20000100', '00000000', '20000132', '20001301', '20000201-20000101', '20000101/20000201']:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('date - testing: finished')
    return log

In [12]:
def test_period(): 
    log = []
    log.append('\n\n---PERIOD---')
    # not working: ['1979-01-01/1980-08-16']
    cachworkaround = np.random.random_sample()
    for s in [None, '1979-01-01/1980-08-16']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['1980-01-02/1980-01-01']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('period - testing: finished')
    return log

In [13]:
def test_pressure_level():
    log = []
    log.append('\n\n---PRESSURE LEVEL---')
    cachworkaround = np.random.random_sample()
    for s in [100, '100', [100, 200], ['100', '200']]:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    for s in ['0', '2000']:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    print('pressure_level - testing: finished')
    return log

In [14]:
def test_time():
    log = []
    log.append('\n\n---TIME---')
    cachworkaround = np.random.random_sample()
    for s in [[22,23,0,1,2,3], ["22","23","00","01","02","03"], '', '0', '00', ["00"], [0,12], ["0","12"]]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101-20000201',
            'time': s,
#             'da': False,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['24', '25', '12.5', ]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101-20000201',
            'time': s,
#             'da': False,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('time - testing: finished')
    return log

In [15]:
def test_format():
    log = []
    log.append('\n\n---FORMAT---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'nc']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101-20000201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['csv',]:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101-20000201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(csv_request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['netcdf', 'csb', 'txt']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101-20000201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('format - testing: finished')
    return log

In [16]:
def test_ymd():
    log = []
    # if one of them is None -> no date selected = the whole dataset - change?
    cachworkaround = np.random.random_sample()
    log.append('\n\n---YEAR---')
    for s in [None, 2000, '2000', ['2000', '2001'], [2000, 2001]]:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [0, '20000', '-2000']:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---MONTH---')
    for s in [None, 1, '1', '01', ['01', '02'], ['1', '2'], [1, 2]]:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '13']:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---DAY---')
    for s in ['01', '31', ['01', '02'], ['1', '2'], [1, 2]]:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '32']:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('ymd - testing: finished')
    return log

In [17]:
def test_size():
    log = []
    log.append('\n\n---SIZE---')
    cachworkaround = np.random.random_sample()
    s = 'air_temperature 11035'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'air_temperature 10393'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '10393',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = 'air_temperature 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'date': '20000101-20000201',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    s = 'air_temperature everything'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'all variables 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed'],
        'date': '20000101-20000201',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('size - testing: finished')
    return log

In [18]:
def test_20300():
    log = []
    log.append('\n\n---20300---')
    cachworkaround = np.random.random_sample()
   
    s = 'area'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'area': [-77,-42,-78,-41],
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = '20300*'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '0-20300*',
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('20300 - testing: finished')
    return log

In [19]:
def test_optional():
    log = []
    log.append('\n\n---optional---')
    cachworkaround = np.random.random_sample()
    s = ['sonde_type', 'bias_estimate','obs_minus_an','obs_minus_bg',
         'RISE_bias_estimate', 'RICH_bias_estimate', 'RASE_bias_estimate', 'RAOBCORE_bias_estimate', 
         'desroziers_30', 'desroziers_60', 'desroziers_90', 'desroziers_180', 
         'wind_bias_estimate', 'humidity_bias_estimate']
    var = ['temperature', 'temperature', 'temperature', 'temperature',
           'temperature', 'temperature', 'temperature', 'temperature',
           'temperature', 'temperature', 'temperature', 'temperature',
           'u_component_of_wind', 'relative_humidity']
    for i in range(len(s)):
        print('optional - testing: ', s[i])
        rd={
            'variable': var[i],
            'statid': '11035',
            'optional': s[i],
            'date': '20001230-20001231',
            'cachworkaround': cachworkaround,
        } 
        try:
            check_data = request(rd)
            display(check_data)
            if(len(check_data) < 1):
                log.append('\n0 request failed: ' + str(s[i]))
            else:
                log.append('\n1 request successful: ' + str(s[i]))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [20]:
def test_toolbox():
    log = []
    log.append('\n\n---toolbox---')
    cachworkaround = np.random.random_sample()
    s = 'bias_estimate'
    print('toolbox - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'optional': s,
        'toolbox': 'True',
        'date': '20001230-20001231',
        'cachworkaround': cachworkaround,
    } 
    try:
        check_data = request(rd)
        display(check_data)
        if(len(check_data) < 1):
            log.append('\n0 request failed: ' + str(s))
        else:
            log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('toolbox - testing: finished')
    return log

In [21]:
def test_cdm():
    log = []
    log.append('\n\n---cdm---')
    cachworkaround = np.random.random_sample()
    s = ['era5fb/date@hdr', 'sensor_configuration/comments', 'sensor_configuration/observing_method', 'header_table/location_accuracy',
         'crs', 'observations_table/location_method', 'era5fb/obsvalue@body']
    for i in s:
        print('cds - testing: ', i)
        rd={
            'variable': 'temperature',
            'statid': '11035',
            'cdm': [i],
            'date': '20001230-20001231',
            'cachworkaround': cachworkaround,
        } 
        try:
            check_data = cdmrequest(rd)
            display(check_data)
            if(len(check_data['lat'][:]) < 1):
                log.append('\n0 request failed: ' + str(i))
            else:
                log.append('\n1 request successful: ' + str(i))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('cdm - testing: finished')
    return log

In [22]:
def server_test():
    log = []
    log.append('Testing Server Requests \n')
    log.append('0 = failed | 1 = succeeded \n')
    a = !git rev-parse HEAD
    log.append('GIT revision: ' + str(a) + ' \n')
    log.append(str(date.today())+ ' \n')
    try: log.extend(test_statid())
    except: log.append('\nstatid - test: failed \n')
    try: log.extend(test_variable())
    except: log.append('\nvariable - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_area())
    except: log.append('\narea - test: failed \n')
    try: log.extend(test_country())
    except: log.append('\ncountry - test: failed \n')
    try: log.extend(test_date())
    except: log.append('\ndate - test: failed \n')
    try: log.extend(test_period())
    except: log.append('\nperiod - test: failed \n')
    try: log.extend(test_pressure_level())
    except: log.append('\npressure_level - test: failed \n')
    try: log.extend(test_time())
    except: log.append('\ntime - test: failed \n')
    try: log.extend(test_format())
    except: log.append('\nformat - test: failed \n')
    try: log.extend(test_ymd())
    except: log.append('\nymd - test: failed \n')
    log.append('\nsize - test: disabled \n')
#     try: log.extend(test_size())
#     except: log.append('\nsize - test: failed \n')
    try: log.extend(test_20300())
    except: log.append('\n20300 - test: failed \n')
    try: log.extend(test_cdm())
    except: log.append('\ncdm - test: failed \n')
        
    writelog=open(str(date.today()) + '_server_test_log.txt','w')
    writelog.writelines(log)
    writelog.close()

In [23]:
server_test()

statid - testing:  None
{'variable': 'air_temperature', 'statid': None, 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 11:54:21,036 INFO Welcome to the CDS
2023-08-18 11:54:21,036 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 11:54:21,273 INFO Request is queued
2023-08-18 11:54:22,303 INFO Request is running
2023-08-18 11:58:39,447 INFO Request is completed
2023-08-18 11:58:39,448 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352679.4431424-12407-2-8f14414f-6f2c-4399-9954-9e51cb4e5ca8.zip to download.zip (40.3M)
2023-08-18 11:58:40,593 INFO Download rate 35.2M/s
2023-08-18 11:58:45,485 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,24.58,-81.699997,0,5000.0,200000000049461,0-20000-0-72201,212.149994,1978-10-01 00:00:00
1,24.58,-81.699997,0,7000.0,200000000049461,0-20000-0-72201,205.050003,1978-10-01 00:00:00
2,24.58,-81.699997,0,10000.0,200000000049461,0-20000-0-72201,194.850006,1978-10-01 00:00:00
3,24.58,-81.699997,0,15000.0,200000000049461,0-20000-0-72201,209.006104,1978-10-01 00:00:00
4,24.58,-81.699997,0,20000.0,200000000049461,0-20000-0-72201,219.050003,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
772,24.58,-81.699997,0,50000.0,200000000049522,0-20000-0-72201,264.350006,1978-10-31 12:00:00
773,24.58,-81.699997,0,70000.0,200000000049522,0-20000-0-72201,282.250000,1978-10-31 12:00:00
774,24.58,-81.699997,0,85000.0,200000000049522,0-20000-0-72201,288.549988,1978-10-31 12:00:00
775,24.58,-81.699997,0,92500.0,200000000049522,0-20000-0-72201,293.076569,1978-10-31 12:00:00
776,24.58,-81.699997,0,100000.0,200000000049522,0-20000-0-72201,297.250000,1978-10-31 12:00:00

2023-08-18 11:58:46,342 INFO Welcome to the CDS
2023-08-18 11:58:46,342 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 11:58:46,407 INFO Request is queued

statid - testing:  all
{'variable': 'air_temperature', 'statid': 'all', 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 11:58:47,436 INFO Request is running
2023-08-18 12:00:01,626 INFO Request is completed
2023-08-18 12:00:01,627 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352777.800788-12397-2-4b0afec2-f1f0-416d-8d10-af9e4afed850.zip to download.zip (40.3M)
2023-08-18 12:00:04,372 INFO Download rate 14.7M/s
2023-08-18 12:00:07,517 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,24.58,-81.699997,0,5000.0,200000000049461,0-20000-0-72201,212.149994,1978-10-01 00:00:00
1,24.58,-81.699997,0,7000.0,200000000049461,0-20000-0-72201,205.050003,1978-10-01 00:00:00
2,24.58,-81.699997,0,10000.0,200000000049461,0-20000-0-72201,194.850006,1978-10-01 00:00:00
3,24.58,-81.699997,0,15000.0,200000000049461,0-20000-0-72201,209.006104,1978-10-01 00:00:00
4,24.58,-81.699997,0,20000.0,200000000049461,0-20000-0-72201,219.050003,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
772,24.58,-81.699997,0,50000.0,200000000049522,0-20000-0-72201,264.350006,1978-10-31 12:00:00
773,24.58,-81.699997,0,70000.0,200000000049522,0-20000-0-72201,282.250000,1978-10-31 12:00:00
774,24.58,-81.699997,0,85000.0,200000000049522,0-20000-0-72201,288.549988,1978-10-31 12:00:00
775,24.58,-81.699997,0,92500.0,200000000049522,0-20000-0-72201,293.076569,1978-10-31 12:00:00
776,24.58,-81.699997,0,100000.0,200000000049522,0-20000-0-72201,297.250000,1978-10-31 12:00:00

2023-08-18 12:00:08,191 INFO Welcome to the CDS
2023-08-18 12:00:08,192 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:08,248 INFO Request is queued

statid - testing:  11035
{'variable': 'air_temperature', 'statid': 11035, 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:09,277 INFO Request is completed
2023-08-18 12:00:09,277 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352808.7207623-12393-1-8c4b7e3d-838f-4917-9802-67215a29ccf4.zip to download.zip (33.5K)
2023-08-18 12:00:09,359 INFO Download rate 410.1K/s
2023-08-18 12:00:09,374 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,5000.0,200000000043629,0-20001-0-11035,218.449997,1978-10-01 00:00:00
1,48.25,16.370001,0,7000.0,200000000043629,0-20001-0-11035,220.449997,1978-10-01 00:00:00
2,48.25,16.370001,0,10000.0,200000000043629,0-20001-0-11035,220.149994,1978-10-01 00:00:00
3,48.25,16.370001,0,15000.0,200000000043629,0-20001-0-11035,218.395111,1978-10-01 00:00:00
4,48.25,16.370001,0,20000.0,200000000043629,0-20001-0-11035,217.149994,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
747,48.25,16.370001,0,50000.0,200000000043752,0-20001-0-11035,254.750000,1978-10-31 12:00:00
748,48.25,16.370001,0,70000.0,200000000043752,0-20001-0-11035,274.549988,1978-10-31 12:00:00
749,48.25,16.370001,0,85000.0,200000000043752,0-20001-0-11035,274.649994,1978-10-31 12:00:00
750,48.25,16.370001,0,92500.0,200000000043752,0-20001-0-11035,280.149994,1978-10-31 12:00:00
751,48.25,16.370001,0,100000.0,200000000043752,0-20001-0-11035,285.350006,1978-10-31 12:00:00

2023-08-18 12:00:09,437 INFO Welcome to the CDS
2023-08-18 12:00:09,437 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:09,489 INFO Request is queued

statid - testing:  11035
{'variable': 'air_temperature', 'statid': '11035', 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:10,518 INFO Request is completed
2023-08-18 12:00:10,519 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352809.897401-12475-1-4717e12f-b2be-47d0-ba8b-fe1dbcf4046f.zip to download.zip (33.5K)
2023-08-18 12:00:10,565 INFO Download rate 720.8K/s
2023-08-18 12:00:10,579 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,5000.0,200000000043629,0-20001-0-11035,218.449997,1978-10-01 00:00:00
1,48.25,16.370001,0,7000.0,200000000043629,0-20001-0-11035,220.449997,1978-10-01 00:00:00
2,48.25,16.370001,0,10000.0,200000000043629,0-20001-0-11035,220.149994,1978-10-01 00:00:00
3,48.25,16.370001,0,15000.0,200000000043629,0-20001-0-11035,218.395111,1978-10-01 00:00:00
4,48.25,16.370001,0,20000.0,200000000043629,0-20001-0-11035,217.149994,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
747,48.25,16.370001,0,50000.0,200000000043752,0-20001-0-11035,254.750000,1978-10-31 12:00:00
748,48.25,16.370001,0,70000.0,200000000043752,0-20001-0-11035,274.549988,1978-10-31 12:00:00
749,48.25,16.370001,0,85000.0,200000000043752,0-20001-0-11035,274.649994,1978-10-31 12:00:00
750,48.25,16.370001,0,92500.0,200000000043752,0-20001-0-11035,280.149994,1978-10-31 12:00:00
751,48.25,16.370001,0,100000.0,200000000043752,0-20001-0-11035,285.350006,1978-10-31 12:00:00

2023-08-18 12:00:10,643 INFO Welcome to the CDS
2023-08-18 12:00:10,644 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:10,696 INFO Request is queued

statid - testing:  0-20001-0-11035
{'variable': 'air_temperature', 'statid': '0-20001-0-11035', 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:11,724 INFO Request is completed
2023-08-18 12:00:11,725 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352811.0976295-12446-3-d50ad6b7-8e8f-4a53-9c8b-d63a4d8fe72f.zip to download.zip (33.5K)
2023-08-18 12:00:11,772 INFO Download rate 711.8K/s
2023-08-18 12:00:11,786 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,5000.0,200000000043629,0-20001-0-11035,218.449997,1978-10-01 00:00:00
1,48.25,16.370001,0,7000.0,200000000043629,0-20001-0-11035,220.449997,1978-10-01 00:00:00
2,48.25,16.370001,0,10000.0,200000000043629,0-20001-0-11035,220.149994,1978-10-01 00:00:00
3,48.25,16.370001,0,15000.0,200000000043629,0-20001-0-11035,218.395111,1978-10-01 00:00:00
4,48.25,16.370001,0,20000.0,200000000043629,0-20001-0-11035,217.149994,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
747,48.25,16.370001,0,50000.0,200000000043752,0-20001-0-11035,254.750000,1978-10-31 12:00:00
748,48.25,16.370001,0,70000.0,200000000043752,0-20001-0-11035,274.549988,1978-10-31 12:00:00
749,48.25,16.370001,0,85000.0,200000000043752,0-20001-0-11035,274.649994,1978-10-31 12:00:00
750,48.25,16.370001,0,92500.0,200000000043752,0-20001-0-11035,280.149994,1978-10-31 12:00:00
751,48.25,16.370001,0,100000.0,200000000043752,0-20001-0-11035,285.350006,1978-10-31 12:00:00

2023-08-18 12:00:11,850 INFO Welcome to the CDS
2023-08-18 12:00:11,851 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:11,902 INFO Request is queued

statid - testing:  0-20100-0-00701
{'variable': 'air_temperature', 'statid': '0-20100-0-00701', 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:12,930 INFO Request is completed
2023-08-18 12:00:12,931 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352812.2182-12419-2-7904f147-5130-4cf1-bbd2-0da2ebba2e7e.zip to download.zip (58.6K)
2023-08-18 12:00:13,011 INFO Download rate 739.3K/s
2023-08-18 12:00:13,025 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,ta,time
0,46.811578,6.942472,0,3000.0,0-20100-0-00701-001,213.35,1978-10-10 10:59:12
1,46.811578,6.942472,0,5000.0,0-20100-0-00701-001,210.85,1978-10-10 10:50:24
2,46.811578,6.942472,0,7000.0,0-20100-0-00701-001,209.15,1978-10-10 10:44:42
3,46.811578,6.942472,0,10000.0,0-20100-0-00701-001,207.85,1978-10-10 10:38:54
4,46.811578,6.942472,0,15000.0,0-20100-0-00701-001,205.55,1978-10-10 10:30:18
...,...,...,...,...,...,...,...
584,46.811578,6.942472,0,40000.0,0-20100-0-00701-055,245.25,1978-10-31 10:10:30
585,46.811578,6.942472,0,50000.0,0-20100-0-00701-055,257.05,1978-10-31 10:04:42
586,46.811578,6.942472,0,70000.0,0-20100-0-00701-055,275.15,1978-10-31 09:55:06
587,46.811578,6.942472,0,85000.0,0-20100-0-00701-055,283.65,1978-10-31 09:48:54
588,46.811578,6.942472,0,90000.0,0-20100-0-00701-055,283.95,1978-10-31 09:47:00

2023-08-18 12:00:13,087 INFO Welcome to the CDS
2023-08-18 12:00:13,088 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:13,160 INFO Request is queued

statid - testing:  11*
{'variable': 'air_temperature', 'statid': '11*', 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:14,190 INFO Request is running
2023-08-18 12:00:15,720 INFO Request is completed
2023-08-18 12:00:15,720 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352814.3479617-12487-1-017be688-54b6-4bc9-a66f-7305b75b3946.zip to download.zip (163.6K)
2023-08-18 12:00:15,822 INFO Download rate 1.6M/s
2023-08-18 12:00:15,848 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,49.029999,20.32,0,1000.0,200000000026224,0-20000-0-11952,223.899994,1978-10-01 00:00:00
1,49.029999,20.32,0,1700.0,200000000026224,0-20000-0-11952,217.699997,1978-10-01 00:00:00
2,49.029999,20.32,0,2000.0,200000000026224,0-20000-0-11952,217.699997,1978-10-01 00:00:00
3,49.029999,20.32,0,2100.0,200000000026224,0-20000-0-11952,217.699997,1978-10-01 00:00:00
4,49.029999,20.32,0,2520.0,200000000026224,0-20000-0-11952,217.699997,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
4510,49.029999,20.32,0,82000.0,200000000026466,0-20000-0-11952,270.500000,1978-10-31 18:00:00
4511,49.029999,20.32,0,83900.0,200000000026466,0-20000-0-11952,271.775024,1978-10-31 18:00:00
4512,49.029999,20.32,0,85000.0,200000000026466,0-20000-0-11952,272.500000,1978-10-31 18:00:00
4513,49.029999,20.32,0,92500.0,200000000026466,0-20000-0-11952,277.742676,1978-10-31 18:00:00
4514,49.029999,20.32,0,94700.0,200000000026466,0-20000-0-11952,279.200012,1978-10-31 18:00:00

2023-08-18 12:00:15,918 INFO Welcome to the CDS
2023-08-18 12:00:15,918 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:15,974 INFO Request is queued

statid - testing:  1103*
{'variable': 'air_temperature', 'statid': '1103*', 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:17,003 INFO Request is completed
2023-08-18 12:00:17,004 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352816.4194653-12517-1-cff58a56-4a76-4f72-bc9e-32c4b227c95b.zip to download.zip (33.5K)
2023-08-18 12:00:17,074 INFO Download rate 483.2K/s
2023-08-18 12:00:17,090 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,5000.0,200000000043629,0-20001-0-11035,218.449997,1978-10-01 00:00:00
1,48.25,16.370001,0,7000.0,200000000043629,0-20001-0-11035,220.449997,1978-10-01 00:00:00
2,48.25,16.370001,0,10000.0,200000000043629,0-20001-0-11035,220.149994,1978-10-01 00:00:00
3,48.25,16.370001,0,15000.0,200000000043629,0-20001-0-11035,218.395111,1978-10-01 00:00:00
4,48.25,16.370001,0,20000.0,200000000043629,0-20001-0-11035,217.149994,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
747,48.25,16.370001,0,50000.0,200000000043752,0-20001-0-11035,254.750000,1978-10-31 12:00:00
748,48.25,16.370001,0,70000.0,200000000043752,0-20001-0-11035,274.549988,1978-10-31 12:00:00
749,48.25,16.370001,0,85000.0,200000000043752,0-20001-0-11035,274.649994,1978-10-31 12:00:00
750,48.25,16.370001,0,92500.0,200000000043752,0-20001-0-11035,280.149994,1978-10-31 12:00:00
751,48.25,16.370001,0,100000.0,200000000043752,0-20001-0-11035,285.350006,1978-10-31 12:00:00

2023-08-18 12:00:17,159 INFO Welcome to the CDS
2023-08-18 12:00:17,160 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:17,214 INFO Request is queued

statid - testing:  0-20100*
{'variable': 'air_temperature', 'statid': '0-20100*', 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:18,242 INFO Request is running
2023-08-18 12:00:19,772 INFO Request is completed
2023-08-18 12:00:19,773 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352818.216671-12465-1-ac23b295-0523-4dee-b3c8-a84a24bb3d5a.zip to download.zip (151.1K)
2023-08-18 12:00:19,874 INFO Download rate 1.5M/s
2023-08-18 12:00:19,918 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,ta,time
0,46.811578,6.942472,0,3000.0,0-20100-0-00701-001,213.35,1978-10-10 10:59:12
1,46.811578,6.942472,0,5000.0,0-20100-0-00701-001,210.85,1978-10-10 10:50:24
2,46.811578,6.942472,0,7000.0,0-20100-0-00701-001,209.15,1978-10-10 10:44:42
3,46.811578,6.942472,0,10000.0,0-20100-0-00701-001,207.85,1978-10-10 10:38:54
4,46.811578,6.942472,0,15000.0,0-20100-0-00701-001,205.55,1978-10-10 10:30:18
...,...,...,...,...,...,...,...
584,46.811578,6.942472,0,40000.0,0-20100-0-00701-055,245.25,1978-10-31 10:10:30
585,46.811578,6.942472,0,50000.0,0-20100-0-00701-055,257.05,1978-10-31 10:04:42
586,46.811578,6.942472,0,70000.0,0-20100-0-00701-055,275.15,1978-10-31 09:55:06
587,46.811578,6.942472,0,85000.0,0-20100-0-00701-055,283.65,1978-10-31 09:48:54
588,46.811578,6.942472,0,90000.0,0-20100-0-00701-055,283.95,1978-10-31 09:47:00

2023-08-18 12:00:19,983 INFO Welcome to the CDS
2023-08-18 12:00:19,984 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:20,037 INFO Request is queued

statid - testing:  ['11035', 10393]
{'variable': 'air_temperature', 'statid': ['11035', 10393], 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:21,066 INFO Request is failed
2023-08-18 12:00:21,067 ERROR Message: an internal error occurred processing your request
2023-08-18 12:00:21,067 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:21,068 ERROR   Traceback (most recent call last):
2023-08-18 12:00:21,068 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:00:21,068 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:00:21,068 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:00:21,069 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:00:21,069 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:00:21,069 ERROR       return p(*args, **kwargs)
2023-08-18 12:00:21,069 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:00:21,070 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:00:21,070 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:00:21,070 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:00:21,070 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:00:21,071 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:21,095 INFO Welcome to the CDS
2023-08-18 12:00:21,095 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:21,150 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
statid - testing:  ['0-20001-0-11035', '0-20001-0-10393']
{'variable': 'air_temperature', 'statid': ['0-20001-0-11035', '0-20001-0-10393'], 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:22,178 INFO Request is completed
2023-08-18 12:00:22,179 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352821.9735816-12436-2-d950396e-9bc3-4482-84fb-0e79ee5b6a4b.zip to download.zip (101.1K)
2023-08-18 12:00:22,268 INFO Download rate 1.1M/s
2023-08-18 12:00:22,292 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,5000.0,200000000043629,0-20001-0-11035,218.449997,1978-10-01 00:00:00
1,48.25,16.370001,0,7000.0,200000000043629,0-20001-0-11035,220.449997,1978-10-01 00:00:00
2,48.25,16.370001,0,10000.0,200000000043629,0-20001-0-11035,220.149994,1978-10-01 00:00:00
3,48.25,16.370001,0,15000.0,200000000043629,0-20001-0-11035,218.395111,1978-10-01 00:00:00
4,48.25,16.370001,0,20000.0,200000000043629,0-20001-0-11035,217.149994,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
747,48.25,16.370001,0,50000.0,200000000043752,0-20001-0-11035,254.750000,1978-10-31 12:00:00
748,48.25,16.370001,0,70000.0,200000000043752,0-20001-0-11035,274.549988,1978-10-31 12:00:00
749,48.25,16.370001,0,85000.0,200000000043752,0-20001-0-11035,274.649994,1978-10-31 12:00:00
750,48.25,16.370001,0,92500.0,200000000043752,0-20001-0-11035,280.149994,1978-10-31 12:00:00
751,48.25,16.370001,0,100000.0,200000000043752,0-20001-0-11035,285.350006,1978-10-31 12:00:00

2023-08-18 12:00:22,359 INFO Welcome to the CDS
2023-08-18 12:00:22,360 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:22,413 INFO Request is queued

statid - testing:  110350
{'variable': 'air_temperature', 'statid': '110350', 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:23,442 INFO Request is failed
2023-08-18 12:00:23,443 ERROR Message: an internal error occurred processing your request
2023-08-18 12:00:23,444 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:23,444 ERROR   Traceback (most recent call last):
2023-08-18 12:00:23,444 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:00:23,445 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:00:23,445 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:00:23,446 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:00:23,446 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:00:23,446 ERROR       return p(*args, **kwargs)
2023-08-18 12:00:23,447 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:00:23,447 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:00:23,448 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:00:23,448 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:00:23,448 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:00:23,449 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:23,473 INFO Welcome to the CDS
2023-08-18 12:00:23,473 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:23,527 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
statid - testing:  1103
{'variable': 'air_temperature', 'statid': '1103', 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:24,557 INFO Request is completed
2023-08-18 12:00:24,557 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352824.0150414-12534-1-ef7c53a0-7509-4dd1-9a5e-e234f0d0b144.zip to download.zip (33.5K)
2023-08-18 12:00:24,626 INFO Download rate 492.1K/s
2023-08-18 12:00:24,641 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,5000.0,200000000043629,0-20001-0-11035,218.449997,1978-10-01 00:00:00
1,48.25,16.370001,0,7000.0,200000000043629,0-20001-0-11035,220.449997,1978-10-01 00:00:00
2,48.25,16.370001,0,10000.0,200000000043629,0-20001-0-11035,220.149994,1978-10-01 00:00:00
3,48.25,16.370001,0,15000.0,200000000043629,0-20001-0-11035,218.395111,1978-10-01 00:00:00
4,48.25,16.370001,0,20000.0,200000000043629,0-20001-0-11035,217.149994,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
747,48.25,16.370001,0,50000.0,200000000043752,0-20001-0-11035,254.750000,1978-10-31 12:00:00
748,48.25,16.370001,0,70000.0,200000000043752,0-20001-0-11035,274.549988,1978-10-31 12:00:00
749,48.25,16.370001,0,85000.0,200000000043752,0-20001-0-11035,274.649994,1978-10-31 12:00:00
750,48.25,16.370001,0,92500.0,200000000043752,0-20001-0-11035,280.149994,1978-10-31 12:00:00
751,48.25,16.370001,0,100000.0,200000000043752,0-20001-0-11035,285.350006,1978-10-31 12:00:00

2023-08-18 12:00:24,707 INFO Welcome to the CDS
2023-08-18 12:00:24,708 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:24,764 INFO Request is queued

statid - testing:  0-20000-0-1103
{'variable': 'air_temperature', 'statid': '0-20000-0-1103', 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:25,793 INFO Request is failed
2023-08-18 12:00:25,794 ERROR Message: an internal error occurred processing your request
2023-08-18 12:00:25,794 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:25,795 ERROR   Traceback (most recent call last):
2023-08-18 12:00:25,795 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:00:25,796 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:00:25,796 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:00:25,797 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:00:25,797 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:00:25,798 ERROR       return p(*args, **kwargs)
2023-08-18 12:00:25,798 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:00:25,798 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:00:25,799 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:00:25,799 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:00:25,800 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:00:25,800 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:25,823 INFO Welcome to the CDS
2023-08-18 12:00:25,824 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:25,878 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
statid - testing:  0-20000-0-110350
{'variable': 'air_temperature', 'statid': '0-20000-0-110350', 'date': '19781001-19781031', 'cachworkaround': 0.8085753844655835}

2023-08-18 12:00:26,907 INFO Request is failed
2023-08-18 12:00:26,908 ERROR Message: an internal error occurred processing your request
2023-08-18 12:00:26,908 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:26,908 ERROR   Traceback (most recent call last):
2023-08-18 12:00:26,909 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:00:26,910 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:00:26,910 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:00:26,910 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:00:26,911 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:00:26,911 ERROR       return p(*args, **kwargs)
2023-08-18 12:00:26,912 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:00:26,912 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:00:26,912 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:00:26,913 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:00:26,913 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:00:26,913 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:26,937 INFO Welcome to the CDS
2023-08-18 12:00:26,937 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:26,993 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
statid - testing: finished
variable - testing:  air_temperature

2023-08-18 12:00:28,022 INFO Request is completed
2023-08-18 12:00:28,023 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352827.5937638-12551-1-1df4b431-a29c-4e1b-b325-8d16c3036139.zip to download.zip (75.4K)
2023-08-18 12:00:28,092 INFO Download rate 1.1M/s
2023-08-18 12:00:28,106 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
5465,48.23,16.370001,0,89200.0,100000000075196,0-20001-0-11035,276.799988,2000-01-31 12:00:00
5466,48.23,16.370001,0,92500.0,100000000075196,0-20001-0-11035,279.200012,2000-01-31 12:00:00
5467,48.23,16.370001,0,97400.0,100000000075196,0-20001-0-11035,283.399994,2000-01-31 12:00:00
5468,48.23,16.370001,0,99000.0,100000000075196,0-20001-0-11035,285.000000,2000-01-31 12:00:00
5469,48.23,16.370001,0,99100.0,100000000075196,0-20001-0-11035,285.000000,2000-01-31 12:00:00

2023-08-18 12:00:28,179 INFO Welcome to the CDS
2023-08-18 12:00:28,180 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:28,232 INFO Request is queued

variable - testing:  dew_point_temperature

2023-08-18 12:00:29,262 INFO Request is completed
2023-08-18 12:00:29,262 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352828.8809774-12407-3-ade2a88e-35c6-4e78-92e9-b5ff11d6669f.zip to download.zip (69.4K)
2023-08-18 12:00:29,331 INFO Download rate 1M/s
2023-08-18 12:00:29,346 INFO Reading Profile on slice(None, None, None)

,dew_point_temperature,lat,lon,obs,plev,report_id,station_id,time
0,181.899994,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
1,183.899994,48.23,16.370001,0,2000.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
2,184.042160,48.23,16.370001,0,2310.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
3,184.143539,48.23,16.370001,0,2560.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
4,184.238968,48.23,16.370001,0,2820.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
4641,273.500000,48.23,16.370001,0,89200.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4642,274.899994,48.23,16.370001,0,92500.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4643,276.399994,48.23,16.370001,0,97400.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4644,275.000000,48.23,16.370001,0,99000.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4645,276.000000,48.23,16.370001,0,99100.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00

2023-08-18 12:00:29,419 INFO Welcome to the CDS
2023-08-18 12:00:29,420 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:29,472 INFO Request is queued

variable - testing:  eastward_wind_speed

2023-08-18 12:00:30,501 INFO Request is completed
2023-08-18 12:00:30,501 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352830.0378497-12397-3-d58c3128-8e9b-467b-96d4-6f2117136b08.zip to download.zip (112.7K)
2023-08-18 12:00:30,591 INFO Download rate 1.2M/s
2023-08-18 12:00:30,637 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,ua
0,48.23,16.370001,0,590.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,55.000000
1,48.23,16.370001,0,660.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,60.767876
2,48.23,16.370001,0,760.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,53.377106
3,48.23,16.370001,0,1000.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,39.000000
4,48.23,16.370001,0,1030.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,37.000000
...,...,...,...,...,...,...,...,...
8670,48.23,16.370001,0,92500.000000,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,25.978880
8671,48.23,16.370001,0,94330.804688,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,23.471920
8672,48.23,16.370001,0,95011.234375,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,22.552624
8673,48.23,16.370001,0,98948.492188,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,10.236071
8674,48.23,16.370001,0,99720.539062,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,7.878462

2023-08-18 12:00:30,717 INFO Welcome to the CDS
2023-08-18 12:00:30,718 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:30,770 INFO Request is queued

variable - testing:  northward_wind_speed

2023-08-18 12:00:31,799 INFO Request is completed
2023-08-18 12:00:31,800 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352831.3328702-12393-2-b87780c0-495b-4a78-826c-72ecfaabc853.zip to download.zip (112.8K)
2023-08-18 12:00:31,889 INFO Download rate 1.2M/s
2023-08-18 12:00:31,904 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,va
0,48.23,16.370001,0,590.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,1.010000e-14
1,48.23,16.370001,0,660.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,-5.316500e+00
2,48.23,16.370001,0,760.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,-3.511408e+00
3,48.23,16.370001,0,1000.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,7.160000e-15
4,48.23,16.370001,0,1030.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,6.800000e-15
...,...,...,...,...,...,...,...,...
8670,48.23,16.370001,0,92500.000000,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,-9.455539e+00
8671,48.23,16.370001,0,94330.804688,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,-8.543080e+00
8672,48.23,16.370001,0,95011.234375,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,-8.208484e+00
8673,48.23,16.370001,0,98948.492188,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,-2.484801e+00
8674,48.23,16.370001,0,99720.539062,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,-1.389185e+00

2023-08-18 12:00:31,981 INFO Welcome to the CDS
2023-08-18 12:00:31,982 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:32,036 INFO Request is queued

variable - testing:  relative_humidity

2023-08-18 12:00:33,065 INFO Request is completed
2023-08-18 12:00:33,066 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352832.586723-12475-2-c89a54ee-8b20-4a67-9980-35bb69bd9b05.zip to download.zip (73.3K)
2023-08-18 12:00:33,134 INFO Download rate 1M/s
2023-08-18 12:00:33,150 INFO Reading Profile on slice(None, None, None)

,hur,lat,lon,obs,plev,report_id,station_id,time
0,0.020402,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
1,0.029577,48.23,16.370001,0,2000.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
2,0.029761,48.23,16.370001,0,2310.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
3,0.029892,48.23,16.370001,0,2560.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
4,0.030015,48.23,16.370001,0,2820.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
4641,0.789951,48.23,16.370001,0,89200.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4642,0.738973,48.23,16.370001,0,92500.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4643,0.618026,48.23,16.370001,0,97400.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4644,0.503057,48.23,16.370001,0,99000.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4645,0.540203,48.23,16.370001,0,99100.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00

2023-08-18 12:00:33,221 INFO Welcome to the CDS
2023-08-18 12:00:33,222 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:33,273 INFO Request is queued

variable - testing:  specific_humidity

2023-08-18 12:00:34,302 INFO Request is completed
2023-08-18 12:00:34,303 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352833.8983169-12446-4-fffaeba8-d553-4eb9-81ae-868e4d6eca30.zip to download.zip (75.1K)
2023-08-18 12:00:34,374 INFO Download rate 1M/s
2023-08-18 12:00:34,389 INFO Reading Profile on slice(None, None, None)

,hus,lat,lon,obs,plev,report_id,station_id,time
0,0.000009,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
1,0.000006,48.23,16.370001,0,2000.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
2,0.000006,48.23,16.370001,0,2310.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
3,0.000005,48.23,16.370001,0,2560.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
4,0.000004,48.23,16.370001,0,2820.0,100000000075063,0-20001-0-11035,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
4641,0.004380,48.23,16.370001,0,89200.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4642,0.004673,48.23,16.370001,0,92500.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4643,0.004938,48.23,16.370001,0,97400.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4644,0.004396,48.23,16.370001,0,99000.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00
4645,0.004717,48.23,16.370001,0,99100.0,100000000075196,0-20001-0-11035,2000-01-31 12:00:00

2023-08-18 12:00:34,458 INFO Welcome to the CDS
2023-08-18 12:00:34,459 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:34,515 INFO Request is queued

variable - testing:  wind_from_direction

2023-08-18 12:00:35,545 INFO Request is completed
2023-08-18 12:00:35,545 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352835.1083934-12419-3-f2e30122-f43e-4e66-b27b-c861b4d945c4.zip to download.zip (104.9K)
2023-08-18 12:00:35,636 INFO Download rate 1.1M/s
2023-08-18 12:00:35,664 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,wind_from_direction
0,48.23,16.370001,0,590.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,270.000000
1,48.23,16.370001,0,660.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,275.000000
2,48.23,16.370001,0,760.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,273.763763
3,48.23,16.370001,0,1000.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,270.000000
4,48.23,16.370001,0,1030.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,270.000000
...,...,...,...,...,...,...,...,...
8670,48.23,16.370001,0,92500.000000,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,290.000000
8671,48.23,16.370001,0,94330.804688,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,290.000000
8672,48.23,16.370001,0,95011.234375,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,290.000000
8673,48.23,16.370001,0,98948.492188,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,283.644592
8674,48.23,16.370001,0,99720.539062,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,280.000000

2023-08-18 12:00:35,744 INFO Welcome to the CDS
2023-08-18 12:00:35,745 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:35,798 INFO Request is queued

variable - testing:  wind_speed

2023-08-18 12:00:36,828 INFO Request is completed
2023-08-18 12:00:36,829 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352836.5084155-12487-2-faffbee0-0c0f-4d4b-925c-1752d469f9fd.zip to download.zip (108.1K)
2023-08-18 12:00:36,919 INFO Download rate 1.2M/s
2023-08-18 12:00:36,936 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,wind_speed
0,48.23,16.370001,0,590.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,55.000000
1,48.23,16.370001,0,660.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,61.000000
2,48.23,16.370001,0,760.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,53.492481
3,48.23,16.370001,0,1000.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,39.000000
4,48.23,16.370001,0,1030.000000,100000000075063,0-20001-0-11035,2000-01-01 00:00:00,37.000000
...,...,...,...,...,...,...,...,...
8670,48.23,16.370001,0,92500.000000,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,27.646147
8671,48.23,16.370001,0,94330.804688,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,24.978296
8672,48.23,16.370001,0,95011.234375,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,24.000000
8673,48.23,16.370001,0,98948.492188,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,10.533346
8674,48.23,16.370001,0,99720.539062,100000000075197,0-20001-0-11035,2000-01-31 18:00:00,8.000000

2023-08-18 12:00:37,014 INFO Welcome to the CDS
2023-08-18 12:00:37,015 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:37,069 INFO Request is queued

variable - testing:  temperature

2023-08-18 12:00:38,098 INFO Request is completed
2023-08-18 12:00:38,099 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352837.5508726-12517-2-e4522bc4-4c64-4192-83f2-cd9376c6d95c.zip to download.zip (75.4K)
2023-08-18 12:00:38,168 INFO Download rate 1.1M/s
2023-08-18 12:00:38,184 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
5465,48.23,16.370001,0,89200.0,100000000075196,0-20001-0-11035,276.799988,2000-01-31 12:00:00
5466,48.23,16.370001,0,92500.0,100000000075196,0-20001-0-11035,279.200012,2000-01-31 12:00:00
5467,48.23,16.370001,0,97400.0,100000000075196,0-20001-0-11035,283.399994,2000-01-31 12:00:00
5468,48.23,16.370001,0,99000.0,100000000075196,0-20001-0-11035,285.000000,2000-01-31 12:00:00
5469,48.23,16.370001,0,99100.0,100000000075196,0-20001-0-11035,285.000000,2000-01-31 12:00:00

2023-08-18 12:00:38,331 INFO Welcome to the CDS
2023-08-18 12:00:38,332 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:38,388 INFO Request is queued

variable - testing:  dew_point

2023-08-18 12:00:39,417 INFO Request is failed
2023-08-18 12:00:39,418 ERROR Message: an internal error occurred processing your request
2023-08-18 12:00:39,418 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:39,419 ERROR   Traceback (most recent call last):
2023-08-18 12:00:39,419 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:00:39,420 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:00:39,420 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:00:39,420 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:00:39,421 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:00:39,421 ERROR       return p(*args, **kwargs)
2023-08-18 12:00:39,422 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:00:39,422 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:00:39,422 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:00:39,423 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:00:39,423 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:00:39,423 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:39,447 INFO Welcome to the CDS
2023-08-18 12:00:39,448 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:39,501 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
variable - testing:  wind

2023-08-18 12:00:40,531 INFO Request is failed
2023-08-18 12:00:40,532 ERROR Message: an internal error occurred processing your request
2023-08-18 12:00:40,533 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:40,533 ERROR   Traceback (most recent call last):
2023-08-18 12:00:40,533 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:00:40,534 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:00:40,534 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:00:40,535 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:00:40,535 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:00:40,535 ERROR       return p(*args, **kwargs)
2023-08-18 12:00:40,536 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:00:40,536 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:00:40,537 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:00:40,537 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:00:40,537 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:00:40,538 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:40,561 INFO Welcome to the CDS
2023-08-18 12:00:40,562 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:40,616 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
variable - testing:  humidity

2023-08-18 12:00:41,646 INFO Request is failed
2023-08-18 12:00:41,646 ERROR Message: an internal error occurred processing your request
2023-08-18 12:00:41,647 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:41,647 ERROR   Traceback (most recent call last):
2023-08-18 12:00:41,648 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:00:41,648 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:00:41,649 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:00:41,649 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:00:41,650 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:00:41,650 ERROR       return p(*args, **kwargs)
2023-08-18 12:00:41,650 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:00:41,651 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:00:41,651 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:00:41,652 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:00:41,652 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:00:41,652 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:41,676 INFO Welcome to the CDS
2023-08-18 12:00:41,677 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:41,732 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
variable - testing:  sonde_type

2023-08-18 12:00:42,762 INFO Request is failed
2023-08-18 12:00:42,766 ERROR Message: an internal error occurred processing your request
2023-08-18 12:00:42,767 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:42,767 ERROR   Traceback (most recent call last):
2023-08-18 12:00:42,767 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:00:42,768 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:00:42,768 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:00:42,768 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:00:42,769 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:00:42,769 ERROR       return p(*args, **kwargs)
2023-08-18 12:00:42,769 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:00:42,769 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:00:42,770 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:00:42,770 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:00:42,770 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:00:42,771 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:00:42,796 INFO Welcome to the CDS
2023-08-18 12:00:42,796 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:42,851 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
variable - testing: finished
optional - testing:  sonde_type

2023-08-18 12:00:43,880 INFO Request is completed
2023-08-18 12:00:43,881 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352843.3572114-12534-2-41e16d78-8aab-4823-a9ba-1bd6942e5c10.zip to download.zip (38K)
2023-08-18 12:00:43,948 INFO Download rate 562.5K/s
2023-08-18 12:00:43,964 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,sonde_type,station_id,ta,time
0,48.25,16.370001,0,1020.0,100000000076557,V9t,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,48.25,16.370001,0,1080.0,100000000076557,V9t,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,48.25,16.370001,0,1240.0,100000000076557,V9t,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,48.25,16.370001,0,1390.0,100000000076557,V9t,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,48.25,16.370001,0,1440.0,100000000076557,V9t,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
406,48.25,16.370001,0,87400.0,100000000076563,V9t,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,48.25,16.370001,0,88600.0,100000000076563,V9t,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,48.25,16.370001,0,92500.0,100000000076563,V9t,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,48.25,16.370001,0,97400.0,100000000076563,V9t,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,48.25,16.370001,0,99200.0,100000000076563,V9t,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:44,031 INFO Welcome to the CDS
2023-08-18 12:00:44,031 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:44,085 INFO Request is queued

optional - testing:  bias_estimate

2023-08-18 12:00:45,113 INFO Request is completed
2023-08-18 12:00:45,114 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352844.6467826-12559-1-237cdd35-919b-4aeb-9a0f-f821dbab2b30.zip to download.zip (37.3K)
2023-08-18 12:00:45,161 INFO Download rate 791.6K/s
2023-08-18 12:00:45,177 INFO Reading Profile on slice(None, None, None)

,bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time
0,0.043947,48.25,16.370001,0,1020.0,100000000076557,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,0.043947,48.25,16.370001,0,1080.0,100000000076557,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,0.050758,48.25,16.370001,0,1240.0,100000000076557,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,0.053748,48.25,16.370001,0,1390.0,100000000076557,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,0.056228,48.25,16.370001,0,1440.0,100000000076557,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
406,0.186620,48.25,16.370001,0,87400.0,100000000076563,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,0.141748,48.25,16.370001,0,88600.0,100000000076563,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,0.000000,48.25,16.370001,0,92500.0,100000000076563,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,0.000000,48.25,16.370001,0,97400.0,100000000076563,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,0.000000,48.25,16.370001,0,99200.0,100000000076563,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:45,241 INFO Welcome to the CDS
2023-08-18 12:00:45,241 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:45,300 INFO Request is queued

optional - testing:  obs_minus_an

2023-08-18 12:00:46,330 INFO Request is completed
2023-08-18 12:00:46,331 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352845.8619642-12547-1-7261962e-53ee-4728-8ebf-87bc67673258.zip to download.zip (37.3K)
2023-08-18 12:00:46,379 INFO Download rate 788.7K/s
2023-08-18 12:00:46,394 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,obs_minus_an,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1.162598,1020.0,100000000076557,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,48.25,16.370001,0,2.689869,1080.0,100000000076557,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,48.25,16.370001,0,-0.296323,1240.0,100000000076557,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,48.25,16.370001,0,2.352908,1390.0,100000000076557,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,48.25,16.370001,0,0.558173,1440.0,100000000076557,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
406,48.25,16.370001,0,-0.483376,87400.0,100000000076563,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,48.25,16.370001,0,-0.384825,88600.0,100000000076563,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,48.25,16.370001,0,-0.073506,92500.0,100000000076563,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,48.25,16.370001,0,-0.936399,97400.0,100000000076563,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,48.25,16.370001,0,NaN,99200.0,100000000076563,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:46,461 INFO Welcome to the CDS
2023-08-18 12:00:46,462 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:46,515 INFO Request is queued

optional - testing:  obs_minus_bg

2023-08-18 12:00:47,544 INFO Request is completed
2023-08-18 12:00:47,544 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352846.9689908-12551-2-252625ec-308e-4d9e-9d5e-ef632f41d73b.zip to download.zip (37.3K)
2023-08-18 12:00:47,591 INFO Download rate 803.3K/s
2023-08-18 12:00:47,606 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,obs_minus_bg,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1.494776,1020.0,100000000076557,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,48.25,16.370001,0,2.964746,1080.0,100000000076557,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,48.25,16.370001,0,-0.189032,1240.0,100000000076557,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,48.25,16.370001,0,2.219897,1390.0,100000000076557,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,48.25,16.370001,0,0.333233,1440.0,100000000076557,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
406,48.25,16.370001,0,-0.745988,87400.0,100000000076563,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,48.25,16.370001,0,-0.668315,88600.0,100000000076563,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,48.25,16.370001,0,-0.422948,92500.0,100000000076563,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,48.25,16.370001,0,-1.382434,97400.0,100000000076563,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,48.25,16.370001,0,NaN,99200.0,100000000076563,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:47,671 INFO Welcome to the CDS
2023-08-18 12:00:47,671 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:47,723 INFO Request is queued

optional - testing:  RISE_bias_estimate

2023-08-18 12:00:48,753 INFO Request is completed
2023-08-18 12:00:48,754 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352848.3387268-12407-4-b884c933-6ea1-4c69-87e9-a28d1c21d966.zip to download.zip (37.2K)
2023-08-18 12:00:48,801 INFO Download rate 786.8K/s
2023-08-18 12:00:48,817 INFO Reading Profile on slice(None, None, None)

,RISE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time
0,-0.213015,48.25,16.370001,0,1020.0,100000000076557,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,-0.194923,48.25,16.370001,0,1080.0,100000000076557,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,-0.146677,48.25,16.370001,0,1240.0,100000000076557,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,-0.101446,48.25,16.370001,0,1390.0,100000000076557,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,-0.086369,48.25,16.370001,0,1440.0,100000000076557,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
406,0.161003,48.25,16.370001,0,87400.0,100000000076563,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,0.093056,48.25,16.370001,0,88600.0,100000000076563,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,-0.127770,48.25,16.370001,0,92500.0,100000000076563,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,NaN,48.25,16.370001,0,97400.0,100000000076563,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,NaN,48.25,16.370001,0,99200.0,100000000076563,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:48,883 INFO Welcome to the CDS
2023-08-18 12:00:48,883 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:48,938 INFO Request is queued

optional - testing:  RICH_bias_estimate

2023-08-18 12:00:49,968 INFO Request is completed
2023-08-18 12:00:49,969 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352849.5168045-12397-4-bff820fc-ec73-40b5-9b84-814aad2a1580.zip to download.zip (37.2K)
2023-08-18 12:00:50,017 INFO Download rate 784K/s
2023-08-18 12:00:50,034 INFO Reading Profile on slice(None, None, None)

,RICH_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time
0,-0.213015,48.25,16.370001,0,1020.0,100000000076557,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,-0.194923,48.25,16.370001,0,1080.0,100000000076557,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,-0.146677,48.25,16.370001,0,1240.0,100000000076557,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,-0.101446,48.25,16.370001,0,1390.0,100000000076557,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,-0.086369,48.25,16.370001,0,1440.0,100000000076557,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
406,0.161003,48.25,16.370001,0,87400.0,100000000076563,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,0.093056,48.25,16.370001,0,88600.0,100000000076563,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,-0.127770,48.25,16.370001,0,92500.0,100000000076563,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,0.096367,48.25,16.370001,0,97400.0,100000000076563,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,0.178703,48.25,16.370001,0,99200.0,100000000076563,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:50,101 INFO Welcome to the CDS
2023-08-18 12:00:50,102 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:50,154 INFO Request is queued

optional - testing:  RASE_bias_estimate

2023-08-18 12:00:51,183 INFO Request is completed
2023-08-18 12:00:51,184 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352850.7220058-12393-3-1f2ef7fd-0499-4780-acfc-794f035b52b0.zip to download.zip (37.2K)
2023-08-18 12:00:51,232 INFO Download rate 774.3K/s
2023-08-18 12:00:51,248 INFO Reading Profile on slice(None, None, None)

,RASE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time
0,0.314146,48.25,16.370001,0,1020.0,100000000076557,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,0.313046,48.25,16.370001,0,1080.0,100000000076557,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,0.310113,48.25,16.370001,0,1240.0,100000000076557,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,0.307363,48.25,16.370001,0,1390.0,100000000076557,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,0.306446,48.25,16.370001,0,1440.0,100000000076557,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
406,0.081151,48.25,16.370001,0,87400.0,100000000076563,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,0.005116,48.25,16.370001,0,88600.0,100000000076563,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,-0.241995,48.25,16.370001,0,92500.0,100000000076563,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,NaN,48.25,16.370001,0,97400.0,100000000076563,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,NaN,48.25,16.370001,0,99200.0,100000000076563,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:51,315 INFO Welcome to the CDS
2023-08-18 12:00:51,316 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:51,370 INFO Request is queued

optional - testing:  RAOBCORE_bias_estimate

2023-08-18 12:00:52,400 INFO Request is completed
2023-08-18 12:00:52,401 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352852.0137289-12475-3-26887795-687f-4685-b2e4-053e9395e2ba.zip to download.zip (37.2K)
2023-08-18 12:00:52,450 INFO Download rate 763.9K/s
2023-08-18 12:00:52,467 INFO Reading Profile on slice(None, None, None)

,RAOBCORE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time
0,0.314146,48.25,16.370001,0,1020.0,100000000076557,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,0.313046,48.25,16.370001,0,1080.0,100000000076557,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,0.310113,48.25,16.370001,0,1240.0,100000000076557,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,0.307363,48.25,16.370001,0,1390.0,100000000076557,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,0.306446,48.25,16.370001,0,1440.0,100000000076557,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
406,0.081151,48.25,16.370001,0,87400.0,100000000076563,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,0.005116,48.25,16.370001,0,88600.0,100000000076563,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,-0.241995,48.25,16.370001,0,92500.0,100000000076563,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,-0.084782,48.25,16.370001,0,97400.0,100000000076563,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,-0.027030,48.25,16.370001,0,99200.0,100000000076563,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:52,536 INFO Welcome to the CDS
2023-08-18 12:00:52,536 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:52,591 INFO Request is queued

optional - testing:  desroziers_30

2023-08-18 12:00:53,619 INFO Request is completed
2023-08-18 12:00:53,620 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352853.1493077-12446-5-25cce9f0-9db2-46b8-981d-8b472951bf85.zip to download.zip (32.5K)
2023-08-18 12:00:53,667 INFO Download rate 698.3K/s
2023-08-18 12:00:53,677 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1020.0,100000000076557,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,48.25,16.370001,0,1080.0,100000000076557,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,48.25,16.370001,0,1240.0,100000000076557,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,48.25,16.370001,0,1390.0,100000000076557,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,48.25,16.370001,0,1440.0,100000000076557,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...
406,48.25,16.370001,0,87400.0,100000000076563,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,48.25,16.370001,0,88600.0,100000000076563,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,48.25,16.370001,0,92500.0,100000000076563,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,48.25,16.370001,0,97400.0,100000000076563,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,48.25,16.370001,0,99200.0,100000000076563,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:53,743 INFO Welcome to the CDS
2023-08-18 12:00:53,744 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:53,796 INFO Request is queued

optional - testing:  desroziers_60

2023-08-18 12:00:54,826 INFO Request is completed
2023-08-18 12:00:54,826 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352854.3062232-12419-4-8e471204-0433-42df-bb9b-34c397fa2892.zip to download.zip (32.5K)
2023-08-18 12:00:54,874 INFO Download rate 689.7K/s
2023-08-18 12:00:54,889 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1020.0,100000000076557,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,48.25,16.370001,0,1080.0,100000000076557,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,48.25,16.370001,0,1240.0,100000000076557,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,48.25,16.370001,0,1390.0,100000000076557,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,48.25,16.370001,0,1440.0,100000000076557,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...
406,48.25,16.370001,0,87400.0,100000000076563,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,48.25,16.370001,0,88600.0,100000000076563,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,48.25,16.370001,0,92500.0,100000000076563,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,48.25,16.370001,0,97400.0,100000000076563,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,48.25,16.370001,0,99200.0,100000000076563,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:54,953 INFO Welcome to the CDS
2023-08-18 12:00:54,954 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:55,010 INFO Request is queued

optional - testing:  desroziers_90

2023-08-18 12:00:56,038 INFO Request is completed
2023-08-18 12:00:56,039 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352855.5570643-12487-3-a5a93bed-52be-4424-8928-99e3021a2256.zip to download.zip (32.5K)
2023-08-18 12:00:56,086 INFO Download rate 691.6K/s
2023-08-18 12:00:56,101 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1020.0,100000000076557,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,48.25,16.370001,0,1080.0,100000000076557,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,48.25,16.370001,0,1240.0,100000000076557,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,48.25,16.370001,0,1390.0,100000000076557,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,48.25,16.370001,0,1440.0,100000000076557,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...
406,48.25,16.370001,0,87400.0,100000000076563,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,48.25,16.370001,0,88600.0,100000000076563,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,48.25,16.370001,0,92500.0,100000000076563,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,48.25,16.370001,0,97400.0,100000000076563,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,48.25,16.370001,0,99200.0,100000000076563,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:56,165 INFO Welcome to the CDS
2023-08-18 12:00:56,166 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:56,221 INFO Request is queued

optional - testing:  desroziers_180

2023-08-18 12:00:57,250 INFO Request is completed
2023-08-18 12:00:57,251 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352856.736786-12517-3-fefae0a7-5438-41b8-b349-44b07a76de7a.zip to download.zip (32.5K)
2023-08-18 12:00:57,298 INFO Download rate 691.6K/s
2023-08-18 12:00:57,313 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1020.0,100000000076557,0-20001-0-11035,216.500000,2000-12-30 00:00:00
1,48.25,16.370001,0,1080.0,100000000076557,0-20001-0-11035,217.899994,2000-12-30 00:00:00
2,48.25,16.370001,0,1240.0,100000000076557,0-20001-0-11035,213.899994,2000-12-30 00:00:00
3,48.25,16.370001,0,1390.0,100000000076557,0-20001-0-11035,214.500000,2000-12-30 00:00:00
4,48.25,16.370001,0,1440.0,100000000076557,0-20001-0-11035,211.808762,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...
406,48.25,16.370001,0,87400.0,100000000076563,0-20001-0-11035,266.498657,2000-12-31 12:00:00
407,48.25,16.370001,0,88600.0,100000000076563,0-20001-0-11035,267.460754,2000-12-31 12:00:00
408,48.25,16.370001,0,92500.0,100000000076563,0-20001-0-11035,270.500000,2000-12-31 12:00:00
409,48.25,16.370001,0,97400.0,100000000076563,0-20001-0-11035,273.600006,2000-12-31 12:00:00
410,48.25,16.370001,0,99200.0,100000000076563,0-20001-0-11035,276.000000,2000-12-31 12:00:00

2023-08-18 12:00:57,376 INFO Welcome to the CDS
2023-08-18 12:00:57,377 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:57,431 INFO Request is queued

optional - testing:  wind_bias_estimate

2023-08-18 12:00:58,460 INFO Request is completed
2023-08-18 12:00:58,461 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352858.0526776-12465-2-df3fae2b-0cd7-4391-b857-6d8dcb52cc1c.zip to download.zip (38.8K)
2023-08-18 12:00:58,529 INFO Download rate 577.5K/s
2023-08-18 12:00:58,544 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,ua,wind_bias_estimate
0,48.25,16.370001,0,1020.000000,100000000076557,0-20001-0-11035,2000-12-30 00:00:00,26.589809,NaN
1,48.25,16.370001,0,1080.000000,100000000076557,0-20001-0-11035,2000-12-30 00:00:00,27.466383,NaN
2,48.25,16.370001,0,1240.000000,100000000076557,0-20001-0-11035,2000-12-30 00:00:00,29.585033,NaN
3,48.25,16.370001,0,1390.000000,100000000076557,0-20001-0-11035,2000-12-30 00:00:00,31.336271,NaN
4,48.25,16.370001,0,1440.000000,100000000076557,0-20001-0-11035,2000-12-30 00:00:00,31.878231,NaN
...,...,...,...,...,...,...,...,...,...
777,48.25,16.370001,0,92500.000000,100000000076564,0-20001-0-11035,2000-12-31 18:00:00,10.580329,NaN
778,48.25,16.370001,0,94330.804688,100000000076564,0-20001-0-11035,2000-12-31 18:00:00,10.808124,NaN
779,48.25,16.370001,0,94531.953125,100000000076564,0-20001-0-11035,2000-12-31 18:00:00,10.832886,NaN
780,48.25,16.370001,0,98948.492188,100000000076564,0-20001-0-11035,2000-12-31 18:00:00,3.637050,NaN
781,48.25,16.370001,0,99378.023438,100000000076564,0-20001-0-11035,2000-12-31 18:00:00,2.954423,NaN

2023-08-18 12:00:58,613 INFO Welcome to the CDS
2023-08-18 12:00:58,614 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:58,669 INFO Request is queued

optional - testing:  humidity_bias_estimate

2023-08-18 12:00:59,698 INFO Request is completed
2023-08-18 12:00:59,699 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352859.2422762-12497-1-fb790c77-891f-44d3-b995-a489e309d585.zip to download.zip (37.2K)
2023-08-18 12:00:59,746 INFO Download rate 793.5K/s
2023-08-18 12:00:59,761 INFO Reading Profile on slice(None, None, None)

,humidity_bias_estimate,hur,lat,lon,obs,plev,report_id,station_id,time
0,NaN,0.020744,48.25,16.370001,0,1240.0,100000000076557,0-20001-0-11035,2000-12-30 00:00:00
1,NaN,0.017923,48.25,16.370001,0,1390.0,100000000076557,0-20001-0-11035,2000-12-30 00:00:00
2,NaN,0.018608,48.25,16.370001,0,1440.0,100000000076557,0-20001-0-11035,2000-12-30 00:00:00
3,NaN,0.019398,48.25,16.370001,0,1500.0,100000000076557,0-20001-0-11035,2000-12-30 00:00:00
4,NaN,0.021000,48.25,16.370001,0,1660.0,100000000076557,0-20001-0-11035,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
349,-0.030624,0.860726,48.25,16.370001,0,87400.0,100000000076563,0-20001-0-11035,2000-12-31 12:00:00
350,-0.029425,0.834268,48.25,16.370001,0,88600.0,100000000076563,0-20001-0-11035,2000-12-31 12:00:00
351,-0.025637,0.750686,48.25,16.370001,0,92500.0,100000000076563,0-20001-0-11035,2000-12-31 12:00:00
352,NaN,0.723015,48.25,16.370001,0,97400.0,100000000076563,0-20001-0-11035,2000-12-31 12:00:00
353,NaN,0.701327,48.25,16.370001,0,99200.0,100000000076563,0-20001-0-11035,2000-12-31 12:00:00

2023-08-18 12:00:59,828 INFO Welcome to the CDS
2023-08-18 12:00:59,829 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:00:59,883 INFO Request is queued

optional - testing: finished
area - testing:  [80, 140, -40, 359]

2023-08-18 12:01:00,913 INFO Request is running
2023-08-18 12:01:20,852 INFO Request is completed
2023-08-18 12:01:20,853 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352876.5047805-12436-3-67cd20c5-3d62-4aae-a027-c8628debe99b.zip to download.zip (16.3M)
2023-08-18 12:01:21,245 INFO Download rate 41.7M/s
2023-08-18 12:01:22,838 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,9.98,-84.220001,0,1500.000000,200000000008552,0-20000-0-78762,226.899994,1978-10-01 12:00:00
1,9.98,-84.220001,0,1578.967896,200000000008552,0-20000-0-78762,226.864319,1978-10-01 12:00:00
2,9.98,-84.220001,0,1579.551270,200000000008552,0-20000-0-78762,226.864059,1978-10-01 12:00:00
3,9.98,-84.220001,0,2000.000000,200000000008552,0-20000-0-78762,226.699997,1978-10-01 12:00:00
4,9.98,-84.220001,0,2200.000000,200000000008552,0-20000-0-78762,220.300003,1978-10-01 12:00:00
...,...,...,...,...,...,...,...,...
850,9.98,-84.220001,0,76000.000000,200000000008578,0-20000-0-78762,287.000000,1978-10-30 12:00:00
851,9.98,-84.220001,0,80000.000000,200000000008578,0-20000-0-78762,287.000000,1978-10-30 12:00:00
852,9.98,-84.220001,0,85000.000000,200000000008578,0-20000-0-78762,291.200012,1978-10-30 12:00:00
853,9.98,-84.220001,0,90736.773438,200000000008578,0-20000-0-78762,291.589294,1978-10-30 12:00:00
854,9.98,-84.220001,0,90900.000000,200000000008578,0-20000-0-78762,291.600006,1978-10-30 12:00:00

2023-08-18 12:01:23,126 INFO Welcome to the CDS
2023-08-18 12:01:23,127 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:01:23,186 INFO Request is queued

area - testing:  [49, 16, 48, 17]

2023-08-18 12:01:24,216 INFO Request is completed
2023-08-18 12:01:24,217 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352883.8408113-12508-1-acb6c01c-d27c-430b-b777-8b7f4d4f1d74.zip to download.zip (33.5K)
2023-08-18 12:01:24,285 INFO Download rate 494.2K/s
2023-08-18 12:01:24,299 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,5000.0,200000000043629,0-20001-0-11035,218.449997,1978-10-01 00:00:00
1,48.25,16.370001,0,7000.0,200000000043629,0-20001-0-11035,220.449997,1978-10-01 00:00:00
2,48.25,16.370001,0,10000.0,200000000043629,0-20001-0-11035,220.149994,1978-10-01 00:00:00
3,48.25,16.370001,0,15000.0,200000000043629,0-20001-0-11035,218.395111,1978-10-01 00:00:00
4,48.25,16.370001,0,20000.0,200000000043629,0-20001-0-11035,217.149994,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
747,48.25,16.370001,0,50000.0,200000000043752,0-20001-0-11035,254.750000,1978-10-31 12:00:00
748,48.25,16.370001,0,70000.0,200000000043752,0-20001-0-11035,274.549988,1978-10-31 12:00:00
749,48.25,16.370001,0,85000.0,200000000043752,0-20001-0-11035,274.649994,1978-10-31 12:00:00
750,48.25,16.370001,0,92500.0,200000000043752,0-20001-0-11035,280.149994,1978-10-31 12:00:00
751,48.25,16.370001,0,100000.0,200000000043752,0-20001-0-11035,285.350006,1978-10-31 12:00:00

2023-08-18 12:01:24,368 INFO Welcome to the CDS
2023-08-18 12:01:24,369 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:01:24,421 INFO Request is queued

area - testing:  [49, -180, 48, 180]

2023-08-18 12:01:25,450 INFO Request is running
2023-08-18 12:01:29,260 INFO Request is completed
2023-08-18 12:01:29,260 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692352887.2565851-12534-3-46f0f4fc-b086-4b92-ac8c-b6682a104dcb.zip to download.zip (667.9K)
2023-08-18 12:01:29,434 INFO Download rate 3.8M/s
2023-08-18 12:01:29,518 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,5000.0,200000000043629,0-20001-0-11035,218.449997,1978-10-01 00:00:00
1,48.25,16.370001,0,7000.0,200000000043629,0-20001-0-11035,220.449997,1978-10-01 00:00:00
2,48.25,16.370001,0,10000.0,200000000043629,0-20001-0-11035,220.149994,1978-10-01 00:00:00
3,48.25,16.370001,0,15000.0,200000000043629,0-20001-0-11035,218.395111,1978-10-01 00:00:00
4,48.25,16.370001,0,20000.0,200000000043629,0-20001-0-11035,217.149994,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
747,48.25,16.370001,0,50000.0,200000000043752,0-20001-0-11035,254.750000,1978-10-31 12:00:00
748,48.25,16.370001,0,70000.0,200000000043752,0-20001-0-11035,274.549988,1978-10-31 12:00:00
749,48.25,16.370001,0,85000.0,200000000043752,0-20001-0-11035,274.649994,1978-10-31 12:00:00
750,48.25,16.370001,0,92500.0,200000000043752,0-20001-0-11035,280.149994,1978-10-31 12:00:00
751,48.25,16.370001,0,100000.0,200000000043752,0-20001-0-11035,285.350006,1978-10-31 12:00:00

2023-08-18 12:01:29,592 INFO Welcome to the CDS
2023-08-18 12:01:29,593 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:01:29,649 INFO Request is queued

area - testing:  [49, 0, 48, 360]

2023-08-18 12:01:30,678 INFO Request is running
2023-08-18 12:01:34,488 INFO Request is completed
2023-08-18 12:01:34,489 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352892.4110157-12559-2-e53e5787-bb8f-4559-9d87-4e986f34fbf6.zip to download.zip (667.9K)
2023-08-18 12:01:34,645 INFO Download rate 4.2M/s
2023-08-18 12:01:34,757 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,5000.0,200000000043629,0-20001-0-11035,218.449997,1978-10-01 00:00:00
1,48.25,16.370001,0,7000.0,200000000043629,0-20001-0-11035,220.449997,1978-10-01 00:00:00
2,48.25,16.370001,0,10000.0,200000000043629,0-20001-0-11035,220.149994,1978-10-01 00:00:00
3,48.25,16.370001,0,15000.0,200000000043629,0-20001-0-11035,218.395111,1978-10-01 00:00:00
4,48.25,16.370001,0,20000.0,200000000043629,0-20001-0-11035,217.149994,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
747,48.25,16.370001,0,50000.0,200000000043752,0-20001-0-11035,254.750000,1978-10-31 12:00:00
748,48.25,16.370001,0,70000.0,200000000043752,0-20001-0-11035,274.549988,1978-10-31 12:00:00
749,48.25,16.370001,0,85000.0,200000000043752,0-20001-0-11035,274.649994,1978-10-31 12:00:00
750,48.25,16.370001,0,92500.0,200000000043752,0-20001-0-11035,280.149994,1978-10-31 12:00:00
751,48.25,16.370001,0,100000.0,200000000043752,0-20001-0-11035,285.350006,1978-10-31 12:00:00

2023-08-18 12:01:34,829 INFO Welcome to the CDS
2023-08-18 12:01:34,830 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:01:34,885 INFO Request is queued

area - testing:  [90, -180, -90, 180]

2023-08-18 12:01:35,915 INFO Request is running
2023-08-18 12:02:24,538 INFO Request is completed
2023-08-18 12:02:24,538 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352938.6505563-12547-2-c156affb-bb46-484a-b86d-f53d3ac07ed2.zip to download.zip (40.3M)
2023-08-18 12:02:30,402 INFO Download rate 6.9M/s
2023-08-18 12:02:33,298 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,24.58,-81.699997,0,5000.0,200000000049461,0-20000-0-72201,212.149994,1978-10-01 00:00:00
1,24.58,-81.699997,0,7000.0,200000000049461,0-20000-0-72201,205.050003,1978-10-01 00:00:00
2,24.58,-81.699997,0,10000.0,200000000049461,0-20000-0-72201,194.850006,1978-10-01 00:00:00
3,24.58,-81.699997,0,15000.0,200000000049461,0-20000-0-72201,209.006104,1978-10-01 00:00:00
4,24.58,-81.699997,0,20000.0,200000000049461,0-20000-0-72201,219.050003,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
772,24.58,-81.699997,0,50000.0,200000000049522,0-20000-0-72201,264.350006,1978-10-31 12:00:00
773,24.58,-81.699997,0,70000.0,200000000049522,0-20000-0-72201,282.250000,1978-10-31 12:00:00
774,24.58,-81.699997,0,85000.0,200000000049522,0-20000-0-72201,288.549988,1978-10-31 12:00:00
775,24.58,-81.699997,0,92500.0,200000000049522,0-20000-0-72201,293.076569,1978-10-31 12:00:00
776,24.58,-81.699997,0,100000.0,200000000049522,0-20000-0-72201,297.250000,1978-10-31 12:00:00

2023-08-18 12:02:34,069 INFO Welcome to the CDS
2023-08-18 12:02:34,070 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:02:34,131 INFO Request is queued

area - testing:  [80, 140, 70]

2023-08-18 12:02:35,161 INFO Request is failed
2023-08-18 12:02:35,162 ERROR Message: an internal error occurred processing your request
2023-08-18 12:02:35,163 ERROR Reason:  list index out of range
2023-08-18 12:02:35,163 ERROR   Traceback (most recent call last):
2023-08-18 12:02:35,164 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:02:35,164 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:02:35,164 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:02:35,165 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:02:35,165 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:02:35,166 ERROR       return p(*args, **kwargs)
2023-08-18 12:02:35,166 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:02:35,166 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:02:35,167 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 57, in retrieve
2023-08-18 12:02:35,167 ERROR       _q['bbox'] = [area[2], area[1], area[0], area[3]]
2023-08-18 12:02:35,168 ERROR   IndexError: list index out of range
2023-08-18 12:02:35,192 INFO Welcome to the CDS
2023-08-18 12:02:35,192 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:02:35,248 INFO Request is queued

an internal error occurred processing your request. list index out of range.
area - testing:  [80, 140, 70, 150, 0]

2023-08-18 12:02:36,278 INFO Request is completed
2023-08-18 12:02:36,279 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692352956.0946949-12407-5-7fe1c3bd-192a-4443-be8f-249fe8a29334.zip to download.zip (112.8K)
2023-08-18 12:02:36,370 INFO Download rate 1.2M/s
2023-08-18 12:02:36,394 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,70.62001,147.880005,0,660.0,200000000019545,0-20000-0-21946,228.300003,1978-10-01 00:00:00
1,70.62001,147.880005,0,840.0,200000000019545,0-20000-0-21946,227.699997,1978-10-01 00:00:00
2,70.62001,147.880005,0,1000.0,200000000019545,0-20000-0-21946,225.100006,1978-10-01 00:00:00
3,70.62001,147.880005,0,1220.0,200000000019545,0-20000-0-21946,221.100006,1978-10-01 00:00:00
4,70.62001,147.880005,0,2000.0,200000000019545,0-20000-0-21946,219.500000,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
2737,70.62001,147.880005,0,86800.0,200000000019640,0-20000-0-21946,258.100006,1978-10-31 18:00:00
2738,70.62001,147.880005,0,92500.0,200000000019640,0-20000-0-21946,258.100006,1978-10-31 18:00:00
2739,70.62001,147.880005,0,96500.0,200000000019640,0-20000-0-21946,258.100006,1978-10-31 18:00:00
2740,70.62001,147.880005,0,100000.0,200000000019640,0-20000-0-21946,250.100006,1978-10-31 18:00:00
2741,70.62001,147.880005,0,100300.0,200000000019640,0-20000-0-21946,249.100006,1978-10-31 18:00:00

2023-08-18 12:02:36,465 INFO Welcome to the CDS
2023-08-18 12:02:36,465 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:02:36,520 INFO Request is queued

area - testing:  [0, 0, 0, 0]

2023-08-18 12:02:37,550 INFO Request is failed
2023-08-18 12:02:37,551 ERROR Message: an internal error occurred processing your request
2023-08-18 12:02:37,551 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:02:37,552 ERROR   Traceback (most recent call last):
2023-08-18 12:02:37,552 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:02:37,553 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:02:37,553 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:02:37,553 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:02:37,554 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:02:37,554 ERROR       return p(*args, **kwargs)
2023-08-18 12:02:37,555 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:02:37,555 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:02:37,555 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:02:37,556 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:02:37,556 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:02:37,556 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:02:37,580 INFO Welcome to the CDS
2023-08-18 12:02:37,581 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:02:37,632 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
area - testing:  [40, 20, 50, 0]

2023-08-18 12:02:38,662 INFO Request is failed
2023-08-18 12:02:38,663 ERROR Message: an internal error occurred processing your request
2023-08-18 12:02:38,663 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:02:38,664 ERROR   Traceback (most recent call last):
2023-08-18 12:02:38,664 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:02:38,665 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:02:38,665 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:02:38,666 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:02:38,666 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:02:38,667 ERROR       return p(*args, **kwargs)
2023-08-18 12:02:38,667 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:02:38,668 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:02:38,668 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:02:38,668 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:02:38,669 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:02:38,669 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:02:38,692 INFO Welcome to the CDS
2023-08-18 12:02:38,693 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:02:38,745 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
area - testing:  [49, -180, 48, 360]

2023-08-18 12:02:39,776 INFO Request is failed
2023-08-18 12:02:39,777 ERROR Message: an internal error occurred processing your request
2023-08-18 12:02:39,777 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:02:39,778 ERROR   Traceback (most recent call last):
2023-08-18 12:02:39,778 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:02:39,778 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:02:39,779 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:02:39,779 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:02:39,780 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:02:39,780 ERROR       return p(*args, **kwargs)
2023-08-18 12:02:39,780 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:02:39,781 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:02:39,781 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:02:39,782 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:02:39,782 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:02:39,782 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:02:39,807 INFO Welcome to the CDS
2023-08-18 12:02:39,808 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:02:39,861 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
area - testing: finished
country - testing:  GLOBE

2023-08-18 12:02:40,890 INFO Request is running
2023-08-18 12:03:29,403 INFO Request is completed
2023-08-18 12:03:29,404 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353003.6556354-12446-6-4dbf1caf-301a-4f91-b0ab-95985b866641.zip to download.zip (40.3M)
2023-08-18 12:03:35,550 INFO Download rate 6.6M/s
2023-08-18 12:03:38,385 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,24.58,-81.699997,0,5000.0,200000000049461,0-20000-0-72201,212.149994,1978-10-01 00:00:00
1,24.58,-81.699997,0,7000.0,200000000049461,0-20000-0-72201,205.050003,1978-10-01 00:00:00
2,24.58,-81.699997,0,10000.0,200000000049461,0-20000-0-72201,194.850006,1978-10-01 00:00:00
3,24.58,-81.699997,0,15000.0,200000000049461,0-20000-0-72201,209.006104,1978-10-01 00:00:00
4,24.58,-81.699997,0,20000.0,200000000049461,0-20000-0-72201,219.050003,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
772,24.58,-81.699997,0,50000.0,200000000049522,0-20000-0-72201,264.350006,1978-10-31 12:00:00
773,24.58,-81.699997,0,70000.0,200000000049522,0-20000-0-72201,282.250000,1978-10-31 12:00:00
774,24.58,-81.699997,0,85000.0,200000000049522,0-20000-0-72201,288.549988,1978-10-31 12:00:00
775,24.58,-81.699997,0,92500.0,200000000049522,0-20000-0-72201,293.076569,1978-10-31 12:00:00
776,24.58,-81.699997,0,100000.0,200000000049522,0-20000-0-72201,297.250000,1978-10-31 12:00:00

2023-08-18 12:03:39,008 INFO Welcome to the CDS
2023-08-18 12:03:39,009 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:03:39,065 INFO Request is queued

country - testing:  ALL

2023-08-18 12:03:40,094 INFO Request is running
2023-08-18 12:04:28,606 INFO Request is completed
2023-08-18 12:04:28,607 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353062.733202-12419-5-84a5832e-7356-4d6b-addb-ae458556023e.zip to download.zip (40.3M)
2023-08-18 12:04:35,974 INFO Download rate 5.5M/s
2023-08-18 12:04:38,910 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,24.58,-81.699997,0,5000.0,200000000049461,0-20000-0-72201,212.149994,1978-10-01 00:00:00
1,24.58,-81.699997,0,7000.0,200000000049461,0-20000-0-72201,205.050003,1978-10-01 00:00:00
2,24.58,-81.699997,0,10000.0,200000000049461,0-20000-0-72201,194.850006,1978-10-01 00:00:00
3,24.58,-81.699997,0,15000.0,200000000049461,0-20000-0-72201,209.006104,1978-10-01 00:00:00
4,24.58,-81.699997,0,20000.0,200000000049461,0-20000-0-72201,219.050003,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
772,24.58,-81.699997,0,50000.0,200000000049522,0-20000-0-72201,264.350006,1978-10-31 12:00:00
773,24.58,-81.699997,0,70000.0,200000000049522,0-20000-0-72201,282.250000,1978-10-31 12:00:00
774,24.58,-81.699997,0,85000.0,200000000049522,0-20000-0-72201,288.549988,1978-10-31 12:00:00
775,24.58,-81.699997,0,92500.0,200000000049522,0-20000-0-72201,293.076569,1978-10-31 12:00:00
776,24.58,-81.699997,0,100000.0,200000000049522,0-20000-0-72201,297.250000,1978-10-31 12:00:00

2023-08-18 12:04:39,679 INFO Welcome to the CDS
2023-08-18 12:04:39,680 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:04:39,741 INFO Request is queued

country - testing:  NOR

2023-08-18 12:04:40,771 INFO Request is running
2023-08-18 12:04:42,302 INFO Request is completed
2023-08-18 12:04:42,303 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353081.686155-12487-4-4f2f8cac-fe19-48dd-8654-804b86291ee7.zip to download.zip (252.1K)
2023-08-18 12:04:42,437 INFO Download rate 1.8M/s
2023-08-18 12:04:42,477 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,67.25,14.4,0,1500.0,200000000013781,0-20000-0-01152,218.100006,1978-10-01 00:00:00
1,67.25,14.4,0,2000.0,200000000013781,0-20000-0-01152,217.300003,1978-10-01 00:00:00
2,67.25,14.4,0,3000.0,200000000013781,0-20000-0-01152,218.100006,1978-10-01 00:00:00
3,67.25,14.4,0,3800.0,200000000013781,0-20000-0-01152,216.699997,1978-10-01 00:00:00
4,67.25,14.4,0,5000.0,200000000013781,0-20000-0-01152,218.100006,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
2163,67.25,14.4,0,92500.0,200000000013842,0-20000-0-01152,275.386200,1978-10-31 12:00:00
2164,67.25,14.4,0,94000.0,200000000013842,0-20000-0-01152,276.200012,1978-10-31 12:00:00
2165,67.25,14.4,0,98000.0,200000000013842,0-20000-0-01152,274.000000,1978-10-31 12:00:00
2166,67.25,14.4,0,100000.0,200000000013842,0-20000-0-01152,275.200012,1978-10-31 12:00:00
2167,67.25,14.4,0,100400.0,200000000013842,0-20000-0-01152,275.399994,1978-10-31 12:00:00

2023-08-18 12:04:42,548 INFO Welcome to the CDS
2023-08-18 12:04:42,549 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:04:42,602 INFO Request is queued

country - testing:  ['NOR', 'DEU']

2023-08-18 12:04:43,631 INFO Request is running
2023-08-18 12:04:47,442 INFO Request is completed
2023-08-18 12:04:47,443 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353085.5649724-12517-4-bf1516b5-6550-4bb7-905a-c1dfdb315b79.zip to download.zip (1.1M)
2023-08-18 12:04:47,778 INFO Download rate 3.2M/s
2023-08-18 12:04:47,975 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.830002,9.2,0,1000.0,200000000032489,0-20001-0-10739,228.100006,1978-10-01 00:00:00
1,48.830002,9.2,0,1500.0,200000000032489,0-20001-0-10739,222.100006,1978-10-01 00:00:00
2,48.830002,9.2,0,2000.0,200000000032489,0-20001-0-10739,220.500000,1978-10-01 00:00:00
3,48.830002,9.2,0,2300.0,200000000032489,0-20001-0-10739,219.752319,1978-10-01 00:00:00
4,48.830002,9.2,0,2800.0,200000000032489,0-20001-0-10739,218.699997,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
2275,48.830002,9.2,0,88700.0,200000000032671,0-20001-0-10739,280.533417,1978-10-31 12:00:00
2276,48.830002,9.2,0,90000.0,200000000032671,0-20001-0-10739,273.799988,1978-10-31 12:00:00
2277,48.830002,9.2,0,92500.0,200000000032671,0-20001-0-10739,275.136963,1978-10-31 12:00:00
2278,48.830002,9.2,0,93000.0,200000000032671,0-20001-0-10739,275.399994,1978-10-31 12:00:00
2279,48.830002,9.2,0,98900.0,200000000032671,0-20001-0-10739,280.200012,1978-10-31 12:00:00

2023-08-18 12:04:48,062 INFO Welcome to the CDS
2023-08-18 12:04:48,062 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:04:48,114 INFO Request is queued

country - testing:  NORWAY

2023-08-18 12:04:49,144 INFO Request is failed
2023-08-18 12:04:49,145 ERROR Message: an internal error occurred processing your request
2023-08-18 12:04:49,145 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:04:49,146 ERROR   Traceback (most recent call last):
2023-08-18 12:04:49,146 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:04:49,146 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:04:49,147 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:04:49,147 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:04:49,147 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:04:49,147 ERROR       return p(*args, **kwargs)
2023-08-18 12:04:49,147 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:04:49,148 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:04:49,148 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:04:49,148 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:04:49,148 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:04:49,149 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:04:49,172 INFO Welcome to the CDS
2023-08-18 12:04:49,173 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:04:49,226 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
country - testing:  nor

2023-08-18 12:04:50,255 INFO Request is failed
2023-08-18 12:04:50,256 ERROR Message: an internal error occurred processing your request
2023-08-18 12:04:50,257 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:04:50,257 ERROR   Traceback (most recent call last):
2023-08-18 12:04:50,257 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:04:50,257 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:04:50,258 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:04:50,258 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:04:50,258 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:04:50,258 ERROR       return p(*args, **kwargs)
2023-08-18 12:04:50,259 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:04:50,259 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:04:50,259 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:04:50,259 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:04:50,260 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:04:50,260 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:04:50,283 INFO Welcome to the CDS
2023-08-18 12:04:50,284 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:04:50,337 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
country - testing: finished
date - testing:  None

2023-08-18 12:04:51,366 INFO Request is running
2023-08-18 12:07:41,783 INFO Request is completed
2023-08-18 12:07:41,784 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353206.9532802-12436-4-673be59e-6e31-43b8-981d-53f95d3e5629.zip to download.zip (98.1M)
2023-08-18 12:07:59,368 INFO Download rate 5.6M/s
2023-08-18 12:07:59,623 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.248611,16.356388,0,4300.0,900000000000960,0-20001-0-11035,220.750000,1925-01-24 09:22:00
1,48.248611,16.356388,0,4400.0,900000000000960,0-20001-0-11035,220.550003,1925-01-24 09:22:00
2,48.248611,16.356388,0,5000.0,900000000000960,0-20001-0-11035,217.596344,1925-01-24 09:22:00
3,48.248611,16.356388,0,5300.0,900000000000960,0-20001-0-11035,216.250000,1925-01-24 09:22:00
4,48.248611,16.356388,0,7000.0,900000000000960,0-20001-0-11035,216.048218,1925-01-24 09:22:00
...,...,...,...,...,...,...,...,...
13042942,48.248871,16.357590,0,99440.0,100000000119105,0-20001-0-11035,279.660004,2022-12-31 11:30:23
13042943,48.248871,16.357590,0,99470.0,100000000119105,0-20001-0-11035,279.799988,2022-12-31 11:30:23
13042944,48.248871,16.357590,0,99530.0,100000000119105,0-20001-0-11035,279.920013,2022-12-31 11:30:23
13042945,48.248871,16.357590,0,99540.0,100000000119105,0-20001-0-11035,280.049988,2022-12-31 11:30:23
13042946,48.248871,16.357590,0,99900.0,100000000119105,0-20001-0-11035,280.350006,2022-12-31 11:30:23

2023-08-18 12:08:24,424 INFO Welcome to the CDS
2023-08-18 12:08:24,424 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:24,485 INFO Request is queued

date - testing:  20000231

2023-08-18 12:08:25,515 INFO Request is completed
2023-08-18 12:08:25,516 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353304.8921156-12508-2-3d6e2cd3-e248-4340-9126-a6247781c5fa.zip to download.zip (28.5K)
2023-08-18 12:08:25,565 INFO Download rate 587.8K/s
2023-08-18 12:08:25,580 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,570.0,100000000075313,0-20001-0-11035,230.100006,2000-02-29 00:00:00
1,48.25,16.370001,0,640.0,100000000075313,0-20001-0-11035,230.100006,2000-02-29 00:00:00
2,48.25,16.370001,0,650.0,100000000075313,0-20001-0-11035,230.100006,2000-02-29 00:00:00
3,48.25,16.370001,0,680.0,100000000075313,0-20001-0-11035,228.500000,2000-02-29 00:00:00
4,48.25,16.370001,0,700.0,100000000075313,0-20001-0-11035,225.761444,2000-02-29 00:00:00
...,...,...,...,...,...,...,...,...
172,48.25,16.370001,0,92500.0,100000000075315,0-20001-0-11035,278.200012,2000-02-29 12:00:00
173,48.25,16.370001,0,93500.0,100000000075315,0-20001-0-11035,275.399994,2000-02-29 12:00:00
174,48.25,16.370001,0,94000.0,100000000075315,0-20001-0-11035,275.200012,2000-02-29 12:00:00
175,48.25,16.370001,0,98900.0,100000000075315,0-20001-0-11035,278.799988,2000-02-29 12:00:00
176,48.25,16.370001,0,99700.0,100000000075315,0-20001-0-11035,281.200012,2000-02-29 12:00:00

2023-08-18 12:08:25,647 INFO Welcome to the CDS
2023-08-18 12:08:25,647 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:25,703 INFO Request is queued

date - testing:  20000101

2023-08-18 12:08:26,733 INFO Request is completed
2023-08-18 12:08:26,733 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353306.1003108-12534-4-8ea4fdad-513b-40bf-b51f-6eb7eacf5892.zip to download.zip (30.5K)
2023-08-18 12:08:26,781 INFO Download rate 647K/s
2023-08-18 12:08:26,795 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
187,48.23,16.370001,0,91500.0,100000000075065,0-20001-0-11035,269.100006,2000-01-01 12:00:00
188,48.23,16.370001,0,92500.0,100000000075065,0-20001-0-11035,269.700012,2000-01-01 12:00:00
189,48.23,16.370001,0,95700.0,100000000075065,0-20001-0-11035,271.899994,2000-01-01 12:00:00
190,48.23,16.370001,0,97400.0,100000000075065,0-20001-0-11035,272.420837,2000-01-01 12:00:00
191,48.23,16.370001,0,100000.0,100000000075065,0-20001-0-11035,273.200012,2000-01-01 12:00:00

2023-08-18 12:08:26,858 INFO Welcome to the CDS
2023-08-18 12:08:26,859 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:26,913 INFO Request is queued

date - testing:  20000101-20000201

2023-08-18 12:08:27,942 INFO Request is completed
2023-08-18 12:08:27,942 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353307.3231578-12559-3-f4a07fd2-e742-4b26-a9e4-42a9d24c6817.zip to download.zip (76.6K)
2023-08-18 12:08:28,011 INFO Download rate 1.1M/s
2023-08-18 12:08:28,026 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
5610,48.23,16.370001,0,91400.0,100000000075200,0-20001-0-11035,281.600006,2000-02-01 12:00:00
5611,48.23,16.370001,0,92500.0,100000000075200,0-20001-0-11035,281.799988,2000-02-01 12:00:00
5612,48.23,16.370001,0,95700.0,100000000075200,0-20001-0-11035,282.799988,2000-02-01 12:00:00
5613,48.23,16.370001,0,99100.0,100000000075200,0-20001-0-11035,285.600006,2000-02-01 12:00:00
5614,48.23,16.370001,0,99800.0,100000000075200,0-20001-0-11035,287.200012,2000-02-01 12:00:00

2023-08-18 12:08:28,096 INFO Welcome to the CDS
2023-08-18 12:08:28,097 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:28,151 INFO Request is queued

date - testing:  ['20000101', '20000103', '20000106']

2023-08-18 12:08:29,179 INFO Request is completed
2023-08-18 12:08:29,179 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353308.5594702-12547-3-31017e43-988e-4d0f-ac0d-9d27897b009b.zip to download.zip (38K)
2023-08-18 12:08:29,248 INFO Download rate 556.8K/s
2023-08-18 12:08:29,262 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
1106,48.23,16.370001,0,96800.0,100000000075086,0-20001-0-11035,272.700012,2000-01-06 12:00:00
1107,48.23,16.370001,0,97600.0,100000000075086,0-20001-0-11035,271.700012,2000-01-06 12:00:00
1108,48.23,16.370001,0,97900.0,100000000075086,0-20001-0-11035,270.700012,2000-01-06 12:00:00
1109,48.23,16.370001,0,98100.0,100000000075086,0-20001-0-11035,269.500000,2000-01-06 12:00:00
1110,48.23,16.370001,0,100000.0,100000000075086,0-20001-0-11035,270.100006,2000-01-06 12:00:00

2023-08-18 12:08:29,326 INFO Welcome to the CDS
2023-08-18 12:08:29,327 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:29,380 INFO Request is queued

date - testing:  ['20000102', '20000101']

2023-08-18 12:08:30,409 INFO Request is completed
2023-08-18 12:08:30,409 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353309.7796283-12551-3-1431e7ee-4461-4181-956c-f5e9c5e8e0a9.zip to download.zip (30.5K)
2023-08-18 12:08:30,458 INFO Download rate 637.8K/s
2023-08-18 12:08:30,472 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
372,48.23,16.370001,0,97800.0,100000000075069,0-20001-0-11035,273.600006,2000-01-02 12:00:00
373,48.23,16.370001,0,98300.0,100000000075069,0-20001-0-11035,271.500000,2000-01-02 12:00:00
374,48.23,16.370001,0,99100.0,100000000075069,0-20001-0-11035,271.100006,2000-01-02 12:00:00
375,48.23,16.370001,0,100000.0,100000000075069,0-20001-0-11035,271.700012,2000-01-02 12:00:00
376,48.23,16.370001,0,100400.0,100000000075069,0-20001-0-11035,272.100006,2000-01-02 12:00:00

2023-08-18 12:08:30,536 INFO Welcome to the CDS
2023-08-18 12:08:30,536 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:30,590 INFO Request is queued

date - testing:  2000011

2023-08-18 12:08:31,619 INFO Request is failed
2023-08-18 12:08:31,620 ERROR Message: an internal error occurred processing your request
2023-08-18 12:08:31,620 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:31,620 ERROR   Traceback (most recent call last):
2023-08-18 12:08:31,621 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:08:31,621 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:08:31,621 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:08:31,621 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:08:31,622 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:08:31,622 ERROR       return p(*args, **kwargs)
2023-08-18 12:08:31,622 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:08:31,622 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:08:31,623 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:08:31,623 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:08:31,623 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:08:31,623 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:31,647 INFO Welcome to the CDS
2023-08-18 12:08:31,647 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:31,701 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  20000100

2023-08-18 12:08:32,730 INFO Request is failed
2023-08-18 12:08:32,730 ERROR Message: an internal error occurred processing your request
2023-08-18 12:08:32,731 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:32,731 ERROR   Traceback (most recent call last):
2023-08-18 12:08:32,731 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:08:32,731 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:08:32,732 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:08:32,732 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:08:32,732 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:08:32,733 ERROR       return p(*args, **kwargs)
2023-08-18 12:08:32,733 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:08:32,733 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:08:32,733 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:08:32,734 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:08:32,734 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:08:32,734 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:32,757 INFO Welcome to the CDS
2023-08-18 12:08:32,757 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:32,888 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  00000000

2023-08-18 12:08:33,917 INFO Request is failed
2023-08-18 12:08:33,917 ERROR Message: an internal error occurred processing your request
2023-08-18 12:08:33,918 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:33,918 ERROR   Traceback (most recent call last):
2023-08-18 12:08:33,918 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:08:33,919 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:08:33,919 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:08:33,919 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:08:33,919 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:08:33,919 ERROR       return p(*args, **kwargs)
2023-08-18 12:08:33,920 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:08:33,920 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:08:33,920 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:08:33,920 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:08:33,921 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:08:33,921 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:33,944 INFO Welcome to the CDS
2023-08-18 12:08:33,945 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:33,999 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  20000132

2023-08-18 12:08:35,028 INFO Request is failed
2023-08-18 12:08:35,029 ERROR Message: an internal error occurred processing your request
2023-08-18 12:08:35,029 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:35,029 ERROR   Traceback (most recent call last):
2023-08-18 12:08:35,029 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:08:35,030 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:08:35,030 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:08:35,030 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:08:35,030 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:08:35,031 ERROR       return p(*args, **kwargs)
2023-08-18 12:08:35,031 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:08:35,031 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:08:35,031 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:08:35,031 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:08:35,032 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:08:35,032 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:35,055 INFO Welcome to the CDS
2023-08-18 12:08:35,056 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:35,110 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  20001301

2023-08-18 12:08:36,140 INFO Request is failed
2023-08-18 12:08:36,141 ERROR Message: an internal error occurred processing your request
2023-08-18 12:08:36,141 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:36,142 ERROR   Traceback (most recent call last):
2023-08-18 12:08:36,142 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:08:36,142 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:08:36,142 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:08:36,142 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:08:36,143 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:08:36,143 ERROR       return p(*args, **kwargs)
2023-08-18 12:08:36,143 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:08:36,143 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:08:36,144 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:08:36,144 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:08:36,144 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:08:36,144 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:36,168 INFO Welcome to the CDS
2023-08-18 12:08:36,168 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:36,224 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  20000201-20000101

2023-08-18 12:08:37,253 INFO Request is failed
2023-08-18 12:08:37,253 ERROR Message: an internal error occurred processing your request
2023-08-18 12:08:37,253 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:37,254 ERROR   Traceback (most recent call last):
2023-08-18 12:08:37,254 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:08:37,254 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:08:37,254 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:08:37,255 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:08:37,255 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:08:37,255 ERROR       return p(*args, **kwargs)
2023-08-18 12:08:37,255 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:08:37,255 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:08:37,256 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:08:37,256 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:08:37,256 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:08:37,256 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:37,280 INFO Welcome to the CDS
2023-08-18 12:08:37,280 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:37,334 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  20000101/20000201

2023-08-18 12:08:38,363 INFO Request is failed
2023-08-18 12:08:38,363 ERROR Message: an internal error occurred processing your request
2023-08-18 12:08:38,364 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:38,364 ERROR   Traceback (most recent call last):
2023-08-18 12:08:38,364 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:08:38,364 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:08:38,365 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:08:38,365 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:08:38,365 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:08:38,365 ERROR       return p(*args, **kwargs)
2023-08-18 12:08:38,366 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:08:38,366 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:08:38,366 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:08:38,366 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:08:38,367 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:08:38,367 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:08:38,390 INFO Welcome to the CDS
2023-08-18 12:08:38,391 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:08:38,452 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing: finished
period - testing:  None

2023-08-18 12:08:39,481 INFO Request is running
2023-08-18 12:11:29,920 INFO Request is completed
2023-08-18 12:11:29,920 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353433.8047645-12497-2-ff97202d-0a01-4afc-af12-93fbf0c56a7b.zip to download.zip (98.1M)
2023-08-18 12:11:45,076 INFO Download rate 6.5M/s
2023-08-18 12:11:45,366 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.248611,16.356388,0,4300.0,900000000000960,0-20001-0-11035,220.750000,1925-01-24 09:22:00
1,48.248611,16.356388,0,4400.0,900000000000960,0-20001-0-11035,220.550003,1925-01-24 09:22:00
2,48.248611,16.356388,0,5000.0,900000000000960,0-20001-0-11035,217.596344,1925-01-24 09:22:00
3,48.248611,16.356388,0,5300.0,900000000000960,0-20001-0-11035,216.250000,1925-01-24 09:22:00
4,48.248611,16.356388,0,7000.0,900000000000960,0-20001-0-11035,216.048218,1925-01-24 09:22:00
...,...,...,...,...,...,...,...,...
13042942,48.248871,16.357590,0,99440.0,100000000119105,0-20001-0-11035,279.660004,2022-12-31 11:30:23
13042943,48.248871,16.357590,0,99470.0,100000000119105,0-20001-0-11035,279.799988,2022-12-31 11:30:23
13042944,48.248871,16.357590,0,99530.0,100000000119105,0-20001-0-11035,279.920013,2022-12-31 11:30:23
13042945,48.248871,16.357590,0,99540.0,100000000119105,0-20001-0-11035,280.049988,2022-12-31 11:30:23
13042946,48.248871,16.357590,0,99900.0,100000000119105,0-20001-0-11035,280.350006,2022-12-31 11:30:23

2023-08-18 12:12:10,004 INFO Welcome to the CDS
2023-08-18 12:12:10,005 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:10,064 INFO Request is queued

period - testing:  1979-01-01/1980-08-16

2023-08-18 12:12:11,092 INFO Request is completed
2023-08-18 12:12:11,093 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353531.0052433-12436-5-39bde068-0512-4c08-b3d2-5c51ed4a35bc.zip to download.zip (469.9K)
2023-08-18 12:12:11,250 INFO Download rate 2.9M/s
2023-08-18 12:12:11,280 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.360001,0,1000.0,100000000044000,0-20001-0-11035,212.699997,1979-01-01 00:00:00
1,48.25,16.360001,0,1300.0,100000000044000,0-20001-0-11035,215.500000,1979-01-01 00:00:00
2,48.25,16.360001,0,1700.0,100000000044000,0-20001-0-11035,202.500000,1979-01-01 00:00:00
3,48.25,16.360001,0,2000.0,100000000044000,0-20001-0-11035,204.699997,1979-01-01 00:00:00
4,48.25,16.360001,0,2700.0,100000000044000,0-20001-0-11035,208.699997,1979-01-01 00:00:00
...,...,...,...,...,...,...,...,...
54536,48.25,16.370001,0,92500.0,100000000046398,0-20001-0-11035,290.176208,1980-08-16 12:00:00
54537,48.25,16.370001,0,93000.0,100000000046398,0-20001-0-11035,290.399994,1980-08-16 12:00:00
54538,48.25,16.370001,0,95800.0,100000000046398,0-20001-0-11035,292.892365,1980-08-16 12:00:00
54539,48.25,16.370001,0,98000.0,100000000046398,0-20001-0-11035,294.799988,1980-08-16 12:00:00
54540,48.25,16.370001,0,99200.0,100000000046398,0-20001-0-11035,296.200012,1980-08-16 12:00:00

period - testing:  1980-01-02/1980-01-01

2023-08-18 12:12:11,654 INFO Welcome to the CDS
2023-08-18 12:12:11,655 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:11,707 INFO Request is queued
2023-08-18 12:12:12,738 INFO Request is failed
2023-08-18 12:12:12,738 ERROR Message: an internal error occurred processing your request
2023-08-18 12:12:12,739 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:12,739 ERROR   Traceback (most recent call last):
2023-08-18 12:12:12,740 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:12:12,740 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:12:12,740 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:12:12,740 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:12:12,741 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:12:12,741 ERROR       return p(*args, **kwargs)
2023-08-18 12:12:12,741 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:12:12,741 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:12:12,741 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:12:12,742 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:12:12,742 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:12:12,742 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:12,766 INFO Welcome to the CDS
2023-08-18 12:12:12,766 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:12,819 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
period - testing: finished
pressure_level - testing:  100

2023-08-18 12:12:13,848 INFO Request is completed
2023-08-18 12:12:13,848 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353533.2570589-12407-6-67f1f024-30be-49ab-97dc-d0b7da0ac8cb.zip to download.zip (28.5K)
2023-08-18 12:12:13,896 INFO Download rate 605.4K/s
2023-08-18 12:12:13,911 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,10000.0,100000000075063,0-20001-0-11035,215.899994,2000-01-01 00:00:00
1,48.23,16.370001,0,10000.0,100000000075065,0-20001-0-11035,215.100006,2000-01-01 12:00:00

2023-08-18 12:12:13,972 INFO Welcome to the CDS
2023-08-18 12:12:13,972 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:14,024 INFO Request is queued

pressure_level - testing:  100

2023-08-18 12:12:15,053 INFO Request is completed
2023-08-18 12:12:15,053 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353534.4038472-12508-3-6279ec3b-c7c4-4155-8e83-fa9e8e46ab88.zip to download.zip (28.5K)
2023-08-18 12:12:15,101 INFO Download rate 605.1K/s
2023-08-18 12:12:15,116 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,10000.0,100000000075063,0-20001-0-11035,215.899994,2000-01-01 00:00:00
1,48.23,16.370001,0,10000.0,100000000075065,0-20001-0-11035,215.100006,2000-01-01 12:00:00

2023-08-18 12:12:15,175 INFO Welcome to the CDS
2023-08-18 12:12:15,175 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:15,227 INFO Request is queued

pressure_level - testing:  [100, 200]

2023-08-18 12:12:16,255 INFO Request is running
2023-08-18 12:12:20,063 INFO Request is completed
2023-08-18 12:12:20,064 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353538.4563327-12534-5-43dc8218-6951-4f5d-b363-5a19640e7061.zip to download.zip (28.5K)
2023-08-18 12:12:20,112 INFO Download rate 600.8K/s
2023-08-18 12:12:20,128 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,10000.0,100000000075063,0-20001-0-11035,215.899994,2000-01-01 00:00:00
1,48.23,16.370001,0,20000.0,100000000075063,0-20001-0-11035,218.899994,2000-01-01 00:00:00
2,48.23,16.370001,0,10000.0,100000000075065,0-20001-0-11035,215.100006,2000-01-01 12:00:00
3,48.23,16.370001,0,20000.0,100000000075065,0-20001-0-11035,214.100006,2000-01-01 12:00:00

2023-08-18 12:12:20,190 INFO Welcome to the CDS
2023-08-18 12:12:20,190 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:20,243 INFO Request is queued

pressure_level - testing:  ['100', '200']

2023-08-18 12:12:21,272 INFO Request is completed
2023-08-18 12:12:21,273 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353540.6192348-12559-4-e7a08f48-5b1f-4f77-9a24-742adafcf9e9.zip to download.zip (28.5K)
2023-08-18 12:12:21,320 INFO Download rate 601.5K/s
2023-08-18 12:12:21,336 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,10000.0,100000000075063,0-20001-0-11035,215.899994,2000-01-01 00:00:00
1,48.23,16.370001,0,20000.0,100000000075063,0-20001-0-11035,218.899994,2000-01-01 00:00:00
2,48.23,16.370001,0,10000.0,100000000075065,0-20001-0-11035,215.100006,2000-01-01 12:00:00
3,48.23,16.370001,0,20000.0,100000000075065,0-20001-0-11035,214.100006,2000-01-01 12:00:00

2023-08-18 12:12:21,397 INFO Welcome to the CDS
2023-08-18 12:12:21,398 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:21,452 INFO Request is queued

pressure_level - testing:  0

2023-08-18 12:12:22,481 INFO Request is failed
2023-08-18 12:12:22,481 ERROR Message: an internal error occurred processing your request
2023-08-18 12:12:22,482 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:22,483 ERROR   Traceback (most recent call last):
2023-08-18 12:12:22,483 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:12:22,484 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:12:22,484 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:12:22,484 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:12:22,484 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:12:22,485 ERROR       return p(*args, **kwargs)
2023-08-18 12:12:22,485 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:12:22,485 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:12:22,486 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:12:22,486 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:12:22,486 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:12:22,486 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:22,511 INFO Welcome to the CDS
2023-08-18 12:12:22,511 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:22,564 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
pressure_level - testing:  2000

2023-08-18 12:12:23,594 INFO Request is failed
2023-08-18 12:12:23,595 ERROR Message: an internal error occurred processing your request
2023-08-18 12:12:23,595 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:23,596 ERROR   Traceback (most recent call last):
2023-08-18 12:12:23,596 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:12:23,596 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:12:23,597 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:12:23,597 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:12:23,597 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:12:23,598 ERROR       return p(*args, **kwargs)
2023-08-18 12:12:23,598 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:12:23,599 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:12:23,599 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:12:23,599 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:12:23,600 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:12:23,600 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:23,624 INFO Welcome to the CDS
2023-08-18 12:12:23,625 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:23,678 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
pressure_level - testing: finished
time - testing:  [22, 23, 0, 1, 2, 3]

2023-08-18 12:12:24,707 INFO Request is completed
2023-08-18 12:12:24,707 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353544.2885811-12393-4-98fa98da-0a63-4bc0-8744-de676b5a8248.zip to download.zip (51K)
2023-08-18 12:12:24,778 INFO Download rate 726.5K/s
2023-08-18 12:12:24,790 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01
...,...,...,...,...,...,...,...,...
2734,48.23,16.370001,0,92500.0,100000000075198,0-20001-0-11035,279.000000,2000-02-01
2735,48.23,16.370001,0,93900.0,100000000075198,0-20001-0-11035,279.816254,2000-02-01
2736,48.23,16.370001,0,99200.0,100000000075198,0-20001-0-11035,282.799988,2000-02-01
2737,48.23,16.370001,0,100000.0,100000000075198,0-20001-0-11035,282.600006,2000-02-01
2738,48.23,16.370001,0,100100.0,100000000075198,0-20001-0-11035,282.600006,2000-02-01

2023-08-18 12:12:24,860 INFO Welcome to the CDS
2023-08-18 12:12:24,860 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:24,913 INFO Request is queued

time - testing:  ['22', '23', '00', '01', '02', '03']

2023-08-18 12:12:25,942 INFO Request is completed
2023-08-18 12:12:25,943 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353545.5158372-12475-4-e3e0b9cd-b153-40a8-99fe-09371d9cbd41.zip to download.zip (51K)
2023-08-18 12:12:26,011 INFO Download rate 750.8K/s
2023-08-18 12:12:26,034 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01
...,...,...,...,...,...,...,...,...
2734,48.23,16.370001,0,92500.0,100000000075198,0-20001-0-11035,279.000000,2000-02-01
2735,48.23,16.370001,0,93900.0,100000000075198,0-20001-0-11035,279.816254,2000-02-01
2736,48.23,16.370001,0,99200.0,100000000075198,0-20001-0-11035,282.799988,2000-02-01
2737,48.23,16.370001,0,100000.0,100000000075198,0-20001-0-11035,282.600006,2000-02-01
2738,48.23,16.370001,0,100100.0,100000000075198,0-20001-0-11035,282.600006,2000-02-01

2023-08-18 12:12:26,100 INFO Welcome to the CDS
2023-08-18 12:12:26,100 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:26,153 INFO Request is queued

time - testing:

2023-08-18 12:12:27,182 INFO Request is completed
2023-08-18 12:12:27,183 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353546.6038203-12446-7-39966eb0-bd9a-44d0-a059-3a2ece84f2a0.zip to download.zip (76.6K)
2023-08-18 12:12:27,252 INFO Download rate 1.1M/s
2023-08-18 12:12:27,264 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
5610,48.23,16.370001,0,91400.0,100000000075200,0-20001-0-11035,281.600006,2000-02-01 12:00:00
5611,48.23,16.370001,0,92500.0,100000000075200,0-20001-0-11035,281.799988,2000-02-01 12:00:00
5612,48.23,16.370001,0,95700.0,100000000075200,0-20001-0-11035,282.799988,2000-02-01 12:00:00
5613,48.23,16.370001,0,99100.0,100000000075200,0-20001-0-11035,285.600006,2000-02-01 12:00:00
5614,48.23,16.370001,0,99800.0,100000000075200,0-20001-0-11035,287.200012,2000-02-01 12:00:00

2023-08-18 12:12:27,337 INFO Welcome to the CDS
2023-08-18 12:12:27,337 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:27,390 INFO Request is queued

time - testing:  0

2023-08-18 12:12:28,419 INFO Request is completed
2023-08-18 12:12:28,420 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353548.069705-12419-6-f47f7f8f-1207-4dac-9eb1-a22b6976c659.zip to download.zip (49.6K)
2023-08-18 12:12:28,488 INFO Download rate 731.1K/s
2023-08-18 12:12:28,501 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,600.0,100000000075059,0-20001-0-11035,217.699997,1999-12-31
1,48.23,16.370001,0,640.0,100000000075059,0-20001-0-11035,213.100006,1999-12-31
2,48.23,16.370001,0,820.0,100000000075059,0-20001-0-11035,207.731659,1999-12-31
3,48.23,16.370001,0,860.0,100000000075059,0-20001-0-11035,206.699997,1999-12-31
4,48.23,16.370001,0,990.0,100000000075059,0-20001-0-11035,209.500092,1999-12-31
...,...,...,...,...,...,...,...,...
2547,48.23,16.370001,0,92500.0,100000000075198,0-20001-0-11035,279.000000,2000-02-01
2548,48.23,16.370001,0,93900.0,100000000075198,0-20001-0-11035,279.816254,2000-02-01
2549,48.23,16.370001,0,99200.0,100000000075198,0-20001-0-11035,282.799988,2000-02-01
2550,48.23,16.370001,0,100000.0,100000000075198,0-20001-0-11035,282.600006,2000-02-01
2551,48.23,16.370001,0,100100.0,100000000075198,0-20001-0-11035,282.600006,2000-02-01

2023-08-18 12:12:28,569 INFO Welcome to the CDS
2023-08-18 12:12:28,570 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:28,633 INFO Request is queued

time - testing:  00

2023-08-18 12:12:29,662 INFO Request is completed
2023-08-18 12:12:29,662 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353549.1969213-12487-5-f7e09468-5174-484a-8234-75ad70fb1678.zip to download.zip (49.6K)
2023-08-18 12:12:29,731 INFO Download rate 728.7K/s
2023-08-18 12:12:29,742 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,600.0,100000000075059,0-20001-0-11035,217.699997,1999-12-31
1,48.23,16.370001,0,640.0,100000000075059,0-20001-0-11035,213.100006,1999-12-31
2,48.23,16.370001,0,820.0,100000000075059,0-20001-0-11035,207.731659,1999-12-31
3,48.23,16.370001,0,860.0,100000000075059,0-20001-0-11035,206.699997,1999-12-31
4,48.23,16.370001,0,990.0,100000000075059,0-20001-0-11035,209.500092,1999-12-31
...,...,...,...,...,...,...,...,...
2547,48.23,16.370001,0,92500.0,100000000075198,0-20001-0-11035,279.000000,2000-02-01
2548,48.23,16.370001,0,93900.0,100000000075198,0-20001-0-11035,279.816254,2000-02-01
2549,48.23,16.370001,0,99200.0,100000000075198,0-20001-0-11035,282.799988,2000-02-01
2550,48.23,16.370001,0,100000.0,100000000075198,0-20001-0-11035,282.600006,2000-02-01
2551,48.23,16.370001,0,100100.0,100000000075198,0-20001-0-11035,282.600006,2000-02-01

2023-08-18 12:12:29,809 INFO Welcome to the CDS
2023-08-18 12:12:29,810 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:29,863 INFO Request is queued

time - testing:  ['00']

2023-08-18 12:12:30,892 INFO Request is completed
2023-08-18 12:12:30,892 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353550.4067173-12517-5-32487936-3b5f-4737-b6de-45fb3f7dd439.zip to download.zip (49.6K)
2023-08-18 12:12:30,960 INFO Download rate 731.8K/s
2023-08-18 12:12:30,977 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,600.0,100000000075059,0-20001-0-11035,217.699997,1999-12-31
1,48.23,16.370001,0,640.0,100000000075059,0-20001-0-11035,213.100006,1999-12-31
2,48.23,16.370001,0,820.0,100000000075059,0-20001-0-11035,207.731659,1999-12-31
3,48.23,16.370001,0,860.0,100000000075059,0-20001-0-11035,206.699997,1999-12-31
4,48.23,16.370001,0,990.0,100000000075059,0-20001-0-11035,209.500092,1999-12-31
...,...,...,...,...,...,...,...,...
2547,48.23,16.370001,0,92500.0,100000000075198,0-20001-0-11035,279.000000,2000-02-01
2548,48.23,16.370001,0,93900.0,100000000075198,0-20001-0-11035,279.816254,2000-02-01
2549,48.23,16.370001,0,99200.0,100000000075198,0-20001-0-11035,282.799988,2000-02-01
2550,48.23,16.370001,0,100000.0,100000000075198,0-20001-0-11035,282.600006,2000-02-01
2551,48.23,16.370001,0,100100.0,100000000075198,0-20001-0-11035,282.600006,2000-02-01

2023-08-18 12:12:31,045 INFO Welcome to the CDS
2023-08-18 12:12:31,045 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:31,099 INFO Request is queued

time - testing:  [0, 12]

2023-08-18 12:12:32,127 INFO Request is completed
2023-08-18 12:12:32,127 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353551.6198115-12465-3-7ac6f0ef-0370-4d3d-ab1f-33d84156abfe.zip to download.zip (74K)
2023-08-18 12:12:32,196 INFO Download rate 1.1M/s
2023-08-18 12:12:32,208 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,600.0,100000000075059,0-20001-0-11035,217.699997,1999-12-31 00:00:00
1,48.23,16.370001,0,640.0,100000000075059,0-20001-0-11035,213.100006,1999-12-31 00:00:00
2,48.23,16.370001,0,820.0,100000000075059,0-20001-0-11035,207.731659,1999-12-31 00:00:00
3,48.23,16.370001,0,860.0,100000000075059,0-20001-0-11035,206.699997,1999-12-31 00:00:00
4,48.23,16.370001,0,990.0,100000000075059,0-20001-0-11035,209.500092,1999-12-31 00:00:00
...,...,...,...,...,...,...,...,...
5271,48.23,16.370001,0,91400.0,100000000075200,0-20001-0-11035,281.600006,2000-02-01 12:00:00
5272,48.23,16.370001,0,92500.0,100000000075200,0-20001-0-11035,281.799988,2000-02-01 12:00:00
5273,48.23,16.370001,0,95700.0,100000000075200,0-20001-0-11035,282.799988,2000-02-01 12:00:00
5274,48.23,16.370001,0,99100.0,100000000075200,0-20001-0-11035,285.600006,2000-02-01 12:00:00
5275,48.23,16.370001,0,99800.0,100000000075200,0-20001-0-11035,287.200012,2000-02-01 12:00:00

2023-08-18 12:12:32,280 INFO Welcome to the CDS
2023-08-18 12:12:32,280 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:32,335 INFO Request is queued

time - testing:  ['0', '12']

2023-08-18 12:12:33,363 INFO Request is completed
2023-08-18 12:12:33,364 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353552.8577895-12497-3-08792fd2-fe8a-441a-88da-04c27521ee3e.zip to download.zip (74K)
2023-08-18 12:12:33,433 INFO Download rate 1.1M/s
2023-08-18 12:12:33,445 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,600.0,100000000075059,0-20001-0-11035,217.699997,1999-12-31 00:00:00
1,48.23,16.370001,0,640.0,100000000075059,0-20001-0-11035,213.100006,1999-12-31 00:00:00
2,48.23,16.370001,0,820.0,100000000075059,0-20001-0-11035,207.731659,1999-12-31 00:00:00
3,48.23,16.370001,0,860.0,100000000075059,0-20001-0-11035,206.699997,1999-12-31 00:00:00
4,48.23,16.370001,0,990.0,100000000075059,0-20001-0-11035,209.500092,1999-12-31 00:00:00
...,...,...,...,...,...,...,...,...
5271,48.23,16.370001,0,91400.0,100000000075200,0-20001-0-11035,281.600006,2000-02-01 12:00:00
5272,48.23,16.370001,0,92500.0,100000000075200,0-20001-0-11035,281.799988,2000-02-01 12:00:00
5273,48.23,16.370001,0,95700.0,100000000075200,0-20001-0-11035,282.799988,2000-02-01 12:00:00
5274,48.23,16.370001,0,99100.0,100000000075200,0-20001-0-11035,285.600006,2000-02-01 12:00:00
5275,48.23,16.370001,0,99800.0,100000000075200,0-20001-0-11035,287.200012,2000-02-01 12:00:00

2023-08-18 12:12:33,516 INFO Welcome to the CDS
2023-08-18 12:12:33,517 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:33,588 INFO Request is queued

time - testing:  24

2023-08-18 12:12:34,617 INFO Request is failed
2023-08-18 12:12:34,618 ERROR Message: an internal error occurred processing your request
2023-08-18 12:12:34,618 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:34,619 ERROR   Traceback (most recent call last):
2023-08-18 12:12:34,619 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:12:34,619 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:12:34,619 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:12:34,620 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:12:34,620 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:12:34,620 ERROR       return p(*args, **kwargs)
2023-08-18 12:12:34,621 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:12:34,621 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:12:34,621 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:12:34,621 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:12:34,622 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:12:34,622 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:34,645 INFO Welcome to the CDS
2023-08-18 12:12:34,646 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:34,702 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
time - testing:  25

2023-08-18 12:12:35,731 INFO Request is failed
2023-08-18 12:12:35,731 ERROR Message: an internal error occurred processing your request
2023-08-18 12:12:35,732 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:35,732 ERROR   Traceback (most recent call last):
2023-08-18 12:12:35,732 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:12:35,732 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:12:35,733 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:12:35,733 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:12:35,733 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:12:35,734 ERROR       return p(*args, **kwargs)
2023-08-18 12:12:35,734 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:12:35,734 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:12:35,734 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:12:35,735 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:12:35,735 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:12:35,735 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:35,759 INFO Welcome to the CDS
2023-08-18 12:12:35,759 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:35,814 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
time - testing:  12.5

2023-08-18 12:12:36,844 INFO Request is failed
2023-08-18 12:12:36,844 ERROR Message: an internal error occurred processing your request
2023-08-18 12:12:36,845 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:36,845 ERROR   Traceback (most recent call last):
2023-08-18 12:12:36,845 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:12:36,846 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:12:36,846 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:12:36,846 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:12:36,847 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:12:36,847 ERROR       return p(*args, **kwargs)
2023-08-18 12:12:36,847 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:12:36,847 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:12:36,848 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:12:36,848 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:12:36,848 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:12:36,849 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:36,949 INFO Welcome to the CDS
2023-08-18 12:12:36,949 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:37,003 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
time - testing: finished
format - testing:  None

2023-08-18 12:12:38,033 INFO Request is completed
2023-08-18 12:12:38,033 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353557.5535803-12508-4-f99a97ad-cb38-49e2-a46f-32af53db9f9b.zip to download.zip (76.6K)
2023-08-18 12:12:38,103 INFO Download rate 1.1M/s
2023-08-18 12:12:38,120 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
5610,48.23,16.370001,0,91400.0,100000000075200,0-20001-0-11035,281.600006,2000-02-01 12:00:00
5611,48.23,16.370001,0,92500.0,100000000075200,0-20001-0-11035,281.799988,2000-02-01 12:00:00
5612,48.23,16.370001,0,95700.0,100000000075200,0-20001-0-11035,282.799988,2000-02-01 12:00:00
5613,48.23,16.370001,0,99100.0,100000000075200,0-20001-0-11035,285.600006,2000-02-01 12:00:00
5614,48.23,16.370001,0,99800.0,100000000075200,0-20001-0-11035,287.200012,2000-02-01 12:00:00

2023-08-18 12:12:38,191 INFO Welcome to the CDS
2023-08-18 12:12:38,192 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:38,245 INFO Request is queued

format - testing:  nc

2023-08-18 12:12:39,273 INFO Request is completed
2023-08-18 12:12:39,274 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353558.863247-12534-6-27d1ba44-bd5b-4c07-a142-87130986a6b1.zip to download.zip (76.6K)
2023-08-18 12:12:39,342 INFO Download rate 1.1M/s
2023-08-18 12:12:39,358 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
5610,48.23,16.370001,0,91400.0,100000000075200,0-20001-0-11035,281.600006,2000-02-01 12:00:00
5611,48.23,16.370001,0,92500.0,100000000075200,0-20001-0-11035,281.799988,2000-02-01 12:00:00
5612,48.23,16.370001,0,95700.0,100000000075200,0-20001-0-11035,282.799988,2000-02-01 12:00:00
5613,48.23,16.370001,0,99100.0,100000000075200,0-20001-0-11035,285.600006,2000-02-01 12:00:00
5614,48.23,16.370001,0,99800.0,100000000075200,0-20001-0-11035,287.200012,2000-02-01 12:00:00

2023-08-18 12:12:39,429 INFO Welcome to the CDS
2023-08-18 12:12:39,430 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:39,485 INFO Request is queued

format - testing:  csv

2023-08-18 12:12:40,514 INFO Request is running
2023-08-18 12:12:42,044 INFO Request is completed
2023-08-18 12:12:42,045 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353560.7779262-12559-5-ff8962e3-12dd-433f-9712-4f5ed582f9f0.zip to download.zip (42.5K)
2023-08-18 12:12:42,113 INFO Download rate 623.3K/s
2023-08-18 12:12:42,278 INFO Welcome to the CDS
2023-08-18 12:12:42,278 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:42,336 INFO Request is queued

format - testing:  netcdf

2023-08-18 12:12:43,365 INFO Request is failed
2023-08-18 12:12:43,365 ERROR Message: an internal error occurred processing your request
2023-08-18 12:12:43,366 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:43,366 ERROR   Traceback (most recent call last):
2023-08-18 12:12:43,366 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:12:43,367 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:12:43,367 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:12:43,367 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:12:43,367 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:12:43,368 ERROR       return p(*args, **kwargs)
2023-08-18 12:12:43,368 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:12:43,368 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:12:43,369 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:12:43,369 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:12:43,369 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:12:43,369 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:43,393 INFO Welcome to the CDS
2023-08-18 12:12:43,393 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:43,450 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
format - testing:  csb

2023-08-18 12:12:44,479 INFO Request is failed
2023-08-18 12:12:44,480 ERROR Message: an internal error occurred processing your request
2023-08-18 12:12:44,480 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:44,481 ERROR   Traceback (most recent call last):
2023-08-18 12:12:44,481 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:12:44,481 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:12:44,481 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:12:44,482 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:12:44,482 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:12:44,482 ERROR       return p(*args, **kwargs)
2023-08-18 12:12:44,483 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:12:44,483 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:12:44,483 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:12:44,483 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:12:44,484 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:12:44,484 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:44,508 INFO Welcome to the CDS
2023-08-18 12:12:44,508 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:44,562 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
format - testing:  txt

2023-08-18 12:12:45,591 INFO Request is failed
2023-08-18 12:12:45,591 ERROR Message: an internal error occurred processing your request
2023-08-18 12:12:45,592 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:45,592 ERROR   Traceback (most recent call last):
2023-08-18 12:12:45,592 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:12:45,592 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:12:45,593 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:12:45,593 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:12:45,593 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:12:45,594 ERROR       return p(*args, **kwargs)
2023-08-18 12:12:45,594 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:12:45,594 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:12:45,594 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:12:45,595 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:12:45,595 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:12:45,595 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:12:45,619 INFO Welcome to the CDS
2023-08-18 12:12:45,619 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:12:45,674 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
format - testing: finished
y - testing:  None

2023-08-18 12:12:46,706 INFO Request is running
2023-08-18 12:15:37,094 INFO Request is completed
2023-08-18 12:15:37,095 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353681.551823-12475-5-1ba1579e-dbbe-4414-acc1-3a9ed33cba98.zip to download.zip (98.1M)
2023-08-18 12:15:40,358 INFO Download rate 30.1M/s
2023-08-18 12:15:40,649 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.248611,16.356388,0,4300.0,900000000000960,0-20001-0-11035,220.750000,1925-01-24 09:22:00
1,48.248611,16.356388,0,4400.0,900000000000960,0-20001-0-11035,220.550003,1925-01-24 09:22:00
2,48.248611,16.356388,0,5000.0,900000000000960,0-20001-0-11035,217.596344,1925-01-24 09:22:00
3,48.248611,16.356388,0,5300.0,900000000000960,0-20001-0-11035,216.250000,1925-01-24 09:22:00
4,48.248611,16.356388,0,7000.0,900000000000960,0-20001-0-11035,216.048218,1925-01-24 09:22:00
...,...,...,...,...,...,...,...,...
13042942,48.248871,16.357590,0,99440.0,100000000119105,0-20001-0-11035,279.660004,2022-12-31 11:30:23
13042943,48.248871,16.357590,0,99470.0,100000000119105,0-20001-0-11035,279.799988,2022-12-31 11:30:23
13042944,48.248871,16.357590,0,99530.0,100000000119105,0-20001-0-11035,279.920013,2022-12-31 11:30:23
13042945,48.248871,16.357590,0,99540.0,100000000119105,0-20001-0-11035,280.049988,2022-12-31 11:30:23
13042946,48.248871,16.357590,0,99900.0,100000000119105,0-20001-0-11035,280.350006,2022-12-31 11:30:23

2023-08-18 12:16:03,277 INFO Welcome to the CDS
2023-08-18 12:16:03,277 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:03,335 INFO Request is queued

y - testing:  2000

2023-08-18 12:16:04,364 INFO Request is completed
2023-08-18 12:16:04,365 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353763.8931518-12446-8-d5f09443-d41d-4b09-bd59-de3582db6cce.zip to download.zip (30.5K)
2023-08-18 12:16:04,435 INFO Download rate 439.6K/s
2023-08-18 12:16:04,451 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
187,48.23,16.370001,0,91500.0,100000000075065,0-20001-0-11035,269.100006,2000-01-01 12:00:00
188,48.23,16.370001,0,92500.0,100000000075065,0-20001-0-11035,269.700012,2000-01-01 12:00:00
189,48.23,16.370001,0,95700.0,100000000075065,0-20001-0-11035,271.899994,2000-01-01 12:00:00
190,48.23,16.370001,0,97400.0,100000000075065,0-20001-0-11035,272.420837,2000-01-01 12:00:00
191,48.23,16.370001,0,100000.0,100000000075065,0-20001-0-11035,273.200012,2000-01-01 12:00:00

2023-08-18 12:16:04,515 INFO Welcome to the CDS
2023-08-18 12:16:04,515 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:04,571 INFO Request is queued

y - testing:  2000

2023-08-18 12:16:05,601 INFO Request is completed
2023-08-18 12:16:05,601 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353764.938918-12419-7-c430353b-cd57-4888-9579-c43b93f3e5e4.zip to download.zip (30.5K)
2023-08-18 12:16:05,648 INFO Download rate 655.4K/s
2023-08-18 12:16:05,663 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
187,48.23,16.370001,0,91500.0,100000000075065,0-20001-0-11035,269.100006,2000-01-01 12:00:00
188,48.23,16.370001,0,92500.0,100000000075065,0-20001-0-11035,269.700012,2000-01-01 12:00:00
189,48.23,16.370001,0,95700.0,100000000075065,0-20001-0-11035,271.899994,2000-01-01 12:00:00
190,48.23,16.370001,0,97400.0,100000000075065,0-20001-0-11035,272.420837,2000-01-01 12:00:00
191,48.23,16.370001,0,100000.0,100000000075065,0-20001-0-11035,273.200012,2000-01-01 12:00:00

2023-08-18 12:16:05,726 INFO Welcome to the CDS
2023-08-18 12:16:05,727 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:05,781 INFO Request is queued

y - testing:  ['2000', '2001']

2023-08-18 12:16:06,809 INFO Request is running
2023-08-18 12:16:08,338 INFO Request is completed
2023-08-18 12:16:08,339 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353766.776939-12487-6-a1fdf8a0-4e95-4f9e-9de2-7825a54b45df.zip to download.zip (595.1K)
2023-08-18 12:16:08,476 INFO Download rate 4.3M/s
2023-08-18 12:16:08,511 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
65276,48.25,16.370001,0,92500.0,100000000076570,0-20001-0-11035,270.899994,2001-01-01 18:00:00
65277,48.25,16.370001,0,94000.0,100000000076570,0-20001-0-11035,269.299988,2001-01-01 18:00:00
65278,48.25,16.370001,0,96400.0,100000000076570,0-20001-0-11035,271.145630,2001-01-01 18:00:00
65279,48.25,16.370001,0,98200.0,100000000076570,0-20001-0-11035,272.500000,2001-01-01 18:00:00
65280,48.25,16.370001,0,98700.0,100000000076570,0-20001-0-11035,272.299988,2001-01-01 18:00:00

2023-08-18 12:16:08,674 INFO Welcome to the CDS
2023-08-18 12:16:08,675 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:08,730 INFO Request is queued

y - testing:  [2000, 2001]

2023-08-18 12:16:09,758 INFO Request is completed
2023-08-18 12:16:09,758 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353769.6906717-12517-6-da551d25-aeea-4f08-af31-098cc875fcd8.zip to download.zip (595.1K)
2023-08-18 12:16:09,896 INFO Download rate 4.2M/s
2023-08-18 12:16:09,914 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
65276,48.25,16.370001,0,92500.0,100000000076570,0-20001-0-11035,270.899994,2001-01-01 18:00:00
65277,48.25,16.370001,0,94000.0,100000000076570,0-20001-0-11035,269.299988,2001-01-01 18:00:00
65278,48.25,16.370001,0,96400.0,100000000076570,0-20001-0-11035,271.145630,2001-01-01 18:00:00
65279,48.25,16.370001,0,98200.0,100000000076570,0-20001-0-11035,272.500000,2001-01-01 18:00:00
65280,48.25,16.370001,0,98700.0,100000000076570,0-20001-0-11035,272.299988,2001-01-01 18:00:00

2023-08-18 12:16:10,073 INFO Welcome to the CDS
2023-08-18 12:16:10,074 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:10,132 INFO Request is queued

y - testing:  0

2023-08-18 12:16:11,161 INFO Request is failed
2023-08-18 12:16:11,162 ERROR Message: an internal error occurred processing your request
2023-08-18 12:16:11,162 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:11,162 ERROR   Traceback (most recent call last):
2023-08-18 12:16:11,163 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:16:11,163 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:16:11,163 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:16:11,163 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:16:11,164 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:16:11,164 ERROR       return p(*args, **kwargs)
2023-08-18 12:16:11,165 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:16:11,165 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:16:11,165 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:16:11,165 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:16:11,165 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:16:11,166 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:11,189 INFO Welcome to the CDS
2023-08-18 12:16:11,189 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:11,243 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
y - testing:  20000

2023-08-18 12:16:12,271 INFO Request is failed
2023-08-18 12:16:12,272 ERROR Message: an internal error occurred processing your request
2023-08-18 12:16:12,272 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:12,272 ERROR   Traceback (most recent call last):
2023-08-18 12:16:12,273 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:16:12,273 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:16:12,273 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:16:12,273 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:16:12,273 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:16:12,274 ERROR       return p(*args, **kwargs)
2023-08-18 12:16:12,274 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:16:12,274 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:16:12,274 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:16:12,275 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:16:12,275 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:16:12,275 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:12,299 INFO Welcome to the CDS
2023-08-18 12:16:12,299 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:12,356 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
y - testing:  -2000

2023-08-18 12:16:13,385 INFO Request is failed
2023-08-18 12:16:13,385 ERROR Message: an internal error occurred processing your request
2023-08-18 12:16:13,386 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:13,386 ERROR   Traceback (most recent call last):
2023-08-18 12:16:13,386 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:16:13,387 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:16:13,387 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:16:13,387 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:16:13,387 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:16:13,388 ERROR       return p(*args, **kwargs)
2023-08-18 12:16:13,388 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:16:13,388 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:16:13,388 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:16:13,388 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:16:13,389 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:16:13,389 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:13,412 INFO Welcome to the CDS
2023-08-18 12:16:13,412 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:13,467 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
m - testing:  None

2023-08-18 12:16:14,495 INFO Request is completed
2023-08-18 12:16:14,496 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353774.3452196-12397-5-3c8546b3-4e43-408b-b0bb-1d81ccef123c.zip to download.zip (529.3K)
2023-08-18 12:16:14,631 INFO Download rate 3.8M/s
2023-08-18 12:16:14,673 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
59052,48.25,16.370001,0,94000.0,100000000076442,0-20001-0-11035,271.899994,2000-12-01 12:00:00
59053,48.25,16.370001,0,94900.0,100000000076442,0-20001-0-11035,272.299988,2000-12-01 12:00:00
59054,48.25,16.370001,0,95500.0,100000000076442,0-20001-0-11035,272.299988,2000-12-01 12:00:00
59055,48.25,16.370001,0,99200.0,100000000076442,0-20001-0-11035,274.200012,2000-12-01 12:00:00
59056,48.25,16.370001,0,99700.0,100000000076442,0-20001-0-11035,275.200012,2000-12-01 12:00:00

2023-08-18 12:16:14,821 INFO Welcome to the CDS
2023-08-18 12:16:14,822 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:14,876 INFO Request is queued

m - testing:  1

2023-08-18 12:16:15,905 INFO Request is completed
2023-08-18 12:16:15,906 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353775.2739944-12407-7-89f00bfc-ec31-4a62-9e96-44e1ca4e1434.zip to download.zip (30.5K)
2023-08-18 12:16:15,974 INFO Download rate 450.1K/s
2023-08-18 12:16:15,990 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
187,48.23,16.370001,0,91500.0,100000000075065,0-20001-0-11035,269.100006,2000-01-01 12:00:00
188,48.23,16.370001,0,92500.0,100000000075065,0-20001-0-11035,269.700012,2000-01-01 12:00:00
189,48.23,16.370001,0,95700.0,100000000075065,0-20001-0-11035,271.899994,2000-01-01 12:00:00
190,48.23,16.370001,0,97400.0,100000000075065,0-20001-0-11035,272.420837,2000-01-01 12:00:00
191,48.23,16.370001,0,100000.0,100000000075065,0-20001-0-11035,273.200012,2000-01-01 12:00:00

2023-08-18 12:16:16,053 INFO Welcome to the CDS
2023-08-18 12:16:16,054 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:16,112 INFO Request is queued

m - testing:  1

2023-08-18 12:16:17,140 INFO Request is completed
2023-08-18 12:16:17,141 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353776.4690344-12508-5-dc57bc20-fa34-4225-9a8f-31454c1258b0.zip to download.zip (30.5K)
2023-08-18 12:16:17,188 INFO Download rate 657.7K/s
2023-08-18 12:16:17,203 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
187,48.23,16.370001,0,91500.0,100000000075065,0-20001-0-11035,269.100006,2000-01-01 12:00:00
188,48.23,16.370001,0,92500.0,100000000075065,0-20001-0-11035,269.700012,2000-01-01 12:00:00
189,48.23,16.370001,0,95700.0,100000000075065,0-20001-0-11035,271.899994,2000-01-01 12:00:00
190,48.23,16.370001,0,97400.0,100000000075065,0-20001-0-11035,272.420837,2000-01-01 12:00:00
191,48.23,16.370001,0,100000.0,100000000075065,0-20001-0-11035,273.200012,2000-01-01 12:00:00

2023-08-18 12:16:17,265 INFO Welcome to the CDS
2023-08-18 12:16:17,266 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:17,407 INFO Request is completed
2023-08-18 12:16:17,407 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353764.938918-12419-7-c430353b-cd57-4888-9579-c43b93f3e5e4.zip to download.zip (30.5K)

m - testing:  01

2023-08-18 12:16:17,453 INFO Download rate 665.4K/s
2023-08-18 12:16:17,468 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
187,48.23,16.370001,0,91500.0,100000000075065,0-20001-0-11035,269.100006,2000-01-01 12:00:00
188,48.23,16.370001,0,92500.0,100000000075065,0-20001-0-11035,269.700012,2000-01-01 12:00:00
189,48.23,16.370001,0,95700.0,100000000075065,0-20001-0-11035,271.899994,2000-01-01 12:00:00
190,48.23,16.370001,0,97400.0,100000000075065,0-20001-0-11035,272.420837,2000-01-01 12:00:00
191,48.23,16.370001,0,100000.0,100000000075065,0-20001-0-11035,273.200012,2000-01-01 12:00:00

2023-08-18 12:16:17,531 INFO Welcome to the CDS
2023-08-18 12:16:17,532 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:17,586 INFO Request is queued

m - testing:  ['01', '02']

2023-08-18 12:16:18,616 INFO Request is completed
2023-08-18 12:16:18,616 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353778.0199294-12534-7-b65fc0ce-5183-4330-83d7-3d5ee36b21e4.zip to download.zip (76.6K)
2023-08-18 12:16:18,685 INFO Download rate 1.1M/s
2023-08-18 12:16:18,700 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
5610,48.23,16.370001,0,91400.0,100000000075200,0-20001-0-11035,281.600006,2000-02-01 12:00:00
5611,48.23,16.370001,0,92500.0,100000000075200,0-20001-0-11035,281.799988,2000-02-01 12:00:00
5612,48.23,16.370001,0,95700.0,100000000075200,0-20001-0-11035,282.799988,2000-02-01 12:00:00
5613,48.23,16.370001,0,99100.0,100000000075200,0-20001-0-11035,285.600006,2000-02-01 12:00:00
5614,48.23,16.370001,0,99800.0,100000000075200,0-20001-0-11035,287.200012,2000-02-01 12:00:00

2023-08-18 12:16:18,772 INFO Welcome to the CDS
2023-08-18 12:16:18,773 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:18,826 INFO Request is queued

m - testing:  ['1', '2']

2023-08-18 12:16:19,854 INFO Request is completed
2023-08-18 12:16:19,855 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353779.2526224-12559-6-78996023-2c16-464c-b24a-4fe39250d209.zip to download.zip (76.6K)
2023-08-18 12:16:19,929 INFO Download rate 1M/s
2023-08-18 12:16:19,946 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
5610,48.23,16.370001,0,91400.0,100000000075200,0-20001-0-11035,281.600006,2000-02-01 12:00:00
5611,48.23,16.370001,0,92500.0,100000000075200,0-20001-0-11035,281.799988,2000-02-01 12:00:00
5612,48.23,16.370001,0,95700.0,100000000075200,0-20001-0-11035,282.799988,2000-02-01 12:00:00
5613,48.23,16.370001,0,99100.0,100000000075200,0-20001-0-11035,285.600006,2000-02-01 12:00:00
5614,48.23,16.370001,0,99800.0,100000000075200,0-20001-0-11035,287.200012,2000-02-01 12:00:00

2023-08-18 12:16:20,017 INFO Welcome to the CDS
2023-08-18 12:16:20,017 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:20,068 INFO Request is queued

m - testing:  [1, 2]

2023-08-18 12:16:21,097 INFO Request is completed
2023-08-18 12:16:21,098 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353780.4679615-12547-4-8d84fb48-7404-4d29-8295-d7dae65206c4.zip to download.zip (76.6K)
2023-08-18 12:16:21,167 INFO Download rate 1.1M/s
2023-08-18 12:16:21,183 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
5610,48.23,16.370001,0,91400.0,100000000075200,0-20001-0-11035,281.600006,2000-02-01 12:00:00
5611,48.23,16.370001,0,92500.0,100000000075200,0-20001-0-11035,281.799988,2000-02-01 12:00:00
5612,48.23,16.370001,0,95700.0,100000000075200,0-20001-0-11035,282.799988,2000-02-01 12:00:00
5613,48.23,16.370001,0,99100.0,100000000075200,0-20001-0-11035,285.600006,2000-02-01 12:00:00
5614,48.23,16.370001,0,99800.0,100000000075200,0-20001-0-11035,287.200012,2000-02-01 12:00:00

2023-08-18 12:16:21,257 INFO Welcome to the CDS
2023-08-18 12:16:21,257 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:21,311 INFO Request is queued

m - testing:  00

2023-08-18 12:16:22,339 INFO Request is failed
2023-08-18 12:16:22,340 ERROR Message: an internal error occurred processing your request
2023-08-18 12:16:22,340 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:22,340 ERROR   Traceback (most recent call last):
2023-08-18 12:16:22,341 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:16:22,341 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:16:22,341 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:16:22,341 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:16:22,342 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:16:22,342 ERROR       return p(*args, **kwargs)
2023-08-18 12:16:22,342 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:16:22,342 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:16:22,343 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:16:22,343 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:16:22,343 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:16:22,343 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:22,367 INFO Welcome to the CDS
2023-08-18 12:16:22,367 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:22,419 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
m - testing:  0

2023-08-18 12:16:23,448 INFO Request is failed
2023-08-18 12:16:23,448 ERROR Message: an internal error occurred processing your request
2023-08-18 12:16:23,449 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:23,449 ERROR   Traceback (most recent call last):
2023-08-18 12:16:23,449 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:16:23,450 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:16:23,450 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:16:23,450 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:16:23,450 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:16:23,450 ERROR       return p(*args, **kwargs)
2023-08-18 12:16:23,451 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:16:23,451 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:16:23,451 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:16:23,451 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:16:23,452 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:16:23,452 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:23,475 INFO Welcome to the CDS
2023-08-18 12:16:23,475 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:23,525 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
m - testing:  13

2023-08-18 12:16:24,554 INFO Request is failed
2023-08-18 12:16:24,554 ERROR Message: an internal error occurred processing your request
2023-08-18 12:16:24,554 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:24,554 ERROR   Traceback (most recent call last):
2023-08-18 12:16:24,555 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:16:24,555 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:16:24,555 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:16:24,555 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:16:24,556 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:16:24,556 ERROR       return p(*args, **kwargs)
2023-08-18 12:16:24,556 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:16:24,556 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:16:24,557 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:16:24,557 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:16:24,557 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:16:24,557 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:24,580 INFO Welcome to the CDS
2023-08-18 12:16:24,581 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:24,662 INFO Request is completed
2023-08-18 12:16:24,663 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353764.938918-12419-7-c430353b-cd57-4888-9579-c43b93f3e5e4.zip to download.zip (30.5K)

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
d - testing:  01

2023-08-18 12:16:24,730 INFO Download rate 454.3K/s
2023-08-18 12:16:24,745 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
187,48.23,16.370001,0,91500.0,100000000075065,0-20001-0-11035,269.100006,2000-01-01 12:00:00
188,48.23,16.370001,0,92500.0,100000000075065,0-20001-0-11035,269.700012,2000-01-01 12:00:00
189,48.23,16.370001,0,95700.0,100000000075065,0-20001-0-11035,271.899994,2000-01-01 12:00:00
190,48.23,16.370001,0,97400.0,100000000075065,0-20001-0-11035,272.420837,2000-01-01 12:00:00
191,48.23,16.370001,0,100000.0,100000000075065,0-20001-0-11035,273.200012,2000-01-01 12:00:00

2023-08-18 12:16:24,887 INFO Welcome to the CDS
2023-08-18 12:16:24,888 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:24,940 INFO Request is queued

d - testing:  31

2023-08-18 12:16:25,970 INFO Request is completed
2023-08-18 12:16:25,971 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353785.3033063-12446-9-78b8387b-9f26-4bbb-b299-162133c8684a.zip to download.zip (28.5K)
2023-08-18 12:16:26,020 INFO Download rate 593.4K/s
2023-08-18 12:16:26,037 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,2870.0,100000000075194,0-20001-0-11035,203.500000,2000-01-31 00:00:00
1,48.23,16.370001,0,3000.0,100000000075194,0-20001-0-11035,202.500000,2000-01-31 00:00:00
2,48.23,16.370001,0,3420.0,100000000075194,0-20001-0-11035,204.261581,2000-01-31 00:00:00
3,48.23,16.370001,0,3750.0,100000000075194,0-20001-0-11035,205.500000,2000-01-31 00:00:00
4,48.23,16.370001,0,4000.0,100000000075194,0-20001-0-11035,201.972610,2000-01-31 00:00:00
...,...,...,...,...,...,...,...,...
159,48.23,16.370001,0,89200.0,100000000075196,0-20001-0-11035,276.799988,2000-01-31 12:00:00
160,48.23,16.370001,0,92500.0,100000000075196,0-20001-0-11035,279.200012,2000-01-31 12:00:00
161,48.23,16.370001,0,97400.0,100000000075196,0-20001-0-11035,283.399994,2000-01-31 12:00:00
162,48.23,16.370001,0,99000.0,100000000075196,0-20001-0-11035,285.000000,2000-01-31 12:00:00
163,48.23,16.370001,0,99100.0,100000000075196,0-20001-0-11035,285.000000,2000-01-31 12:00:00

2023-08-18 12:16:26,102 INFO Welcome to the CDS
2023-08-18 12:16:26,102 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:26,153 INFO Request is queued

d - testing:  ['01', '02']

2023-08-18 12:16:27,183 INFO Request is completed
2023-08-18 12:16:27,183 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353786.5111442-12419-8-86c4222b-eba4-421b-b025-bd233b4b29cb.zip to download.zip (30.5K)
2023-08-18 12:16:27,231 INFO Download rate 643.2K/s
2023-08-18 12:16:27,247 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
372,48.23,16.370001,0,97800.0,100000000075069,0-20001-0-11035,273.600006,2000-01-02 12:00:00
373,48.23,16.370001,0,98300.0,100000000075069,0-20001-0-11035,271.500000,2000-01-02 12:00:00
374,48.23,16.370001,0,99100.0,100000000075069,0-20001-0-11035,271.100006,2000-01-02 12:00:00
375,48.23,16.370001,0,100000.0,100000000075069,0-20001-0-11035,271.700012,2000-01-02 12:00:00
376,48.23,16.370001,0,100400.0,100000000075069,0-20001-0-11035,272.100006,2000-01-02 12:00:00

2023-08-18 12:16:27,312 INFO Welcome to the CDS
2023-08-18 12:16:27,313 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:27,368 INFO Request is queued

d - testing:  ['1', '2']

2023-08-18 12:16:28,398 INFO Request is completed
2023-08-18 12:16:28,399 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353787.7552226-12487-7-f0bc585d-ce9c-4c13-b943-d092b983a565.zip to download.zip (30.5K)
2023-08-18 12:16:28,446 INFO Download rate 643.1K/s
2023-08-18 12:16:28,460 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
372,48.23,16.370001,0,97800.0,100000000075069,0-20001-0-11035,273.600006,2000-01-02 12:00:00
373,48.23,16.370001,0,98300.0,100000000075069,0-20001-0-11035,271.500000,2000-01-02 12:00:00
374,48.23,16.370001,0,99100.0,100000000075069,0-20001-0-11035,271.100006,2000-01-02 12:00:00
375,48.23,16.370001,0,100000.0,100000000075069,0-20001-0-11035,271.700012,2000-01-02 12:00:00
376,48.23,16.370001,0,100400.0,100000000075069,0-20001-0-11035,272.100006,2000-01-02 12:00:00

2023-08-18 12:16:28,524 INFO Welcome to the CDS
2023-08-18 12:16:28,524 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:28,578 INFO Request is queued

d - testing:  [1, 2]

2023-08-18 12:16:29,607 INFO Request is completed
2023-08-18 12:16:29,607 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353788.9377613-12517-7-49361866-2262-4216-a981-9fb58395c0d7.zip to download.zip (30.5K)
2023-08-18 12:16:29,654 INFO Download rate 656.3K/s
2023-08-18 12:16:29,668 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,100000000075063,0-20001-0-11035,211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,660.0,100000000075063,0-20001-0-11035,209.174515,2000-01-01 00:00:00
2,48.23,16.370001,0,760.0,100000000075063,0-20001-0-11035,206.500000,2000-01-01 00:00:00
3,48.23,16.370001,0,1000.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1030.0,100000000075063,0-20001-0-11035,205.899994,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
372,48.23,16.370001,0,97800.0,100000000075069,0-20001-0-11035,273.600006,2000-01-02 12:00:00
373,48.23,16.370001,0,98300.0,100000000075069,0-20001-0-11035,271.500000,2000-01-02 12:00:00
374,48.23,16.370001,0,99100.0,100000000075069,0-20001-0-11035,271.100006,2000-01-02 12:00:00
375,48.23,16.370001,0,100000.0,100000000075069,0-20001-0-11035,271.700012,2000-01-02 12:00:00
376,48.23,16.370001,0,100400.0,100000000075069,0-20001-0-11035,272.100006,2000-01-02 12:00:00

2023-08-18 12:16:29,732 INFO Welcome to the CDS
2023-08-18 12:16:29,732 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:29,785 INFO Request is queued

d - testing:  00

2023-08-18 12:16:30,814 INFO Request is failed
2023-08-18 12:16:30,815 ERROR Message: an internal error occurred processing your request
2023-08-18 12:16:30,816 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:30,816 ERROR   Traceback (most recent call last):
2023-08-18 12:16:30,816 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:16:30,817 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:16:30,817 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:16:30,818 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:16:30,818 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:16:30,818 ERROR       return p(*args, **kwargs)
2023-08-18 12:16:30,819 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:16:30,819 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:16:30,819 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:16:30,820 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:16:30,820 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:16:30,821 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:30,845 INFO Welcome to the CDS
2023-08-18 12:16:30,845 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:30,899 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
d - testing:  0

2023-08-18 12:16:31,927 INFO Request is failed
2023-08-18 12:16:31,928 ERROR Message: an internal error occurred processing your request
2023-08-18 12:16:31,929 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:31,929 ERROR   Traceback (most recent call last):
2023-08-18 12:16:31,929 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:16:31,930 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:16:31,930 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:16:31,931 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:16:31,931 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:16:31,931 ERROR       return p(*args, **kwargs)
2023-08-18 12:16:31,932 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:16:31,932 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:16:31,933 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:16:31,933 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:16:31,933 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:16:31,934 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:31,958 INFO Welcome to the CDS
2023-08-18 12:16:31,958 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:32,011 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
d - testing:  32

2023-08-18 12:16:33,040 INFO Request is failed
2023-08-18 12:16:33,041 ERROR Message: an internal error occurred processing your request
2023-08-18 12:16:33,041 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:33,042 ERROR   Traceback (most recent call last):
2023-08-18 12:16:33,042 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:16:33,042 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:16:33,042 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:16:33,042 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:16:33,043 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:16:33,043 ERROR       return p(*args, **kwargs)
2023-08-18 12:16:33,043 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:16:33,043 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:16:33,044 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:16:33,044 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:16:33,044 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:16:33,044 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:33,067 INFO Welcome to the CDS
2023-08-18 12:16:33,068 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:33,118 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
ymd - testing: finished
20300 - testing:  area

2023-08-18 12:16:34,147 INFO Request is running
2023-08-18 12:16:35,676 INFO Request is completed
2023-08-18 12:16:35,676 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353794.9393978-12397-6-96fdf519-e87e-4f2b-aaa1-de3fd8bfaea9.zip to download.zip (921.9K)
2023-08-18 12:16:35,856 INFO Download rate 5M/s
2023-08-18 12:16:35,921 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,-77.730003,-41.119999,0,3000.0,200000000000002,0-20300-0-57401,224.949997,1957-03-15 18:00:00
1,-77.730003,-41.119999,0,4000.0,200000000000002,0-20300-0-57401,225.449997,1957-03-15 18:00:00
2,-77.730003,-41.119999,0,5000.0,200000000000002,0-20300-0-57401,225.850006,1957-03-15 18:00:00
3,-77.730003,-41.119999,0,6000.0,200000000000002,0-20300-0-57401,226.250000,1957-03-15 18:00:00
4,-77.730003,-41.119999,0,7000.0,200000000000002,0-20300-0-57401,226.050003,1957-03-15 18:00:00
...,...,...,...,...,...,...,...,...
101643,-77.730011,-41.119999,0,85000.0,200000000002459,0-20300-0-57401,261.399994,1962-11-30 12:00:00
101644,-77.730011,-41.119999,0,90000.0,200000000002459,0-20300-0-57401,261.399994,1962-11-30 12:00:00
101645,-77.730011,-41.119999,0,92500.0,200000000002459,0-20300-0-57401,260.386475,1962-11-30 12:00:00
101646,-77.730011,-41.119999,0,95000.0,200000000002459,0-20300-0-57401,259.399994,1962-11-30 12:00:00
101647,-77.730011,-41.119999,0,98700.0,200000000002459,0-20300-0-57401,260.399994,1962-11-30 12:00:00

2023-08-18 12:16:36,140 INFO Welcome to the CDS
2023-08-18 12:16:36,140 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:36,193 INFO Request is queued

20300 - testing:  20300*

2023-08-18 12:16:37,221 INFO Request is failed
2023-08-18 12:16:37,222 ERROR Message: an internal error occurred processing your request
2023-08-18 12:16:37,222 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:37,222 ERROR   Traceback (most recent call last):
2023-08-18 12:16:37,223 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2023-08-18 12:16:37,223 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2023-08-18 12:16:37,223 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2023-08-18 12:16:37,224 ERROR       result = proc(context, *context.args, **context.kwargs)
2023-08-18 12:16:37,224 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2023-08-18 12:16:37,224 ERROR       return p(*args, **kwargs)
2023-08-18 12:16:37,224 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2023-08-18 12:16:37,224 ERROR       return self.proc(context, *args, **kwargs)
2023-08-18 12:16:37,225 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 93, in retrieve
2023-08-18 12:16:37,225 ERROR       f'When calling {res.request.url}\n ' \
2023-08-18 12:16:37,225 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2023-08-18 12:16:37,225 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2023-08-18 12:16:37,249 INFO Welcome to the CDS
2023-08-18 12:16:37,249 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:37,301 INFO Request is queued

20300 - testing: finished
cds - testing:  era5fb/date@hdr

2023-08-18 12:16:38,330 INFO Request is completed
2023-08-18 12:16:38,330 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353797.7214332-12508-6-ff1b3ebb-e775-426d-b34c-f96322d062d1.zip to download.zip (35K)
2023-08-18 12:16:38,398 INFO Download rate 513.9K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.03 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | date@hdr_____________________________________ : : (411,)
 - V | lat__________________________________________ : : (411,)
 - V | lon__________________________________________ : : (411,)
 - V | obs__________________________________________ : : (411,)
 - V | plev_________________________________________ : : (411,)
 - V | report_id____________________________________ : : (411, 21)
 - V | station_id___________________________________ : : (411, 15)
 - V | ta___________________________________________ : : (411,)
 - V | time_________________________________________ : : (411,)

2023-08-18 12:16:38,466 INFO Welcome to the CDS
2023-08-18 12:16:38,466 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:38,516 INFO Request is queued

cds - testing:  sensor_configuration/comments

2023-08-18 12:16:39,544 INFO Request is completed
2023-08-18 12:16:39,545 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353798.8908918-12534-8-9cceec86-6eda-40a4-9fdd-f612a27247ae.zip to download.zip (677.3K)
2023-08-18 12:16:39,724 INFO Download rate 3.7M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.66 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (411,)
 - V | lon__________________________________________ : : (411,)
 - V | obs__________________________________________ : : (411,)
 - V | plev_________________________________________ : : (411,)
 - V | report_id____________________________________ : : (411, 21)
 - G | sensor_configuration_________________________ : : 1
 - V | station_id___________________________________ : : (411, 15)
 - V | ta___________________________________________ : : (411,)
 - V | time_________________________________________ : : (411,)

2023-08-18 12:16:39,831 INFO Welcome to the CDS
2023-08-18 12:16:39,832 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:39,884 INFO Request is queued

cds - testing:  sensor_configuration/observing_method

2023-08-18 12:16:40,913 INFO Request is completed
2023-08-18 12:16:40,913 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1692353800.2765396-12559-7-ca77f066-a70c-4ec1-96bf-2b7c23fe8ff3.zip to download.zip (59.5K)
2023-08-18 12:16:40,982 INFO Download rate 867.7K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.06 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (411,)
 - V | lon__________________________________________ : : (411,)
 - V | obs__________________________________________ : : (411,)
 - V | plev_________________________________________ : : (411,)
 - V | report_id____________________________________ : : (411, 21)
 - G | sensor_configuration_________________________ : : 1
 - V | station_id___________________________________ : : (411, 15)
 - V | ta___________________________________________ : : (411,)
 - V | time_________________________________________ : : (411,)

2023-08-18 12:16:41,053 INFO Welcome to the CDS
2023-08-18 12:16:41,054 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:41,105 INFO Request is queued

cds - testing:  header_table/location_accuracy

2023-08-18 12:16:42,134 INFO Request is completed
2023-08-18 12:16:42,135 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353801.4687335-12547-5-bde690a1-1487-4669-b7c7-1007d5ef4479.zip to download.zip (33.3K)
2023-08-18 12:16:42,202 INFO Download rate 493K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.03 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - G | header_table_________________________________ : : 0
 - V | lat__________________________________________ : : (411,)
 - V | lon__________________________________________ : : (411,)
 - V | obs__________________________________________ : : (411,)
 - V | plev_________________________________________ : : (411,)
 - V | report_id____________________________________ : : (411, 21)
 - V | station_id___________________________________ : : (411, 15)
 - V | ta___________________________________________ : : (411,)
 - V | time_________________________________________ : : (411,)

2023-08-18 12:16:42,273 INFO Welcome to the CDS
2023-08-18 12:16:42,274 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:42,329 INFO Request is queued

cds - testing:  crs

2023-08-18 12:16:43,358 INFO Request is completed
2023-08-18 12:16:43,359 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353802.7078276-12551-4-a73ab28b-3e3f-4403-8fb7-fc0986885817.zip to download.zip (35K)
2023-08-18 12:16:43,406 INFO Download rate 741.3K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.03 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - G | crs__________________________________________ : : 5
 - V | lat__________________________________________ : : (411,)
 - V | lon__________________________________________ : : (411,)
 - V | obs__________________________________________ : : (411,)
 - V | plev_________________________________________ : : (411,)
 - V | report_id____________________________________ : : (411, 21)
 - V | station_id___________________________________ : : (411, 15)
 - V | ta___________________________________________ : : (411,)
 - V | time_________________________________________ : : (411,)

2023-08-18 12:16:43,478 INFO Welcome to the CDS
2023-08-18 12:16:43,478 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:43,530 INFO Request is queued

cds - testing:  observations_table/location_method

2023-08-18 12:16:44,559 INFO Request is completed
2023-08-18 12:16:44,559 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353804.071385-12393-5-17e893cc-b7e8-465c-a152-ecfa0805c087.zip to download.zip (35.1K)
2023-08-18 12:16:44,606 INFO Download rate 758.8K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.03 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (411,)
 - V | location_method______________________________ : : (411,)
 - V | lon__________________________________________ : : (411,)
 - V | obs__________________________________________ : : (411,)
 - V | plev_________________________________________ : : (411,)
 - V | report_id____________________________________ : : (411, 21)
 - V | station_id___________________________________ : : (411, 15)
 - V | ta___________________________________________ : : (411,)
 - V | time_________________________________________ : : (411,)

2023-08-18 12:16:44,680 INFO Welcome to the CDS
2023-08-18 12:16:44,681 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2023-08-18 12:16:44,733 INFO Request is queued

cds - testing:  era5fb/obsvalue@body

2023-08-18 12:16:45,762 INFO Request is completed
2023-08-18 12:16:45,763 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1692353805.090471-12475-6-1305f741-f13a-42d0-9a80-ce965a9d5f3e.zip to download.zip (32.5K)
2023-08-18 12:16:45,809 INFO Download rate 700.4K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.03 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (411,)
 - V | lon__________________________________________ : : (411,)
 - V | obs__________________________________________ : : (411,)
 - V | plev_________________________________________ : : (411,)
 - V | report_id____________________________________ : : (411, 21)
 - V | station_id___________________________________ : : (411, 15)
 - V | ta___________________________________________ : : (411,)
 - V | time_________________________________________ : : (411,)

cdm - testing: finished