In [1]:
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
from datetime import date
warnings.filterwarnings('ignore')

sys.path.append(os.getcwd()+'/../cds-backend/code/')
import cds_eua3 as eua

In [2]:
def request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.nc')
    
    with eua.CDMDataset(files[0]) as f:
        data = f.to_dataframe()
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [3]:
def csv_request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.csv*')
    
    data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [4]:
def cdmrequest(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.nc')
    
    data = eua.CDMDataset(files[0])
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [5]:
#
# returns the whole dataframe instead of just the first bit whenever there are more files retrieved from the cds
# only relevant, if you would like to have a look at the data
#
def multi_request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test2/')
    z.close()
    
    datalist = []
    files = glob.glob('./test2/*.nc')
    with eua.CDMDataset(files[0]) as f:
        data = f.to_dataframe()
    if len(files) > 0:
        for i in files[1:]:
            with eua.CDMDataset(i) as f:
                add = f.to_dataframe()
            data = data.append(add, ignore_index=True)
#     if len(files) > 0:
#         for i in range(len(files)):
#             ds = xarray.open_dataset(files[i])            
#             to_be_removed = ['trajectory_index', 'trajectory']
#             for ivar in list(ds.variables):
#                 if 'string' in ivar:
#                     to_be_removed.append(ivar)

#                 if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
#                     report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
#                     ds = ds.drop_vars(ivar)
#                     ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???

#                 if ds[ivar].ndim > 1:
#                     tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
#                     ds = ds.drop_vars(ivar)
#                     idim = tmp.dims[0]
#                     ds[ivar] = (idim, tmp)

#             ds = ds.drop_vars(to_be_removed)
#             data = ds.to_dataframe()
#             datalist.append(data)
#         data = pd.concat(datalist, axis=0)
#     else:
#         files = glob.glob('./test2/*.csv')
#         data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test2/')
    except:
       print('Error while deleting directory')
    
    return data

In [6]:
def test_statid():
    log = []
    log.append('\n\n---STATID---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'all', 11035, '11035', '0-20001-0-11035', '0-20100-0-00701','11*', '1103*', '0-20100*', ['11035', 10393], ['0-20001-0-11035', '0-20001-0-10393']]:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            print(rd)
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['110350', '1103', '0-20000-0-1103', '0-20000-0-110350']:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        }
        try: 
            print(rd)
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('statid - testing: finished')
    return log

In [7]:
def test_variable():
    log = []
    log.append('\n\n---VARIABLE---')
    cachworkaround = np.random.random_sample()
    for s in ['air_temperature','dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['temperature', 'dew_point', 'wind', 'humidity', 'sonde_type']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('variable - testing: finished')
    return log

In [8]:
def test_optional():
    log = []
    log.append('\n\n---OPTIONAL---')
    cachworkaround = np.random.random_sample()
    for s in ['sonde_type', 'bias_estimate', 'obs_minus_an', 'obs_minus_bg']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['11035'], # '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ ' - ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['sonde', 'air_temperature', 'dew_point_temperature']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['11035'],# '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [9]:
def test_area():
    log = []
    log.append('\n\n---AREA---')
    cachworkaround = np.random.random_sample()
    for s in [[80,140,-40,359], [49,16,48,17], [49,-180,48,180], [49,0,48,360], [90, -180, -90, 180]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [[80,140,70], [80,140,70,150,0],[0,0,0,0], [40,20,50,0], [49,-180,48,360]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('area - testing: finished')
    return log

In [10]:
def test_country():
    log = []
    log.append('\n\n---COUNTRY---')
    cachworkaround = np.random.random_sample()
    for s in ['GLOBE', 'ALL', 'NOR', ["NOR","DEU"]]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['NORWAY', 'nor',]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('country - testing: finished')
    return log

In [11]:
def test_date(): 
    log = []
    log.append('\n\n---DATE---')
    cachworkaround = np.random.random_sample()
    for s in [None, '20000231', '20000101', '20000101-20000201', ['20000101', '20000103', '20000106'], ['20000102', '20000101']]:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['2000011', '20000100', '00000000', '20000132', '20001301', '20000201-20000101', '20000101/20000201']:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('date - testing: finished')
    return log

In [12]:
def test_period(): 
    log = []
    log.append('\n\n---PERIOD---')
    # not working: ['1979-01-01/1980-08-16']
    cachworkaround = np.random.random_sample()
    for s in [None, '1979-01-01/1980-08-16']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['1980-01-02/1980-01-01']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('period - testing: finished')
    return log

In [13]:
def test_pressure_level():
    log = []
    log.append('\n\n---PRESSURE LEVEL---')
    cachworkaround = np.random.random_sample()
    for s in [100, '100', [100, 200], ['100', '200']]:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    for s in ['0', '2000']:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    print('pressure_level - testing: finished')
    return log

In [14]:
def test_time():
    log = []
    log.append('\n\n---TIME---')
    cachworkaround = np.random.random_sample()
    for s in [[22,23,0,1,2,3], ["22","23","00","01","02","03"], '', '0', '00', ["00"], [0,12], ["0","12"]]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
#             'da': False,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['24', '25', '12.5', ]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
#             'da': False,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('time - testing: finished')
    return log

In [15]:
def test_format():
    log = []
    log.append('\n\n---FORMAT---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'nc']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['csv',]:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(csv_request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['netcdf', 'csb', 'txt']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('format - testing: finished')
    return log

In [16]:
def test_ymd():
    log = []
    # if one of them is None -> no date selected = the whole dataset - change?
    cachworkaround = np.random.random_sample()
    log.append('\n\n---YEAR---')
    for s in [None, 2000, '2000', ['2000', '2001'], [2000, 2001]]:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [0, '20000', '-2000']:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---MONTH---')
    for s in [None, 1, '1', '01', ['01', '02'], ['1', '2'], [1, 2]]:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '13']:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---DAY---')
    for s in ['01', '31', ['01', '02'], ['1', '2'], [1, 2]]:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '32']:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('ymd - testing: finished')
    return log

In [17]:
def test_size():
    log = []
    log.append('\n\n---SIZE---')
    cachworkaround = np.random.random_sample()
    s = 'air_temperature 11035'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'air_temperature 10393'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '10393',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = 'air_temperature 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    s = 'air_temperature everything'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'all variables 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed'],
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('size - testing: finished')
    return log

In [18]:
def test_20300():
    log = []
    log.append('\n\n---20300---')
    cachworkaround = np.random.random_sample()
    s = 'country'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'country': 'KAZ',
        'date': '20191230-20191231',
        'cachworkaround': cachworkaround,
    } 
    try:
        check_data = multi_request(rd)
#         check_data = check_data[check_data.lat == 50][check_data.lon == 50]
        display(check_data)
        if(len(check_data) < 1):
            log.append('\n0 request failed: ' + str(s))
        else:
            log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'area'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'area': [-77,-42,-78,-41],
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = '20300*'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '0-20300*',
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('20300 - testing: finished')
    return log

In [19]:
def test_optional():
    log = []
    log.append('\n\n---optional---')
    cachworkaround = np.random.random_sample()
    s = ['sonde_type', 'bias_estimate','obs_minus_an','obs_minus_bg',
         'RISE_bias_estimate', 'RICH_bias_estimate', 'RASE_bias_estimate', 'RAOBCORE_bias_estimate', 
         'desroziers_30', 'desroziers_60', 'desroziers_90', 'desroziers_180', 
         'wind_bias_estimate', 'humidity_bias_estimate']
    var = ['temperature', 'temperature', 'temperature', 'temperature',
           'temperature', 'temperature', 'temperature', 'temperature',
           'temperature', 'temperature', 'temperature', 'temperature',
           'u_component_of_wind', 'relative_humidity']
    for i in range(len(s)):
        print('optional - testing: ', s[i])
        rd={
            'variable': var[i],
            'statid': '11035',
            'optional': s[i],
            'date': '20191230-20191231',
            'cachworkaround': cachworkaround,
        } 
        try:
            check_data = request(rd)
            display(check_data)
            if(len(check_data) < 1):
                log.append('\n0 request failed: ' + str(s[i]))
            else:
                log.append('\n1 request successful: ' + str(s[i]))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [20]:
def test_toolbox():
    log = []
    log.append('\n\n---toolbox---')
    cachworkaround = np.random.random_sample()
    s = 'bias_estimate'
    print('toolbox - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'optional': s,
        'toolbox': 'True',
        'date': '20191230-20191231',
        'cachworkaround': cachworkaround,
    } 
    try:
        check_data = request(rd)
        display(check_data)
        if(len(check_data) < 1):
            log.append('\n0 request failed: ' + str(s))
        else:
            log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('toolbox - testing: finished')
    return log

In [21]:
def test_cdm():
    log = []
    log.append('\n\n---cdm---')
    cachworkaround = np.random.random_sample()
    s = ['era5fb/date@hdr', 'sensor_configuration/comments', 'sensor_configuration/observing_method', 'header_table/location_accuracy',
         'crs', 'observations_table/location_method', 'era5fb/obsvalue@body']
    for i in s:
        print('cds - testing: ', i)
        rd={
            'variable': 'temperature',
            'statid': '11035',
            'cdm': [i],
            'date': '20191230-20191231',
            'cachworkaround': cachworkaround,
        } 
        try:
            check_data = cdmrequest(rd)
            display(check_data)
            if(len(check_data['lat'][:]) < 1):
                log.append('\n0 request failed: ' + str(i))
            else:
                log.append('\n1 request successful: ' + str(i))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('cdm - testing: finished')
    return log

In [22]:
def server_test():
    log = []
    log.append('Testing Server Requests \n')
    log.append('0 = failed | 1 = succeeded \n')
    a = !git rev-parse HEAD
    log.append('GIT revision: ' + str(a) + ' \n')
    log.append(str(date.today())+ ' \n')
    try: log.extend(test_statid())
    except: log.append('\nstatid - test: failed \n')
    try: log.extend(test_variable())
    except: log.append('\nvariable - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_area())
    except: log.append('\narea - test: failed \n')
    try: log.extend(test_country())
    except: log.append('\ncountry - test: failed \n')
    try: log.extend(test_date())
    except: log.append('\ndate - test: failed \n')
    try: log.extend(test_period())
    except: log.append('\nperiod - test: failed \n')
    try: log.extend(test_pressure_level())
    except: log.append('\npressure_level - test: failed \n')
    try: log.extend(test_time())
    except: log.append('\ntime - test: failed \n')
    try: log.extend(test_format())
    except: log.append('\nformat - test: failed \n')
    try: log.extend(test_ymd())
    except: log.append('\nymd - test: failed \n')
    log.append('\nsize - test: disabled \n')
#     try: log.extend(test_size())
#     except: log.append('\nsize - test: failed \n')
    try: log.extend(test_20300())
    except: log.append('\n20300 - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_toolbox())
    except: log.append('\ntoolbox - test: failed \n')
    try: log.extend(test_cdm())
    except: log.append('\ncdm - test: failed \n')
        
    writelog=open(str(date.today()) + '_server_test_log.txt','w')
    writelog.writelines(log)
    writelog.close()

In [23]:
server_test()

2022-04-20 09:28:57,300 INFO Welcome to the CDS
2022-04-20 09:28:57,302 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:28:57,376 INFO Request is queued

statid - testing:  None
{'variable': 'air_temperature', 'statid': None, 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:28:58,411 INFO Request is running
2022-04-20 09:29:10,744 INFO Request is completed
2022-04-20 09:29:10,745 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439746.116944-28297-6-d9bd1086-7167-4c5d-aa05-7ff156cb01b4.zip to download.zip (46.1M)
2022-04-20 09:29:11,637 INFO Download rate 51.8M/s
2022-04-20 09:29:12,085 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,50.23,-119.279999,0,1700.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
1,50.23,-119.279999,0,2000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
2,50.23,-119.279999,0,2100.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
3,50.23,-119.279999,0,2600.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
4,50.23,-119.279999,0,3000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2094,50.23,-119.279999,0,80200.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2095,50.23,-119.279999,0,83300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2096,50.23,-119.279999,0,85000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2097,50.23,-119.279999,0,91800.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2098,50.23,-119.279999,0,96300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:29:12,238 INFO Welcome to the CDS
2022-04-20 09:29:12,239 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:12,290 INFO Request is queued

statid - testing:  all
{'variable': 'air_temperature', 'statid': 'all', 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:13,324 INFO Request is running
2022-04-20 09:29:25,656 INFO Request is completed
2022-04-20 09:29:25,657 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439760.9203284-28193-6-ac29cc6e-f108-43b2-a3b8-cf3a5e0f63e4.zip to download.zip (46.1M)
2022-04-20 09:29:26,487 INFO Download rate 55.6M/s
2022-04-20 09:29:26,657 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,50.23,-119.279999,0,1700.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
1,50.23,-119.279999,0,2000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
2,50.23,-119.279999,0,2100.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
3,50.23,-119.279999,0,2600.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
4,50.23,-119.279999,0,3000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2094,50.23,-119.279999,0,80200.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2095,50.23,-119.279999,0,83300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2096,50.23,-119.279999,0,85000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2097,50.23,-119.279999,0,91800.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2098,50.23,-119.279999,0,96300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:29:26,758 INFO Welcome to the CDS
2022-04-20 09:29:26,759 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:26,810 INFO Request is queued

statid - testing:  11035
{'variable': 'air_temperature', 'statid': 11035, 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:27,845 INFO Request is completed
2022-04-20 09:29:27,847 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439767.7086504-28922-3-7722c34c-abb7-44c7-b7bd-c56a417ff6f9.zip to download.zip (56.5K)
2022-04-20 09:29:27,909 INFO Download rate 918.4K/s
2022-04-20 09:29:27,923 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00,nnnnnnnnnnn
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00,nnnnnnnnnnn
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00,nnnnnnnnnnn
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00,nnnnnnnnnnn
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:29:28,003 INFO Welcome to the CDS
2022-04-20 09:29:28,004 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:28,055 INFO Request is queued

statid - testing:  11035
{'variable': 'air_temperature', 'statid': '11035', 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:29,090 INFO Request is completed
2022-04-20 09:29:29,091 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439767.9873424-28355-9-ee9b816a-c60c-48f4-847e-e29afbf0fffd.zip to download.zip (56.5K)
2022-04-20 09:29:29,149 INFO Download rate 985.9K/s
2022-04-20 09:29:29,165 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00,nnnnnnnnnnn
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00,nnnnnnnnnnn
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00,nnnnnnnnnnn
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00,nnnnnnnnnnn
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:29:29,245 INFO Welcome to the CDS
2022-04-20 09:29:29,246 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:29,298 INFO Request is queued

statid - testing:  0-20001-0-11035
{'variable': 'air_temperature', 'statid': '0-20001-0-11035', 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:30,333 INFO Request is completed
2022-04-20 09:29:30,334 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439769.2103498-28438-9-776a21eb-1be1-48f7-b21c-013f9c3008e8.zip to download.zip (56.5K)
2022-04-20 09:29:30,396 INFO Download rate 929.5K/s
2022-04-20 09:29:30,410 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00,nnnnnnnnnnn
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00,nnnnnnnnnnn
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00,nnnnnnnnnnn
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00,nnnnnnnnnnn
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:29:30,494 INFO Welcome to the CDS
2022-04-20 09:29:30,495 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:30,547 INFO Request is queued

statid - testing:  0-20100-0-00701
{'variable': 'air_temperature', 'statid': '0-20100-0-00701', 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:31,582 INFO Request is completed
2022-04-20 09:29:31,583 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439770.4265077-28379-9-9d2b542d-4511-47bb-8bca-66a0a5d82396.zip to download.zip (64.5K)
2022-04-20 09:29:31,645 INFO Download rate 1M/s
2022-04-20 09:29:31,659 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,ta,time,trajectory_label
0,46.811578,6.942472,0,3000.0,0-20100-0-00701-001,213.35,1978-10-10 10:59:12,nnnnnnnnnnnnnnnnnnn
1,46.811578,6.942472,0,5000.0,0-20100-0-00701-001,210.85,1978-10-10 10:50:24,nnnnnnnnnnnnnnnnnnn
2,46.811578,6.942472,0,7000.0,0-20100-0-00701-001,209.15,1978-10-10 10:44:42,nnnnnnnnnnnnnnnnnnn
3,46.811578,6.942472,0,10000.0,0-20100-0-00701-001,207.85,1978-10-10 10:38:54,nnnnnnnnnnnnnnnnnnn
4,46.811578,6.942472,0,15000.0,0-20100-0-00701-001,205.55,1978-10-10 10:30:18,nnnnnnnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
584,46.811578,6.942472,0,40000.0,0-20100-0-00701-055,245.25,1978-10-31 10:10:30,nnnnnnnnnnnnnnnnnnn
585,46.811578,6.942472,0,50000.0,0-20100-0-00701-055,257.05,1978-10-31 10:04:42,nnnnnnnnnnnnnnnnnnn
586,46.811578,6.942472,0,70000.0,0-20100-0-00701-055,275.15,1978-10-31 09:55:06,nnnnnnnnnnnnnnnnnnn
587,46.811578,6.942472,0,85000.0,0-20100-0-00701-055,283.65,1978-10-31 09:48:54,nnnnnnnnnnnnnnnnnnn
588,46.811578,6.942472,0,90000.0,0-20100-0-00701-055,283.95,1978-10-31 09:47:00,nnnnnnnnnnnnnnnnnnn

2022-04-20 09:29:31,738 INFO Welcome to the CDS
2022-04-20 09:29:31,739 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:31,790 INFO Request is queued

statid - testing:  11*
{'variable': 'air_temperature', 'statid': '11*', 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:32,825 INFO Request is completed
2022-04-20 09:29:32,827 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439771.8962228-28589-9-f7f67130-3fad-48ac-bbde-9caf9f21dc34.zip to download.zip (187.1K)
2022-04-20 09:29:32,904 INFO Download rate 2.4M/s
2022-04-20 09:29:32,917 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,50.099998,14.28,0,5000.0,nnnnnnnnnnn,PRAHA-LIBUS,NaN,1978-10-01 05:00:00,nnnnnnnnnnn
1,50.099998,14.28,0,7000.0,nnnnnnnnnnn,PRAHA-LIBUS,NaN,1978-10-01 05:00:00,nnnnnnnnnnn
2,50.099998,14.28,0,10000.0,nnnnnnnnnnn,PRAHA-LIBUS,NaN,1978-10-01 05:00:00,nnnnnnnnnnn
3,50.099998,14.28,0,20000.0,nnnnnnnnnnn,PRAHA-LIBUS,NaN,1978-10-01 05:00:00,nnnnnnnnnnn
4,50.099998,14.28,0,30000.0,nnnnnnnnnnn,PRAHA-LIBUS,NaN,1978-10-01 05:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2999,50.000000,14.45,0,71200.0,nnnnnnnnnnn,PRAHA-LIBUS,NaN,1978-10-31 18:00:00,nnnnnnnnnnn
3000,50.000000,14.45,0,76300.0,nnnnnnnnnnn,PRAHA-LIBUS,NaN,1978-10-31 18:00:00,nnnnnnnnnnn
3001,50.000000,14.45,0,79200.0,nnnnnnnnnnn,PRAHA-LIBUS,NaN,1978-10-31 18:00:00,nnnnnnnnnnn
3002,50.000000,14.45,0,85000.0,nnnnnnnnnnn,PRAHA-LIBUS,NaN,1978-10-31 18:00:00,nnnnnnnnnnn
3003,50.000000,14.45,0,92900.0,nnnnnnnnnnn,PRAHA-LIBUS,NaN,1978-10-31 18:00:00,nnnnnnnnnnn

2022-04-20 09:29:33,005 INFO Welcome to the CDS
2022-04-20 09:29:33,006 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:33,058 INFO Request is queued

statid - testing:  1103*
{'variable': 'air_temperature', 'statid': '1103*', 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:34,092 INFO Request is completed
2022-04-20 09:29:34,093 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439773.3076637-28736-8-36b17b04-6047-48d5-bd94-052024d105ba.zip to download.zip (56.5K)
2022-04-20 09:29:34,152 INFO Download rate 983.7K/s
2022-04-20 09:29:34,167 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00,nnnnnnnnnnn
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00,nnnnnnnnnnn
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00,nnnnnnnnnnn
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00,nnnnnnnnnnn
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:29:34,254 INFO Welcome to the CDS
2022-04-20 09:29:34,255 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:34,306 INFO Request is queued

statid - testing:  0-20100*
{'variable': 'air_temperature', 'statid': '0-20100*', 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:35,342 INFO Request is running
2022-04-20 09:29:42,574 INFO Request is completed
2022-04-20 09:29:42,575 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439779.7894306-28725-8-2dc7f82c-ec39-463b-aa13-c09bed5f5bfa.zip to download.zip (169.9K)
2022-04-20 09:29:42,652 INFO Download rate 2.2M/s
2022-04-20 09:29:42,666 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,ta,time,trajectory_label
0,46.811578,6.942472,0,3000.0,0-20100-0-00701-001,213.35,1978-10-10 10:59:12,nnnnnnnnnnnnnnnnnnn
1,46.811578,6.942472,0,5000.0,0-20100-0-00701-001,210.85,1978-10-10 10:50:24,nnnnnnnnnnnnnnnnnnn
2,46.811578,6.942472,0,7000.0,0-20100-0-00701-001,209.15,1978-10-10 10:44:42,nnnnnnnnnnnnnnnnnnn
3,46.811578,6.942472,0,10000.0,0-20100-0-00701-001,207.85,1978-10-10 10:38:54,nnnnnnnnnnnnnnnnnnn
4,46.811578,6.942472,0,15000.0,0-20100-0-00701-001,205.55,1978-10-10 10:30:18,nnnnnnnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
584,46.811578,6.942472,0,40000.0,0-20100-0-00701-055,245.25,1978-10-31 10:10:30,nnnnnnnnnnnnnnnnnnn
585,46.811578,6.942472,0,50000.0,0-20100-0-00701-055,257.05,1978-10-31 10:04:42,nnnnnnnnnnnnnnnnnnn
586,46.811578,6.942472,0,70000.0,0-20100-0-00701-055,275.15,1978-10-31 09:55:06,nnnnnnnnnnnnnnnnnnn
587,46.811578,6.942472,0,85000.0,0-20100-0-00701-055,283.65,1978-10-31 09:48:54,nnnnnnnnnnnnnnnnnnn
588,46.811578,6.942472,0,90000.0,0-20100-0-00701-055,283.95,1978-10-31 09:47:00,nnnnnnnnnnnnnnnnnnn

2022-04-20 09:29:42,749 INFO Welcome to the CDS
2022-04-20 09:29:42,750 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:42,800 INFO Request is queued

statid - testing:  ['11035', 10393]
{'variable': 'air_temperature', 'statid': ['11035', 10393], 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:43,834 INFO Request is completed
2022-04-20 09:29:43,836 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439783.5618289-28827-7-e8f49a41-e1ff-4458-80c4-6adc204ba21f.zip to download.zip (127.4K)
2022-04-20 09:29:43,913 INFO Download rate 1.6M/s
2022-04-20 09:29:43,929 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00,nnnnnnnnnnn
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00,nnnnnnnnnnn
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00,nnnnnnnnnnn
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00,nnnnnnnnnnn
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:29:44,016 INFO Welcome to the CDS
2022-04-20 09:29:44,017 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:44,068 INFO Request is queued

statid - testing:  ['0-20001-0-11035', '0-20001-0-10393']
{'variable': 'air_temperature', 'statid': ['0-20001-0-11035', '0-20001-0-10393'], 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:45,103 INFO Request is completed
2022-04-20 09:29:45,105 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439784.4455075-28965-5-3457b62a-d19e-4a4c-bfba-6e7ac4e7f4bd.zip to download.zip (127.4K)
2022-04-20 09:29:45,180 INFO Download rate 1.7M/s
2022-04-20 09:29:45,195 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00,nnnnnnnnnnn
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00,nnnnnnnnnnn
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00,nnnnnnnnnnn
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00,nnnnnnnnnnn
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:29:45,282 INFO Welcome to the CDS
2022-04-20 09:29:45,284 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:45,335 INFO Request is queued

statid - testing:  110350
{'variable': 'air_temperature', 'statid': '110350', 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:46,370 INFO Request is failed
2022-04-20 09:29:46,371 ERROR Message: an internal error occurred processing your request
2022-04-20 09:29:46,372 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'
2022-04-20 09:29:46,373 ERROR   Traceback (most recent call last):
2022-04-20 09:29:46,374 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:29:46,375 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:29:46,376 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:29:46,377 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:29:46,377 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:29:46,378 ERROR       return p(*args, **kwargs)
2022-04-20 09:29:46,379 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:29:46,380 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:29:46,380 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:29:46,381 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:29:46,382 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:29:46,383 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'
2022-04-20 09:29:46,415 INFO Welcome to the CDS
2022-04-20 09:29:46,416 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:46,467 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'.
statid - testing:  1103
{'variable': 'air_temperature', 'statid': '1103', 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:47,502 INFO Request is failed
2022-04-20 09:29:47,503 ERROR Message: an internal error occurred processing your request
2022-04-20 09:29:47,504 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'
2022-04-20 09:29:47,504 ERROR   Traceback (most recent call last):
2022-04-20 09:29:47,505 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:29:47,506 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:29:47,506 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:29:47,507 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:29:47,507 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:29:47,508 ERROR       return p(*args, **kwargs)
2022-04-20 09:29:47,508 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:29:47,509 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:29:47,509 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:29:47,510 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:29:47,510 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:29:47,511 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'
2022-04-20 09:29:47,542 INFO Welcome to the CDS
2022-04-20 09:29:47,542 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:47,595 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'.
statid - testing:  0-20000-0-1103
{'variable': 'air_temperature', 'statid': '0-20000-0-1103', 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:48,629 INFO Request is failed
2022-04-20 09:29:48,630 ERROR Message: an internal error occurred processing your request
2022-04-20 09:29:48,631 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'
2022-04-20 09:29:48,632 ERROR   Traceback (most recent call last):
2022-04-20 09:29:48,632 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:29:48,633 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:29:48,634 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:29:48,634 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:29:48,635 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:29:48,636 ERROR       return p(*args, **kwargs)
2022-04-20 09:29:48,637 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:29:48,638 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:29:48,639 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:29:48,639 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:29:48,640 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:29:48,641 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'
2022-04-20 09:29:48,670 INFO Welcome to the CDS
2022-04-20 09:29:48,671 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:48,723 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'.
statid - testing:  0-20000-0-110350
{'variable': 'air_temperature', 'statid': '0-20000-0-110350', 'date': '19781001-19781031', 'cachworkaround': 0.36058110011688416}

2022-04-20 09:29:49,758 INFO Request is failed
2022-04-20 09:29:49,759 ERROR Message: an internal error occurred processing your request
2022-04-20 09:29:49,760 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'
2022-04-20 09:29:49,761 ERROR   Traceback (most recent call last):
2022-04-20 09:29:49,762 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:29:49,763 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:29:49,764 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:29:49,764 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:29:49,765 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:29:49,766 ERROR       return p(*args, **kwargs)
2022-04-20 09:29:49,767 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:29:49,768 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:29:49,769 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:29:49,769 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:29:49,770 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:29:49,771 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'
2022-04-20 09:29:49,803 INFO Welcome to the CDS
2022-04-20 09:29:49,804 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:49,858 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, specify either bbox, country or statid. Use \\"statid\\":\\"all\\" to select all stations "'.
statid - testing: finished
variable - testing:  air_temperature

2022-04-20 09:29:50,892 INFO Request is completed
2022-04-20 09:29:50,894 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650439789.7026517-28316-8-ce5722d6-9ded-4cb6-b547-883b564e1564.zip to download.zip (110.7K)
2022-04-20 09:29:50,979 INFO Download rate 1.3M/s
2022-04-20 09:29:50,995 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.250000,16.360001,0,910.0,10000051065,WIEN/HOHE WARTE (11035-1),214.899994,2015-01-01 12:00:00,nnnnnnnnnnn
1,48.250000,16.360001,0,980.0,10000051065,WIEN/HOHE WARTE (11035-1),215.899994,2015-01-01 12:00:00,nnnnnnnnnnn
2,48.250000,16.360001,0,1000.0,10000051065,WIEN/HOHE WARTE (11035-1),215.300003,2015-01-01 12:00:00,nnnnnnnnnnn
3,48.250000,16.360001,0,1120.0,10000051065,WIEN/HOHE WARTE (11035-1),215.100006,2015-01-01 12:00:00,nnnnnnnnnnn
4,48.250000,16.360001,0,1190.0,10000051065,WIEN/HOHE WARTE (11035-1),209.699997,2015-01-01 12:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
6096,48.248901,16.357300,0,85540.0,10000051145,WIEN/HOHE WARTE (11035-1),271.690002,2015-01-31 23:30:09,nnnnnnnnnnn
6097,48.248901,16.357300,0,91660.0,10000051145,WIEN/HOHE WARTE (11035-1),273.670013,2015-01-31 23:30:09,nnnnnnnnnnn
6098,48.248901,16.357300,0,92500.0,10000051145,WIEN/HOHE WARTE (11035-1),273.089996,2015-01-31 23:30:09,nnnnnnnnnnn
6099,48.248901,16.357300,0,94490.0,10000051145,WIEN/HOHE WARTE (11035-1),271.720001,2015-01-31 23:30:09,nnnnnnnnnnn
6100,48.248901,16.357300,0,96620.0,10000051145,WIEN/HOHE WARTE (11035-1),270.950012,2015-01-31 23:30:09,nnnnnnnnnnn

2022-04-20 09:29:51,095 INFO Welcome to the CDS
2022-04-20 09:29:51,097 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:51,149 INFO Request is queued

variable - testing:  dew_point_temperature

2022-04-20 09:29:52,184 INFO Request is completed
2022-04-20 09:29:52,186 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650439791.060581-28373-7-bb564fde-6ea5-4538-b9a6-97e4ecf5ce5a.zip to download.zip (110.2K)
2022-04-20 09:29:52,262 INFO Download rate 1.4M/s
2022-04-20 09:29:52,276 INFO Reading Profile on slice(None, None, None)

,dew_point_temperature,lat,lon,obs,plev,report_id,station_id,time,trajectory_label
0,187.899994,48.250000,16.360001,0,910.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
1,187.899994,48.250000,16.360001,0,980.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
2,187.300003,48.250000,16.360001,0,1000.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
3,187.100006,48.250000,16.360001,0,1120.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
4,184.699997,48.250000,16.360001,0,1190.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
6086,260.910004,48.248901,16.357300,0,85540.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6087,265.450012,48.248901,16.357300,0,91660.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6088,268.019989,48.248901,16.357300,0,92500.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6089,270.109985,48.248901,16.357300,0,94490.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6090,270.119995,48.248901,16.357300,0,96620.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn

2022-04-20 09:29:52,371 INFO Welcome to the CDS
2022-04-20 09:29:52,372 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:52,426 INFO Request is queued

variable - testing:  eastward_wind_speed

2022-04-20 09:29:53,461 INFO Request is completed
2022-04-20 09:29:53,463 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439792.3360648-28631-6-572a53c6-1b53-40cd-956c-a52a9adcf078.zip to download.zip (121.6K)
2022-04-20 09:29:53,542 INFO Download rate 1.5M/s
2022-04-20 09:29:53,555 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,trajectory_label,ua
0,48.250000,16.360001,0,910.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,27.712812
1,48.250000,16.360001,0,970.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,29.908157
2,48.250000,16.360001,0,1000.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,29.001850
3,48.250000,16.360001,0,1080.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,26.282927
4,48.250000,16.360001,0,1150.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,14.912988
...,...,...,...,...,...,...,...,...,...
6455,48.248901,16.357300,0,85540.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,0.881049
6456,48.248901,16.357300,0,91660.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,-1.667180
6457,48.248901,16.357300,0,92500.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,-1.180919
6458,48.248901,16.357300,0,94490.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,-0.985890
6459,48.248901,16.357300,0,96620.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,-0.087156

2022-04-20 09:29:53,654 INFO Welcome to the CDS
2022-04-20 09:29:53,655 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:53,707 INFO Request is queued

variable - testing:  northward_wind_speed

2022-04-20 09:29:54,742 INFO Request is completed
2022-04-20 09:29:54,743 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439793.9431407-29069-6-d24dbb6a-0f41-45da-bbc7-e4de0d0a945a.zip to download.zip (121.8K)
2022-04-20 09:29:54,826 INFO Download rate 1.5M/s
2022-04-20 09:29:54,840 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,trajectory_label,va
0,48.250000,16.360001,0,910.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,-16.000000
1,48.250000,16.360001,0,970.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,-13.946403
2,48.250000,16.360001,0,1000.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,-13.523785
3,48.250000,16.360001,0,1080.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,-12.255930
4,48.250000,16.360001,0,1150.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,-21.297953
...,...,...,...,...,...,...,...,...,...
6455,48.248901,16.357300,0,85540.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,1.088004
6456,48.248901,16.357300,0,91660.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,1.726416
6457,48.248901,16.357300,0,92500.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,1.222878
6458,48.248901,16.357300,0,94490.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,1.854190
6459,48.248901,16.357300,0,96620.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,-0.996195

2022-04-20 09:29:54,937 INFO Welcome to the CDS
2022-04-20 09:29:54,939 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:54,989 INFO Request is queued

variable - testing:  relative_humidity

2022-04-20 09:29:56,024 INFO Request is completed
2022-04-20 09:29:56,026 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439795.452662-28791-6-f08c668f-50ff-4769-9867-d048e3682e4a.zip to download.zip (116.5K)
2022-04-20 09:29:56,102 INFO Download rate 1.5M/s
2022-04-20 09:29:56,117 INFO Reading Profile on slice(None, None, None)

,hur,lat,lon,obs,plev,report_id,station_id,time,trajectory_label
0,0.018269,48.250000,16.360001,0,910.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
1,0.016112,48.250000,16.360001,0,980.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
2,0.015643,48.250000,16.360001,0,1000.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
3,0.015489,48.250000,16.360001,0,1120.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
4,0.020350,48.250000,16.360001,0,1190.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
6086,0.436065,48.248901,16.357300,0,85540.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6087,0.540391,48.248901,16.357300,0,91660.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6088,0.686344,48.248901,16.357300,0,92500.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6089,0.887677,48.248901,16.357300,0,94490.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6090,0.940241,48.248901,16.357300,0,96620.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn

2022-04-20 09:29:56,208 INFO Welcome to the CDS
2022-04-20 09:29:56,209 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:56,258 INFO Request is queued

variable - testing:  specific_humidity

2022-04-20 09:29:57,292 INFO Request is completed
2022-04-20 09:29:57,294 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439796.037351-28259-6-e991f389-4ffd-4f73-913d-7f94a34744d4.zip to download.zip (117.2K)
2022-04-20 09:29:57,369 INFO Download rate 1.5M/s
2022-04-20 09:29:57,383 INFO Reading Profile on slice(None, None, None)

,hus,lat,lon,obs,plev,report_id,station_id,time,trajectory_label
0,0.000029,48.250000,16.360001,0,910.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
1,0.000027,48.250000,16.360001,0,980.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
2,0.000024,48.250000,16.360001,0,1000.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
3,0.000020,48.250000,16.360001,0,1120.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
4,0.000012,48.250000,16.360001,0,1190.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
6086,0.001742,48.248901,16.357300,0,85540.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6087,0.002329,48.248901,16.357300,0,91660.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6088,0.002811,48.248901,16.357300,0,92500.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6089,0.003221,48.248901,16.357300,0,94490.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn
6090,0.003152,48.248901,16.357300,0,96620.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn

2022-04-20 09:29:57,482 INFO Welcome to the CDS
2022-04-20 09:29:57,483 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:57,539 INFO Request is queued

variable - testing:  wind_from_direction

2022-04-20 09:29:58,573 INFO Request is completed
2022-04-20 09:29:58,575 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439797.9971223-28879-4-8a24a3fc-dc42-4d74-969e-d25cb78b0a9e.zip to download.zip (109.3K)
2022-04-20 09:29:58,652 INFO Download rate 1.4M/s
2022-04-20 09:29:58,665 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,trajectory_label,wind_from_direction
0,48.250000,16.360001,0,910.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,300.0
1,48.250000,16.360001,0,970.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,295.0
2,48.250000,16.360001,0,1000.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,295.0
3,48.250000,16.360001,0,1080.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,295.0
4,48.250000,16.360001,0,1150.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,325.0
...,...,...,...,...,...,...,...,...,...
6455,48.248901,16.357300,0,85540.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,219.0
6456,48.248901,16.357300,0,91660.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,136.0
6457,48.248901,16.357300,0,92500.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,136.0
6458,48.248901,16.357300,0,94490.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,152.0
6459,48.248901,16.357300,0,96620.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,5.0

2022-04-20 09:29:58,763 INFO Welcome to the CDS
2022-04-20 09:29:58,765 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:29:58,819 INFO Request is queued

variable - testing:  wind_speed

2022-04-20 09:29:59,853 INFO Request is completed
2022-04-20 09:29:59,854 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439798.7073746-28488-9-7c117a81-0c06-486a-a1ce-3e50dfb9eb09.zip to download.zip (111.4K)
2022-04-20 09:29:59,931 INFO Download rate 1.4M/s
2022-04-20 09:29:59,944 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,trajectory_label,wind_speed
0,48.250000,16.360001,0,910.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,32.0
1,48.250000,16.360001,0,970.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,33.0
2,48.250000,16.360001,0,1000.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,32.0
3,48.250000,16.360001,0,1080.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,29.0
4,48.250000,16.360001,0,1150.0,10000051065,WIEN/HOHE WARTE (11035-1),2015-01-01 12:00:00,nnnnnnnnnnn,26.0
...,...,...,...,...,...,...,...,...,...
6455,48.248901,16.357300,0,85540.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,1.4
6456,48.248901,16.357300,0,91660.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,2.4
6457,48.248901,16.357300,0,92500.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,1.7
6458,48.248901,16.357300,0,94490.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,2.1
6459,48.248901,16.357300,0,96620.0,10000051145,WIEN/HOHE WARTE (11035-1),2015-01-31 23:30:09,nnnnnnnnnnn,1.0

2022-04-20 09:30:00,053 INFO Welcome to the CDS
2022-04-20 09:30:00,054 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

variable - testing:  temperature

2022-04-20 09:30:00,247 INFO Request is queued
2022-04-20 09:30:01,281 INFO Request is completed
2022-04-20 09:30:01,283 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650439789.7026517-28316-8-ce5722d6-9ded-4cb6-b547-883b564e1564.zip to download.zip (110.7K)
2022-04-20 09:30:01,360 INFO Download rate 1.4M/s
2022-04-20 09:30:01,374 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.250000,16.360001,0,910.0,10000051065,WIEN/HOHE WARTE (11035-1),214.899994,2015-01-01 12:00:00,nnnnnnnnnnn
1,48.250000,16.360001,0,980.0,10000051065,WIEN/HOHE WARTE (11035-1),215.899994,2015-01-01 12:00:00,nnnnnnnnnnn
2,48.250000,16.360001,0,1000.0,10000051065,WIEN/HOHE WARTE (11035-1),215.300003,2015-01-01 12:00:00,nnnnnnnnnnn
3,48.250000,16.360001,0,1120.0,10000051065,WIEN/HOHE WARTE (11035-1),215.100006,2015-01-01 12:00:00,nnnnnnnnnnn
4,48.250000,16.360001,0,1190.0,10000051065,WIEN/HOHE WARTE (11035-1),209.699997,2015-01-01 12:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
6096,48.248901,16.357300,0,85540.0,10000051145,WIEN/HOHE WARTE (11035-1),271.690002,2015-01-31 23:30:09,nnnnnnnnnnn
6097,48.248901,16.357300,0,91660.0,10000051145,WIEN/HOHE WARTE (11035-1),273.670013,2015-01-31 23:30:09,nnnnnnnnnnn
6098,48.248901,16.357300,0,92500.0,10000051145,WIEN/HOHE WARTE (11035-1),273.089996,2015-01-31 23:30:09,nnnnnnnnnnn
6099,48.248901,16.357300,0,94490.0,10000051145,WIEN/HOHE WARTE (11035-1),271.720001,2015-01-31 23:30:09,nnnnnnnnnnn
6100,48.248901,16.357300,0,96620.0,10000051145,WIEN/HOHE WARTE (11035-1),270.950012,2015-01-31 23:30:09,nnnnnnnnnnn

2022-04-20 09:30:01,471 INFO Welcome to the CDS
2022-04-20 09:30:01,472 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:01,524 INFO Request is queued

variable - testing:  dew_point

2022-04-20 09:30:02,558 INFO Request is failed
2022-04-20 09:30:02,560 ERROR Message: an internal error occurred processing your request
2022-04-20 09:30:02,562 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2022-04-20 09:30:02,563 ERROR   Traceback (most recent call last):
2022-04-20 09:30:02,563 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:30:02,564 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:30:02,564 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:30:02,564 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:30:02,565 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:30:02,566 ERROR       return p(*args, **kwargs)
2022-04-20 09:30:02,567 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:30:02,568 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:30:02,568 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:30:02,569 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:30:02,570 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:30:02,571 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2022-04-20 09:30:02,603 INFO Welcome to the CDS
2022-04-20 09:30:02,604 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:02,672 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'.
variable - testing:  wind

2022-04-20 09:30:03,707 INFO Request is failed
2022-04-20 09:30:03,708 ERROR Message: an internal error occurred processing your request
2022-04-20 09:30:03,709 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2022-04-20 09:30:03,710 ERROR   Traceback (most recent call last):
2022-04-20 09:30:03,711 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:30:03,712 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:30:03,712 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:30:03,713 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:30:03,714 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:30:03,715 ERROR       return p(*args, **kwargs)
2022-04-20 09:30:03,716 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:30:03,716 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:30:03,717 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:30:03,717 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:30:03,718 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:30:03,718 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2022-04-20 09:30:03,749 INFO Welcome to the CDS
2022-04-20 09:30:03,750 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:03,801 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'.
variable - testing:  humidity

2022-04-20 09:30:04,835 INFO Request is failed
2022-04-20 09:30:04,837 ERROR Message: an internal error occurred processing your request
2022-04-20 09:30:04,838 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2022-04-20 09:30:04,839 ERROR   Traceback (most recent call last):
2022-04-20 09:30:04,839 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:30:04,840 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:30:04,841 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:30:04,842 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:30:04,843 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:30:04,843 ERROR       return p(*args, **kwargs)
2022-04-20 09:30:04,844 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:30:04,845 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:30:04,846 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:30:04,846 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:30:04,847 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:30:04,848 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2022-04-20 09:30:04,878 INFO Welcome to the CDS
2022-04-20 09:30:04,879 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:04,930 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'.
variable - testing:  sonde_type

2022-04-20 09:30:05,964 INFO Request is failed
2022-04-20 09:30:05,966 ERROR Message: an internal error occurred processing your request
2022-04-20 09:30:05,967 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2022-04-20 09:30:05,968 ERROR   Traceback (most recent call last):
2022-04-20 09:30:05,968 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:30:05,969 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:30:05,970 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:30:05,971 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:30:05,972 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:30:05,972 ERROR       return p(*args, **kwargs)
2022-04-20 09:30:05,973 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:30:05,974 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:30:05,975 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:30:05,976 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:30:05,976 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:30:05,977 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2022-04-20 09:30:06,008 INFO Welcome to the CDS
2022-04-20 09:30:06,009 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:06,064 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'.
variable - testing: finished
optional - testing:  sonde_type

2022-04-20 09:30:07,099 INFO Request is completed
2022-04-20 09:30:07,101 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439805.8987749-28239-8-6426d43f-20db-40cc-981a-ea0fa35da06b.zip to download.zip (91.7K)
2022-04-20 09:30:07,174 INFO Download rate 1.2M/s
2022-04-20 09:30:07,188 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,sonde_type,station_id,ta,time,trajectory_label
0,48.248951,16.356859,0,560.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,48.248951,16.356859,0,570.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,48.248951,16.356859,0,580.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,48.248951,16.356859,0,590.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,48.248951,16.356859,0,600.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:07,288 INFO Welcome to the CDS
2022-04-20 09:30:07,289 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:07,340 INFO Request is queued

optional - testing:  bias_estimate

2022-04-20 09:30:08,374 INFO Request is completed
2022-04-20 09:30:08,376 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439807.2521584-28594-9-b4f11dd3-e102-4cf8-8055-84dbafcf1aea.zip to download.zip (89K)
2022-04-20 09:30:08,437 INFO Download rate 1.4M/s
2022-04-20 09:30:08,451 INFO Reading Profile on slice(None, None, None)

,bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,0.0,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,0.0,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,0.0,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,0.0,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,0.0,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,0.0,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,0.0,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,0.0,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,0.0,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:08,551 INFO Welcome to the CDS
2022-04-20 09:30:08,552 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:08,604 INFO Request is queued

optional - testing:  obs_minus_an

2022-04-20 09:30:09,638 INFO Request is completed
2022-04-20 09:30:09,639 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439808.8488958-29087-6-35787a1b-a683-4619-8bf5-cc060293f596.zip to download.zip (109.7K)
2022-04-20 09:30:09,716 INFO Download rate 1.4M/s
2022-04-20 09:30:09,731 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,obs_minus_an,plev,report_id,station_id,ta,time,trajectory_label
0,48.248951,16.356859,0,-1.340239,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,48.248951,16.356859,0,-0.847053,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,48.248951,16.356859,0,-0.613867,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,48.248951,16.356859,0,-0.330681,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,48.248951,16.356859,0,-0.567495,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,48.248951,16.357180,0,0.103390,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,48.248951,16.357180,0,0.515455,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,48.248951,16.357180,0,2.375421,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,48.248951,16.357180,0,3.113251,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,48.248951,16.357180,0,NaN,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:09,827 INFO Welcome to the CDS
2022-04-20 09:30:09,828 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:09,880 INFO Request is queued

optional - testing:  obs_minus_bg

2022-04-20 09:30:10,914 INFO Request is completed
2022-04-20 09:30:10,916 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650439809.7002423-28514-5-d8d876a5-317a-4976-998d-113dd2d890b6.zip to download.zip (109.7K)
2022-04-20 09:30:10,991 INFO Download rate 1.4M/s
2022-04-20 09:30:11,006 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,obs_minus_bg,plev,report_id,station_id,ta,time,trajectory_label
0,48.248951,16.356859,0,-2.445801,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,48.248951,16.356859,0,-1.908885,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,48.248951,16.356859,0,-1.631969,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,48.248951,16.356859,0,-1.305054,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,48.248951,16.356859,0,-1.498138,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,48.248951,16.357180,0,1.124605,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,48.248951,16.357180,0,1.348505,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,48.248951,16.357180,0,2.602726,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,48.248951,16.357180,0,3.038934,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,48.248951,16.357180,0,NaN,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:11,095 INFO Welcome to the CDS
2022-04-20 09:30:11,096 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:11,146 INFO Request is queued

optional - testing:  RISE_bias_estimate

2022-04-20 09:30:12,180 INFO Request is completed
2022-04-20 09:30:12,182 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439811.3711634-28904-7-58708680-4f49-4f34-b96f-fb3e927045aa.zip to download.zip (90.9K)
2022-04-20 09:30:12,240 INFO Download rate 1.5M/s
2022-04-20 09:30:12,254 INFO Reading Profile on slice(None, None, None)

,RISE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,-2.536308,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:12,351 INFO Welcome to the CDS
2022-04-20 09:30:12,352 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:12,407 INFO Request is queued

optional - testing:  RICH_bias_estimate

2022-04-20 09:30:13,441 INFO Request is completed
2022-04-20 09:30:13,442 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650439812.3182216-28553-8-de4c82b1-5453-4b99-8f2f-5f69615b1886.zip to download.zip (90.9K)
2022-04-20 09:30:13,501 INFO Download rate 1.5M/s
2022-04-20 09:30:13,515 INFO Reading Profile on slice(None, None, None)

,RICH_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,-2.536308,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:13,609 INFO Welcome to the CDS
2022-04-20 09:30:13,610 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:13,666 INFO Request is queued

optional - testing:  RASE_bias_estimate

2022-04-20 09:30:14,703 INFO Request is completed
2022-04-20 09:30:14,704 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650439813.5965698-28333-8-dccde041-d601-40aa-a0d9-dd8b11f7229a.zip to download.zip (90.9K)
2022-04-20 09:30:14,763 INFO Download rate 1.5M/s
2022-04-20 09:30:14,777 INFO Reading Profile on slice(None, None, None)

,RASE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,-0.0,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:14,873 INFO Welcome to the CDS
2022-04-20 09:30:14,874 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:14,926 INFO Request is queued

optional - testing:  RAOBCORE_bias_estimate

2022-04-20 09:30:15,960 INFO Request is completed
2022-04-20 09:30:15,962 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439815.4881027-28722-8-37cb7d28-4368-4755-b8a1-b075ed395160.zip to download.zip (90.9K)
2022-04-20 09:30:16,022 INFO Download rate 1.5M/s
2022-04-20 09:30:16,036 INFO Reading Profile on slice(None, None, None)

,RAOBCORE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,-0.0,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:16,133 INFO Welcome to the CDS
2022-04-20 09:30:16,134 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:16,186 INFO Request is queued

optional - testing:  desroziers_30

2022-04-20 09:30:17,220 INFO Request is completed
2022-04-20 09:30:17,222 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439816.797658-28981-8-ac42543f-6535-4245-ab4c-1718042bb1a5.zip to download.zip (91K)
2022-04-20 09:30:17,282 INFO Download rate 1.5M/s
2022-04-20 09:30:17,295 INFO Reading Profile on slice(None, None, None)

,desroziers_30,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,1.208805,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:17,389 INFO Welcome to the CDS
2022-04-20 09:30:17,390 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:17,442 INFO Request is queued

optional - testing:  desroziers_60

2022-04-20 09:30:18,477 INFO Request is completed
2022-04-20 09:30:18,478 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439817.9858406-28809-6-5fe32820-c5b5-4f5d-ad40-6ece0d00de80.zip to download.zip (91K)
2022-04-20 09:30:18,541 INFO Download rate 1.4M/s
2022-04-20 09:30:18,556 INFO Reading Profile on slice(None, None, None)

,desroziers_60,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,NaN,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:18,646 INFO Welcome to the CDS
2022-04-20 09:30:18,647 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:18,698 INFO Request is queued

optional - testing:  desroziers_90

2022-04-20 09:30:19,730 INFO Request is completed
2022-04-20 09:30:19,732 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650439818.5472-28535-7-efe52921-2990-4750-a4b7-7759bd3536a3.zip to download.zip (91K)
2022-04-20 09:30:19,789 INFO Download rate 1.6M/s
2022-04-20 09:30:19,802 INFO Reading Profile on slice(None, None, None)

,desroziers_90,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,NaN,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:19,892 INFO Welcome to the CDS
2022-04-20 09:30:19,893 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:19,943 INFO Request is queued

optional - testing:  desroziers_180

2022-04-20 09:30:20,978 INFO Request is completed
2022-04-20 09:30:20,979 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439820.1627173-28945-6-65ae8a06-ab9d-4b3a-b7ea-8a3f9a0d383e.zip to download.zip (91K)
2022-04-20 09:30:21,038 INFO Download rate 1.5M/s
2022-04-20 09:30:21,053 INFO Reading Profile on slice(None, None, None)

,desroziers_180,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,NaN,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:21,145 INFO Welcome to the CDS
2022-04-20 09:30:21,146 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:21,196 INFO Request is queued

optional - testing:  wind_bias_estimate

2022-04-20 09:30:22,231 INFO Request is completed
2022-04-20 09:30:22,232 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439820.9954946-28220-9-c75075ac-4afa-40be-99b5-4c4c1c482ec1.zip to download.zip (103.6K)
2022-04-20 09:30:22,307 INFO Download rate 1.4M/s
2022-04-20 09:30:22,320 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,trajectory_label,ua,wind_bias_estimate
0,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn,NaN,1.309737e-07
1,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn,NaN,6.189649e-07
2,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn,NaN,5.933804e-07
3,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn,NaN,-7.088579e-07
4,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn,NaN,6.072631e-07
...,...,...,...,...,...,...,...,...,...,...
5667,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn,NaN,-1.110748e-07
5668,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn,NaN,4.180706e-07
5669,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn,NaN,-3.157063e-08
5670,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn,NaN,-3.482663e-08
5671,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn,NaN,-3.696910e-09

2022-04-20 09:30:22,418 INFO Welcome to the CDS
2022-04-20 09:30:22,420 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:22,471 INFO Request is queued

optional - testing:  humidity_bias_estimate

2022-04-20 09:30:23,505 INFO Request is completed
2022-04-20 09:30:23,507 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439822.2817795-28197-9-acfa7d3d-f66a-4bbd-86c6-9d62f34870e6.zip to download.zip (110.7K)
2022-04-20 09:30:23,583 INFO Download rate 1.5M/s
2022-04-20 09:30:23,597 INFO Reading Profile on slice(None, None, None)

,humidity_bias_estimate,hur,lat,lon,obs,plev,report_id,station_id,time,trajectory_label
0,NaN,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5666,NaN,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn
5667,NaN,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn
5668,-0.0,NaN,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn
5669,NaN,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:30:23,693 INFO Welcome to the CDS
2022-04-20 09:30:23,695 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:23,747 INFO Request is queued

optional - testing: finished
area - testing:  [80, 140, -40, 359]

2022-04-20 09:30:24,781 INFO Request is running
2022-04-20 09:30:28,602 INFO Request is completed
2022-04-20 09:30:28,603 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439827.1279655-28200-9-d7dea936-bbb9-461d-a868-943dcd5879be.zip to download.zip (18.5M)
2022-04-20 09:30:29,077 INFO Download rate 39.2M/s
2022-04-20 09:30:29,180 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,50.23,-119.279999,0,1700.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
1,50.23,-119.279999,0,2000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
2,50.23,-119.279999,0,2100.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
3,50.23,-119.279999,0,2600.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
4,50.23,-119.279999,0,3000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2094,50.23,-119.279999,0,80200.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2095,50.23,-119.279999,0,83300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2096,50.23,-119.279999,0,85000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2097,50.23,-119.279999,0,91800.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2098,50.23,-119.279999,0,96300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:30:29,275 INFO Welcome to the CDS
2022-04-20 09:30:29,276 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:29,332 INFO Request is queued

area - testing:  [49, 16, 48, 17]

2022-04-20 09:30:30,366 INFO Request is completed
2022-04-20 09:30:30,368 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439829.5753605-28728-7-88b1bbb2-cf47-4435-963c-28ce6ab72d05.zip to download.zip (56.5K)
2022-04-20 09:30:30,428 INFO Download rate 961.8K/s
2022-04-20 09:30:30,443 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00,nnnnnnnnnnn
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00,nnnnnnnnnnn
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00,nnnnnnnnnnn
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00,nnnnnnnnnnn
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:30:30,531 INFO Welcome to the CDS
2022-04-20 09:30:30,532 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:30,586 INFO Request is queued

area - testing:  [49, -180, 48, 180]

2022-04-20 09:30:31,620 INFO Request is completed
2022-04-20 09:30:31,621 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439831.2283986-28771-7-85dbd746-2cbe-4f35-bb6a-4b77344a6f9d.zip to download.zip (795K)
2022-04-20 09:30:31,749 INFO Download rate 6.1M/s
2022-04-20 09:30:31,767 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.450001,-4.42,0,9600.0,20000025058,BREST-GUIPAVAS,217.899994,1978-09-30 12:00:00,nnnnnnnnnnn
1,48.450001,-4.42,0,10000.0,20000025058,BREST-GUIPAVAS,219.500000,1978-09-30 12:00:00,nnnnnnnnnnn
2,48.450001,-4.42,0,11100.0,20000025058,BREST-GUIPAVAS,221.699997,1978-09-30 12:00:00,nnnnnnnnnnn
3,48.450001,-4.42,0,13600.0,20000025058,BREST-GUIPAVAS,217.300003,1978-09-30 12:00:00,nnnnnnnnnnn
4,48.450001,-4.42,0,15000.0,20000025058,BREST-GUIPAVAS,218.899994,1978-09-30 12:00:00,nnnnnnnnnnn
5,48.450001,-4.42,0,17500.0,20000025058,BREST-GUIPAVAS,220.500000,1978-09-30 12:00:00,nnnnnnnnnnn
6,48.450001,-4.42,0,20000.0,20000025058,BREST-GUIPAVAS,222.100006,1978-09-30 12:00:00,nnnnnnnnnnn
7,48.450001,-4.42,0,25000.0,20000025058,BREST-GUIPAVAS,224.899994,1978-09-30 12:00:00,nnnnnnnnnnn
8,48.450001,-4.42,0,30000.0,20000025058,BREST-GUIPAVAS,227.100006,1978-09-30 12:00:00,nnnnnnnnnnn
9,48.450001,-4.42,0,34200.0,20000025058,BREST-GUIPAVAS,233.300003,1978-09-30 12:00:00,nnnnnnnnnnn
10,48.450001,-4.42,0,40000.0,20000025058,BREST-GUIPAVAS,238.300003,1978-09-30 12:00:00,nnnnnnnnnnn
11,48.450001,-4.42,0,41200.0,20000025058,BREST-GUIPAVAS,239.300003,1978-09-30 12:00:00,nnnnnnnnnnn
12,48.450001,-4.42,0,50000.0,20000025058,BREST-GUIPAVAS,249.899994,1978-09-30 12:00:00,nnnnnnnnnnn
13,48.450001,-4.42,0,60000.0,20000025058,BREST-GUIPAVAS,256.500000,1978-09-30 12:00:00,nnnnnnnnnnn
14,48.450001,-4.42,0,66000.0,20000025058,BREST-GUIPAVAS,260.899994,1978-09-30 12:00:00,nnnnnnnnnnn
15,48.450001,-4.42,0,70000.0,20000025058,BREST-GUIPAVAS,263.700012,1978-09-30 12:00:00,nnnnnnnnnnn
16,48.450001,-4.42,0,75000.0,20000025058,BREST-GUIPAVAS,267.299988,1978-09-30 12:00:00,nnnnnnnnnnn
17,48.450001,-4.42,0,79000.0,20000025058,BREST-GUIPAVAS,269.700012,1978-09-30 12:00:00,nnnnnnnnnnn
18,48.450001,-4.42,0,85000.0,20000025058,BREST-GUIPAVAS,273.200012,1978-09-30 12:00:00,nnnnnnnnnnn
19,48.450001,-4.42,0,87000.0,20000025058,BREST-GUIPAVAS,274.200012,1978-09-30 12:00:00,nnnnnnnnnnn
20,48.450001,-4.42,0,100000.0,20000025058,BREST-GUIPAVAS,285.600006,1978-09-30 12:00:00,nnnnnnnnnnn
21,48.450001,-4.42,0,4400.0,20000025086,BREST-GUIPAVAS,220.100006,1978-10-07 12:00:00,nnnnnnnnnnn
22,48.450001,-4.42,0,5000.0,20000025086,BREST-GUIPAVAS,216.300003,1978-10-07 12:00:00,nnnnnnnnnnn
23,48.450001,-4.42,0,5200.0,20000025086,BREST-GUIPAVAS,215.199997,1978-10-07 12:00:00,nnnnnnnnnnn
24,48.450001,-4.42,0,6400.0,20000025086,BREST-GUIPAVAS,216.800003,1978-10-07 12:00:00,nnnnnnnnnnn
25,48.450001,-4.42,0,7000.0,20000025086,BREST-GUIPAVAS,216.199997,1978-10-07 12:00:00,nnnnnnnnnnn
26,48.450001,-4.42,0,10000.0,20000025086,BREST-GUIPAVAS,213.600006,1978-10-07 12:00:00,nnnnnnnnnnn
27,48.450001,-4.42,0,12000.0,20000025086,BREST-GUIPAVAS,214.699997,1978-10-07 12:00:00,nnnnnnnnnnn
28,48.450001,-4.42,0,13400.0,20000025086,BREST-GUIPAVAS,209.500000,1978-10-07 12:00:00,nnnnnnnnnnn
29,48.450001,-4.42,0,15000.0,20000025086,BREST-GUIPAVAS,210.199997,1978-10-07 12:00:00,nnnnnnnnnnn
30,48.450001,-4.42,0,18900.0,20000025086,BREST-GUIPAVAS,211.600006,1978-10-07 12:00:00,nnnnnnnnnnn
31,48.450001,-4.42,0,20000.0,20000025086,BREST-GUIPAVAS,213.899994,1978-10-07 12:00:00,nnnnnnnnnnn
32,48.450001,-4.42,0,25000.0,20000025086,BREST-GUIPAVAS,223.199997,1978-10-07 12:00:00,nnnnnnnnnnn
33,48.450001,-4.42,0,30000.0,20000025086,BREST-GUIPAVAS,230.800003,1978-10-07 12:00:00,nnnnnnnnnnn
34,48.450001,-4.42,0,40000.0,20000025086,BREST-GUIPAVAS,247.199997,1978-10-07 12:00:00,nnnnnnnnnnn
35,48.450001,-4.42,0,47400.0,20000025086,BREST-GUIPAVAS,257.500000,1978-10-07 12:00:00,nnnnnnnnnnn
36,48.450001,-4.42,0,49200.0,20000025086,BREST-GUIPAVAS,257.700012,1978-10-07 12:00:00,nnnnnnnnnnn
37,48.450001,-4.42,0,50000.0,20000025086,BREST-GUIPAVAS,258.899994,1978-10-07 12:00:00,nnnnnnnnnnn
38,48.450001,-4.42,0,52900.0,20000025086,BREST-GUIPAVAS,263.200012,1978-10-07 12:00:00,nnnnnnnnnnn
39,48.450001,-4.42,0,60000.0,20000025086,BREST-GUIPAVAS,268.700012,1978-10-07 12:00:00,nnnnnnnnnnn
40,48.450001,-4.42,0,65200.0,20000025086,BREST-GUIPAVAS,272.299988,1978-10-07 12:00:00,nnnnnnnnnnn
41,48.450001,-4.42,0,66200.0,20000025086,BREST-GUIPAVAS,273.200012,1978-10-07 12:00:00,nnnnnnnnnnn
42,48.450001,-4.42,0,70000.0,20000025086,BREST-GUIPAVAS,276.299988,1978-10-07 12:00:00,nnnnnnnnnnn
43,48.450001,-4.42,0,80000.0,20000025086,BREST-GUIPAVAS,283.700012,1978-10-07 12:00:00,nnnnnnnnnnn
44,48.450001,-4.42,0,85000.0,20000025086,BREST-GUIPAVAS,287.100006,1978-10-07 12:00:00,nnnnnnnnnnn
45,48.450001,-4.42,0,87500.0,20000025086,BREST-GUIPAVAS,288.799988,1978-10-07 12:00:00,nnnnnnnnnnn
46,48.450001,-4.42,0,90000.0,20000025086,BREST-GUIPAVAS,289.700012,1978-10-07 12:00:00,nnnnnnnnnnn
47,48.450001,-4.42,0,92000.0,20000025086,BREST-GUIPAVAS,290.399994,1978-10-07 12:00:00,nnnnnnnnnnn
48,48.450001,-4.42,0,95000.0,20000025086,BREST-GUIPAVAS,288.100006,1978-10-07 12:00:00,nnnnnnnnnnn
49,48.450001,-4.42,0,96000.0,20000025086,BREST-GUIPAVAS,287.399994,1978-10-07 12:00:00,nnnnnnnnnnn
50,48.450001,-4.42,0,100000.0,20000025086,BREST-GUIPAVAS,291.100006,1978-10-07 12:00:00,nnnnnnnnnnn

2022-04-20 09:30:31,853 INFO Welcome to the CDS
2022-04-20 09:30:31,854 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:31,909 INFO Request is queued

area - testing:  [49, 0, 48, 360]

2022-04-20 09:30:32,943 INFO Request is completed
2022-04-20 09:30:32,945 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439832.5503447-28987-7-f48c30e8-841b-484e-9009-a881f960c04f.zip to download.zip (795K)
2022-04-20 09:30:33,056 INFO Download rate 7M/s
2022-04-20 09:30:33,070 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.450001,-4.42,0,9600.0,20000025058,BREST-GUIPAVAS,217.899994,1978-09-30 12:00:00,nnnnnnnnnnn
1,48.450001,-4.42,0,10000.0,20000025058,BREST-GUIPAVAS,219.500000,1978-09-30 12:00:00,nnnnnnnnnnn
2,48.450001,-4.42,0,11100.0,20000025058,BREST-GUIPAVAS,221.699997,1978-09-30 12:00:00,nnnnnnnnnnn
3,48.450001,-4.42,0,13600.0,20000025058,BREST-GUIPAVAS,217.300003,1978-09-30 12:00:00,nnnnnnnnnnn
4,48.450001,-4.42,0,15000.0,20000025058,BREST-GUIPAVAS,218.899994,1978-09-30 12:00:00,nnnnnnnnnnn
5,48.450001,-4.42,0,17500.0,20000025058,BREST-GUIPAVAS,220.500000,1978-09-30 12:00:00,nnnnnnnnnnn
6,48.450001,-4.42,0,20000.0,20000025058,BREST-GUIPAVAS,222.100006,1978-09-30 12:00:00,nnnnnnnnnnn
7,48.450001,-4.42,0,25000.0,20000025058,BREST-GUIPAVAS,224.899994,1978-09-30 12:00:00,nnnnnnnnnnn
8,48.450001,-4.42,0,30000.0,20000025058,BREST-GUIPAVAS,227.100006,1978-09-30 12:00:00,nnnnnnnnnnn
9,48.450001,-4.42,0,34200.0,20000025058,BREST-GUIPAVAS,233.300003,1978-09-30 12:00:00,nnnnnnnnnnn
10,48.450001,-4.42,0,40000.0,20000025058,BREST-GUIPAVAS,238.300003,1978-09-30 12:00:00,nnnnnnnnnnn
11,48.450001,-4.42,0,41200.0,20000025058,BREST-GUIPAVAS,239.300003,1978-09-30 12:00:00,nnnnnnnnnnn
12,48.450001,-4.42,0,50000.0,20000025058,BREST-GUIPAVAS,249.899994,1978-09-30 12:00:00,nnnnnnnnnnn
13,48.450001,-4.42,0,60000.0,20000025058,BREST-GUIPAVAS,256.500000,1978-09-30 12:00:00,nnnnnnnnnnn
14,48.450001,-4.42,0,66000.0,20000025058,BREST-GUIPAVAS,260.899994,1978-09-30 12:00:00,nnnnnnnnnnn
15,48.450001,-4.42,0,70000.0,20000025058,BREST-GUIPAVAS,263.700012,1978-09-30 12:00:00,nnnnnnnnnnn
16,48.450001,-4.42,0,75000.0,20000025058,BREST-GUIPAVAS,267.299988,1978-09-30 12:00:00,nnnnnnnnnnn
17,48.450001,-4.42,0,79000.0,20000025058,BREST-GUIPAVAS,269.700012,1978-09-30 12:00:00,nnnnnnnnnnn
18,48.450001,-4.42,0,85000.0,20000025058,BREST-GUIPAVAS,273.200012,1978-09-30 12:00:00,nnnnnnnnnnn
19,48.450001,-4.42,0,87000.0,20000025058,BREST-GUIPAVAS,274.200012,1978-09-30 12:00:00,nnnnnnnnnnn
20,48.450001,-4.42,0,100000.0,20000025058,BREST-GUIPAVAS,285.600006,1978-09-30 12:00:00,nnnnnnnnnnn
21,48.450001,-4.42,0,4400.0,20000025086,BREST-GUIPAVAS,220.100006,1978-10-07 12:00:00,nnnnnnnnnnn
22,48.450001,-4.42,0,5000.0,20000025086,BREST-GUIPAVAS,216.300003,1978-10-07 12:00:00,nnnnnnnnnnn
23,48.450001,-4.42,0,5200.0,20000025086,BREST-GUIPAVAS,215.199997,1978-10-07 12:00:00,nnnnnnnnnnn
24,48.450001,-4.42,0,6400.0,20000025086,BREST-GUIPAVAS,216.800003,1978-10-07 12:00:00,nnnnnnnnnnn
25,48.450001,-4.42,0,7000.0,20000025086,BREST-GUIPAVAS,216.199997,1978-10-07 12:00:00,nnnnnnnnnnn
26,48.450001,-4.42,0,10000.0,20000025086,BREST-GUIPAVAS,213.600006,1978-10-07 12:00:00,nnnnnnnnnnn
27,48.450001,-4.42,0,12000.0,20000025086,BREST-GUIPAVAS,214.699997,1978-10-07 12:00:00,nnnnnnnnnnn
28,48.450001,-4.42,0,13400.0,20000025086,BREST-GUIPAVAS,209.500000,1978-10-07 12:00:00,nnnnnnnnnnn
29,48.450001,-4.42,0,15000.0,20000025086,BREST-GUIPAVAS,210.199997,1978-10-07 12:00:00,nnnnnnnnnnn
30,48.450001,-4.42,0,18900.0,20000025086,BREST-GUIPAVAS,211.600006,1978-10-07 12:00:00,nnnnnnnnnnn
31,48.450001,-4.42,0,20000.0,20000025086,BREST-GUIPAVAS,213.899994,1978-10-07 12:00:00,nnnnnnnnnnn
32,48.450001,-4.42,0,25000.0,20000025086,BREST-GUIPAVAS,223.199997,1978-10-07 12:00:00,nnnnnnnnnnn
33,48.450001,-4.42,0,30000.0,20000025086,BREST-GUIPAVAS,230.800003,1978-10-07 12:00:00,nnnnnnnnnnn
34,48.450001,-4.42,0,40000.0,20000025086,BREST-GUIPAVAS,247.199997,1978-10-07 12:00:00,nnnnnnnnnnn
35,48.450001,-4.42,0,47400.0,20000025086,BREST-GUIPAVAS,257.500000,1978-10-07 12:00:00,nnnnnnnnnnn
36,48.450001,-4.42,0,49200.0,20000025086,BREST-GUIPAVAS,257.700012,1978-10-07 12:00:00,nnnnnnnnnnn
37,48.450001,-4.42,0,50000.0,20000025086,BREST-GUIPAVAS,258.899994,1978-10-07 12:00:00,nnnnnnnnnnn
38,48.450001,-4.42,0,52900.0,20000025086,BREST-GUIPAVAS,263.200012,1978-10-07 12:00:00,nnnnnnnnnnn
39,48.450001,-4.42,0,60000.0,20000025086,BREST-GUIPAVAS,268.700012,1978-10-07 12:00:00,nnnnnnnnnnn
40,48.450001,-4.42,0,65200.0,20000025086,BREST-GUIPAVAS,272.299988,1978-10-07 12:00:00,nnnnnnnnnnn
41,48.450001,-4.42,0,66200.0,20000025086,BREST-GUIPAVAS,273.200012,1978-10-07 12:00:00,nnnnnnnnnnn
42,48.450001,-4.42,0,70000.0,20000025086,BREST-GUIPAVAS,276.299988,1978-10-07 12:00:00,nnnnnnnnnnn
43,48.450001,-4.42,0,80000.0,20000025086,BREST-GUIPAVAS,283.700012,1978-10-07 12:00:00,nnnnnnnnnnn
44,48.450001,-4.42,0,85000.0,20000025086,BREST-GUIPAVAS,287.100006,1978-10-07 12:00:00,nnnnnnnnnnn
45,48.450001,-4.42,0,87500.0,20000025086,BREST-GUIPAVAS,288.799988,1978-10-07 12:00:00,nnnnnnnnnnn
46,48.450001,-4.42,0,90000.0,20000025086,BREST-GUIPAVAS,289.700012,1978-10-07 12:00:00,nnnnnnnnnnn
47,48.450001,-4.42,0,92000.0,20000025086,BREST-GUIPAVAS,290.399994,1978-10-07 12:00:00,nnnnnnnnnnn
48,48.450001,-4.42,0,95000.0,20000025086,BREST-GUIPAVAS,288.100006,1978-10-07 12:00:00,nnnnnnnnnnn
49,48.450001,-4.42,0,96000.0,20000025086,BREST-GUIPAVAS,287.399994,1978-10-07 12:00:00,nnnnnnnnnnn
50,48.450001,-4.42,0,100000.0,20000025086,BREST-GUIPAVAS,291.100006,1978-10-07 12:00:00,nnnnnnnnnnn

2022-04-20 09:30:33,158 INFO Welcome to the CDS
2022-04-20 09:30:33,159 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:33,211 INFO Request is queued

area - testing:  [90, -180, -90, 180]

2022-04-20 09:30:34,245 INFO Request is running
2022-04-20 09:30:46,574 INFO Request is completed
2022-04-20 09:30:46,576 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650439841.6725054-29022-7-2d09ce20-59bf-434f-aa8c-83147b291440.zip to download.zip (46.1M)
2022-04-20 09:30:47,538 INFO Download rate 48M/s
2022-04-20 09:30:47,748 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,50.23,-119.279999,0,1700.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
1,50.23,-119.279999,0,2000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
2,50.23,-119.279999,0,2100.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
3,50.23,-119.279999,0,2600.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
4,50.23,-119.279999,0,3000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2094,50.23,-119.279999,0,80200.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2095,50.23,-119.279999,0,83300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2096,50.23,-119.279999,0,85000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2097,50.23,-119.279999,0,91800.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2098,50.23,-119.279999,0,96300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:30:47,859 INFO Welcome to the CDS
2022-04-20 09:30:47,861 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:47,925 INFO Request is queued

area - testing:  [80, 140, 70]

2022-04-20 09:30:48,959 INFO Request is failed
2022-04-20 09:30:48,961 ERROR Message: an internal error occurred processing your request
2022-04-20 09:30:48,962 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"list index out of range"'
2022-04-20 09:30:48,963 ERROR   Traceback (most recent call last):
2022-04-20 09:30:48,964 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:30:48,964 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:30:48,965 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:30:48,966 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:30:48,967 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:30:48,968 ERROR       return p(*args, **kwargs)
2022-04-20 09:30:48,968 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:30:48,969 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:30:48,970 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:30:48,971 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:30:48,972 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:30:48,972 ERROR    Something went wrong in the data provider service, check your query and try later b'"list index out of range"'
2022-04-20 09:30:49,113 INFO Welcome to the CDS
2022-04-20 09:30:49,114 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:49,171 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"list index out of range"'.
area - testing:  [80, 140, 70, 150, 0]

2022-04-20 09:30:50,212 INFO Request is completed
2022-04-20 09:30:50,213 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439849.797257-29064-8-ac64e752-0ff7-4429-be70-65c72d9f084a.zip to download.zip (126K)
2022-04-20 09:30:50,288 INFO Download rate 1.7M/s
2022-04-20 09:30:50,302 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,70.62001,147.880005,0,660.0,20000018461,CHOKURDAH,228.300003,1978-10-01 00:00:00,nnnnnnnnnnn
1,70.62001,147.880005,0,840.0,20000018461,CHOKURDAH,227.699997,1978-10-01 00:00:00,nnnnnnnnnnn
2,70.62001,147.880005,0,1000.0,20000018461,CHOKURDAH,225.100006,1978-10-01 00:00:00,nnnnnnnnnnn
3,70.62001,147.880005,0,1220.0,20000018461,CHOKURDAH,221.100006,1978-10-01 00:00:00,nnnnnnnnnnn
4,70.62001,147.880005,0,2000.0,20000018461,CHOKURDAH,219.500000,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2532,70.62001,147.880005,0,80000.0,nnnnnnnnnnn,CHOKURDAH,NaN,1978-10-31 18:00:00,nnnnnnnnnnn
2533,70.62001,147.880005,0,85000.0,nnnnnnnnnnn,CHOKURDAH,NaN,1978-10-31 18:00:00,nnnnnnnnnnn
2534,70.62001,147.880005,0,86800.0,nnnnnnnnnnn,CHOKURDAH,NaN,1978-10-31 18:00:00,nnnnnnnnnnn
2535,70.62001,147.880005,0,96500.0,nnnnnnnnnnn,CHOKURDAH,NaN,1978-10-31 18:00:00,nnnnnnnnnnn
2536,70.62001,147.880005,0,100000.0,nnnnnnnnnnn,CHOKURDAH,NaN,1978-10-31 18:00:00,nnnnnnnnnnn

2022-04-20 09:30:50,401 INFO Welcome to the CDS
2022-04-20 09:30:50,402 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:50,458 INFO Request is queued

area - testing:  [0, 0, 0, 0]

2022-04-20 09:30:51,499 INFO Request is failed
2022-04-20 09:30:51,500 ERROR Message: an internal error occurred processing your request
2022-04-20 09:30:51,501 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2022-04-20 09:30:51,502 ERROR   Traceback (most recent call last):
2022-04-20 09:30:51,503 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:30:51,503 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:30:51,504 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:30:51,505 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:30:51,506 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:30:51,506 ERROR       return p(*args, **kwargs)
2022-04-20 09:30:51,507 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:30:51,508 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:30:51,509 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:30:51,509 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:30:51,510 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:30:51,511 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2022-04-20 09:30:51,548 INFO Welcome to the CDS
2022-04-20 09:30:51,549 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:51,606 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [40, 20, 50, 0]

2022-04-20 09:30:52,647 INFO Request is failed
2022-04-20 09:30:52,648 ERROR Message: an internal error occurred processing your request
2022-04-20 09:30:52,649 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2022-04-20 09:30:52,650 ERROR   Traceback (most recent call last):
2022-04-20 09:30:52,651 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:30:52,652 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:30:52,653 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:30:52,653 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:30:52,654 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:30:52,654 ERROR       return p(*args, **kwargs)
2022-04-20 09:30:52,655 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:30:52,655 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:30:52,656 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:30:52,656 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:30:52,657 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:30:52,657 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2022-04-20 09:30:52,692 INFO Welcome to the CDS
2022-04-20 09:30:52,694 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:52,752 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [49, -180, 48, 360]

2022-04-20 09:30:53,793 INFO Request is failed
2022-04-20 09:30:53,794 ERROR Message: an internal error occurred processing your request
2022-04-20 09:30:53,795 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2022-04-20 09:30:53,796 ERROR   Traceback (most recent call last):
2022-04-20 09:30:53,797 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:30:53,798 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:30:53,798 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:30:53,799 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:30:53,800 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:30:53,801 ERROR       return p(*args, **kwargs)
2022-04-20 09:30:53,802 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:30:53,802 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:30:53,803 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:30:53,804 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:30:53,805 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:30:53,806 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2022-04-20 09:30:53,843 INFO Welcome to the CDS
2022-04-20 09:30:53,844 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:30:53,902 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing: finished
country - testing:  GLOBE

2022-04-20 09:30:54,943 INFO Request is running
2022-04-20 09:31:07,300 INFO Request is completed
2022-04-20 09:31:07,301 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439861.819009-28438-10-c3998f47-4f4b-45fa-ab86-17f95760e03f.zip to download.zip (46.1M)
2022-04-20 09:31:08,319 INFO Download rate 45.4M/s
2022-04-20 09:31:08,651 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,50.23,-119.279999,0,1700.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
1,50.23,-119.279999,0,2000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
2,50.23,-119.279999,0,2100.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
3,50.23,-119.279999,0,2600.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
4,50.23,-119.279999,0,3000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2094,50.23,-119.279999,0,80200.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2095,50.23,-119.279999,0,83300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2096,50.23,-119.279999,0,85000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2097,50.23,-119.279999,0,91800.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2098,50.23,-119.279999,0,96300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:31:08,768 INFO Welcome to the CDS
2022-04-20 09:31:08,769 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:31:08,831 INFO Request is queued

country - testing:  ALL

2022-04-20 09:31:09,875 INFO Request is running
2022-04-20 09:31:22,230 INFO Request is completed
2022-04-20 09:31:22,231 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439876.9553623-28379-10-2a1956e2-5439-40f8-9543-988c3bc5adaf.zip to download.zip (46.1M)
2022-04-20 09:31:23,239 INFO Download rate 45.9M/s
2022-04-20 09:31:23,425 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,50.23,-119.279999,0,1700.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
1,50.23,-119.279999,0,2000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
2,50.23,-119.279999,0,2100.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
3,50.23,-119.279999,0,2600.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
4,50.23,-119.279999,0,3000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
2094,50.23,-119.279999,0,80200.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2095,50.23,-119.279999,0,83300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2096,50.23,-119.279999,0,85000.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2097,50.23,-119.279999,0,91800.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn
2098,50.23,-119.279999,0,96300.0,nnnnnnnnnnn,"Vernon UA, BC",NaN,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:31:23,580 INFO Welcome to the CDS
2022-04-20 09:31:23,581 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:31:23,639 INFO Request is queued

country - testing:  NOR

2022-04-20 09:31:24,679 INFO Request is completed
2022-04-20 09:31:24,681 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439883.8162258-28589-10-4f4064b7-f849-4f35-a7df-7c58bab989d8.zip to download.zip (302.7K)
2022-04-20 09:31:24,775 INFO Download rate 3.2M/s
2022-04-20 09:31:24,791 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,67.25,14.4,0,1500.0,20000012548,BODO VI,218.100006,1978-10-01 00:00:00,nnnnnnnnnnn
1,67.25,14.4,0,2000.0,20000012548,BODO VI,217.300003,1978-10-01 00:00:00,nnnnnnnnnnn
2,67.25,14.4,0,3000.0,20000012548,BODO VI,218.100006,1978-10-01 00:00:00,nnnnnnnnnnn
3,67.25,14.4,0,3800.0,20000012548,BODO VI,216.699997,1978-10-01 00:00:00,nnnnnnnnnnn
4,67.25,14.4,0,5000.0,20000012548,BODO VI,218.100006,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
1727,67.25,14.4,0,85000.0,20000012609,BODO VI,271.500000,1978-10-31 12:00:00,nnnnnnnnnnn
1728,67.25,14.4,0,86000.0,20000012609,BODO VI,271.700012,1978-10-31 12:00:00,nnnnnnnnnnn
1729,67.25,14.4,0,94000.0,20000012609,BODO VI,276.200012,1978-10-31 12:00:00,nnnnnnnnnnn
1730,67.25,14.4,0,98000.0,20000012609,BODO VI,274.000000,1978-10-31 12:00:00,nnnnnnnnnnn
1731,67.25,14.4,0,100000.0,20000012609,BODO VI,275.200012,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:31:24,895 INFO Welcome to the CDS
2022-04-20 09:31:24,896 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:31:24,955 INFO Request is queued

country - testing:  ['NOR', 'DEU']

2022-04-20 09:31:25,995 INFO Request is completed
2022-04-20 09:31:25,997 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439885.66509-28736-9-3a2c3265-eba4-4089-be65-d04294b4dcd1.zip to download.zip (1.3M)
2022-04-20 09:31:26,135 INFO Download rate 9.3M/s
2022-04-20 09:31:26,151 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,67.25,14.4,0,1500.0,20000012548,BODO VI,218.100006,1978-10-01 00:00:00,nnnnnnnnnnn
1,67.25,14.4,0,2000.0,20000012548,BODO VI,217.300003,1978-10-01 00:00:00,nnnnnnnnnnn
2,67.25,14.4,0,3000.0,20000012548,BODO VI,218.100006,1978-10-01 00:00:00,nnnnnnnnnnn
3,67.25,14.4,0,3800.0,20000012548,BODO VI,216.699997,1978-10-01 00:00:00,nnnnnnnnnnn
4,67.25,14.4,0,5000.0,20000012548,BODO VI,218.100006,1978-10-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
1727,67.25,14.4,0,85000.0,20000012609,BODO VI,271.500000,1978-10-31 12:00:00,nnnnnnnnnnn
1728,67.25,14.4,0,86000.0,20000012609,BODO VI,271.700012,1978-10-31 12:00:00,nnnnnnnnnnn
1729,67.25,14.4,0,94000.0,20000012609,BODO VI,276.200012,1978-10-31 12:00:00,nnnnnnnnnnn
1730,67.25,14.4,0,98000.0,20000012609,BODO VI,274.000000,1978-10-31 12:00:00,nnnnnnnnnnn
1731,67.25,14.4,0,100000.0,20000012609,BODO VI,275.200012,1978-10-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:31:26,249 INFO Welcome to the CDS
2022-04-20 09:31:26,250 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:31:26,307 INFO Request is queued

country - testing:  NORWAY

2022-04-20 09:31:27,348 INFO Request is failed
2022-04-20 09:31:27,349 ERROR Message: an internal error occurred processing your request
2022-04-20 09:31:27,350 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2022-04-20 09:31:27,351 ERROR   Traceback (most recent call last):
2022-04-20 09:31:27,352 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:31:27,353 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:31:27,354 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:31:27,355 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:31:27,356 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:31:27,357 ERROR       return p(*args, **kwargs)
2022-04-20 09:31:27,358 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:31:27,358 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:31:27,359 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:31:27,360 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:31:27,360 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:31:27,361 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2022-04-20 09:31:27,398 INFO Welcome to the CDS
2022-04-20 09:31:27,399 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:31:27,457 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'.
country - testing:  nor

2022-04-20 09:31:28,499 INFO Request is failed
2022-04-20 09:31:28,500 ERROR Message: an internal error occurred processing your request
2022-04-20 09:31:28,501 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2022-04-20 09:31:28,502 ERROR   Traceback (most recent call last):
2022-04-20 09:31:28,503 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:31:28,504 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:31:28,505 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:31:28,506 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:31:28,506 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:31:28,507 ERROR       return p(*args, **kwargs)
2022-04-20 09:31:28,508 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:31:28,509 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:31:28,511 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:31:28,512 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:31:28,512 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:31:28,513 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2022-04-20 09:31:28,549 INFO Welcome to the CDS
2022-04-20 09:31:28,550 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:31:28,607 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'.
country - testing: finished
date - testing:  None

2022-04-20 09:31:29,648 INFO Request is running
2022-04-20 09:31:49,636 INFO Request is completed
2022-04-20 09:31:49,637 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439903.5854588-28965-6-1e82fd81-e2a0-45a6-9ac4-605b89e49709.zip to download.zip (93.2M)
2022-04-20 09:31:51,651 INFO Download rate 46.3M/s
2022-04-20 09:31:51,801 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.250000,16.370001,0,4300.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
1,48.250000,16.370001,0,4400.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
2,48.250000,16.370001,0,5300.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
3,48.250000,16.370001,0,9200.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
4,48.250000,16.370001,0,10300.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
9312394,48.248798,16.357500,0,99320.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312395,48.248798,16.357500,0,99410.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312396,48.248798,16.357500,0,99540.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312397,48.248798,16.357500,0,99680.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312398,48.248798,16.357500,0,99840.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn

2022-04-20 09:32:35,047 INFO Welcome to the CDS
2022-04-20 09:32:35,050 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:35,111 INFO Request is queued

date - testing:  20000231

2022-04-20 09:32:36,152 INFO Request is completed
2022-04-20 09:32:36,153 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650439954.9531956-28652-4-744b7e15-218d-4525-8df2-c3faa64ce925.zip to download.zip (34.2K)
2022-04-20 09:32:36,215 INFO Download rate 572.2K/s
2022-04-20 09:32:36,232 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,570.0,10000030872,WIEN/HOHE WARTE (11035-1),230.100006,2000-02-29 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,650.0,10000030872,WIEN/HOHE WARTE (11035-1),230.100006,2000-02-29 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,680.0,10000030872,WIEN/HOHE WARTE (11035-1),228.500000,2000-02-29 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,720.0,10000030872,WIEN/HOHE WARTE (11035-1),223.100006,2000-02-29 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,1000.0,10000030872,WIEN/HOHE WARTE (11035-1),220.699997,2000-02-29 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
131,48.25,16.370001,0,92500.0,10000030874,WIEN/HOHE WARTE (11035-1),278.200012,2000-02-29 12:00:00,nnnnnnnnnnn
132,48.25,16.370001,0,93500.0,10000030874,WIEN/HOHE WARTE (11035-1),275.399994,2000-02-29 12:00:00,nnnnnnnnnnn
133,48.25,16.370001,0,94000.0,10000030874,WIEN/HOHE WARTE (11035-1),275.200012,2000-02-29 12:00:00,nnnnnnnnnnn
134,48.25,16.370001,0,98900.0,10000030874,WIEN/HOHE WARTE (11035-1),278.799988,2000-02-29 12:00:00,nnnnnnnnnnn
135,48.25,16.370001,0,99700.0,10000030874,WIEN/HOHE WARTE (11035-1),281.200012,2000-02-29 12:00:00,nnnnnnnnnnn

2022-04-20 09:32:36,329 INFO Welcome to the CDS
2022-04-20 09:32:36,330 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:36,387 INFO Request is queued

date - testing:  20000101

2022-04-20 09:32:37,426 INFO Request is completed
2022-04-20 09:32:37,428 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439956.7706468-28732-7-a59210de-24b6-4c00-b85a-c165fbee4125.zip to download.zip (32.2K)
2022-04-20 09:32:37,473 INFO Download rate 736.4K/s
2022-04-20 09:32:37,489 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00,nnnnnnnnnnn
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00,nnnnnnnnnnn
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00,nnnnnnnnnnn
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00,nnnnnnnnnnn
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:32:37,585 INFO Welcome to the CDS
2022-04-20 09:32:37,586 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:37,647 INFO Request is queued

date - testing:  20000101-20000201

2022-04-20 09:32:38,687 INFO Request is completed
2022-04-20 09:32:38,689 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439958.041721-28882-7-586215ee-0f0a-4740-82e3-8e3f36fcd41f.zip to download.zip (80.7K)
2022-04-20 09:32:38,751 INFO Download rate 1.3M/s
2022-04-20 09:32:38,764 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
4033,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00,nnnnnnnnnnn
4034,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00,nnnnnnnnnnn
4035,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00,nnnnnnnnnnn
4036,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00,nnnnnnnnnnn
4037,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:32:38,873 INFO Welcome to the CDS
2022-04-20 09:32:38,874 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:38,932 INFO Request is queued

date - testing:  ['20000101', '20000103', '20000106']

2022-04-20 09:32:39,972 INFO Request is completed
2022-04-20 09:32:39,974 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439959.1797369-28830-7-60dc6d03-e8a5-4378-acc2-cf77cf24dd13.zip to download.zip (40.3K)
2022-04-20 09:32:40,032 INFO Download rate 703.1K/s
2022-04-20 09:32:40,046 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
769,48.23,16.370001,0,96800.0,10000030657,WIEN/HOHE WARTE (11035-1),272.700012,2000-01-06 12:00:00,nnnnnnnnnnn
770,48.23,16.370001,0,97600.0,10000030657,WIEN/HOHE WARTE (11035-1),271.700012,2000-01-06 12:00:00,nnnnnnnnnnn
771,48.23,16.370001,0,97900.0,10000030657,WIEN/HOHE WARTE (11035-1),270.700012,2000-01-06 12:00:00,nnnnnnnnnnn
772,48.23,16.370001,0,98100.0,10000030657,WIEN/HOHE WARTE (11035-1),269.500000,2000-01-06 12:00:00,nnnnnnnnnnn
773,48.23,16.370001,0,100000.0,10000030657,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-06 12:00:00,nnnnnnnnnnn

2022-04-20 09:32:40,142 INFO Welcome to the CDS
2022-04-20 09:32:40,143 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:40,207 INFO Request is queued

date - testing:  ['20000102', '20000101']

2022-04-20 09:32:41,248 INFO Request is completed
2022-04-20 09:32:41,250 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439960.1431978-28316-9-f042dea1-db57-443b-b49d-b5303e819c4a.zip to download.zip (34.2K)
2022-04-20 09:32:41,308 INFO Download rate 602.8K/s
2022-04-20 09:32:41,324 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
246,48.23,16.370001,0,97800.0,10000030641,WIEN/HOHE WARTE (11035-1),273.600006,2000-01-02 12:00:00,nnnnnnnnnnn
247,48.23,16.370001,0,98300.0,10000030641,WIEN/HOHE WARTE (11035-1),271.500000,2000-01-02 12:00:00,nnnnnnnnnnn
248,48.23,16.370001,0,99100.0,10000030641,WIEN/HOHE WARTE (11035-1),271.100006,2000-01-02 12:00:00,nnnnnnnnnnn
249,48.23,16.370001,0,100000.0,10000030641,WIEN/HOHE WARTE (11035-1),271.700012,2000-01-02 12:00:00,nnnnnnnnnnn
250,48.23,16.370001,0,100400.0,10000030641,WIEN/HOHE WARTE (11035-1),272.100006,2000-01-02 12:00:00,nnnnnnnnnnn

2022-04-20 09:32:41,422 INFO Welcome to the CDS
2022-04-20 09:32:41,423 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:41,489 INFO Request is queued

date - testing:  2000011

2022-04-20 09:32:42,529 INFO Request is failed
2022-04-20 09:32:42,531 ERROR Message: an internal error occurred processing your request
2022-04-20 09:32:42,532 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2022-04-20 09:32:42,533 ERROR   Traceback (most recent call last):
2022-04-20 09:32:42,534 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:32:42,535 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:32:42,535 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:32:42,536 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:32:42,537 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:32:42,538 ERROR       return p(*args, **kwargs)
2022-04-20 09:32:42,539 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:32:42,539 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:32:42,540 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:32:42,541 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:32:42,544 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:32:42,544 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2022-04-20 09:32:42,580 INFO Welcome to the CDS
2022-04-20 09:32:42,581 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:42,639 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'.
date - testing:  20000100

2022-04-20 09:32:43,680 INFO Request is failed
2022-04-20 09:32:43,681 ERROR Message: an internal error occurred processing your request
2022-04-20 09:32:43,682 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2022-04-20 09:32:43,683 ERROR   Traceback (most recent call last):
2022-04-20 09:32:43,684 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:32:43,685 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:32:43,686 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:32:43,687 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:32:43,687 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:32:43,688 ERROR       return p(*args, **kwargs)
2022-04-20 09:32:43,689 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:32:43,690 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:32:43,690 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:32:43,691 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:32:43,694 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:32:43,694 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2022-04-20 09:32:43,730 INFO Welcome to the CDS
2022-04-20 09:32:43,731 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:43,788 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
date - testing:  00000000

2022-04-20 09:32:44,828 INFO Request is failed
2022-04-20 09:32:44,830 ERROR Message: an internal error occurred processing your request
2022-04-20 09:32:44,831 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2022-04-20 09:32:44,832 ERROR   Traceback (most recent call last):
2022-04-20 09:32:44,833 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:32:44,834 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:32:44,835 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:32:44,835 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:32:44,836 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:32:44,837 ERROR       return p(*args, **kwargs)
2022-04-20 09:32:44,838 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:32:44,839 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:32:44,840 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:32:44,840 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:32:44,842 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:32:44,842 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2022-04-20 09:32:44,879 INFO Welcome to the CDS
2022-04-20 09:32:44,881 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:44,942 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'.
date - testing:  20000132

2022-04-20 09:32:45,982 INFO Request is failed
2022-04-20 09:32:45,984 ERROR Message: an internal error occurred processing your request
2022-04-20 09:32:45,985 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2022-04-20 09:32:45,986 ERROR   Traceback (most recent call last):
2022-04-20 09:32:45,987 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:32:45,988 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:32:45,988 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:32:45,989 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:32:45,990 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:32:45,991 ERROR       return p(*args, **kwargs)
2022-04-20 09:32:45,993 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:32:45,994 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:32:45,995 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:32:45,995 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:32:45,997 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:32:45,998 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2022-04-20 09:32:46,033 INFO Welcome to the CDS
2022-04-20 09:32:46,034 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:46,091 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
date - testing:  20001301

2022-04-20 09:32:47,133 INFO Request is failed
2022-04-20 09:32:47,134 ERROR Message: an internal error occurred processing your request
2022-04-20 09:32:47,135 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2022-04-20 09:32:47,136 ERROR   Traceback (most recent call last):
2022-04-20 09:32:47,137 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:32:47,138 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:32:47,139 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:32:47,140 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:32:47,140 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:32:47,141 ERROR       return p(*args, **kwargs)
2022-04-20 09:32:47,142 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:32:47,143 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:32:47,144 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:32:47,145 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:32:47,145 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:32:47,146 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2022-04-20 09:32:47,185 INFO Welcome to the CDS
2022-04-20 09:32:47,186 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:47,244 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
date - testing:  20000201-20000101

2022-04-20 09:32:48,285 INFO Request is failed
2022-04-20 09:32:48,287 ERROR Message: an internal error occurred processing your request
2022-04-20 09:32:48,288 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2022-04-20 09:32:48,289 ERROR   Traceback (most recent call last):
2022-04-20 09:32:48,290 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:32:48,291 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:32:48,292 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:32:48,293 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:32:48,294 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:32:48,295 ERROR       return p(*args, **kwargs)
2022-04-20 09:32:48,295 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:32:48,296 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:32:48,297 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:32:48,297 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:32:48,298 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:32:48,299 ERROR    Something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2022-04-20 09:32:48,337 INFO Welcome to the CDS
2022-04-20 09:32:48,337 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:48,396 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'.
date - testing:  20000101/20000201

2022-04-20 09:32:49,447 INFO Request is failed
2022-04-20 09:32:49,449 ERROR Message: an internal error occurred processing your request
2022-04-20 09:32:49,450 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2022-04-20 09:32:49,451 ERROR   Traceback (most recent call last):
2022-04-20 09:32:49,452 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:32:49,453 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:32:49,454 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:32:49,455 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:32:49,455 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:32:49,456 ERROR       return p(*args, **kwargs)
2022-04-20 09:32:49,457 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:32:49,458 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:32:49,458 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:32:49,459 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:32:49,460 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:32:49,461 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2022-04-20 09:32:49,499 INFO Welcome to the CDS
2022-04-20 09:32:49,500 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:32:49,558 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'.
date - testing: finished
period - testing:  None

2022-04-20 09:32:50,598 INFO Request is running
2022-04-20 09:33:10,643 INFO Request is completed
2022-04-20 09:33:10,645 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650439985.4678578-28464-9-b1e23562-671a-4e19-9bba-774c1414a9b8.zip to download.zip (93.2M)
2022-04-20 09:33:13,066 INFO Download rate 38.5M/s
2022-04-20 09:33:13,232 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.250000,16.370001,0,4300.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
1,48.250000,16.370001,0,4400.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
2,48.250000,16.370001,0,5300.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
3,48.250000,16.370001,0,9200.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
4,48.250000,16.370001,0,10300.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
9312394,48.248798,16.357500,0,99320.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312395,48.248798,16.357500,0,99410.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312396,48.248798,16.357500,0,99540.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312397,48.248798,16.357500,0,99680.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312398,48.248798,16.357500,0,99840.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn

period - testing:  1979-01-01/1980-08-16

2022-04-20 09:33:54,866 INFO Welcome to the CDS
2022-04-20 09:33:54,868 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:33:54,920 INFO Request is queued
2022-04-20 09:33:55,948 INFO Request is completed
2022-04-20 09:33:55,949 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650440034.8214378-28400-8-2414c4ce-18d6-4c8f-869b-78b7b2bfd912.zip to download.zip (557.6K)
2022-04-20 09:33:56,065 INFO Download rate 4.8M/s
2022-04-20 09:33:56,083 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.360001,0,1000.0,10000000000,WIEN/HOHE WARTE (11035-1),212.699997,1979-01-01 00:00:00,nnnnnnnnnnn
1,48.25,16.360001,0,1300.0,10000000000,WIEN/HOHE WARTE (11035-1),215.500000,1979-01-01 00:00:00,nnnnnnnnnnn
2,48.25,16.360001,0,1700.0,10000000000,WIEN/HOHE WARTE (11035-1),202.500000,1979-01-01 00:00:00,nnnnnnnnnnn
3,48.25,16.360001,0,2000.0,10000000000,WIEN/HOHE WARTE (11035-1),204.699997,1979-01-01 00:00:00,nnnnnnnnnnn
4,48.25,16.360001,0,2700.0,10000000000,WIEN/HOHE WARTE (11035-1),208.699997,1979-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
44366,48.25,16.370001,0,85000.0,10000002338,WIEN/HOHE WARTE (11035-1),285.399994,1980-08-16 12:00:00,nnnnnnnnnnn
44367,48.25,16.370001,0,88200.0,10000002338,WIEN/HOHE WARTE (11035-1),288.200012,1980-08-16 12:00:00,nnnnnnnnnnn
44368,48.25,16.370001,0,93000.0,10000002338,WIEN/HOHE WARTE (11035-1),290.399994,1980-08-16 12:00:00,nnnnnnnnnnn
44369,48.25,16.370001,0,98000.0,10000002338,WIEN/HOHE WARTE (11035-1),294.799988,1980-08-16 12:00:00,nnnnnnnnnnn
44370,48.25,16.370001,0,99200.0,10000002338,WIEN/HOHE WARTE (11035-1),296.200012,1980-08-16 12:00:00,nnnnnnnnnnn

2022-04-20 09:33:56,284 INFO Welcome to the CDS
2022-04-20 09:33:56,286 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:33:56,331 INFO Request is queued

period - testing:  1980-01-02/1980-01-01

2022-04-20 09:33:57,359 INFO Request is failed
2022-04-20 09:33:57,360 ERROR Message: an internal error occurred processing your request
2022-04-20 09:33:57,361 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2022-04-20 09:33:57,362 ERROR   Traceback (most recent call last):
2022-04-20 09:33:57,363 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:33:57,364 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:33:57,365 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:33:57,365 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:33:57,366 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:33:57,367 ERROR       return p(*args, **kwargs)
2022-04-20 09:33:57,368 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:33:57,369 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:33:57,369 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:33:57,370 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:33:57,371 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:33:57,371 ERROR    Something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2022-04-20 09:33:57,397 INFO Welcome to the CDS
2022-04-20 09:33:57,398 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:33:57,445 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'.
period - testing: finished
pressure_level - testing:  100

2022-04-20 09:33:58,474 INFO Request is completed
2022-04-20 09:33:58,476 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440037.6519165-29027-5-5fa9d984-fc10-4db2-a6a6-edd55ffe6acf.zip to download.zip (32.2K)
2022-04-20 09:33:58,535 INFO Download rate 550.6K/s
2022-04-20 09:33:58,552 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,10000.0,10000045408,WIEN/HOHE WARTE (11035-1),216.300003,2010-01-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,10000.0,10000045410,WIEN/HOHE WARTE (11035-1),216.500000,2010-01-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:33:58,618 INFO Welcome to the CDS
2022-04-20 09:33:58,619 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:33:58,664 INFO Request is queued

pressure_level - testing:  100

2022-04-20 09:33:59,691 INFO Request is completed
2022-04-20 09:33:59,692 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440038.4476635-28278-8-6d10b328-942a-4d88-834d-4c182a27a5d4.zip to download.zip (32.2K)
2022-04-20 09:33:59,735 INFO Download rate 767.6K/s
2022-04-20 09:33:59,750 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,10000.0,10000045408,WIEN/HOHE WARTE (11035-1),216.300003,2010-01-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,10000.0,10000045410,WIEN/HOHE WARTE (11035-1),216.500000,2010-01-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:33:59,813 INFO Welcome to the CDS
2022-04-20 09:33:59,815 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:33:59,860 INFO Request is queued

pressure_level - testing:  [100, 200]

2022-04-20 09:34:00,888 INFO Request is completed
2022-04-20 09:34:00,889 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440039.725468-28239-9-84b59394-97fe-4640-99c6-c436f2b0eb35.zip to download.zip (32.2K)
2022-04-20 09:34:00,946 INFO Download rate 575.1K/s
2022-04-20 09:34:00,962 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,10000.0,10000045408,WIEN/HOHE WARTE (11035-1),216.300003,2010-01-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,20000.0,10000045408,WIEN/HOHE WARTE (11035-1),218.699997,2010-01-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,10000.0,10000045410,WIEN/HOHE WARTE (11035-1),216.500000,2010-01-01 12:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,20000.0,10000045410,WIEN/HOHE WARTE (11035-1),215.699997,2010-01-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:34:01,026 INFO Welcome to the CDS
2022-04-20 09:34:01,028 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:01,073 INFO Request is queued

pressure_level - testing:  ['100', '200']

2022-04-20 09:34:02,100 INFO Request is completed
2022-04-20 09:34:02,101 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440040.8816814-28594-10-c5755ac8-1520-4799-8d68-fe50bf9d892a.zip to download.zip (32.2K)
2022-04-20 09:34:02,143 INFO Download rate 785.6K/s
2022-04-20 09:34:02,157 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,10000.0,10000045408,WIEN/HOHE WARTE (11035-1),216.300003,2010-01-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,20000.0,10000045408,WIEN/HOHE WARTE (11035-1),218.699997,2010-01-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,10000.0,10000045410,WIEN/HOHE WARTE (11035-1),216.500000,2010-01-01 12:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,20000.0,10000045410,WIEN/HOHE WARTE (11035-1),215.699997,2010-01-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:34:02,221 INFO Welcome to the CDS
2022-04-20 09:34:02,222 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:02,263 INFO Request is queued

pressure_level - testing:  0

2022-04-20 09:34:03,292 INFO Request is failed
2022-04-20 09:34:03,293 ERROR Message: an internal error occurred processing your request
2022-04-20 09:34:03,294 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2022-04-20 09:34:03,295 ERROR   Traceback (most recent call last):
2022-04-20 09:34:03,296 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:34:03,297 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:34:03,298 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:34:03,300 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:34:03,301 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:34:03,302 ERROR       return p(*args, **kwargs)
2022-04-20 09:34:03,302 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:34:03,303 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:34:03,304 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:34:03,304 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:34:03,305 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:34:03,305 ERROR    Something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2022-04-20 09:34:03,329 INFO Welcome to the CDS
2022-04-20 09:34:03,331 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:03,376 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'.
pressure_level - testing:  2000

2022-04-20 09:34:04,404 INFO Request is failed
2022-04-20 09:34:04,405 ERROR Message: an internal error occurred processing your request
2022-04-20 09:34:04,406 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2022-04-20 09:34:04,407 ERROR   Traceback (most recent call last):
2022-04-20 09:34:04,409 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:34:04,409 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:34:04,410 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:34:04,411 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:34:04,412 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:34:04,413 ERROR       return p(*args, **kwargs)
2022-04-20 09:34:04,413 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:34:04,414 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:34:04,414 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:34:04,415 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:34:04,416 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:34:04,416 ERROR    Something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2022-04-20 09:34:04,441 INFO Welcome to the CDS
2022-04-20 09:34:04,442 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:04,489 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'.
pressure_level - testing: finished
time - testing:  [22, 23, 0, 1, 2, 3]

2022-04-20 09:34:05,516 INFO Request is completed
2022-04-20 09:34:05,517 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440044.346862-28553-9-d6f6c859-442d-48b1-b5b0-537ea536aa33.zip to download.zip (52.3K)
2022-04-20 09:34:05,574 INFO Download rate 927.8K/s
2022-04-20 09:34:05,593 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,640.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01,nnnnnnnnnnn
1,48.25,16.370001,0,700.0,10000045408,WIEN/HOHE WARTE (11035-1),223.300003,2010-01-01,nnnnnnnnnnn
2,48.25,16.370001,0,790.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01,nnnnnnnnnnn
3,48.25,16.370001,0,880.0,10000045408,WIEN/HOHE WARTE (11035-1),220.500000,2010-01-01,nnnnnnnnnnn
4,48.25,16.370001,0,1000.0,10000045408,WIEN/HOHE WARTE (11035-1),224.300003,2010-01-01,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
1735,48.25,16.370001,0,84000.0,10000045532,WIEN/HOHE WARTE (11035-1),262.500000,2010-02-01,nnnnnnnnnnn
1736,48.25,16.370001,0,85000.0,10000045532,WIEN/HOHE WARTE (11035-1),262.899994,2010-02-01,nnnnnnnnnnn
1737,48.25,16.370001,0,87000.0,10000045532,WIEN/HOHE WARTE (11035-1),263.700012,2010-02-01,nnnnnnnnnnn
1738,48.25,16.370001,0,92500.0,10000045532,WIEN/HOHE WARTE (11035-1),267.500000,2010-02-01,nnnnnnnnnnn
1739,48.25,16.370001,0,98300.0,10000045532,WIEN/HOHE WARTE (11035-1),270.299988,2010-02-01,nnnnnnnnnnn

2022-04-20 09:34:05,670 INFO Welcome to the CDS
2022-04-20 09:34:05,671 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:05,718 INFO Request is queued

time - testing:  ['22', '23', '00', '01', '02', '03']

2022-04-20 09:34:06,746 INFO Request is completed
2022-04-20 09:34:06,747 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440045.5465536-28333-9-43e17dbd-6676-46da-a105-01f5a935f279.zip to download.zip (52.3K)
2022-04-20 09:34:06,806 INFO Download rate 913.6K/s
2022-04-20 09:34:06,820 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,640.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01,nnnnnnnnnnn
1,48.25,16.370001,0,700.0,10000045408,WIEN/HOHE WARTE (11035-1),223.300003,2010-01-01,nnnnnnnnnnn
2,48.25,16.370001,0,790.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01,nnnnnnnnnnn
3,48.25,16.370001,0,880.0,10000045408,WIEN/HOHE WARTE (11035-1),220.500000,2010-01-01,nnnnnnnnnnn
4,48.25,16.370001,0,1000.0,10000045408,WIEN/HOHE WARTE (11035-1),224.300003,2010-01-01,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
1735,48.25,16.370001,0,84000.0,10000045532,WIEN/HOHE WARTE (11035-1),262.500000,2010-02-01,nnnnnnnnnnn
1736,48.25,16.370001,0,85000.0,10000045532,WIEN/HOHE WARTE (11035-1),262.899994,2010-02-01,nnnnnnnnnnn
1737,48.25,16.370001,0,87000.0,10000045532,WIEN/HOHE WARTE (11035-1),263.700012,2010-02-01,nnnnnnnnnnn
1738,48.25,16.370001,0,92500.0,10000045532,WIEN/HOHE WARTE (11035-1),267.500000,2010-02-01,nnnnnnnnnnn
1739,48.25,16.370001,0,98300.0,10000045532,WIEN/HOHE WARTE (11035-1),270.299988,2010-02-01,nnnnnnnnnnn

2022-04-20 09:34:06,886 INFO Welcome to the CDS
2022-04-20 09:34:06,887 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:06,931 INFO Request is queued

time - testing:

2022-04-20 09:34:07,958 INFO Request is completed
2022-04-20 09:34:07,959 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440047.159802-28722-9-4971bc42-a475-431a-b036-b8d4945e0516.zip to download.zip (78.8K)
2022-04-20 09:34:08,020 INFO Download rate 1.3M/s
2022-04-20 09:34:08,035 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,640.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,700.0,10000045408,WIEN/HOHE WARTE (11035-1),223.300003,2010-01-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,790.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,880.0,10000045408,WIEN/HOHE WARTE (11035-1),220.500000,2010-01-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,1000.0,10000045408,WIEN/HOHE WARTE (11035-1),224.300003,2010-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
3878,48.25,16.370001,0,3810.0,10000045534,WIEN/HOHE WARTE (11035-1),208.699997,2010-02-01 12:00:00,nnnnnnnnnnn
3879,48.25,16.370001,0,4010.0,10000045534,WIEN/HOHE WARTE (11035-1),211.500000,2010-02-01 12:00:00,nnnnnnnnnnn
3880,48.25,16.370001,0,4530.0,10000045534,WIEN/HOHE WARTE (11035-1),213.100006,2010-02-01 12:00:00,nnnnnnnnnnn
3881,48.25,16.370001,0,7560.0,10000045534,WIEN/HOHE WARTE (11035-1),208.300003,2010-02-01 12:00:00,nnnnnnnnnnn
3882,48.25,16.370001,0,9440.0,10000045534,WIEN/HOHE WARTE (11035-1),211.300003,2010-02-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:34:08,107 INFO Welcome to the CDS
2022-04-20 09:34:08,108 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:08,160 INFO Request is queued

time - testing:  0

2022-04-20 09:34:09,191 INFO Request is completed
2022-04-20 09:34:09,192 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440048.421161-28981-9-9f95ce45-4f53-4aa2-8c8b-475c7deb0f38.zip to download.zip (52.3K)
2022-04-20 09:34:09,251 INFO Download rate 914.1K/s
2022-04-20 09:34:09,268 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,640.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01,nnnnnnnnnnn
1,48.25,16.370001,0,700.0,10000045408,WIEN/HOHE WARTE (11035-1),223.300003,2010-01-01,nnnnnnnnnnn
2,48.25,16.370001,0,790.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01,nnnnnnnnnnn
3,48.25,16.370001,0,880.0,10000045408,WIEN/HOHE WARTE (11035-1),220.500000,2010-01-01,nnnnnnnnnnn
4,48.25,16.370001,0,1000.0,10000045408,WIEN/HOHE WARTE (11035-1),224.300003,2010-01-01,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
1735,48.25,16.370001,0,84000.0,10000045532,WIEN/HOHE WARTE (11035-1),262.500000,2010-02-01,nnnnnnnnnnn
1736,48.25,16.370001,0,85000.0,10000045532,WIEN/HOHE WARTE (11035-1),262.899994,2010-02-01,nnnnnnnnnnn
1737,48.25,16.370001,0,87000.0,10000045532,WIEN/HOHE WARTE (11035-1),263.700012,2010-02-01,nnnnnnnnnnn
1738,48.25,16.370001,0,92500.0,10000045532,WIEN/HOHE WARTE (11035-1),267.500000,2010-02-01,nnnnnnnnnnn
1739,48.25,16.370001,0,98300.0,10000045532,WIEN/HOHE WARTE (11035-1),270.299988,2010-02-01,nnnnnnnnnnn

2022-04-20 09:34:09,346 INFO Welcome to the CDS
2022-04-20 09:34:09,347 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:09,392 INFO Request is queued

time - testing:  00

2022-04-20 09:34:10,420 INFO Request is completed
2022-04-20 09:34:10,421 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440049.5878482-28809-7-f669def7-406c-467e-afba-c81c893394cd.zip to download.zip (52.3K)
2022-04-20 09:34:10,479 INFO Download rate 927.6K/s
2022-04-20 09:34:10,492 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,640.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01,nnnnnnnnnnn
1,48.25,16.370001,0,700.0,10000045408,WIEN/HOHE WARTE (11035-1),223.300003,2010-01-01,nnnnnnnnnnn
2,48.25,16.370001,0,790.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01,nnnnnnnnnnn
3,48.25,16.370001,0,880.0,10000045408,WIEN/HOHE WARTE (11035-1),220.500000,2010-01-01,nnnnnnnnnnn
4,48.25,16.370001,0,1000.0,10000045408,WIEN/HOHE WARTE (11035-1),224.300003,2010-01-01,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
1735,48.25,16.370001,0,84000.0,10000045532,WIEN/HOHE WARTE (11035-1),262.500000,2010-02-01,nnnnnnnnnnn
1736,48.25,16.370001,0,85000.0,10000045532,WIEN/HOHE WARTE (11035-1),262.899994,2010-02-01,nnnnnnnnnnn
1737,48.25,16.370001,0,87000.0,10000045532,WIEN/HOHE WARTE (11035-1),263.700012,2010-02-01,nnnnnnnnnnn
1738,48.25,16.370001,0,92500.0,10000045532,WIEN/HOHE WARTE (11035-1),267.500000,2010-02-01,nnnnnnnnnnn
1739,48.25,16.370001,0,98300.0,10000045532,WIEN/HOHE WARTE (11035-1),270.299988,2010-02-01,nnnnnnnnnnn

2022-04-20 09:34:10,565 INFO Welcome to the CDS
2022-04-20 09:34:10,566 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:10,612 INFO Request is queued

time - testing:  ['00']

2022-04-20 09:34:11,639 INFO Request is completed
2022-04-20 09:34:11,640 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650440050.4304857-28535-8-e1f588c3-070f-493f-aca6-18c823695acb.zip to download.zip (52.3K)
2022-04-20 09:34:11,698 INFO Download rate 920.7K/s
2022-04-20 09:34:11,711 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,640.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01,nnnnnnnnnnn
1,48.25,16.370001,0,700.0,10000045408,WIEN/HOHE WARTE (11035-1),223.300003,2010-01-01,nnnnnnnnnnn
2,48.25,16.370001,0,790.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01,nnnnnnnnnnn
3,48.25,16.370001,0,880.0,10000045408,WIEN/HOHE WARTE (11035-1),220.500000,2010-01-01,nnnnnnnnnnn
4,48.25,16.370001,0,1000.0,10000045408,WIEN/HOHE WARTE (11035-1),224.300003,2010-01-01,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
1735,48.25,16.370001,0,84000.0,10000045532,WIEN/HOHE WARTE (11035-1),262.500000,2010-02-01,nnnnnnnnnnn
1736,48.25,16.370001,0,85000.0,10000045532,WIEN/HOHE WARTE (11035-1),262.899994,2010-02-01,nnnnnnnnnnn
1737,48.25,16.370001,0,87000.0,10000045532,WIEN/HOHE WARTE (11035-1),263.700012,2010-02-01,nnnnnnnnnnn
1738,48.25,16.370001,0,92500.0,10000045532,WIEN/HOHE WARTE (11035-1),267.500000,2010-02-01,nnnnnnnnnnn
1739,48.25,16.370001,0,98300.0,10000045532,WIEN/HOHE WARTE (11035-1),270.299988,2010-02-01,nnnnnnnnnnn

2022-04-20 09:34:11,786 INFO Welcome to the CDS
2022-04-20 09:34:11,787 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:11,836 INFO Request is queued

time - testing:  [0, 12]

2022-04-20 09:34:12,863 INFO Request is completed
2022-04-20 09:34:12,865 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440052.0829937-28945-7-1e962699-5a00-4709-8a4f-934000e58131.zip to download.zip (75.1K)
2022-04-20 09:34:12,923 INFO Download rate 1.3M/s
2022-04-20 09:34:12,935 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,640.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,700.0,10000045408,WIEN/HOHE WARTE (11035-1),223.300003,2010-01-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,790.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,880.0,10000045408,WIEN/HOHE WARTE (11035-1),220.500000,2010-01-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,1000.0,10000045408,WIEN/HOHE WARTE (11035-1),224.300003,2010-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
3546,48.25,16.370001,0,3810.0,10000045534,WIEN/HOHE WARTE (11035-1),208.699997,2010-02-01 12:00:00,nnnnnnnnnnn
3547,48.25,16.370001,0,4010.0,10000045534,WIEN/HOHE WARTE (11035-1),211.500000,2010-02-01 12:00:00,nnnnnnnnnnn
3548,48.25,16.370001,0,4530.0,10000045534,WIEN/HOHE WARTE (11035-1),213.100006,2010-02-01 12:00:00,nnnnnnnnnnn
3549,48.25,16.370001,0,7560.0,10000045534,WIEN/HOHE WARTE (11035-1),208.300003,2010-02-01 12:00:00,nnnnnnnnnnn
3550,48.25,16.370001,0,9440.0,10000045534,WIEN/HOHE WARTE (11035-1),211.300003,2010-02-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:34:13,013 INFO Welcome to the CDS
2022-04-20 09:34:13,014 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:13,060 INFO Request is queued

time - testing:  ['0', '12']

2022-04-20 09:34:14,088 INFO Request is completed
2022-04-20 09:34:14,089 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440052.8890843-28220-10-be10a97a-ab84-4f3b-8312-18306eb76bb3.zip to download.zip (75.1K)
2022-04-20 09:34:14,147 INFO Download rate 1.3M/s
2022-04-20 09:34:14,162 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,640.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,700.0,10000045408,WIEN/HOHE WARTE (11035-1),223.300003,2010-01-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,790.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,880.0,10000045408,WIEN/HOHE WARTE (11035-1),220.500000,2010-01-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,1000.0,10000045408,WIEN/HOHE WARTE (11035-1),224.300003,2010-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
3546,48.25,16.370001,0,3810.0,10000045534,WIEN/HOHE WARTE (11035-1),208.699997,2010-02-01 12:00:00,nnnnnnnnnnn
3547,48.25,16.370001,0,4010.0,10000045534,WIEN/HOHE WARTE (11035-1),211.500000,2010-02-01 12:00:00,nnnnnnnnnnn
3548,48.25,16.370001,0,4530.0,10000045534,WIEN/HOHE WARTE (11035-1),213.100006,2010-02-01 12:00:00,nnnnnnnnnnn
3549,48.25,16.370001,0,7560.0,10000045534,WIEN/HOHE WARTE (11035-1),208.300003,2010-02-01 12:00:00,nnnnnnnnnnn
3550,48.25,16.370001,0,9440.0,10000045534,WIEN/HOHE WARTE (11035-1),211.300003,2010-02-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:34:14,240 INFO Welcome to the CDS
2022-04-20 09:34:14,241 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:14,287 INFO Request is queued

time - testing:  24

2022-04-20 09:34:15,317 INFO Request is failed
2022-04-20 09:34:15,318 ERROR Message: an internal error occurred processing your request
2022-04-20 09:34:15,319 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Error: Exception \\"\\" occurred while reading /data/private/new/0-20001-0-11035_CEUAS_merged_v1.nc ({\'da\': True, \'compression\': \'gzip\', \'variable\': [\'temperature\'], \'format\': \'nc\', \'hdf\': False, \'statid\': [\'0-20001-0-11035\'], \'single_parallel\': False, \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2022-04-20 09:34:15,320 ERROR   Traceback (most recent call last):
2022-04-20 09:34:15,321 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:34:15,322 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:34:15,322 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:34:15,323 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:34:15,324 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:34:15,325 ERROR       return p(*args, **kwargs)
2022-04-20 09:34:15,326 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:34:15,326 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:34:15,327 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:34:15,328 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:34:15,328 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:34:15,329 ERROR    Something went wrong in the data provider service, check your query and try later b'"Error: Exception \\"\\" occurred while reading /data/private/new/0-20001-0-11035_CEUAS_merged_v1.nc ({\'da\': True, \'compression\': \'gzip\', \'variable\': [\'temperature\'], \'format\': \'nc\', \'hdf\': False, \'statid\': [\'0-20001-0-11035\'], \'single_parallel\': False, \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2022-04-20 09:34:15,355 INFO Welcome to the CDS
2022-04-20 09:34:15,356 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:15,400 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Error: Exception \\"\\" occurred while reading /data/private/new/0-20001-0-11035_CEUAS_merged_v1.nc ({\'da\': True, \'compression\': \'gzip\', \'variable\': [\'temperature\'], \'format\': \'nc\', \'hdf\': False, \'statid\': [\'0-20001-0-11035\'], \'single_parallel\': False, \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'.
time - testing:  25

2022-04-20 09:34:16,428 INFO Request is failed
2022-04-20 09:34:16,429 ERROR Message: an internal error occurred processing your request
2022-04-20 09:34:16,430 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2022-04-20 09:34:16,431 ERROR   Traceback (most recent call last):
2022-04-20 09:34:16,431 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:34:16,432 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:34:16,433 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:34:16,434 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:34:16,434 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:34:16,435 ERROR       return p(*args, **kwargs)
2022-04-20 09:34:16,436 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:34:16,436 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:34:16,437 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:34:16,438 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:34:16,438 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:34:16,439 ERROR    Something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2022-04-20 09:34:16,463 INFO Welcome to the CDS
2022-04-20 09:34:16,464 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:16,510 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'.
time - testing:  12.5

2022-04-20 09:34:17,538 INFO Request is failed
2022-04-20 09:34:17,539 ERROR Message: an internal error occurred processing your request
2022-04-20 09:34:17,540 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2022-04-20 09:34:17,540 ERROR   Traceback (most recent call last):
2022-04-20 09:34:17,541 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:34:17,542 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:34:17,543 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:34:17,543 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:34:17,544 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:34:17,545 ERROR       return p(*args, **kwargs)
2022-04-20 09:34:17,546 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:34:17,546 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:34:17,547 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:34:17,547 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:34:17,548 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:34:17,551 ERROR    Something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2022-04-20 09:34:17,574 INFO Welcome to the CDS
2022-04-20 09:34:17,575 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:17,620 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'.
time - testing: finished
format - testing:  None

2022-04-20 09:34:18,648 INFO Request is completed
2022-04-20 09:34:18,649 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440057.8777966-28771-8-98ab42b5-463f-4a64-8421-f05cc905f4cf.zip to download.zip (78.8K)
2022-04-20 09:34:18,707 INFO Download rate 1.3M/s
2022-04-20 09:34:18,722 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,640.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,700.0,10000045408,WIEN/HOHE WARTE (11035-1),223.300003,2010-01-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,790.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,880.0,10000045408,WIEN/HOHE WARTE (11035-1),220.500000,2010-01-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,1000.0,10000045408,WIEN/HOHE WARTE (11035-1),224.300003,2010-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
3878,48.25,16.370001,0,3810.0,10000045534,WIEN/HOHE WARTE (11035-1),208.699997,2010-02-01 12:00:00,nnnnnnnnnnn
3879,48.25,16.370001,0,4010.0,10000045534,WIEN/HOHE WARTE (11035-1),211.500000,2010-02-01 12:00:00,nnnnnnnnnnn
3880,48.25,16.370001,0,4530.0,10000045534,WIEN/HOHE WARTE (11035-1),213.100006,2010-02-01 12:00:00,nnnnnnnnnnn
3881,48.25,16.370001,0,7560.0,10000045534,WIEN/HOHE WARTE (11035-1),208.300003,2010-02-01 12:00:00,nnnnnnnnnnn
3882,48.25,16.370001,0,9440.0,10000045534,WIEN/HOHE WARTE (11035-1),211.300003,2010-02-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:34:18,804 INFO Welcome to the CDS
2022-04-20 09:34:18,805 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:18,852 INFO Request is queued

format - testing:  nc

2022-04-20 09:34:19,879 INFO Request is completed
2022-04-20 09:34:19,881 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440059.072043-28987-8-a7e48eef-b1ad-4ac9-b268-22fe4241d27e.zip to download.zip (78.8K)
2022-04-20 09:34:19,940 INFO Download rate 1.3M/s
2022-04-20 09:34:19,949 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,0,640.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01 00:00:00,nnnnnnnnnnn
1,48.25,16.370001,0,700.0,10000045408,WIEN/HOHE WARTE (11035-1),223.300003,2010-01-01 00:00:00,nnnnnnnnnnn
2,48.25,16.370001,0,790.0,10000045408,WIEN/HOHE WARTE (11035-1),224.500000,2010-01-01 00:00:00,nnnnnnnnnnn
3,48.25,16.370001,0,880.0,10000045408,WIEN/HOHE WARTE (11035-1),220.500000,2010-01-01 00:00:00,nnnnnnnnnnn
4,48.25,16.370001,0,1000.0,10000045408,WIEN/HOHE WARTE (11035-1),224.300003,2010-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
3878,48.25,16.370001,0,3810.0,10000045534,WIEN/HOHE WARTE (11035-1),208.699997,2010-02-01 12:00:00,nnnnnnnnnnn
3879,48.25,16.370001,0,4010.0,10000045534,WIEN/HOHE WARTE (11035-1),211.500000,2010-02-01 12:00:00,nnnnnnnnnnn
3880,48.25,16.370001,0,4530.0,10000045534,WIEN/HOHE WARTE (11035-1),213.100006,2010-02-01 12:00:00,nnnnnnnnnnn
3881,48.25,16.370001,0,7560.0,10000045534,WIEN/HOHE WARTE (11035-1),208.300003,2010-02-01 12:00:00,nnnnnnnnnnn
3882,48.25,16.370001,0,9440.0,10000045534,WIEN/HOHE WARTE (11035-1),211.300003,2010-02-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:34:20,021 INFO Welcome to the CDS
2022-04-20 09:34:20,022 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:20,065 INFO Request is queued

format - testing:  csv

2022-04-20 09:34:21,092 INFO Request is completed
2022-04-20 09:34:21,094 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440060.3004339-29022-8-a1205f9c-8414-486f-bbb9-9e7f85cee9c9.zip to download.zip (33.8K)
2022-04-20 09:34:21,151 INFO Download rate 594.6K/s

,latitude,longitude,date_time,z_coordinate,report_id,observation_value,station_name
0,48.25,16.370001,3471292800,640.0,10000045408,224.500000,WIEN/HOHE WARTE (11035-1)
1,48.25,16.370001,3471292800,700.0,10000045408,223.300003,WIEN/HOHE WARTE (11035-1)
2,48.25,16.370001,3471292800,790.0,10000045408,224.500000,WIEN/HOHE WARTE (11035-1)
3,48.25,16.370001,3471292800,880.0,10000045408,220.500000,WIEN/HOHE WARTE (11035-1)
4,48.25,16.370001,3471292800,1000.0,10000045408,224.300003,WIEN/HOHE WARTE (11035-1)
...,...,...,...,...,...,...,...
3878,48.25,16.370001,3474014400,3810.0,10000045534,208.699997,WIEN/HOHE WARTE (11035-1)
3879,48.25,16.370001,3474014400,4010.0,10000045534,211.500000,WIEN/HOHE WARTE (11035-1)
3880,48.25,16.370001,3474014400,4530.0,10000045534,213.100006,WIEN/HOHE WARTE (11035-1)
3881,48.25,16.370001,3474014400,7560.0,10000045534,208.300003,WIEN/HOHE WARTE (11035-1)
3882,48.25,16.370001,3474014400,9440.0,10000045534,211.300003,WIEN/HOHE WARTE (11035-1)

2022-04-20 09:34:21,234 INFO Welcome to the CDS
2022-04-20 09:34:21,235 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:21,279 INFO Request is queued

format - testing:  netcdf

2022-04-20 09:34:22,307 INFO Request is failed
2022-04-20 09:34:22,308 ERROR Message: an internal error occurred processing your request
2022-04-20 09:34:22,309 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2022-04-20 09:34:22,310 ERROR   Traceback (most recent call last):
2022-04-20 09:34:22,310 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:34:22,311 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:34:22,312 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:34:22,313 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:34:22,313 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:34:22,314 ERROR       return p(*args, **kwargs)
2022-04-20 09:34:22,315 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:34:22,315 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:34:22,316 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:34:22,317 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:34:22,318 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:34:22,318 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2022-04-20 09:34:22,344 INFO Welcome to the CDS
2022-04-20 09:34:22,345 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:22,388 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'.
format - testing:  csb

2022-04-20 09:34:23,419 INFO Request is failed
2022-04-20 09:34:23,420 ERROR Message: an internal error occurred processing your request
2022-04-20 09:34:23,421 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2022-04-20 09:34:23,421 ERROR   Traceback (most recent call last):
2022-04-20 09:34:23,422 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:34:23,423 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:34:23,424 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:34:23,424 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:34:23,425 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:34:23,426 ERROR       return p(*args, **kwargs)
2022-04-20 09:34:23,427 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:34:23,427 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:34:23,428 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:34:23,429 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:34:23,430 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:34:23,430 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2022-04-20 09:34:23,455 INFO Welcome to the CDS
2022-04-20 09:34:23,456 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:23,504 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'.
format - testing:  txt

2022-04-20 09:34:24,532 INFO Request is failed
2022-04-20 09:34:24,533 ERROR Message: an internal error occurred processing your request
2022-04-20 09:34:24,534 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2022-04-20 09:34:24,535 ERROR   Traceback (most recent call last):
2022-04-20 09:34:24,536 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:34:24,536 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:34:24,537 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:34:24,538 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:34:24,539 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:34:24,539 ERROR       return p(*args, **kwargs)
2022-04-20 09:34:24,540 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:34:24,541 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:34:24,542 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:34:24,542 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:34:24,543 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:34:24,544 ERROR    Something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2022-04-20 09:34:24,568 INFO Welcome to the CDS
2022-04-20 09:34:24,569 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:34:24,614 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'.
format - testing: finished
y - testing:  None

2022-04-20 09:34:25,642 INFO Request is running
2022-04-20 09:34:45,713 INFO Request is completed
2022-04-20 09:34:45,714 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440079.6692588-28355-10-c01ba0b5-ae74-4636-ba4d-7d2e85558a18.zip to download.zip (93.2M)
2022-04-20 09:34:47,888 INFO Download rate 42.9M/s
2022-04-20 09:34:48,046 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.250000,16.370001,0,4300.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
1,48.250000,16.370001,0,4400.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
2,48.250000,16.370001,0,5300.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
3,48.250000,16.370001,0,9200.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
4,48.250000,16.370001,0,10300.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,1925-01-24 09:22:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
9312394,48.248798,16.357500,0,99320.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312395,48.248798,16.357500,0,99410.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312396,48.248798,16.357500,0,99540.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312397,48.248798,16.357500,0,99680.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn
9312398,48.248798,16.357500,0,99840.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2021-12-31 11:33:21,nnnnnnnnnnn

2022-04-20 09:35:22,300 INFO Welcome to the CDS
2022-04-20 09:35:22,302 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:22,367 INFO Request is queued

y - testing:  2000

2022-04-20 09:35:23,401 INFO Request is completed
2022-04-20 09:35:23,402 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440122.1877236-28438-11-c1c800e2-91df-4fda-a85c-c3830cc54037.zip to download.zip (32.2K)
2022-04-20 09:35:23,462 INFO Download rate 545.8K/s
2022-04-20 09:35:23,479 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00,nnnnnnnnnnn
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00,nnnnnnnnnnn
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00,nnnnnnnnnnn
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00,nnnnnnnnnnn
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:23,561 INFO Welcome to the CDS
2022-04-20 09:35:23,563 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:23,613 INFO Request is queued

y - testing:  2000

2022-04-20 09:35:24,647 INFO Request is completed
2022-04-20 09:35:24,648 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440123.4240303-28379-11-7e5e2839-1b3a-4270-b30c-791e0773930a.zip to download.zip (32.2K)
2022-04-20 09:35:24,692 INFO Download rate 752.5K/s
2022-04-20 09:35:24,706 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00,nnnnnnnnnnn
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00,nnnnnnnnnnn
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00,nnnnnnnnnnn
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00,nnnnnnnnnnn
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:24,786 INFO Welcome to the CDS
2022-04-20 09:35:24,787 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:24,840 INFO Request is queued

y - testing:  ['2000', '2001']

2022-04-20 09:35:25,874 INFO Request is completed
2022-04-20 09:35:25,875 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440124.748325-28589-11-855b0751-d458-41d0-8ec2-3621db329c1a.zip to download.zip (579.2K)
2022-04-20 09:35:25,986 INFO Download rate 5.2M/s
2022-04-20 09:35:26,002 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
46184,48.25,16.370001,0,92400.0,10000032103,WIEN/HOHE WARTE (11035-1),271.100006,2001-01-01 18:00:00,nnnnnnnnnnn
46185,48.25,16.370001,0,92500.0,10000032103,WIEN/HOHE WARTE (11035-1),270.899994,2001-01-01 18:00:00,nnnnnnnnnnn
46186,48.25,16.370001,0,94000.0,10000032103,WIEN/HOHE WARTE (11035-1),269.299988,2001-01-01 18:00:00,nnnnnnnnnnn
46187,48.25,16.370001,0,98200.0,10000032103,WIEN/HOHE WARTE (11035-1),272.500000,2001-01-01 18:00:00,nnnnnnnnnnn
46188,48.25,16.370001,0,98700.0,10000032103,WIEN/HOHE WARTE (11035-1),272.299988,2001-01-01 18:00:00,nnnnnnnnnnn

2022-04-20 09:35:26,191 INFO Welcome to the CDS
2022-04-20 09:35:26,192 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:26,243 INFO Request is queued

y - testing:  [2000, 2001]

2022-04-20 09:35:27,277 INFO Request is completed
2022-04-20 09:35:27,278 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440126.9054296-28736-10-e5a83241-d479-48d9-be2c-f44ace4b6f7e.zip to download.zip (579.2K)
2022-04-20 09:35:27,391 INFO Download rate 5.1M/s
2022-04-20 09:35:27,403 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
46184,48.25,16.370001,0,92400.0,10000032103,WIEN/HOHE WARTE (11035-1),271.100006,2001-01-01 18:00:00,nnnnnnnnnnn
46185,48.25,16.370001,0,92500.0,10000032103,WIEN/HOHE WARTE (11035-1),270.899994,2001-01-01 18:00:00,nnnnnnnnnnn
46186,48.25,16.370001,0,94000.0,10000032103,WIEN/HOHE WARTE (11035-1),269.299988,2001-01-01 18:00:00,nnnnnnnnnnn
46187,48.25,16.370001,0,98200.0,10000032103,WIEN/HOHE WARTE (11035-1),272.500000,2001-01-01 18:00:00,nnnnnnnnnnn
46188,48.25,16.370001,0,98700.0,10000032103,WIEN/HOHE WARTE (11035-1),272.299988,2001-01-01 18:00:00,nnnnnnnnnnn

2022-04-20 09:35:27,613 INFO Welcome to the CDS
2022-04-20 09:35:27,615 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:27,667 INFO Request is queued

y - testing:  0

2022-04-20 09:35:28,701 INFO Request is failed
2022-04-20 09:35:28,703 ERROR Message: an internal error occurred processing your request
2022-04-20 09:35:28,704 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2022-04-20 09:35:28,705 ERROR   Traceback (most recent call last):
2022-04-20 09:35:28,706 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:35:28,706 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:35:28,707 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:35:28,708 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:35:28,709 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:35:28,710 ERROR       return p(*args, **kwargs)
2022-04-20 09:35:28,711 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:35:28,712 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:35:28,712 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:35:28,713 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:35:28,714 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:35:28,715 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2022-04-20 09:35:28,745 INFO Welcome to the CDS
2022-04-20 09:35:28,747 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:28,799 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'.
y - testing:  20000

2022-04-20 09:35:29,833 INFO Request is failed
2022-04-20 09:35:29,834 ERROR Message: an internal error occurred processing your request
2022-04-20 09:35:29,835 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2022-04-20 09:35:29,836 ERROR   Traceback (most recent call last):
2022-04-20 09:35:29,837 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:35:29,838 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:35:29,839 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:35:29,840 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:35:29,841 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:35:29,842 ERROR       return p(*args, **kwargs)
2022-04-20 09:35:29,842 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:35:29,843 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:35:29,844 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:35:29,845 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:35:29,846 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:35:29,846 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2022-04-20 09:35:29,876 INFO Welcome to the CDS
2022-04-20 09:35:29,878 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:29,928 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'.
y - testing:  -2000

2022-04-20 09:35:30,961 INFO Request is failed
2022-04-20 09:35:30,963 ERROR Message: an internal error occurred processing your request
2022-04-20 09:35:30,964 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2022-04-20 09:35:30,965 ERROR   Traceback (most recent call last):
2022-04-20 09:35:30,966 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:35:30,967 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:35:30,968 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:35:30,969 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:35:30,970 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:35:30,971 ERROR       return p(*args, **kwargs)
2022-04-20 09:35:30,972 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:35:30,973 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:35:30,974 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:35:30,974 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:35:30,975 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:35:30,976 ERROR    Something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2022-04-20 09:35:31,007 INFO Welcome to the CDS
2022-04-20 09:35:31,009 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:31,061 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'.
m - testing:  None

2022-04-20 09:35:32,095 INFO Request is completed
2022-04-20 09:35:32,097 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650440130.9277542-28297-7-a257692f-9a89-45da-82e4-2444a847de22.zip to download.zip (577K)
2022-04-20 09:35:32,209 INFO Download rate 5.1M/s
2022-04-20 09:35:32,227 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
45998,48.25,16.370001,0,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00,nnnnnnnnnnn
45999,48.25,16.370001,0,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00,nnnnnnnnnnn
46000,48.25,16.370001,0,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00,nnnnnnnnnnn
46001,48.25,16.370001,0,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00,nnnnnnnnnnn
46002,48.25,16.370001,0,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:32,416 INFO Welcome to the CDS
2022-04-20 09:35:32,418 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:32,468 INFO Request is queued

m - testing:  1

2022-04-20 09:35:33,503 INFO Request is completed
2022-04-20 09:35:33,505 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650440132.3528714-28652-5-615c8cb0-1b8a-46ff-b548-40c865a952b9.zip to download.zip (32.2K)
2022-04-20 09:35:33,563 INFO Download rate 558.5K/s
2022-04-20 09:35:33,579 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00,nnnnnnnnnnn
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00,nnnnnnnnnnn
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00,nnnnnnnnnnn
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00,nnnnnnnnnnn
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:33,663 INFO Welcome to the CDS
2022-04-20 09:35:33,664 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:33,715 INFO Request is queued

m - testing:  1

2022-04-20 09:35:34,749 INFO Request is completed
2022-04-20 09:35:34,751 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440134.2366562-28904-8-8b443277-7475-4892-b30e-ca96f37845cd.zip to download.zip (32.2K)
2022-04-20 09:35:34,793 INFO Download rate 777.9K/s
2022-04-20 09:35:34,807 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00,nnnnnnnnnnn
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00,nnnnnnnnnnn
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00,nnnnnnnnnnn
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00,nnnnnnnnnnn
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:34,889 INFO Welcome to the CDS
2022-04-20 09:35:34,890 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:35,019 INFO Request is completed
2022-04-20 09:35:35,020 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440123.4240303-28379-11-7e5e2839-1b3a-4270-b30c-791e0773930a.zip to download.zip (32.2K)

m - testing:  01

2022-04-20 09:35:35,061 INFO Download rate 805.4K/s
2022-04-20 09:35:35,076 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00,nnnnnnnnnnn
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00,nnnnnnnnnnn
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00,nnnnnnnnnnn
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00,nnnnnnnnnnn
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:35,160 INFO Welcome to the CDS
2022-04-20 09:35:35,161 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:35,223 INFO Request is queued

m - testing:  ['01', '02']

2022-04-20 09:35:36,265 INFO Request is completed
2022-04-20 09:35:36,266 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440135.4313495-28732-8-3498a90b-9b36-446e-8da1-acbb6ccecf46.zip to download.zip (80.7K)
2022-04-20 09:35:36,330 INFO Download rate 1.3M/s
2022-04-20 09:35:36,347 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
4033,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00,nnnnnnnnnnn
4034,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00,nnnnnnnnnnn
4035,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00,nnnnnnnnnnn
4036,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00,nnnnnnnnnnn
4037,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:36,443 INFO Welcome to the CDS
2022-04-20 09:35:36,444 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:36,495 INFO Request is queued

m - testing:  ['1', '2']

2022-04-20 09:35:37,529 INFO Request is completed
2022-04-20 09:35:37,531 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440136.7711642-28882-8-b53a0fd5-ec16-41bf-9b44-27d1473011ab.zip to download.zip (80.7K)
2022-04-20 09:35:37,590 INFO Download rate 1.4M/s
2022-04-20 09:35:37,603 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
4033,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00,nnnnnnnnnnn
4034,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00,nnnnnnnnnnn
4035,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00,nnnnnnnnnnn
4036,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00,nnnnnnnnnnn
4037,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:37,694 INFO Welcome to the CDS
2022-04-20 09:35:37,695 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:37,746 INFO Request is queued

m - testing:  [1, 2]

2022-04-20 09:35:38,781 INFO Request is completed
2022-04-20 09:35:38,782 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440138.214655-28830-8-9e1b4091-cc7a-412e-8513-efe02d8c9e88.zip to download.zip (80.7K)
2022-04-20 09:35:38,841 INFO Download rate 1.4M/s
2022-04-20 09:35:38,854 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
4033,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00,nnnnnnnnnnn
4034,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00,nnnnnnnnnnn
4035,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00,nnnnnnnnnnn
4036,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00,nnnnnnnnnnn
4037,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:38,948 INFO Welcome to the CDS
2022-04-20 09:35:38,949 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:39,000 INFO Request is queued

m - testing:  00

2022-04-20 09:35:40,034 INFO Request is failed
2022-04-20 09:35:40,036 ERROR Message: an internal error occurred processing your request
2022-04-20 09:35:40,037 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2022-04-20 09:35:40,038 ERROR   Traceback (most recent call last):
2022-04-20 09:35:40,039 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:35:40,040 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:35:40,041 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:35:40,042 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:35:40,043 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:35:40,044 ERROR       return p(*args, **kwargs)
2022-04-20 09:35:40,045 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:35:40,046 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:35:40,046 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:35:40,047 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:35:40,048 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:35:40,048 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2022-04-20 09:35:40,079 INFO Welcome to the CDS
2022-04-20 09:35:40,081 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:40,132 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  0

2022-04-20 09:35:41,167 INFO Request is failed
2022-04-20 09:35:41,168 ERROR Message: an internal error occurred processing your request
2022-04-20 09:35:41,169 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2022-04-20 09:35:41,170 ERROR   Traceback (most recent call last):
2022-04-20 09:35:41,171 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:35:41,172 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:35:41,173 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:35:41,174 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:35:41,175 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:35:41,176 ERROR       return p(*args, **kwargs)
2022-04-20 09:35:41,176 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:35:41,177 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:35:41,178 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:35:41,179 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:35:41,181 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:35:41,182 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2022-04-20 09:35:41,211 INFO Welcome to the CDS
2022-04-20 09:35:41,213 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:41,263 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  13

2022-04-20 09:35:42,297 INFO Request is failed
2022-04-20 09:35:42,298 ERROR Message: an internal error occurred processing your request
2022-04-20 09:35:42,299 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2022-04-20 09:35:42,300 ERROR   Traceback (most recent call last):
2022-04-20 09:35:42,301 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:35:42,302 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:35:42,303 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:35:42,304 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:35:42,305 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:35:42,306 ERROR       return p(*args, **kwargs)
2022-04-20 09:35:42,307 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:35:42,308 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:35:42,309 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:35:42,310 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:35:42,310 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:35:42,311 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2022-04-20 09:35:42,342 INFO Welcome to the CDS
2022-04-20 09:35:42,343 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:42,416 INFO Request is completed
2022-04-20 09:35:42,417 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440123.4240303-28379-11-7e5e2839-1b3a-4270-b30c-791e0773930a.zip to download.zip (32.2K)

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
d - testing:  01

2022-04-20 09:35:42,459 INFO Download rate 786.6K/s
2022-04-20 09:35:42,473 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00,nnnnnnnnnnn
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00,nnnnnnnnnnn
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00,nnnnnnnnnnn
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00,nnnnnnnnnnn
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:42,557 INFO Welcome to the CDS
2022-04-20 09:35:42,558 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:42,610 INFO Request is queued

d - testing:  31

2022-04-20 09:35:45,177 INFO Request is completed
2022-04-20 09:35:45,179 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440144.9970224-29069-7-3db41046-19e4-4b64-93ac-73fb22d411ad.zip to download.zip (32.2K)
2022-04-20 09:35:45,237 INFO Download rate 562.8K/s
2022-04-20 09:35:45,251 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,2870.0,10000030756,WIEN/HOHE WARTE (11035-1),203.500000,2000-01-31 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,3000.0,10000030756,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-31 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,3750.0,10000030756,WIEN/HOHE WARTE (11035-1),205.500000,2000-01-31 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,4020.0,10000030756,WIEN/HOHE WARTE (11035-1),201.699997,2000-01-31 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,4600.0,10000030756,WIEN/HOHE WARTE (11035-1),208.500000,2000-01-31 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
111,48.23,16.370001,0,89200.0,10000030758,WIEN/HOHE WARTE (11035-1),276.799988,2000-01-31 12:00:00,nnnnnnnnnnn
112,48.23,16.370001,0,92500.0,10000030758,WIEN/HOHE WARTE (11035-1),279.200012,2000-01-31 12:00:00,nnnnnnnnnnn
113,48.23,16.370001,0,97400.0,10000030758,WIEN/HOHE WARTE (11035-1),283.399994,2000-01-31 12:00:00,nnnnnnnnnnn
114,48.23,16.370001,0,99000.0,10000030758,WIEN/HOHE WARTE (11035-1),285.000000,2000-01-31 12:00:00,nnnnnnnnnnn
115,48.23,16.370001,0,99100.0,10000030758,WIEN/HOHE WARTE (11035-1),285.000000,2000-01-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:45,335 INFO Welcome to the CDS
2022-04-20 09:35:45,336 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:45,388 INFO Request is queued

d - testing:  ['01', '02']

2022-04-20 09:35:46,423 INFO Request is completed
2022-04-20 09:35:46,424 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440145.6084092-28791-7-18b6890d-969d-4405-8e20-f9e0fc3caf51.zip to download.zip (34.2K)
2022-04-20 09:35:46,468 INFO Download rate 789.6K/s
2022-04-20 09:35:46,482 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
246,48.23,16.370001,0,97800.0,10000030641,WIEN/HOHE WARTE (11035-1),273.600006,2000-01-02 12:00:00,nnnnnnnnnnn
247,48.23,16.370001,0,98300.0,10000030641,WIEN/HOHE WARTE (11035-1),271.500000,2000-01-02 12:00:00,nnnnnnnnnnn
248,48.23,16.370001,0,99100.0,10000030641,WIEN/HOHE WARTE (11035-1),271.100006,2000-01-02 12:00:00,nnnnnnnnnnn
249,48.23,16.370001,0,100000.0,10000030641,WIEN/HOHE WARTE (11035-1),271.700012,2000-01-02 12:00:00,nnnnnnnnnnn
250,48.23,16.370001,0,100400.0,10000030641,WIEN/HOHE WARTE (11035-1),272.100006,2000-01-02 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:46,567 INFO Welcome to the CDS
2022-04-20 09:35:46,568 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:46,620 INFO Request is queued

d - testing:  ['1', '2']

2022-04-20 09:35:49,188 INFO Request is completed
2022-04-20 09:35:49,189 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650440148.4071898-28259-7-e2d81b04-868a-431a-8a52-4f40b131732c.zip to download.zip (34.2K)
2022-04-20 09:35:49,246 INFO Download rate 610.6K/s
2022-04-20 09:35:49,261 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
246,48.23,16.370001,0,97800.0,10000030641,WIEN/HOHE WARTE (11035-1),273.600006,2000-01-02 12:00:00,nnnnnnnnnnn
247,48.23,16.370001,0,98300.0,10000030641,WIEN/HOHE WARTE (11035-1),271.500000,2000-01-02 12:00:00,nnnnnnnnnnn
248,48.23,16.370001,0,99100.0,10000030641,WIEN/HOHE WARTE (11035-1),271.100006,2000-01-02 12:00:00,nnnnnnnnnnn
249,48.23,16.370001,0,100000.0,10000030641,WIEN/HOHE WARTE (11035-1),271.700012,2000-01-02 12:00:00,nnnnnnnnnnn
250,48.23,16.370001,0,100400.0,10000030641,WIEN/HOHE WARTE (11035-1),272.100006,2000-01-02 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:49,347 INFO Welcome to the CDS
2022-04-20 09:35:49,348 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:49,400 INFO Request is queued

d - testing:  [1, 2]

2022-04-20 09:35:50,435 INFO Request is completed
2022-04-20 09:35:50,436 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440149.651806-28879-5-8aad1463-74c5-4ed8-bd80-beec6e09e6e5.zip to download.zip (34.2K)
2022-04-20 09:35:50,494 INFO Download rate 604.8K/s
2022-04-20 09:35:50,507 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00,nnnnnnnnnnn
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00,nnnnnnnnnnn
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00,nnnnnnnnnnn
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
246,48.23,16.370001,0,97800.0,10000030641,WIEN/HOHE WARTE (11035-1),273.600006,2000-01-02 12:00:00,nnnnnnnnnnn
247,48.23,16.370001,0,98300.0,10000030641,WIEN/HOHE WARTE (11035-1),271.500000,2000-01-02 12:00:00,nnnnnnnnnnn
248,48.23,16.370001,0,99100.0,10000030641,WIEN/HOHE WARTE (11035-1),271.100006,2000-01-02 12:00:00,nnnnnnnnnnn
249,48.23,16.370001,0,100000.0,10000030641,WIEN/HOHE WARTE (11035-1),271.700012,2000-01-02 12:00:00,nnnnnnnnnnn
250,48.23,16.370001,0,100400.0,10000030641,WIEN/HOHE WARTE (11035-1),272.100006,2000-01-02 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:50,591 INFO Welcome to the CDS
2022-04-20 09:35:50,592 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:50,642 INFO Request is queued

d - testing:  00

2022-04-20 09:35:51,677 INFO Request is failed
2022-04-20 09:35:51,678 ERROR Message: an internal error occurred processing your request
2022-04-20 09:35:51,679 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2022-04-20 09:35:51,680 ERROR   Traceback (most recent call last):
2022-04-20 09:35:51,681 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:35:51,682 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:35:51,683 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:35:51,684 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:35:51,685 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:35:51,686 ERROR       return p(*args, **kwargs)
2022-04-20 09:35:51,686 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:35:51,687 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:35:51,688 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:35:51,689 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:35:51,689 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:35:51,690 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2022-04-20 09:35:51,720 INFO Welcome to the CDS
2022-04-20 09:35:51,722 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:51,787 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  0

2022-04-20 09:35:52,822 INFO Request is failed
2022-04-20 09:35:52,823 ERROR Message: an internal error occurred processing your request
2022-04-20 09:35:52,824 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2022-04-20 09:35:52,825 ERROR   Traceback (most recent call last):
2022-04-20 09:35:52,826 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:35:52,827 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:35:52,828 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:35:52,829 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:35:52,830 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:35:52,831 ERROR       return p(*args, **kwargs)
2022-04-20 09:35:52,831 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:35:52,832 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:35:52,833 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:35:52,834 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:35:52,834 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:35:52,835 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2022-04-20 09:35:52,866 INFO Welcome to the CDS
2022-04-20 09:35:52,867 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:52,919 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  32

2022-04-20 09:35:53,954 INFO Request is failed
2022-04-20 09:35:53,955 ERROR Message: an internal error occurred processing your request
2022-04-20 09:35:53,956 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2022-04-20 09:35:53,957 ERROR   Traceback (most recent call last):
2022-04-20 09:35:53,958 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-04-20 09:35:53,959 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-04-20 09:35:53,960 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-04-20 09:35:53,960 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-04-20 09:35:53,961 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-04-20 09:35:53,962 ERROR       return p(*args, **kwargs)
2022-04-20 09:35:53,963 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-04-20 09:35:53,963 ERROR       return self.proc(context, *args, **kwargs)
2022-04-20 09:35:53,964 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-04-20 09:35:53,965 ERROR       f'When calling {res.request.url}\n ' \
2022-04-20 09:35:53,966 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-04-20 09:35:53,966 ERROR    Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2022-04-20 09:35:54,000 INFO Welcome to the CDS
2022-04-20 09:35:54,001 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:54,055 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
ymd - testing: finished
20300 - testing:  country

2022-04-20 09:35:55,089 INFO Request is completed
2022-04-20 09:35:55,091 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440154.838746-28862-5-eeb15206-b93e-472a-b284-700d74b06521.zip to download.zip (165K)
2022-04-20 09:35:55,168 INFO Download rate 2.1M/s
2022-04-20 09:35:55,269 INFO Reading Profile on slice(None, None, None)
2022-04-20 09:35:55,282 INFO Reading Profile on slice(None, None, None)
2022-04-20 09:35:55,293 INFO Reading Profile on slice(None, None, None)
2022-04-20 09:35:55,303 INFO Reading Profile on slice(None, None, None)
2022-04-20 09:35:55,313 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,53.230000,63.619999,0,4890.0,nnnnnnnnnnn,KOSTANAY,NaN,2019-12-30 00:00:00,nnnnnnnnnnn
1,53.230000,63.619999,0,5000.0,nnnnnnnnnnn,KOSTANAY,NaN,2019-12-30 00:00:00,nnnnnnnnnnn
2,53.230000,63.619999,0,6440.0,nnnnnnnnnnn,KOSTANAY,NaN,2019-12-30 00:00:00,nnnnnnnnnnn
3,53.230000,63.619999,0,6640.0,nnnnnnnnnnn,KOSTANAY,NaN,2019-12-30 00:00:00,nnnnnnnnnnn
4,53.230000,63.619999,0,7000.0,nnnnnnnnnnn,KOSTANAY,NaN,2019-12-30 00:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
870,43.360001,77.000000,0,76900.0,nnnnnnnnnnn,ILIYSKY,NaN,2019-12-31 12:00:00,nnnnnnnnnnn
871,43.360001,77.000000,0,80100.0,nnnnnnnnnnn,ILIYSKY,NaN,2019-12-31 12:00:00,nnnnnnnnnnn
872,43.360001,77.000000,0,85000.0,nnnnnnnnnnn,ILIYSKY,NaN,2019-12-31 12:00:00,nnnnnnnnnnn
873,43.360001,77.000000,0,87900.0,nnnnnnnnnnn,ILIYSKY,NaN,2019-12-31 12:00:00,nnnnnnnnnnn
874,43.360001,77.000000,0,92500.0,nnnnnnnnnnn,ILIYSKY,NaN,2019-12-31 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:55,396 INFO Welcome to the CDS
2022-04-20 09:35:55,397 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:55,450 INFO Request is queued

20300 - testing:  area

2022-04-20 09:35:56,485 INFO Request is completed
2022-04-20 09:35:56,487 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440156.0030036-29027-6-81c808bb-ea2d-491f-bfa0-df4ad8ca7b88.zip to download.zip (768.5K)
2022-04-20 09:35:56,609 INFO Download rate 6.2M/s
2022-04-20 09:35:56,620 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,-77.730003,-41.119999,0,3000.0,nnnnnnnnnnn,ELLSWORTH IGY,NaN,1957-03-15 18:00:00,nnnnnnnnnnn
1,-77.730003,-41.119999,0,4000.0,nnnnnnnnnnn,ELLSWORTH IGY,NaN,1957-03-15 18:00:00,nnnnnnnnnnn
2,-77.730003,-41.119999,0,5000.0,nnnnnnnnnnn,ELLSWORTH IGY,NaN,1957-03-15 18:00:00,nnnnnnnnnnn
3,-77.730003,-41.119999,0,6000.0,nnnnnnnnnnn,ELLSWORTH IGY,NaN,1957-03-15 18:00:00,nnnnnnnnnnn
4,-77.730003,-41.119999,0,7000.0,nnnnnnnnnnn,ELLSWORTH IGY,NaN,1957-03-15 18:00:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
64702,-77.730011,-41.119999,0,75000.0,20000002073,ELLSWORTH IGY,257.200012,1962-11-30 12:00:00,nnnnnnnnnnn
64703,-77.730011,-41.119999,0,80000.0,20000002073,ELLSWORTH IGY,259.200012,1962-11-30 12:00:00,nnnnnnnnnnn
64704,-77.730011,-41.119999,0,85000.0,20000002073,ELLSWORTH IGY,261.399994,1962-11-30 12:00:00,nnnnnnnnnnn
64705,-77.730011,-41.119999,0,90000.0,20000002073,ELLSWORTH IGY,261.399994,1962-11-30 12:00:00,nnnnnnnnnnn
64706,-77.730011,-41.119999,0,95000.0,20000002073,ELLSWORTH IGY,259.399994,1962-11-30 12:00:00,nnnnnnnnnnn

2022-04-20 09:35:56,994 INFO Welcome to the CDS
2022-04-20 09:35:56,995 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:35:57,049 INFO Request is queued

20300 - testing:  20300*

2022-04-20 09:35:58,083 INFO Request is running
2022-04-20 09:36:10,412 INFO Request is completed
2022-04-20 09:36:10,414 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440166.979481-28278-9-1e31b42d-8f7a-48db-923f-1873298bc704.zip to download.zip (404.7M)
2022-04-20 09:36:20,439 INFO Download rate 40.4M/s
2022-04-20 09:36:21,880 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,59.68,30.480000,0,294.199493,nnnnnnnnnnn,SLUTSK,NaN,1923-01-04 09:45:00,nnnnnnnnnnn
1,59.68,30.480000,0,5197.524414,nnnnnnnnnnn,SLUTSK,NaN,1923-01-04 09:45:00,nnnnnnnnnnn
2,59.68,30.480000,0,10100.849609,nnnnnnnnnnn,SLUTSK,NaN,1923-01-04 09:45:00,nnnnnnnnnnn
3,59.68,30.480000,0,294.199493,nnnnnnnnnnn,SLUTSK,NaN,1923-02-14 13:02:00,nnnnnnnnnnn
4,59.68,30.480000,0,5197.524414,nnnnnnnnnnn,SLUTSK,NaN,1923-02-14 13:02:00,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
11504,59.68,30.450001,0,70000.000000,30000000185,SLUTSK,260.149994,1939-11-29 05:00:00,nnnnnnnnnnn
11505,59.68,30.450001,0,40000.000000,30000000186,SLUTSK,236.149994,1939-12-01 05:00:00,nnnnnnnnnnn
11506,59.68,30.450001,0,50000.000000,30000000186,SLUTSK,245.149994,1939-12-01 05:00:00,nnnnnnnnnnn
11507,59.68,30.450001,0,60000.000000,30000000186,SLUTSK,253.149994,1939-12-01 05:00:00,nnnnnnnnnnn
11508,59.68,30.450001,0,70000.000000,30000000186,SLUTSK,262.149994,1939-12-01 05:00:00,nnnnnnnnnnn

2022-04-20 09:36:22,066 INFO Welcome to the CDS
2022-04-20 09:36:22,067 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:22,119 INFO Request is queued

20300 - testing: finished
optional - testing:  sonde_type

2022-04-20 09:36:23,153 INFO Request is completed
2022-04-20 09:36:23,155 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440181.9460716-28239-10-abf86f19-707e-4b87-8158-2aec08e72671.zip to download.zip (91.7K)
2022-04-20 09:36:23,231 INFO Download rate 1.2M/s
2022-04-20 09:36:23,248 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,sonde_type,station_id,ta,time,trajectory_label
0,48.248951,16.356859,0,560.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,48.248951,16.356859,0,570.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,48.248951,16.356859,0,580.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,48.248951,16.356859,0,590.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,48.248951,16.356859,0,600.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,nnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:23,350 INFO Welcome to the CDS
2022-04-20 09:36:23,351 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:23,403 INFO Request is queued

optional - testing:  bias_estimate

2022-04-20 09:36:24,437 INFO Request is completed
2022-04-20 09:36:24,439 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440183.207076-28594-11-cb457f35-a884-45a5-b9e5-1ec36a505e65.zip to download.zip (89K)
2022-04-20 09:36:24,500 INFO Download rate 1.5M/s
2022-04-20 09:36:24,514 INFO Reading Profile on slice(None, None, None)

,bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,0.0,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,0.0,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,0.0,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,0.0,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,0.0,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,0.0,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,0.0,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,0.0,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,0.0,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:24,615 INFO Welcome to the CDS
2022-04-20 09:36:24,616 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:24,670 INFO Request is queued

optional - testing:  obs_minus_an

2022-04-20 09:36:25,704 INFO Request is completed
2022-04-20 09:36:25,706 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440184.8699765-29087-7-649a3ba2-1e6c-4c21-aef9-95c381eb9a1f.zip to download.zip (109.7K)
2022-04-20 09:36:25,782 INFO Download rate 1.4M/s
2022-04-20 09:36:25,796 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,obs_minus_an,plev,report_id,station_id,ta,time,trajectory_label
0,48.248951,16.356859,0,-1.340239,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,48.248951,16.356859,0,-0.847053,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,48.248951,16.356859,0,-0.613867,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,48.248951,16.356859,0,-0.330681,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,48.248951,16.356859,0,-0.567495,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,48.248951,16.357180,0,0.103390,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,48.248951,16.357180,0,0.515455,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,48.248951,16.357180,0,2.375421,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,48.248951,16.357180,0,3.113251,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,48.248951,16.357180,0,NaN,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:25,895 INFO Welcome to the CDS
2022-04-20 09:36:25,896 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:25,948 INFO Request is queued

optional - testing:  obs_minus_bg

2022-04-20 09:36:26,983 INFO Request is completed
2022-04-20 09:36:26,984 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440185.737973-28514-6-4bf56b0b-3dea-4f22-b487-71432eecbfd8.zip to download.zip (109.7K)
2022-04-20 09:36:27,059 INFO Download rate 1.5M/s
2022-04-20 09:36:27,074 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,obs_minus_bg,plev,report_id,station_id,ta,time,trajectory_label
0,48.248951,16.356859,0,-2.445801,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,48.248951,16.356859,0,-1.908885,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,48.248951,16.356859,0,-1.631969,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,48.248951,16.356859,0,-1.305054,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,48.248951,16.356859,0,-1.498138,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,48.248951,16.357180,0,1.124605,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,48.248951,16.357180,0,1.348505,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,48.248951,16.357180,0,2.602726,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,48.248951,16.357180,0,3.038934,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,48.248951,16.357180,0,NaN,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:27,170 INFO Welcome to the CDS
2022-04-20 09:36:27,171 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:27,223 INFO Request is queued

optional - testing:  RISE_bias_estimate

2022-04-20 09:36:28,257 INFO Request is completed
2022-04-20 09:36:28,258 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440187.0384338-28553-10-8742fe38-df81-45e7-923d-a72b99ca1b48.zip to download.zip (90.9K)
2022-04-20 09:36:28,318 INFO Download rate 1.5M/s
2022-04-20 09:36:28,332 INFO Reading Profile on slice(None, None, None)

,RISE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,-2.536308,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:28,430 INFO Welcome to the CDS
2022-04-20 09:36:28,431 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:28,481 INFO Request is queued

optional - testing:  RICH_bias_estimate

2022-04-20 09:36:29,516 INFO Request is completed
2022-04-20 09:36:29,517 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440188.301392-28333-10-e2567c16-ebe0-4112-b977-720436b119e0.zip to download.zip (90.9K)
2022-04-20 09:36:29,577 INFO Download rate 1.5M/s
2022-04-20 09:36:29,592 INFO Reading Profile on slice(None, None, None)

,RICH_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,-2.536308,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:29,692 INFO Welcome to the CDS
2022-04-20 09:36:29,694 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:29,743 INFO Request is queued

optional - testing:  RASE_bias_estimate

2022-04-20 09:36:30,778 INFO Request is completed
2022-04-20 09:36:30,780 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440189.986329-28722-10-fb706535-38da-42d7-af9d-4ed281a8a17f.zip to download.zip (90.9K)
2022-04-20 09:36:30,842 INFO Download rate 1.4M/s
2022-04-20 09:36:30,857 INFO Reading Profile on slice(None, None, None)

,RASE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,-0.0,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:30,960 INFO Welcome to the CDS
2022-04-20 09:36:30,961 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:31,012 INFO Request is queued

optional - testing:  RAOBCORE_bias_estimate

2022-04-20 09:36:32,048 INFO Request is completed
2022-04-20 09:36:32,049 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440191.2684724-28981-10-472f1939-998a-4e75-b619-ab680924d552.zip to download.zip (90.9K)
2022-04-20 09:36:32,109 INFO Download rate 1.5M/s
2022-04-20 09:36:32,123 INFO Reading Profile on slice(None, None, None)

,RAOBCORE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,-0.0,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:32,222 INFO Welcome to the CDS
2022-04-20 09:36:32,223 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:32,272 INFO Request is queued

optional - testing:  desroziers_30

2022-04-20 09:36:33,307 INFO Request is completed
2022-04-20 09:36:33,308 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440192.498293-28809-8-e4aff6fb-2e9e-4132-985f-85a3b6407f85.zip to download.zip (91K)
2022-04-20 09:36:33,367 INFO Download rate 1.5M/s
2022-04-20 09:36:33,382 INFO Reading Profile on slice(None, None, None)

,desroziers_30,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,1.208805,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:33,480 INFO Welcome to the CDS
2022-04-20 09:36:33,481 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:33,530 INFO Request is queued

optional - testing:  desroziers_60

2022-04-20 09:36:34,565 INFO Request is completed
2022-04-20 09:36:34,566 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440193.3256729-28535-9-a6146c26-ef3e-49bc-bfcd-146a5c6becfa.zip to download.zip (91K)
2022-04-20 09:36:34,626 INFO Download rate 1.5M/s
2022-04-20 09:36:34,639 INFO Reading Profile on slice(None, None, None)

,desroziers_60,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,NaN,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:34,739 INFO Welcome to the CDS
2022-04-20 09:36:34,740 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:34,791 INFO Request is queued

optional - testing:  desroziers_90

2022-04-20 09:36:35,825 INFO Request is completed
2022-04-20 09:36:35,827 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440195.0085866-28945-8-b880379f-38b3-4de0-912f-46b90b671596.zip to download.zip (91K)
2022-04-20 09:36:35,890 INFO Download rate 1.4M/s
2022-04-20 09:36:35,904 INFO Reading Profile on slice(None, None, None)

,desroziers_90,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,NaN,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:36,001 INFO Welcome to the CDS
2022-04-20 09:36:36,003 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:36,053 INFO Request is queued

optional - testing:  desroziers_180

2022-04-20 09:36:37,087 INFO Request is completed
2022-04-20 09:36:37,089 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440195.8627226-28220-11-cba0c57e-3918-4513-91cc-8162038fc259.zip to download.zip (91K)
2022-04-20 09:36:37,148 INFO Download rate 1.5M/s
2022-04-20 09:36:37,162 INFO Reading Profile on slice(None, None, None)

,desroziers_180,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5667,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5668,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5669,NaN,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn
5671,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:37,258 INFO Welcome to the CDS
2022-04-20 09:36:37,259 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:37,309 INFO Request is queued

optional - testing:  wind_bias_estimate

2022-04-20 09:36:38,343 INFO Request is completed
2022-04-20 09:36:38,345 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440197.1119857-28197-10-9b0b5a53-f5d3-4b84-ac0e-880e392a210c.zip to download.zip (103.6K)
2022-04-20 09:36:38,420 INFO Download rate 1.4M/s
2022-04-20 09:36:38,435 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,trajectory_label,ua,wind_bias_estimate
0,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn,NaN,1.309737e-07
1,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn,NaN,6.189649e-07
2,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn,NaN,5.933804e-07
3,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn,NaN,-7.088579e-07
4,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn,NaN,6.072631e-07
...,...,...,...,...,...,...,...,...,...,...
5667,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn,NaN,-1.110748e-07
5668,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn,NaN,4.180706e-07
5669,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn,NaN,-3.157063e-08
5670,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn,NaN,-3.482663e-08
5671,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn,NaN,-3.696910e-09

2022-04-20 09:36:38,537 INFO Welcome to the CDS
2022-04-20 09:36:38,539 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:38,589 INFO Request is queued

optional - testing:  humidity_bias_estimate

2022-04-20 09:36:39,624 INFO Request is completed
2022-04-20 09:36:39,625 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440198.386324-28200-10-4c24a4a6-b6d4-47fa-841f-58cdbb9b5ea7.zip to download.zip (110.7K)
2022-04-20 09:36:39,771 INFO Download rate 764K/s
2022-04-20 09:36:39,787 INFO Reading Profile on slice(None, None, None)

,humidity_bias_estimate,hur,lat,lon,obs,plev,report_id,station_id,time,trajectory_label
0,NaN,NaN,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn
1,NaN,NaN,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn
2,NaN,NaN,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn
3,NaN,NaN,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn
4,NaN,NaN,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...,...
5666,NaN,NaN,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn
5667,NaN,NaN,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn
5668,-0.0,NaN,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn
5669,NaN,NaN,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn
5670,NaN,NaN,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:39,888 INFO Welcome to the CDS
2022-04-20 09:36:39,889 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:39,941 INFO Request is queued

optional - testing: finished
toolbox - testing:  bias_estimate

2022-04-20 09:36:40,976 INFO Request is completed
2022-04-20 09:36:40,978 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1650440200.1768913-28728-8-184b61e8-9d6f-4941-8e89-e7e23c62515d.zip to download.zip (89K)
2022-04-20 09:36:41,050 INFO Download rate 1.2M/s
2022-04-20 09:36:41,064 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time,trajectory_label
0,48.248951,16.356859,0,560.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),0.0,2019-12-30 11:32:22,nnnnnnnnnnn
1,48.248951,16.356859,0,570.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),0.0,2019-12-30 11:32:22,nnnnnnnnnnn
2,48.248951,16.356859,0,580.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),0.0,2019-12-30 11:32:22,nnnnnnnnnnn
3,48.248951,16.356859,0,590.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),0.0,2019-12-30 11:32:22,nnnnnnnnnnn
4,48.248951,16.356859,0,600.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),0.0,2019-12-30 11:32:22,nnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5667,48.248951,16.357180,0,93430.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),0.0,2019-12-31 23:41:21,nnnnnnnnnnn
5668,48.248951,16.357180,0,97960.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),0.0,2019-12-31 23:41:21,nnnnnnnnnnn
5669,48.248951,16.357180,0,100000.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),0.0,2019-12-31 23:41:21,nnnnnnnnnnn
5670,48.248951,16.357180,0,100440.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),0.0,2019-12-31 23:41:21,nnnnnnnnnnn
5671,48.248951,16.357180,0,100980.0,nnnnnnnnnnn,WIEN/HOHE WARTE (11035-1),NaN,2019-12-31 23:41:21,nnnnnnnnnnn

2022-04-20 09:36:41,163 INFO Welcome to the CDS
2022-04-20 09:36:41,164 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:41,215 INFO Request is queued

toolbox - testing: finished
cds - testing:  era5fb/date@hdr

2022-04-20 09:36:42,249 INFO Request is completed
2022-04-20 09:36:42,250 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440201.9828706-28771-9-1314d647-663b-456d-8e98-46525bfc7bd6.zip to download.zip (88.9K)
2022-04-20 09:36:42,309 INFO Download rate 1.5M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.09 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | date@hdr_____________________________________ : : (5672,)
 - V | lat__________________________________________ : : (5672,)
 - V | lon__________________________________________ : : (5672,)
 - V | obs__________________________________________ : : (5672,)
 - V | plev_________________________________________ : : (5672,)
 - V | report_id____________________________________ : : (5672, 11)
 - V | station_id___________________________________ : : (5672, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (5672,)
 - V | time_________________________________________ : : (5672,)
 - V | trajectory___________________________________ : : (4,)
 - V | trajectory_index_____________________________ : : (5672,)
 - V | trajectory_label_____________________________ : : (4, 11)

2022-04-20 09:36:42,389 INFO Welcome to the CDS
2022-04-20 09:36:42,391 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:42,442 INFO Request is queued

cds - testing:  sensor_configuration/comments

2022-04-20 09:36:43,476 INFO Request is completed
2022-04-20 09:36:43,477 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440203.2567482-28987-9-79db0b67-d6a9-406c-858d-588981251275.zip to download.zip (731.2K)
2022-04-20 09:36:43,604 INFO Download rate 5.7M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.71 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (5672,)
 - V | lon__________________________________________ : : (5672,)
 - V | obs__________________________________________ : : (5672,)
 - V | plev_________________________________________ : : (5672,)
 - V | report_id____________________________________ : : (5672, 11)
 - G | sensor_configuration_________________________ : : 1
 - V | station_id___________________________________ : : (5672, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (5672,)
 - V | time_________________________________________ : : (5672,)
 - V | trajectory___________________________________ : : (4,)
 - V | trajectory_index_____________________________ : : (5672,)
 - V | trajectory_label_____________________________ : : (4, 11)

2022-04-20 09:36:43,686 INFO Welcome to the CDS
2022-04-20 09:36:43,687 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:43,739 INFO Request is queued

cds - testing:  sensor_configuration/observing_method

2022-04-20 09:36:44,774 INFO Request is completed
2022-04-20 09:36:44,775 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440204.5909758-29022-9-4a3eeb17-6184-485f-8e5a-94e73e6a8681.zip to download.zip (113.4K)
2022-04-20 09:36:44,836 INFO Download rate 1.8M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.11 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (5672,)
 - V | lon__________________________________________ : : (5672,)
 - V | obs__________________________________________ : : (5672,)
 - V | plev_________________________________________ : : (5672,)
 - V | report_id____________________________________ : : (5672, 11)
 - G | sensor_configuration_________________________ : : 1
 - V | station_id___________________________________ : : (5672, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (5672,)
 - V | time_________________________________________ : : (5672,)
 - V | trajectory___________________________________ : : (4,)
 - V | trajectory_index_____________________________ : : (5672,)
 - V | trajectory_label_____________________________ : : (4, 11)

2022-04-20 09:36:44,917 INFO Welcome to the CDS
2022-04-20 09:36:44,919 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:44,970 INFO Request is queued

cds - testing:  header_table/location_accuracy

2022-04-20 09:36:46,004 INFO Request is completed
2022-04-20 09:36:46,006 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440205.4380102-29064-9-f1ac020d-3561-44b8-9f92-be55fa9ec385.zip to download.zip (468.6K)
2022-04-20 09:36:46,113 INFO Download rate 4.3M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.46 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - G | header_table_________________________________ : : 1
 - V | lat__________________________________________ : : (5672,)
 - V | lon__________________________________________ : : (5672,)
 - V | obs__________________________________________ : : (5672,)
 - V | plev_________________________________________ : : (5672,)
 - V | report_id____________________________________ : : (5672, 11)
 - V | station_id___________________________________ : : (5672, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (5672,)
 - V | time_________________________________________ : : (5672,)
 - V | trajectory___________________________________ : : (4,)
 - V | trajectory_index_____________________________ : : (5672,)
 - V | trajectory_label_____________________________ : : (4, 11)

2022-04-20 09:36:46,196 INFO Welcome to the CDS
2022-04-20 09:36:46,197 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:46,249 INFO Request is queued

cds - testing:  crs

2022-04-20 09:36:47,283 INFO Request is completed
2022-04-20 09:36:47,285 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440206.8109744-28922-4-00dad86b-2057-4f24-976e-6658ba6fda25.zip to download.zip (88.5K)
2022-04-20 09:36:47,344 INFO Download rate 1.5M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.09 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - G | crs__________________________________________ : : 4
 - V | lat__________________________________________ : : (5672,)
 - V | lon__________________________________________ : : (5672,)
 - V | obs__________________________________________ : : (5672,)
 - V | plev_________________________________________ : : (5672,)
 - V | report_id____________________________________ : : (5672, 11)
 - V | station_id___________________________________ : : (5672, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (5672,)
 - V | time_________________________________________ : : (5672,)
 - V | trajectory___________________________________ : : (4,)
 - V | trajectory_index_____________________________ : : (5672,)
 - V | trajectory_label_____________________________ : : (4, 11)

2022-04-20 09:36:47,428 INFO Welcome to the CDS
2022-04-20 09:36:47,429 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:47,482 INFO Request is queued

cds - testing:  observations_table/location_method

2022-04-20 09:36:48,517 INFO Request is completed
2022-04-20 09:36:48,518 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0001/cache/data0/adaptor.comprehensive_upper_air.retrieve-1650440207.609683-28193-7-bf85ca84-6215-4dca-8b6b-897ee58a8b33.zip to download.zip (88.9K)
2022-04-20 09:36:48,578 INFO Download rate 1.5M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.09 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (5672,)
 - V | location_method______________________________ : : (5672,)
 - V | lon__________________________________________ : : (5672,)
 - V | obs__________________________________________ : : (5672,)
 - V | plev_________________________________________ : : (5672,)
 - V | report_id____________________________________ : : (5672, 11)
 - V | station_id___________________________________ : : (5672, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (5672,)
 - V | time_________________________________________ : : (5672,)
 - V | trajectory___________________________________ : : (4,)
 - V | trajectory_index_____________________________ : : (5672,)
 - V | trajectory_label_____________________________ : : (4, 11)

2022-04-20 09:36:48,662 INFO Welcome to the CDS
2022-04-20 09:36:48,663 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-04-20 09:36:48,716 INFO Request is queued

cds - testing:  era5fb/obsvalue@body

2022-04-20 09:36:49,751 INFO Request is completed
2022-04-20 09:36:49,752 INFO Downloading https://sis-dev-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1650440209.2309458-28736-11-110911b5-9c82-4995-8a67-50a78c8a2333.zip to download.zip (86.4K)
2022-04-20 09:36:49,812 INFO Download rate 1.4M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.08 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (5672,)
 - V | lon__________________________________________ : : (5672,)
 - V | obs__________________________________________ : : (5672,)
 - V | plev_________________________________________ : : (5672,)
 - V | report_id____________________________________ : : (5672, 11)
 - V | station_id___________________________________ : : (5672, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (5672,)
 - V | time_________________________________________ : : (5672,)
 - V | trajectory___________________________________ : : (4,)
 - V | trajectory_index_____________________________ : : (5672,)
 - V | trajectory_label_____________________________ : : (4, 11)

cdm - testing: finished