In [1]:
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
from datetime import date
warnings.filterwarnings('ignore')

In [2]:
def request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test/')
    z.close()
    
    files = glob.glob('./test/*.nc')
    if len(files) > 0:
        ds = xarray.open_dataset(files[0])            
        to_be_removed = ['trajectory_index', 'trajectory']
        for ivar in list(ds.variables):
            if 'string' in ivar:
                to_be_removed.append(ivar)
            
            if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
                report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???
                
            if ds[ivar].ndim > 1:
                tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                idim = tmp.dims[0]
                ds[ivar] = (idim, tmp)

        ds = ds.drop_vars(to_be_removed)
        data = ds.to_dataframe()
    else:
        files = glob.glob('./test/*.csv')
        data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test/')
    except:
       print('Error while deleting directory')
    
    return data

In [3]:
def test_statid():
    log = []
    log.append('\n\n---STATID---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'all', 11035, '11035', '0-20000-0-11035', '0-20100-0-00701','11*', '1103*', '0-20100*', ['11035', 10393], ['0-20000-0-11035', '0-20000-0-10393']]:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['110350', '1103', '0-20000-0-1103', '0-20000-0-110350']:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        }
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('statid - testing: finished')
    return log

In [4]:
def test_variable():
    log = []
    log.append('\n\n---VARIABLE---')
    cachworkaround = np.random.random_sample()
    for s in ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['temperature', 'dew_point', 'wind', 'humidity', 'sonde_type']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('variable - testing: finished')
    return log

In [5]:
def test_optional():
    log = []
    log.append('\n\n---OPTIONAL---')
    cachworkaround = np.random.random_sample()
    for s in ['sonde_type', 'bias_estimate', 'obs_minus_an', 'obs_minus_bg']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ ' - ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['sonde', 'air_temperature', 'dew_point_temperature']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [6]:
def test_area():
    log = []
    log.append('\n\n---AREA---')
    cachworkaround = np.random.random_sample()
    for s in [[-40,140,80,359], [40,0,50,20], [48,-180,49,180], [48,0,49,360],]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [[0,0,0,0], [50,20,40,0], [48,-180,49,360]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('area - testing: finished')
    return log

In [7]:
def test_country():
    log = []
    log.append('\n\n---COUNTRY---')
    cachworkaround = np.random.random_sample()
    for s in ['GLOBE', 'ALL', 'NOR', ["NOR","DEU"]]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['NORWAY', 'nor',]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('country - testing: finished')
    return log

In [8]:
def test_date(): 
    log = []
    log.append('\n\n---DATE---')
    cachworkaround = np.random.random_sample()
    for s in [None, '20000231', '20000101', '20000101-20000201', ['20000101', '20000103', '20000106'], ['20000102', '20000101']]:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['2000011', '20000100', '00000000', '20000132', '20001301', '20000201-20000101', '20000101/20000201']:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('date - testing: finished')
    return log

In [9]:
def test_period(): 
    log = []
    log.append('\n\n---PERIOD---')
    # not working: ['1979-01-01/1980-08-16']
    cachworkaround = np.random.random_sample()
    for s in [None, '1979-01-01/1980-08-16']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['1980-01-02/1980-01-01']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('period - testing: finished')
    return log

In [10]:
def test_pressure_level():
    log = []
    log.append('\n\n---PRESSURE LEVEL---')
    cachworkaround = np.random.random_sample()
    for s in [100, '100', [100, 200], ['100', '200']]:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    for s in ['0', '2000']:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    print('pressure_level - testing: finished')
    return log

In [11]:
def test_time():
    log = []
    log.append('\n\n---TIME---')
    cachworkaround = np.random.random_sample()
    for s in [[22,23,0,1,2,3], ["22","23","00","01","02","03"], '', '0', '00', ["00"], [0,12], ["0","12"]]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['24', '25', '12.5', ]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('time - testing: finished')
    return log

In [12]:
def test_format():
    log = []
    log.append('\n\n---FORMAT---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'csv', 'nc']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['netcdf', 'csb', 'txt']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('format - testing: finished')
    return log

In [13]:
def test_ymd():
    log = []
    # if one of them is None -> no date selected = the whole dataset - change?
    cachworkaround = np.random.random_sample()
    log.append('\n\n---YEAR---')
    for s in [None, 2000, '2000', ['2000', '2001'], [2000, 2001]]:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [0, '20000', '-2000']:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---MONTH---')
    for s in [None, 1, '1', '01', ['01', '02'], ['1', '2'], [1, 2]]:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '13']:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---DAY---')
    for s in ['01', '31', ['01', '02'], ['1', '2'], [1, 2]]:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '32']:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('ymd - testing: finished')
    return log

In [14]:
def test_size():
    log = []
    log.append('\n\n---SIZE---')
    cachworkaround = np.random.random_sample()
    s = 'air_temperature 11035'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'air_temperature 10393'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '10393',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = 'air_temperature 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    s = 'air_temperature everything'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'all variables 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed'],
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('size - testing: finished')
    return log

In [15]:
def server_test():
    log = []
    log.append('Testing Server Requests \n')
    log.append('0 = failed | 1 = succeeded \n')
    a = !git rev-parse HEAD
    log.append('GIT revision: ' + str(a) + ' \n')
    log.append(str(date.today())+ ' \n')
    try: log.extend(test_statid())
    except: log.append('\nstatid - test: failed \n')
    try: log.extend(test_variable())
    except: log.append('\nvariable - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_area())
    except: log.append('\narea - test: failed \n')
    try: log.extend(test_country())
    except: log.append('\ncountry - test: failed \n')
    try: log.extend(test_date())
    except: log.append('\ndate - test: failed \n')
    try: log.extend(test_period())
    except: log.append('\nperiod - test: failed \n')
    try: log.extend(test_pressure_level())
    except: log.append('\npressure_level - test: failed \n')
    try: log.extend(test_time())
    except: log.append('\ntime - test: failed \n')
    try: log.extend(test_format())
    except: log.append('\nformat - test: failed \n')
    try: log.extend(test_ymd())
    except: log.append('\nymd - test: failed \n')
    try: log.extend(test_size())
    except: log.append('\nsize - test: failed \n')
        
    writelog=open(str(date.today()) + '_server_test_log.txt','w')
    writelog.writelines(log)
    writelog.close()

In [16]:
server_test()

statid - testing:  None

2020-12-10 12:03:44,174 INFO Welcome to the CDS
2020-12-10 12:03:44,175 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:03:44,391 INFO Request is queued
2020-12-10 12:03:45,429 INFO Request is running
2020-12-10 12:03:57,769 INFO Request is completed
2020-12-10 12:03:57,771 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598234.1432073-8870-17-20250f2c-405b-40db-aea8-2ff2bb79f5c0.zip to download.zip (49.7M)
2020-12-10 12:03:59,470 INFO Download rate 29.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-10 12:04:01,158 INFO Welcome to the CDS
2020-12-10 12:04:01,159 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:01,265 INFO Request is queued

statid - testing:  all

2020-12-10 12:04:02,302 INFO Request is running
2020-12-10 12:04:14,644 INFO Request is completed
2020-12-10 12:04:14,645 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598251.1975622-5814-17-517dab96-8728-4bd9-8a48-0ce23923fbae.zip to download.zip (49.7M)
2020-12-10 12:04:17,521 INFO Download rate 17.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-10 12:04:19,488 INFO Welcome to the CDS
2020-12-10 12:04:19,489 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:19,548 INFO Request is queued

statid - testing:  11035

2020-12-10 12:04:20,585 INFO Request is completed
2020-12-10 12:04:20,587 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598259.8840454-4089-17-10dd4147-d6e2-41ee-a1fb-8d6719ed6749.zip to download.zip (48.2K)
2020-12-10 12:04:20,703 INFO Download rate 418K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-10 12:04:20,815 INFO Welcome to the CDS
2020-12-10 12:04:20,816 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:20,874 INFO Request is queued

statid - testing:  11035

2020-12-10 12:04:21,911 INFO Request is completed
2020-12-10 12:04:21,912 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598261.1781292-8873-17-2c696984-7e7b-4ef7-96e0-57aab2095fbc.zip to download.zip (48.2K)
2020-12-10 12:04:22,004 INFO Download rate 533.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-10 12:04:22,116 INFO Welcome to the CDS
2020-12-10 12:04:22,117 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:22,194 INFO Request is queued

statid - testing:  0-20000-0-11035

2020-12-10 12:04:23,230 INFO Request is completed
2020-12-10 12:04:23,232 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598262.3454213-5911-17-aefe54eb-2a41-4d73-885d-b67446ddb0f3.zip to download.zip (48.2K)
2020-12-10 12:04:23,320 INFO Download rate 550.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-10 12:04:23,431 INFO Welcome to the CDS
2020-12-10 12:04:23,432 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:23,489 INFO Request is queued

statid - testing:  0-20100-0-00701

2020-12-10 12:04:24,526 INFO Request is completed
2020-12-10 12:04:24,527 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598263.8009589-4111-16-dc6f7d9a-3a2c-43ee-9390-462cc29afd96.zip to download.zip (32.1K)
2020-12-10 12:04:24,590 INFO Download rate 517.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-10 12:04:24,700 INFO Welcome to the CDS
2020-12-10 12:04:24,701 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:24,759 INFO Request is queued

statid - testing:  11*

2020-12-10 12:04:25,796 INFO Request is completed
2020-12-10 12:04:25,797 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598265.1705623-5999-16-5751edcb-9485-447f-aa81-66c643b2ab45.zip to download.zip (1.1M)
2020-12-10 12:04:25,999 INFO Download rate 5.4M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,19.299999,-81.37001,29100.0,238.800003,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,30000.0,240.399994,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35000.0,249.699997,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35200.0,250.000000,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35900.0,251.100006,1978-10-01 00:00:00,20000015013
...,...,...,...,...,...,...
0,19.299999,-81.37001,85000.0,290.399994,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,90000.0,292.899994,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,93900.0,294.700012,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,95000.0,295.600006,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,100000.0,299.500000,1978-10-31 12:00:00,20000015074

2020-12-10 12:04:26,134 INFO Welcome to the CDS
2020-12-10 12:04:26,135 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:26,194 INFO Request is queued

statid - testing:  1103*

2020-12-10 12:04:27,231 INFO Request is completed
2020-12-10 12:04:27,232 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598266.540203-4133-16-2a124089-11dd-4078-b120-7fde597c2bd7.zip to download.zip (48.2K)
2020-12-10 12:04:27,321 INFO Download rate 551.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-10 12:04:27,428 INFO Welcome to the CDS
2020-12-10 12:04:27,430 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:27,488 INFO Request is queued

statid - testing:  0-20100*

2020-12-10 12:04:28,526 INFO Request is completed
2020-12-10 12:04:28,527 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598267.7988322-6110-16-e0383b47-0281-4ad3-903b-bd0e0158315f.zip to download.zip (106.4K)
2020-12-10 12:04:28,643 INFO Download rate 924.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,5000.0,212.95,1978-10-11 08:51:48,0-20100-0-00703-002
0,46.811578,6.942472,7000.0,212.65,1978-10-11 08:45:18,0-20100-0-00703-002
0,46.811578,6.942472,10000.0,209.15,1978-10-11 08:38:12,0-20100-0-00703-002
0,46.811578,6.942472,15000.0,211.75,1978-10-11 08:29:54,0-20100-0-00703-002
0,46.811578,6.942472,20000.0,212.25,1978-10-11 08:23:54,0-20100-0-00703-002
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,243.15,1978-10-20 12:26:54,0-20100-0-00703-041
0,46.811578,6.942472,50000.0,256.25,1978-10-20 12:20:54,0-20100-0-00703-041
0,46.811578,6.942472,70000.0,272.95,1978-10-20 12:11:42,0-20100-0-00703-041
0,46.811578,6.942472,85000.0,274.35,1978-10-20 12:05:42,0-20100-0-00703-041
0,46.811578,6.942472,90000.0,274.95,1978-10-20 12:04:06,0-20100-0-00703-041

2020-12-10 12:04:28,757 INFO Welcome to the CDS
2020-12-10 12:04:28,758 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:28,834 INFO Request is queued

statid - testing:  ['11035', 10393]

2020-12-10 12:04:29,871 INFO Request is completed
2020-12-10 12:04:29,873 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598269.2345679-4155-16-ffeb50cc-7fa2-4d9b-8750-c3bc38de2d8c.zip to download.zip (108.3K)
2020-12-10 12:04:29,988 INFO Download rate 944.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-10 12:04:30,096 INFO Welcome to the CDS
2020-12-10 12:04:30,098 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:30,155 INFO Request is queued

statid - testing:  ['0-20000-0-11035', '0-20000-0-10393']

2020-12-10 12:04:31,192 INFO Request is completed
2020-12-10 12:04:31,193 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598270.3785598-6214-16-8c9a1cf2-9dc5-4872-91b8-0ddcd63d2f7f.zip to download.zip (108.3K)
2020-12-10 12:04:31,308 INFO Download rate 950.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-10 12:04:31,421 INFO Welcome to the CDS
2020-12-10 12:04:31,422 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:31,482 INFO Request is queued

statid - testing:  110350

2020-12-10 12:04:32,519 INFO Request is failed
2020-12-10 12:04:32,520 ERROR Message: an internal error occurred processing your request
2020-12-10 12:04:32,521 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid 110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-10 12:04:32,522 ERROR   Traceback (most recent call last):
2020-12-10 12:04:32,523 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:04:32,524 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:04:32,524 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:04:32,525 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:04:32,526 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:04:32,527 ERROR       return p(*args, **kwargs)
2020-12-10 12:04:32,528 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:04:32,528 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:04:32,529 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:04:32,530 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:04:32,530 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid 110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-10 12:04:32,564 INFO Welcome to the CDS
2020-12-10 12:04:32,565 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:32,629 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid 110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'.
statid - testing:  1103

2020-12-10 12:04:33,666 INFO Request is failed
2020-12-10 12:04:33,668 ERROR Message: an internal error occurred processing your request
2020-12-10 12:04:33,669 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid 1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-10 12:04:33,670 ERROR   Traceback (most recent call last):
2020-12-10 12:04:33,671 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:04:33,672 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:04:33,672 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:04:33,673 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:04:33,674 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:04:33,675 ERROR       return p(*args, **kwargs)
2020-12-10 12:04:33,676 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:04:33,676 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:04:33,677 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:04:33,678 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:04:33,679 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid 1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-10 12:04:33,713 INFO Welcome to the CDS
2020-12-10 12:04:33,714 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:33,778 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid 1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'.
statid - testing:  0-20000-0-1103

2020-12-10 12:04:34,815 INFO Request is failed
2020-12-10 12:04:34,816 ERROR Message: an internal error occurred processing your request
2020-12-10 12:04:34,817 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-10 12:04:34,818 ERROR   Traceback (most recent call last):
2020-12-10 12:04:34,819 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:04:34,820 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:04:34,821 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:04:34,822 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:04:34,823 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:04:34,823 ERROR       return p(*args, **kwargs)
2020-12-10 12:04:34,824 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:04:34,825 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:04:34,826 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:04:34,826 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:04:34,827 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-10 12:04:34,860 INFO Welcome to the CDS
2020-12-10 12:04:34,861 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:34,929 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'.
statid - testing:  0-20000-0-110350

2020-12-10 12:04:37,502 INFO Request is failed
2020-12-10 12:04:37,503 ERROR Message: an internal error occurred processing your request
2020-12-10 12:04:37,504 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-10 12:04:37,505 ERROR   Traceback (most recent call last):
2020-12-10 12:04:37,506 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:04:37,507 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:04:37,508 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:04:37,509 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:04:37,509 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:04:37,510 ERROR       return p(*args, **kwargs)
2020-12-10 12:04:37,511 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:04:37,512 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:04:37,513 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:04:37,513 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:04:37,514 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-10 12:04:37,548 INFO Welcome to the CDS
2020-12-10 12:04:37,549 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:37,616 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'.
statid - testing: finished
variable - testing:  air_temperature

2020-12-10 12:04:38,652 INFO Request is completed
2020-12-10 12:04:38,653 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598277.7941172-6716-15-37ec1bd2-d16d-4ef7-b6f7-40d8ff17f1d4.zip to download.zip (99.5K)
2020-12-10 12:04:38,767 INFO Download rate 885.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2020-12-10 12:04:38,879 INFO Welcome to the CDS
2020-12-10 12:04:38,880 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:38,942 INFO Request is queued

variable - testing:  dew_point_temperature

2020-12-10 12:04:39,979 INFO Request is completed
2020-12-10 12:04:39,980 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598279.5967202-6758-15-7287d27c-9c18-4005-8953-c604af0daf84.zip to download.zip (99.3K)
2020-12-10 12:04:40,095 INFO Download rate 869.3K/s

,dew_point_temperature,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,187.899994,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,187.899994,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,187.300003,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,187.100006,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,184.699997,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,260.730011,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,260.910004,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,265.450012,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,268.019989,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,270.109985,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2020-12-10 12:04:40,206 INFO Welcome to the CDS
2020-12-10 12:04:40,207 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:40,275 INFO Request is queued

variable - testing:  eastward_wind_speed

2020-12-10 12:04:41,312 INFO Request is completed
2020-12-10 12:04:41,313 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598280.439853-6760-15-ea036ed0-751c-406a-9765-68a531a56615.zip to download.zip (110.5K)
2020-12-10 12:04:41,428 INFO Download rate 970.9K/s

,lat,lon,plev,time,ua,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,27.712812,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,29.908157,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,29.001850,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,26.282927,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,14.912988,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.833590,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,0.881049,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,-1.667180,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,-1.180919,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,-0.985890,10000051145

2020-12-10 12:04:41,540 INFO Welcome to the CDS
2020-12-10 12:04:41,541 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:41,622 INFO Request is queued

variable - testing:  northward_wind_speed

2020-12-10 12:04:42,658 INFO Request is completed
2020-12-10 12:04:42,660 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598281.799111-6781-15-99113147-e24a-4ee3-a9e4-009a16223a1c.zip to download.zip (110.6K)
2020-12-10 12:04:42,775 INFO Download rate 967.4K/s

,lat,lon,plev,time,va,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,-16.000000,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,-13.946403,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,-13.523785,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,-12.255930,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,-21.297953,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.863208,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.088004,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,1.726416,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.222878,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,1.854190,10000051145

2020-12-10 12:04:42,889 INFO Welcome to the CDS
2020-12-10 12:04:42,890 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:42,961 INFO Request is queued

variable - testing:  relative_humidity

2020-12-10 12:04:45,535 INFO Request is completed
2020-12-10 12:04:45,537 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598285.1118302-6802-15-5d9d6855-ec2b-46ac-abe0-5b15f8b03f16.zip to download.zip (105.6K)
2020-12-10 12:04:45,652 INFO Download rate 925.4K/s

,hur,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.018269,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.016112,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.015643,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.015489,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.020350,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.436792,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,0.436065,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.540391,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.686344,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.887677,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2020-12-10 12:04:45,768 INFO Welcome to the CDS
2020-12-10 12:04:45,770 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:45,835 INFO Request is queued

variable - testing:  specific_humidity

2020-12-10 12:04:46,874 INFO Request is completed
2020-12-10 12:04:46,876 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598285.9942353-6824-15-93158c7f-2831-4b5b-a6fe-ea764d250fcd.zip to download.zip (107.2K)
2020-12-10 12:04:46,993 INFO Download rate 920.7K/s

,hus,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.000029,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.000027,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.000024,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.000020,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.000012,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.001742,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.002329,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.002811,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.003221,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145
0,0.003152,48.248901,16.357300,96620.0,2015-01-31 23:30:09,10000051145

2020-12-10 12:04:47,109 INFO Welcome to the CDS
2020-12-10 12:04:47,110 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:47,177 INFO Request is queued

variable - testing:  wind_from_direction

2020-12-10 12:04:48,214 INFO Request is completed
2020-12-10 12:04:48,216 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598287.5293283-6845-15-2e0bc424-fdb3-4506-be4e-7c82381915da.zip to download.zip (98.8K)
2020-12-10 12:04:48,331 INFO Download rate 866.8K/s

,lat,lon,plev,time,wind_from_direction,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,300.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,325.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,219.0,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,152.0,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,5.0,10000051145

2020-12-10 12:04:48,444 INFO Welcome to the CDS
2020-12-10 12:04:48,445 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:48,511 INFO Request is queued

variable - testing:  wind_speed

2020-12-10 12:04:49,549 INFO Request is completed
2020-12-10 12:04:49,551 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598288.6991813-6866-15-55f7222a-3616-4785-ae43-a519ae6e912e.zip to download.zip (100.9K)
2020-12-10 12:04:49,666 INFO Download rate 884.2K/s

,lat,lon,plev,time,wind_speed,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,33.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,29.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,26.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.4,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,2.4,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.7,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,2.1,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,1.0,10000051145

2020-12-10 12:04:49,792 INFO Welcome to the CDS
2020-12-10 12:04:49,794 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:49,854 INFO Request is queued

variable - testing:  temperature

2020-12-10 12:04:50,980 INFO Request is completed
2020-12-10 12:04:50,981 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598277.7941172-6716-15-37ec1bd2-d16d-4ef7-b6f7-40d8ff17f1d4.zip to download.zip (99.5K)
2020-12-10 12:04:51,095 INFO Download rate 885.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2020-12-10 12:04:51,201 INFO Welcome to the CDS
2020-12-10 12:04:51,203 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:51,269 INFO Request is queued

variable - testing:  dew_point

2020-12-10 12:04:52,308 INFO Request is failed
2020-12-10 12:04:52,310 ERROR Message: an internal error occurred processing your request
2020-12-10 12:04:52,311 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2020-12-10 12:04:52,312 ERROR   Traceback (most recent call last):
2020-12-10 12:04:52,312 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:04:52,313 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:04:52,314 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:04:52,315 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:04:52,316 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:04:52,316 ERROR       return p(*args, **kwargs)
2020-12-10 12:04:52,317 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:04:52,318 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:04:52,319 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:04:52,319 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:04:52,320 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2020-12-10 12:04:52,353 INFO Welcome to the CDS
2020-12-10 12:04:52,354 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:52,419 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'.
variable - testing:  wind

2020-12-10 12:04:53,457 INFO Request is failed
2020-12-10 12:04:53,458 ERROR Message: an internal error occurred processing your request
2020-12-10 12:04:53,459 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2020-12-10 12:04:53,460 ERROR   Traceback (most recent call last):
2020-12-10 12:04:53,461 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:04:53,462 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:04:53,463 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:04:53,464 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:04:53,465 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:04:53,465 ERROR       return p(*args, **kwargs)
2020-12-10 12:04:53,466 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:04:53,467 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:04:53,468 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:04:53,469 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:04:53,469 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2020-12-10 12:04:53,504 INFO Welcome to the CDS
2020-12-10 12:04:53,505 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:53,567 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'.
variable - testing:  humidity

2020-12-10 12:04:54,608 INFO Request is failed
2020-12-10 12:04:54,609 ERROR Message: an internal error occurred processing your request
2020-12-10 12:04:54,610 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2020-12-10 12:04:54,611 ERROR   Traceback (most recent call last):
2020-12-10 12:04:54,612 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:04:54,613 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:04:54,614 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:04:54,615 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:04:54,615 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:04:54,616 ERROR       return p(*args, **kwargs)
2020-12-10 12:04:54,617 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:04:54,618 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:04:54,619 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:04:54,619 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:04:54,620 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2020-12-10 12:04:54,655 INFO Welcome to the CDS
2020-12-10 12:04:54,656 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:54,739 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'.
variable - testing:  sonde_type

2020-12-10 12:04:55,780 INFO Request is failed
2020-12-10 12:04:55,781 ERROR Message: an internal error occurred processing your request
2020-12-10 12:04:55,782 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2020-12-10 12:04:55,783 ERROR   Traceback (most recent call last):
2020-12-10 12:04:55,784 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:04:55,785 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:04:55,786 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:04:55,786 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:04:55,787 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:04:55,788 ERROR       return p(*args, **kwargs)
2020-12-10 12:04:55,789 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:04:55,789 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:04:55,790 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:04:55,791 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:04:55,791 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2020-12-10 12:04:55,826 INFO Welcome to the CDS
2020-12-10 12:04:55,827 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:55,889 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'.
variable - testing: finished
optional - testing:  sonde_type

2020-12-10 12:04:56,926 INFO Request is completed
2020-12-10 12:04:56,928 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598296.095863-12689-4-df06735a-df8f-4e32-aeaa-ad2f6c58f5b5.zip to download.zip (91K)
2020-12-10 12:04:57,018 INFO Download rate 1019.3K/s

,lat,lon,plev,ta,time,sonde_type,trajectory_label
obs,,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,S09,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,S09,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,S09,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,S09,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,S09,0-20100-0-00701-001
...,...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,S09,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,S09,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,S09,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,S09,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,S09,0-20100-0-00701-054

2020-12-10 12:04:57,136 INFO Welcome to the CDS
2020-12-10 12:04:57,137 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:57,203 INFO Request is queued

optional - testing:  bias_estimate

2020-12-10 12:04:58,240 INFO Request is completed
2020-12-10 12:04:58,241 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598297.4000967-12694-4-a76e1173-595a-4464-a9da-f70ef1a33f83.zip to download.zip (87.5K)
2020-12-10 12:04:58,331 INFO Download rate 984.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-10 12:04:58,444 INFO Welcome to the CDS
2020-12-10 12:04:58,445 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:58,507 INFO Request is queued

optional - testing:  obs_minus_an

2020-12-10 12:04:59,545 INFO Request is completed
2020-12-10 12:04:59,546 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598298.7276576-12777-3-7530bfdb-71c8-41d4-9691-3ccdc1b5e00e.zip to download.zip (90.6K)
2020-12-10 12:04:59,649 INFO Download rate 887.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-10 12:04:59,761 INFO Welcome to the CDS
2020-12-10 12:04:59,763 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:04:59,827 INFO Request is queued

optional - testing:  obs_minus_bg

2020-12-10 12:05:00,865 INFO Request is completed
2020-12-10 12:05:00,866 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598300.0318167-12780-3-0b9a569b-2f64-443c-96b9-fe85e2850178.zip to download.zip (90.6K)
2020-12-10 12:05:00,958 INFO Download rate 998.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-10 12:05:01,068 INFO Welcome to the CDS
2020-12-10 12:05:01,069 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:01,132 INFO Request is queued

optional - testing:  sonde

2020-12-10 12:05:02,169 INFO Request is failed
2020-12-10 12:05:02,170 ERROR Message: an internal error occurred processing your request
2020-12-10 12:05:02,171 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2020-12-10 12:05:02,172 ERROR   Traceback (most recent call last):
2020-12-10 12:05:02,173 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:05:02,174 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:05:02,176 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:05:02,177 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:05:02,178 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:05:02,179 ERROR       return p(*args, **kwargs)
2020-12-10 12:05:02,180 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:05:02,181 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:05:02,182 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:05:02,182 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:05:02,183 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2020-12-10 12:05:02,216 INFO Welcome to the CDS
2020-12-10 12:05:02,217 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:02,284 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'.
optional - testing:  air_temperature

2020-12-10 12:05:03,323 INFO Request is failed
2020-12-10 12:05:03,324 ERROR Message: an internal error occurred processing your request
2020-12-10 12:05:03,325 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2020-12-10 12:05:03,326 ERROR   Traceback (most recent call last):
2020-12-10 12:05:03,327 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:05:03,328 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:05:03,329 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:05:03,330 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:05:03,331 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:05:03,332 ERROR       return p(*args, **kwargs)
2020-12-10 12:05:03,333 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:05:03,334 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:05:03,335 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:05:03,336 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:05:03,336 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2020-12-10 12:05:03,369 INFO Welcome to the CDS
2020-12-10 12:05:03,370 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:03,437 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'.
optional - testing:  dew_point_temperature

2020-12-10 12:05:04,475 INFO Request is failed
2020-12-10 12:05:04,476 ERROR Message: an internal error occurred processing your request
2020-12-10 12:05:04,477 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2020-12-10 12:05:04,479 ERROR   Traceback (most recent call last):
2020-12-10 12:05:04,480 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:05:04,481 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:05:04,482 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:05:04,483 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:05:04,484 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:05:04,485 ERROR       return p(*args, **kwargs)
2020-12-10 12:05:04,486 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:05:04,487 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:05:04,488 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:05:04,489 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:05:04,489 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2020-12-10 12:05:04,522 INFO Welcome to the CDS
2020-12-10 12:05:04,523 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:04,590 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'.
optional - testing: finished
area - testing:  [-40, 140, 80, 359]

2020-12-10 12:05:05,627 INFO Request is running
2020-12-10 12:05:09,452 INFO Request is completed
2020-12-10 12:05:09,454 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598309.1697195-8642-20-0a85b0fa-4ce2-4a37-8733-1832830e0163.zip to download.zip (23.7M)
2020-12-10 12:05:10,921 INFO Download rate 16.2M/s

       lat         lon      plev          ta       time trajectory_label
obs
0    18.23 -111.050003    1100.0  233.600006 1978-10-01      20000002973
0    18.23 -111.050003    1500.0  228.500000 1978-10-01      20000002973
0    18.23 -111.050003    2000.0  223.899994 1978-10-01      20000002973
0    18.23 -111.050003    2500.0  220.899994 1978-10-01      20000002973
0    18.23 -111.050003    3000.0  218.500000 1978-10-01      20000002973
..     ...         ...       ...         ...        ...              ...
0    18.23 -111.050003   91400.0  293.700012 1978-10-31      20000003019
0    18.23 -111.050003   94500.0  296.700012 1978-10-31      20000003019
0    18.23 -111.050003   95000.0  296.799988 1978-10-31      20000003019
0    18.23 -111.050003   97400.0  297.200012 1978-10-31      20000003019
0    18.23 -111.050003  100000.0  299.200012 1978-10-31      20000003019

[1389 rows x 6 columns]

2020-12-10 12:05:11,535 INFO Welcome to the CDS
2020-12-10 12:05:11,536 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:11,600 INFO Request is queued

area - testing:  [40, 0, 50, 20]

2020-12-10 12:05:12,637 INFO Request is completed
2020-12-10 12:05:12,638 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598312.346188-8845-19-5b462bd4-f77f-4a17-9b4c-f769491877a5.zip to download.zip (931.4K)
2020-12-10 12:05:12,840 INFO Download rate 4.5M/s

       lat    lon      plev          ta                time trajectory_label
obs
0    47.43  19.18    3000.0  215.500000 1978-10-01 00:00:00      20000020136
0    47.43  19.18    5000.0  217.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7000.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7200.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    8100.0  215.500000 1978-10-01 00:00:00      20000020136
..     ...    ...       ...         ...                 ...              ...
0    47.43  19.18   75100.0  276.000000 1978-10-31 18:00:00      20000020252
0    47.43  19.18   79900.0  269.299988 1978-10-31 18:00:00      20000020252
0    47.43  19.18   85000.0  273.399994 1978-10-31 18:00:00      20000020252
0    47.43  19.18   98500.0  283.200012 1978-10-31 18:00:00      20000020252
0    47.43  19.18  100000.0  283.399994 1978-10-31 18:00:00      20000020252

[3523 rows x 6 columns]

2020-12-10 12:05:12,990 INFO Welcome to the CDS
2020-12-10 12:05:12,991 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:13,056 INFO Request is queued

area - testing:  [48, -180, 49, 180]

2020-12-10 12:05:14,093 INFO Request is completed
2020-12-10 12:05:14,094 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598313.5172188-4064-19-029a1fed-3a92-4455-a662-ea4ce202c531.zip to download.zip (933.7K)
2020-12-10 12:05:14,299 INFO Download rate 4.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2020-12-10 12:05:14,443 INFO Welcome to the CDS
2020-12-10 12:05:14,444 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:14,508 INFO Request is queued

area - testing:  [48, 0, 49, 360]

2020-12-10 12:05:15,547 INFO Request is completed
2020-12-10 12:05:15,548 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598315.03895-8848-18-7b1070b2-0d89-489e-b297-c57c08fd5a50.zip to download.zip (933.7K)
2020-12-10 12:05:15,754 INFO Download rate 4.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2020-12-10 12:05:15,869 INFO Welcome to the CDS
2020-12-10 12:05:15,871 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:15,936 INFO Request is queued

area - testing:  [0, 0, 0, 0]

2020-12-10 12:05:16,974 INFO Request is failed
2020-12-10 12:05:16,975 ERROR Message: an internal error occurred processing your request
2020-12-10 12:05:16,976 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-10 12:05:16,977 ERROR   Traceback (most recent call last):
2020-12-10 12:05:16,978 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:05:16,980 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:05:16,981 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:05:16,982 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:05:16,983 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:05:16,985 ERROR       return p(*args, **kwargs)
2020-12-10 12:05:16,986 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:05:16,987 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:05:16,988 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:05:16,988 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:05:16,990 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-10 12:05:17,020 INFO Welcome to the CDS
2020-12-10 12:05:17,021 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:17,083 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [50, 20, 40, 0]

2020-12-10 12:05:18,121 INFO Request is failed
2020-12-10 12:05:18,122 ERROR Message: an internal error occurred processing your request
2020-12-10 12:05:18,124 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-10 12:05:18,124 ERROR   Traceback (most recent call last):
2020-12-10 12:05:18,125 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:05:18,126 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:05:18,127 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:05:18,128 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:05:18,129 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:05:18,129 ERROR       return p(*args, **kwargs)
2020-12-10 12:05:18,130 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:05:18,131 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:05:18,132 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:05:18,132 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:05:18,133 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-10 12:05:18,166 INFO Welcome to the CDS
2020-12-10 12:05:18,167 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:18,236 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [48, -180, 49, 360]

2020-12-10 12:05:19,272 INFO Request is failed
2020-12-10 12:05:19,273 ERROR Message: an internal error occurred processing your request
2020-12-10 12:05:19,274 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-10 12:05:19,275 ERROR   Traceback (most recent call last):
2020-12-10 12:05:19,276 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:05:19,277 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:05:19,278 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:05:19,278 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:05:19,279 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:05:19,280 ERROR       return p(*args, **kwargs)
2020-12-10 12:05:19,281 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:05:19,282 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:05:19,282 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:05:19,283 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:05:19,284 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-10 12:05:19,318 INFO Welcome to the CDS
2020-12-10 12:05:19,319 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:19,382 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing: finished
country - testing:  GLOBE

2020-12-10 12:05:20,419 INFO Request is running
2020-12-10 12:05:32,760 INFO Request is completed
2020-12-10 12:05:32,762 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598329.6259987-8854-17-1b1e69e8-e362-459a-b603-31d0966a8885.zip to download.zip (49.7M)
2020-12-10 12:05:38,345 INFO Download rate 8.9M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-10 12:05:39,317 INFO Welcome to the CDS
2020-12-10 12:05:39,318 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:39,381 INFO Request is queued

country - testing:  ALL

2020-12-10 12:05:40,418 INFO Request is running
2020-12-10 12:05:52,758 INFO Request is completed
2020-12-10 12:05:52,760 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598349.4568386-17089-1-85f75415-3f5d-4c65-b5c9-99644753d011.zip to download.zip (49.7M)
2020-12-10 12:05:58,118 INFO Download rate 9.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-10 12:05:59,246 INFO Welcome to the CDS
2020-12-10 12:05:59,247 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:05:59,314 INFO Request is queued

country - testing:  NOR

2020-12-10 12:06:00,352 INFO Request is completed
2020-12-10 12:06:00,353 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598359.6518505-13189-1-e1c3e1b6-05ed-49f3-9c39-51c6c8490c43.zip to download.zip (250.5K)
2020-12-10 12:06:00,498 INFO Download rate 1.7M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    67.25  14.4    1500.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    2000.0  217.300003 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3000.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3800.0  216.699997 1978-10-01 00:00:00      20000012548
0    67.25  14.4    5000.0  218.100006 1978-10-01 00:00:00      20000012548
..     ...   ...       ...         ...                 ...              ...
0    67.25  14.4   85000.0  271.500000 1978-10-31 12:00:00      20000012609
0    67.25  14.4   86000.0  271.700012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   94000.0  276.200012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   98000.0  274.000000 1978-10-31 12:00:00      20000012609
0    67.25  14.4  100000.0  275.200012 1978-10-31 12:00:00      20000012609

[1734 rows x 6 columns]

2020-12-10 12:06:00,616 INFO Welcome to the CDS
2020-12-10 12:06:00,617 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:00,685 INFO Request is queued

country - testing:  ['NOR', 'DEU']

2020-12-10 12:06:01,722 INFO Request is completed
2020-12-10 12:06:01,724 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598361.1506524-17120-1-95236d32-cbe1-435c-ae31-b3d32fa09afe.zip to download.zip (862.5K)
2020-12-10 12:06:01,957 INFO Download rate 3.6M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    52.82  9.93    5000.0  218.699997 1978-10-02 06:00:00      20000006050
0    52.82  9.93    7000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   10000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   15000.0  218.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   19000.0  213.100006 1978-10-02 06:00:00      20000006050
..     ...   ...       ...         ...                 ...              ...
0    52.82  9.93   40000.0  243.899994 1978-10-31 12:00:00      20000006110
0    52.82  9.93   50000.0  255.699997 1978-10-31 12:00:00      20000006110
0    52.82  9.93   70000.0  273.200012 1978-10-31 12:00:00      20000006110
0    52.82  9.93   85000.0  273.799988 1978-10-31 12:00:00      20000006110
0    52.82  9.93  100000.0  283.399994 1978-10-31 12:00:00      20000006110

[683 rows x 6 columns]

2020-12-10 12:06:02,081 INFO Welcome to the CDS
2020-12-10 12:06:02,082 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:02,171 INFO Request is queued

country - testing:  NORWAY

2020-12-10 12:06:03,210 INFO Request is failed
2020-12-10 12:06:03,212 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:03,213 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2020-12-10 12:06:03,214 ERROR   Traceback (most recent call last):
2020-12-10 12:06:03,214 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:03,215 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:03,216 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:03,217 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:03,218 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:03,219 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:03,219 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:03,220 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:03,221 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:03,221 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:03,222 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2020-12-10 12:06:03,256 INFO Welcome to the CDS
2020-12-10 12:06:03,257 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:03,319 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'.
country - testing:  nor

2020-12-10 12:06:04,356 INFO Request is failed
2020-12-10 12:06:04,357 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:04,358 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2020-12-10 12:06:04,359 ERROR   Traceback (most recent call last):
2020-12-10 12:06:04,360 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:04,361 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:04,362 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:04,362 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:04,363 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:04,364 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:04,365 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:04,365 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:04,366 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:04,367 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:04,367 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2020-12-10 12:06:04,401 INFO Welcome to the CDS
2020-12-10 12:06:04,402 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:04,467 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'.
country - testing: finished
date - testing:  None

2020-12-10 12:06:05,504 INFO Request is running
2020-12-10 12:06:09,421 INFO Request is completed
2020-12-10 12:06:09,422 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598366.8346517-13265-1-21be6ac5-6ede-42be-8dd8-621eb5d6387f.zip to download.zip (40M)
2020-12-10 12:06:10,307 INFO Download rate 45.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-10 12:06:11,407 INFO Welcome to the CDS
2020-12-10 12:06:11,408 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:11,482 INFO Request is queued

date - testing:  20000231

2020-12-10 12:06:12,520 INFO Request is completed
2020-12-10 12:06:12,521 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598371.7247977-17151-1-5532d982-ece3-4bb5-b625-b50eaa4431dd.zip to download.zip (23.6K)
2020-12-10 12:06:12,583 INFO Download rate 388.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,570.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,650.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,680.0,228.500000,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,720.0,223.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,1000.0,220.699997,2000-02-29 00:00:00,10000030873
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-10 12:06:12,692 INFO Welcome to the CDS
2020-12-10 12:06:12,693 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:12,760 INFO Request is queued

date - testing:  20000101

2020-12-10 12:06:13,798 INFO Request is completed
2020-12-10 12:06:13,799 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598372.9582841-13284-1-b14d4627-6b93-44d2-a0a9-196617d56f5b.zip to download.zip (23.6K)
2020-12-10 12:06:13,862 INFO Download rate 383.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-10 12:06:13,975 INFO Welcome to the CDS
2020-12-10 12:06:13,976 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:14,038 INFO Request is queued

date - testing:  20000101-20000201

2020-12-10 12:06:15,074 INFO Request is completed
2020-12-10 12:06:15,076 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598374.1784692-6705-19-7183ffce-f95c-4b12-906a-c5a0806e70a6.zip to download.zip (69.4K)
2020-12-10 12:06:15,165 INFO Download rate 788.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,90900.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,91400.0,281.600006,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,92500.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,95700.0,282.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,99100.0,285.600006,2000-02-01 12:00:00,10000030763

2020-12-10 12:06:15,274 INFO Welcome to the CDS
2020-12-10 12:06:15,275 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:15,341 INFO Request is queued

date - testing:  ['20000101', '20000103', '20000106']

2020-12-10 12:06:16,378 INFO Request is completed
2020-12-10 12:06:16,380 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598375.5767848-21730-1-a2e8c8ae-1566-4c34-a0b3-149bbb3fcd93.zip to download.zip (31.6K)
2020-12-10 12:06:16,442 INFO Download rate 513.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,96100.0,272.299988,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,96800.0,272.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97600.0,271.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97900.0,270.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,98100.0,269.500000,2000-01-06 12:00:00,10000030658

2020-12-10 12:06:16,555 INFO Welcome to the CDS
2020-12-10 12:06:16,556 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:16,619 INFO Request is queued

date - testing:  ['20000102', '20000101']

2020-12-10 12:06:17,657 INFO Request is completed
2020-12-10 12:06:17,658 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598376.9497163-5378-18-79b421b2-d3fa-4845-8030-15d8526709a0.zip to download.zip (25.6K)
2020-12-10 12:06:17,721 INFO Download rate 412.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,94800.0,272.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,97800.0,273.600006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,98300.0,271.500000,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,99100.0,271.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,100000.0,271.700012,2000-01-02 12:00:00,10000030642

2020-12-10 12:06:17,830 INFO Welcome to the CDS
2020-12-10 12:06:17,831 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:17,895 INFO Request is queued

date - testing:  2000011

2020-12-10 12:06:18,934 INFO Request is failed
2020-12-10 12:06:18,935 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:18,937 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2020-12-10 12:06:18,938 ERROR   Traceback (most recent call last):
2020-12-10 12:06:18,939 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:18,940 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:18,941 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:18,941 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:18,942 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:18,943 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:18,944 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:18,945 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:18,946 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:18,946 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:18,947 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2020-12-10 12:06:18,980 INFO Welcome to the CDS
2020-12-10 12:06:18,981 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:19,050 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'.
date - testing:  20000100

2020-12-10 12:06:20,086 INFO Request is failed
2020-12-10 12:06:20,088 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:20,089 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-10 12:06:20,089 ERROR   Traceback (most recent call last):
2020-12-10 12:06:20,090 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:20,091 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:20,092 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:20,093 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:20,094 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:20,094 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:20,095 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:20,096 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:20,097 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:20,097 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:20,098 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-10 12:06:20,133 INFO Welcome to the CDS
2020-12-10 12:06:20,134 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:20,196 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
date - testing:  00000000

2020-12-10 12:06:21,233 INFO Request is failed
2020-12-10 12:06:21,234 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:21,235 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2020-12-10 12:06:21,236 ERROR   Traceback (most recent call last):
2020-12-10 12:06:21,237 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:21,238 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:21,238 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:21,239 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:21,240 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:21,241 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:21,242 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:21,242 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:21,243 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:21,244 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:21,245 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2020-12-10 12:06:21,279 INFO Welcome to the CDS
2020-12-10 12:06:21,280 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:21,343 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'.
date - testing:  20000132

2020-12-10 12:06:22,380 INFO Request is failed
2020-12-10 12:06:22,381 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:22,382 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-10 12:06:22,383 ERROR   Traceback (most recent call last):
2020-12-10 12:06:22,384 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:22,385 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:22,386 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:22,386 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:22,387 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:22,388 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:22,389 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:22,390 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:22,390 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:22,391 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:22,391 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-10 12:06:22,425 INFO Welcome to the CDS
2020-12-10 12:06:22,426 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:22,507 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
date - testing:  20001301

2020-12-10 12:06:23,544 INFO Request is failed
2020-12-10 12:06:23,545 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:23,546 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-10 12:06:23,547 ERROR   Traceback (most recent call last):
2020-12-10 12:06:23,548 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:23,549 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:23,549 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:23,550 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:23,551 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:23,552 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:23,553 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:23,553 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:23,554 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:23,555 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:23,556 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-10 12:06:23,589 INFO Welcome to the CDS
2020-12-10 12:06:23,590 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:23,652 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
date - testing:  20000201-20000101

2020-12-10 12:06:24,689 INFO Request is failed
2020-12-10 12:06:24,690 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:24,691 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2020-12-10 12:06:24,692 ERROR   Traceback (most recent call last):
2020-12-10 12:06:24,693 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:24,694 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:24,695 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:24,695 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:24,696 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:24,697 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:24,698 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:24,699 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:24,699 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:24,700 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:24,700 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2020-12-10 12:06:24,734 INFO Welcome to the CDS
2020-12-10 12:06:24,735 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:24,810 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'.
date - testing:  20000101/20000201

2020-12-10 12:06:25,848 INFO Request is failed
2020-12-10 12:06:25,849 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:25,850 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2020-12-10 12:06:25,851 ERROR   Traceback (most recent call last):
2020-12-10 12:06:25,852 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:25,853 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:25,854 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:25,855 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:25,855 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:25,856 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:25,857 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:25,858 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:25,858 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:25,859 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:25,860 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2020-12-10 12:06:25,895 INFO Welcome to the CDS
2020-12-10 12:06:25,896 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:25,964 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'.
date - testing: finished
period - testing:  None

2020-12-10 12:06:28,537 INFO Request is running
2020-12-10 12:06:30,826 INFO Request is completed
2020-12-10 12:06:30,828 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598390.1903956-4080-18-4c82d6b1-0255-430a-9455-0d0d4a7b0a68.zip to download.zip (40M)
2020-12-10 12:06:32,554 INFO Download rate 23.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-10 12:06:33,600 INFO Welcome to the CDS
2020-12-10 12:06:33,601 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:33,664 INFO Request is queued

period - testing:  1979-01-01/1980-08-16

2020-12-10 12:06:34,701 INFO Request is completed
2020-12-10 12:06:34,702 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598393.9554346-8863-18-5c7d31d1-217d-4d87-990d-f863d5ccf83b.zip to download.zip (517.4K)
2020-12-10 12:06:35,226 INFO Download rate 990K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.360001,1000.0,212.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1300.0,215.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1700.0,202.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2000.0,204.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2700.0,208.699997,1979-01-01 00:00:00,10000000001
...,...,...,...,...,...,...
0,48.25,16.370001,81800.0,282.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,85000.0,285.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,88200.0,288.200012,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,93000.0,290.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,98000.0,294.799988,1980-08-16 12:00:00,10000002339

2020-12-10 12:06:35,349 INFO Welcome to the CDS
2020-12-10 12:06:35,350 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:35,412 INFO Request is queued

period - testing:  1980-01-02/1980-01-01

2020-12-10 12:06:36,451 INFO Request is failed
2020-12-10 12:06:36,452 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:36,453 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2020-12-10 12:06:36,454 ERROR   Traceback (most recent call last):
2020-12-10 12:06:36,455 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:36,456 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:36,457 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:36,457 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:36,458 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:36,459 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:36,460 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:36,461 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:36,461 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:36,462 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:36,463 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2020-12-10 12:06:36,498 INFO Welcome to the CDS
2020-12-10 12:06:36,499 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:36,562 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'.
period - testing: finished
pressure_level - testing:  100

2020-12-10 12:06:37,599 INFO Request is completed
2020-12-10 12:06:37,600 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598396.712037-4083-17-615dfd00-2ef9-41f4-bac1-d460eb2ef3ea.zip to download.zip (23.6K)
2020-12-10 12:06:37,663 INFO Download rate 380K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2020-12-10 12:06:37,767 INFO Welcome to the CDS
2020-12-10 12:06:37,768 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:37,831 INFO Request is queued

pressure_level - testing:  100

2020-12-10 12:06:38,868 INFO Request is completed
2020-12-10 12:06:38,870 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598398.1002102-8866-17-4ecd054c-281d-49a9-b696-c4c8c307b690.zip to download.zip (23.6K)
2020-12-10 12:06:38,930 INFO Download rate 393.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2020-12-10 12:06:39,036 INFO Welcome to the CDS
2020-12-10 12:06:39,037 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:39,100 INFO Request is queued

pressure_level - testing:  [100, 200]

2020-12-10 12:06:40,137 INFO Request is completed
2020-12-10 12:06:40,138 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598399.3573313-5721-17-b393bee6-b0f4-4974-8376-6f72dbfd83d0.zip to download.zip (23.6K)
2020-12-10 12:06:40,201 INFO Download rate 382.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2020-12-10 12:06:40,304 INFO Welcome to the CDS
2020-12-10 12:06:40,305 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:40,367 INFO Request is queued

pressure_level - testing:  ['100', '200']

2020-12-10 12:06:41,404 INFO Request is completed
2020-12-10 12:06:41,405 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598400.5315204-4086-17-988c73f9-f133-4465-9dda-44319c7c8d2e.zip to download.zip (23.6K)
2020-12-10 12:06:41,467 INFO Download rate 382.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2020-12-10 12:06:41,575 INFO Welcome to the CDS
2020-12-10 12:06:41,576 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:41,644 INFO Request is queued

pressure_level - testing:  0

2020-12-10 12:06:42,682 INFO Request is failed
2020-12-10 12:06:42,684 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:42,685 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2020-12-10 12:06:42,686 ERROR   Traceback (most recent call last):
2020-12-10 12:06:42,686 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:42,687 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:42,688 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:42,689 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:42,690 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:42,690 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:42,691 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:42,692 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:42,693 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:42,694 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:42,694 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2020-12-10 12:06:42,728 INFO Welcome to the CDS
2020-12-10 12:06:42,728 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:42,791 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'.
pressure_level - testing:  2000

2020-12-10 12:06:43,829 INFO Request is failed
2020-12-10 12:06:43,830 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:43,831 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2020-12-10 12:06:43,832 ERROR   Traceback (most recent call last):
2020-12-10 12:06:43,833 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:43,834 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:43,834 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:43,835 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:43,836 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:43,837 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:43,838 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:43,838 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:43,839 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:43,840 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:43,840 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2020-12-10 12:06:43,874 INFO Welcome to the CDS
2020-12-10 12:06:43,875 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:43,935 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'.
pressure_level - testing: finished
time - testing:  [22, 23, 0, 1, 2, 3]

2020-12-10 12:06:44,972 INFO Request is completed
2020-12-10 12:06:44,973 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598404.2853258-10877-1-2e7b534f-e518-41e7-b40f-761c764a2c45.zip to download.zip (43.3K)
2020-12-10 12:06:45,060 INFO Download rate 503.8K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2020-12-10 12:06:45,170 INFO Welcome to the CDS
2020-12-10 12:06:45,171 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:45,237 INFO Request is queued

time - testing:  ['22', '23', '00', '01', '02', '03']

2020-12-10 12:06:46,275 INFO Request is completed
2020-12-10 12:06:46,276 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598405.5064669-8870-18-54aca441-9e90-4458-987f-8bd944fdbaf3.zip to download.zip (43.3K)
2020-12-10 12:06:46,365 INFO Download rate 493.6K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2020-12-10 12:06:46,475 INFO Welcome to the CDS
2020-12-10 12:06:46,476 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:46,541 INFO Request is queued

time - testing:

2020-12-10 12:06:47,578 INFO Request is completed
2020-12-10 12:06:47,580 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598406.8399165-5814-18-c12af3d0-5c3d-45ac-8ac3-f1f946c12e1e.zip to download.zip (67.9K)
2020-12-10 12:06:47,668 INFO Download rate 782.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-10 12:06:47,779 INFO Welcome to the CDS
2020-12-10 12:06:47,780 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:47,841 INFO Request is queued

time - testing:  0

2020-12-10 12:06:48,878 INFO Request is completed
2020-12-10 12:06:48,879 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598407.9827232-4089-18-ca474c32-49d4-498e-bbcf-b2426695ccd4.zip to download.zip (44.1K)
2020-12-10 12:06:48,968 INFO Download rate 503.8K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-10 12:06:49,081 INFO Welcome to the CDS
2020-12-10 12:06:49,082 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:49,147 INFO Request is queued

time - testing:  00

2020-12-10 12:06:50,185 INFO Request is completed
2020-12-10 12:06:50,187 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598409.279843-8873-18-d0f28bb5-7ac6-4de8-9b57-659bece036cf.zip to download.zip (44.1K)
2020-12-10 12:06:50,276 INFO Download rate 501.4K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-10 12:06:50,387 INFO Welcome to the CDS
2020-12-10 12:06:50,388 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:50,472 INFO Request is queued

time - testing:  ['00']

2020-12-10 12:06:51,593 INFO Request is completed
2020-12-10 12:06:51,595 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598410.7088344-5911-18-c532571a-b57f-4521-a931-36d736558f5b.zip to download.zip (44.1K)
2020-12-10 12:06:51,683 INFO Download rate 506.5K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-10 12:06:51,792 INFO Welcome to the CDS
2020-12-10 12:06:51,792 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:51,855 INFO Request is queued

time - testing:  [0, 12]

2020-12-10 12:06:52,893 INFO Request is completed
2020-12-10 12:06:52,894 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598411.9995964-4111-17-15d48eba-7a2d-4221-8ea0-e23c8d391f5c.zip to download.zip (65.7K)
2020-12-10 12:06:52,984 INFO Download rate 743.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-10 12:06:53,097 INFO Welcome to the CDS
2020-12-10 12:06:53,098 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:53,163 INFO Request is queued

time - testing:  ['0', '12']

2020-12-10 12:06:54,199 INFO Request is completed
2020-12-10 12:06:54,201 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598413.4799426-5999-17-2bf3be87-610e-48ae-8658-c269e9275afe.zip to download.zip (65.7K)
2020-12-10 12:06:54,295 INFO Download rate 708.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-10 12:06:54,408 INFO Welcome to the CDS
2020-12-10 12:06:54,408 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:54,471 INFO Request is queued

time - testing:  24

2020-12-10 12:06:55,509 INFO Request is failed
2020-12-10 12:06:55,511 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:55,512 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2020-12-10 12:06:55,513 ERROR   Traceback (most recent call last):
2020-12-10 12:06:55,515 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:55,516 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:55,518 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:55,519 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:55,520 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:55,521 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:55,522 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:55,523 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:55,524 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:55,525 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:55,526 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2020-12-10 12:06:55,560 INFO Welcome to the CDS
2020-12-10 12:06:55,561 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:55,627 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'.
time - testing:  25

2020-12-10 12:06:56,665 INFO Request is failed
2020-12-10 12:06:56,666 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:56,667 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2020-12-10 12:06:56,669 ERROR   Traceback (most recent call last):
2020-12-10 12:06:56,670 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:56,671 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:56,673 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:56,674 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:56,675 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:56,676 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:56,677 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:56,678 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:56,679 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:56,680 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:56,681 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2020-12-10 12:06:56,715 INFO Welcome to the CDS
2020-12-10 12:06:56,716 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:56,781 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'.
time - testing:  12.5

2020-12-10 12:06:57,820 INFO Request is failed
2020-12-10 12:06:57,821 ERROR Message: an internal error occurred processing your request
2020-12-10 12:06:57,822 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2020-12-10 12:06:57,823 ERROR   Traceback (most recent call last):
2020-12-10 12:06:57,825 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:06:57,826 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:06:57,828 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:06:57,829 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:06:57,831 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:06:57,832 ERROR       return p(*args, **kwargs)
2020-12-10 12:06:57,834 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:06:57,835 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:06:57,835 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:06:57,836 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:06:57,837 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2020-12-10 12:06:57,871 INFO Welcome to the CDS
2020-12-10 12:06:57,872 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:57,936 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'.
time - testing: finished
format - testing:  None

2020-12-10 12:06:58,974 INFO Request is completed
2020-12-10 12:06:58,975 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598418.1999705-6214-17-d98bc4cc-89fa-4c44-8398-1904416dadd4.zip to download.zip (67.9K)
2020-12-10 12:06:59,065 INFO Download rate 768.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-10 12:06:59,178 INFO Welcome to the CDS
2020-12-10 12:06:59,179 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:06:59,245 INFO Request is queued

format - testing:  csv

2020-12-10 12:07:00,281 INFO Request is completed
2020-12-10 12:07:00,283 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598419.5066717-6325-16-a6fb3127-63c9-4cf2-aa90-0d0a58104d5d.zip to download.zip (29.1K)
2020-12-10 12:07:00,347 INFO Download rate 462.5K/s

,obs_id,lat,lon,plev,ta,time,trajectory_label,statid,statindex
0,0,48.2500,16.3700,640.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
1,1,48.2500,16.3700,700.0,223.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
2,2,48.2500,16.3700,790.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
3,3,48.2500,16.3700,880.0,220.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
4,4,48.2500,16.3700,1000.0,224.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
...,...,...,...,...,...,...,...,...,...
3850,3850,48.2486,16.3564,85000.0,263.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3851,3851,48.2486,16.3564,92500.0,268.05,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3852,3852,48.2486,16.3564,93100.0,268.25,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3853,3853,48.2486,16.3564,98000.0,272.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3854,3854,48.2486,16.3564,98700.0,274.15,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0

2020-12-10 12:07:00,457 INFO Welcome to the CDS
2020-12-10 12:07:00,458 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:00,523 INFO Request is queued

format - testing:  nc

2020-12-10 12:07:01,560 INFO Request is completed
2020-12-10 12:07:01,561 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598420.761454-6408-16-b29cd2f5-ca84-499f-b381-2ec381d6106d.zip to download.zip (67.9K)
2020-12-10 12:07:01,652 INFO Download rate 758.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-10 12:07:01,766 INFO Welcome to the CDS
2020-12-10 12:07:01,767 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:01,839 INFO Request is queued

format - testing:  netcdf

2020-12-10 12:07:02,877 INFO Request is failed
2020-12-10 12:07:02,878 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:02,879 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2020-12-10 12:07:02,880 ERROR   Traceback (most recent call last):
2020-12-10 12:07:02,881 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:02,882 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:02,883 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:02,884 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:02,884 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:02,885 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:02,886 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:02,887 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:02,888 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:02,888 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:02,889 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2020-12-10 12:07:02,924 INFO Welcome to the CDS
2020-12-10 12:07:02,924 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:02,992 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'.
format - testing:  csb

2020-12-10 12:07:04,029 INFO Request is failed
2020-12-10 12:07:04,030 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:04,031 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2020-12-10 12:07:04,032 ERROR   Traceback (most recent call last):
2020-12-10 12:07:04,033 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:04,034 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:04,035 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:04,035 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:04,036 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:04,037 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:04,038 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:04,038 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:04,039 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:04,040 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:04,041 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2020-12-10 12:07:04,075 INFO Welcome to the CDS
2020-12-10 12:07:04,076 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:04,139 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'.
format - testing:  txt

2020-12-10 12:07:05,175 INFO Request is failed
2020-12-10 12:07:05,176 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:05,177 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2020-12-10 12:07:05,178 ERROR   Traceback (most recent call last):
2020-12-10 12:07:05,179 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:05,180 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:05,181 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:05,182 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:05,182 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:05,183 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:05,184 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:05,185 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:05,186 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:05,186 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:05,187 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2020-12-10 12:07:05,221 INFO Welcome to the CDS
2020-12-10 12:07:05,222 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:05,288 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'.
format - testing: finished
y - testing:  None

2020-12-10 12:07:06,327 INFO Request is running
2020-12-10 12:07:10,152 INFO Request is completed
2020-12-10 12:07:10,153 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598427.7100549-6758-16-150b99e3-5d27-49fb-9764-250557a37b7e.zip to download.zip (40M)
2020-12-10 12:07:15,500 INFO Download rate 7.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-10 12:07:16,557 INFO Welcome to the CDS
2020-12-10 12:07:16,558 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:16,620 INFO Request is queued

y - testing:  2000

2020-12-10 12:07:17,657 INFO Request is completed
2020-12-10 12:07:17,659 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598436.925946-6760-16-10a7e948-566b-4d3b-85af-a280f29e7b23.zip to download.zip (23.6K)
2020-12-10 12:07:17,725 INFO Download rate 359K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-10 12:07:17,835 INFO Welcome to the CDS
2020-12-10 12:07:17,836 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:17,908 INFO Request is queued

y - testing:  2000

2020-12-10 12:07:18,946 INFO Request is completed
2020-12-10 12:07:18,947 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598438.159018-6781-16-5b8ffc93-2600-4163-8458-b364a9843efb.zip to download.zip (23.6K)
2020-12-10 12:07:19,012 INFO Download rate 370.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-10 12:07:19,120 INFO Welcome to the CDS
2020-12-10 12:07:19,121 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:19,191 INFO Request is queued

y - testing:  ['2000', '2001']

2020-12-10 12:07:20,229 INFO Request is completed
2020-12-10 12:07:20,230 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598439.5375173-11227-1-556eb9c2-c869-4c1a-b8fd-91c8a34078af.zip to download.zip (596.5K)
2020-12-10 12:07:20,407 INFO Download rate 3.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2020-12-10 12:07:20,527 INFO Welcome to the CDS
2020-12-10 12:07:20,528 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:20,592 INFO Request is queued

y - testing:  [2000, 2001]

2020-12-10 12:07:21,629 INFO Request is completed
2020-12-10 12:07:21,630 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598440.8975449-6802-16-21143e75-a7d0-4074-b331-807d4a428fcf.zip to download.zip (596.5K)
2020-12-10 12:07:21,826 INFO Download rate 3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2020-12-10 12:07:21,952 INFO Welcome to the CDS
2020-12-10 12:07:21,953 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:22,044 INFO Request is queued

y - testing:  0

2020-12-10 12:07:23,081 INFO Request is failed
2020-12-10 12:07:23,083 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:23,084 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2020-12-10 12:07:23,085 ERROR   Traceback (most recent call last):
2020-12-10 12:07:23,086 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:23,087 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:23,088 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:23,089 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:23,090 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:23,091 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:23,092 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:23,093 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:23,094 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:23,097 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:23,097 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2020-12-10 12:07:23,129 INFO Welcome to the CDS
2020-12-10 12:07:23,130 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:23,197 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'.
y - testing:  20000

2020-12-10 12:07:24,235 INFO Request is failed
2020-12-10 12:07:24,236 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:24,237 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2020-12-10 12:07:24,238 ERROR   Traceback (most recent call last):
2020-12-10 12:07:24,239 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:24,239 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:24,240 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:24,241 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:24,242 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:24,243 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:24,243 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:24,244 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:24,245 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:24,246 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:24,247 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2020-12-10 12:07:24,280 INFO Welcome to the CDS
2020-12-10 12:07:24,281 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:24,343 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'.
y - testing:  -2000

2020-12-10 12:07:25,381 INFO Request is failed
2020-12-10 12:07:25,382 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:25,383 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2020-12-10 12:07:25,384 ERROR   Traceback (most recent call last):
2020-12-10 12:07:25,385 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:25,385 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:25,386 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:25,387 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:25,388 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:25,388 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:25,389 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:25,390 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:25,391 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:25,393 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:25,394 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2020-12-10 12:07:25,426 INFO Welcome to the CDS
2020-12-10 12:07:25,427 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:25,496 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'.
m - testing:  None

2020-12-10 12:07:26,533 INFO Request is completed
2020-12-10 12:07:26,534 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598445.7973664-6907-14-0f1bf166-6367-46e6-84be-3cede05e1725.zip to download.zip (547.1K)
2020-12-10 12:07:26,705 INFO Download rate 3.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84900.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85000.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85200.0,264.700012,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,92500.0,270.500000,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,97400.0,273.600006,2000-12-31 12:00:00,10000032099

2020-12-10 12:07:26,826 INFO Welcome to the CDS
2020-12-10 12:07:26,827 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:26,889 INFO Request is queued

m - testing:  1

2020-12-10 12:07:27,927 INFO Request is completed
2020-12-10 12:07:27,928 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598447.0340478-4542-10-d76b47aa-5a55-4a9c-9412-ae409cb101d7.zip to download.zip (23.6K)
2020-12-10 12:07:27,991 INFO Download rate 380K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-10 12:07:28,100 INFO Welcome to the CDS
2020-12-10 12:07:28,101 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:28,169 INFO Request is queued

m - testing:  1

2020-12-10 12:07:29,207 INFO Request is completed
2020-12-10 12:07:29,209 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598448.3261387-4548-9-18433149-89fa-4c81-8694-0e3795f3a742.zip to download.zip (23.6K)
2020-12-10 12:07:29,274 INFO Download rate 365.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-10 12:07:29,385 INFO Welcome to the CDS
2020-12-10 12:07:29,385 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:29,467 INFO Request is completed
2020-12-10 12:07:29,468 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598438.159018-6781-16-5b8ffc93-2600-4163-8458-b364a9843efb.zip to download.zip (23.6K)
2020-12-10 12:07:29,532 INFO Download rate 375.4K/s

m - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-10 12:07:29,639 INFO Welcome to the CDS
2020-12-10 12:07:29,640 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:29,706 INFO Request is queued

m - testing:  ['01', '02']

2020-12-10 12:07:30,743 INFO Request is completed
2020-12-10 12:07:30,745 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598449.8384063-4986-6-26fd4b93-6385-4250-8353-7d1cb979a2f6.zip to download.zip (110.7K)
2020-12-10 12:07:30,864 INFO Download rate 935.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-10 12:07:30,974 INFO Welcome to the CDS
2020-12-10 12:07:30,975 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:31,039 INFO Request is queued

m - testing:  ['1', '2']

2020-12-10 12:07:32,077 INFO Request is completed
2020-12-10 12:07:32,078 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598451.324909-12633-5-27a8b7e4-01e8-41b2-b468-3315f02b6a92.zip to download.zip (110.7K)
2020-12-10 12:07:32,202 INFO Download rate 897.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-10 12:07:32,314 INFO Welcome to the CDS
2020-12-10 12:07:32,315 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:32,379 INFO Request is queued

m - testing:  [1, 2]

2020-12-10 12:07:33,417 INFO Request is completed
2020-12-10 12:07:33,418 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598452.6381822-12689-5-b3d53f13-3b60-4e86-923d-59914a2e3d84.zip to download.zip (110.7K)
2020-12-10 12:07:33,535 INFO Download rate 954K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-10 12:07:33,647 INFO Welcome to the CDS
2020-12-10 12:07:33,648 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:33,715 INFO Request is queued

m - testing:  00

2020-12-10 12:07:34,842 INFO Request is failed
2020-12-10 12:07:34,843 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:34,844 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-10 12:07:34,845 ERROR   Traceback (most recent call last):
2020-12-10 12:07:34,846 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:34,847 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:34,848 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:34,849 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:34,850 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:34,851 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:34,852 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:34,853 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:34,854 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:34,855 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:34,856 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-10 12:07:34,889 INFO Welcome to the CDS
2020-12-10 12:07:34,890 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:34,958 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  0

2020-12-10 12:07:35,996 INFO Request is failed
2020-12-10 12:07:35,997 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:35,998 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-10 12:07:35,999 ERROR   Traceback (most recent call last):
2020-12-10 12:07:36,000 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:36,001 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:36,002 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:36,003 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:36,004 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:36,005 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:36,006 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:36,007 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:36,008 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:36,009 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:36,010 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-10 12:07:36,043 INFO Welcome to the CDS
2020-12-10 12:07:36,044 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:36,108 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  13

2020-12-10 12:07:37,146 INFO Request is failed
2020-12-10 12:07:37,147 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:37,148 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-10 12:07:37,149 ERROR   Traceback (most recent call last):
2020-12-10 12:07:37,150 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:37,151 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:37,152 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:37,153 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:37,154 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:37,157 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:37,157 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:37,158 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:37,159 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:37,159 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:37,160 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-10 12:07:37,194 INFO Welcome to the CDS
2020-12-10 12:07:37,195 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:37,273 INFO Request is completed
2020-12-10 12:07:37,274 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598438.159018-6781-16-5b8ffc93-2600-4163-8458-b364a9843efb.zip to download.zip (23.6K)
2020-12-10 12:07:37,337 INFO Download rate 381.4K/s

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
d - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-10 12:07:37,447 INFO Welcome to the CDS
2020-12-10 12:07:37,448 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:37,520 INFO Request is queued

d - testing:  31

2020-12-10 12:07:38,558 INFO Request is completed
2020-12-10 12:07:38,559 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598457.792218-12912-2-87da8be2-bdbe-4cba-b750-c4d238a12523.zip to download.zip (23.6K)
2020-12-10 12:07:38,623 INFO Download rate 373.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,2870.0,203.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3000.0,202.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3750.0,205.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4020.0,201.699997,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4600.0,208.500000,2000-01-31 00:00:00,10000030757
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-10 12:07:38,733 INFO Welcome to the CDS
2020-12-10 12:07:38,734 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:38,820 INFO Request is queued

d - testing:  ['01', '02']

2020-12-10 12:07:39,860 INFO Request is completed
2020-12-10 12:07:39,861 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598459.1378703-8343-2-381ef0e1-719c-488a-80aa-52ccc2840d80.zip to download.zip (68.1K)
2020-12-10 12:07:39,953 INFO Download rate 750.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-10 12:07:40,061 INFO Welcome to the CDS
2020-12-10 12:07:40,063 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:40,142 INFO Request is queued

d - testing:  ['1', '2']

2020-12-10 12:07:41,180 INFO Request is completed
2020-12-10 12:07:41,181 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598460.4286313-8348-2-662b34c6-4495-45f1-9c96-de655d7f0160.zip to download.zip (68.1K)
2020-12-10 12:07:41,272 INFO Download rate 753.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-10 12:07:41,383 INFO Welcome to the CDS
2020-12-10 12:07:41,384 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:41,450 INFO Request is queued

d - testing:  [1, 2]

2020-12-10 12:07:42,488 INFO Request is completed
2020-12-10 12:07:42,489 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607598461.6585755-19054-1-915542b2-d320-4302-9079-4c911beedb2c.zip to download.zip (68.1K)
2020-12-10 12:07:42,580 INFO Download rate 758.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-10 12:07:42,692 INFO Welcome to the CDS
2020-12-10 12:07:42,694 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:42,760 INFO Request is queued

d - testing:  00

2020-12-10 12:07:43,797 INFO Request is failed
2020-12-10 12:07:43,798 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:43,799 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-10 12:07:43,800 ERROR   Traceback (most recent call last):
2020-12-10 12:07:43,801 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:43,802 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:43,803 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:43,804 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:43,806 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:43,807 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:43,808 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:43,809 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:43,812 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:43,812 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:43,813 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-10 12:07:43,844 INFO Welcome to the CDS
2020-12-10 12:07:43,845 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:43,910 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  0

2020-12-10 12:07:44,948 INFO Request is failed
2020-12-10 12:07:44,949 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:44,950 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-10 12:07:44,951 ERROR   Traceback (most recent call last):
2020-12-10 12:07:44,952 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:44,953 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:44,954 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:44,955 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:44,956 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:44,957 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:44,958 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:44,959 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:44,960 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:44,961 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:44,962 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-10 12:07:44,995 INFO Welcome to the CDS
2020-12-10 12:07:44,996 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:45,067 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  32

2020-12-10 12:07:46,105 INFO Request is failed
2020-12-10 12:07:46,106 ERROR Message: an internal error occurred processing your request
2020-12-10 12:07:46,107 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-10 12:07:46,108 ERROR   Traceback (most recent call last):
2020-12-10 12:07:46,109 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:07:46,110 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:07:46,111 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:07:46,113 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:07:46,114 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:07:46,115 ERROR       return p(*args, **kwargs)
2020-12-10 12:07:46,116 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:07:46,117 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:07:46,118 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:07:46,119 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:07:46,119 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-10 12:07:46,152 INFO Welcome to the CDS
2020-12-10 12:07:46,153 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:46,223 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
ymd - testing: finished
size - testing:  air_temperature 11035

2020-12-10 12:07:47,261 INFO Request is running
2020-12-10 12:07:51,089 INFO Request is completed
2020-12-10 12:07:51,090 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598468.6492414-17089-2-64ed6e45-ab0d-49ac-9e56-f9074cd52610.zip to download.zip (40M)
2020-12-10 12:07:56,799 INFO Download rate 7M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-10 12:07:57,863 INFO Welcome to the CDS
2020-12-10 12:07:57,865 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:07:57,928 INFO Request is queued

size - testing:  air_temperature 10393

2020-12-10 12:07:58,966 INFO Request is running
2020-12-10 12:08:30,396 INFO Request is completed
2020-12-10 12:08:30,398 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598496.9509532-13189-2-76b06bc7-6d4a-436a-b7db-4f1978ffb9f9.zip to download.zip (321.3M)
2020-12-10 12:08:56,299 INFO Download rate 12.4M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,52.216702,14.11670,20000.0,211.350006,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,25000.0,220.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,30000.0,228.449997,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,40000.0,241.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,50000.0,254.850006,1905-04-04 06:00:00,30000000001
...,...,...,...,...,...,...
0,52.209301,14.12041,101330.0,278.450012,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101400.0,278.369995,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101450.0,278.309998,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101510.0,278.250000,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101600.0,278.290009,2019-12-31 16:45:10,10000041139

2020-12-10 12:09:03,789 INFO Welcome to the CDS
2020-12-10 12:09:03,790 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

size - testing:  air_temperature 1 month all stations

2020-12-10 12:09:03,977 INFO Request is queued
2020-12-10 12:09:05,014 INFO Request is running
2020-12-10 12:09:12,254 INFO Request is completed
2020-12-10 12:09:12,255 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607598550.9929123-17120-2-efd56c2f-4aff-485c-9556-6df866f50599.zip to download.zip (39.8M)
2020-12-10 12:09:19,565 INFO Download rate 5.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,47.461399,-111.384697,960.0,213.350006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1000.0,212.949997,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1080.0,210.850006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1130.0,211.149994,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1390.0,216.449997,2010-01-01 00:00:00,30000055381
...,...,...,...,...,...,...
0,47.461399,-111.384697,83250.0,271.450012,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85000.0,271.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85900.0,268.250000,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,87600.0,265.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,88150.0,264.549988,2010-02-01 12:00:00,30000055444

2020-12-10 12:09:20,457 INFO Welcome to the CDS
2020-12-10 12:09:20,458 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:09:20,517 INFO Request is queued

size - testing:  air_temperature everything

2020-12-10 12:09:21,554 INFO Request is failed
2020-12-10 12:09:21,556 ERROR Message: an internal error occurred processing your request
2020-12-10 12:09:21,557 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-10 12:09:21,558 ERROR   Traceback (most recent call last):
2020-12-10 12:09:21,560 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:09:21,561 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:09:21,562 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:09:21,563 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:09:21,564 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:09:21,565 ERROR       return p(*args, **kwargs)
2020-12-10 12:09:21,566 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:09:21,566 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:09:21,567 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:09:21,567 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:09:21,567 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-10 12:09:21,598 INFO Welcome to the CDS
2020-12-10 12:09:21,599 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-10 12:09:21,657 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing:  all variables 1 month all stations

2020-12-10 12:09:22,694 INFO Request is failed
2020-12-10 12:09:22,696 ERROR Message: an internal error occurred processing your request
2020-12-10 12:09:22,697 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-10 12:09:22,698 ERROR   Traceback (most recent call last):
2020-12-10 12:09:22,699 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-10 12:09:22,700 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-10 12:09:22,702 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-10 12:09:22,703 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-10 12:09:22,705 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-10 12:09:22,706 ERROR       return p(*args, **kwargs)
2020-12-10 12:09:22,707 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-10 12:09:22,708 ERROR       return self.proc(context, *args, **kwargs)
2020-12-10 12:09:22,709 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-10 12:09:22,710 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-10 12:09:22,710 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing: finished