In [1]:
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
from datetime import date
warnings.filterwarnings('ignore')

In [2]:
def request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test/')
    z.close()
    
    files = glob.glob('./test/*.nc')
    if len(files) > 0:
        ds = xarray.open_dataset(files[0])            
        to_be_removed = ['trajectory_index', 'trajectory']
        for ivar in list(ds.variables):
            if 'string' in ivar:
                to_be_removed.append(ivar)
            
            if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
                report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???
                
            if ds[ivar].ndim > 1:
                tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                idim = tmp.dims[0]
                ds[ivar] = (idim, tmp)

        ds = ds.drop_vars(to_be_removed)
        data = ds.to_dataframe()
    else:
        files = glob.glob('./test/*.csv')
        data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test/')
    except:
       print('Error while deleting directory')
    
    return data

In [3]:
def test_statid():
    log = []
    log.append('\n\n---STATID---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'all', 11035, '11035', '0-20000-0-11035', '0-20100-0-00701','11*', '1103*', '0-20100*', ['11035', 10393], ['0-20000-0-11035', '0-20000-0-10393']]:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['110350', '1103', '0-20000-0-1103', '0-20000-0-110350']:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        }
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('statid - testing: finished')
    return log

In [4]:
def test_variable():
    log = []
    log.append('\n\n---VARIABLE---')
    cachworkaround = np.random.random_sample()
    for s in ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['temperature', 'dew_point', 'wind', 'humidity', 'sonde_type']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('variable - testing: finished')
    return log

In [5]:
def test_optional():
    log = []
    log.append('\n\n---OPTIONAL---')
    cachworkaround = np.random.random_sample()
    for s in ['sonde_type', 'bias_estimate', 'obs_minus_an', 'obs_minus_bg']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ ' - ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['sonde', 'air_temperature', 'dew_point_temperature']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [6]:
def test_area():
    log = []
    log.append('\n\n---AREA---')
    cachworkaround = np.random.random_sample()
    for s in [[80,140,-40,359], [50,0,40,20], [49,-180,48,180], [49,0,48,360], [90, -180, -90, 180]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [[80,140,70], [80,140,70,150,0],[0,0,0,0], [40,20,50,0], [49,-180,48,360]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('area - testing: finished')
    return log

In [7]:
def test_country():
    log = []
    log.append('\n\n---COUNTRY---')
    cachworkaround = np.random.random_sample()
    for s in ['GLOBE', 'ALL', 'NOR', ["NOR","DEU"]]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['NORWAY', 'nor',]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('country - testing: finished')
    return log

In [8]:
def test_date(): 
    log = []
    log.append('\n\n---DATE---')
    cachworkaround = np.random.random_sample()
    for s in [None, '20000231', '20000101', '20000101-20000201', ['20000101', '20000103', '20000106'], ['20000102', '20000101']]:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['2000011', '20000100', '00000000', '20000132', '20001301', '20000201-20000101', '20000101/20000201']:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('date - testing: finished')
    return log

In [9]:
def test_period(): 
    log = []
    log.append('\n\n---PERIOD---')
    # not working: ['1979-01-01/1980-08-16']
    cachworkaround = np.random.random_sample()
    for s in [None, '1979-01-01/1980-08-16']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['1980-01-02/1980-01-01']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('period - testing: finished')
    return log

In [10]:
def test_pressure_level():
    log = []
    log.append('\n\n---PRESSURE LEVEL---')
    cachworkaround = np.random.random_sample()
    for s in [100, '100', [100, 200], ['100', '200']]:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    for s in ['0', '2000']:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    print('pressure_level - testing: finished')
    return log

In [11]:
def test_time():
    log = []
    log.append('\n\n---TIME---')
    cachworkaround = np.random.random_sample()
    for s in [[22,23,0,1,2,3], ["22","23","00","01","02","03"], '', '0', '00', ["00"], [0,12], ["0","12"]]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['24', '25', '12.5', ]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('time - testing: finished')
    return log

In [12]:
def test_format():
    log = []
    log.append('\n\n---FORMAT---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'csv', 'nc']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['netcdf', 'csb', 'txt']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('format - testing: finished')
    return log

In [13]:
def test_ymd():
    log = []
    # if one of them is None -> no date selected = the whole dataset - change?
    cachworkaround = np.random.random_sample()
    log.append('\n\n---YEAR---')
    for s in [None, 2000, '2000', ['2000', '2001'], [2000, 2001]]:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [0, '20000', '-2000']:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---MONTH---')
    for s in [None, 1, '1', '01', ['01', '02'], ['1', '2'], [1, 2]]:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '13']:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---DAY---')
    for s in ['01', '31', ['01', '02'], ['1', '2'], [1, 2]]:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '32']:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('ymd - testing: finished')
    return log

In [14]:
def test_size():
    log = []
    log.append('\n\n---SIZE---')
    cachworkaround = np.random.random_sample()
    s = 'air_temperature 11035'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'air_temperature 10393'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '10393',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = 'air_temperature 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    s = 'air_temperature everything'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'all variables 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed'],
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('size - testing: finished')
    return log

In [15]:
def server_test():
    log = []
    log.append('Testing Server Requests \n')
    log.append('0 = failed | 1 = succeeded \n')
    a = !git rev-parse HEAD
    log.append('GIT revision: ' + str(a) + ' \n')
    log.append(str(date.today())+ ' \n')
    try: log.extend(test_statid())
    except: log.append('\nstatid - test: failed \n')
    try: log.extend(test_variable())
    except: log.append('\nvariable - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_area())
    except: log.append('\narea - test: failed \n')
    try: log.extend(test_country())
    except: log.append('\ncountry - test: failed \n')
    try: log.extend(test_date())
    except: log.append('\ndate - test: failed \n')
    try: log.extend(test_period())
    except: log.append('\nperiod - test: failed \n')
    try: log.extend(test_pressure_level())
    except: log.append('\npressure_level - test: failed \n')
    try: log.extend(test_time())
    except: log.append('\ntime - test: failed \n')
    try: log.extend(test_format())
    except: log.append('\nformat - test: failed \n')
    try: log.extend(test_ymd())
    except: log.append('\nymd - test: failed \n')
    try: log.extend(test_size())
    except: log.append('\nsize - test: failed \n')
        
    writelog=open(str(date.today()) + '_server_test_log.txt','w')
    writelog.writelines(log)
    writelog.close()

In [16]:
server_test()

2020-12-11 08:28:54,769 INFO Welcome to the CDS
2020-12-11 08:28:54,770 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  None

2020-12-11 08:28:55,047 INFO Request is queued
2020-12-11 08:28:56,082 INFO Request is running
2020-12-11 08:29:08,416 INFO Request is completed
2020-12-11 08:29:08,417 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671744.8848436-3111-3-70f6745d-e29b-4a5d-9eba-f36a67a17610.zip to download.zip (49.7M)
2020-12-11 08:29:09,897 INFO Download rate 33.6M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-11 08:29:11,059 INFO Welcome to the CDS
2020-12-11 08:29:11,060 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:11,132 INFO Request is queued

statid - testing:  all

2020-12-11 08:29:12,169 INFO Request is running
2020-12-11 08:29:24,503 INFO Request is completed
2020-12-11 08:29:24,503 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671760.9657342-3341-3-dc88cf62-15e5-4474-a1ff-4c7d2e41e0ee.zip to download.zip (49.7M)
2020-12-11 08:29:26,747 INFO Download rate 22.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-11 08:29:28,040 INFO Welcome to the CDS
2020-12-11 08:29:28,041 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:28,105 INFO Request is queued

statid - testing:  11035

2020-12-11 08:29:29,140 INFO Request is completed
2020-12-11 08:29:29,140 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671768.2862751-3187-3-5b020651-c93e-4336-94ff-8e798aa8475b.zip to download.zip (48.2K)
2020-12-11 08:29:29,229 INFO Download rate 547K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-11 08:29:29,317 INFO Welcome to the CDS
2020-12-11 08:29:29,317 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:29,417 INFO Request is queued

statid - testing:  11035

2020-12-11 08:29:30,451 INFO Request is completed
2020-12-11 08:29:30,452 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671769.576467-3596-3-ff1cbdca-bc2b-4a5c-b553-9a95738dfac2.zip to download.zip (48.2K)
2020-12-11 08:29:30,541 INFO Download rate 542.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-11 08:29:30,630 INFO Welcome to the CDS
2020-12-11 08:29:30,630 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:30,699 INFO Request is queued

statid - testing:  0-20000-0-11035

2020-12-11 08:29:31,735 INFO Request is completed
2020-12-11 08:29:31,735 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671770.8475897-3746-3-aaf69519-3df0-4717-89af-c324ccf46e26.zip to download.zip (48.2K)
2020-12-11 08:29:31,824 INFO Download rate 543.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-11 08:29:31,914 INFO Welcome to the CDS
2020-12-11 08:29:31,914 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:31,982 INFO Request is queued

statid - testing:  0-20100-0-00701

2020-12-11 08:29:33,017 INFO Request is completed
2020-12-11 08:29:33,018 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671772.13395-3468-3-85094bd4-3c18-4eca-8260-4ea757037424.zip to download.zip (32.1K)
2020-12-11 08:29:33,079 INFO Download rate 526.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-11 08:29:33,166 INFO Welcome to the CDS
2020-12-11 08:29:33,167 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:33,225 INFO Request is queued

statid - testing:  11*

2020-12-11 08:29:34,260 INFO Request is completed
2020-12-11 08:29:34,261 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671773.6390908-3683-3-846c39d7-99ae-407a-bc9e-0ed4386d7ff4.zip to download.zip (1.1M)
2020-12-11 08:29:34,465 INFO Download rate 5.4M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,19.299999,-81.37001,29100.0,238.800003,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,30000.0,240.399994,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35000.0,249.699997,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35200.0,250.000000,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35900.0,251.100006,1978-10-01 00:00:00,20000015013
...,...,...,...,...,...,...
0,19.299999,-81.37001,85000.0,290.399994,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,90000.0,292.899994,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,93900.0,294.700012,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,95000.0,295.600006,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,100000.0,299.500000,1978-10-31 12:00:00,20000015074

2020-12-11 08:29:34,576 INFO Welcome to the CDS
2020-12-11 08:29:34,576 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:34,632 INFO Request is queued

statid - testing:  1103*

2020-12-11 08:29:35,666 INFO Request is completed
2020-12-11 08:29:35,667 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671774.7886784-3379-3-2a715490-69f5-4928-a25d-0810776b411d.zip to download.zip (48.2K)
2020-12-11 08:29:35,728 INFO Download rate 791.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-11 08:29:35,816 INFO Welcome to the CDS
2020-12-11 08:29:35,817 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:35,873 INFO Request is queued

statid - testing:  0-20100*

2020-12-11 08:29:36,907 INFO Request is completed
2020-12-11 08:29:36,908 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671776.1635745-3981-3-4db1b86b-f874-49d6-a9ff-a7209e0df8f3.zip to download.zip (106.4K)
2020-12-11 08:29:37,029 INFO Download rate 875.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,5000.0,212.95,1978-10-11 08:51:48,0-20100-0-00703-002
0,46.811578,6.942472,7000.0,212.65,1978-10-11 08:45:18,0-20100-0-00703-002
0,46.811578,6.942472,10000.0,209.15,1978-10-11 08:38:12,0-20100-0-00703-002
0,46.811578,6.942472,15000.0,211.75,1978-10-11 08:29:54,0-20100-0-00703-002
0,46.811578,6.942472,20000.0,212.25,1978-10-11 08:23:54,0-20100-0-00703-002
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,243.15,1978-10-20 12:26:54,0-20100-0-00703-041
0,46.811578,6.942472,50000.0,256.25,1978-10-20 12:20:54,0-20100-0-00703-041
0,46.811578,6.942472,70000.0,272.95,1978-10-20 12:11:42,0-20100-0-00703-041
0,46.811578,6.942472,85000.0,274.35,1978-10-20 12:05:42,0-20100-0-00703-041
0,46.811578,6.942472,90000.0,274.95,1978-10-20 12:04:06,0-20100-0-00703-041

2020-12-11 08:29:37,119 INFO Welcome to the CDS
2020-12-11 08:29:37,120 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:37,178 INFO Request is queued

statid - testing:  ['11035', 10393]

2020-12-11 08:29:38,213 INFO Request is completed
2020-12-11 08:29:38,213 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671777.380378-3492-3-185ea700-4ae7-4c5a-8fff-4fd1653d920e.zip to download.zip (108.3K)
2020-12-11 08:29:38,331 INFO Download rate 923.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-11 08:29:38,424 INFO Welcome to the CDS
2020-12-11 08:29:38,424 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:38,482 INFO Request is queued

statid - testing:  ['0-20000-0-11035', '0-20000-0-10393']

2020-12-11 08:29:39,516 INFO Request is completed
2020-12-11 08:29:39,517 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671778.6848345-3838-3-b5e1ae71-15f8-4795-bf09-0c037627f625.zip to download.zip (108.3K)
2020-12-11 08:29:39,635 INFO Download rate 918.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-11 08:29:39,725 INFO Welcome to the CDS
2020-12-11 08:29:39,726 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:39,782 INFO Request is queued

statid - testing:  110350

2020-12-11 08:29:40,816 INFO Request is failed
2020-12-11 08:29:40,817 ERROR Message: an internal error occurred processing your request
2020-12-11 08:29:40,817 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid 110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-11 08:29:40,817 ERROR   Traceback (most recent call last):
2020-12-11 08:29:40,818 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:29:40,818 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:29:40,818 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:29:40,819 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:29:40,819 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:29:40,819 ERROR       return p(*args, **kwargs)
2020-12-11 08:29:40,820 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:29:40,820 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:29:40,820 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:29:40,820 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:29:40,821 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid 110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-11 08:29:40,851 INFO Welcome to the CDS
2020-12-11 08:29:40,851 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:40,907 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid 110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'.
statid - testing:  1103

2020-12-11 08:29:41,942 INFO Request is failed
2020-12-11 08:29:41,943 ERROR Message: an internal error occurred processing your request
2020-12-11 08:29:41,943 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid 1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-11 08:29:41,943 ERROR   Traceback (most recent call last):
2020-12-11 08:29:41,943 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:29:41,944 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:29:41,944 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:29:41,944 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:29:41,945 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:29:41,945 ERROR       return p(*args, **kwargs)
2020-12-11 08:29:41,945 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:29:41,945 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:29:41,946 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:29:41,946 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:29:41,946 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid 1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-11 08:29:41,977 INFO Welcome to the CDS
2020-12-11 08:29:41,977 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:42,037 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid 1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'.
statid - testing:  0-20000-0-1103

2020-12-11 08:29:43,072 INFO Request is failed
2020-12-11 08:29:43,073 ERROR Message: an internal error occurred processing your request
2020-12-11 08:29:43,073 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-11 08:29:43,073 ERROR   Traceback (most recent call last):
2020-12-11 08:29:43,074 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:29:43,074 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:29:43,074 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:29:43,074 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:29:43,075 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:29:43,075 ERROR       return p(*args, **kwargs)
2020-12-11 08:29:43,075 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:29:43,075 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:29:43,076 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:29:43,076 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:29:43,076 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-11 08:29:43,107 INFO Welcome to the CDS
2020-12-11 08:29:43,107 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:43,164 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-1103 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'.
statid - testing:  0-20000-0-110350

2020-12-11 08:29:44,201 INFO Request is failed
2020-12-11 08:29:44,202 ERROR Message: an internal error occurred processing your request
2020-12-11 08:29:44,202 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-11 08:29:44,202 ERROR   Traceback (most recent call last):
2020-12-11 08:29:44,203 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:29:44,203 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:29:44,203 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:29:44,203 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:29:44,204 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:29:44,204 ERROR       return p(*args, **kwargs)
2020-12-11 08:29:44,204 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:29:44,204 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:29:44,205 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:29:44,205 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:29:44,205 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'
2020-12-11 08:29:44,236 INFO Welcome to the CDS
2020-12-11 08:29:44,236 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:44,302 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid 0-20000-0-110350 of wrong size - please select statid without \\"0-20...\\"-prefix of 5 digits, or with \\"0-20...\\"-prefix of 15 digits"'.
statid - testing: finished
variable - testing:  air_temperature

2020-12-11 08:29:45,336 INFO Request is completed
2020-12-11 08:29:45,337 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671784.4998927-3950-3-8406e450-88e1-4099-85f6-cb4dd8010836.zip to download.zip (99.5K)
2020-12-11 08:29:45,453 INFO Download rate 859.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2020-12-11 08:29:45,542 INFO Welcome to the CDS
2020-12-11 08:29:45,542 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:45,600 INFO Request is queued

variable - testing:  dew_point_temperature

2020-12-11 08:29:46,635 INFO Request is completed
2020-12-11 08:29:46,635 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671785.8364203-3863-3-c93350b6-35f5-4349-8d39-d3f880d6d581.zip to download.zip (99.3K)
2020-12-11 08:29:46,753 INFO Download rate 848.2K/s

,dew_point_temperature,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,187.899994,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,187.899994,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,187.300003,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,187.100006,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,184.699997,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,260.730011,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,260.910004,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,265.450012,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,268.019989,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,270.109985,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2020-12-11 08:29:46,844 INFO Welcome to the CDS
2020-12-11 08:29:46,844 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:46,902 INFO Request is queued

variable - testing:  eastward_wind_speed

2020-12-11 08:29:47,937 INFO Request is completed
2020-12-11 08:29:47,938 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671787.069608-967-6-a1f660bb-24d2-47a5-b185-6f414b025b4d.zip to download.zip (110.5K)
2020-12-11 08:29:48,086 INFO Download rate 746.3K/s

,lat,lon,plev,time,ua,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,27.712812,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,29.908157,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,29.001850,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,26.282927,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,14.912988,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.833590,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,0.881049,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,-1.667180,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,-1.180919,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,-0.985890,10000051145

2020-12-11 08:29:48,177 INFO Welcome to the CDS
2020-12-11 08:29:48,177 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:48,234 INFO Request is queued

variable - testing:  northward_wind_speed

2020-12-11 08:29:49,270 INFO Request is completed
2020-12-11 08:29:49,270 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671788.3942683-1011-6-43bcd1f7-c763-4d9a-be6e-d9898ea57a76.zip to download.zip (110.6K)
2020-12-11 08:29:49,387 INFO Download rate 950.3K/s

,lat,lon,plev,time,va,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,-16.000000,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,-13.946403,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,-13.523785,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,-12.255930,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,-21.297953,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.863208,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.088004,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,1.726416,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.222878,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,1.854190,10000051145

2020-12-11 08:29:49,478 INFO Welcome to the CDS
2020-12-11 08:29:49,479 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:49,536 INFO Request is queued

variable - testing:  relative_humidity

2020-12-11 08:29:50,573 INFO Request is completed
2020-12-11 08:29:50,574 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671789.8354986-692-6-d681810a-16be-4160-94ec-5f5f602e2f43.zip to download.zip (105.6K)
2020-12-11 08:29:50,690 INFO Download rate 909.8K/s

,hur,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.018269,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.016112,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.015643,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.015489,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.020350,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.436792,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,0.436065,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.540391,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.686344,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.887677,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2020-12-11 08:29:50,781 INFO Welcome to the CDS
2020-12-11 08:29:50,782 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:50,853 INFO Request is queued

variable - testing:  specific_humidity

2020-12-11 08:29:51,889 INFO Request is completed
2020-12-11 08:29:51,889 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671791.0267828-1050-6-b954e260-2abe-442d-9a92-79ae173e2f5d.zip to download.zip (107.2K)
2020-12-11 08:29:52,006 INFO Download rate 920.1K/s

,hus,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.000029,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.000027,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.000024,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.000020,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.000012,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.001742,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.002329,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.002811,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.003221,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145
0,0.003152,48.248901,16.357300,96620.0,2015-01-31 23:30:09,10000051145

2020-12-11 08:29:52,095 INFO Welcome to the CDS
2020-12-11 08:29:52,095 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:52,170 INFO Request is queued

variable - testing:  wind_from_direction

2020-12-11 08:29:53,205 INFO Request is completed
2020-12-11 08:29:53,205 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671792.3279276-1087-6-fb4322e0-91e0-4b64-afb8-88126d48fb24.zip to download.zip (98.8K)
2020-12-11 08:29:53,322 INFO Download rate 845.2K/s

,lat,lon,plev,time,wind_from_direction,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,300.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,325.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,219.0,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,152.0,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,5.0,10000051145

2020-12-11 08:29:53,413 INFO Welcome to the CDS
2020-12-11 08:29:53,414 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:53,469 INFO Request is queued

variable - testing:  wind_speed

2020-12-11 08:29:54,504 INFO Request is completed
2020-12-11 08:29:54,505 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671793.6261113-1141-6-db6b3087-bac8-43f4-a952-355e30d5f5c3.zip to download.zip (100.9K)
2020-12-11 08:29:54,622 INFO Download rate 863.1K/s

,lat,lon,plev,time,wind_speed,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,33.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,29.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,26.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.4,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,2.4,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.7,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,2.1,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,1.0,10000051145

2020-12-11 08:29:54,712 INFO Welcome to the CDS
2020-12-11 08:29:54,712 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:54,769 INFO Request is queued

variable - testing:  temperature

2020-12-11 08:29:55,804 INFO Request is completed
2020-12-11 08:29:55,804 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671784.4998927-3950-3-8406e450-88e1-4099-85f6-cb4dd8010836.zip to download.zip (99.5K)
2020-12-11 08:29:55,922 INFO Download rate 846.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2020-12-11 08:29:56,101 INFO Welcome to the CDS
2020-12-11 08:29:56,101 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:56,157 INFO Request is queued

variable - testing:  dew_point

2020-12-11 08:29:57,191 INFO Request is failed
2020-12-11 08:29:57,191 ERROR Message: an internal error occurred processing your request
2020-12-11 08:29:57,192 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2020-12-11 08:29:57,192 ERROR   Traceback (most recent call last):
2020-12-11 08:29:57,192 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:29:57,193 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:29:57,193 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:29:57,193 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:29:57,193 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:29:57,194 ERROR       return p(*args, **kwargs)
2020-12-11 08:29:57,194 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:29:57,194 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:29:57,194 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:29:57,195 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:29:57,195 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2020-12-11 08:29:57,226 INFO Welcome to the CDS
2020-12-11 08:29:57,226 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:57,291 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'.
variable - testing:  wind

2020-12-11 08:29:58,326 INFO Request is failed
2020-12-11 08:29:58,326 ERROR Message: an internal error occurred processing your request
2020-12-11 08:29:58,327 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2020-12-11 08:29:58,327 ERROR   Traceback (most recent call last):
2020-12-11 08:29:58,327 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:29:58,328 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:29:58,328 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:29:58,328 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:29:58,328 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:29:58,329 ERROR       return p(*args, **kwargs)
2020-12-11 08:29:58,329 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:29:58,329 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:29:58,330 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:29:58,330 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:29:58,330 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2020-12-11 08:29:58,361 INFO Welcome to the CDS
2020-12-11 08:29:58,361 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:58,417 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'.
variable - testing:  humidity

2020-12-11 08:29:59,452 INFO Request is failed
2020-12-11 08:29:59,452 ERROR Message: an internal error occurred processing your request
2020-12-11 08:29:59,452 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2020-12-11 08:29:59,453 ERROR   Traceback (most recent call last):
2020-12-11 08:29:59,453 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:29:59,453 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:29:59,453 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:29:59,454 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:29:59,454 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:29:59,454 ERROR       return p(*args, **kwargs)
2020-12-11 08:29:59,455 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:29:59,456 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:29:59,456 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:29:59,456 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:29:59,457 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2020-12-11 08:29:59,487 INFO Welcome to the CDS
2020-12-11 08:29:59,487 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:29:59,545 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'.
variable - testing:  sonde_type

2020-12-11 08:30:00,580 INFO Request is failed
2020-12-11 08:30:00,581 ERROR Message: an internal error occurred processing your request
2020-12-11 08:30:00,581 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2020-12-11 08:30:00,582 ERROR   Traceback (most recent call last):
2020-12-11 08:30:00,582 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:30:00,582 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:30:00,583 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:30:00,583 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:30:00,583 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:30:00,584 ERROR       return p(*args, **kwargs)
2020-12-11 08:30:00,584 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:30:00,584 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:30:00,584 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:30:00,585 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:30:00,585 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2020-12-11 08:30:00,616 INFO Welcome to the CDS
2020-12-11 08:30:00,616 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:00,675 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'.
variable - testing: finished
optional - testing:  sonde_type

2020-12-11 08:30:01,710 INFO Request is completed
2020-12-11 08:30:01,710 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671800.931386-17633-12-1257c07d-6f6b-41f6-9b3d-23181c0f615b.zip to download.zip (91K)
2020-12-11 08:30:01,799 INFO Download rate 1M/s

,lat,lon,plev,ta,time,sonde_type,trajectory_label
obs,,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,S09,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,S09,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,S09,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,S09,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,S09,0-20100-0-00701-001
...,...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,S09,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,S09,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,S09,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,S09,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,S09,0-20100-0-00701-054

2020-12-11 08:30:01,895 INFO Welcome to the CDS
2020-12-11 08:30:01,895 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:01,954 INFO Request is queued

optional - testing:  bias_estimate

2020-12-11 08:30:02,991 INFO Request is completed
2020-12-11 08:30:02,991 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671802.3740542-17359-9-4ee60099-bd44-4fe2-89f2-99e778a1a902.zip to download.zip (87.5K)
2020-12-11 08:30:03,081 INFO Download rate 979.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-11 08:30:03,168 INFO Welcome to the CDS
2020-12-11 08:30:03,169 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:03,226 INFO Request is queued

optional - testing:  obs_minus_an

2020-12-11 08:30:04,262 INFO Request is completed
2020-12-11 08:30:04,263 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671803.4688678-17553-10-2df9d504-5a27-472c-b708-2d07735593c8.zip to download.zip (90.6K)
2020-12-11 08:30:04,351 INFO Download rate 1022.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-11 08:30:04,444 INFO Welcome to the CDS
2020-12-11 08:30:04,445 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:04,506 INFO Request is queued

optional - testing:  obs_minus_bg

2020-12-11 08:30:05,540 INFO Request is completed
2020-12-11 08:30:05,541 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671804.7727084-17663-7-76393aad-852d-401b-abf3-fe2f976efad8.zip to download.zip (90.6K)
2020-12-11 08:30:05,630 INFO Download rate 1023.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-11 08:30:05,723 INFO Welcome to the CDS
2020-12-11 08:30:05,724 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:05,800 INFO Request is queued

optional - testing:  sonde

2020-12-11 08:30:06,834 INFO Request is failed
2020-12-11 08:30:06,835 ERROR Message: an internal error occurred processing your request
2020-12-11 08:30:06,835 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2020-12-11 08:30:06,835 ERROR   Traceback (most recent call last):
2020-12-11 08:30:06,835 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:30:06,836 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:30:06,836 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:30:06,836 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:30:06,837 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:30:06,837 ERROR       return p(*args, **kwargs)
2020-12-11 08:30:06,837 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:30:06,837 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:30:06,838 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:30:06,838 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:30:06,838 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2020-12-11 08:30:06,869 INFO Welcome to the CDS
2020-12-11 08:30:06,869 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:06,935 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'.
optional - testing:  air_temperature

2020-12-11 08:30:07,971 INFO Request is failed
2020-12-11 08:30:07,971 ERROR Message: an internal error occurred processing your request
2020-12-11 08:30:07,971 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2020-12-11 08:30:07,972 ERROR   Traceback (most recent call last):
2020-12-11 08:30:07,972 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:30:07,972 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:30:07,973 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:30:07,973 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:30:07,973 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:30:07,973 ERROR       return p(*args, **kwargs)
2020-12-11 08:30:07,974 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:30:07,974 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:30:07,974 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:30:07,975 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:30:07,976 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2020-12-11 08:30:08,005 INFO Welcome to the CDS
2020-12-11 08:30:08,006 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:08,079 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'.
optional - testing:  dew_point_temperature

2020-12-11 08:30:09,118 INFO Request is failed
2020-12-11 08:30:09,119 ERROR Message: an internal error occurred processing your request
2020-12-11 08:30:09,119 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2020-12-11 08:30:09,119 ERROR   Traceback (most recent call last):
2020-12-11 08:30:09,119 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:30:09,120 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:30:09,120 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:30:09,120 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:30:09,121 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:30:09,121 ERROR       return p(*args, **kwargs)
2020-12-11 08:30:09,122 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:30:09,122 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:30:09,122 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:30:09,122 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:30:09,123 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2020-12-11 08:30:09,153 INFO Welcome to the CDS
2020-12-11 08:30:09,153 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:09,211 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'.
optional - testing: finished
area - testing:  [80, 140, -40, 359]

2020-12-11 08:30:10,245 INFO Request is running
2020-12-11 08:30:14,066 INFO Request is completed
2020-12-11 08:30:14,067 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671813.547807-1350-4-8716436e-e92e-4628-a41b-003b3df7a5a9.zip to download.zip (23.7M)
2020-12-11 08:30:14,597 INFO Download rate 44.8M/s

       lat         lon      plev          ta       time trajectory_label
obs
0    18.23 -111.050003    1100.0  233.600006 1978-10-01      20000002973
0    18.23 -111.050003    1500.0  228.500000 1978-10-01      20000002973
0    18.23 -111.050003    2000.0  223.899994 1978-10-01      20000002973
0    18.23 -111.050003    2500.0  220.899994 1978-10-01      20000002973
0    18.23 -111.050003    3000.0  218.500000 1978-10-01      20000002973
..     ...         ...       ...         ...        ...              ...
0    18.23 -111.050003   91400.0  293.700012 1978-10-31      20000003019
0    18.23 -111.050003   94500.0  296.700012 1978-10-31      20000003019
0    18.23 -111.050003   95000.0  296.799988 1978-10-31      20000003019
0    18.23 -111.050003   97400.0  297.200012 1978-10-31      20000003019
0    18.23 -111.050003  100000.0  299.200012 1978-10-31      20000003019

[1389 rows x 6 columns]

2020-12-11 08:30:15,112 INFO Welcome to the CDS
2020-12-11 08:30:15,113 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:15,171 INFO Request is queued

area - testing:  [50, 0, 40, 20]

2020-12-11 08:30:16,206 INFO Request is completed
2020-12-11 08:30:16,206 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671815.8969805-1408-5-efd1ecbf-711e-4b12-854b-bc4241130436.zip to download.zip (931.4K)
2020-12-11 08:30:16,355 INFO Download rate 6.1M/s

       lat    lon      plev          ta                time trajectory_label
obs
0    47.43  19.18    3000.0  215.500000 1978-10-01 00:00:00      20000020136
0    47.43  19.18    5000.0  217.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7000.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7200.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    8100.0  215.500000 1978-10-01 00:00:00      20000020136
..     ...    ...       ...         ...                 ...              ...
0    47.43  19.18   75100.0  276.000000 1978-10-31 18:00:00      20000020252
0    47.43  19.18   79900.0  269.299988 1978-10-31 18:00:00      20000020252
0    47.43  19.18   85000.0  273.399994 1978-10-31 18:00:00      20000020252
0    47.43  19.18   98500.0  283.200012 1978-10-31 18:00:00      20000020252
0    47.43  19.18  100000.0  283.399994 1978-10-31 18:00:00      20000020252

[3523 rows x 6 columns]

2020-12-11 08:30:16,456 INFO Welcome to the CDS
2020-12-11 08:30:16,456 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:16,511 INFO Request is queued

area - testing:  [49, -180, 48, 180]

2020-12-11 08:30:17,547 INFO Request is completed
2020-12-11 08:30:17,547 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671817.0735445-1266-5-ac8575f1-aa01-4a59-b1b3-76f148bd0a21.zip to download.zip (933.7K)
2020-12-11 08:30:17,723 INFO Download rate 5.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2020-12-11 08:30:17,821 INFO Welcome to the CDS
2020-12-11 08:30:17,821 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:17,879 INFO Request is queued

area - testing:  [49, 0, 48, 360]

2020-12-11 08:30:18,913 INFO Request is completed
2020-12-11 08:30:18,913 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671818.4742432-1482-5-431721df-5050-4812-9f3c-105e7e4c8cb2.zip to download.zip (933.7K)
2020-12-11 08:30:19,088 INFO Download rate 5.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2020-12-11 08:30:19,187 INFO Welcome to the CDS
2020-12-11 08:30:19,187 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:19,244 INFO Request is queued

area - testing:  [90, -180, -90, 180]

2020-12-11 08:30:20,278 INFO Request is running
2020-12-11 08:30:32,613 INFO Request is completed
2020-12-11 08:30:32,613 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671828.5817804-17268-10-38eea1fe-1243-4716-9750-65bca97bf5be.zip to download.zip (49.6M)
2020-12-11 08:30:34,125 INFO Download rate 32.8M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-11 08:30:35,345 INFO Welcome to the CDS
2020-12-11 08:30:35,346 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:35,452 INFO Request is queued

area - testing:  [80, 140, 70]

2020-12-11 08:30:36,489 INFO Request is failed
2020-12-11 08:30:36,489 ERROR Message: an internal error occurred processing your request
2020-12-11 08:30:36,489 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"list index out of range"'
2020-12-11 08:30:36,490 ERROR   Traceback (most recent call last):
2020-12-11 08:30:36,490 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:30:36,491 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:30:36,491 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:30:36,491 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:30:36,491 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:30:36,492 ERROR       return p(*args, **kwargs)
2020-12-11 08:30:36,492 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:30:36,492 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:30:36,492 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:30:36,493 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:30:36,493 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"list index out of range"'
2020-12-11 08:30:36,523 INFO Welcome to the CDS
2020-12-11 08:30:36,524 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:36,582 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"list index out of range"'.
area - testing:  [80, 140, 70, 150, 0]

2020-12-11 08:30:37,617 INFO Request is completed
2020-12-11 08:30:37,618 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671836.7836194-17576-11-ef113885-77ad-4298-acd0-d9636bde12a5.zip to download.zip (105.6K)
2020-12-11 08:30:37,733 INFO Download rate 915K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,73.18,143.929993,510.0,226.100006,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,1000.0,220.699997,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,1480.0,217.500000,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,2000.0,218.899994,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,2570.0,220.699997,1978-10-01 00:00:00,20000020656
...,...,...,...,...,...,...
0,73.18,143.929993,82000.0,259.100006,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,83900.0,257.700012,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,85000.0,258.100006,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,95700.0,262.299988,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,97600.0,257.500000,1978-10-31 18:00:00,20000020744

2020-12-11 08:30:37,823 INFO Welcome to the CDS
2020-12-11 08:30:37,824 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:37,881 INFO Request is queued

area - testing:  [0, 0, 0, 0]

2020-12-11 08:30:38,917 INFO Request is failed
2020-12-11 08:30:38,918 ERROR Message: an internal error occurred processing your request
2020-12-11 08:30:38,918 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-11 08:30:38,918 ERROR   Traceback (most recent call last):
2020-12-11 08:30:38,919 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:30:38,919 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:30:38,919 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:30:38,919 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:30:38,920 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:30:38,920 ERROR       return p(*args, **kwargs)
2020-12-11 08:30:38,920 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:30:38,921 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:30:38,921 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:30:38,921 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:30:38,922 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-11 08:30:38,952 INFO Welcome to the CDS
2020-12-11 08:30:38,953 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:39,026 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [40, 20, 50, 0]

2020-12-11 08:30:40,063 INFO Request is failed
2020-12-11 08:30:40,064 ERROR Message: an internal error occurred processing your request
2020-12-11 08:30:40,064 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-11 08:30:40,064 ERROR   Traceback (most recent call last):
2020-12-11 08:30:40,065 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:30:40,065 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:30:40,065 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:30:40,065 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:30:40,066 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:30:40,066 ERROR       return p(*args, **kwargs)
2020-12-11 08:30:40,066 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:30:40,067 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:30:40,067 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:30:40,067 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:30:40,067 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-11 08:30:40,099 INFO Welcome to the CDS
2020-12-11 08:30:40,100 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:40,156 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [49, -180, 48, 360]

2020-12-11 08:30:41,191 INFO Request is failed
2020-12-11 08:30:41,192 ERROR Message: an internal error occurred processing your request
2020-12-11 08:30:41,192 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-11 08:30:41,192 ERROR   Traceback (most recent call last):
2020-12-11 08:30:41,193 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:30:41,193 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:30:41,193 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:30:41,194 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:30:41,194 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:30:41,194 ERROR       return p(*args, **kwargs)
2020-12-11 08:30:41,194 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:30:41,195 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:30:41,195 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:30:41,195 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:30:41,196 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-11 08:30:41,226 INFO Welcome to the CDS
2020-12-11 08:30:41,227 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:41,315 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing: finished
country - testing:  GLOBE

2020-12-11 08:30:42,350 INFO Request is running
2020-12-11 08:30:54,694 INFO Request is completed
2020-12-11 08:30:54,694 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671850.5929437-577-7-92868a26-579e-4c04-b87b-1d7be9fbdcf1.zip to download.zip (49.7M)
2020-12-11 08:30:57,861 INFO Download rate 15.7M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-11 08:30:58,671 INFO Welcome to the CDS
2020-12-11 08:30:58,672 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:30:58,736 INFO Request is queued

country - testing:  ALL

2020-12-11 08:30:59,771 INFO Request is running
2020-12-11 08:31:12,109 INFO Request is completed
2020-12-11 08:31:12,109 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671868.2350144-615-7-0adc8b5f-b29f-4cf4-88a8-93cec025c49f.zip to download.zip (49.7M)
2020-12-11 08:31:16,163 INFO Download rate 12.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-11 08:31:17,233 INFO Welcome to the CDS
2020-12-11 08:31:17,233 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:17,290 INFO Request is queued

country - testing:  NOR

2020-12-11 08:31:18,326 INFO Request is completed
2020-12-11 08:31:18,326 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671877.579911-503-7-ca6de0a4-90d9-4ea1-b34d-19595bd23deb.zip to download.zip (250.5K)
2020-12-11 08:31:18,471 INFO Download rate 1.7M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    67.25  14.4    1500.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    2000.0  217.300003 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3000.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3800.0  216.699997 1978-10-01 00:00:00      20000012548
0    67.25  14.4    5000.0  218.100006 1978-10-01 00:00:00      20000012548
..     ...   ...       ...         ...                 ...              ...
0    67.25  14.4   85000.0  271.500000 1978-10-31 12:00:00      20000012609
0    67.25  14.4   86000.0  271.700012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   94000.0  276.200012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   98000.0  274.000000 1978-10-31 12:00:00      20000012609
0    67.25  14.4  100000.0  275.200012 1978-10-31 12:00:00      20000012609

[1734 rows x 6 columns]

2020-12-11 08:31:18,564 INFO Welcome to the CDS
2020-12-11 08:31:18,564 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:18,711 INFO Request is queued

country - testing:  ['NOR', 'DEU']

2020-12-11 08:31:19,746 INFO Request is completed
2020-12-11 08:31:19,746 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671879.1253817-18217-6-cfd6be44-00fd-4880-b053-f388b925337c.zip to download.zip (862.5K)
2020-12-11 08:31:19,951 INFO Download rate 4.1M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    52.82  9.93    5000.0  218.699997 1978-10-02 06:00:00      20000006050
0    52.82  9.93    7000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   10000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   15000.0  218.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   19000.0  213.100006 1978-10-02 06:00:00      20000006050
..     ...   ...       ...         ...                 ...              ...
0    52.82  9.93   40000.0  243.899994 1978-10-31 12:00:00      20000006110
0    52.82  9.93   50000.0  255.699997 1978-10-31 12:00:00      20000006110
0    52.82  9.93   70000.0  273.200012 1978-10-31 12:00:00      20000006110
0    52.82  9.93   85000.0  273.799988 1978-10-31 12:00:00      20000006110
0    52.82  9.93  100000.0  283.399994 1978-10-31 12:00:00      20000006110

[683 rows x 6 columns]

2020-12-11 08:31:20,052 INFO Welcome to the CDS
2020-12-11 08:31:20,053 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:20,113 INFO Request is queued

country - testing:  NORWAY

2020-12-11 08:31:21,148 INFO Request is failed
2020-12-11 08:31:21,148 ERROR Message: an internal error occurred processing your request
2020-12-11 08:31:21,148 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2020-12-11 08:31:21,149 ERROR   Traceback (most recent call last):
2020-12-11 08:31:21,149 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:31:21,149 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:31:21,149 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:31:21,150 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:31:21,150 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:31:21,150 ERROR       return p(*args, **kwargs)
2020-12-11 08:31:21,151 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:31:21,151 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:31:21,151 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:31:21,151 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:31:21,152 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2020-12-11 08:31:21,183 INFO Welcome to the CDS
2020-12-11 08:31:21,183 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:21,239 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'.
country - testing:  nor

2020-12-11 08:31:22,273 INFO Request is failed
2020-12-11 08:31:22,274 ERROR Message: an internal error occurred processing your request
2020-12-11 08:31:22,274 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2020-12-11 08:31:22,274 ERROR   Traceback (most recent call last):
2020-12-11 08:31:22,275 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:31:22,275 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:31:22,275 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:31:22,276 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:31:22,276 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:31:22,277 ERROR       return p(*args, **kwargs)
2020-12-11 08:31:22,277 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:31:22,277 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:31:22,278 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:31:22,278 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:31:22,278 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2020-12-11 08:31:22,309 INFO Welcome to the CDS
2020-12-11 08:31:22,309 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:22,366 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'.
country - testing: finished
date - testing:  None

2020-12-11 08:31:23,411 INFO Request is running
2020-12-11 08:31:27,233 INFO Request is completed
2020-12-11 08:31:27,233 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671885.7464519-18241-6-39b48d6d-e7a7-4394-bdcb-e7ab87860428.zip to download.zip (40M)
2020-12-11 08:31:31,357 INFO Download rate 9.7M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-11 08:31:32,464 INFO Welcome to the CDS
2020-12-11 08:31:32,465 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:32,560 INFO Request is queued

date - testing:  20000231

2020-12-11 08:31:33,595 INFO Request is completed
2020-12-11 08:31:33,596 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671892.7409778-18037-6-d6f9b493-34ce-4279-8bea-8a6baaa78196.zip to download.zip (23.6K)
2020-12-11 08:31:33,655 INFO Download rate 397.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,570.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,650.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,680.0,228.500000,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,720.0,223.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,1000.0,220.699997,2000-02-29 00:00:00,10000030873
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-11 08:31:33,744 INFO Welcome to the CDS
2020-12-11 08:31:33,745 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:33,803 INFO Request is queued

date - testing:  20000101

2020-12-11 08:31:34,839 INFO Request is completed
2020-12-11 08:31:34,839 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671894.0841746-3264-5-03a81089-ef4a-4bc7-977d-451f21cbcd05.zip to download.zip (23.6K)
2020-12-11 08:31:34,930 INFO Download rate 261K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-11 08:31:35,019 INFO Welcome to the CDS
2020-12-11 08:31:35,020 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:35,078 INFO Request is queued

date - testing:  20000101-20000201

2020-12-11 08:31:36,113 INFO Request is completed
2020-12-11 08:31:36,113 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671895.2328455-1181-5-3f0eb850-f43c-402f-9e06-2449aada6836.zip to download.zip (69.4K)
2020-12-11 08:31:36,203 INFO Download rate 774.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,90900.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,91400.0,281.600006,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,92500.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,95700.0,282.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,99100.0,285.600006,2000-02-01 12:00:00,10000030763

2020-12-11 08:31:36,294 INFO Welcome to the CDS
2020-12-11 08:31:36,294 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:36,350 INFO Request is queued

date - testing:  ['20000101', '20000103', '20000106']

2020-12-11 08:31:37,386 INFO Request is completed
2020-12-11 08:31:37,386 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671896.5131185-1205-5-c74599d0-36c4-41c7-a570-79135e605037.zip to download.zip (31.6K)
2020-12-11 08:31:37,475 INFO Download rate 357.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,96100.0,272.299988,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,96800.0,272.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97600.0,271.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97900.0,270.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,98100.0,269.500000,2000-01-06 12:00:00,10000030658

2020-12-11 08:31:37,563 INFO Welcome to the CDS
2020-12-11 08:31:37,563 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:37,620 INFO Request is queued

date - testing:  ['20000102', '20000101']

2020-12-11 08:31:38,654 INFO Request is completed
2020-12-11 08:31:38,655 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671897.8618798-3149-6-2f59d792-a5de-47da-b4f3-28766ed32aef.zip to download.zip (25.6K)
2020-12-11 08:31:38,716 INFO Download rate 422.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,94800.0,272.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,97800.0,273.600006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,98300.0,271.500000,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,99100.0,271.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,100000.0,271.700012,2000-01-02 12:00:00,10000030642

2020-12-11 08:31:38,803 INFO Welcome to the CDS
2020-12-11 08:31:38,803 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:38,861 INFO Request is queued

date - testing:  2000011

2020-12-11 08:31:39,897 INFO Request is failed
2020-12-11 08:31:39,898 ERROR Message: an internal error occurred processing your request
2020-12-11 08:31:39,898 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2020-12-11 08:31:39,898 ERROR   Traceback (most recent call last):
2020-12-11 08:31:39,898 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:31:39,899 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:31:39,899 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:31:39,899 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:31:39,900 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:31:39,900 ERROR       return p(*args, **kwargs)
2020-12-11 08:31:39,901 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:31:39,901 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:31:39,901 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:31:39,902 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:31:39,902 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2020-12-11 08:31:39,932 INFO Welcome to the CDS
2020-12-11 08:31:39,933 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:39,989 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'.
date - testing:  20000100

2020-12-11 08:31:41,026 INFO Request is failed
2020-12-11 08:31:41,026 ERROR Message: an internal error occurred processing your request
2020-12-11 08:31:41,027 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-11 08:31:41,027 ERROR   Traceback (most recent call last):
2020-12-11 08:31:41,027 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:31:41,027 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:31:41,028 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:31:41,028 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:31:41,028 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:31:41,028 ERROR       return p(*args, **kwargs)
2020-12-11 08:31:41,029 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:31:41,029 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:31:41,029 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:31:41,031 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:31:41,031 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-11 08:31:41,061 INFO Welcome to the CDS
2020-12-11 08:31:41,061 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:41,118 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
date - testing:  00000000

2020-12-11 08:31:42,153 INFO Request is failed
2020-12-11 08:31:42,153 ERROR Message: an internal error occurred processing your request
2020-12-11 08:31:42,153 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2020-12-11 08:31:42,153 ERROR   Traceback (most recent call last):
2020-12-11 08:31:42,154 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:31:42,154 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:31:42,154 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:31:42,155 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:31:42,155 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:31:42,155 ERROR       return p(*args, **kwargs)
2020-12-11 08:31:42,156 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:31:42,156 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:31:42,157 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:31:42,157 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:31:42,157 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2020-12-11 08:31:42,187 INFO Welcome to the CDS
2020-12-11 08:31:42,188 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:42,244 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'.
date - testing:  20000132

2020-12-11 08:31:43,280 INFO Request is failed
2020-12-11 08:31:43,280 ERROR Message: an internal error occurred processing your request
2020-12-11 08:31:43,280 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-11 08:31:43,280 ERROR   Traceback (most recent call last):
2020-12-11 08:31:43,281 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:31:43,281 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:31:43,281 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:31:43,282 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:31:43,282 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:31:43,282 ERROR       return p(*args, **kwargs)
2020-12-11 08:31:43,282 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:31:43,283 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:31:43,283 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:31:43,283 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:31:43,283 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-11 08:31:43,315 INFO Welcome to the CDS
2020-12-11 08:31:43,315 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:43,373 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
date - testing:  20001301

2020-12-11 08:31:44,407 INFO Request is failed
2020-12-11 08:31:44,407 ERROR Message: an internal error occurred processing your request
2020-12-11 08:31:44,407 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-11 08:31:44,408 ERROR   Traceback (most recent call last):
2020-12-11 08:31:44,408 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:31:44,408 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:31:44,409 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:31:44,409 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:31:44,409 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:31:44,409 ERROR       return p(*args, **kwargs)
2020-12-11 08:31:44,410 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:31:44,410 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:31:44,410 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:31:44,410 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:31:44,411 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-11 08:31:44,442 INFO Welcome to the CDS
2020-12-11 08:31:44,442 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:44,498 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
date - testing:  20000201-20000101

2020-12-11 08:31:45,533 INFO Request is failed
2020-12-11 08:31:45,534 ERROR Message: an internal error occurred processing your request
2020-12-11 08:31:45,534 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2020-12-11 08:31:45,534 ERROR   Traceback (most recent call last):
2020-12-11 08:31:45,534 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:31:45,535 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:31:45,535 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:31:45,535 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:31:45,536 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:31:45,537 ERROR       return p(*args, **kwargs)
2020-12-11 08:31:45,537 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:31:45,537 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:31:45,537 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:31:45,538 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:31:45,538 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2020-12-11 08:31:45,568 INFO Welcome to the CDS
2020-12-11 08:31:45,568 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:45,624 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'.
date - testing:  20000101/20000201

2020-12-11 08:31:46,659 INFO Request is failed
2020-12-11 08:31:46,659 ERROR Message: an internal error occurred processing your request
2020-12-11 08:31:46,659 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2020-12-11 08:31:46,660 ERROR   Traceback (most recent call last):
2020-12-11 08:31:46,660 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:31:46,660 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:31:46,660 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:31:46,661 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:31:46,661 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:31:46,661 ERROR       return p(*args, **kwargs)
2020-12-11 08:31:46,661 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:31:46,662 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:31:46,662 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:31:46,662 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:31:46,662 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2020-12-11 08:31:46,693 INFO Welcome to the CDS
2020-12-11 08:31:46,694 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:46,750 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'.
date - testing: finished
period - testing:  None

2020-12-11 08:31:47,785 INFO Request is running
2020-12-11 08:31:51,606 INFO Request is completed
2020-12-11 08:31:51,606 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671909.0839128-17228-13-a068ddbd-1fda-4ecc-856c-79d1248a7950.zip to download.zip (40M)
2020-12-11 08:31:57,706 INFO Download rate 6.6M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-11 08:31:58,798 INFO Welcome to the CDS
2020-12-11 08:31:58,798 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:31:58,857 INFO Request is queued

period - testing:  1979-01-01/1980-08-16

2020-12-11 08:31:59,892 INFO Request is completed
2020-12-11 08:31:59,897 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671919.0526223-539-7-697d1e73-3e2c-4aae-af67-c331c6f6a3f3.zip to download.zip (517.4K)
2020-12-11 08:32:00,098 INFO Download rate 2.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.360001,1000.0,212.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1300.0,215.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1700.0,202.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2000.0,204.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2700.0,208.699997,1979-01-01 00:00:00,10000000001
...,...,...,...,...,...,...
0,48.25,16.370001,81800.0,282.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,85000.0,285.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,88200.0,288.200012,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,93000.0,290.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,98000.0,294.799988,1980-08-16 12:00:00,10000002339

2020-12-11 08:32:00,209 INFO Welcome to the CDS
2020-12-11 08:32:00,210 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:00,273 INFO Request is queued

period - testing:  1980-01-02/1980-01-01

2020-12-11 08:32:01,309 INFO Request is failed
2020-12-11 08:32:01,309 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:01,310 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2020-12-11 08:32:01,310 ERROR   Traceback (most recent call last):
2020-12-11 08:32:01,311 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:01,311 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:01,312 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:01,312 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:01,313 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:01,313 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:01,313 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:01,314 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:01,314 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:01,315 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:01,315 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2020-12-11 08:32:01,347 INFO Welcome to the CDS
2020-12-11 08:32:01,348 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:01,405 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'.
period - testing: finished
pressure_level - testing:  100

2020-12-11 08:32:02,440 INFO Request is completed
2020-12-11 08:32:02,441 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671921.5669951-730-7-560d0006-62d5-40b3-b24a-0d6ad2a566ee.zip to download.zip (23.6K)
2020-12-11 08:32:02,502 INFO Download rate 387.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2020-12-11 08:32:02,588 INFO Welcome to the CDS
2020-12-11 08:32:02,588 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:02,645 INFO Request is queued

pressure_level - testing:  100

2020-12-11 08:32:03,680 INFO Request is completed
2020-12-11 08:32:03,681 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671922.9196594-655-7-8517bb5c-445f-489e-90c4-ad536289490b.zip to download.zip (23.6K)
2020-12-11 08:32:03,740 INFO Download rate 400.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2020-12-11 08:32:03,828 INFO Welcome to the CDS
2020-12-11 08:32:03,828 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:03,884 INFO Request is queued

pressure_level - testing:  [100, 200]

2020-12-11 08:32:04,920 INFO Request is completed
2020-12-11 08:32:04,920 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671924.0396345-810-7-b693a6b1-1a18-4d54-ad28-5d1b63c4480b.zip to download.zip (23.6K)
2020-12-11 08:32:04,981 INFO Download rate 391.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2020-12-11 08:32:05,066 INFO Welcome to the CDS
2020-12-11 08:32:05,067 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:05,124 INFO Request is queued

pressure_level - testing:  ['100', '200']

2020-12-11 08:32:06,159 INFO Request is completed
2020-12-11 08:32:06,159 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671925.367451-3111-4-ec1419d6-19e3-41f9-a475-61b94c6cca0f.zip to download.zip (23.6K)
2020-12-11 08:32:06,223 INFO Download rate 370.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2020-12-11 08:32:06,308 INFO Welcome to the CDS
2020-12-11 08:32:06,309 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:06,369 INFO Request is queued

pressure_level - testing:  0

2020-12-11 08:32:07,405 INFO Request is failed
2020-12-11 08:32:07,406 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:07,406 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2020-12-11 08:32:07,406 ERROR   Traceback (most recent call last):
2020-12-11 08:32:07,407 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:07,407 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:07,408 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:07,408 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:07,409 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:07,409 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:07,410 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:07,410 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:07,410 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:07,411 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:07,411 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2020-12-11 08:32:07,443 INFO Welcome to the CDS
2020-12-11 08:32:07,443 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:07,500 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'.
pressure_level - testing:  2000

2020-12-11 08:32:08,536 INFO Request is failed
2020-12-11 08:32:08,536 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:08,536 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2020-12-11 08:32:08,537 ERROR   Traceback (most recent call last):
2020-12-11 08:32:08,537 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:08,538 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:08,538 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:08,539 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:08,539 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:08,539 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:08,540 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:08,540 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:08,541 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:08,541 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:08,542 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2020-12-11 08:32:08,574 INFO Welcome to the CDS
2020-12-11 08:32:08,574 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:08,631 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'.
pressure_level - testing: finished
time - testing:  [22, 23, 0, 1, 2, 3]

2020-12-11 08:32:09,667 INFO Request is completed
2020-12-11 08:32:09,667 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671928.9032223-3596-4-c153f7a2-774a-4f13-8ee3-f9409de0c1f9.zip to download.zip (43.3K)
2020-12-11 08:32:09,756 INFO Download rate 489.1K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2020-12-11 08:32:09,845 INFO Welcome to the CDS
2020-12-11 08:32:09,845 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:09,902 INFO Request is queued

time - testing:  ['22', '23', '00', '01', '02', '03']

2020-12-11 08:32:10,938 INFO Request is completed
2020-12-11 08:32:10,939 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671930.1866653-3746-4-657e7bfd-1dd5-430e-8cea-720edbc5757f.zip to download.zip (43.3K)
2020-12-11 08:32:11,030 INFO Download rate 476.4K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2020-12-11 08:32:11,121 INFO Welcome to the CDS
2020-12-11 08:32:11,121 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:11,269 INFO Request is queued

time - testing:

2020-12-11 08:32:12,304 INFO Request is completed
2020-12-11 08:32:12,304 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671931.5099833-3468-4-f633cbc2-5aeb-4b7f-9632-2929d8347150.zip to download.zip (67.9K)
2020-12-11 08:32:12,394 INFO Download rate 756.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-11 08:32:12,484 INFO Welcome to the CDS
2020-12-11 08:32:12,484 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:12,544 INFO Request is queued

time - testing:  0

2020-12-11 08:32:13,579 INFO Request is completed
2020-12-11 08:32:13,579 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671932.7740042-3683-4-0ee57ac2-0f17-424a-b252-79c119ee515d.zip to download.zip (44.1K)
2020-12-11 08:32:13,669 INFO Download rate 494.9K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-11 08:32:13,762 INFO Welcome to the CDS
2020-12-11 08:32:13,762 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:13,821 INFO Request is queued

time - testing:  00

2020-12-11 08:32:14,857 INFO Request is completed
2020-12-11 08:32:14,857 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671934.0385537-3379-4-4fc1ef7f-14b1-4232-9d08-d1ec797f490d.zip to download.zip (44.1K)
2020-12-11 08:32:14,948 INFO Download rate 490.2K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-11 08:32:15,040 INFO Welcome to the CDS
2020-12-11 08:32:15,040 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:15,099 INFO Request is queued

time - testing:  ['00']

2020-12-11 08:32:16,135 INFO Request is completed
2020-12-11 08:32:16,135 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671935.3242767-3981-4-6c06c0de-46b4-4483-bc33-c453707d0314.zip to download.zip (44.1K)
2020-12-11 08:32:16,226 INFO Download rate 490.9K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-11 08:32:16,316 INFO Welcome to the CDS
2020-12-11 08:32:16,316 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:16,375 INFO Request is queued

time - testing:  [0, 12]

2020-12-11 08:32:18,945 INFO Request is completed
2020-12-11 08:32:18,946 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671938.5899756-3492-4-5c0983de-7694-4c10-b693-a903d11fe0f7.zip to download.zip (65.7K)
2020-12-11 08:32:19,036 INFO Download rate 731.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-11 08:32:19,126 INFO Welcome to the CDS
2020-12-11 08:32:19,126 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:19,192 INFO Request is queued

time - testing:  ['0', '12']

2020-12-11 08:32:20,228 INFO Request is completed
2020-12-11 08:32:20,229 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671939.4085107-3838-4-dd83fe70-9fe7-4fea-86fb-f1420504c86f.zip to download.zip (65.7K)
2020-12-11 08:32:20,318 INFO Download rate 736.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-11 08:32:20,409 INFO Welcome to the CDS
2020-12-11 08:32:20,409 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:20,468 INFO Request is queued

time - testing:  24

2020-12-11 08:32:21,504 INFO Request is failed
2020-12-11 08:32:21,505 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:21,505 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2020-12-11 08:32:21,505 ERROR   Traceback (most recent call last):
2020-12-11 08:32:21,506 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:21,506 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:21,507 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:21,507 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:21,508 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:21,508 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:21,509 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:21,509 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:21,509 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:21,510 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:21,510 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2020-12-11 08:32:21,542 INFO Welcome to the CDS
2020-12-11 08:32:21,543 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:21,608 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'.
time - testing:  25

2020-12-11 08:32:22,642 INFO Request is failed
2020-12-11 08:32:22,642 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:22,643 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2020-12-11 08:32:22,643 ERROR   Traceback (most recent call last):
2020-12-11 08:32:22,644 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:22,644 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:22,644 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:22,646 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:22,646 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:22,647 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:22,647 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:22,647 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:22,648 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:22,648 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:22,649 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2020-12-11 08:32:22,680 INFO Welcome to the CDS
2020-12-11 08:32:22,680 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:22,742 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'.
time - testing:  12.5

2020-12-11 08:32:23,778 INFO Request is failed
2020-12-11 08:32:23,778 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:23,778 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2020-12-11 08:32:23,779 ERROR   Traceback (most recent call last):
2020-12-11 08:32:23,779 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:23,780 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:23,780 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:23,781 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:23,781 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:23,782 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:23,782 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:23,782 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:23,783 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:23,783 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:23,784 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2020-12-11 08:32:23,816 INFO Welcome to the CDS
2020-12-11 08:32:23,816 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:23,890 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'.
time - testing: finished
format - testing:  None

2020-12-11 08:32:24,925 INFO Request is completed
2020-12-11 08:32:24,925 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671944.1529112-4057-3-018f3c9a-3ea9-4e4a-a637-92540f7a6ad2.zip to download.zip (67.9K)
2020-12-11 08:32:25,014 INFO Download rate 766.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-11 08:32:25,104 INFO Welcome to the CDS
2020-12-11 08:32:25,105 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:25,162 INFO Request is queued

format - testing:  csv

2020-12-11 08:32:26,197 INFO Request is completed
2020-12-11 08:32:26,197 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671945.7661657-3950-4-60c08dd2-e7d8-4f8a-a666-f139ccda9893.zip to download.zip (29.1K)
2020-12-11 08:32:26,259 INFO Download rate 476.3K/s

,obs_id,lat,lon,plev,ta,time,trajectory_label,statid,statindex
0,0,48.2500,16.3700,640.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
1,1,48.2500,16.3700,700.0,223.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
2,2,48.2500,16.3700,790.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
3,3,48.2500,16.3700,880.0,220.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
4,4,48.2500,16.3700,1000.0,224.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
...,...,...,...,...,...,...,...,...,...
3850,3850,48.2486,16.3564,85000.0,263.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3851,3851,48.2486,16.3564,92500.0,268.05,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3852,3852,48.2486,16.3564,93100.0,268.25,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3853,3853,48.2486,16.3564,98000.0,272.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3854,3854,48.2486,16.3564,98700.0,274.15,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0

2020-12-11 08:32:26,348 INFO Welcome to the CDS
2020-12-11 08:32:26,348 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:26,412 INFO Request is queued

format - testing:  nc

2020-12-11 08:32:27,446 INFO Request is completed
2020-12-11 08:32:27,447 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671946.649246-3863-4-981d4cfa-9728-4162-a023-08ac55516d3b.zip to download.zip (67.9K)
2020-12-11 08:32:27,537 INFO Download rate 756K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-11 08:32:27,626 INFO Welcome to the CDS
2020-12-11 08:32:27,627 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:27,684 INFO Request is queued

format - testing:  netcdf

2020-12-11 08:32:28,719 INFO Request is failed
2020-12-11 08:32:28,719 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:28,720 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2020-12-11 08:32:28,720 ERROR   Traceback (most recent call last):
2020-12-11 08:32:28,721 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:28,721 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:28,722 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:28,722 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:28,723 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:28,723 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:28,723 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:28,724 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:28,724 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:28,725 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:28,725 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2020-12-11 08:32:28,757 INFO Welcome to the CDS
2020-12-11 08:32:28,758 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:28,814 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'.
format - testing:  csb

2020-12-11 08:32:29,849 INFO Request is failed
2020-12-11 08:32:29,850 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:29,850 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2020-12-11 08:32:29,850 ERROR   Traceback (most recent call last):
2020-12-11 08:32:29,851 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:29,851 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:29,852 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:29,852 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:29,853 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:29,853 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:29,854 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:29,854 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:29,854 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:29,855 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:29,855 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2020-12-11 08:32:29,887 INFO Welcome to the CDS
2020-12-11 08:32:29,888 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:29,970 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'.
format - testing:  txt

2020-12-11 08:32:31,005 INFO Request is failed
2020-12-11 08:32:31,005 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:31,006 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2020-12-11 08:32:31,006 ERROR   Traceback (most recent call last):
2020-12-11 08:32:31,007 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:31,007 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:31,007 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:31,008 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:31,008 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:31,009 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:31,009 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:31,010 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:31,010 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:31,010 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:31,011 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2020-12-11 08:32:31,043 INFO Welcome to the CDS
2020-12-11 08:32:31,043 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:31,102 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'.
format - testing: finished
y - testing:  None

2020-12-11 08:32:32,137 INFO Request is running
2020-12-11 08:32:33,672 INFO Request is completed
2020-12-11 08:32:33,673 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671953.2654474-17595-11-2ecf13c8-e085-404e-ad87-f8214d4465ff.zip to download.zip (40M)
2020-12-11 08:32:39,042 INFO Download rate 7.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-11 08:32:40,141 INFO Welcome to the CDS
2020-12-11 08:32:40,141 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:40,198 INFO Request is queued

y - testing:  2000

2020-12-11 08:32:41,234 INFO Request is completed
2020-12-11 08:32:41,234 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671960.3421865-692-7-35e085af-bf9c-47ba-96d5-bf5dbefa8ddc.zip to download.zip (23.6K)
2020-12-11 08:32:41,295 INFO Download rate 390.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-11 08:32:41,383 INFO Welcome to the CDS
2020-12-11 08:32:41,384 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:41,441 INFO Request is queued

y - testing:  2000

2020-12-11 08:32:42,476 INFO Request is completed
2020-12-11 08:32:42,477 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671961.691743-1050-7-0130484d-9b14-4758-b55e-cee676df1afc.zip to download.zip (23.6K)
2020-12-11 08:32:42,536 INFO Download rate 397.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-11 08:32:42,626 INFO Welcome to the CDS
2020-12-11 08:32:42,627 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:42,683 INFO Request is queued

y - testing:  ['2000', '2001']

2020-12-11 08:32:43,718 INFO Request is completed
2020-12-11 08:32:43,718 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671962.949472-1087-7-5f58670a-a91b-4f3f-83b5-5bfcbbe217ca.zip to download.zip (596.5K)
2020-12-11 08:32:43,919 INFO Download rate 2.9M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2020-12-11 08:32:44,025 INFO Welcome to the CDS
2020-12-11 08:32:44,025 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:44,097 INFO Request is queued

y - testing:  [2000, 2001]

2020-12-11 08:32:45,132 INFO Request is completed
2020-12-11 08:32:45,132 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671964.3578284-1141-7-283afe51-0609-49bb-b274-28924642d62b.zip to download.zip (596.5K)
2020-12-11 08:32:45,334 INFO Download rate 2.9M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2020-12-11 08:32:45,435 INFO Welcome to the CDS
2020-12-11 08:32:45,435 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:45,495 INFO Request is queued

y - testing:  0

2020-12-11 08:32:46,530 INFO Request is failed
2020-12-11 08:32:46,531 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:46,531 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2020-12-11 08:32:46,531 ERROR   Traceback (most recent call last):
2020-12-11 08:32:46,532 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:46,532 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:46,533 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:46,533 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:46,534 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:46,534 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:46,535 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:46,535 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:46,535 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:46,536 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:46,536 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2020-12-11 08:32:46,568 INFO Welcome to the CDS
2020-12-11 08:32:46,569 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:46,627 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'.
y - testing:  20000

2020-12-11 08:32:47,661 INFO Request is failed
2020-12-11 08:32:47,662 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:47,662 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2020-12-11 08:32:47,662 ERROR   Traceback (most recent call last):
2020-12-11 08:32:47,663 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:47,663 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:47,664 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:47,664 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:47,665 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:47,665 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:47,665 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:47,666 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:47,666 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:47,667 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:47,667 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2020-12-11 08:32:47,699 INFO Welcome to the CDS
2020-12-11 08:32:47,699 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:47,756 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'.
y - testing:  -2000

2020-12-11 08:32:48,791 INFO Request is failed
2020-12-11 08:32:48,791 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:48,792 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2020-12-11 08:32:48,792 ERROR   Traceback (most recent call last):
2020-12-11 08:32:48,793 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:48,793 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:48,793 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:48,794 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:48,794 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:48,795 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:48,795 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:48,796 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:48,796 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:48,797 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:48,797 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2020-12-11 08:32:48,829 INFO Welcome to the CDS
2020-12-11 08:32:48,829 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:48,885 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'.
m - testing:  None

2020-12-11 08:32:49,921 INFO Request is completed
2020-12-11 08:32:49,922 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671969.1505232-3226-4-fbf87cb5-d89b-42c1-b4bb-7af494321b87.zip to download.zip (547.1K)
2020-12-11 08:32:50,099 INFO Download rate 3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84900.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85000.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85200.0,264.700012,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,92500.0,270.500000,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,97400.0,273.600006,2000-12-31 12:00:00,10000032099

2020-12-11 08:32:50,200 INFO Welcome to the CDS
2020-12-11 08:32:50,200 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:50,259 INFO Request is queued

m - testing:  1

2020-12-11 08:32:51,295 INFO Request is completed
2020-12-11 08:32:51,296 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671970.4627461-17614-10-98737f2d-ad9e-4983-9a4a-aadbeae86f11.zip to download.zip (23.6K)
2020-12-11 08:32:51,358 INFO Download rate 384.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-11 08:32:51,447 INFO Welcome to the CDS
2020-12-11 08:32:51,448 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:51,505 INFO Request is queued

m - testing:  1

2020-12-11 08:32:52,540 INFO Request is completed
2020-12-11 08:32:52,540 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671971.7289803-17633-13-e8f3f510-4608-40ad-8bd9-fc6fe41e04c5.zip to download.zip (23.6K)
2020-12-11 08:32:52,601 INFO Download rate 388.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-11 08:32:52,689 INFO Welcome to the CDS
2020-12-11 08:32:52,690 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:52,770 INFO Request is completed
2020-12-11 08:32:52,770 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671961.691743-1050-7-0130484d-9b14-4758-b55e-cee676df1afc.zip to download.zip (23.6K)
2020-12-11 08:32:52,804 INFO Download rate 707.9K/s

m - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-11 08:32:52,892 INFO Welcome to the CDS
2020-12-11 08:32:52,892 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:53,036 INFO Request is queued

m - testing:  ['01', '02']

2020-12-11 08:32:54,072 INFO Request is completed
2020-12-11 08:32:54,073 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671973.1766868-17359-10-4bb8865d-b292-4f24-8df5-446f1c8e58e8.zip to download.zip (110.7K)
2020-12-11 08:32:54,190 INFO Download rate 949.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-11 08:32:54,280 INFO Welcome to the CDS
2020-12-11 08:32:54,280 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:54,337 INFO Request is queued

m - testing:  ['1', '2']

2020-12-11 08:32:55,372 INFO Request is completed
2020-12-11 08:32:55,373 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671974.54531-17553-11-67e21ff8-1749-4d74-b289-e729c9e69b91.zip to download.zip (110.7K)
2020-12-11 08:32:55,490 INFO Download rate 949.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-11 08:32:55,581 INFO Welcome to the CDS
2020-12-11 08:32:55,582 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:55,659 INFO Request is queued

m - testing:  [1, 2]

2020-12-11 08:32:56,694 INFO Request is completed
2020-12-11 08:32:56,695 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671975.7918684-17663-8-a78a3c93-fbbd-4444-b4cf-0c3973dbd0c4.zip to download.zip (110.7K)
2020-12-11 08:32:56,811 INFO Download rate 954.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-11 08:32:56,902 INFO Welcome to the CDS
2020-12-11 08:32:56,903 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:56,964 INFO Request is queued

m - testing:  00

2020-12-11 08:32:57,999 INFO Request is failed
2020-12-11 08:32:58,000 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:58,000 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-11 08:32:58,000 ERROR   Traceback (most recent call last):
2020-12-11 08:32:58,001 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:58,001 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:58,002 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:58,002 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:58,003 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:58,003 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:58,004 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:58,004 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:58,004 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:58,005 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:58,005 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-11 08:32:58,037 INFO Welcome to the CDS
2020-12-11 08:32:58,038 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:58,105 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  0

2020-12-11 08:32:59,141 INFO Request is failed
2020-12-11 08:32:59,142 ERROR Message: an internal error occurred processing your request
2020-12-11 08:32:59,142 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-11 08:32:59,143 ERROR   Traceback (most recent call last):
2020-12-11 08:32:59,143 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:32:59,144 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:32:59,145 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:32:59,145 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:32:59,145 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:32:59,146 ERROR       return p(*args, **kwargs)
2020-12-11 08:32:59,146 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:32:59,147 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:32:59,148 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:32:59,148 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:32:59,148 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-11 08:32:59,181 INFO Welcome to the CDS
2020-12-11 08:32:59,182 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:32:59,243 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  13

2020-12-11 08:33:00,279 INFO Request is failed
2020-12-11 08:33:00,279 ERROR Message: an internal error occurred processing your request
2020-12-11 08:33:00,280 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-11 08:33:00,280 ERROR   Traceback (most recent call last):
2020-12-11 08:33:00,281 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:33:00,281 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:33:00,282 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:33:00,282 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:33:00,283 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:33:00,283 ERROR       return p(*args, **kwargs)
2020-12-11 08:33:00,284 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:33:00,284 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:33:00,285 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:33:00,285 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:33:00,286 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-11 08:33:00,318 INFO Welcome to the CDS
2020-12-11 08:33:00,319 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:33:00,401 INFO Request is completed
2020-12-11 08:33:00,402 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671961.691743-1050-7-0130484d-9b14-4758-b55e-cee676df1afc.zip to download.zip (23.6K)
2020-12-11 08:33:00,462 INFO Download rate 394.8K/s

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
d - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-11 08:33:00,555 INFO Welcome to the CDS
2020-12-11 08:33:00,555 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:33:00,618 INFO Request is queued

d - testing:  31

2020-12-11 08:33:01,654 INFO Request is completed
2020-12-11 08:33:01,655 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607671980.769411-1350-5-cd757d80-add0-4232-81d3-41f57b55090e.zip to download.zip (23.6K)
2020-12-11 08:33:01,716 INFO Download rate 390.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,2870.0,203.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3000.0,202.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3750.0,205.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4020.0,201.699997,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4600.0,208.500000,2000-01-31 00:00:00,10000030757
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-11 08:33:01,806 INFO Welcome to the CDS
2020-12-11 08:33:01,806 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:33:01,871 INFO Request is queued

d - testing:  ['01', '02']

2020-12-11 08:33:02,907 INFO Request is completed
2020-12-11 08:33:02,907 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671982.0242283-1408-6-544972c7-3496-4e65-a8ed-e08590933768.zip to download.zip (68.1K)
2020-12-11 08:33:02,997 INFO Download rate 765.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-11 08:33:03,089 INFO Welcome to the CDS
2020-12-11 08:33:03,089 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:33:03,167 INFO Request is queued

d - testing:  ['1', '2']

2020-12-11 08:33:04,202 INFO Request is completed
2020-12-11 08:33:04,202 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671983.3236873-1266-6-092a2efc-0ad4-4234-888d-c679f1b141bc.zip to download.zip (68.1K)
2020-12-11 08:33:04,292 INFO Download rate 768.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-11 08:33:04,386 INFO Welcome to the CDS
2020-12-11 08:33:04,386 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:33:04,463 INFO Request is queued

d - testing:  [1, 2]

2020-12-11 08:33:05,498 INFO Request is completed
2020-12-11 08:33:05,498 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671984.6032379-1482-6-7ec72865-8537-4b2e-b132-c343035e2cef.zip to download.zip (68.1K)
2020-12-11 08:33:05,587 INFO Download rate 766.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-11 08:33:05,679 INFO Welcome to the CDS
2020-12-11 08:33:05,680 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:33:05,745 INFO Request is queued

d - testing:  00

2020-12-11 08:33:06,780 INFO Request is failed
2020-12-11 08:33:06,780 ERROR Message: an internal error occurred processing your request
2020-12-11 08:33:06,781 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-11 08:33:06,781 ERROR   Traceback (most recent call last):
2020-12-11 08:33:06,782 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:33:06,782 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:33:06,783 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:33:06,783 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:33:06,784 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:33:06,784 ERROR       return p(*args, **kwargs)
2020-12-11 08:33:06,785 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:33:06,785 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:33:06,786 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:33:06,786 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:33:06,787 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-11 08:33:06,819 INFO Welcome to the CDS
2020-12-11 08:33:06,820 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:33:06,882 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  0

2020-12-11 08:33:07,920 INFO Request is failed
2020-12-11 08:33:07,920 ERROR Message: an internal error occurred processing your request
2020-12-11 08:33:07,921 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-11 08:33:07,921 ERROR   Traceback (most recent call last):
2020-12-11 08:33:07,922 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:33:07,922 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:33:07,923 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:33:07,923 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:33:07,924 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:33:07,924 ERROR       return p(*args, **kwargs)
2020-12-11 08:33:07,925 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:33:07,925 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:33:07,926 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:33:07,926 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:33:07,927 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-11 08:33:07,959 INFO Welcome to the CDS
2020-12-11 08:33:07,960 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:33:08,025 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  32

2020-12-11 08:33:09,060 INFO Request is failed
2020-12-11 08:33:09,061 ERROR Message: an internal error occurred processing your request
2020-12-11 08:33:09,061 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-11 08:33:09,062 ERROR   Traceback (most recent call last):
2020-12-11 08:33:09,062 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:33:09,063 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:33:09,063 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:33:09,064 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:33:09,064 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:33:09,065 ERROR       return p(*args, **kwargs)
2020-12-11 08:33:09,065 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:33:09,066 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:33:09,066 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:33:09,067 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:33:09,067 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-11 08:33:09,101 INFO Welcome to the CDS
2020-12-11 08:33:09,101 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:33:09,168 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
ymd - testing: finished
size - testing:  air_temperature 11035

2020-12-11 08:33:10,202 INFO Request is running
2020-12-11 08:33:11,737 INFO Request is completed
2020-12-11 08:33:11,738 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607671991.3856595-17684-10-a214b44d-8887-45a1-9c24-99f76a07a2dc.zip to download.zip (40M)
2020-12-11 08:33:15,952 INFO Download rate 9.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-11 08:33:17,055 INFO Welcome to the CDS
2020-12-11 08:33:17,056 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:33:17,119 INFO Request is queued

size - testing:  air_temperature 10393

2020-12-11 08:33:18,154 INFO Request is running
2020-12-11 08:33:49,563 INFO Request is completed
2020-12-11 08:33:49,564 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607672015.7171366-17711-9-bc81788e-ed2e-4f62-84af-77a8fb4dabd3.zip to download.zip (321.3M)
2020-12-11 08:34:21,663 INFO Download rate 10M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,52.216702,14.11670,20000.0,211.350006,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,25000.0,220.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,30000.0,228.449997,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,40000.0,241.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,50000.0,254.850006,1905-04-04 06:00:00,30000000001
...,...,...,...,...,...,...
0,52.209301,14.12041,101330.0,278.450012,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101400.0,278.369995,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101450.0,278.309998,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101510.0,278.250000,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101600.0,278.290009,2019-12-31 16:45:10,10000041139

2020-12-11 08:34:29,551 INFO Welcome to the CDS
2020-12-11 08:34:29,551 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

size - testing:  air_temperature 1 month all stations

2020-12-11 08:34:29,749 INFO Request is queued
2020-12-11 08:34:30,783 INFO Request is running
2020-12-11 08:34:38,017 INFO Request is completed
2020-12-11 08:34:38,018 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607672076.5925481-769-7-93fbf291-789e-4f75-bc38-2afaf2726ffa.zip to download.zip (39.8M)
2020-12-11 08:34:42,287 INFO Download rate 9.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,47.461399,-111.384697,960.0,213.350006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1000.0,212.949997,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1080.0,210.850006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1130.0,211.149994,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1390.0,216.449997,2010-01-01 00:00:00,30000055381
...,...,...,...,...,...,...
0,47.461399,-111.384697,83250.0,271.450012,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85000.0,271.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85900.0,268.250000,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,87600.0,265.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,88150.0,264.549988,2010-02-01 12:00:00,30000055444

2020-12-11 08:34:42,996 INFO Welcome to the CDS
2020-12-11 08:34:42,997 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:34:43,070 INFO Request is queued

size - testing:  air_temperature everything

2020-12-11 08:34:44,105 INFO Request is failed
2020-12-11 08:34:44,106 ERROR Message: an internal error occurred processing your request
2020-12-11 08:34:44,106 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-11 08:34:44,107 ERROR   Traceback (most recent call last):
2020-12-11 08:34:44,107 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:34:44,107 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:34:44,108 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:34:44,108 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:34:44,109 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:34:44,109 ERROR       return p(*args, **kwargs)
2020-12-11 08:34:44,110 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:34:44,110 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:34:44,111 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:34:44,111 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:34:44,111 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-11 08:34:44,143 INFO Welcome to the CDS
2020-12-11 08:34:44,143 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-11 08:34:44,209 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing:  all variables 1 month all stations

2020-12-11 08:34:45,244 INFO Request is failed
2020-12-11 08:34:45,245 ERROR Message: an internal error occurred processing your request
2020-12-11 08:34:45,245 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-11 08:34:45,245 ERROR   Traceback (most recent call last):
2020-12-11 08:34:45,246 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-11 08:34:45,247 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-11 08:34:45,247 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-11 08:34:45,248 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-11 08:34:45,248 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-11 08:34:45,249 ERROR       return p(*args, **kwargs)
2020-12-11 08:34:45,249 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-11 08:34:45,249 ERROR       return self.proc(context, *args, **kwargs)
2020-12-11 08:34:45,250 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-11 08:34:45,250 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-11 08:34:45,251 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing: finished