In [1]:
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
warnings.filterwarnings('ignore')

In [2]:
def request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test/')
    z.close()
    
    files = glob.glob('./test/*.nc')
    if len(files) > 0:
        ds = xarray.open_dataset(files[0])            
        to_be_removed = ['trajectory_index', 'trajectory']
        for ivar in list(ds.variables):
            if 'string' in ivar:
                to_be_removed.append(ivar)
            
            if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
                report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???
                
            if ds[ivar].ndim > 1:
                tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                idim = tmp.dims[0]
                ds[ivar] = (idim, tmp)

        ds = ds.drop_vars(to_be_removed)
        data = ds.to_dataframe()
    else:
        files = glob.glob('./test/*.csv')
        data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test/')
    except:
       print('Error while deleting directory')
    
    return data

In [3]:
def test_statid():
    log = []
    log.append('\n\n---STATID---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'all', '11035', '0-20000-0-11035', '0-20100-0-00701', '1103*', '0-20100*', ['0-20000-0-11035', '0-20000-0-10393']]:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['110350', '1103', '0-20000-0-1103', '0-20000-0-110350']:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        }
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('statid - testing: finished')
    return log

In [4]:
def test_variable():
    log = []
    log.append('\n\n---VARIABLE---')
    cachworkaround = np.random.random_sample()
    for s in ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['temperature', 'dew_point', 'wind', 'humidity', 'sonde_type']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('variable - testing: finished')
    return log

In [5]:
def test_optional():
    log = []
    log.append('\n\n---OPTIONAL---')
    cachworkaround = np.random.random_sample()
    for s in ['sonde_type', 'bias_estimate', 'obs_minus_an', 'obs_minus_bg']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ ' - ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['sonde', 'air_temperature', 'dew_point_temperature']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [6]:
def test_area():
    log = []
    log.append('\n\n---AREA---')
    cachworkaround = np.random.random_sample()
    for s in [[-40,140,80,359], [40,0,50,20]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [[-40,140,80,360], [0,0,0,0], [50,20,40,0]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('area - testing: finished')
    return log

In [7]:
def test_country():
    log = []
    log.append('\n\n---COUNTRY---')
    cachworkaround = np.random.random_sample()
    for s in ['GLOBE', 'ALL', 'NOR', ["NOR","DEU"]]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['NORWAY', 'nor',]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('country - testing: finished')
    return log

In [8]:
def test_date(): 
    log = []
    log.append('\n\n---DATE---')
    cachworkaround = np.random.random_sample()
    for s in [None, '20000101', '20000101-20000201', ['20000101', '20000103', '20000106'], ['20000102', '20000101']]:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['2000011', '20000100', '00000000', '20000132', '20001301']:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('date - testing: finished')
    return log

In [9]:
def test_period(): 
    log = []
    log.append('\n\n---PERIOD---')
    # not working: ['1979-01-01/1980-08-16']
    cachworkaround = np.random.random_sample()
    for s in [None, '1979-01-01/1980-08-16']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [ '1980-01-02/1980-01-01']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('period - testing: finished')
    return log

In [10]:
def test_pressure_level():
    log = []
    log.append('\n\n---PRESSURE LEVEL---')
    cachworkaround = np.random.random_sample()
    for s in [100, '100', [100, 200], ['100', '200']]:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    for s in ['0', '2000']:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    print('pressure_level - testing: finished')
    return log

In [11]:
def test_time():
    log = []
    log.append('\n\n---TIME---')
    cachworkaround = np.random.random_sample()
    for s in [[22,23,0,1,2,3], ["22","23","00","01","02","03"], '', '0', '00', ["00"], [0,12], ["0","12"]]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['24', '25', '12.5', ]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('time - testing: finished')
    return log

In [12]:
def test_format():
    log = []
    log.append('\n\n---FORMAT---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'csv', 'nc']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['netcdf', 'csb', 'txt']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('format - testing: finished')
    return log

In [13]:
def test_ymd():
    log = []
    # if one of them is None -> no date selected = the whole dataset - change?
    cachworkaround = np.random.random_sample()
    log.append('\n\n---YEAR---')
    for s in [None, 2000, '2000', ['2000', '2001'], [2000, 2001]]:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [0, '20000', '-2000']:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---MONTH---')
    for s in [None, 1, '1', '01', ['01', '02'], ['1', '2'], [1, 2]]:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '13']:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---DAY---')
    for s in ['01', '31', ['01', '02'], ['1', '2'], [1, 2]]:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '32']:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('ymd - testing: finished')
    return log

In [14]:
def test_size():
    log = []
    log.append('\n\n---SIZE---')
    cachworkaround = np.random.random_sample()
    s = 'air_temperature 11035'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'air_temperature 10393'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '10393',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = 'air_temperature 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    s = 'air_temperature everything'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'all variables 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed'],
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('size - testing: finished')
    return log

In [15]:
def server_test():
    log = []
    log.append('Testing Server Requests \n')
    log.append('0 = failed | 1 = succeeded \n')
    try: log.extend(test_statid())
    except: log.append('\nstatid - test: failed \n')
    try: log.extend(test_variable())
    except: log.append('\nvariable - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_area())
    except: log.append('\narea - test: failed \n')
    try: log.extend(test_country())
    except: log.append('\ncountry - test: failed \n')
    try: log.extend(test_date())
    except: log.append('\ndate - test: failed \n')
    try: log.extend(test_period())
    except: log.append('\nperiod - test: failed \n')
    try: log.extend(test_pressure_level())
    except: log.append('\npressure_level - test: failed \n')
    try: log.extend(test_time())
    except: log.append('\ntime - test: failed \n')
    try: log.extend(test_format())
    except: log.append('\nformat - test: failed \n')
    try: log.extend(test_ymd())
    except: log.append('\nymd - test: failed \n')
    try: log.extend(test_size())
    except: log.append('\nsize - test: failed \n')
        
    writelog=open('server_test_log.txt','w')
    writelog.writelines(log)
    writelog.close()

In [16]:
cachworkaround = np.random.random_sample()
s = 'air_temperature 11035'
print('size - testing: ', s)
rd={
    'variable': 'air_temperature',
    'statid': '11035',
    'cachworkaround': cachworkaround,
} 
display(request(rd))

2020-12-07 14:43:19,617 INFO Welcome to the CDS
2020-12-07 14:43:19,618 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

size - testing:  air_temperature 11035

2020-12-07 14:43:19,795 INFO Request is queued
2020-12-07 14:43:20,829 INFO Request is running
2020-12-07 14:43:22,363 INFO Request is completed
2020-12-07 14:43:22,363 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348602.0040874-13771-6-16e84a7a-425f-44cc-b3a9-1421e86eec98.zip to download.zip (40M)
2020-12-07 14:43:23,335 INFO Download rate 41.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

In [17]:
server_test()

2020-12-07 14:43:24,711 INFO Welcome to the CDS
2020-12-07 14:43:24,712 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:43:24,775 INFO Request is queued

statid - testing:  None

2020-12-07 14:43:25,808 INFO Request is running
2020-12-07 14:43:38,138 INFO Request is completed
2020-12-07 14:43:38,138 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348613.9526405-13726-7-43d72b53-7f43-4898-8bff-201eb8ed7c7a.zip to download.zip (49.7M)
2020-12-07 14:43:39,814 INFO Download rate 29.6M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-07 14:43:40,794 INFO Welcome to the CDS
2020-12-07 14:43:40,794 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:43:40,866 INFO Request is queued

statid - testing:  all

2020-12-07 14:43:41,899 INFO Request is running
2020-12-07 14:43:54,227 INFO Request is completed
2020-12-07 14:43:54,228 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348630.4484527-13812-6-e046e49d-b939-4870-b299-e784921ca9ad.zip to download.zip (49.7M)
2020-12-07 14:43:56,308 INFO Download rate 23.9M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-07 14:43:57,260 INFO Welcome to the CDS
2020-12-07 14:43:57,260 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:43:57,329 INFO Request is queued

statid - testing:  11035

2020-12-07 14:43:58,363 INFO Request is completed
2020-12-07 14:43:58,363 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348637.56382-20036-11-7ab82a79-5ee3-416d-95b2-308738d89169.zip to download.zip (48.2K)
2020-12-07 14:43:58,475 INFO Download rate 434.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-07 14:43:58,563 INFO Welcome to the CDS
2020-12-07 14:43:58,563 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:43:58,632 INFO Request is queued

statid - testing:  0-20000-0-11035

2020-12-07 14:43:59,664 INFO Request is completed
2020-12-07 14:43:59,665 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348638.7866318-28419-15-cb6da7e0-c6c4-4202-8ca7-4622a079e7aa.zip to download.zip (48.2K)
2020-12-07 14:43:59,751 INFO Download rate 562.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-07 14:43:59,838 INFO Welcome to the CDS
2020-12-07 14:43:59,838 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:43:59,902 INFO Request is queued

statid - testing:  0-20100-0-00701

2020-12-07 14:44:00,935 INFO Request is completed
2020-12-07 14:44:00,935 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348640.1487792-28363-15-130f4edd-8eae-4edb-aade-1c4b57edaa81.zip to download.zip (32.1K)
2020-12-07 14:44:00,994 INFO Download rate 550.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-07 14:44:01,085 INFO Welcome to the CDS
2020-12-07 14:44:01,085 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:01,150 INFO Request is queued

statid - testing:  1103*

2020-12-07 14:44:02,183 INFO Request is completed
2020-12-07 14:44:02,183 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348642.079915-27151-4-f86c2045-9708-4148-9fd7-c49f5e93b72e.zip to download.zip (48.2K)
2020-12-07 14:44:02,269 INFO Download rate 565.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-07 14:44:02,356 INFO Welcome to the CDS
2020-12-07 14:44:02,356 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:02,421 INFO Request is queued

statid - testing:  0-20100*

2020-12-07 14:44:03,455 INFO Request is completed
2020-12-07 14:44:03,456 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348642.774362-27153-3-44977eb2-dcf3-4a6a-be28-6c0cc66c5551.zip to download.zip (106.4K)
2020-12-07 14:44:03,567 INFO Download rate 955K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,5000.0,212.95,1978-10-11 08:51:48,0-20100-0-00703-002
0,46.811578,6.942472,7000.0,212.65,1978-10-11 08:45:18,0-20100-0-00703-002
0,46.811578,6.942472,10000.0,209.15,1978-10-11 08:38:12,0-20100-0-00703-002
0,46.811578,6.942472,15000.0,211.75,1978-10-11 08:29:54,0-20100-0-00703-002
0,46.811578,6.942472,20000.0,212.25,1978-10-11 08:23:54,0-20100-0-00703-002
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,243.15,1978-10-20 12:26:54,0-20100-0-00703-041
0,46.811578,6.942472,50000.0,256.25,1978-10-20 12:20:54,0-20100-0-00703-041
0,46.811578,6.942472,70000.0,272.95,1978-10-20 12:11:42,0-20100-0-00703-041
0,46.811578,6.942472,85000.0,274.35,1978-10-20 12:05:42,0-20100-0-00703-041
0,46.811578,6.942472,90000.0,274.95,1978-10-20 12:04:06,0-20100-0-00703-041

2020-12-07 14:44:03,658 INFO Welcome to the CDS
2020-12-07 14:44:03,658 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:03,724 INFO Request is queued

statid - testing:  ['0-20000-0-11035', '0-20000-0-10393']

2020-12-07 14:44:04,757 INFO Request is completed
2020-12-07 14:44:04,758 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348643.9123073-27866-20-4475f4f8-cc56-48d4-b466-a434ea65e995.zip to download.zip (108.3K)
2020-12-07 14:44:04,869 INFO Download rate 975.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-07 14:44:04,956 INFO Welcome to the CDS
2020-12-07 14:44:04,957 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:05,023 INFO Request is queued

statid - testing:  110350

2020-12-07 14:44:06,056 INFO Request is failed
2020-12-07 14:44:06,056 ERROR Message: an internal error occurred processing your request
2020-12-07 14:44:06,056 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-07 14:44:06,057 ERROR   Traceback (most recent call last):
2020-12-07 14:44:06,057 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:44:06,057 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:44:06,058 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:44:06,058 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:44:06,058 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:44:06,059 ERROR       return p(*args, **kwargs)
2020-12-07 14:44:06,059 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:44:06,059 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:44:06,060 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:44:06,060 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:44:06,060 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-07 14:44:06,090 INFO Welcome to the CDS
2020-12-07 14:44:06,090 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:06,152 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'.
statid - testing:  1103

2020-12-07 14:44:07,186 INFO Request is failed
2020-12-07 14:44:07,187 ERROR Message: an internal error occurred processing your request
2020-12-07 14:44:07,187 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-07 14:44:07,188 ERROR   Traceback (most recent call last):
2020-12-07 14:44:07,188 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:44:07,188 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:44:07,189 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:44:07,189 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:44:07,189 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:44:07,190 ERROR       return p(*args, **kwargs)
2020-12-07 14:44:07,190 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:44:07,191 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:44:07,191 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:44:07,192 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:44:07,192 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-07 14:44:07,220 INFO Welcome to the CDS
2020-12-07 14:44:07,221 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:07,300 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'.
statid - testing:  0-20000-0-1103

2020-12-07 14:44:08,334 INFO Request is failed
2020-12-07 14:44:08,334 ERROR Message: an internal error occurred processing your request
2020-12-07 14:44:08,335 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-07 14:44:08,335 ERROR   Traceback (most recent call last):
2020-12-07 14:44:08,335 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:44:08,336 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:44:08,336 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:44:08,336 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:44:08,337 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:44:08,338 ERROR       return p(*args, **kwargs)
2020-12-07 14:44:08,338 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:44:08,338 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:44:08,339 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:44:08,339 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:44:08,339 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-07 14:44:08,368 INFO Welcome to the CDS
2020-12-07 14:44:08,368 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:08,433 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'.
statid - testing:  0-20000-0-110350

2020-12-07 14:44:09,465 INFO Request is failed
2020-12-07 14:44:09,466 ERROR Message: an internal error occurred processing your request
2020-12-07 14:44:09,466 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-07 14:44:09,466 ERROR   Traceback (most recent call last):
2020-12-07 14:44:09,467 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:44:09,467 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:44:09,467 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:44:09,468 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:44:09,469 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:44:09,469 ERROR       return p(*args, **kwargs)
2020-12-07 14:44:09,469 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:44:09,469 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:44:09,470 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:44:09,470 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:44:09,470 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-07 14:44:09,499 INFO Welcome to the CDS
2020-12-07 14:44:09,500 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:09,565 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'.
statid - testing: finished
variable - testing:  air_temperature

2020-12-07 14:44:10,598 INFO Request is completed
2020-12-07 14:44:10,599 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348649.7881634-19962-11-f784df88-24e9-467f-83a8-6e4ace78a5dd.zip to download.zip (99.5K)
2020-12-07 14:44:10,711 INFO Download rate 888.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2020-12-07 14:44:10,801 INFO Welcome to the CDS
2020-12-07 14:44:10,801 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:10,864 INFO Request is queued

variable - testing:  dew_point_temperature

2020-12-07 14:44:11,897 INFO Request is completed
2020-12-07 14:44:11,897 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348651.0377038-31646-2-03a3cc68-3aa5-4fbd-ab97-531194a20741.zip to download.zip (99.3K)
2020-12-07 14:44:12,011 INFO Download rate 879.6K/s

,dew_point_temperature,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,187.899994,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,187.899994,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,187.300003,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,187.100006,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,184.699997,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,260.730011,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,260.910004,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,265.450012,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,268.019989,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,270.109985,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2020-12-07 14:44:12,097 INFO Welcome to the CDS
2020-12-07 14:44:12,097 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:12,160 INFO Request is queued

variable - testing:  eastward_wind_speed

2020-12-07 14:44:13,194 INFO Request is completed
2020-12-07 14:44:13,194 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348652.3158727-28092-18-1d4fe635-e6e1-4794-9c3d-83e529549880.zip to download.zip (110.5K)
2020-12-07 14:44:13,309 INFO Download rate 971K/s

,lat,lon,plev,time,ua,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,27.712812,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,29.908157,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,29.001850,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,26.282927,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,14.912988,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.833590,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,0.881049,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,-1.667180,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,-1.180919,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,-0.985890,10000051145

2020-12-07 14:44:13,399 INFO Welcome to the CDS
2020-12-07 14:44:13,400 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:13,459 INFO Request is queued

variable - testing:  northward_wind_speed

2020-12-07 14:44:14,493 INFO Request is completed
2020-12-07 14:44:14,493 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348653.6213307-28171-18-b3052c87-6a0a-4b9d-9f5f-7c12cd38c90c.zip to download.zip (110.6K)
2020-12-07 14:44:14,603 INFO Download rate 1006.3K/s

,lat,lon,plev,time,va,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,-16.000000,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,-13.946403,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,-13.523785,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,-12.255930,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,-21.297953,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.863208,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.088004,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,1.726416,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.222878,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,1.854190,10000051145

2020-12-07 14:44:14,696 INFO Welcome to the CDS
2020-12-07 14:44:14,696 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:14,760 INFO Request is queued

variable - testing:  relative_humidity

2020-12-07 14:44:15,793 INFO Request is completed
2020-12-07 14:44:15,793 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348654.9035003-28214-18-48db0061-8b94-460f-8a87-37ddf60dfab2.zip to download.zip (105.6K)
2020-12-07 14:44:15,904 INFO Download rate 955.7K/s

,hur,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.018269,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.016112,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.015643,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.015489,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.020350,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.436792,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,0.436065,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.540391,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.686344,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.887677,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2020-12-07 14:44:15,995 INFO Welcome to the CDS
2020-12-07 14:44:15,996 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:16,077 INFO Request is queued

variable - testing:  specific_humidity

2020-12-07 14:44:17,110 INFO Request is completed
2020-12-07 14:44:17,110 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348656.2389123-28294-18-1d8d1893-0bff-4d8d-92e3-486463cad99d.zip to download.zip (107.2K)
2020-12-07 14:44:17,224 INFO Download rate 947.8K/s

,hus,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.000029,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.000027,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.000024,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.000020,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.000012,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.001742,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.002329,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.002811,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.003221,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145
0,0.003152,48.248901,16.357300,96620.0,2015-01-31 23:30:09,10000051145

2020-12-07 14:44:17,310 INFO Welcome to the CDS
2020-12-07 14:44:17,311 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:17,372 INFO Request is queued

variable - testing:  wind_from_direction

2020-12-07 14:44:18,404 INFO Request is completed
2020-12-07 14:44:18,405 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348657.6000986-20077-11-bd58f2a4-c8eb-4210-a988-be062d48da39.zip to download.zip (98.8K)
2020-12-07 14:44:18,515 INFO Download rate 900.1K/s

,lat,lon,plev,time,wind_from_direction,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,300.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,325.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,219.0,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,152.0,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,5.0,10000051145

2020-12-07 14:44:18,606 INFO Welcome to the CDS
2020-12-07 14:44:18,606 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:18,668 INFO Request is queued

variable - testing:  wind_speed

2020-12-07 14:44:19,701 INFO Request is completed
2020-12-07 14:44:19,702 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348658.8327773-12709-8-68b1796d-dce3-402e-b4c8-53b1166258f6.zip to download.zip (100.9K)
2020-12-07 14:44:19,812 INFO Download rate 913.1K/s

,lat,lon,plev,time,wind_speed,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,33.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,29.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,26.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.4,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,2.4,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.7,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,2.1,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,1.0,10000051145

2020-12-07 14:44:19,901 INFO Welcome to the CDS
2020-12-07 14:44:19,901 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:19,964 INFO Request is queued

variable - testing:  temperature

2020-12-07 14:44:20,997 INFO Request is completed
2020-12-07 14:44:20,997 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348649.7881634-19962-11-f784df88-24e9-467f-83a8-6e4ace78a5dd.zip to download.zip (99.5K)
2020-12-07 14:44:21,109 INFO Download rate 890.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2020-12-07 14:44:21,196 INFO Welcome to the CDS
2020-12-07 14:44:21,196 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:21,258 INFO Request is queued

variable - testing:  dew_point

2020-12-07 14:44:22,291 INFO Request is failed
2020-12-07 14:44:22,292 ERROR Message: an internal error occurred processing your request
2020-12-07 14:44:22,292 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2020-12-07 14:44:22,292 ERROR   Traceback (most recent call last):
2020-12-07 14:44:22,292 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:44:22,293 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:44:22,293 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:44:22,293 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:44:22,294 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:44:22,294 ERROR       return p(*args, **kwargs)
2020-12-07 14:44:22,294 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:44:22,294 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:44:22,295 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:44:22,295 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:44:22,295 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2020-12-07 14:44:22,325 INFO Welcome to the CDS
2020-12-07 14:44:22,325 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:22,385 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'.
variable - testing:  wind

2020-12-07 14:44:24,952 INFO Request is failed
2020-12-07 14:44:24,953 ERROR Message: an internal error occurred processing your request
2020-12-07 14:44:24,953 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2020-12-07 14:44:24,953 ERROR   Traceback (most recent call last):
2020-12-07 14:44:24,953 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:44:24,954 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:44:24,954 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:44:24,954 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:44:24,955 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:44:24,955 ERROR       return p(*args, **kwargs)
2020-12-07 14:44:24,955 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:44:24,955 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:44:24,956 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:44:24,956 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:44:24,956 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2020-12-07 14:44:25,068 INFO Welcome to the CDS
2020-12-07 14:44:25,069 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:25,131 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'.
variable - testing:  humidity

2020-12-07 14:44:26,164 INFO Request is failed
2020-12-07 14:44:26,165 ERROR Message: an internal error occurred processing your request
2020-12-07 14:44:26,165 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2020-12-07 14:44:26,165 ERROR   Traceback (most recent call last):
2020-12-07 14:44:26,166 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:44:26,166 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:44:26,166 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:44:26,166 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:44:26,167 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:44:26,167 ERROR       return p(*args, **kwargs)
2020-12-07 14:44:26,167 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:44:26,168 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:44:26,168 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:44:26,168 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:44:26,168 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2020-12-07 14:44:26,198 INFO Welcome to the CDS
2020-12-07 14:44:26,198 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:26,257 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'.
variable - testing:  sonde_type

2020-12-07 14:44:27,292 INFO Request is failed
2020-12-07 14:44:27,292 ERROR Message: an internal error occurred processing your request
2020-12-07 14:44:27,292 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2020-12-07 14:44:27,292 ERROR   Traceback (most recent call last):
2020-12-07 14:44:27,293 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:44:27,293 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:44:27,293 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:44:27,293 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:44:27,294 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:44:27,294 ERROR       return p(*args, **kwargs)
2020-12-07 14:44:27,294 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:44:27,295 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:44:27,295 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:44:27,295 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:44:27,295 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2020-12-07 14:44:27,325 INFO Welcome to the CDS
2020-12-07 14:44:27,326 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:27,390 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'.
variable - testing: finished
optional - testing:  sonde_type

2020-12-07 14:44:28,423 INFO Request is completed
2020-12-07 14:44:28,424 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348667.5935931-13460-6-77953560-e88b-47ff-baaf-8a8f9beee218.zip to download.zip (91K)
2020-12-07 14:44:28,508 INFO Download rate 1.1M/s

,lat,lon,plev,ta,time,sonde_type,trajectory_label
obs,,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,S09,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,S09,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,S09,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,S09,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,S09,0-20100-0-00701-001
...,...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,S09,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,S09,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,S09,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,S09,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,S09,0-20100-0-00701-054

2020-12-07 14:44:28,602 INFO Welcome to the CDS
2020-12-07 14:44:28,602 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:28,697 INFO Request is queued

optional - testing:  bias_estimate

2020-12-07 14:44:29,734 INFO Request is completed
2020-12-07 14:44:29,734 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348668.8824866-13642-6-24411289-8fd2-4499-b861-db81fc07f7fa.zip to download.zip (87.5K)
2020-12-07 14:44:29,819 INFO Download rate 1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-07 14:44:29,908 INFO Welcome to the CDS
2020-12-07 14:44:29,908 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:29,982 INFO Request is queued

optional - testing:  obs_minus_an

2020-12-07 14:44:31,015 INFO Request is completed
2020-12-07 14:44:31,016 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348670.2084754-13581-6-f22451cd-5b9a-41b2-965b-36b4157d5771.zip to download.zip (90.6K)
2020-12-07 14:44:31,100 INFO Download rate 1.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-07 14:44:31,248 INFO Welcome to the CDS
2020-12-07 14:44:31,249 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:31,309 INFO Request is queued

optional - testing:  obs_minus_bg

2020-12-07 14:44:32,344 INFO Request is completed
2020-12-07 14:44:32,345 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348671.548537-17356-1-46463548-9551-4bd9-bb50-6fedafceac3c.zip to download.zip (90.6K)
2020-12-07 14:44:32,432 INFO Download rate 1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-07 14:44:32,521 INFO Welcome to the CDS
2020-12-07 14:44:32,521 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:32,580 INFO Request is queued

optional - testing:  sonde

2020-12-07 14:44:33,614 INFO Request is failed
2020-12-07 14:44:33,614 ERROR Message: an internal error occurred processing your request
2020-12-07 14:44:33,614 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2020-12-07 14:44:33,615 ERROR   Traceback (most recent call last):
2020-12-07 14:44:33,615 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:44:33,615 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:44:33,616 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:44:33,616 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:44:33,616 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:44:33,617 ERROR       return p(*args, **kwargs)
2020-12-07 14:44:33,617 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:44:33,617 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:44:33,618 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:44:33,619 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:44:33,619 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2020-12-07 14:44:33,648 INFO Welcome to the CDS
2020-12-07 14:44:33,648 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:33,708 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'.
optional - testing:  air_temperature

2020-12-07 14:44:34,743 INFO Request is failed
2020-12-07 14:44:34,743 ERROR Message: an internal error occurred processing your request
2020-12-07 14:44:34,744 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2020-12-07 14:44:34,744 ERROR   Traceback (most recent call last):
2020-12-07 14:44:34,745 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:44:34,745 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:44:34,745 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:44:34,746 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:44:34,746 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:44:34,747 ERROR       return p(*args, **kwargs)
2020-12-07 14:44:34,747 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:44:34,747 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:44:34,748 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:44:34,748 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:44:34,748 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2020-12-07 14:44:34,778 INFO Welcome to the CDS
2020-12-07 14:44:34,778 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:34,839 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'.
optional - testing:  dew_point_temperature

2020-12-07 14:44:35,873 INFO Request is failed
2020-12-07 14:44:35,873 ERROR Message: an internal error occurred processing your request
2020-12-07 14:44:35,874 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2020-12-07 14:44:35,874 ERROR   Traceback (most recent call last):
2020-12-07 14:44:35,874 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:44:35,875 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:44:35,875 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:44:35,875 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:44:35,876 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:44:35,876 ERROR       return p(*args, **kwargs)
2020-12-07 14:44:35,876 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:44:35,877 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:44:35,877 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:44:35,877 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:44:35,878 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2020-12-07 14:44:35,907 INFO Welcome to the CDS
2020-12-07 14:44:35,907 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:35,969 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'.
optional - testing: finished
area - testing:  [-40, 140, 80, 359]

2020-12-07 14:44:37,001 INFO Request is running
2020-12-07 14:44:49,329 INFO Request is completed
2020-12-07 14:44:49,330 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348685.3912003-20475-7-b772ccdc-2e1b-4a00-b342-2e5512086438.zip to download.zip (49.7M)
2020-12-07 14:44:50,203 INFO Download rate 56.9M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-07 14:44:51,103 INFO Welcome to the CDS
2020-12-07 14:44:51,103 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:44:51,170 INFO Request is queued

area - testing:  [40, 0, 50, 20]

2020-12-07 14:44:52,203 INFO Request is running
2020-12-07 14:45:04,533 INFO Request is completed
2020-12-07 14:45:04,533 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348700.046933-20397-7-c7e01d73-65fa-43dd-9adf-4ab1f93d3b8d.zip to download.zip (49.7M)
2020-12-07 14:45:06,215 INFO Download rate 29.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-07 14:45:07,172 INFO Welcome to the CDS
2020-12-07 14:45:07,172 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:45:07,240 INFO Request is queued

area - testing:  [-40, 140, 80, 360]

2020-12-07 14:45:08,273 INFO Request is running
2020-12-07 14:45:20,599 INFO Request is completed
2020-12-07 14:45:20,600 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348716.3890657-20446-7-46fcba73-c442-464f-ab60-4d6397f8043f.zip to download.zip (49.7M)
2020-12-07 14:45:23,216 INFO Download rate 19M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-07 14:45:24,122 INFO Welcome to the CDS
2020-12-07 14:45:24,122 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:45:24,182 INFO Request is queued

area - testing:  [0, 0, 0, 0]

2020-12-07 14:45:25,215 INFO Request is running
2020-12-07 14:45:37,541 INFO Request is completed
2020-12-07 14:45:37,542 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348733.3826485-20716-7-42346255-88fa-4756-a619-e98a6aaa44c6.zip to download.zip (49.7M)
2020-12-07 14:45:41,309 INFO Download rate 13.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-07 14:45:42,286 INFO Welcome to the CDS
2020-12-07 14:45:42,287 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:45:42,348 INFO Request is queued

area - testing:  [50, 20, 40, 0]

2020-12-07 14:45:43,381 INFO Request is running
2020-12-07 14:45:55,708 INFO Request is completed
2020-12-07 14:45:55,709 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348752.45031-20542-7-8c809abb-69c2-4569-a903-8ff902745cea.zip to download.zip (49.7M)
2020-12-07 14:45:58,833 INFO Download rate 15.9M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-07 14:45:59,837 INFO Welcome to the CDS
2020-12-07 14:45:59,838 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:45:59,923 INFO Request is queued

area - testing: finished
country - testing:  GLOBE

2020-12-07 14:46:00,957 INFO Request is running
2020-12-07 14:46:13,282 INFO Request is completed
2020-12-07 14:46:13,282 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348769.0928147-20918-7-b21a17ed-ced0-4d35-b885-3576fa56ef74.zip to download.zip (49.7M)
2020-12-07 14:46:16,022 INFO Download rate 18.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-07 14:46:16,972 INFO Welcome to the CDS
2020-12-07 14:46:16,972 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:17,035 INFO Request is queued

country - testing:  ALL

2020-12-07 14:46:18,068 INFO Request is running
2020-12-07 14:46:30,396 INFO Request is completed
2020-12-07 14:46:30,396 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348786.197939-20791-7-80d55953-228a-4466-a56c-d71642b92c03.zip to download.zip (49.7M)
2020-12-07 14:46:33,060 INFO Download rate 18.6M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-07 14:46:34,252 INFO Welcome to the CDS
2020-12-07 14:46:34,252 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:34,315 INFO Request is queued

country - testing:  NOR

2020-12-07 14:46:35,348 INFO Request is completed
2020-12-07 14:46:35,349 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348794.6827962-20848-7-21050946-5ccc-403e-9c1c-98b4d721dc29.zip to download.zip (250.5K)
2020-12-07 14:46:35,486 INFO Download rate 1.8M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    67.25  14.4    1500.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    2000.0  217.300003 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3000.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3800.0  216.699997 1978-10-01 00:00:00      20000012548
0    67.25  14.4    5000.0  218.100006 1978-10-01 00:00:00      20000012548
..     ...   ...       ...         ...                 ...              ...
0    67.25  14.4   85000.0  271.500000 1978-10-31 12:00:00      20000012609
0    67.25  14.4   86000.0  271.700012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   94000.0  276.200012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   98000.0  274.000000 1978-10-31 12:00:00      20000012609
0    67.25  14.4  100000.0  275.200012 1978-10-31 12:00:00      20000012609

[1734 rows x 6 columns]

2020-12-07 14:46:35,576 INFO Welcome to the CDS
2020-12-07 14:46:35,577 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:35,637 INFO Request is queued

country - testing:  ['NOR', 'DEU']

2020-12-07 14:46:36,670 INFO Request is completed
2020-12-07 14:46:36,671 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348796.0334394-20976-6-8428dcd6-a93a-4a9e-8307-ebaae9bd847f.zip to download.zip (862.5K)
2020-12-07 14:46:36,863 INFO Download rate 4.4M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    52.82  9.93    5000.0  218.699997 1978-10-02 06:00:00      20000006050
0    52.82  9.93    7000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   10000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   15000.0  218.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   19000.0  213.100006 1978-10-02 06:00:00      20000006050
..     ...   ...       ...         ...                 ...              ...
0    52.82  9.93   40000.0  243.899994 1978-10-31 12:00:00      20000006110
0    52.82  9.93   50000.0  255.699997 1978-10-31 12:00:00      20000006110
0    52.82  9.93   70000.0  273.200012 1978-10-31 12:00:00      20000006110
0    52.82  9.93   85000.0  273.799988 1978-10-31 12:00:00      20000006110
0    52.82  9.93  100000.0  283.399994 1978-10-31 12:00:00      20000006110

[683 rows x 6 columns]

2020-12-07 14:46:36,958 INFO Welcome to the CDS
2020-12-07 14:46:36,958 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:37,018 INFO Request is queued

country - testing:  NORWAY

2020-12-07 14:46:38,051 INFO Request is failed
2020-12-07 14:46:38,052 ERROR Message: an internal error occurred processing your request
2020-12-07 14:46:38,052 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2020-12-07 14:46:38,052 ERROR   Traceback (most recent call last):
2020-12-07 14:46:38,053 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:46:38,053 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:46:38,053 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:46:38,053 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:46:38,054 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:46:38,054 ERROR       return p(*args, **kwargs)
2020-12-07 14:46:38,054 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:46:38,054 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:46:38,055 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:46:38,055 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:46:38,055 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2020-12-07 14:46:38,084 INFO Welcome to the CDS
2020-12-07 14:46:38,085 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:38,146 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'.
country - testing:  nor

2020-12-07 14:46:39,262 INFO Request is failed
2020-12-07 14:46:39,262 ERROR Message: an internal error occurred processing your request
2020-12-07 14:46:39,263 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2020-12-07 14:46:39,263 ERROR   Traceback (most recent call last):
2020-12-07 14:46:39,263 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:46:39,264 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:46:39,264 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:46:39,264 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:46:39,264 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:46:39,265 ERROR       return p(*args, **kwargs)
2020-12-07 14:46:39,265 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:46:39,265 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:46:39,265 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:46:39,266 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:46:39,266 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2020-12-07 14:46:39,295 INFO Welcome to the CDS
2020-12-07 14:46:39,296 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:39,361 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'.
country - testing: finished
date - testing:  None

2020-12-07 14:46:40,395 INFO Request is running
2020-12-07 14:46:41,929 INFO Request is completed
2020-12-07 14:46:41,930 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348801.5828447-21110-7-9eba8e11-a9e5-443c-91ff-fffd1607b529.zip to download.zip (40M)
2020-12-07 14:46:44,471 INFO Download rate 15.8M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-07 14:46:45,570 INFO Welcome to the CDS
2020-12-07 14:46:45,570 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:45,634 INFO Request is queued

date - testing:  20000101

2020-12-07 14:46:46,667 INFO Request is completed
2020-12-07 14:46:46,668 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348805.784338-21152-7-ca7b255a-2c7a-4834-9a13-57e60ded076e.zip to download.zip (23.6K)
2020-12-07 14:46:46,726 INFO Download rate 407.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-07 14:46:46,814 INFO Welcome to the CDS
2020-12-07 14:46:46,815 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:46,877 INFO Request is queued

date - testing:  20000101-20000201

2020-12-07 14:46:47,911 INFO Request is completed
2020-12-07 14:46:47,912 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348807.0295734-20629-7-91f5734a-2436-43d1-9a3d-dfbac46cf148.zip to download.zip (69.4K)
2020-12-07 14:46:47,996 INFO Download rate 829.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,90900.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,91400.0,281.600006,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,92500.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,95700.0,282.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,99100.0,285.600006,2000-02-01 12:00:00,10000030763

2020-12-07 14:46:48,085 INFO Welcome to the CDS
2020-12-07 14:46:48,085 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:48,151 INFO Request is queued

date - testing:  ['20000101', '20000103', '20000106']

2020-12-07 14:46:49,185 INFO Request is completed
2020-12-07 14:46:49,185 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348808.293977-28322-13-5ad5dd34-3bd5-4d30-b745-e9a132b94616.zip to download.zip (31.6K)
2020-12-07 14:46:49,270 INFO Download rate 376K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,96100.0,272.299988,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,96800.0,272.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97600.0,271.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97900.0,270.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,98100.0,269.500000,2000-01-06 12:00:00,10000030658

2020-12-07 14:46:49,357 INFO Welcome to the CDS
2020-12-07 14:46:49,358 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:49,438 INFO Request is queued

date - testing:  ['20000102', '20000101']

2020-12-07 14:46:50,472 INFO Request is completed
2020-12-07 14:46:50,472 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348809.59736-28254-16-05f8d7be-115b-46ea-ad88-460301295864.zip to download.zip (25.6K)
2020-12-07 14:46:50,531 INFO Download rate 434.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,94800.0,272.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,97800.0,273.600006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,98300.0,271.500000,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,99100.0,271.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,100000.0,271.700012,2000-01-02 12:00:00,10000030642

2020-12-07 14:46:50,619 INFO Welcome to the CDS
2020-12-07 14:46:50,619 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:50,680 INFO Request is queued

date - testing:  2000011

2020-12-07 14:46:51,714 INFO Request is failed
2020-12-07 14:46:51,714 ERROR Message: an internal error occurred processing your request
2020-12-07 14:46:51,715 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2020-12-07 14:46:51,715 ERROR   Traceback (most recent call last):
2020-12-07 14:46:51,715 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:46:51,715 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:46:51,716 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:46:51,716 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:46:51,716 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:46:51,716 ERROR       return p(*args, **kwargs)
2020-12-07 14:46:51,717 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:46:51,717 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:46:51,717 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:46:51,718 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:46:51,718 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2020-12-07 14:46:51,747 INFO Welcome to the CDS
2020-12-07 14:46:51,747 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:51,812 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'.
date - testing:  20000100

2020-12-07 14:46:52,847 INFO Request is failed
2020-12-07 14:46:52,847 ERROR Message: an internal error occurred processing your request
2020-12-07 14:46:52,847 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-07 14:46:52,847 ERROR   Traceback (most recent call last):
2020-12-07 14:46:52,848 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:46:52,848 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:46:52,848 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:46:52,848 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:46:52,849 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:46:52,849 ERROR       return p(*args, **kwargs)
2020-12-07 14:46:52,849 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:46:52,849 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:46:52,850 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:46:52,850 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:46:52,850 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-07 14:46:52,880 INFO Welcome to the CDS
2020-12-07 14:46:52,880 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:52,951 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
date - testing:  00000000

2020-12-07 14:46:53,984 INFO Request is failed
2020-12-07 14:46:53,985 ERROR Message: an internal error occurred processing your request
2020-12-07 14:46:53,985 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2020-12-07 14:46:53,985 ERROR   Traceback (most recent call last):
2020-12-07 14:46:53,986 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:46:53,986 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:46:53,986 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:46:53,986 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:46:53,987 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:46:53,987 ERROR       return p(*args, **kwargs)
2020-12-07 14:46:53,988 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:46:53,988 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:46:53,988 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:46:53,988 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:46:53,989 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2020-12-07 14:46:54,018 INFO Welcome to the CDS
2020-12-07 14:46:54,018 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:54,079 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'.
date - testing:  20000132

2020-12-07 14:46:55,112 INFO Request is completed
2020-12-07 14:46:55,112 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348814.3700492-20198-11-87a8b608-f92e-410a-8144-91cb06934380.zip to download.zip (23.6K)
2020-12-07 14:46:55,169 INFO Download rate 417.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,2870.0,203.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3000.0,202.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3750.0,205.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4020.0,201.699997,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4600.0,208.500000,2000-01-31 00:00:00,10000030757
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-07 14:46:55,257 INFO Welcome to the CDS
2020-12-07 14:46:55,257 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:55,323 INFO Request is queued

date - testing:  20001301

2020-12-07 14:46:56,357 INFO Request is failed
2020-12-07 14:46:56,357 ERROR Message: an internal error occurred processing your request
2020-12-07 14:46:56,357 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-07 14:46:56,358 ERROR   Traceback (most recent call last):
2020-12-07 14:46:56,358 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:46:56,358 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:46:56,359 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:46:56,359 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:46:56,360 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:46:56,360 ERROR       return p(*args, **kwargs)
2020-12-07 14:46:56,360 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:46:56,361 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:46:56,361 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:46:56,361 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:46:56,362 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-07 14:46:56,392 INFO Welcome to the CDS
2020-12-07 14:46:56,392 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:46:56,465 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
date - testing: finished
period - testing:  None

2020-12-07 14:46:57,498 INFO Request is running
2020-12-07 14:47:01,317 INFO Request is completed
2020-12-07 14:47:01,317 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348818.781917-20281-10-b4daf37c-2a03-4f2e-bd8a-345ad63b823b.zip to download.zip (40M)
2020-12-07 14:47:03,898 INFO Download rate 15.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-07 14:47:04,990 INFO Welcome to the CDS
2020-12-07 14:47:04,990 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:05,050 INFO Request is queued

period - testing:  1979-01-01/1980-08-16

2020-12-07 14:47:06,083 INFO Request is completed
2020-12-07 14:47:06,084 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348825.3054206-20156-10-bf64e1fb-2ef1-45ea-b052-62f129af8e3b.zip to download.zip (517.4K)
2020-12-07 14:47:06,248 INFO Download rate 3.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.360001,1000.0,212.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1300.0,215.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1700.0,202.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2000.0,204.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2700.0,208.699997,1979-01-01 00:00:00,10000000001
...,...,...,...,...,...,...
0,48.25,16.370001,81800.0,282.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,85000.0,285.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,88200.0,288.200012,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,93000.0,290.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,98000.0,294.799988,1980-08-16 12:00:00,10000002339

2020-12-07 14:47:06,349 INFO Welcome to the CDS
2020-12-07 14:47:06,349 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:06,412 INFO Request is queued

period - testing:  1980-01-02/1980-01-01

2020-12-07 14:47:07,445 INFO Request is failed
2020-12-07 14:47:07,445 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:07,445 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Error: exception \\"No data in specified time interval\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'19800102\', \'19800101\']})"'
2020-12-07 14:47:07,446 ERROR   Traceback (most recent call last):
2020-12-07 14:47:07,446 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:07,446 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:07,447 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:07,447 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:07,447 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:07,447 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:07,448 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:07,448 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:07,448 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:07,449 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:07,450 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Error: exception \\"No data in specified time interval\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'19800102\', \'19800101\']})"'
2020-12-07 14:47:07,478 INFO Welcome to the CDS
2020-12-07 14:47:07,478 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:07,538 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Error: exception \\"No data in specified time interval\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'19800102\', \'19800101\']})"'.
period - testing: finished
pressure_level - testing:  100

2020-12-07 14:47:08,571 INFO Request is completed
2020-12-07 14:47:08,572 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348827.7894824-20338-10-6ec114ff-c6c1-421c-b0b7-1bef4b8bc3a5.zip to download.zip (23.6K)
2020-12-07 14:47:08,628 INFO Download rate 420.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2020-12-07 14:47:08,711 INFO Welcome to the CDS
2020-12-07 14:47:08,711 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:08,771 INFO Request is queued

pressure_level - testing:  100

2020-12-07 14:47:09,804 INFO Request is completed
2020-12-07 14:47:09,805 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348828.916098-12635-9-e81acdaa-174e-4a75-a8c9-09a4ac45ab0f.zip to download.zip (23.6K)
2020-12-07 14:47:09,891 INFO Download rate 273.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2020-12-07 14:47:09,971 INFO Welcome to the CDS
2020-12-07 14:47:09,971 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:10,033 INFO Request is queued

pressure_level - testing:  [100, 200]

2020-12-07 14:47:11,067 INFO Request is completed
2020-12-07 14:47:11,068 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348830.239729-12671-8-2a295994-0c1f-40b6-baa6-4adaa61f0d7d.zip to download.zip (23.6K)
2020-12-07 14:47:11,126 INFO Download rate 403.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2020-12-07 14:47:11,211 INFO Welcome to the CDS
2020-12-07 14:47:11,211 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:11,271 INFO Request is queued

pressure_level - testing:  ['100', '200']

2020-12-07 14:47:12,304 INFO Request is completed
2020-12-07 14:47:12,304 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348831.408522-12986-8-2ea2a07c-fd1c-47d4-808a-53561ebb902e.zip to download.zip (23.6K)
2020-12-07 14:47:12,363 INFO Download rate 402.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2020-12-07 14:47:12,445 INFO Welcome to the CDS
2020-12-07 14:47:12,445 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:12,508 INFO Request is queued

pressure_level - testing:  0

2020-12-07 14:47:13,541 INFO Request is failed
2020-12-07 14:47:13,541 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:13,541 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2020-12-07 14:47:13,542 ERROR   Traceback (most recent call last):
2020-12-07 14:47:13,542 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:13,542 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:13,542 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:13,543 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:13,543 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:13,543 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:13,543 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:13,544 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:13,544 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:13,544 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:13,544 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2020-12-07 14:47:13,574 INFO Welcome to the CDS
2020-12-07 14:47:13,574 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:13,634 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'.
pressure_level - testing:  2000

2020-12-07 14:47:14,667 INFO Request is failed
2020-12-07 14:47:14,668 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:14,668 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2020-12-07 14:47:14,668 ERROR   Traceback (most recent call last):
2020-12-07 14:47:14,669 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:14,669 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:14,669 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:14,669 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:14,670 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:14,670 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:14,670 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:14,670 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:14,671 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:14,671 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:14,671 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2020-12-07 14:47:14,701 INFO Welcome to the CDS
2020-12-07 14:47:14,701 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:14,768 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'.
pressure_level - testing: finished
time - testing:  [22, 23, 0, 1, 2, 3]

2020-12-07 14:47:15,801 INFO Request is completed
2020-12-07 14:47:15,801 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348834.928893-13328-9-a15de6e1-c3dd-4280-8d13-b4a20a1a794c.zip to download.zip (43.3K)
2020-12-07 14:47:15,885 INFO Download rate 518.5K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2020-12-07 14:47:15,973 INFO Welcome to the CDS
2020-12-07 14:47:15,974 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:16,035 INFO Request is queued

time - testing:  ['22', '23', '00', '01', '02', '03']

2020-12-07 14:47:17,068 INFO Request is completed
2020-12-07 14:47:17,069 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348836.1958592-13029-9-db2926f3-ded8-4f3b-a047-c7e8f9e2121c.zip to download.zip (43.3K)
2020-12-07 14:47:17,153 INFO Download rate 515.7K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2020-12-07 14:47:17,243 INFO Welcome to the CDS
2020-12-07 14:47:17,243 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:17,305 INFO Request is queued

time - testing:

2020-12-07 14:47:18,339 INFO Request is completed
2020-12-07 14:47:18,340 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348837.4748003-13232-9-50f3d5fb-faf5-4602-b7e7-88d6829a5e34.zip to download.zip (67.9K)
2020-12-07 14:47:18,425 INFO Download rate 802.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-07 14:47:18,513 INFO Welcome to the CDS
2020-12-07 14:47:18,513 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:18,581 INFO Request is queued

time - testing:  0

2020-12-07 14:47:19,615 INFO Request is completed
2020-12-07 14:47:19,615 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348838.7244635-13683-8-bc788671-e54b-4381-8ba0-0eaaf333e6de.zip to download.zip (44.1K)
2020-12-07 14:47:19,700 INFO Download rate 524.1K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-07 14:47:19,786 INFO Welcome to the CDS
2020-12-07 14:47:19,786 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:19,847 INFO Request is queued

time - testing:  00

2020-12-07 14:47:20,881 INFO Request is completed
2020-12-07 14:47:20,881 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348839.9884298-13555-8-6b5afb92-c95f-4acc-8e6c-a58c20e755e8.zip to download.zip (44.1K)
2020-12-07 14:47:20,966 INFO Download rate 521.8K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-07 14:47:21,051 INFO Welcome to the CDS
2020-12-07 14:47:21,052 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:21,116 INFO Request is queued

time - testing:  ['00']

2020-12-07 14:47:22,150 INFO Request is completed
2020-12-07 14:47:22,151 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348841.267456-13357-8-38590114-833d-47ec-b43c-66451dffbfad.zip to download.zip (44.1K)
2020-12-07 14:47:22,235 INFO Download rate 523.4K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-07 14:47:22,319 INFO Welcome to the CDS
2020-12-07 14:47:22,319 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:22,381 INFO Request is queued

time - testing:  [0, 12]

2020-12-07 14:47:23,413 INFO Request is completed
2020-12-07 14:47:23,414 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348842.521641-13771-8-a6d27aed-4c36-4e19-aa1c-4139eef96980.zip to download.zip (65.7K)
2020-12-07 14:47:23,499 INFO Download rate 776.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-07 14:47:23,671 INFO Welcome to the CDS
2020-12-07 14:47:23,672 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:23,733 INFO Request is queued

time - testing:  ['0', '12']

2020-12-07 14:47:24,766 INFO Request is completed
2020-12-07 14:47:24,766 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348843.8829563-13726-9-48a1b75b-7882-4f84-af09-ea54da2125b1.zip to download.zip (65.7K)
2020-12-07 14:47:24,853 INFO Download rate 762K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-07 14:47:24,940 INFO Welcome to the CDS
2020-12-07 14:47:24,941 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:25,001 INFO Request is queued

time - testing:  24

2020-12-07 14:47:26,033 INFO Request is failed
2020-12-07 14:47:26,034 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:26,034 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2020-12-07 14:47:26,034 ERROR   Traceback (most recent call last):
2020-12-07 14:47:26,035 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:26,035 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:26,035 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:26,036 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:26,036 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:26,036 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:26,037 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:26,037 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:26,037 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:26,038 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:26,038 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2020-12-07 14:47:26,068 INFO Welcome to the CDS
2020-12-07 14:47:26,068 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:26,129 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'.
time - testing:  25

2020-12-07 14:47:27,162 INFO Request is failed
2020-12-07 14:47:27,162 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:27,163 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2020-12-07 14:47:27,163 ERROR   Traceback (most recent call last):
2020-12-07 14:47:27,163 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:27,164 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:27,164 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:27,164 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:27,165 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:27,165 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:27,165 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:27,166 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:27,166 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:27,166 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:27,167 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2020-12-07 14:47:27,197 INFO Welcome to the CDS
2020-12-07 14:47:27,197 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:27,258 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'.
time - testing:  12.5

2020-12-07 14:47:28,292 INFO Request is failed
2020-12-07 14:47:28,292 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:28,293 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2020-12-07 14:47:28,293 ERROR   Traceback (most recent call last):
2020-12-07 14:47:28,293 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:28,294 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:28,294 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:28,294 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:28,294 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:28,295 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:28,295 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:28,295 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:28,296 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:28,296 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:28,296 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2020-12-07 14:47:28,326 INFO Welcome to the CDS
2020-12-07 14:47:28,327 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:28,389 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'.
time - testing: finished
format - testing:  None

2020-12-07 14:47:29,422 INFO Request is completed
2020-12-07 14:47:29,422 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348848.539785-28363-16-f1cf1739-69af-4756-8659-f09d51b191f7.zip to download.zip (67.9K)
2020-12-07 14:47:29,506 INFO Download rate 811.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-07 14:47:29,593 INFO Welcome to the CDS
2020-12-07 14:47:29,594 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:29,654 INFO Request is queued

format - testing:  csv

2020-12-07 14:47:30,687 INFO Request is completed
2020-12-07 14:47:30,688 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348849.8623776-27151-5-4b78a3fd-3192-4126-9490-14f2b5cd5965.zip to download.zip (29.1K)
2020-12-07 14:47:30,745 INFO Download rate 510.3K/s

,obs_id,lat,lon,plev,ta,time,trajectory_label,statid,statindex
0,0,48.2500,16.3700,640.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
1,1,48.2500,16.3700,700.0,223.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
2,2,48.2500,16.3700,790.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
3,3,48.2500,16.3700,880.0,220.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
4,4,48.2500,16.3700,1000.0,224.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
...,...,...,...,...,...,...,...,...,...
3850,3850,48.2486,16.3564,85000.0,263.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3851,3851,48.2486,16.3564,92500.0,268.05,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3852,3852,48.2486,16.3564,93100.0,268.25,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3853,3853,48.2486,16.3564,98000.0,272.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3854,3854,48.2486,16.3564,98700.0,274.15,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0

2020-12-07 14:47:30,833 INFO Welcome to the CDS
2020-12-07 14:47:30,833 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:30,896 INFO Request is queued

format - testing:  nc

2020-12-07 14:47:31,930 INFO Request is completed
2020-12-07 14:47:31,931 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348851.1597793-27153-4-eefca970-7478-4093-960c-b621e72e41a1.zip to download.zip (67.9K)
2020-12-07 14:47:32,016 INFO Download rate 805.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-07 14:47:32,102 INFO Welcome to the CDS
2020-12-07 14:47:32,103 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:32,167 INFO Request is queued

format - testing:  netcdf

2020-12-07 14:47:33,200 INFO Request is failed
2020-12-07 14:47:33,200 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:33,201 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2020-12-07 14:47:33,201 ERROR   Traceback (most recent call last):
2020-12-07 14:47:33,201 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:33,202 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:33,202 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:33,202 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:33,203 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:33,203 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:33,203 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:33,204 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:33,204 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:33,204 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:33,205 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2020-12-07 14:47:33,234 INFO Welcome to the CDS
2020-12-07 14:47:33,234 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:33,295 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'.
format - testing:  csb

2020-12-07 14:47:34,328 INFO Request is failed
2020-12-07 14:47:34,328 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:34,329 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2020-12-07 14:47:34,329 ERROR   Traceback (most recent call last):
2020-12-07 14:47:34,329 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:34,330 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:34,330 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:34,330 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:34,331 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:34,331 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:34,331 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:34,332 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:34,332 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:34,332 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:34,333 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2020-12-07 14:47:34,362 INFO Welcome to the CDS
2020-12-07 14:47:34,363 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:34,428 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'.
format - testing:  txt

2020-12-07 14:47:35,464 INFO Request is failed
2020-12-07 14:47:35,464 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:35,464 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2020-12-07 14:47:35,465 ERROR   Traceback (most recent call last):
2020-12-07 14:47:35,465 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:35,465 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:35,466 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:35,466 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:35,466 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:35,467 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:35,467 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:35,467 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:35,468 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:35,468 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:35,468 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2020-12-07 14:47:35,498 INFO Welcome to the CDS
2020-12-07 14:47:35,498 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:35,560 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'.
format - testing: finished
y - testing:  None

2020-12-07 14:47:36,594 INFO Request is running
2020-12-07 14:47:38,127 INFO Request is completed
2020-12-07 14:47:38,128 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348857.7863472-28048-19-81e912a5-0ef7-42c9-b64e-a0444fe16637.zip to download.zip (40M)
2020-12-07 14:47:41,222 INFO Download rate 12.9M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-07 14:47:42,321 INFO Welcome to the CDS
2020-12-07 14:47:42,322 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:42,392 INFO Request is queued

y - testing:  2000

2020-12-07 14:47:43,425 INFO Request is completed
2020-12-07 14:47:43,425 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348862.5334797-19962-12-ecf10eb7-e5b1-4140-8e3c-8fd7abea258b.zip to download.zip (23.6K)
2020-12-07 14:47:43,486 INFO Download rate 388K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-07 14:47:43,575 INFO Welcome to the CDS
2020-12-07 14:47:43,575 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:43,643 INFO Request is queued

y - testing:  2000

2020-12-07 14:47:44,678 INFO Request is completed
2020-12-07 14:47:44,678 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348863.9180164-31646-4-5c2f93cc-abff-45e1-b985-53249df999d4.zip to download.zip (23.6K)
2020-12-07 14:47:44,736 INFO Download rate 409.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-07 14:47:44,824 INFO Welcome to the CDS
2020-12-07 14:47:44,825 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:44,904 INFO Request is queued

y - testing:  ['2000', '2001']

2020-12-07 14:47:45,938 INFO Request is completed
2020-12-07 14:47:45,939 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348865.1987345-28171-19-06fdc0c9-412b-43b1-bcaa-601e13f7baf8.zip to download.zip (596.5K)
2020-12-07 14:47:46,109 INFO Download rate 3.4M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2020-12-07 14:47:46,211 INFO Welcome to the CDS
2020-12-07 14:47:46,212 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:46,286 INFO Request is queued

y - testing:  [2000, 2001]

2020-12-07 14:47:47,320 INFO Request is completed
2020-12-07 14:47:47,321 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348866.5178194-31312-1-d3b96566-23cd-4f61-8636-3bf8dd44825a.zip to download.zip (596.5K)
2020-12-07 14:47:47,487 INFO Download rate 3.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2020-12-07 14:47:47,586 INFO Welcome to the CDS
2020-12-07 14:47:47,586 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:47,647 INFO Request is queued

y - testing:  0

2020-12-07 14:47:48,680 INFO Request is failed
2020-12-07 14:47:48,680 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:48,681 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2020-12-07 14:47:48,681 ERROR   Traceback (most recent call last):
2020-12-07 14:47:48,681 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:48,682 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:48,682 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:48,682 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:48,683 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:48,683 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:48,683 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:48,683 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:48,684 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:48,684 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:48,684 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2020-12-07 14:47:48,714 INFO Welcome to the CDS
2020-12-07 14:47:48,715 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:48,775 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'.
y - testing:  20000

2020-12-07 14:47:49,810 INFO Request is failed
2020-12-07 14:47:49,810 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:49,811 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2020-12-07 14:47:49,811 ERROR   Traceback (most recent call last):
2020-12-07 14:47:49,811 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:49,812 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:49,812 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:49,812 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:49,813 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:49,813 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:49,813 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:49,813 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:49,814 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:49,814 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:49,814 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2020-12-07 14:47:49,844 INFO Welcome to the CDS
2020-12-07 14:47:49,845 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:49,906 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'.
y - testing:  -2000

2020-12-07 14:47:50,940 INFO Request is failed
2020-12-07 14:47:50,941 ERROR Message: an internal error occurred processing your request
2020-12-07 14:47:50,941 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"\'str\' object has no attribute \'strftime\'"'
2020-12-07 14:47:50,941 ERROR   Traceback (most recent call last):
2020-12-07 14:47:50,942 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:47:50,942 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:47:50,942 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:47:50,943 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:47:50,943 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:47:50,943 ERROR       return p(*args, **kwargs)
2020-12-07 14:47:50,944 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:47:50,944 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:47:50,944 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:47:50,945 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:47:50,945 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"\'str\' object has no attribute \'strftime\'"'
2020-12-07 14:47:50,974 INFO Welcome to the CDS
2020-12-07 14:47:50,975 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:51,036 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"\'str\' object has no attribute \'strftime\'"'.
m - testing:  None

2020-12-07 14:47:52,070 INFO Request is completed
2020-12-07 14:47:52,070 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348871.2176929-12709-9-04c69ab8-dc3f-41e9-b3dd-f7f62c9634ba.zip to download.zip (547.1K)
2020-12-07 14:47:52,238 INFO Download rate 3.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84900.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85000.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85200.0,264.700012,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,92500.0,270.500000,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,97400.0,273.600006,2000-12-31 12:00:00,10000032099

2020-12-07 14:47:52,336 INFO Welcome to the CDS
2020-12-07 14:47:52,336 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:52,399 INFO Request is queued

m - testing:  1

2020-12-07 14:47:53,433 INFO Request is completed
2020-12-07 14:47:53,433 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348872.5604012-12756-8-a004a9c0-4e46-4517-8e27-1e420112b151.zip to download.zip (23.6K)
2020-12-07 14:47:53,491 INFO Download rate 410K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-07 14:47:53,579 INFO Welcome to the CDS
2020-12-07 14:47:53,579 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:53,649 INFO Request is queued

m - testing:  1

2020-12-07 14:47:54,683 INFO Request is completed
2020-12-07 14:47:54,683 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348873.8158712-12795-8-7c641e30-68ba-40b1-a723-a32a4fa8f38b.zip to download.zip (23.6K)
2020-12-07 14:47:54,741 INFO Download rate 407.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-07 14:47:54,826 INFO Welcome to the CDS
2020-12-07 14:47:54,827 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:54,907 INFO Request is completed
2020-12-07 14:47:54,908 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348863.9180164-31646-4-5c2f93cc-abff-45e1-b985-53249df999d4.zip to download.zip (23.6K)
2020-12-07 14:47:54,964 INFO Download rate 422.8K/s

m - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-07 14:47:55,262 INFO Welcome to the CDS
2020-12-07 14:47:55,262 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:55,323 INFO Request is queued

m - testing:  ['01', '02']

2020-12-07 14:47:56,356 INFO Request is completed
2020-12-07 14:47:56,357 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348875.4850569-12933-8-e37f538c-617e-4016-a602-05b57aa54d02.zip to download.zip (110.7K)
2020-12-07 14:47:56,468 INFO Download rate 999.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-07 14:47:56,555 INFO Welcome to the CDS
2020-12-07 14:47:56,555 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:56,636 INFO Request is queued

m - testing:  ['1', '2']

2020-12-07 14:47:57,669 INFO Request is running
2020-12-07 14:47:59,203 INFO Request is completed
2020-12-07 14:47:59,204 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348877.7915545-12836-8-d3e86617-a12a-47e3-beed-d7902c0561c5.zip to download.zip (110.7K)
2020-12-07 14:47:59,315 INFO Download rate 997.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-07 14:47:59,402 INFO Welcome to the CDS
2020-12-07 14:47:59,403 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:47:59,468 INFO Request is queued

m - testing:  [1, 2]

2020-12-07 14:48:00,502 INFO Request is completed
2020-12-07 14:48:00,502 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348879.6190085-13489-7-0838c5f7-505a-4fbb-bb2c-b0d78c83ec21.zip to download.zip (110.7K)
2020-12-07 14:48:00,614 INFO Download rate 999K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-07 14:48:00,704 INFO Welcome to the CDS
2020-12-07 14:48:00,704 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:00,772 INFO Request is queued

m - testing:  00

2020-12-07 14:48:01,807 INFO Request is failed
2020-12-07 14:48:01,807 ERROR Message: an internal error occurred processing your request
2020-12-07 14:48:01,807 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-07 14:48:01,808 ERROR   Traceback (most recent call last):
2020-12-07 14:48:01,808 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:48:01,808 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:48:01,809 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:48:01,809 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:48:01,809 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:48:01,810 ERROR       return p(*args, **kwargs)
2020-12-07 14:48:01,810 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:48:01,810 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:48:01,811 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:48:01,811 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:48:01,811 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-07 14:48:01,841 INFO Welcome to the CDS
2020-12-07 14:48:01,841 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:01,907 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  0

2020-12-07 14:48:02,940 INFO Request is failed
2020-12-07 14:48:02,940 ERROR Message: an internal error occurred processing your request
2020-12-07 14:48:02,941 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-07 14:48:02,941 ERROR   Traceback (most recent call last):
2020-12-07 14:48:02,941 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:48:02,942 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:48:02,942 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:48:02,942 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:48:02,943 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:48:02,943 ERROR       return p(*args, **kwargs)
2020-12-07 14:48:02,943 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:48:02,944 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:48:02,944 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:48:02,944 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:48:02,945 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-07 14:48:02,975 INFO Welcome to the CDS
2020-12-07 14:48:02,975 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:03,116 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  13

2020-12-07 14:48:04,149 INFO Request is failed
2020-12-07 14:48:04,150 ERROR Message: an internal error occurred processing your request
2020-12-07 14:48:04,150 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-07 14:48:04,151 ERROR   Traceback (most recent call last):
2020-12-07 14:48:04,151 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:48:04,151 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:48:04,151 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:48:04,152 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:48:04,152 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:48:04,152 ERROR       return p(*args, **kwargs)
2020-12-07 14:48:04,153 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:48:04,153 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:48:04,153 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:48:04,154 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:48:04,154 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-07 14:48:04,184 INFO Welcome to the CDS
2020-12-07 14:48:04,184 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:04,262 INFO Request is completed
2020-12-07 14:48:04,263 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348863.9180164-31646-4-5c2f93cc-abff-45e1-b985-53249df999d4.zip to download.zip (23.6K)
2020-12-07 14:48:04,319 INFO Download rate 423.2K/s

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
d - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-07 14:48:04,409 INFO Welcome to the CDS
2020-12-07 14:48:04,409 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:04,474 INFO Request is queued

d - testing:  31

2020-12-07 14:48:05,508 INFO Request is completed
2020-12-07 14:48:05,508 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348884.6247206-13581-8-92641dbd-403a-4ea1-a994-02a8f927261f.zip to download.zip (23.6K)
2020-12-07 14:48:05,569 INFO Download rate 391.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,2870.0,203.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3000.0,202.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3750.0,205.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4020.0,201.699997,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4600.0,208.500000,2000-01-31 00:00:00,10000030757
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-07 14:48:05,655 INFO Welcome to the CDS
2020-12-07 14:48:05,656 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:05,721 INFO Request is queued

d - testing:  ['01', '02']

2020-12-07 14:48:06,755 INFO Request is completed
2020-12-07 14:48:06,755 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348886.0197155-17356-2-dca6d950-20c9-4632-890c-91a84f19e61f.zip to download.zip (68.1K)
2020-12-07 14:48:06,840 INFO Download rate 809.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-07 14:48:06,929 INFO Welcome to the CDS
2020-12-07 14:48:06,929 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:06,989 INFO Request is queued

d - testing:  ['1', '2']

2020-12-07 14:48:08,022 INFO Request is completed
2020-12-07 14:48:08,023 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348887.2697625-18080-1-b1c6f81e-60bb-48ca-ae76-8c932b9e9069.zip to download.zip (68.1K)
2020-12-07 14:48:08,107 INFO Download rate 810K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-07 14:48:08,197 INFO Welcome to the CDS
2020-12-07 14:48:08,197 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:08,266 INFO Request is queued

d - testing:  [1, 2]

2020-12-07 14:48:09,300 INFO Request is completed
2020-12-07 14:48:09,301 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348888.4112365-28008-19-0e1248e8-8dd7-4834-911f-40c3d2614de0.zip to download.zip (68.1K)
2020-12-07 14:48:09,386 INFO Download rate 806.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-07 14:48:09,474 INFO Welcome to the CDS
2020-12-07 14:48:09,475 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:09,543 INFO Request is queued

d - testing:  00

2020-12-07 14:48:10,578 INFO Request is failed
2020-12-07 14:48:10,578 ERROR Message: an internal error occurred processing your request
2020-12-07 14:48:10,579 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-07 14:48:10,579 ERROR   Traceback (most recent call last):
2020-12-07 14:48:10,579 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:48:10,579 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:48:10,580 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:48:10,580 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:48:10,580 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:48:10,581 ERROR       return p(*args, **kwargs)
2020-12-07 14:48:10,581 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:48:10,581 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:48:10,582 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:48:10,582 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:48:10,582 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-07 14:48:10,612 INFO Welcome to the CDS
2020-12-07 14:48:10,612 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:10,694 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  0

2020-12-07 14:48:11,728 INFO Request is failed
2020-12-07 14:48:11,729 ERROR Message: an internal error occurred processing your request
2020-12-07 14:48:11,729 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-07 14:48:11,729 ERROR   Traceback (most recent call last):
2020-12-07 14:48:11,730 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:48:11,730 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:48:11,730 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:48:11,731 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:48:11,731 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:48:11,731 ERROR       return p(*args, **kwargs)
2020-12-07 14:48:11,732 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:48:11,732 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:48:11,732 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:48:11,733 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:48:11,733 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-07 14:48:11,763 INFO Welcome to the CDS
2020-12-07 14:48:11,763 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:11,830 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  32

2020-12-07 14:48:12,864 INFO Request is completed
2020-12-07 14:48:12,865 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348891.971414-20397-8-48a420d3-b31a-47f6-a15a-92fd59438b18.zip to download.zip (23.6K)
2020-12-07 14:48:12,922 INFO Download rate 412.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,2870.0,203.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3000.0,202.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3750.0,205.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4020.0,201.699997,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4600.0,208.500000,2000-01-31 00:00:00,10000030757
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-07 14:48:13,010 INFO Welcome to the CDS
2020-12-07 14:48:13,010 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:13,073 INFO Request is queued

ymd - testing: finished
size - testing:  air_temperature 11035

2020-12-07 14:48:14,105 INFO Request is running
2020-12-07 14:48:15,639 INFO Request is completed
2020-12-07 14:48:15,639 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607348895.2701762-20446-8-5cb46670-0e18-45e1-949e-dece281b6906.zip to download.zip (40M)
2020-12-07 14:48:19,562 INFO Download rate 10.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-07 14:48:20,658 INFO Welcome to the CDS
2020-12-07 14:48:20,659 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:48:20,720 INFO Request is queued

size - testing:  air_temperature 10393

2020-12-07 14:48:21,753 INFO Request is running
2020-12-07 14:48:41,712 INFO Request is completed
2020-12-07 14:48:41,713 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348918.453506-20716-8-e760c41f-7d41-42f5-949e-02c740b3e090.zip to download.zip (321.3M)
2020-12-07 14:49:02,362 INFO Download rate 15.6M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,52.216702,14.11670,20000.0,211.350006,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,25000.0,220.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,30000.0,228.449997,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,40000.0,241.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,50000.0,254.850006,1905-04-04 06:00:00,30000000001
...,...,...,...,...,...,...
0,52.209301,14.12041,101330.0,278.450012,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101400.0,278.369995,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101450.0,278.309998,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101510.0,278.250000,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101600.0,278.290009,2019-12-31 16:45:10,10000041139

2020-12-07 14:49:10,055 INFO Welcome to the CDS
2020-12-07 14:49:10,056 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:49:10,119 INFO Request is queued

size - testing:  air_temperature 1 month all stations

2020-12-07 14:49:11,155 INFO Request is running
2020-12-07 14:49:18,383 INFO Request is completed
2020-12-07 14:49:18,384 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607348956.3396034-20542-12-9f2aa869-0866-4c7b-9cdb-b8f8ee56f4e1.zip to download.zip (39.8M)
2020-12-07 14:49:20,935 INFO Download rate 15.6M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,47.461399,-111.384697,960.0,213.350006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1000.0,212.949997,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1080.0,210.850006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1130.0,211.149994,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1390.0,216.449997,2010-01-01 00:00:00,30000055381
...,...,...,...,...,...,...
0,47.461399,-111.384697,83250.0,271.450012,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85000.0,271.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85900.0,268.250000,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,87600.0,265.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,88150.0,264.549988,2010-02-01 12:00:00,30000055444

2020-12-07 14:49:21,507 INFO Welcome to the CDS
2020-12-07 14:49:21,507 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:49:21,569 INFO Request is queued

size - testing:  air_temperature everything

2020-12-07 14:49:22,602 INFO Request is failed
2020-12-07 14:49:22,602 ERROR Message: an internal error occurred processing your request
2020-12-07 14:49:22,603 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-07 14:49:22,603 ERROR   Traceback (most recent call last):
2020-12-07 14:49:22,603 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:49:22,604 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:49:22,604 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:49:22,604 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:49:22,604 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:49:22,605 ERROR       return p(*args, **kwargs)
2020-12-07 14:49:22,605 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:49:22,605 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:49:22,606 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:49:22,606 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:49:22,606 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-07 14:49:22,636 INFO Welcome to the CDS
2020-12-07 14:49:22,637 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-07 14:49:22,699 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing:  all variables 1 month all stations

2020-12-07 14:49:23,736 INFO Request is failed
2020-12-07 14:49:23,737 ERROR Message: an internal error occurred processing your request
2020-12-07 14:49:23,737 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-07 14:49:23,737 ERROR   Traceback (most recent call last):
2020-12-07 14:49:23,738 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-07 14:49:23,738 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-07 14:49:23,738 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-07 14:49:23,739 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-07 14:49:23,739 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-07 14:49:23,739 ERROR       return p(*args, **kwargs)
2020-12-07 14:49:23,739 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-07 14:49:23,740 ERROR       return self.proc(context, *args, **kwargs)
2020-12-07 14:49:23,740 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-07 14:49:23,740 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-07 14:49:23,741 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing: finished