In [1]:
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
warnings.filterwarnings('ignore')

In [2]:
def request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test/')
    z.close()
    
    files = glob.glob('./test/*.nc')
    if len(files) > 0:
        ds = xarray.open_dataset(files[0])            
        to_be_removed = ['trajectory_index', 'trajectory']
        for ivar in list(ds.variables):
            if 'string' in ivar:
                to_be_removed.append(ivar)
            
            if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
                report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???
                
            if ds[ivar].ndim > 1:
                tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                idim = tmp.dims[0]
                ds[ivar] = (idim, tmp)

        ds = ds.drop_vars(to_be_removed)
        data = ds.to_dataframe()
    else:
        files = glob.glob('./test/*.csv')
        data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test/')
    except:
       print('Error while deleting directory')
    
    return data

In [3]:
def test_statid():
    log = []
    log.append('\n\n---STATID---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'all', '11035', '0-20000-0-11035', '0-20100-0-00701', '1103*', '0-20100*', ['0-20000-0-11035', '0-20000-0-10393']]:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['110350', '1103', '0-20000-0-1103', '0-20000-0-110350']:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        }
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('statid - testing: finished')
    return log

In [4]:
def test_variable():
    log = []
    log.append('\n\n---VARIABLE---')
    cachworkaround = np.random.random_sample()
    for s in ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['temperature', 'dew_point', 'wind', 'humidity', 'sonde_type']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('variable - testing: finished')
    return log

In [5]:
def test_optional():
    log = []
    log.append('\n\n---OPTIONAL---')
    cachworkaround = np.random.random_sample()
    for s in ['sonde_type', 'bias_estimate', 'obs_minus_an', 'obs_minus_bg']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ ' - ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['sonde', 'air_temperature', 'dew_point_temperature']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [6]:
def test_area():
    log = []
    log.append('\n\n---AREA---')
    cachworkaround = np.random.random_sample()
    for s in [[-40,140,80,359], [40,0,50,20], [48,-180,49,180], [48,0,49,360],]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [[0,0,0,0], [50,20,40,0], [48,-180,49,360]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('area - testing: finished')
    return log

In [7]:
def test_country():
    log = []
    log.append('\n\n---COUNTRY---')
    cachworkaround = np.random.random_sample()
    for s in ['GLOBE', 'ALL', 'NOR', ["NOR","DEU"]]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['NORWAY', 'nor',]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('country - testing: finished')
    return log

In [8]:
def test_date(): 
    log = []
    log.append('\n\n---DATE---')
    cachworkaround = np.random.random_sample()
    for s in [None, '20000231', '20000101', '20000101-20000201', ['20000101', '20000103', '20000106'], ['20000102', '20000101']]:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['2000011', '20000100', '00000000', '20000132', '20001301']:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('date - testing: finished')
    return log

In [9]:
def test_period(): 
    log = []
    log.append('\n\n---PERIOD---')
    # not working: ['1979-01-01/1980-08-16']
    cachworkaround = np.random.random_sample()
    for s in [None, '1979-01-01/1980-08-16']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [ '1980-01-02/1980-01-01']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('period - testing: finished')
    return log

In [10]:
def test_pressure_level():
    log = []
    log.append('\n\n---PRESSURE LEVEL---')
    cachworkaround = np.random.random_sample()
    for s in [100, '100', [100, 200], ['100', '200']]:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    for s in ['0', '2000']:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    print('pressure_level - testing: finished')
    return log

In [11]:
def test_time():
    log = []
    log.append('\n\n---TIME---')
    cachworkaround = np.random.random_sample()
    for s in [[22,23,0,1,2,3], ["22","23","00","01","02","03"], '', '0', '00', ["00"], [0,12], ["0","12"]]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['24', '25', '12.5', ]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('time - testing: finished')
    return log

In [12]:
def test_format():
    log = []
    log.append('\n\n---FORMAT---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'csv', 'nc']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['netcdf', 'csb', 'txt']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('format - testing: finished')
    return log

In [13]:
def test_ymd():
    log = []
    # if one of them is None -> no date selected = the whole dataset - change?
    cachworkaround = np.random.random_sample()
    log.append('\n\n---YEAR---')
    for s in [None, 2000, '2000', ['2000', '2001'], [2000, 2001]]:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [0, '20000', '-2000']:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---MONTH---')
    for s in [None, 1, '1', '01', ['01', '02'], ['1', '2'], [1, 2]]:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '13']:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---DAY---')
    for s in ['01', '31', ['01', '02'], ['1', '2'], [1, 2]]:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '32']:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('ymd - testing: finished')
    return log

In [14]:
def test_size():
    log = []
    log.append('\n\n---SIZE---')
    cachworkaround = np.random.random_sample()
    s = 'air_temperature 11035'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'air_temperature 10393'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '10393',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = 'air_temperature 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    s = 'air_temperature everything'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'all variables 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed'],
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('size - testing: finished')
    return log

In [15]:
def server_test():
    log = []
    log.append('Testing Server Requests \n')
    log.append('0 = failed | 1 = succeeded \n')
    try: log.extend(test_statid())
    except: log.append('\nstatid - test: failed \n')
    try: log.extend(test_variable())
    except: log.append('\nvariable - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_area())
    except: log.append('\narea - test: failed \n')
    try: log.extend(test_country())
    except: log.append('\ncountry - test: failed \n')
    try: log.extend(test_date())
    except: log.append('\ndate - test: failed \n')
    try: log.extend(test_period())
    except: log.append('\nperiod - test: failed \n')
    try: log.extend(test_pressure_level())
    except: log.append('\npressure_level - test: failed \n')
    try: log.extend(test_time())
    except: log.append('\ntime - test: failed \n')
    try: log.extend(test_format())
    except: log.append('\nformat - test: failed \n')
    try: log.extend(test_ymd())
    except: log.append('\nymd - test: failed \n')
    try: log.extend(test_size())
    except: log.append('\nsize - test: failed \n')
        
    writelog=open('server_test_log.txt','w')
    writelog.writelines(log)
    writelog.close()

In [16]:
cachworkaround = np.random.random_sample()
s = 'air_temperature 11035'
print('size - testing: ', s)
rd={
    'variable': 'air_temperature',
    'statid': '11035',
    'cachworkaround': cachworkaround,
} 
display(request(rd))

2020-12-09 09:21:16,192 INFO Welcome to the CDS
2020-12-09 09:21:16,193 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

size - testing:  air_temperature 11035

2020-12-09 09:21:16,425 INFO Request is queued
2020-12-09 09:21:17,459 INFO Request is running
2020-12-09 09:21:21,278 INFO Request is completed
2020-12-09 09:21:21,278 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502078.9036763-6360-10-eebd54c1-0176-43f6-811f-0e5a5d3293ef.zip to download.zip (40M)
2020-12-09 09:21:23,307 INFO Download rate 19.7M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

In [17]:
server_test()

2020-12-09 09:21:24,610 INFO Welcome to the CDS
2020-12-09 09:21:24,610 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:21:24,667 INFO Request is queued

statid - testing:  None

2020-12-09 09:21:25,702 INFO Request is running
2020-12-09 09:21:38,034 INFO Request is completed
2020-12-09 09:21:38,034 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502094.414024-2561-9-2806bea1-7873-4f2f-b3f2-6baff163a2db.zip to download.zip (49.7M)
2020-12-09 09:21:39,044 INFO Download rate 49.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-09 09:21:40,140 INFO Welcome to the CDS
2020-12-09 09:21:40,140 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:21:40,202 INFO Request is queued

statid - testing:  all

2020-12-09 09:21:41,236 INFO Request is running
2020-12-09 09:21:53,566 INFO Request is completed
2020-12-09 09:21:53,567 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502110.196661-26242-12-1c5df3ee-5b76-401e-8df2-45b2332691b2.zip to download.zip (49.7M)
2020-12-09 09:21:57,649 INFO Download rate 12.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-09 09:21:58,464 INFO Welcome to the CDS
2020-12-09 09:21:58,465 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:21:58,521 INFO Request is queued

statid - testing:  11035

2020-12-09 09:21:59,554 INFO Request is completed
2020-12-09 09:21:59,555 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502118.8245842-4364-16-784c6d37-3e33-4d5b-b5a6-5de7d8ef3615.zip to download.zip (48.2K)
2020-12-09 09:21:59,638 INFO Download rate 580.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-09 09:21:59,728 INFO Welcome to the CDS
2020-12-09 09:21:59,728 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:21:59,784 INFO Request is queued

statid - testing:  0-20000-0-11035

2020-12-09 09:22:00,818 INFO Request is completed
2020-12-09 09:22:00,818 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502120.066865-3638-9-e65a130e-76f2-4630-9c9f-411238fa57be.zip to download.zip (48.2K)
2020-12-09 09:22:00,904 INFO Download rate 569.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-09 09:22:00,993 INFO Welcome to the CDS
2020-12-09 09:22:00,994 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:01,053 INFO Request is queued

statid - testing:  0-20100-0-00701

2020-12-09 09:22:02,086 INFO Request is completed
2020-12-09 09:22:02,087 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502121.3016908-30275-15-5f2f1d66-2840-4cfa-ac49-d5358a194031.zip to download.zip (32.1K)
2020-12-09 09:22:02,145 INFO Download rate 558K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-09 09:22:02,238 INFO Welcome to the CDS
2020-12-09 09:22:02,238 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:02,295 INFO Request is queued

statid - testing:  1103*

2020-12-09 09:22:03,329 INFO Request is completed
2020-12-09 09:22:03,329 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502122.6063848-9890-4-97098fe9-cc44-4068-ae07-19e49144f89d.zip to download.zip (48.2K)
2020-12-09 09:22:03,414 INFO Download rate 570K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-09 09:22:03,504 INFO Welcome to the CDS
2020-12-09 09:22:03,504 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:03,562 INFO Request is queued

statid - testing:  0-20100*

2020-12-09 09:22:04,596 INFO Request is completed
2020-12-09 09:22:04,597 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502124.015493-28415-12-1b2a8010-0688-49da-aa1b-f2079365f97a.zip to download.zip (106.4K)
2020-12-09 09:22:04,708 INFO Download rate 960.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,5000.0,212.95,1978-10-11 08:51:48,0-20100-0-00703-002
0,46.811578,6.942472,7000.0,212.65,1978-10-11 08:45:18,0-20100-0-00703-002
0,46.811578,6.942472,10000.0,209.15,1978-10-11 08:38:12,0-20100-0-00703-002
0,46.811578,6.942472,15000.0,211.75,1978-10-11 08:29:54,0-20100-0-00703-002
0,46.811578,6.942472,20000.0,212.25,1978-10-11 08:23:54,0-20100-0-00703-002
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,243.15,1978-10-20 12:26:54,0-20100-0-00703-041
0,46.811578,6.942472,50000.0,256.25,1978-10-20 12:20:54,0-20100-0-00703-041
0,46.811578,6.942472,70000.0,272.95,1978-10-20 12:11:42,0-20100-0-00703-041
0,46.811578,6.942472,85000.0,274.35,1978-10-20 12:05:42,0-20100-0-00703-041
0,46.811578,6.942472,90000.0,274.95,1978-10-20 12:04:06,0-20100-0-00703-041

2020-12-09 09:22:04,798 INFO Welcome to the CDS
2020-12-09 09:22:04,799 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:04,858 INFO Request is queued

statid - testing:  ['0-20000-0-11035', '0-20000-0-10393']

2020-12-09 09:22:05,892 INFO Request is completed
2020-12-09 09:22:05,892 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502125.2300885-10291-4-71dbef5e-7b24-4745-9b24-415095ce4aa1.zip to download.zip (108.3K)
2020-12-09 09:22:06,003 INFO Download rate 981.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2020-12-09 09:22:06,093 INFO Welcome to the CDS
2020-12-09 09:22:06,094 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:06,154 INFO Request is queued

statid - testing:  110350

2020-12-09 09:22:07,188 INFO Request is failed
2020-12-09 09:22:07,188 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:07,189 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-09 09:22:07,189 ERROR   Traceback (most recent call last):
2020-12-09 09:22:07,189 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:07,190 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:07,190 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:07,190 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:07,191 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:07,191 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:07,191 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:07,192 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:07,192 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:07,192 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:07,193 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-09 09:22:07,222 INFO Welcome to the CDS
2020-12-09 09:22:07,223 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:07,278 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'.
statid - testing:  1103

2020-12-09 09:22:08,313 INFO Request is failed
2020-12-09 09:22:08,313 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:08,313 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-09 09:22:08,314 ERROR   Traceback (most recent call last):
2020-12-09 09:22:08,314 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:08,314 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:08,315 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:08,316 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:08,316 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:08,316 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:08,317 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:08,317 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:08,317 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:08,318 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:08,318 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-09 09:22:08,348 INFO Welcome to the CDS
2020-12-09 09:22:08,348 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:08,404 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20200-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'.
statid - testing:  0-20000-0-1103

2020-12-09 09:22:09,438 INFO Request is failed
2020-12-09 09:22:09,438 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:09,439 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-09 09:22:09,439 ERROR   Traceback (most recent call last):
2020-12-09 09:22:09,439 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:09,440 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:09,440 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:09,440 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:09,441 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:09,441 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:09,441 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:09,442 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:09,442 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:09,442 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:09,443 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-09 09:22:09,472 INFO Welcome to the CDS
2020-12-09 09:22:09,472 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:09,533 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-1103\'], \'date\': [\'19781001\', \'19781031\']}"'.
statid - testing:  0-20000-0-110350

2020-12-09 09:22:10,567 INFO Request is failed
2020-12-09 09:22:10,567 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:10,567 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-09 09:22:10,568 ERROR   Traceback (most recent call last):
2020-12-09 09:22:10,568 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:10,568 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:10,569 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:10,569 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:10,569 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:10,570 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:10,570 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:10,571 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:10,571 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:10,571 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:10,572 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'
2020-12-09 09:22:10,601 INFO Welcome to the CDS
2020-12-09 09:22:10,602 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:10,659 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"No selected station has data in specified date range: {\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-110350\'], \'date\': [\'19781001\', \'19781031\']}"'.
statid - testing: finished
variable - testing:  air_temperature

2020-12-09 09:22:11,693 INFO Request is completed
2020-12-09 09:22:11,694 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502130.8000083-10780-17-262dc1d4-02bb-4547-908f-869b532d5736.zip to download.zip (99.5K)
2020-12-09 09:22:11,803 INFO Download rate 911.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2020-12-09 09:22:11,894 INFO Welcome to the CDS
2020-12-09 09:22:11,894 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:11,980 INFO Request is queued

variable - testing:  dew_point_temperature

2020-12-09 09:22:14,550 INFO Request is completed
2020-12-09 09:22:14,550 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502134.1345103-9041-3-91bc8cf0-0478-48ac-a2ca-9b7797e8234e.zip to download.zip (99.3K)
2020-12-09 09:22:14,661 INFO Download rate 898.4K/s

,dew_point_temperature,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,187.899994,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,187.899994,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,187.300003,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,187.100006,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,184.699997,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,260.730011,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,260.910004,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,265.450012,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,268.019989,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,270.109985,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2020-12-09 09:22:14,754 INFO Welcome to the CDS
2020-12-09 09:22:14,754 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:14,819 INFO Request is queued

variable - testing:  eastward_wind_speed

2020-12-09 09:22:15,852 INFO Request is completed
2020-12-09 09:22:15,853 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502135.0809376-15891-15-06f1da88-2dd1-4911-8cc6-ca1ed98f7688.zip to download.zip (110.5K)
2020-12-09 09:22:15,966 INFO Download rate 985.8K/s

,lat,lon,plev,time,ua,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,27.712812,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,29.908157,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,29.001850,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,26.282927,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,14.912988,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.833590,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,0.881049,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,-1.667180,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,-1.180919,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,-0.985890,10000051145

2020-12-09 09:22:16,057 INFO Welcome to the CDS
2020-12-09 09:22:16,057 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:16,120 INFO Request is queued

variable - testing:  northward_wind_speed

2020-12-09 09:22:17,155 INFO Request is completed
2020-12-09 09:22:17,155 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502136.440913-6353-5-0525c6d8-0fcd-4372-b783-0cda09b592d5.zip to download.zip (110.6K)
2020-12-09 09:22:17,267 INFO Download rate 991.9K/s

,lat,lon,plev,time,va,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,-16.000000,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,-13.946403,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,-13.523785,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,-12.255930,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,-21.297953,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.863208,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.088004,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,1.726416,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.222878,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,1.854190,10000051145

2020-12-09 09:22:17,359 INFO Welcome to the CDS
2020-12-09 09:22:17,359 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:17,416 INFO Request is queued

variable - testing:  relative_humidity

2020-12-09 09:22:18,449 INFO Request is completed
2020-12-09 09:22:18,450 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502137.5784295-9133-2-0f48694c-fa9a-4f2c-948e-dd1c7c413091.zip to download.zip (105.6K)
2020-12-09 09:22:18,560 INFO Download rate 960.3K/s

,hur,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.018269,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.016112,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.015643,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.015489,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.020350,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.436792,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,0.436065,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.540391,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.686344,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.887677,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2020-12-09 09:22:18,649 INFO Welcome to the CDS
2020-12-09 09:22:18,650 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:18,706 INFO Request is queued

variable - testing:  specific_humidity

2020-12-09 09:22:19,740 INFO Request is completed
2020-12-09 09:22:19,741 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502138.8758497-9154-2-82d7deed-0b8c-4b93-9710-816adac6dac5.zip to download.zip (107.2K)
2020-12-09 09:22:19,851 INFO Download rate 976.9K/s

,hus,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.000029,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.000027,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.000024,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.000020,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.000012,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.001742,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.002329,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.002811,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.003221,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145
0,0.003152,48.248901,16.357300,96620.0,2015-01-31 23:30:09,10000051145

2020-12-09 09:22:19,943 INFO Welcome to the CDS
2020-12-09 09:22:19,943 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:19,999 INFO Request is queued

variable - testing:  wind_from_direction

2020-12-09 09:22:21,032 INFO Request is completed
2020-12-09 09:22:21,033 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502140.1710186-9156-2-39aae63e-e824-4741-9242-4a8fdcce8391.zip to download.zip (98.8K)
2020-12-09 09:22:21,143 INFO Download rate 908.3K/s

,lat,lon,plev,time,wind_from_direction,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,300.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,325.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,219.0,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,152.0,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,5.0,10000051145

2020-12-09 09:22:21,287 INFO Welcome to the CDS
2020-12-09 09:22:21,288 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:21,344 INFO Request is queued

variable - testing:  wind_speed

2020-12-09 09:22:22,378 INFO Request is completed
2020-12-09 09:22:22,378 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502141.5104327-9158-2-19f210f6-1bef-4cc9-916a-4595dca65bf8.zip to download.zip (100.9K)
2020-12-09 09:22:22,489 INFO Download rate 916.5K/s

,lat,lon,plev,time,wind_speed,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,33.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,29.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,26.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.4,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,2.4,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.7,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,2.1,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,1.0,10000051145

2020-12-09 09:22:22,582 INFO Welcome to the CDS
2020-12-09 09:22:22,583 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:22,639 INFO Request is queued

variable - testing:  temperature

2020-12-09 09:22:23,672 INFO Request is completed
2020-12-09 09:22:23,673 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502142.8048239-9160-2-d31ee7b7-d893-4835-bd2a-d1421f1e9d16.zip to download.zip (99.5K)
2020-12-09 09:22:23,783 INFO Download rate 904.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2020-12-09 09:22:23,873 INFO Welcome to the CDS
2020-12-09 09:22:23,873 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:23,945 INFO Request is queued

variable - testing:  dew_point

2020-12-09 09:22:24,978 INFO Request is failed
2020-12-09 09:22:24,979 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:24,979 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2020-12-09 09:22:24,979 ERROR   Traceback (most recent call last):
2020-12-09 09:22:24,980 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:24,980 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:24,980 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:24,981 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:24,981 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:24,981 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:24,981 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:24,982 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:24,982 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:24,982 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:24,983 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2020-12-09 09:22:25,012 INFO Welcome to the CDS
2020-12-09 09:22:25,013 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:25,071 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'.
variable - testing:  wind

2020-12-09 09:22:26,188 INFO Request is failed
2020-12-09 09:22:26,188 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:26,189 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2020-12-09 09:22:26,189 ERROR   Traceback (most recent call last):
2020-12-09 09:22:26,189 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:26,190 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:26,190 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:26,190 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:26,190 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:26,191 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:26,191 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:26,191 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:26,192 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:26,192 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:26,192 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2020-12-09 09:22:26,222 INFO Welcome to the CDS
2020-12-09 09:22:26,223 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:26,278 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'.
variable - testing:  humidity

2020-12-09 09:22:27,312 INFO Request is failed
2020-12-09 09:22:27,313 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:27,313 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2020-12-09 09:22:27,314 ERROR   Traceback (most recent call last):
2020-12-09 09:22:27,314 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:27,314 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:27,315 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:27,315 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:27,315 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:27,315 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:27,316 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:27,316 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:27,316 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:27,317 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:27,317 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2020-12-09 09:22:27,347 INFO Welcome to the CDS
2020-12-09 09:22:27,347 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:27,404 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'.
variable - testing:  sonde_type

2020-12-09 09:22:28,438 INFO Request is failed
2020-12-09 09:22:28,439 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:28,439 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2020-12-09 09:22:28,440 ERROR   Traceback (most recent call last):
2020-12-09 09:22:28,440 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:28,440 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:28,441 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:28,441 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:28,441 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:28,442 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:28,442 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:28,442 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:28,443 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:28,444 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:28,444 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2020-12-09 09:22:28,473 INFO Welcome to the CDS
2020-12-09 09:22:28,474 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:28,529 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'.
variable - testing: finished
optional - testing:  sonde_type

2020-12-09 09:22:29,563 INFO Request is completed
2020-12-09 09:22:29,564 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502148.910788-1793-3-0a6f95a8-0853-440c-b9ab-62091048c073.zip to download.zip (91K)
2020-12-09 09:22:29,649 INFO Download rate 1M/s

,lat,lon,plev,ta,time,sonde_type,trajectory_label
obs,,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,S09,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,S09,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,S09,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,S09,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,S09,0-20100-0-00701-001
...,...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,S09,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,S09,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,S09,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,S09,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,S09,0-20100-0-00701-054

2020-12-09 09:22:29,754 INFO Welcome to the CDS
2020-12-09 09:22:29,754 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:29,809 INFO Request is queued

optional - testing:  bias_estimate

2020-12-09 09:22:30,844 INFO Request is completed
2020-12-09 09:22:30,845 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502150.0198436-2067-3-f96def52-fe5b-4a11-8787-d5c06cffbfce.zip to download.zip (87.5K)
2020-12-09 09:22:30,930 INFO Download rate 1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-09 09:22:31,020 INFO Welcome to the CDS
2020-12-09 09:22:31,020 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:31,080 INFO Request is queued

optional - testing:  obs_minus_an

2020-12-09 09:22:32,113 INFO Request is completed
2020-12-09 09:22:32,114 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502151.2812228-1476-7-438d2083-b1b0-4563-8c3d-6066a7efefae.zip to download.zip (90.6K)
2020-12-09 09:22:32,199 INFO Download rate 1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-09 09:22:32,289 INFO Welcome to the CDS
2020-12-09 09:22:32,290 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:32,348 INFO Request is queued

optional - testing:  obs_minus_bg

2020-12-09 09:22:33,383 INFO Request is completed
2020-12-09 09:22:33,383 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502152.5463586-5854-8-e95bc6c3-5f17-4b48-a936-48c3567e7490.zip to download.zip (90.6K)
2020-12-09 09:22:33,468 INFO Download rate 1.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2020-12-09 09:22:33,558 INFO Welcome to the CDS
2020-12-09 09:22:33,558 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:33,616 INFO Request is queued

optional - testing:  sonde

2020-12-09 09:22:34,652 INFO Request is failed
2020-12-09 09:22:34,653 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:34,653 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2020-12-09 09:22:34,653 ERROR   Traceback (most recent call last):
2020-12-09 09:22:34,654 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:34,654 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:34,654 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:34,655 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:34,655 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:34,655 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:34,656 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:34,656 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:34,656 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:34,657 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:34,657 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2020-12-09 09:22:34,687 INFO Welcome to the CDS
2020-12-09 09:22:34,687 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:34,744 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'.
optional - testing:  air_temperature

2020-12-09 09:22:35,779 INFO Request is failed
2020-12-09 09:22:35,779 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:35,780 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2020-12-09 09:22:35,780 ERROR   Traceback (most recent call last):
2020-12-09 09:22:35,780 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:35,781 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:35,781 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:35,781 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:35,782 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:35,782 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:35,782 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:35,783 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:35,783 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:35,784 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:35,785 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2020-12-09 09:22:35,814 INFO Welcome to the CDS
2020-12-09 09:22:35,814 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:35,874 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'.
optional - testing:  dew_point_temperature

2020-12-09 09:22:36,908 INFO Request is failed
2020-12-09 09:22:36,908 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:36,909 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2020-12-09 09:22:36,909 ERROR   Traceback (most recent call last):
2020-12-09 09:22:36,909 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:36,910 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:36,910 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:36,910 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:36,911 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:36,911 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:36,911 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:36,912 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:36,912 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:36,912 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:36,913 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2020-12-09 09:22:36,942 INFO Welcome to the CDS
2020-12-09 09:22:36,943 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:37,002 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'.
optional - testing: finished
area - testing:  [-40, 140, 80, 359]

2020-12-09 09:22:39,569 INFO Request is running
2020-12-09 09:22:45,268 INFO Request is completed
2020-12-09 09:22:45,269 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502163.188835-7658-20-a8322232-c829-46c8-bab3-f0cc3a3c0490.zip to download.zip (23.7M)
2020-12-09 09:22:45,952 INFO Download rate 34.8M/s

       lat         lon      plev          ta       time trajectory_label
obs
0    18.23 -111.050003    1100.0  233.600006 1978-10-01      20000002973
0    18.23 -111.050003    1500.0  228.500000 1978-10-01      20000002973
0    18.23 -111.050003    2000.0  223.899994 1978-10-01      20000002973
0    18.23 -111.050003    2500.0  220.899994 1978-10-01      20000002973
0    18.23 -111.050003    3000.0  218.500000 1978-10-01      20000002973
..     ...         ...       ...         ...        ...              ...
0    18.23 -111.050003   91400.0  293.700012 1978-10-31      20000003019
0    18.23 -111.050003   94500.0  296.700012 1978-10-31      20000003019
0    18.23 -111.050003   95000.0  296.799988 1978-10-31      20000003019
0    18.23 -111.050003   97400.0  297.200012 1978-10-31      20000003019
0    18.23 -111.050003  100000.0  299.200012 1978-10-31      20000003019

[1389 rows x 6 columns]

2020-12-09 09:22:46,447 INFO Welcome to the CDS
2020-12-09 09:22:46,448 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:46,503 INFO Request is queued

area - testing:  [40, 0, 50, 20]

2020-12-09 09:22:47,537 INFO Request is completed
2020-12-09 09:22:47,537 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502167.0730662-24737-12-01683a71-132e-4f2e-afe3-896bd826823c.zip to download.zip (931.4K)
2020-12-09 09:22:47,728 INFO Download rate 4.8M/s

       lat    lon      plev          ta                time trajectory_label
obs
0    47.43  19.18    3000.0  215.500000 1978-10-01 00:00:00      20000020136
0    47.43  19.18    5000.0  217.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7000.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7200.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    8100.0  215.500000 1978-10-01 00:00:00      20000020136
..     ...    ...       ...         ...                 ...              ...
0    47.43  19.18   75100.0  276.000000 1978-10-31 18:00:00      20000020252
0    47.43  19.18   79900.0  269.299988 1978-10-31 18:00:00      20000020252
0    47.43  19.18   85000.0  273.399994 1978-10-31 18:00:00      20000020252
0    47.43  19.18   98500.0  283.200012 1978-10-31 18:00:00      20000020252
0    47.43  19.18  100000.0  283.399994 1978-10-31 18:00:00      20000020252

[3523 rows x 6 columns]

2020-12-09 09:22:47,829 INFO Welcome to the CDS
2020-12-09 09:22:47,829 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:47,898 INFO Request is queued

area - testing:  [48, -180, 49, 180]

2020-12-09 09:22:48,932 INFO Request is completed
2020-12-09 09:22:48,933 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502168.335167-6335-10-dcca9897-ffde-4e68-bb40-8c8c603d9414.zip to download.zip (933.7K)
2020-12-09 09:22:49,129 INFO Download rate 4.7M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2020-12-09 09:22:49,233 INFO Welcome to the CDS
2020-12-09 09:22:49,233 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:49,288 INFO Request is queued

area - testing:  [48, 0, 49, 360]

2020-12-09 09:22:50,322 INFO Request is completed
2020-12-09 09:22:50,323 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502169.7293048-4784-11-8c2c5d87-4086-428e-9bd2-48d32d2ca42b.zip to download.zip (933.7K)
2020-12-09 09:22:50,516 INFO Download rate 4.7M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2020-12-09 09:22:50,620 INFO Welcome to the CDS
2020-12-09 09:22:50,621 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:50,676 INFO Request is queued

area - testing:  [0, 0, 0, 0]

2020-12-09 09:22:51,711 INFO Request is failed
2020-12-09 09:22:51,711 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:51,712 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-09 09:22:51,712 ERROR   Traceback (most recent call last):
2020-12-09 09:22:51,713 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:51,713 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:51,713 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:51,714 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:51,714 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:51,714 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:51,715 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:51,715 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:51,716 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:51,716 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:51,716 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-09 09:22:51,746 INFO Welcome to the CDS
2020-12-09 09:22:51,747 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:51,837 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [50, 20, 40, 0]

2020-12-09 09:22:52,871 INFO Request is failed
2020-12-09 09:22:52,872 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:52,872 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-09 09:22:52,872 ERROR   Traceback (most recent call last):
2020-12-09 09:22:52,873 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:52,873 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:52,874 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:52,874 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:52,875 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:52,875 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:52,875 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:52,876 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:52,877 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:52,877 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:52,877 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-09 09:22:52,907 INFO Welcome to the CDS
2020-12-09 09:22:52,907 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:52,964 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [48, -180, 49, 360]

2020-12-09 09:22:53,998 INFO Request is failed
2020-12-09 09:22:53,999 ERROR Message: an internal error occurred processing your request
2020-12-09 09:22:53,999 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-09 09:22:54,000 ERROR   Traceback (most recent call last):
2020-12-09 09:22:54,000 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:22:54,000 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:22:54,001 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:22:54,001 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:22:54,002 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:22:54,002 ERROR       return p(*args, **kwargs)
2020-12-09 09:22:54,002 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:22:54,003 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:22:54,003 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:22:54,004 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:22:54,004 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2020-12-09 09:22:54,035 INFO Welcome to the CDS
2020-12-09 09:22:54,035 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:22:54,091 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing: finished
country - testing:  GLOBE

2020-12-09 09:22:55,125 INFO Request is running
2020-12-09 09:23:07,456 INFO Request is completed
2020-12-09 09:23:07,457 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502183.486634-10098-18-2aa272af-e353-4414-92c0-80a304358b0e.zip to download.zip (49.7M)
2020-12-09 09:23:12,850 INFO Download rate 9.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-09 09:23:14,004 INFO Welcome to the CDS
2020-12-09 09:23:14,005 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:14,094 INFO Request is queued

country - testing:  ALL

2020-12-09 09:23:15,129 INFO Request is running
2020-12-09 09:23:27,461 INFO Request is completed
2020-12-09 09:23:27,461 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502203.72193-16021-14-ff2827a4-fc18-416d-9b83-ddc60164e65c.zip to download.zip (49.7M)
2020-12-09 09:23:29,151 INFO Download rate 29.4M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2020-12-09 09:23:29,951 INFO Welcome to the CDS
2020-12-09 09:23:29,952 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:30,009 INFO Request is queued

country - testing:  NOR

2020-12-09 09:23:32,576 INFO Request is completed
2020-12-09 09:23:32,577 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502212.4885383-10333-2-ddb2eda8-2b18-4c2e-89d0-94dd2ecc9915.zip to download.zip (250.5K)
2020-12-09 09:23:32,717 INFO Download rate 1.7M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    67.25  14.4    1500.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    2000.0  217.300003 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3000.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3800.0  216.699997 1978-10-01 00:00:00      20000012548
0    67.25  14.4    5000.0  218.100006 1978-10-01 00:00:00      20000012548
..     ...   ...       ...         ...                 ...              ...
0    67.25  14.4   85000.0  271.500000 1978-10-31 12:00:00      20000012609
0    67.25  14.4   86000.0  271.700012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   94000.0  276.200012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   98000.0  274.000000 1978-10-31 12:00:00      20000012609
0    67.25  14.4  100000.0  275.200012 1978-10-31 12:00:00      20000012609

[1734 rows x 6 columns]

2020-12-09 09:23:32,811 INFO Welcome to the CDS
2020-12-09 09:23:32,812 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:32,868 INFO Request is queued

country - testing:  ['NOR', 'DEU']

2020-12-09 09:23:33,900 INFO Request is completed
2020-12-09 09:23:33,901 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502213.4935212-10362-2-14652446-91ed-48a1-a9ce-68b3dfad8b20.zip to download.zip (862.5K)
2020-12-09 09:23:34,118 INFO Download rate 3.9M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    52.82  9.93    5000.0  218.699997 1978-10-02 06:00:00      20000006050
0    52.82  9.93    7000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   10000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   15000.0  218.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   19000.0  213.100006 1978-10-02 06:00:00      20000006050
..     ...   ...       ...         ...                 ...              ...
0    52.82  9.93   40000.0  243.899994 1978-10-31 12:00:00      20000006110
0    52.82  9.93   50000.0  255.699997 1978-10-31 12:00:00      20000006110
0    52.82  9.93   70000.0  273.200012 1978-10-31 12:00:00      20000006110
0    52.82  9.93   85000.0  273.799988 1978-10-31 12:00:00      20000006110
0    52.82  9.93  100000.0  283.399994 1978-10-31 12:00:00      20000006110

[683 rows x 6 columns]

2020-12-09 09:23:34,221 INFO Welcome to the CDS
2020-12-09 09:23:34,221 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:34,290 INFO Request is queued

country - testing:  NORWAY

2020-12-09 09:23:35,325 INFO Request is failed
2020-12-09 09:23:35,326 ERROR Message: an internal error occurred processing your request
2020-12-09 09:23:35,326 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2020-12-09 09:23:35,327 ERROR   Traceback (most recent call last):
2020-12-09 09:23:35,327 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:23:35,327 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:23:35,328 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:23:35,328 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:23:35,328 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:23:35,329 ERROR       return p(*args, **kwargs)
2020-12-09 09:23:35,330 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:23:35,330 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:23:35,330 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:23:35,331 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:23:35,331 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2020-12-09 09:23:35,361 INFO Welcome to the CDS
2020-12-09 09:23:35,361 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:35,430 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'.
country - testing:  nor

2020-12-09 09:23:36,463 INFO Request is failed
2020-12-09 09:23:36,464 ERROR Message: an internal error occurred processing your request
2020-12-09 09:23:36,464 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2020-12-09 09:23:36,465 ERROR   Traceback (most recent call last):
2020-12-09 09:23:36,465 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:23:36,465 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:23:36,466 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:23:36,466 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:23:36,466 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:23:36,467 ERROR       return p(*args, **kwargs)
2020-12-09 09:23:36,467 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:23:36,467 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:23:36,468 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:23:36,469 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:23:36,469 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2020-12-09 09:23:36,499 INFO Welcome to the CDS
2020-12-09 09:23:36,500 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:36,572 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'.
country - testing: finished
date - testing:  None

2020-12-09 09:23:37,606 INFO Request is running
2020-12-09 09:23:41,425 INFO Request is completed
2020-12-09 09:23:41,425 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502218.9644153-21471-10-4e68e834-f61d-42f1-8400-816153e2a873.zip to download.zip (40M)
2020-12-09 09:23:43,558 INFO Download rate 18.8M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-09 09:23:44,706 INFO Welcome to the CDS
2020-12-09 09:23:44,706 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:44,786 INFO Request is queued

date - testing:  20000231

2020-12-09 09:23:45,821 INFO Request is completed
2020-12-09 09:23:45,821 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502224.9988403-18690-1-75b17357-d4dd-41e1-a0d8-0a5bd947ae55.zip to download.zip (23.6K)
2020-12-09 09:23:45,880 INFO Download rate 401.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,570.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,650.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,680.0,228.500000,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,720.0,223.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,1000.0,220.699997,2000-02-29 00:00:00,10000030873
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-09 09:23:46,052 INFO Welcome to the CDS
2020-12-09 09:23:46,052 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:46,116 INFO Request is queued

date - testing:  20000101

2020-12-09 09:23:47,149 INFO Request is completed
2020-12-09 09:23:47,150 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502226.258492-25131-17-29049f6b-734e-437c-a70c-9f6282c22755.zip to download.zip (23.6K)
2020-12-09 09:23:47,209 INFO Download rate 402.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-09 09:23:47,298 INFO Welcome to the CDS
2020-12-09 09:23:47,298 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:47,363 INFO Request is queued

date - testing:  20000101-20000201

2020-12-09 09:23:48,396 INFO Request is completed
2020-12-09 09:23:48,397 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502227.503659-5782-17-a79fd644-851e-44db-b076-ba803733d66e.zip to download.zip (69.4K)
2020-12-09 09:23:48,591 INFO Download rate 357.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,90900.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,91400.0,281.600006,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,92500.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,95700.0,282.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,99100.0,285.600006,2000-02-01 12:00:00,10000030763

2020-12-09 09:23:48,681 INFO Welcome to the CDS
2020-12-09 09:23:48,682 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:48,743 INFO Request is queued

date - testing:  ['20000101', '20000103', '20000106']

2020-12-09 09:23:49,777 INFO Request is completed
2020-12-09 09:23:49,777 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502228.8994632-26434-15-90d43b57-4a4f-44f0-aa56-082ca1e6e7c5.zip to download.zip (31.6K)
2020-12-09 09:23:49,862 INFO Download rate 373K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,96100.0,272.299988,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,96800.0,272.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97600.0,271.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97900.0,270.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,98100.0,269.500000,2000-01-06 12:00:00,10000030658

2020-12-09 09:23:49,949 INFO Welcome to the CDS
2020-12-09 09:23:49,950 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:50,012 INFO Request is queued

date - testing:  ['20000102', '20000101']

2020-12-09 09:23:52,579 INFO Request is completed
2020-12-09 09:23:52,579 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502232.2019417-18816-1-053a157a-e701-490a-9c07-dc6a58d597ca.zip to download.zip (25.6K)
2020-12-09 09:23:52,638 INFO Download rate 435.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,94800.0,272.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,97800.0,273.600006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,98300.0,271.500000,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,99100.0,271.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,100000.0,271.700012,2000-01-02 12:00:00,10000030642

2020-12-09 09:23:52,725 INFO Welcome to the CDS
2020-12-09 09:23:52,726 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:52,788 INFO Request is queued

date - testing:  2000011

2020-12-09 09:23:53,821 INFO Request is failed
2020-12-09 09:23:53,821 ERROR Message: an internal error occurred processing your request
2020-12-09 09:23:53,821 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2020-12-09 09:23:53,822 ERROR   Traceback (most recent call last):
2020-12-09 09:23:53,822 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:23:53,823 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:23:53,823 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:23:53,823 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:23:53,824 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:23:53,824 ERROR       return p(*args, **kwargs)
2020-12-09 09:23:53,824 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:23:53,825 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:23:53,825 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:23:53,825 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:23:53,826 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2020-12-09 09:23:53,855 INFO Welcome to the CDS
2020-12-09 09:23:53,856 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:53,916 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'.
date - testing:  20000100

2020-12-09 09:23:54,949 INFO Request is failed
2020-12-09 09:23:54,949 ERROR Message: an internal error occurred processing your request
2020-12-09 09:23:54,949 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-09 09:23:54,950 ERROR   Traceback (most recent call last):
2020-12-09 09:23:54,950 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:23:54,950 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:23:54,951 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:23:54,951 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:23:54,951 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:23:54,952 ERROR       return p(*args, **kwargs)
2020-12-09 09:23:54,953 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:23:54,953 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:23:54,953 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:23:54,954 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:23:54,954 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-09 09:23:54,984 INFO Welcome to the CDS
2020-12-09 09:23:54,984 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:55,049 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
date - testing:  00000000

2020-12-09 09:23:56,083 INFO Request is failed
2020-12-09 09:23:56,083 ERROR Message: an internal error occurred processing your request
2020-12-09 09:23:56,084 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2020-12-09 09:23:56,084 ERROR   Traceback (most recent call last):
2020-12-09 09:23:56,084 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:23:56,085 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:23:56,085 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:23:56,085 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:23:56,086 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:23:56,086 ERROR       return p(*args, **kwargs)
2020-12-09 09:23:56,086 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:23:56,087 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:23:56,087 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:23:56,087 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:23:56,088 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2020-12-09 09:23:56,117 INFO Welcome to the CDS
2020-12-09 09:23:56,117 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:56,179 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'.
date - testing:  20000132

2020-12-09 09:23:57,213 INFO Request is failed
2020-12-09 09:23:57,214 ERROR Message: an internal error occurred processing your request
2020-12-09 09:23:57,214 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-09 09:23:57,214 ERROR   Traceback (most recent call last):
2020-12-09 09:23:57,215 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:23:57,215 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:23:57,216 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:23:57,216 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:23:57,216 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:23:57,217 ERROR       return p(*args, **kwargs)
2020-12-09 09:23:57,217 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:23:57,217 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:23:57,217 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:23:57,218 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:23:57,218 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-09 09:23:57,247 INFO Welcome to the CDS
2020-12-09 09:23:57,248 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:57,308 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
date - testing:  20001301

2020-12-09 09:23:58,342 INFO Request is failed
2020-12-09 09:23:58,342 ERROR Message: an internal error occurred processing your request
2020-12-09 09:23:58,343 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-09 09:23:58,343 ERROR   Traceback (most recent call last):
2020-12-09 09:23:58,343 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:23:58,344 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:23:58,344 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:23:58,344 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:23:58,345 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:23:58,345 ERROR       return p(*args, **kwargs)
2020-12-09 09:23:58,345 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:23:58,346 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:23:58,346 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:23:58,346 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:23:58,347 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-09 09:23:58,378 INFO Welcome to the CDS
2020-12-09 09:23:58,378 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:23:58,440 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
date - testing: finished
period - testing:  None

2020-12-09 09:23:59,474 INFO Request is running
2020-12-09 09:24:03,293 INFO Request is completed
2020-12-09 09:24:03,293 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502240.8185048-20741-17-85b4377b-0012-4e19-93c1-7df033906f70.zip to download.zip (40M)
2020-12-09 09:24:14,050 INFO Download rate 3.7M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-09 09:24:15,178 INFO Welcome to the CDS
2020-12-09 09:24:15,178 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:15,283 INFO Request is queued

period - testing:  1979-01-01/1980-08-16

2020-12-09 09:24:16,315 INFO Request is completed
2020-12-09 09:24:16,316 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502255.4564505-15999-15-01c25112-1a83-41b5-a44d-b8cb7a0aab04.zip to download.zip (517.4K)
2020-12-09 09:24:16,530 INFO Download rate 2.4M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.360001,1000.0,212.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1300.0,215.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1700.0,202.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2000.0,204.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2700.0,208.699997,1979-01-01 00:00:00,10000000001
...,...,...,...,...,...,...
0,48.25,16.370001,81800.0,282.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,85000.0,285.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,88200.0,288.200012,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,93000.0,290.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,98000.0,294.799988,1980-08-16 12:00:00,10000002339

2020-12-09 09:24:16,630 INFO Welcome to the CDS
2020-12-09 09:24:16,630 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:16,690 INFO Request is queued

period - testing:  1980-01-02/1980-01-01

2020-12-09 09:24:17,723 INFO Request is failed
2020-12-09 09:24:17,724 ERROR Message: an internal error occurred processing your request
2020-12-09 09:24:17,724 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Error: exception \\"No data in specified time interval\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'19800102\', \'19800101\']})"'
2020-12-09 09:24:17,724 ERROR   Traceback (most recent call last):
2020-12-09 09:24:17,725 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:24:17,725 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:24:17,726 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:24:17,726 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:24:17,726 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:24:17,727 ERROR       return p(*args, **kwargs)
2020-12-09 09:24:17,727 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:24:17,727 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:24:17,727 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:24:17,728 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:24:17,728 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Error: exception \\"No data in specified time interval\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'19800102\', \'19800101\']})"'
2020-12-09 09:24:17,757 INFO Welcome to the CDS
2020-12-09 09:24:17,757 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:17,818 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Error: exception \\"No data in specified time interval\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'19800102\', \'19800101\']})"'.
period - testing: finished
pressure_level - testing:  100

2020-12-09 09:24:18,851 INFO Request is completed
2020-12-09 09:24:18,851 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502257.9563003-5009-10-3193ec0a-92dc-4a96-9bfb-701089bbfd13.zip to download.zip (23.6K)
2020-12-09 09:24:18,908 INFO Download rate 412.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2020-12-09 09:24:18,992 INFO Welcome to the CDS
2020-12-09 09:24:18,992 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:19,052 INFO Request is queued

pressure_level - testing:  100

2020-12-09 09:24:20,086 INFO Request is completed
2020-12-09 09:24:20,087 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502259.1878452-5313-12-09377b00-c2c3-4f1f-902f-7f2d965dac9c.zip to download.zip (23.6K)
2020-12-09 09:24:20,145 INFO Download rate 407.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2020-12-09 09:24:20,228 INFO Welcome to the CDS
2020-12-09 09:24:20,229 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:20,289 INFO Request is queued

pressure_level - testing:  [100, 200]

2020-12-09 09:24:21,323 INFO Request is completed
2020-12-09 09:24:21,324 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502260.577596-5031-4-64565dc4-3ee0-4f1f-b043-7d6cf84a4065.zip to download.zip (23.6K)
2020-12-09 09:24:21,381 INFO Download rate 418.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2020-12-09 09:24:21,467 INFO Welcome to the CDS
2020-12-09 09:24:21,467 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:21,541 INFO Request is queued

pressure_level - testing:  ['100', '200']

2020-12-09 09:24:22,574 INFO Request is completed
2020-12-09 09:24:22,575 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502261.8342974-7230-4-5fbb6e5d-3e15-4d7c-be29-a09ef5a40bd2.zip to download.zip (23.6K)
2020-12-09 09:24:22,632 INFO Download rate 415K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2020-12-09 09:24:22,716 INFO Welcome to the CDS
2020-12-09 09:24:22,716 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:22,780 INFO Request is queued

pressure_level - testing:  0

2020-12-09 09:24:23,814 INFO Request is failed
2020-12-09 09:24:23,815 ERROR Message: an internal error occurred processing your request
2020-12-09 09:24:23,815 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2020-12-09 09:24:23,816 ERROR   Traceback (most recent call last):
2020-12-09 09:24:23,816 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:24:23,816 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:24:23,817 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:24:23,817 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:24:23,818 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:24:23,818 ERROR       return p(*args, **kwargs)
2020-12-09 09:24:23,818 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:24:23,819 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:24:23,819 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:24:23,819 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:24:23,820 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2020-12-09 09:24:23,849 INFO Welcome to the CDS
2020-12-09 09:24:23,849 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:23,910 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'.
pressure_level - testing:  2000

2020-12-09 09:24:24,944 INFO Request is failed
2020-12-09 09:24:24,945 ERROR Message: an internal error occurred processing your request
2020-12-09 09:24:24,945 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2020-12-09 09:24:24,945 ERROR   Traceback (most recent call last):
2020-12-09 09:24:24,945 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:24:24,946 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:24:24,946 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:24:24,946 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:24:24,947 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:24:24,947 ERROR       return p(*args, **kwargs)
2020-12-09 09:24:24,947 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:24:24,947 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:24:24,948 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:24:24,948 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:24:24,948 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2020-12-09 09:24:24,978 INFO Welcome to the CDS
2020-12-09 09:24:24,978 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:25,038 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'.
pressure_level - testing: finished
time - testing:  [22, 23, 0, 1, 2, 3]

2020-12-09 09:24:26,071 INFO Request is completed
2020-12-09 09:24:26,072 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502265.1789846-15015-12-e6ff055b-1f9d-4b71-b6ca-361bd1735b0a.zip to download.zip (43.3K)
2020-12-09 09:24:26,155 INFO Download rate 524.3K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2020-12-09 09:24:26,244 INFO Welcome to the CDS
2020-12-09 09:24:26,244 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:26,308 INFO Request is queued

time - testing:  ['22', '23', '00', '01', '02', '03']

2020-12-09 09:24:27,342 INFO Request is completed
2020-12-09 09:24:27,343 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502266.4489-4915-8-75efff19-2c96-4b88-8817-df98a5c6f8d2.zip to download.zip (43.3K)
2020-12-09 09:24:27,425 INFO Download rate 526.1K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2020-12-09 09:24:27,515 INFO Welcome to the CDS
2020-12-09 09:24:27,516 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:27,577 INFO Request is queued

time - testing:

2020-12-09 09:24:28,612 INFO Request is completed
2020-12-09 09:24:28,612 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502267.8509967-4929-8-4a3b3b50-f143-4d1a-aa41-8fce49a6758a.zip to download.zip (67.9K)
2020-12-09 09:24:28,695 INFO Download rate 825.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-09 09:24:28,785 INFO Welcome to the CDS
2020-12-09 09:24:28,786 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:28,848 INFO Request is queued

time - testing:  0

2020-12-09 09:24:29,881 INFO Request is completed
2020-12-09 09:24:29,881 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502269.155539-32657-1-af82b75c-5967-4bee-8252-0bd62ce48596.zip to download.zip (44.1K)
2020-12-09 09:24:29,965 INFO Download rate 528.2K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-09 09:24:30,052 INFO Welcome to the CDS
2020-12-09 09:24:30,052 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:30,114 INFO Request is queued

time - testing:  00

2020-12-09 09:24:31,148 INFO Request is completed
2020-12-09 09:24:31,148 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502270.2481978-867-9-eb2ddb27-2b84-4e0b-af39-055fcef5b71c.zip to download.zip (44.1K)
2020-12-09 09:24:31,233 INFO Download rate 521.3K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-09 09:24:31,322 INFO Welcome to the CDS
2020-12-09 09:24:31,323 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:31,383 INFO Request is queued

time - testing:  ['00']

2020-12-09 09:24:32,417 INFO Request is completed
2020-12-09 09:24:32,418 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502271.5341184-6360-11-b5a33b19-4fe5-4b21-8a55-fb338cb736f4.zip to download.zip (44.1K)
2020-12-09 09:24:32,502 INFO Download rate 524K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2020-12-09 09:24:32,592 INFO Welcome to the CDS
2020-12-09 09:24:32,593 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:32,655 INFO Request is queued

time - testing:  [0, 12]

2020-12-09 09:24:33,689 INFO Request is completed
2020-12-09 09:24:33,690 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502272.7923908-2561-10-97aa65e4-db1f-4cb9-99b1-fbb6b43ea7ae.zip to download.zip (65.7K)
2020-12-09 09:24:33,774 INFO Download rate 783.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-09 09:24:33,864 INFO Welcome to the CDS
2020-12-09 09:24:33,865 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:33,932 INFO Request is queued

time - testing:  ['0', '12']

2020-12-09 09:24:34,966 INFO Request is completed
2020-12-09 09:24:34,967 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502274.0707364-26242-13-0529b3ba-6c5b-4d49-aa02-d15b16cd24f1.zip to download.zip (65.7K)
2020-12-09 09:24:35,055 INFO Download rate 749.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-09 09:24:35,228 INFO Welcome to the CDS
2020-12-09 09:24:35,228 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:35,290 INFO Request is queued

time - testing:  24

2020-12-09 09:24:36,324 INFO Request is failed
2020-12-09 09:24:36,325 ERROR Message: an internal error occurred processing your request
2020-12-09 09:24:36,325 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2020-12-09 09:24:36,325 ERROR   Traceback (most recent call last):
2020-12-09 09:24:36,325 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:24:36,326 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:24:36,326 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:24:36,326 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:24:36,326 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:24:36,327 ERROR       return p(*args, **kwargs)
2020-12-09 09:24:36,327 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:24:36,327 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:24:36,328 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:24:36,328 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:24:36,328 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2020-12-09 09:24:36,357 INFO Welcome to the CDS
2020-12-09 09:24:36,358 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:36,424 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'.
time - testing:  25

2020-12-09 09:24:37,457 INFO Request is failed
2020-12-09 09:24:37,458 ERROR Message: an internal error occurred processing your request
2020-12-09 09:24:37,458 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2020-12-09 09:24:37,458 ERROR   Traceback (most recent call last):
2020-12-09 09:24:37,458 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:24:37,459 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:24:37,459 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:24:37,459 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:24:37,459 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:24:37,460 ERROR       return p(*args, **kwargs)
2020-12-09 09:24:37,460 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:24:37,460 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:24:37,461 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:24:37,461 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:24:37,461 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2020-12-09 09:24:37,490 INFO Welcome to the CDS
2020-12-09 09:24:37,491 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:37,552 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'.
time - testing:  12.5

2020-12-09 09:24:38,585 INFO Request is failed
2020-12-09 09:24:38,585 ERROR Message: an internal error occurred processing your request
2020-12-09 09:24:38,585 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2020-12-09 09:24:38,586 ERROR   Traceback (most recent call last):
2020-12-09 09:24:38,586 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:24:38,586 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:24:38,587 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:24:38,587 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:24:38,587 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:24:38,587 ERROR       return p(*args, **kwargs)
2020-12-09 09:24:38,588 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:24:38,588 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:24:38,588 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:24:38,588 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:24:38,589 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2020-12-09 09:24:38,618 INFO Welcome to the CDS
2020-12-09 09:24:38,618 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:38,680 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'.
time - testing: finished
format - testing:  None

2020-12-09 09:24:39,714 INFO Request is completed
2020-12-09 09:24:39,714 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502278.8155367-9890-5-bc3600a1-feba-40d8-b0c3-ff089adabd06.zip to download.zip (67.9K)
2020-12-09 09:24:39,797 INFO Download rate 821.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-09 09:24:39,889 INFO Welcome to the CDS
2020-12-09 09:24:39,889 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:39,950 INFO Request is queued

format - testing:  csv

2020-12-09 09:24:40,983 INFO Request is completed
2020-12-09 09:24:40,983 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502280.6368027-28415-13-5e6152d9-cadc-43d5-adff-deaac654b637.zip to download.zip (29.1K)
2020-12-09 09:24:41,041 INFO Download rate 508.3K/s

,obs_id,lat,lon,plev,ta,time,trajectory_label,statid,statindex
0,0,48.2500,16.3700,640.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
1,1,48.2500,16.3700,700.0,223.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
2,2,48.2500,16.3700,790.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
3,3,48.2500,16.3700,880.0,220.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
4,4,48.2500,16.3700,1000.0,224.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
...,...,...,...,...,...,...,...,...,...
3850,3850,48.2486,16.3564,85000.0,263.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3851,3851,48.2486,16.3564,92500.0,268.05,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3852,3852,48.2486,16.3564,93100.0,268.25,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3853,3853,48.2486,16.3564,98000.0,272.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3854,3854,48.2486,16.3564,98700.0,274.15,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0

2020-12-09 09:24:41,127 INFO Welcome to the CDS
2020-12-09 09:24:41,127 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:41,186 INFO Request is queued

format - testing:  nc

2020-12-09 09:24:42,220 INFO Request is completed
2020-12-09 09:24:42,220 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502281.3214507-10291-5-82b557fb-6058-4f0c-9f33-797873a60693.zip to download.zip (67.9K)
2020-12-09 09:24:42,306 INFO Download rate 811.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2020-12-09 09:24:42,397 INFO Welcome to the CDS
2020-12-09 09:24:42,397 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:42,459 INFO Request is queued

format - testing:  netcdf

2020-12-09 09:24:43,493 INFO Request is failed
2020-12-09 09:24:43,493 ERROR Message: an internal error occurred processing your request
2020-12-09 09:24:43,494 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2020-12-09 09:24:43,494 ERROR   Traceback (most recent call last):
2020-12-09 09:24:43,495 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:24:43,495 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:24:43,495 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:24:43,496 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:24:43,496 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:24:43,496 ERROR       return p(*args, **kwargs)
2020-12-09 09:24:43,497 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:24:43,497 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:24:43,497 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:24:43,497 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:24:43,498 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2020-12-09 09:24:43,527 INFO Welcome to the CDS
2020-12-09 09:24:43,527 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:43,592 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'.
format - testing:  csb

2020-12-09 09:24:44,626 INFO Request is failed
2020-12-09 09:24:44,627 ERROR Message: an internal error occurred processing your request
2020-12-09 09:24:44,627 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2020-12-09 09:24:44,627 ERROR   Traceback (most recent call last):
2020-12-09 09:24:44,628 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:24:44,628 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:24:44,628 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:24:44,629 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:24:44,629 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:24:44,629 ERROR       return p(*args, **kwargs)
2020-12-09 09:24:44,629 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:24:44,630 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:24:44,630 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:24:44,630 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:24:44,631 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2020-12-09 09:24:44,661 INFO Welcome to the CDS
2020-12-09 09:24:44,661 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:44,723 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'.
format - testing:  txt

2020-12-09 09:24:45,756 INFO Request is failed
2020-12-09 09:24:45,757 ERROR Message: an internal error occurred processing your request
2020-12-09 09:24:45,757 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2020-12-09 09:24:45,758 ERROR   Traceback (most recent call last):
2020-12-09 09:24:45,758 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:24:45,758 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:24:45,759 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:24:45,759 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:24:45,759 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:24:45,759 ERROR       return p(*args, **kwargs)
2020-12-09 09:24:45,760 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:24:45,760 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:24:45,760 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:24:45,761 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:24:45,761 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2020-12-09 09:24:45,792 INFO Welcome to the CDS
2020-12-09 09:24:45,792 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:45,854 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'.
format - testing: finished
y - testing:  None

2020-12-09 09:24:46,888 INFO Request is running
2020-12-09 09:24:50,708 INFO Request is completed
2020-12-09 09:24:50,708 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502288.2097483-4839-8-03ecc5ba-f1b7-4d75-ac1e-58aa174c20a9.zip to download.zip (40M)
2020-12-09 09:24:58,576 INFO Download rate 5.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-09 09:24:59,737 INFO Welcome to the CDS
2020-12-09 09:24:59,737 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:24:59,798 INFO Request is queued

y - testing:  2000

2020-12-09 09:25:00,832 INFO Request is completed
2020-12-09 09:25:00,833 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502299.9294884-10780-18-b137613e-51ee-47c0-997d-63fbcc3cc810.zip to download.zip (23.6K)
2020-12-09 09:25:00,891 INFO Download rate 402.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-09 09:25:00,980 INFO Welcome to the CDS
2020-12-09 09:25:00,980 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:01,040 INFO Request is queued

y - testing:  2000

2020-12-09 09:25:02,075 INFO Request is completed
2020-12-09 09:25:02,075 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502301.3716886-9041-4-4a7585b1-1c6e-4f3e-b011-48b2151a6054.zip to download.zip (23.6K)
2020-12-09 09:25:02,135 INFO Download rate 398.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-09 09:25:02,226 INFO Welcome to the CDS
2020-12-09 09:25:02,226 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:02,293 INFO Request is queued

y - testing:  ['2000', '2001']

2020-12-09 09:25:03,327 INFO Request is completed
2020-12-09 09:25:03,328 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502302.484151-15891-16-1e642617-2621-4255-8ff8-22f40632f9b5.zip to download.zip (596.5K)
2020-12-09 09:25:03,520 INFO Download rate 3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2020-12-09 09:25:03,623 INFO Welcome to the CDS
2020-12-09 09:25:03,623 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:03,687 INFO Request is queued

y - testing:  [2000, 2001]

2020-12-09 09:25:04,720 INFO Request is completed
2020-12-09 09:25:04,721 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502304.068042-6353-6-827fd020-973a-408a-881a-40f887acac30.zip to download.zip (596.5K)
2020-12-09 09:25:04,886 INFO Download rate 3.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2020-12-09 09:25:04,993 INFO Welcome to the CDS
2020-12-09 09:25:04,994 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:05,055 INFO Request is queued

y - testing:  0

2020-12-09 09:25:06,089 INFO Request is failed
2020-12-09 09:25:06,089 ERROR Message: an internal error occurred processing your request
2020-12-09 09:25:06,090 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2020-12-09 09:25:06,090 ERROR   Traceback (most recent call last):
2020-12-09 09:25:06,090 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:25:06,091 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:25:06,091 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:25:06,091 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:25:06,092 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:25:06,092 ERROR       return p(*args, **kwargs)
2020-12-09 09:25:06,092 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:25:06,093 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:25:06,093 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:25:06,094 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:25:06,094 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2020-12-09 09:25:06,125 INFO Welcome to the CDS
2020-12-09 09:25:06,125 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:06,185 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'.
y - testing:  20000

2020-12-09 09:25:07,219 INFO Request is failed
2020-12-09 09:25:07,220 ERROR Message: an internal error occurred processing your request
2020-12-09 09:25:07,220 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2020-12-09 09:25:07,221 ERROR   Traceback (most recent call last):
2020-12-09 09:25:07,221 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:25:07,221 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:25:07,222 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:25:07,222 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:25:07,222 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:25:07,223 ERROR       return p(*args, **kwargs)
2020-12-09 09:25:07,223 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:25:07,223 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:25:07,224 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:25:07,224 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:25:07,224 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2020-12-09 09:25:07,254 INFO Welcome to the CDS
2020-12-09 09:25:07,254 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:07,330 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'.
y - testing:  -2000

2020-12-09 09:25:08,364 INFO Request is failed
2020-12-09 09:25:08,365 ERROR Message: an internal error occurred processing your request
2020-12-09 09:25:08,365 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2020-12-09 09:25:08,365 ERROR   Traceback (most recent call last):
2020-12-09 09:25:08,366 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:25:08,366 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:25:08,366 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:25:08,367 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:25:08,367 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:25:08,367 ERROR       return p(*args, **kwargs)
2020-12-09 09:25:08,368 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:25:08,368 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:25:08,368 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:25:08,369 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:25:08,369 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2020-12-09 09:25:08,398 INFO Welcome to the CDS
2020-12-09 09:25:08,399 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:08,460 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'.
m - testing:  None

2020-12-09 09:25:09,493 INFO Request is completed
2020-12-09 09:25:09,494 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502308.6298354-9158-3-74969b41-4e99-453d-ba2a-a17635e033e3.zip to download.zip (547.1K)
2020-12-09 09:25:09,682 INFO Download rate 2.8M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84900.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85000.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85200.0,264.700012,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,92500.0,270.500000,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,97400.0,273.600006,2000-12-31 12:00:00,10000032099

2020-12-09 09:25:09,785 INFO Welcome to the CDS
2020-12-09 09:25:09,785 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:09,850 INFO Request is queued

m - testing:  1

2020-12-09 09:25:10,884 INFO Request is completed
2020-12-09 09:25:10,885 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502309.9925559-9160-3-e138d142-288c-4d7b-8060-3c4fcce61d7f.zip to download.zip (23.6K)
2020-12-09 09:25:10,943 INFO Download rate 408.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-09 09:25:11,032 INFO Welcome to the CDS
2020-12-09 09:25:11,033 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:11,093 INFO Request is queued

m - testing:  1

2020-12-09 09:25:12,129 INFO Request is completed
2020-12-09 09:25:12,130 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502311.3898911-9162-2-e4436a54-8dd8-473e-a524-935b3fda8fed.zip to download.zip (23.6K)
2020-12-09 09:25:12,188 INFO Download rate 403.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-09 09:25:12,278 INFO Welcome to the CDS
2020-12-09 09:25:12,278 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:12,387 INFO Request is completed
2020-12-09 09:25:12,387 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502301.3716886-9041-4-4a7585b1-1c6e-4f3e-b011-48b2151a6054.zip to download.zip (23.6K)
2020-12-09 09:25:12,445 INFO Download rate 411.7K/s

m - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-09 09:25:12,536 INFO Welcome to the CDS
2020-12-09 09:25:12,537 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:12,598 INFO Request is queued

m - testing:  ['01', '02']

2020-12-09 09:25:13,632 INFO Request is completed
2020-12-09 09:25:13,632 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502312.736677-12356-13-a38a731d-9597-49c8-9f8e-efa1c7edf4e9.zip to download.zip (110.7K)
2020-12-09 09:25:13,744 INFO Download rate 993.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-09 09:25:13,838 INFO Welcome to the CDS
2020-12-09 09:25:13,839 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:13,899 INFO Request is queued

m - testing:  ['1', '2']

2020-12-09 09:25:14,933 INFO Request is completed
2020-12-09 09:25:14,934 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502314.0424223-20954-15-2b0ac8e1-cd5f-4f02-aff3-240dbb8a3a1e.zip to download.zip (110.7K)
2020-12-09 09:25:15,045 INFO Download rate 996.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-09 09:25:15,135 INFO Welcome to the CDS
2020-12-09 09:25:15,136 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:15,197 INFO Request is queued

m - testing:  [1, 2]

2020-12-09 09:25:16,231 INFO Request is completed
2020-12-09 09:25:16,231 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502315.3443391-1665-3-783e5026-ec8d-4b2b-be74-89a829d10849.zip to download.zip (110.7K)
2020-12-09 09:25:16,343 INFO Download rate 995.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2020-12-09 09:25:16,431 INFO Welcome to the CDS
2020-12-09 09:25:16,431 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:16,497 INFO Request is queued

m - testing:  00

2020-12-09 09:25:17,530 INFO Request is failed
2020-12-09 09:25:17,531 ERROR Message: an internal error occurred processing your request
2020-12-09 09:25:17,531 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-09 09:25:17,532 ERROR   Traceback (most recent call last):
2020-12-09 09:25:17,532 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:25:17,532 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:25:17,533 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:25:17,533 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:25:17,533 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:25:17,534 ERROR       return p(*args, **kwargs)
2020-12-09 09:25:17,534 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:25:17,534 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:25:17,534 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:25:17,535 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:25:17,535 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-09 09:25:17,565 INFO Welcome to the CDS
2020-12-09 09:25:17,565 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:17,623 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  0

2020-12-09 09:25:18,657 INFO Request is failed
2020-12-09 09:25:18,658 ERROR Message: an internal error occurred processing your request
2020-12-09 09:25:18,658 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-09 09:25:18,659 ERROR   Traceback (most recent call last):
2020-12-09 09:25:18,660 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:25:18,660 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:25:18,661 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:25:18,661 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:25:18,662 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:25:18,663 ERROR       return p(*args, **kwargs)
2020-12-09 09:25:18,663 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:25:18,664 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:25:18,664 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:25:18,665 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:25:18,665 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2020-12-09 09:25:18,695 INFO Welcome to the CDS
2020-12-09 09:25:18,695 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:18,755 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  13

2020-12-09 09:25:19,789 INFO Request is failed
2020-12-09 09:25:19,790 ERROR Message: an internal error occurred processing your request
2020-12-09 09:25:19,790 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-09 09:25:19,791 ERROR   Traceback (most recent call last):
2020-12-09 09:25:19,791 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:25:19,792 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:25:19,792 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:25:19,793 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:25:19,793 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:25:19,794 ERROR       return p(*args, **kwargs)
2020-12-09 09:25:19,794 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:25:19,795 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:25:19,795 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:25:19,796 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:25:19,798 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2020-12-09 09:25:19,827 INFO Welcome to the CDS
2020-12-09 09:25:19,827 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:19,912 INFO Request is completed
2020-12-09 09:25:19,913 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502301.3716886-9041-4-4a7585b1-1c6e-4f3e-b011-48b2151a6054.zip to download.zip (23.6K)
2020-12-09 09:25:19,969 INFO Download rate 419.4K/s

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
d - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2020-12-09 09:25:20,175 INFO Welcome to the CDS
2020-12-09 09:25:20,175 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

d - testing:  31

2020-12-09 09:25:20,237 INFO Request is queued
2020-12-09 09:25:21,270 INFO Request is completed
2020-12-09 09:25:21,270 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502320.3699303-31520-7-58949bc2-80f7-4358-8b63-cc2588f24576.zip to download.zip (23.6K)
2020-12-09 09:25:21,328 INFO Download rate 409.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,2870.0,203.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3000.0,202.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3750.0,205.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4020.0,201.699997,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4600.0,208.500000,2000-01-31 00:00:00,10000030757
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-09 09:25:21,415 INFO Welcome to the CDS
2020-12-09 09:25:21,416 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:21,476 INFO Request is queued

d - testing:  ['01', '02']

2020-12-09 09:25:22,509 INFO Request is completed
2020-12-09 09:25:22,510 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502321.61275-32649-7-79a40440-cb8c-4735-91cb-92e2dad4765d.zip to download.zip (68.1K)
2020-12-09 09:25:22,595 INFO Download rate 806.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-09 09:25:22,685 INFO Welcome to the CDS
2020-12-09 09:25:22,686 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:22,747 INFO Request is queued

d - testing:  ['1', '2']

2020-12-09 09:25:23,781 INFO Request is completed
2020-12-09 09:25:23,781 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502322.8885286-7658-21-be63fca8-90fe-427f-9d86-95795414cf1d.zip to download.zip (68.1K)
2020-12-09 09:25:23,865 INFO Download rate 819.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-09 09:25:23,954 INFO Welcome to the CDS
2020-12-09 09:25:23,954 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:24,015 INFO Request is queued

d - testing:  [1, 2]

2020-12-09 09:25:26,584 INFO Request is completed
2020-12-09 09:25:26,585 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502326.1455705-1476-8-0fed69d6-ee8c-4d58-9290-c06819b3b1c0.zip to download.zip (68.1K)
2020-12-09 09:25:26,669 INFO Download rate 812.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2020-12-09 09:25:26,760 INFO Welcome to the CDS
2020-12-09 09:25:26,760 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:26,826 INFO Request is queued

d - testing:  00

2020-12-09 09:25:27,861 INFO Request is failed
2020-12-09 09:25:27,861 ERROR Message: an internal error occurred processing your request
2020-12-09 09:25:27,861 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-09 09:25:27,862 ERROR   Traceback (most recent call last):
2020-12-09 09:25:27,862 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:25:27,862 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:25:27,863 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:25:27,863 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:25:27,863 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:25:27,864 ERROR       return p(*args, **kwargs)
2020-12-09 09:25:27,864 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:25:27,864 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:25:27,865 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:25:27,865 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:25:27,865 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-09 09:25:27,895 INFO Welcome to the CDS
2020-12-09 09:25:27,895 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:27,955 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  0

2020-12-09 09:25:28,989 INFO Request is failed
2020-12-09 09:25:28,990 ERROR Message: an internal error occurred processing your request
2020-12-09 09:25:28,990 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-09 09:25:28,990 ERROR   Traceback (most recent call last):
2020-12-09 09:25:28,991 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:25:28,991 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:25:28,991 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:25:28,992 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:25:28,992 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:25:28,992 ERROR       return p(*args, **kwargs)
2020-12-09 09:25:28,993 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:25:28,993 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:25:28,993 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:25:28,994 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:25:28,994 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2020-12-09 09:25:29,025 INFO Welcome to the CDS
2020-12-09 09:25:29,025 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:29,092 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  32

2020-12-09 09:25:30,126 INFO Request is failed
2020-12-09 09:25:30,127 ERROR Message: an internal error occurred processing your request
2020-12-09 09:25:30,127 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-09 09:25:30,127 ERROR   Traceback (most recent call last):
2020-12-09 09:25:30,128 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:25:30,128 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:25:30,128 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:25:30,129 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:25:30,129 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:25:30,129 ERROR       return p(*args, **kwargs)
2020-12-09 09:25:30,130 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:25:30,130 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:25:30,130 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:25:30,131 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:25:30,131 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2020-12-09 09:25:30,161 INFO Welcome to the CDS
2020-12-09 09:25:30,162 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:30,232 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
ymd - testing: finished
size - testing:  air_temperature 11035

2020-12-09 09:25:31,267 INFO Request is running
2020-12-09 09:25:32,801 INFO Request is completed
2020-12-09 09:25:32,801 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502332.443835-3328-19-7d8e3fd8-c4f9-4163-9381-5e9a75dd4e0d.zip to download.zip (40M)
2020-12-09 09:25:42,429 INFO Download rate 4.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2020-12-09 09:25:43,581 INFO Welcome to the CDS
2020-12-09 09:25:43,581 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:25:43,641 INFO Request is queued

size - testing:  air_temperature 10393

2020-12-09 09:25:44,674 INFO Request is running
2020-12-09 09:26:16,074 INFO Request is completed
2020-12-09 09:26:16,075 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1607502362.6031892-4936-7-95c6b8b2-e1d6-42d9-981c-7e1faa65d20a.zip to download.zip (321.3M)
2020-12-09 09:26:47,269 INFO Download rate 10.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,52.216702,14.11670,20000.0,211.350006,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,25000.0,220.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,30000.0,228.449997,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,40000.0,241.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,50000.0,254.850006,1905-04-04 06:00:00,30000000001
...,...,...,...,...,...,...
0,52.209301,14.12041,101330.0,278.450012,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101400.0,278.369995,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101450.0,278.309998,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101510.0,278.250000,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101600.0,278.290009,2019-12-31 16:45:10,10000041139

2020-12-09 09:26:55,754 INFO Welcome to the CDS
2020-12-09 09:26:55,754 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

size - testing:  air_temperature 1 month all stations

2020-12-09 09:26:55,966 INFO Request is queued
2020-12-09 09:26:57,000 INFO Request is running
2020-12-09 09:27:04,229 INFO Request is completed
2020-12-09 09:27:04,229 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1607502422.8804083-1491-7-729089c3-a5b4-4775-9826-913ee9422ab8.zip to download.zip (39.8M)
2020-12-09 09:27:09,137 INFO Download rate 8.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,47.461399,-111.384697,960.0,213.350006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1000.0,212.949997,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1080.0,210.850006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1130.0,211.149994,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1390.0,216.449997,2010-01-01 00:00:00,30000055381
...,...,...,...,...,...,...
0,47.461399,-111.384697,83250.0,271.450012,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85000.0,271.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85900.0,268.250000,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,87600.0,265.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,88150.0,264.549988,2010-02-01 12:00:00,30000055444

2020-12-09 09:27:09,714 INFO Welcome to the CDS
2020-12-09 09:27:09,714 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:27:09,773 INFO Request is queued

size - testing:  air_temperature everything

2020-12-09 09:27:10,806 INFO Request is failed
2020-12-09 09:27:10,807 ERROR Message: an internal error occurred processing your request
2020-12-09 09:27:10,807 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-09 09:27:10,807 ERROR   Traceback (most recent call last):
2020-12-09 09:27:10,807 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:27:10,808 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:27:10,808 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:27:10,808 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:27:10,809 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:27:10,809 ERROR       return p(*args, **kwargs)
2020-12-09 09:27:10,809 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:27:10,809 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:27:10,810 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:27:10,810 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:27:10,810 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-09 09:27:10,839 INFO Welcome to the CDS
2020-12-09 09:27:10,839 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2020-12-09 09:27:10,895 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing:  all variables 1 month all stations

2020-12-09 09:27:11,928 INFO Request is failed
2020-12-09 09:27:11,928 ERROR Message: an internal error occurred processing your request
2020-12-09 09:27:11,929 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2020-12-09 09:27:11,929 ERROR   Traceback (most recent call last):
2020-12-09 09:27:11,929 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2020-12-09 09:27:11,930 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2020-12-09 09:27:11,930 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2020-12-09 09:27:11,930 ERROR       result = proc(context, *context.args, **context.kwargs)
2020-12-09 09:27:11,930 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2020-12-09 09:27:11,931 ERROR       return p(*args, **kwargs)
2020-12-09 09:27:11,931 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2020-12-09 09:27:11,931 ERROR       return self.proc(context, *args, **kwargs)
2020-12-09 09:27:11,931 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2020-12-09 09:27:11,932 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2020-12-09 09:27:11,932 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing: finished