In [1]:
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
from datetime import date
warnings.filterwarnings('ignore')

In [2]:
def request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test/')
    z.close()
    
    files = glob.glob('./test/*.nc')
    if len(files) > 0:
        ds = xarray.open_dataset(files[0])            
        to_be_removed = ['trajectory_index', 'trajectory']
        for ivar in list(ds.variables):
            if 'string' in ivar:
                to_be_removed.append(ivar)
            
            if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
                report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???
                
            if ds[ivar].ndim > 1:
                tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                idim = tmp.dims[0]
                ds[ivar] = (idim, tmp)

        ds = ds.drop_vars(to_be_removed)
        data = ds.to_dataframe()
    else:
        files = glob.glob('./test/*.csv')
        data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test/')
    except:
       print('Error while deleting directory')
    
    return data

In [3]:
def test_statid():
    log = []
    log.append('\n\n---STATID---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'all', 11035, '11035', '0-20000-0-11035', '0-20100-0-00701','11*', '1103*', '0-20100*', ['11035', 10393], ['0-20000-0-11035', '0-20000-0-10393']]:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['110350', '1103', '0-20000-0-1103', '0-20000-0-110350']:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        }
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('statid - testing: finished')
    return log

In [4]:
def test_variable():
    log = []
    log.append('\n\n---VARIABLE---')
    cachworkaround = np.random.random_sample()
    for s in ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['temperature', 'dew_point', 'wind', 'humidity', 'sonde_type']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('variable - testing: finished')
    return log

In [5]:
def test_optional():
    log = []
    log.append('\n\n---OPTIONAL---')
    cachworkaround = np.random.random_sample()
    for s in ['sonde_type', 'bias_estimate', 'obs_minus_an', 'obs_minus_bg']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ ' - ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['sonde', 'air_temperature', 'dew_point_temperature']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [6]:
def test_area():
    log = []
    log.append('\n\n---AREA---')
    cachworkaround = np.random.random_sample()
    for s in [[80,140,-40,359], [50,0,40,20], [49,-180,48,180], [49,0,48,360], [90, -180, -90, 180]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [[80,140,70], [80,140,70,150,0],[0,0,0,0], [40,20,50,0], [49,-180,48,360]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('area - testing: finished')
    return log

In [7]:
def test_country():
    log = []
    log.append('\n\n---COUNTRY---')
    cachworkaround = np.random.random_sample()
    for s in ['GLOBE', 'ALL', 'NOR', ["NOR","DEU"]]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['NORWAY', 'nor',]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('country - testing: finished')
    return log

In [8]:
def test_date(): 
    log = []
    log.append('\n\n---DATE---')
    cachworkaround = np.random.random_sample()
    for s in [None, '20000231', '20000101', '20000101-20000201', ['20000101', '20000103', '20000106'], ['20000102', '20000101']]:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['2000011', '20000100', '00000000', '20000132', '20001301', '20000201-20000101', '20000101/20000201']:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('date - testing: finished')
    return log

In [9]:
def test_period(): 
    log = []
    log.append('\n\n---PERIOD---')
    # not working: ['1979-01-01/1980-08-16']
    cachworkaround = np.random.random_sample()
    for s in [None, '1979-01-01/1980-08-16']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['1980-01-02/1980-01-01']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('period - testing: finished')
    return log

In [10]:
def test_pressure_level():
    log = []
    log.append('\n\n---PRESSURE LEVEL---')
    cachworkaround = np.random.random_sample()
    for s in [100, '100', [100, 200], ['100', '200']]:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    for s in ['0', '2000']:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    print('pressure_level - testing: finished')
    return log

In [11]:
def test_time():
    log = []
    log.append('\n\n---TIME---')
    cachworkaround = np.random.random_sample()
    for s in [[22,23,0,1,2,3], ["22","23","00","01","02","03"], '', '0', '00', ["00"], [0,12], ["0","12"]]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['24', '25', '12.5', ]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('time - testing: finished')
    return log

In [12]:
def test_format():
    log = []
    log.append('\n\n---FORMAT---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'csv', 'nc']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['netcdf', 'csb', 'txt']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('format - testing: finished')
    return log

In [13]:
def test_ymd():
    log = []
    # if one of them is None -> no date selected = the whole dataset - change?
    cachworkaround = np.random.random_sample()
    log.append('\n\n---YEAR---')
    for s in [None, 2000, '2000', ['2000', '2001'], [2000, 2001]]:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [0, '20000', '-2000']:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---MONTH---')
    for s in [None, 1, '1', '01', ['01', '02'], ['1', '2'], [1, 2]]:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '13']:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---DAY---')
    for s in ['01', '31', ['01', '02'], ['1', '2'], [1, 2]]:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '32']:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('ymd - testing: finished')
    return log

In [14]:
def test_size():
    log = []
    log.append('\n\n---SIZE---')
    cachworkaround = np.random.random_sample()
    s = 'air_temperature 11035'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'air_temperature 10393'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '10393',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = 'air_temperature 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    s = 'air_temperature everything'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'all variables 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed'],
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('size - testing: finished')
    return log

In [15]:
def test_20300():
    log = []
    log.append('\n\n---20300---')
    cachworkaround = np.random.random_sample()
    s = 'country'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'country': 'KAZ',
        'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'area'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'area': [51,49,49,51],
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = '20300*'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '0-20300*',
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('20300 - testing: finished')
    return log

In [16]:
def server_test():
    log = []
    log.append('Testing Server Requests \n')
    log.append('0 = failed | 1 = succeeded \n')
    a = !git rev-parse HEAD
    log.append('GIT revision: ' + str(a) + ' \n')
    log.append(str(date.today())+ ' \n')
    try: log.extend(test_statid())
    except: log.append('\nstatid - test: failed \n')
    try: log.extend(test_variable())
    except: log.append('\nvariable - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_area())
    except: log.append('\narea - test: failed \n')
    try: log.extend(test_country())
    except: log.append('\ncountry - test: failed \n')
    try: log.extend(test_date())
    except: log.append('\ndate - test: failed \n')
    try: log.extend(test_period())
    except: log.append('\nperiod - test: failed \n')
    try: log.extend(test_pressure_level())
    except: log.append('\npressure_level - test: failed \n')
    try: log.extend(test_time())
    except: log.append('\ntime - test: failed \n')
    try: log.extend(test_format())
    except: log.append('\nformat - test: failed \n')
    try: log.extend(test_ymd())
    except: log.append('\nymd - test: failed \n')
    try: log.extend(test_size())
    except: log.append('\nsize - test: failed \n')
    try: log.extend(test_20300())
    except: log.append('\n20300 - test: failed \n')
        
    writelog=open(str(date.today()) + '_server_test_log.txt','w')
    writelog.writelines(log)
    writelog.close()

In [17]:
server_test()

statid - testing:  None

2021-01-04 17:14:46,181 INFO Welcome to the CDS
2021-01-04 17:14:46,182 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:14:46,408 INFO Request is queued
2021-01-04 17:14:47,444 INFO Request is running
2021-01-04 17:14:59,781 INFO Request is completed
2021-01-04 17:14:59,782 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776896.0751038-18851-15-c4d41fe8-802b-41fe-8929-0359bd85cb01.zip to download.zip (49.7M)
2021-01-04 17:15:05,931 INFO Download rate 8.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-04 17:15:13,489 INFO Welcome to the CDS
2021-01-04 17:15:13,490 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:13,552 INFO Request is queued

statid - testing:  all

2021-01-04 17:15:14,588 INFO Request is running
2021-01-04 17:15:26,934 INFO Request is completed
2021-01-04 17:15:26,935 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776922.8850672-18282-16-452d84a5-c438-4223-a721-a141b924da5d.zip to download.zip (49.7M)
2021-01-04 17:15:31,421 INFO Download rate 11.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-04 17:15:32,357 INFO Welcome to the CDS
2021-01-04 17:15:32,357 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:32,418 INFO Request is queued

statid - testing:  11035

2021-01-04 17:15:33,453 INFO Request is completed
2021-01-04 17:15:33,453 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776932.57544-14567-15-13e9c262-38be-4931-a66c-da76e674a751.zip to download.zip (48.2K)
2021-01-04 17:15:33,575 INFO Download rate 399.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-04 17:15:33,669 INFO Welcome to the CDS
2021-01-04 17:15:33,669 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:33,739 INFO Request is queued

statid - testing:  11035

2021-01-04 17:15:34,774 INFO Request is completed
2021-01-04 17:15:34,775 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776933.9111273-18209-16-f8241fd2-efa2-475f-bf84-237d1a291f02.zip to download.zip (48.2K)
2021-01-04 17:15:34,864 INFO Download rate 544.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-04 17:15:34,956 INFO Welcome to the CDS
2021-01-04 17:15:34,957 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:35,015 INFO Request is queued

statid - testing:  0-20000-0-11035

2021-01-04 17:15:36,052 INFO Request is completed
2021-01-04 17:15:36,052 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776935.1545453-23642-14-d4c8fe20-02ac-4c4a-853c-9e248f40311e.zip to download.zip (48.2K)
2021-01-04 17:15:36,142 INFO Download rate 542.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-04 17:15:36,235 INFO Welcome to the CDS
2021-01-04 17:15:36,235 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:36,298 INFO Request is queued

statid - testing:  0-20100-0-00701

2021-01-04 17:15:37,333 INFO Request is completed
2021-01-04 17:15:37,334 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776936.6612976-1775-1-1ac7e066-281f-4d90-b1ff-7ae66320b413.zip to download.zip (32.1K)
2021-01-04 17:15:37,395 INFO Download rate 528.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-04 17:15:37,487 INFO Welcome to the CDS
2021-01-04 17:15:37,487 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:37,548 INFO Request is queued

statid - testing:  11*

2021-01-04 17:15:38,584 INFO Request is completed
2021-01-04 17:15:38,585 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776937.9836628-14203-18-62a153e2-e70e-4eac-9582-9cd8e309613f.zip to download.zip (1.1M)
2021-01-04 17:15:38,796 INFO Download rate 5.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,19.299999,-81.37001,29100.0,238.800003,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,30000.0,240.399994,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35000.0,249.699997,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35200.0,250.000000,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35900.0,251.100006,1978-10-01 00:00:00,20000015013
...,...,...,...,...,...,...
0,19.299999,-81.37001,85000.0,290.399994,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,90000.0,292.899994,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,93900.0,294.700012,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,95000.0,295.600006,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,100000.0,299.500000,1978-10-31 12:00:00,20000015074

2021-01-04 17:15:38,910 INFO Welcome to the CDS
2021-01-04 17:15:38,911 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:38,971 INFO Request is queued

statid - testing:  1103*

2021-01-04 17:15:40,007 INFO Request is completed
2021-01-04 17:15:40,007 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776939.17028-1780-1-6983b016-7b1f-4a75-9802-7b2a820d19d2.zip to download.zip (48.2K)
2021-01-04 17:15:40,097 INFO Download rate 540.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-04 17:15:40,189 INFO Welcome to the CDS
2021-01-04 17:15:40,189 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:40,250 INFO Request is queued

statid - testing:  0-20100*

2021-01-04 17:15:41,285 INFO Request is completed
2021-01-04 17:15:41,286 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776940.595915-23577-15-603f43a2-896d-4024-854b-64a3d4f18c35.zip to download.zip (106.4K)
2021-01-04 17:15:41,402 INFO Download rate 919.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,5000.0,212.95,1978-10-11 08:51:48,0-20100-0-00703-002
0,46.811578,6.942472,7000.0,212.65,1978-10-11 08:45:18,0-20100-0-00703-002
0,46.811578,6.942472,10000.0,209.15,1978-10-11 08:38:12,0-20100-0-00703-002
0,46.811578,6.942472,15000.0,211.75,1978-10-11 08:29:54,0-20100-0-00703-002
0,46.811578,6.942472,20000.0,212.25,1978-10-11 08:23:54,0-20100-0-00703-002
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,243.15,1978-10-20 12:26:54,0-20100-0-00703-041
0,46.811578,6.942472,50000.0,256.25,1978-10-20 12:20:54,0-20100-0-00703-041
0,46.811578,6.942472,70000.0,272.95,1978-10-20 12:11:42,0-20100-0-00703-041
0,46.811578,6.942472,85000.0,274.35,1978-10-20 12:05:42,0-20100-0-00703-041
0,46.811578,6.942472,90000.0,274.95,1978-10-20 12:04:06,0-20100-0-00703-041

2021-01-04 17:15:41,553 INFO Welcome to the CDS
2021-01-04 17:15:41,553 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:41,610 INFO Request is queued

statid - testing:  ['11035', 10393]

2021-01-04 17:15:42,645 INFO Request is completed
2021-01-04 17:15:42,646 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776941.7945585-18576-14-69d41903-17e1-4749-a7e9-41328a5185aa.zip to download.zip (108.3K)
2021-01-04 17:15:42,761 INFO Download rate 939.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-04 17:15:42,854 INFO Welcome to the CDS
2021-01-04 17:15:42,855 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:42,914 INFO Request is queued

statid - testing:  ['0-20000-0-11035', '0-20000-0-10393']

2021-01-04 17:15:43,949 INFO Request is completed
2021-01-04 17:15:43,950 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776943.09459-17805-13-114044be-2c11-4189-b78b-235648a07f1b.zip to download.zip (108.3K)
2021-01-04 17:15:44,066 INFO Download rate 938.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-04 17:15:44,158 INFO Welcome to the CDS
2021-01-04 17:15:44,159 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:44,218 INFO Request is queued

statid - testing:  110350

2021-01-04 17:15:45,254 INFO Request is failed
2021-01-04 17:15:45,254 ERROR Message: an internal error occurred processing your request
2021-01-04 17:15:45,255 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-04 17:15:45,255 ERROR   Traceback (most recent call last):
2021-01-04 17:15:45,256 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:15:45,256 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:15:45,256 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:15:45,257 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:15:45,257 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:15:45,258 ERROR       return p(*args, **kwargs)
2021-01-04 17:15:45,258 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:15:45,259 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:15:45,259 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:15:45,260 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:15:45,260 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-04 17:15:45,292 INFO Welcome to the CDS
2021-01-04 17:15:45,293 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:45,358 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing:  1103

2021-01-04 17:15:46,393 INFO Request is failed
2021-01-04 17:15:46,394 ERROR Message: an internal error occurred processing your request
2021-01-04 17:15:46,394 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-04 17:15:46,395 ERROR   Traceback (most recent call last):
2021-01-04 17:15:46,395 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:15:46,396 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:15:46,396 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:15:46,397 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:15:46,397 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:15:46,397 ERROR       return p(*args, **kwargs)
2021-01-04 17:15:46,398 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:15:46,398 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:15:46,399 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:15:46,399 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:15:46,400 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-04 17:15:46,432 INFO Welcome to the CDS
2021-01-04 17:15:46,432 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:46,493 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing:  0-20000-0-1103

2021-01-04 17:15:47,529 INFO Request is failed
2021-01-04 17:15:47,530 ERROR Message: an internal error occurred processing your request
2021-01-04 17:15:47,530 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-04 17:15:47,530 ERROR   Traceback (most recent call last):
2021-01-04 17:15:47,531 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:15:47,531 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:15:47,532 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:15:47,533 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:15:47,533 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:15:47,534 ERROR       return p(*args, **kwargs)
2021-01-04 17:15:47,534 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:15:47,535 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:15:47,535 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:15:47,536 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:15:47,536 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-04 17:15:47,567 INFO Welcome to the CDS
2021-01-04 17:15:47,568 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:47,625 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing:  0-20000-0-110350

2021-01-04 17:15:48,661 INFO Request is failed
2021-01-04 17:15:48,662 ERROR Message: an internal error occurred processing your request
2021-01-04 17:15:48,662 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-04 17:15:48,663 ERROR   Traceback (most recent call last):
2021-01-04 17:15:48,663 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:15:48,664 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:15:48,664 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:15:48,665 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:15:48,665 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:15:48,666 ERROR       return p(*args, **kwargs)
2021-01-04 17:15:48,667 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:15:48,668 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:15:48,668 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:15:48,669 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:15:48,669 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-04 17:15:48,700 INFO Welcome to the CDS
2021-01-04 17:15:48,701 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:48,764 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing: finished
variable - testing:  air_temperature

2021-01-04 17:15:49,800 INFO Request is completed
2021-01-04 17:15:49,801 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776948.9021676-14234-18-5c1ee7fd-fd6a-4021-9d71-b993746cbb3b.zip to download.zip (99.5K)
2021-01-04 17:15:49,921 INFO Download rate 830.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2021-01-04 17:15:50,032 INFO Welcome to the CDS
2021-01-04 17:15:50,033 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:50,104 INFO Request is queued

variable - testing:  dew_point_temperature

2021-01-04 17:15:51,141 INFO Request is completed
2021-01-04 17:15:51,141 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776950.2447436-14719-10-c1e86f85-396f-43a4-996d-9baf76facd52.zip to download.zip (99.3K)
2021-01-04 17:15:51,261 INFO Download rate 833.7K/s

,dew_point_temperature,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,187.899994,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,187.899994,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,187.300003,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,187.100006,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,184.699997,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,260.730011,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,260.910004,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,265.450012,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,268.019989,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,270.109985,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2021-01-04 17:15:51,354 INFO Welcome to the CDS
2021-01-04 17:15:51,355 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:51,414 INFO Request is queued

variable - testing:  eastward_wind_speed

2021-01-04 17:15:52,450 INFO Request is completed
2021-01-04 17:15:52,451 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776951.5598814-18741-14-6a4920f5-c197-47f9-9411-a749c5925e2a.zip to download.zip (110.5K)
2021-01-04 17:15:52,570 INFO Download rate 936K/s

,lat,lon,plev,time,ua,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,27.712812,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,29.908157,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,29.001850,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,26.282927,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,14.912988,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.833590,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,0.881049,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,-1.667180,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,-1.180919,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,-0.985890,10000051145

2021-01-04 17:15:52,665 INFO Welcome to the CDS
2021-01-04 17:15:52,665 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:52,725 INFO Request is queued

variable - testing:  northward_wind_speed

2021-01-04 17:15:53,761 INFO Request is completed
2021-01-04 17:15:53,761 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776952.8593848-13935-12-bd9b846f-1dcd-4fc5-a3ea-36671ac91345.zip to download.zip (110.6K)
2021-01-04 17:15:53,880 INFO Download rate 933K/s

,lat,lon,plev,time,va,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,-16.000000,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,-13.946403,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,-13.523785,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,-12.255930,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,-21.297953,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.863208,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.088004,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,1.726416,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.222878,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,1.854190,10000051145

2021-01-04 17:15:53,975 INFO Welcome to the CDS
2021-01-04 17:15:53,975 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:54,053 INFO Request is queued

variable - testing:  relative_humidity

2021-01-04 17:15:55,089 INFO Request is completed
2021-01-04 17:15:55,090 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776954.1875553-18817-15-e5f6024d-ff43-489a-a935-7294239865c4.zip to download.zip (105.6K)
2021-01-04 17:15:55,207 INFO Download rate 904.8K/s

,hur,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.018269,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.016112,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.015643,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.015489,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.020350,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.436792,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,0.436065,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.540391,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.686344,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.887677,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2021-01-04 17:15:55,300 INFO Welcome to the CDS
2021-01-04 17:15:55,301 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:55,374 INFO Request is queued

variable - testing:  specific_humidity

2021-01-04 17:15:56,412 INFO Request is completed
2021-01-04 17:15:56,413 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776955.6033363-23894-14-d45b2f28-848c-4473-bc71-395937cee042.zip to download.zip (107.2K)
2021-01-04 17:15:56,531 INFO Download rate 916.2K/s

,hus,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.000029,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.000027,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.000024,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.000020,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.000012,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.001742,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.002329,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.002811,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.003221,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145
0,0.003152,48.248901,16.357300,96620.0,2015-01-31 23:30:09,10000051145

2021-01-04 17:15:56,624 INFO Welcome to the CDS
2021-01-04 17:15:56,624 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:56,691 INFO Request is queued

variable - testing:  wind_from_direction

2021-01-04 17:15:57,726 INFO Request is completed
2021-01-04 17:15:57,727 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776956.8334424-14599-16-9723177f-0198-4979-947d-bdf6da8dcd3c.zip to download.zip (98.8K)
2021-01-04 17:15:57,845 INFO Download rate 841K/s

,lat,lon,plev,time,wind_from_direction,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,300.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,325.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,219.0,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,152.0,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,5.0,10000051145

2021-01-04 17:15:57,939 INFO Welcome to the CDS
2021-01-04 17:15:57,939 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:57,999 INFO Request is queued

variable - testing:  wind_speed

2021-01-04 17:15:59,034 INFO Request is completed
2021-01-04 17:15:59,034 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776958.2296762-14352-18-5bc61bd8-97d1-47b5-a385-a18aedbe0f2f.zip to download.zip (100.9K)
2021-01-04 17:15:59,152 INFO Download rate 861.8K/s

,lat,lon,plev,time,wind_speed,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,33.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,29.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,26.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.4,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,2.4,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.7,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,2.1,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,1.0,10000051145

2021-01-04 17:15:59,246 INFO Welcome to the CDS
2021-01-04 17:15:59,247 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:15:59,306 INFO Request is queued

variable - testing:  temperature

2021-01-04 17:16:00,341 INFO Request is completed
2021-01-04 17:16:00,342 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776948.9021676-14234-18-5c1ee7fd-fd6a-4021-9d71-b993746cbb3b.zip to download.zip (99.5K)
2021-01-04 17:16:00,460 INFO Download rate 841.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2021-01-04 17:16:00,640 INFO Welcome to the CDS
2021-01-04 17:16:00,641 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:00,700 INFO Request is queued

variable - testing:  dew_point

2021-01-04 17:16:01,737 INFO Request is failed
2021-01-04 17:16:01,737 ERROR Message: an internal error occurred processing your request
2021-01-04 17:16:01,738 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2021-01-04 17:16:01,738 ERROR   Traceback (most recent call last):
2021-01-04 17:16:01,738 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:16:01,739 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:16:01,739 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:16:01,739 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:16:01,739 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:16:01,740 ERROR       return p(*args, **kwargs)
2021-01-04 17:16:01,740 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:16:01,740 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:16:01,740 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:16:01,741 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:16:01,742 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2021-01-04 17:16:01,772 INFO Welcome to the CDS
2021-01-04 17:16:01,773 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:01,832 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'.
variable - testing:  wind

2021-01-04 17:16:02,868 INFO Request is failed
2021-01-04 17:16:02,869 ERROR Message: an internal error occurred processing your request
2021-01-04 17:16:02,869 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2021-01-04 17:16:02,870 ERROR   Traceback (most recent call last):
2021-01-04 17:16:02,870 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:16:02,871 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:16:02,871 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:16:02,871 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:16:02,872 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:16:02,872 ERROR       return p(*args, **kwargs)
2021-01-04 17:16:02,872 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:16:02,873 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:16:02,874 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:16:02,874 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:16:02,874 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2021-01-04 17:16:02,907 INFO Welcome to the CDS
2021-01-04 17:16:02,907 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:02,968 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'.
variable - testing:  humidity

2021-01-04 17:16:04,004 INFO Request is failed
2021-01-04 17:16:04,004 ERROR Message: an internal error occurred processing your request
2021-01-04 17:16:04,005 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2021-01-04 17:16:04,005 ERROR   Traceback (most recent call last):
2021-01-04 17:16:04,006 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:16:04,006 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:16:04,006 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:16:04,007 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:16:04,007 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:16:04,007 ERROR       return p(*args, **kwargs)
2021-01-04 17:16:04,008 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:16:04,008 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:16:04,009 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:16:04,009 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:16:04,010 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2021-01-04 17:16:04,041 INFO Welcome to the CDS
2021-01-04 17:16:04,042 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:04,102 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'.
variable - testing:  sonde_type

2021-01-04 17:16:05,141 INFO Request is failed
2021-01-04 17:16:05,142 ERROR Message: an internal error occurred processing your request
2021-01-04 17:16:05,142 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2021-01-04 17:16:05,143 ERROR   Traceback (most recent call last):
2021-01-04 17:16:05,143 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:16:05,143 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:16:05,143 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:16:05,144 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:16:05,144 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:16:05,144 ERROR       return p(*args, **kwargs)
2021-01-04 17:16:05,145 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:16:05,145 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:16:05,145 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:16:05,145 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:16:05,146 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2021-01-04 17:16:05,177 INFO Welcome to the CDS
2021-01-04 17:16:05,178 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:05,242 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'.
variable - testing: finished
optional - testing:  sonde_type

2021-01-04 17:16:06,278 INFO Request is completed
2021-01-04 17:16:06,279 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776965.4337366-23402-14-8f1fb390-b350-4813-a2ce-864570be5e94.zip to download.zip (91K)
2021-01-04 17:16:06,369 INFO Download rate 1016K/s

,lat,lon,plev,ta,time,sonde_type,trajectory_label
obs,,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,S09,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,S09,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,S09,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,S09,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,S09,0-20100-0-00701-001
...,...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,S09,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,S09,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,S09,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,S09,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,S09,0-20100-0-00701-054

2021-01-04 17:16:06,546 INFO Welcome to the CDS
2021-01-04 17:16:06,546 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:06,614 INFO Request is queued

optional - testing:  bias_estimate

2021-01-04 17:16:07,650 INFO Request is completed
2021-01-04 17:16:07,651 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776966.8073745-18436-14-3c499e34-b020-40c9-841b-e4e71e0931c4.zip to download.zip (87.5K)
2021-01-04 17:16:07,741 INFO Download rate 970.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-04 17:16:07,838 INFO Welcome to the CDS
2021-01-04 17:16:07,838 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:07,906 INFO Request is queued

optional - testing:  obs_minus_an

2021-01-04 17:16:08,942 INFO Request is completed
2021-01-04 17:16:08,942 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776968.1073868-14678-16-ee3b68fc-6a64-4bf8-acd4-c5c5d46cbf01.zip to download.zip (90.6K)
2021-01-04 17:16:09,033 INFO Download rate 1004.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-04 17:16:09,125 INFO Welcome to the CDS
2021-01-04 17:16:09,125 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:09,186 INFO Request is queued

optional - testing:  obs_minus_bg

2021-01-04 17:16:10,221 INFO Request is completed
2021-01-04 17:16:10,222 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776969.4550862-23273-14-63e565d6-9aca-45b5-a41f-eefff0e5aaee.zip to download.zip (90.6K)
2021-01-04 17:16:10,311 INFO Download rate 1023.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-04 17:16:10,404 INFO Welcome to the CDS
2021-01-04 17:16:10,405 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:10,465 INFO Request is queued

optional - testing:  sonde

2021-01-04 17:16:11,501 INFO Request is failed
2021-01-04 17:16:11,502 ERROR Message: an internal error occurred processing your request
2021-01-04 17:16:11,502 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2021-01-04 17:16:11,502 ERROR   Traceback (most recent call last):
2021-01-04 17:16:11,502 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:16:11,503 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:16:11,503 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:16:11,503 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:16:11,504 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:16:11,504 ERROR       return p(*args, **kwargs)
2021-01-04 17:16:11,504 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:16:11,504 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:16:11,505 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:16:11,505 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:16:11,505 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2021-01-04 17:16:11,537 INFO Welcome to the CDS
2021-01-04 17:16:11,537 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:11,597 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'.
optional - testing:  air_temperature

2021-01-04 17:16:12,632 INFO Request is failed
2021-01-04 17:16:12,633 ERROR Message: an internal error occurred processing your request
2021-01-04 17:16:12,633 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2021-01-04 17:16:12,634 ERROR   Traceback (most recent call last):
2021-01-04 17:16:12,634 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:16:12,634 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:16:12,634 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:16:12,635 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:16:12,635 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:16:12,635 ERROR       return p(*args, **kwargs)
2021-01-04 17:16:12,636 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:16:12,636 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:16:12,636 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:16:12,636 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:16:12,638 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2021-01-04 17:16:12,668 INFO Welcome to the CDS
2021-01-04 17:16:12,668 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:12,726 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'.
optional - testing:  dew_point_temperature

2021-01-04 17:16:13,762 INFO Request is failed
2021-01-04 17:16:13,762 ERROR Message: an internal error occurred processing your request
2021-01-04 17:16:13,763 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2021-01-04 17:16:13,763 ERROR   Traceback (most recent call last):
2021-01-04 17:16:13,763 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:16:13,764 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:16:13,764 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:16:13,764 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:16:13,765 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:16:13,765 ERROR       return p(*args, **kwargs)
2021-01-04 17:16:13,765 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:16:13,766 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:16:13,766 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:16:13,766 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:16:13,766 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2021-01-04 17:16:13,797 INFO Welcome to the CDS
2021-01-04 17:16:13,797 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:13,857 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'.
optional - testing: finished
area - testing:  [80, 140, -40, 359]

2021-01-04 17:16:14,893 INFO Request is running
2021-01-04 17:16:18,717 INFO Request is completed
2021-01-04 17:16:18,717 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776978.156738-23827-16-338e68f0-6210-4a3e-90a4-ced225ffd1b3.zip to download.zip (23.7M)
2021-01-04 17:16:26,490 INFO Download rate 3.1M/s

       lat         lon      plev          ta       time trajectory_label
obs
0    18.23 -111.050003    1100.0  233.600006 1978-10-01      20000002973
0    18.23 -111.050003    1500.0  228.500000 1978-10-01      20000002973
0    18.23 -111.050003    2000.0  223.899994 1978-10-01      20000002973
0    18.23 -111.050003    2500.0  220.899994 1978-10-01      20000002973
0    18.23 -111.050003    3000.0  218.500000 1978-10-01      20000002973
..     ...         ...       ...         ...        ...              ...
0    18.23 -111.050003   91400.0  293.700012 1978-10-31      20000003019
0    18.23 -111.050003   94500.0  296.700012 1978-10-31      20000003019
0    18.23 -111.050003   95000.0  296.799988 1978-10-31      20000003019
0    18.23 -111.050003   97400.0  297.200012 1978-10-31      20000003019
0    18.23 -111.050003  100000.0  299.200012 1978-10-31      20000003019

[1389 rows x 6 columns]

2021-01-04 17:16:27,154 INFO Welcome to the CDS
2021-01-04 17:16:27,155 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:27,215 INFO Request is queued

area - testing:  [50, 0, 40, 20]

2021-01-04 17:16:28,251 INFO Request is completed
2021-01-04 17:16:28,251 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776987.8912768-17932-17-4d5ba4df-3a2d-48bc-b0ac-7d81aede1a3d.zip to download.zip (931.4K)
2021-01-04 17:16:28,537 INFO Download rate 3.2M/s

       lat    lon      plev          ta                time trajectory_label
obs
0    47.43  19.18    3000.0  215.500000 1978-10-01 00:00:00      20000020136
0    47.43  19.18    5000.0  217.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7000.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7200.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    8100.0  215.500000 1978-10-01 00:00:00      20000020136
..     ...    ...       ...         ...                 ...              ...
0    47.43  19.18   75100.0  276.000000 1978-10-31 18:00:00      20000020252
0    47.43  19.18   79900.0  269.299988 1978-10-31 18:00:00      20000020252
0    47.43  19.18   85000.0  273.399994 1978-10-31 18:00:00      20000020252
0    47.43  19.18   98500.0  283.200012 1978-10-31 18:00:00      20000020252
0    47.43  19.18  100000.0  283.399994 1978-10-31 18:00:00      20000020252

[3523 rows x 6 columns]

2021-01-04 17:16:28,649 INFO Welcome to the CDS
2021-01-04 17:16:28,649 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:28,708 INFO Request is queued

area - testing:  [49, -180, 48, 180]

2021-01-04 17:16:29,744 INFO Request is completed
2021-01-04 17:16:29,745 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609776989.2907069-23100-16-17a56570-ea55-4833-9f20-b868c4ca0d5c.zip to download.zip (933.7K)
2021-01-04 17:16:30,031 INFO Download rate 3.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2021-01-04 17:16:30,132 INFO Welcome to the CDS
2021-01-04 17:16:30,132 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:30,195 INFO Request is queued

area - testing:  [49, 0, 48, 360]

2021-01-04 17:16:31,231 INFO Request is completed
2021-01-04 17:16:31,232 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609776990.6381059-23534-17-6e9b6963-d440-419f-8e7b-f5e343580e19.zip to download.zip (933.7K)
2021-01-04 17:16:31,518 INFO Download rate 3.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2021-01-04 17:16:31,628 INFO Welcome to the CDS
2021-01-04 17:16:31,628 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:31,692 INFO Request is queued

area - testing:  [90, -180, -90, 180]

2021-01-04 17:16:32,728 INFO Request is running
2021-01-04 17:16:45,064 INFO Request is completed
2021-01-04 17:16:45,065 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777001.068019-18495-13-af552594-ab7e-479a-a9bd-912948cb2fdf.zip to download.zip (49.6M)
2021-01-04 17:16:51,009 INFO Download rate 8.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-04 17:16:51,822 INFO Welcome to the CDS
2021-01-04 17:16:51,822 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:51,888 INFO Request is queued

area - testing:  [80, 140, 70]

2021-01-04 17:16:52,925 INFO Request is failed
2021-01-04 17:16:52,926 ERROR Message: an internal error occurred processing your request
2021-01-04 17:16:52,926 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"list index out of range"'
2021-01-04 17:16:52,926 ERROR   Traceback (most recent call last):
2021-01-04 17:16:52,927 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:16:52,927 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:16:52,927 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:16:52,928 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:16:52,928 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:16:52,928 ERROR       return p(*args, **kwargs)
2021-01-04 17:16:52,928 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:16:52,929 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:16:52,929 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:16:52,929 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:16:52,929 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"list index out of range"'
2021-01-04 17:16:52,962 INFO Welcome to the CDS
2021-01-04 17:16:52,963 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:53,025 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"list index out of range"'.
area - testing:  [80, 140, 70, 150, 0]

2021-01-04 17:16:54,059 INFO Request is completed
2021-01-04 17:16:54,060 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777013.2360022-23161-15-6fcee464-1a3e-44bb-9879-431cbbea2bf8.zip to download.zip (105.6K)
2021-01-04 17:16:54,176 INFO Download rate 910.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,73.18,143.929993,510.0,226.100006,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,1000.0,220.699997,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,1480.0,217.500000,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,2000.0,218.899994,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,2570.0,220.699997,1978-10-01 00:00:00,20000020656
...,...,...,...,...,...,...
0,73.18,143.929993,82000.0,259.100006,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,83900.0,257.700012,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,85000.0,258.100006,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,95700.0,262.299988,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,97600.0,257.500000,1978-10-31 18:00:00,20000020744

2021-01-04 17:16:54,272 INFO Welcome to the CDS
2021-01-04 17:16:54,272 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:54,335 INFO Request is queued

area - testing:  [0, 0, 0, 0]

2021-01-04 17:16:55,371 INFO Request is failed
2021-01-04 17:16:55,372 ERROR Message: an internal error occurred processing your request
2021-01-04 17:16:55,372 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-04 17:16:55,372 ERROR   Traceback (most recent call last):
2021-01-04 17:16:55,372 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:16:55,373 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:16:55,373 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:16:55,373 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:16:55,373 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:16:55,374 ERROR       return p(*args, **kwargs)
2021-01-04 17:16:55,374 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:16:55,374 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:16:55,375 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:16:55,375 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:16:55,375 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-04 17:16:55,406 INFO Welcome to the CDS
2021-01-04 17:16:55,406 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:55,469 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [40, 20, 50, 0]

2021-01-04 17:16:56,505 INFO Request is failed
2021-01-04 17:16:56,506 ERROR Message: an internal error occurred processing your request
2021-01-04 17:16:56,506 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-04 17:16:56,506 ERROR   Traceback (most recent call last):
2021-01-04 17:16:56,506 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:16:56,507 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:16:56,507 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:16:56,507 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:16:56,507 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:16:56,508 ERROR       return p(*args, **kwargs)
2021-01-04 17:16:56,509 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:16:56,509 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:16:56,509 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:16:56,509 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:16:56,510 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-04 17:16:56,540 INFO Welcome to the CDS
2021-01-04 17:16:56,540 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:56,605 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [49, -180, 48, 360]

2021-01-04 17:16:57,641 INFO Request is failed
2021-01-04 17:16:57,641 ERROR Message: an internal error occurred processing your request
2021-01-04 17:16:57,642 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-04 17:16:57,642 ERROR   Traceback (most recent call last):
2021-01-04 17:16:57,642 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:16:57,642 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:16:57,643 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:16:57,643 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:16:57,643 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:16:57,644 ERROR       return p(*args, **kwargs)
2021-01-04 17:16:57,644 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:16:57,644 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:16:57,645 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:16:57,646 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:16:57,646 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-04 17:16:57,677 INFO Welcome to the CDS
2021-01-04 17:16:57,678 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:16:57,740 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing: finished
country - testing:  GLOBE

2021-01-04 17:16:58,777 INFO Request is running
2021-01-04 17:17:11,111 INFO Request is completed
2021-01-04 17:17:11,112 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777026.5666904-18112-15-1044138a-436a-4ddc-b9c2-357f0d9309b8.zip to download.zip (49.7M)
2021-01-04 17:17:17,801 INFO Download rate 7.4M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-04 17:17:19,088 INFO Welcome to the CDS
2021-01-04 17:17:19,089 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:17:19,150 INFO Request is queued

country - testing:  ALL

2021-01-04 17:17:20,186 INFO Request is running
2021-01-04 17:17:32,521 INFO Request is completed
2021-01-04 17:17:32,522 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777048.3698065-24004-12-1b4e123a-e041-4b75-b1c7-19fde4f9e88c.zip to download.zip (49.7M)
2021-01-04 17:17:40,370 INFO Download rate 6.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-04 17:17:41,476 INFO Welcome to the CDS
2021-01-04 17:17:41,477 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:17:41,539 INFO Request is queued

country - testing:  NOR

2021-01-04 17:17:42,575 INFO Request is completed
2021-01-04 17:17:42,576 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777061.9234235-14528-16-ba8e44d4-8eba-410a-bf50-5877188cb9c8.zip to download.zip (250.5K)
2021-01-04 17:17:42,753 INFO Download rate 1.4M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    67.25  14.4    1500.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    2000.0  217.300003 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3000.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3800.0  216.699997 1978-10-01 00:00:00      20000012548
0    67.25  14.4    5000.0  218.100006 1978-10-01 00:00:00      20000012548
..     ...   ...       ...         ...                 ...              ...
0    67.25  14.4   85000.0  271.500000 1978-10-31 12:00:00      20000012609
0    67.25  14.4   86000.0  271.700012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   94000.0  276.200012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   98000.0  274.000000 1978-10-31 12:00:00      20000012609
0    67.25  14.4  100000.0  275.200012 1978-10-31 12:00:00      20000012609

[1734 rows x 6 columns]

2021-01-04 17:17:42,849 INFO Welcome to the CDS
2021-01-04 17:17:42,849 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:17:42,997 INFO Request is queued

country - testing:  ['NOR', 'DEU']

2021-01-04 17:17:44,033 INFO Request is completed
2021-01-04 17:17:44,033 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777063.4651325-24202-15-7f1170ce-7774-464a-a60f-4a4230bdfe43.zip to download.zip (862.5K)
2021-01-04 17:17:44,293 INFO Download rate 3.2M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    52.82  9.93    5000.0  218.699997 1978-10-02 06:00:00      20000006050
0    52.82  9.93    7000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   10000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   15000.0  218.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   19000.0  213.100006 1978-10-02 06:00:00      20000006050
..     ...   ...       ...         ...                 ...              ...
0    52.82  9.93   40000.0  243.899994 1978-10-31 12:00:00      20000006110
0    52.82  9.93   50000.0  255.699997 1978-10-31 12:00:00      20000006110
0    52.82  9.93   70000.0  273.200012 1978-10-31 12:00:00      20000006110
0    52.82  9.93   85000.0  273.799988 1978-10-31 12:00:00      20000006110
0    52.82  9.93  100000.0  283.399994 1978-10-31 12:00:00      20000006110

[683 rows x 6 columns]

2021-01-04 17:17:44,401 INFO Welcome to the CDS
2021-01-04 17:17:44,402 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:17:44,466 INFO Request is queued

country - testing:  NORWAY

2021-01-04 17:17:45,504 INFO Request is failed
2021-01-04 17:17:45,505 ERROR Message: an internal error occurred processing your request
2021-01-04 17:17:45,505 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2021-01-04 17:17:45,506 ERROR   Traceback (most recent call last):
2021-01-04 17:17:45,506 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:17:45,506 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:17:45,507 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:17:45,507 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:17:45,507 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:17:45,508 ERROR       return p(*args, **kwargs)
2021-01-04 17:17:45,508 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:17:45,508 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:17:45,509 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:17:45,509 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:17:45,509 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2021-01-04 17:17:45,541 INFO Welcome to the CDS
2021-01-04 17:17:45,542 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:17:45,608 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'.
country - testing:  nor

2021-01-04 17:17:46,645 INFO Request is failed
2021-01-04 17:17:46,646 ERROR Message: an internal error occurred processing your request
2021-01-04 17:17:46,646 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2021-01-04 17:17:46,646 ERROR   Traceback (most recent call last):
2021-01-04 17:17:46,647 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:17:46,647 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:17:46,647 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:17:46,648 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:17:46,648 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:17:46,648 ERROR       return p(*args, **kwargs)
2021-01-04 17:17:46,649 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:17:46,649 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:17:46,649 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:17:46,650 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:17:46,650 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2021-01-04 17:17:46,682 INFO Welcome to the CDS
2021-01-04 17:17:46,682 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:17:46,743 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'.
country - testing: finished
date - testing:  None

2021-01-04 17:17:47,779 INFO Request is running
2021-01-04 17:17:49,315 INFO Request is completed
2021-01-04 17:17:49,316 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777068.8948216-22879-15-1f04c663-da73-438d-ac5f-4eb4f88da810.zip to download.zip (40M)
2021-01-04 17:17:55,949 INFO Download rate 6M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-04 17:17:57,064 INFO Welcome to the CDS
2021-01-04 17:17:57,065 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:17:57,124 INFO Request is queued

date - testing:  20000231

2021-01-04 17:17:58,161 INFO Request is completed
2021-01-04 17:17:58,162 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777077.263591-14481-17-baf70bb3-f62c-4e21-aba8-5c13e59b5759.zip to download.zip (23.6K)
2021-01-04 17:17:58,226 INFO Download rate 370.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,570.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,650.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,680.0,228.500000,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,720.0,223.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,1000.0,220.699997,2000-02-29 00:00:00,10000030873
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-04 17:17:58,318 INFO Welcome to the CDS
2021-01-04 17:17:58,319 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:17:58,377 INFO Request is queued

date - testing:  20000101

2021-01-04 17:17:59,412 INFO Request is completed
2021-01-04 17:17:59,413 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777078.5448706-18681-15-c03865d5-0801-43b6-8ba9-0eef28447b6c.zip to download.zip (23.6K)
2021-01-04 17:17:59,475 INFO Download rate 378.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-04 17:17:59,568 INFO Welcome to the CDS
2021-01-04 17:17:59,569 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:17:59,628 INFO Request is queued

date - testing:  20000101-20000201

2021-01-04 17:18:00,663 INFO Request is completed
2021-01-04 17:18:00,663 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777079.7660112-23772-14-b6a040af-a560-4227-837b-915d101fbeaa.zip to download.zip (69.4K)
2021-01-04 17:18:00,752 INFO Download rate 784.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,90900.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,91400.0,281.600006,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,92500.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,95700.0,282.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,99100.0,285.600006,2000-02-01 12:00:00,10000030763

2021-01-04 17:18:00,846 INFO Welcome to the CDS
2021-01-04 17:18:00,847 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:00,905 INFO Request is queued

date - testing:  ['20000101', '20000103', '20000106']

2021-01-04 17:18:01,940 INFO Request is completed
2021-01-04 17:18:01,941 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777081.0480084-23945-17-c589348e-c262-45dd-a886-3d013dabfc7b.zip to download.zip (31.6K)
2021-01-04 17:18:02,029 INFO Download rate 361.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,96100.0,272.299988,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,96800.0,272.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97600.0,271.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97900.0,270.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,98100.0,269.500000,2000-01-06 12:00:00,10000030658

2021-01-04 17:18:02,121 INFO Welcome to the CDS
2021-01-04 17:18:02,121 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:02,181 INFO Request is queued

date - testing:  ['20000102', '20000101']

2021-01-04 17:18:03,217 INFO Request is completed
2021-01-04 17:18:03,218 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777082.3260005-18363-18-a797d396-d284-4e9d-a0c9-c75a5c0036e6.zip to download.zip (25.6K)
2021-01-04 17:18:03,279 INFO Download rate 424.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,94800.0,272.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,97800.0,273.600006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,98300.0,271.500000,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,99100.0,271.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,100000.0,271.700012,2000-01-02 12:00:00,10000030642

2021-01-04 17:18:03,438 INFO Welcome to the CDS
2021-01-04 17:18:03,438 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:03,524 INFO Request is queued

date - testing:  2000011

2021-01-04 17:18:04,560 INFO Request is failed
2021-01-04 17:18:04,561 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:04,561 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2021-01-04 17:18:04,562 ERROR   Traceback (most recent call last):
2021-01-04 17:18:04,562 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:04,562 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:04,563 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:04,563 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:04,563 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:04,564 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:04,564 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:04,564 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:04,565 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:04,565 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:04,565 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2021-01-04 17:18:04,597 INFO Welcome to the CDS
2021-01-04 17:18:04,598 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:04,661 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'.
date - testing:  20000100

2021-01-04 17:18:05,697 INFO Request is failed
2021-01-04 17:18:05,698 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:05,698 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-04 17:18:05,698 ERROR   Traceback (most recent call last):
2021-01-04 17:18:05,699 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:05,699 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:05,699 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:05,700 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:05,700 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:05,700 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:05,701 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:05,701 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:05,701 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:05,702 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:05,702 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-04 17:18:05,733 INFO Welcome to the CDS
2021-01-04 17:18:05,734 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:05,797 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
date - testing:  00000000

2021-01-04 17:18:06,833 INFO Request is failed
2021-01-04 17:18:06,833 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:06,834 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2021-01-04 17:18:06,834 ERROR   Traceback (most recent call last):
2021-01-04 17:18:06,835 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:06,835 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:06,835 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:06,836 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:06,836 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:06,836 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:06,836 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:06,837 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:06,837 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:06,837 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:06,838 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2021-01-04 17:18:06,869 INFO Welcome to the CDS
2021-01-04 17:18:06,870 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:06,933 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'.
date - testing:  20000132

2021-01-04 17:18:07,969 INFO Request is failed
2021-01-04 17:18:07,970 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:07,970 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-04 17:18:07,970 ERROR   Traceback (most recent call last):
2021-01-04 17:18:07,971 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:07,971 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:07,971 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:07,972 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:07,972 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:07,972 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:07,973 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:07,973 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:07,973 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:07,973 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:07,974 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-04 17:18:08,005 INFO Welcome to the CDS
2021-01-04 17:18:08,006 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:08,073 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
date - testing:  20001301

2021-01-04 17:18:09,109 INFO Request is failed
2021-01-04 17:18:09,109 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:09,109 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-04 17:18:09,110 ERROR   Traceback (most recent call last):
2021-01-04 17:18:09,110 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:09,110 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:09,111 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:09,111 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:09,111 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:09,112 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:09,112 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:09,112 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:09,113 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:09,113 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:09,113 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-04 17:18:09,144 INFO Welcome to the CDS
2021-01-04 17:18:09,145 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:09,206 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
date - testing:  20000201-20000101

2021-01-04 17:18:10,243 INFO Request is failed
2021-01-04 17:18:10,243 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:10,243 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2021-01-04 17:18:10,244 ERROR   Traceback (most recent call last):
2021-01-04 17:18:10,244 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:10,244 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:10,245 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:10,245 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:10,245 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:10,246 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:10,246 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:10,246 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:10,247 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:10,247 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:10,247 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2021-01-04 17:18:10,279 INFO Welcome to the CDS
2021-01-04 17:18:10,279 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:10,346 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'.
date - testing:  20000101/20000201

2021-01-04 17:18:11,382 INFO Request is failed
2021-01-04 17:18:11,383 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:11,383 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2021-01-04 17:18:11,384 ERROR   Traceback (most recent call last):
2021-01-04 17:18:11,384 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:11,384 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:11,385 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:11,385 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:11,385 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:11,386 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:11,386 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:11,386 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:11,387 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:11,387 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:11,387 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2021-01-04 17:18:11,419 INFO Welcome to the CDS
2021-01-04 17:18:11,419 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:11,484 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'.
date - testing: finished
period - testing:  None

2021-01-04 17:18:12,520 INFO Request is running
2021-01-04 17:18:16,342 INFO Request is completed
2021-01-04 17:18:16,343 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777093.9651926-30058-1-8541af9a-b487-4d4a-b514-263ba7dbbfa6.zip to download.zip (40M)
2021-01-04 17:18:17,165 INFO Download rate 48.7M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-04 17:18:18,295 INFO Welcome to the CDS
2021-01-04 17:18:18,296 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:18,368 INFO Request is queued

period - testing:  1979-01-01/1980-08-16

2021-01-04 17:18:19,404 INFO Request is completed
2021-01-04 17:18:19,405 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777098.5307837-18015-19-c0fe34d2-dff0-48b2-8033-908f162a2a61.zip to download.zip (517.4K)
2021-01-04 17:18:19,610 INFO Download rate 2.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.360001,1000.0,212.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1300.0,215.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1700.0,202.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2000.0,204.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2700.0,208.699997,1979-01-01 00:00:00,10000000001
...,...,...,...,...,...,...
0,48.25,16.370001,81800.0,282.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,85000.0,285.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,88200.0,288.200012,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,93000.0,290.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,98000.0,294.799988,1980-08-16 12:00:00,10000002339

2021-01-04 17:18:19,715 INFO Welcome to the CDS
2021-01-04 17:18:19,716 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:19,782 INFO Request is queued

period - testing:  1980-01-02/1980-01-01

2021-01-04 17:18:20,819 INFO Request is failed
2021-01-04 17:18:20,819 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:20,820 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2021-01-04 17:18:20,820 ERROR   Traceback (most recent call last):
2021-01-04 17:18:20,820 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:20,821 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:20,821 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:20,821 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:20,822 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:20,822 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:20,822 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:20,822 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:20,823 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:20,823 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:20,823 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2021-01-04 17:18:20,855 INFO Welcome to the CDS
2021-01-04 17:18:20,855 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:20,922 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'.
period - testing: finished
pressure_level - testing:  100

2021-01-04 17:18:21,957 INFO Request is completed
2021-01-04 17:18:21,958 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777101.0749936-18407-15-106fec52-1dd9-4a92-8055-78b216fec62c.zip to download.zip (23.6K)
2021-01-04 17:18:22,019 INFO Download rate 387.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2021-01-04 17:18:22,107 INFO Welcome to the CDS
2021-01-04 17:18:22,108 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:22,175 INFO Request is queued

pressure_level - testing:  100

2021-01-04 17:18:23,210 INFO Request is completed
2021-01-04 17:18:23,211 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777102.3193405-22844-16-420cb833-661e-402b-8730-626d13d8040e.zip to download.zip (23.6K)
2021-01-04 17:18:23,271 INFO Download rate 394.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2021-01-04 17:18:23,358 INFO Welcome to the CDS
2021-01-04 17:18:23,359 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:23,420 INFO Request is queued

pressure_level - testing:  [100, 200]

2021-01-04 17:18:24,456 INFO Request is completed
2021-01-04 17:18:24,457 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777103.5468748-14148-18-6cb7e88f-a21a-4a9f-8521-4df615aec012.zip to download.zip (23.6K)
2021-01-04 17:18:24,521 INFO Download rate 372.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2021-01-04 17:18:24,608 INFO Welcome to the CDS
2021-01-04 17:18:24,608 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:24,672 INFO Request is queued

pressure_level - testing:  ['100', '200']

2021-01-04 17:18:25,708 INFO Request is completed
2021-01-04 17:18:25,708 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777104.7981963-18237-17-89cec941-2718-4cea-b147-f8999e090ce2.zip to download.zip (23.6K)
2021-01-04 17:18:25,799 INFO Download rate 260K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2021-01-04 17:18:25,893 INFO Welcome to the CDS
2021-01-04 17:18:25,893 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:25,956 INFO Request is queued

pressure_level - testing:  0

2021-01-04 17:18:26,992 INFO Request is failed
2021-01-04 17:18:26,992 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:26,993 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2021-01-04 17:18:26,993 ERROR   Traceback (most recent call last):
2021-01-04 17:18:26,993 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:26,994 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:26,994 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:26,994 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:26,995 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:26,995 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:26,995 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:26,995 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:26,996 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:26,996 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:26,996 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2021-01-04 17:18:27,029 INFO Welcome to the CDS
2021-01-04 17:18:27,029 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:27,091 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'.
pressure_level - testing:  2000

2021-01-04 17:18:28,127 INFO Request is failed
2021-01-04 17:18:28,128 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:28,128 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2021-01-04 17:18:28,129 ERROR   Traceback (most recent call last):
2021-01-04 17:18:28,129 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:28,129 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:28,130 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:28,130 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:28,130 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:28,131 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:28,131 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:28,131 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:28,131 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:28,132 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:28,132 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2021-01-04 17:18:28,166 INFO Welcome to the CDS
2021-01-04 17:18:28,166 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:28,230 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'.
pressure_level - testing: finished
time - testing:  [22, 23, 0, 1, 2, 3]

2021-01-04 17:18:29,265 INFO Request is completed
2021-01-04 17:18:29,265 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777108.3708088-18209-17-7ca9f7a1-95d8-40a0-9ee1-9b1d81e4c77b.zip to download.zip (43.3K)
2021-01-04 17:18:29,353 INFO Download rate 493.3K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2021-01-04 17:18:29,447 INFO Welcome to the CDS
2021-01-04 17:18:29,448 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:29,510 INFO Request is queued

time - testing:  ['22', '23', '00', '01', '02', '03']

2021-01-04 17:18:30,546 INFO Request is completed
2021-01-04 17:18:30,546 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777109.732074-23642-15-f5d376cc-7b3d-4564-adc6-c674640177b3.zip to download.zip (43.3K)
2021-01-04 17:18:30,636 INFO Download rate 487.7K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2021-01-04 17:18:30,763 INFO Welcome to the CDS
2021-01-04 17:18:30,764 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:30,833 INFO Request is queued

time - testing:

2021-01-04 17:18:31,959 INFO Request is completed
2021-01-04 17:18:31,959 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777110.9658191-1775-2-84cf4169-eeeb-4803-9bb6-99b948fb4f17.zip to download.zip (67.9K)
2021-01-04 17:18:32,079 INFO Download rate 570.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-04 17:18:32,173 INFO Welcome to the CDS
2021-01-04 17:18:32,174 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:32,241 INFO Request is queued

time - testing:  0

2021-01-04 17:18:33,277 INFO Request is completed
2021-01-04 17:18:33,278 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777112.5229852-1780-2-fc5fb911-55ae-485d-9591-d44087b939b3.zip to download.zip (44.1K)
2021-01-04 17:18:33,368 INFO Download rate 491.7K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2021-01-04 17:18:33,460 INFO Welcome to the CDS
2021-01-04 17:18:33,461 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:33,525 INFO Request is queued

time - testing:  00

2021-01-04 17:18:34,560 INFO Request is completed
2021-01-04 17:18:34,561 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777113.7371395-23577-16-c89cad73-b85a-4fc7-8f6f-9bb214fd54e7.zip to download.zip (44.1K)
2021-01-04 17:18:34,650 INFO Download rate 498.4K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2021-01-04 17:18:34,742 INFO Welcome to the CDS
2021-01-04 17:18:34,743 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:34,805 INFO Request is queued

time - testing:  ['00']

2021-01-04 17:18:35,840 INFO Request is completed
2021-01-04 17:18:35,841 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777115.128621-10983-1-bbc185c7-0ff3-4a31-9449-5163af8e521e.zip to download.zip (44.1K)
2021-01-04 17:18:35,962 INFO Download rate 365.1K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2021-01-04 17:18:36,054 INFO Welcome to the CDS
2021-01-04 17:18:36,055 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:36,135 INFO Request is queued

time - testing:  [0, 12]

2021-01-04 17:18:37,171 INFO Request is completed
2021-01-04 17:18:37,171 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777116.3585334-18576-15-ebae4d8e-16a1-4b09-b94b-344ce0447e31.zip to download.zip (65.7K)
2021-01-04 17:18:37,289 INFO Download rate 562.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-04 17:18:37,381 INFO Welcome to the CDS
2021-01-04 17:18:37,381 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:37,445 INFO Request is queued

time - testing:  ['0', '12']

2021-01-04 17:18:38,480 INFO Request is completed
2021-01-04 17:18:38,481 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777117.701319-17805-14-31049769-6c46-42a4-bcd2-38a0cd75c143.zip to download.zip (65.7K)
2021-01-04 17:18:38,598 INFO Download rate 562.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-04 17:18:38,691 INFO Welcome to the CDS
2021-01-04 17:18:38,692 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:38,754 INFO Request is queued

time - testing:  24

2021-01-04 17:18:39,791 INFO Request is failed
2021-01-04 17:18:39,791 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:39,792 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2021-01-04 17:18:39,792 ERROR   Traceback (most recent call last):
2021-01-04 17:18:39,792 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:39,793 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:39,793 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:39,793 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:39,794 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:39,794 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:39,794 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:39,794 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:39,795 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:39,795 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:39,795 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2021-01-04 17:18:39,827 INFO Welcome to the CDS
2021-01-04 17:18:39,828 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:39,903 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'.
time - testing:  25

2021-01-04 17:18:40,938 INFO Request is failed
2021-01-04 17:18:40,939 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:40,939 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2021-01-04 17:18:40,939 ERROR   Traceback (most recent call last):
2021-01-04 17:18:40,940 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:40,940 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:40,940 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:40,941 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:40,941 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:40,941 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:40,942 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:40,942 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:40,942 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:40,943 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:40,943 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2021-01-04 17:18:40,974 INFO Welcome to the CDS
2021-01-04 17:18:40,975 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:41,037 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'.
time - testing:  12.5

2021-01-04 17:18:42,073 INFO Request is failed
2021-01-04 17:18:42,074 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:42,074 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2021-01-04 17:18:42,074 ERROR   Traceback (most recent call last):
2021-01-04 17:18:42,075 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:42,075 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:42,075 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:42,076 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:42,076 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:42,076 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:42,077 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:42,077 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:42,077 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:42,078 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:42,078 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2021-01-04 17:18:42,110 INFO Welcome to the CDS
2021-01-04 17:18:42,110 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:42,175 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'.
time - testing: finished
format - testing:  None

2021-01-04 17:18:43,212 INFO Request is completed
2021-01-04 17:18:43,213 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777122.3101425-14234-19-838e22a2-1aa6-4622-bdda-085bc077386c.zip to download.zip (67.9K)
2021-01-04 17:18:43,331 INFO Download rate 579.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-04 17:18:43,424 INFO Welcome to the CDS
2021-01-04 17:18:43,424 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:43,488 INFO Request is queued

format - testing:  csv

2021-01-04 17:18:44,524 INFO Request is completed
2021-01-04 17:18:44,525 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777123.7224758-18851-16-83140479-1209-484d-8187-27aac4f620fb.zip to download.zip (29.1K)
2021-01-04 17:18:44,587 INFO Download rate 472.5K/s

,obs_id,lat,lon,plev,ta,time,trajectory_label,statid,statindex
0,0,48.2500,16.3700,640.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
1,1,48.2500,16.3700,700.0,223.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
2,2,48.2500,16.3700,790.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
3,3,48.2500,16.3700,880.0,220.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
4,4,48.2500,16.3700,1000.0,224.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
...,...,...,...,...,...,...,...,...,...
3850,3850,48.2486,16.3564,85000.0,263.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3851,3851,48.2486,16.3564,92500.0,268.05,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3852,3852,48.2486,16.3564,93100.0,268.25,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3853,3853,48.2486,16.3564,98000.0,272.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3854,3854,48.2486,16.3564,98700.0,274.15,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0

2021-01-04 17:18:44,679 INFO Welcome to the CDS
2021-01-04 17:18:44,680 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:44,746 INFO Request is queued

format - testing:  nc

2021-01-04 17:18:45,782 INFO Request is completed
2021-01-04 17:18:45,782 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777124.984476-18741-15-7db179ad-80b5-4f41-9743-0f39268f86c1.zip to download.zip (67.9K)
2021-01-04 17:18:45,899 INFO Download rate 584.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-04 17:18:45,993 INFO Welcome to the CDS
2021-01-04 17:18:45,994 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:46,062 INFO Request is queued

format - testing:  netcdf

2021-01-04 17:18:47,098 INFO Request is failed
2021-01-04 17:18:47,098 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:47,099 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2021-01-04 17:18:47,099 ERROR   Traceback (most recent call last):
2021-01-04 17:18:47,099 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:47,099 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:47,100 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:47,100 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:47,101 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:47,101 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:47,101 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:47,102 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:47,102 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:47,102 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:47,103 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2021-01-04 17:18:47,133 INFO Welcome to the CDS
2021-01-04 17:18:47,134 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:47,201 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'.
format - testing:  csb

2021-01-04 17:18:48,237 INFO Request is failed
2021-01-04 17:18:48,237 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:48,238 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2021-01-04 17:18:48,238 ERROR   Traceback (most recent call last):
2021-01-04 17:18:48,238 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:48,238 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:48,239 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:48,239 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:48,239 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:48,240 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:48,240 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:48,240 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:48,240 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:48,241 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:48,241 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2021-01-04 17:18:48,272 INFO Welcome to the CDS
2021-01-04 17:18:48,273 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:48,335 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'.
format - testing:  txt

2021-01-04 17:18:49,372 INFO Request is failed
2021-01-04 17:18:49,373 ERROR Message: an internal error occurred processing your request
2021-01-04 17:18:49,373 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2021-01-04 17:18:49,373 ERROR   Traceback (most recent call last):
2021-01-04 17:18:49,374 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:18:49,374 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:18:49,374 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:18:49,375 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:18:49,375 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:18:49,375 ERROR       return p(*args, **kwargs)
2021-01-04 17:18:49,375 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:18:49,376 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:18:49,376 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:18:49,376 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:18:49,376 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2021-01-04 17:18:49,408 INFO Welcome to the CDS
2021-01-04 17:18:49,408 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:18:49,470 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'.
format - testing: finished
y - testing:  None

2021-01-04 17:18:50,507 INFO Request is running
2021-01-04 17:18:52,043 INFO Request is completed
2021-01-04 17:18:52,044 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777131.51813-14599-17-10e8e748-02c6-48e9-bc1d-ab21c42fa7e4.zip to download.zip (40M)
2021-01-04 17:19:00,766 INFO Download rate 4.6M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-04 17:19:01,843 INFO Welcome to the CDS
2021-01-04 17:19:01,844 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:01,913 INFO Request is queued

y - testing:  2000

2021-01-04 17:19:02,949 INFO Request is completed
2021-01-04 17:19:02,950 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777142.0712302-14352-19-67407a49-b796-4f41-8e11-e44a82b75446.zip to download.zip (23.6K)
2021-01-04 17:19:03,012 INFO Download rate 380.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-04 17:19:03,103 INFO Welcome to the CDS
2021-01-04 17:19:03,104 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:03,168 INFO Request is queued

y - testing:  2000

2021-01-04 17:19:04,204 INFO Request is completed
2021-01-04 17:19:04,204 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777143.2965026-23482-13-69810ecf-4568-4285-8740-1f36a84c5529.zip to download.zip (23.6K)
2021-01-04 17:19:04,267 INFO Download rate 379.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-04 17:19:04,358 INFO Welcome to the CDS
2021-01-04 17:19:04,359 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:04,421 INFO Request is queued

y - testing:  ['2000', '2001']

2021-01-04 17:19:05,457 INFO Request is completed
2021-01-04 17:19:05,458 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777144.6166341-17871-17-d570b31f-9bb0-457f-bc7c-200bd9ab47f1.zip to download.zip (596.5K)
2021-01-04 17:19:05,994 INFO Download rate 1.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2021-01-04 17:19:06,100 INFO Welcome to the CDS
2021-01-04 17:19:06,100 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:06,170 INFO Request is queued

y - testing:  [2000, 2001]

2021-01-04 17:19:07,206 INFO Request is completed
2021-01-04 17:19:07,206 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777146.3927522-16635-1-e1c19503-339d-412f-a219-56a3f3a43daf.zip to download.zip (596.5K)
2021-01-04 17:19:07,630 INFO Download rate 1.4M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2021-01-04 17:19:07,737 INFO Welcome to the CDS
2021-01-04 17:19:07,738 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:07,827 INFO Request is queued

y - testing:  0

2021-01-04 17:19:08,864 INFO Request is failed
2021-01-04 17:19:08,865 ERROR Message: an internal error occurred processing your request
2021-01-04 17:19:08,865 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2021-01-04 17:19:08,865 ERROR   Traceback (most recent call last):
2021-01-04 17:19:08,866 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:19:08,866 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:19:08,867 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:19:08,867 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:19:08,868 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:19:08,868 ERROR       return p(*args, **kwargs)
2021-01-04 17:19:08,868 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:19:08,869 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:19:08,869 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:19:08,870 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:19:08,870 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2021-01-04 17:19:08,903 INFO Welcome to the CDS
2021-01-04 17:19:08,903 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:08,971 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'.
y - testing:  20000

2021-01-04 17:19:11,544 INFO Request is failed
2021-01-04 17:19:11,545 ERROR Message: an internal error occurred processing your request
2021-01-04 17:19:11,545 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2021-01-04 17:19:11,546 ERROR   Traceback (most recent call last):
2021-01-04 17:19:11,546 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:19:11,546 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:19:11,547 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:19:11,547 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:19:11,547 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:19:11,547 ERROR       return p(*args, **kwargs)
2021-01-04 17:19:11,548 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:19:11,549 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:19:11,549 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:19:11,549 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:19:11,550 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2021-01-04 17:19:11,580 INFO Welcome to the CDS
2021-01-04 17:19:11,581 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:11,669 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'.
y - testing:  -2000

2021-01-04 17:19:12,705 INFO Request is failed
2021-01-04 17:19:12,706 ERROR Message: an internal error occurred processing your request
2021-01-04 17:19:12,706 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2021-01-04 17:19:12,706 ERROR   Traceback (most recent call last):
2021-01-04 17:19:12,707 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:19:12,707 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:19:12,707 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:19:12,707 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:19:12,708 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:19:12,708 ERROR       return p(*args, **kwargs)
2021-01-04 17:19:12,708 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:19:12,708 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:19:12,709 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:19:12,709 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:19:12,709 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2021-01-04 17:19:12,740 INFO Welcome to the CDS
2021-01-04 17:19:12,741 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:12,805 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'.
m - testing:  None

2021-01-04 17:19:13,843 INFO Request is completed
2021-01-04 17:19:13,844 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777153.0739744-12524-1-4dfe22dd-4eff-470e-940d-5d0c6a274b85.zip to download.zip (547.1K)
2021-01-04 17:19:14,024 INFO Download rate 3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84900.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85000.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85200.0,264.700012,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,92500.0,270.500000,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,97400.0,273.600006,2000-12-31 12:00:00,10000032099

2021-01-04 17:19:14,129 INFO Welcome to the CDS
2021-01-04 17:19:14,130 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:14,199 INFO Request is queued

m - testing:  1

2021-01-04 17:19:15,235 INFO Request is completed
2021-01-04 17:19:15,235 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777154.3562827-18436-15-a569598f-c5c0-4f04-81c1-bb810ff36581.zip to download.zip (23.6K)
2021-01-04 17:19:15,296 INFO Download rate 388.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-04 17:19:15,388 INFO Welcome to the CDS
2021-01-04 17:19:15,388 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:15,457 INFO Request is queued

m - testing:  1

2021-01-04 17:19:16,493 INFO Request is completed
2021-01-04 17:19:16,494 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777155.5888867-23273-15-7296b11d-ec0e-4aa5-a9e9-8b1f1576654b.zip to download.zip (23.6K)
2021-01-04 17:19:16,556 INFO Download rate 381.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-04 17:19:16,648 INFO Welcome to the CDS
2021-01-04 17:19:16,648 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:16,728 INFO Request is completed
2021-01-04 17:19:16,728 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777143.2965026-23482-13-69810ecf-4568-4285-8740-1f36a84c5529.zip to download.zip (23.6K)
2021-01-04 17:19:16,763 INFO Download rate 687.4K/s

m - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-04 17:19:16,857 INFO Welcome to the CDS
2021-01-04 17:19:16,857 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:16,916 INFO Request is queued

m - testing:  ['01', '02']

2021-01-04 17:19:18,040 INFO Request is completed
2021-01-04 17:19:18,041 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777157.0656269-23366-15-86a29914-71e4-497b-b299-409834f7211a.zip to download.zip (110.7K)
2021-01-04 17:19:18,158 INFO Download rate 948.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-04 17:19:18,252 INFO Welcome to the CDS
2021-01-04 17:19:18,252 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:18,317 INFO Request is queued

m - testing:  ['1', '2']

2021-01-04 17:19:19,353 INFO Request is completed
2021-01-04 17:19:19,353 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777158.4621906-23714-14-ff43c3ad-b08b-4049-81b7-2e588142314e.zip to download.zip (110.7K)
2021-01-04 17:19:19,474 INFO Download rate 923.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-04 17:19:19,568 INFO Welcome to the CDS
2021-01-04 17:19:19,568 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:19,634 INFO Request is queued

m - testing:  [1, 2]

2021-01-04 17:19:20,670 INFO Request is completed
2021-01-04 17:19:20,670 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777159.7761831-18535-14-2ff658e1-7622-43ea-9792-9563c910600f.zip to download.zip (110.7K)
2021-01-04 17:19:20,791 INFO Download rate 916.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-04 17:19:20,886 INFO Welcome to the CDS
2021-01-04 17:19:20,887 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:20,953 INFO Request is queued

m - testing:  00

2021-01-04 17:19:21,988 INFO Request is failed
2021-01-04 17:19:21,989 ERROR Message: an internal error occurred processing your request
2021-01-04 17:19:21,989 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-04 17:19:21,990 ERROR   Traceback (most recent call last):
2021-01-04 17:19:21,990 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:19:21,990 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:19:21,990 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:19:21,991 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:19:21,991 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:19:21,992 ERROR       return p(*args, **kwargs)
2021-01-04 17:19:21,992 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:19:21,992 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:19:21,993 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:19:21,993 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:19:21,993 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-04 17:19:22,025 INFO Welcome to the CDS
2021-01-04 17:19:22,025 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:22,090 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  0

2021-01-04 17:19:23,127 INFO Request is failed
2021-01-04 17:19:23,127 ERROR Message: an internal error occurred processing your request
2021-01-04 17:19:23,128 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-04 17:19:23,128 ERROR   Traceback (most recent call last):
2021-01-04 17:19:23,128 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:19:23,128 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:19:23,129 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:19:23,129 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:19:23,129 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:19:23,129 ERROR       return p(*args, **kwargs)
2021-01-04 17:19:23,130 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:19:23,130 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:19:23,130 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:19:23,131 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:19:23,131 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-04 17:19:23,162 INFO Welcome to the CDS
2021-01-04 17:19:23,163 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:23,228 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  13

2021-01-04 17:19:24,264 INFO Request is failed
2021-01-04 17:19:24,265 ERROR Message: an internal error occurred processing your request
2021-01-04 17:19:24,265 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-04 17:19:24,265 ERROR   Traceback (most recent call last):
2021-01-04 17:19:24,265 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:19:24,266 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:19:24,266 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:19:24,266 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:19:24,266 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:19:24,267 ERROR       return p(*args, **kwargs)
2021-01-04 17:19:24,267 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:19:24,267 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:19:24,268 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:19:24,268 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:19:24,268 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-04 17:19:24,299 INFO Welcome to the CDS
2021-01-04 17:19:24,299 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:24,383 INFO Request is completed
2021-01-04 17:19:24,383 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777143.2965026-23482-13-69810ecf-4568-4285-8740-1f36a84c5529.zip to download.zip (23.6K)
2021-01-04 17:19:24,443 INFO Download rate 398.3K/s

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
d - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-04 17:19:24,550 INFO Welcome to the CDS
2021-01-04 17:19:24,551 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:24,616 INFO Request is queued

d - testing:  31

2021-01-04 17:19:25,652 INFO Request is completed
2021-01-04 17:19:25,652 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777164.7492933-23100-17-7e82c25c-91cf-4065-823e-de3d0177fad5.zip to download.zip (23.6K)
2021-01-04 17:19:25,713 INFO Download rate 392.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,2870.0,203.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3000.0,202.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3750.0,205.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4020.0,201.699997,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4600.0,208.500000,2000-01-31 00:00:00,10000030757
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-04 17:19:25,807 INFO Welcome to the CDS
2021-01-04 17:19:25,808 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:25,876 INFO Request is queued

d - testing:  ['01', '02']

2021-01-04 17:19:26,914 INFO Request is completed
2021-01-04 17:19:26,914 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777166.0422366-23534-18-95b17fc5-9434-4b59-b2f4-906184af143e.zip to download.zip (68.1K)
2021-01-04 17:19:27,003 INFO Download rate 770.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-04 17:19:27,097 INFO Welcome to the CDS
2021-01-04 17:19:27,098 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:27,161 INFO Request is queued

d - testing:  ['1', '2']

2021-01-04 17:19:28,197 INFO Request is completed
2021-01-04 17:19:28,197 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777167.3020144-18495-14-e4bbafbe-a131-4fc7-8dc5-807b9c98dfa0.zip to download.zip (68.1K)
2021-01-04 17:19:28,286 INFO Download rate 769.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-04 17:19:28,380 INFO Welcome to the CDS
2021-01-04 17:19:28,381 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:28,452 INFO Request is queued

d - testing:  [1, 2]

2021-01-04 17:19:29,487 INFO Request is completed
2021-01-04 17:19:29,488 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777168.5938895-14719-11-801d2fc2-8260-48e4-93d4-c83405599c35.zip to download.zip (68.1K)
2021-01-04 17:19:29,582 INFO Download rate 729.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-04 17:19:29,675 INFO Welcome to the CDS
2021-01-04 17:19:29,675 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:29,739 INFO Request is queued

d - testing:  00

2021-01-04 17:19:30,775 INFO Request is failed
2021-01-04 17:19:30,776 ERROR Message: an internal error occurred processing your request
2021-01-04 17:19:30,776 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-04 17:19:30,776 ERROR   Traceback (most recent call last):
2021-01-04 17:19:30,776 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:19:30,777 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:19:30,777 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:19:30,777 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:19:30,778 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:19:30,778 ERROR       return p(*args, **kwargs)
2021-01-04 17:19:30,778 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:19:30,778 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:19:30,779 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:19:30,779 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:19:30,779 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-04 17:19:30,810 INFO Welcome to the CDS
2021-01-04 17:19:30,811 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:30,872 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  0

2021-01-04 17:19:31,910 INFO Request is failed
2021-01-04 17:19:31,911 ERROR Message: an internal error occurred processing your request
2021-01-04 17:19:31,911 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-04 17:19:31,911 ERROR   Traceback (most recent call last):
2021-01-04 17:19:31,911 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:19:31,912 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:19:31,912 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:19:31,912 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:19:31,913 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:19:31,914 ERROR       return p(*args, **kwargs)
2021-01-04 17:19:31,914 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:19:31,914 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:19:31,914 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:19:31,915 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:19:31,915 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-04 17:19:31,946 INFO Welcome to the CDS
2021-01-04 17:19:31,946 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:32,009 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  32

2021-01-04 17:19:33,045 INFO Request is failed
2021-01-04 17:19:33,046 ERROR Message: an internal error occurred processing your request
2021-01-04 17:19:33,046 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-04 17:19:33,047 ERROR   Traceback (most recent call last):
2021-01-04 17:19:33,047 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:19:33,047 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:19:33,047 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:19:33,048 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:19:33,048 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:19:33,048 ERROR       return p(*args, **kwargs)
2021-01-04 17:19:33,048 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:19:33,049 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:19:33,049 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:19:33,049 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:19:33,050 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-04 17:19:33,081 INFO Welcome to the CDS
2021-01-04 17:19:33,081 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:33,152 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
ymd - testing: finished
size - testing:  air_temperature 11035

2021-01-04 17:19:34,187 INFO Request is running
2021-01-04 17:19:35,723 INFO Request is completed
2021-01-04 17:19:35,724 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777175.2914202-23211-14-ac13a5f1-43fa-4446-acea-77eb9a0ca11f.zip to download.zip (40M)
2021-01-04 17:19:45,065 INFO Download rate 4.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-04 17:19:46,312 INFO Welcome to the CDS
2021-01-04 17:19:46,313 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:19:46,377 INFO Request is queued

size - testing:  air_temperature 10393

2021-01-04 17:19:47,413 INFO Request is running
2021-01-04 17:20:07,388 INFO Request is completed
2021-01-04 17:20:07,389 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777202.105021-24083-15-0373424b-1f82-41a7-ade8-dbafcb19bba6.zip to download.zip (321.3M)
2021-01-04 17:20:52,735 INFO Download rate 7.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,52.216702,14.11670,20000.0,211.350006,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,25000.0,220.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,30000.0,228.449997,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,40000.0,241.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,50000.0,254.850006,1905-04-04 06:00:00,30000000001
...,...,...,...,...,...,...
0,52.209301,14.12041,101330.0,278.450012,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101400.0,278.369995,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101450.0,278.309998,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101510.0,278.250000,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101600.0,278.290009,2019-12-31 16:45:10,10000041139

2021-01-04 17:21:00,737 INFO Welcome to the CDS
2021-01-04 17:21:00,737 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

size - testing:  air_temperature 1 month all stations

2021-01-04 17:21:00,927 INFO Request is queued
2021-01-04 17:21:01,966 INFO Request is running
2021-01-04 17:21:09,205 INFO Request is completed
2021-01-04 17:21:09,206 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777267.3569868-18112-16-dfd38711-da6e-4eb9-87db-9dfbd6b1bc34.zip to download.zip (39.9M)
2021-01-04 17:21:17,150 INFO Download rate 5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,47.461399,-111.384697,960.0,213.350006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1000.0,212.949997,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1080.0,210.850006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1130.0,211.149994,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1390.0,216.449997,2010-01-01 00:00:00,30000055381
...,...,...,...,...,...,...
0,47.461399,-111.384697,83250.0,271.450012,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85000.0,271.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85900.0,268.250000,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,87600.0,265.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,88150.0,264.549988,2010-02-01 12:00:00,30000055444

2021-01-04 17:21:17,744 INFO Welcome to the CDS
2021-01-04 17:21:17,745 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:21:17,825 INFO Request is queued

size - testing:  air_temperature everything

2021-01-04 17:21:18,861 INFO Request is failed
2021-01-04 17:21:18,861 ERROR Message: an internal error occurred processing your request
2021-01-04 17:21:18,862 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-04 17:21:18,862 ERROR   Traceback (most recent call last):
2021-01-04 17:21:18,862 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:21:18,863 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:21:18,863 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:21:18,863 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:21:18,863 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:21:18,864 ERROR       return p(*args, **kwargs)
2021-01-04 17:21:18,864 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:21:18,864 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:21:18,864 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:21:18,865 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:21:18,865 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-04 17:21:18,896 INFO Welcome to the CDS
2021-01-04 17:21:18,896 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:21:18,958 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing:  all variables 1 month all stations

2021-01-04 17:21:19,993 INFO Request is failed
2021-01-04 17:21:19,994 ERROR Message: an internal error occurred processing your request
2021-01-04 17:21:19,994 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-04 17:21:19,994 ERROR   Traceback (most recent call last):
2021-01-04 17:21:19,995 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-04 17:21:19,995 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-04 17:21:19,995 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-04 17:21:19,995 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-04 17:21:19,996 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-04 17:21:19,996 ERROR       return p(*args, **kwargs)
2021-01-04 17:21:19,996 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-04 17:21:19,997 ERROR       return self.proc(context, *args, **kwargs)
2021-01-04 17:21:19,997 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-04 17:21:19,998 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-04 17:21:19,998 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-04 17:21:20,028 INFO Welcome to the CDS
2021-01-04 17:21:20,029 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:21:20,092 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing: finished
20300 - testing:  country

2021-01-04 17:21:21,128 INFO Request is completed
2021-01-04 17:21:21,129 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777280.4157195-24202-16-6df00a82-b20d-4a67-b3b0-d46a2d2c8739.zip to download.zip (148K)
2021-01-04 17:21:21,246 INFO Download rate 1.2M/s

           lat        lon     plev          ta       time trajectory_label
obs
0    50.279999  57.150002   6330.0  216.899994 2002-10-01      10000017281
0    50.279999  57.150002   7000.0  217.500000 2002-10-01      10000017281
0    50.279999  57.150002   9640.0  218.500000 2002-10-01      10000017281
0    50.279999  57.150002  10000.0  218.500000 2002-10-01      10000017281
0    50.279999  57.150002  10400.0  218.500000 2002-10-01      10000017281
..         ...        ...      ...         ...        ...              ...
0    50.279999  57.150002  70000.0  265.700012 2002-10-31      10000017308
0    50.279999  57.150002  77100.0  268.899994 2002-10-31      10000017308
0    50.279999  57.150002  85000.0  272.299988 2002-10-31      10000017308
0    50.279999  57.150002  92500.0  276.000000 2002-10-31      10000017308
0    50.279999  57.150002  96600.0  278.200012 2002-10-31      10000017308

[826 rows x 6 columns]

2021-01-04 17:21:21,341 INFO Welcome to the CDS
2021-01-04 17:21:21,342 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:21:21,400 INFO Request is queued

20300 - testing:  area

2021-01-04 17:21:22,436 INFO Request is running
2021-01-04 17:21:23,972 INFO Request is completed
2021-01-04 17:21:23,972 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609777283.034454-14803-15-9c394315-6340-4977-92a1-cd6893584160.zip to download.zip (33.6M)
2021-01-04 17:21:25,103 INFO Download rate 29.8M/s

      lat   lon      plev    ta                time trajectory_label
obs
0    50.0  50.0   32000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   40000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   43000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   50000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   52300.0  10.0 1949-02-08 04:00:00      30000000849
..    ...   ...       ...   ...                 ...              ...
0    50.0  50.0   99890.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100000.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100140.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100220.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100330.0  10.0 2019-12-31 11:32:33      10000055268

[3573965 rows x 6 columns]

2021-01-04 17:21:26,107 INFO Welcome to the CDS
2021-01-04 17:21:26,108 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-04 17:21:26,175 INFO Request is queued

20300 - testing:  20300*

2021-01-04 17:21:27,212 INFO Request is running
2021-01-04 17:21:28,748 INFO Request is completed
2021-01-04 17:21:28,748 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609777287.9145775-13478-1-1a9be231-bd61-4ebd-800f-634a8eac6f18.zip to download.zip (33.6M)
2021-01-04 17:21:30,879 INFO Download rate 15.8M/s

      lat   lon      plev    ta                time trajectory_label
obs
0    50.0  50.0   32000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   40000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   43000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   50000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   52300.0  10.0 1949-02-08 04:00:00      30000000849
..    ...   ...       ...   ...                 ...              ...
0    50.0  50.0   99890.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100000.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100140.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100220.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100330.0  10.0 2019-12-31 11:32:33      10000055268

[3573965 rows x 6 columns]

20300 - testing: finished