In [1]:
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
from datetime import date
warnings.filterwarnings('ignore')

In [2]:
def request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test/')
    z.close()
    
    files = glob.glob('./test/*.nc')
    if len(files) > 0:
        ds = xarray.open_dataset(files[0])            
        to_be_removed = ['trajectory_index', 'trajectory']
        for ivar in list(ds.variables):
            if 'string' in ivar:
                to_be_removed.append(ivar)
            
            if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
                report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???
                
            if ds[ivar].ndim > 1:
                tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                idim = tmp.dims[0]
                ds[ivar] = (idim, tmp)

        ds = ds.drop_vars(to_be_removed)
        data = ds.to_dataframe()
    else:
        files = glob.glob('./test/*.csv')
        data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test/')
    except:
       print('Error while deleting directory')
    
    return data

In [3]:
def test_statid():
    log = []
    log.append('\n\n---STATID---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'all', 11035, '11035', '0-20000-0-11035', '0-20100-0-00701','11*', '1103*', '0-20100*', ['11035', 10393], ['0-20000-0-11035', '0-20000-0-10393']]:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['110350', '1103', '0-20000-0-1103', '0-20000-0-110350']:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        }
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('statid - testing: finished')
    return log

In [4]:
def test_variable():
    log = []
    log.append('\n\n---VARIABLE---')
    cachworkaround = np.random.random_sample()
    for s in ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['temperature', 'dew_point', 'wind', 'humidity', 'sonde_type']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('variable - testing: finished')
    return log

In [5]:
def test_optional():
    log = []
    log.append('\n\n---OPTIONAL---')
    cachworkaround = np.random.random_sample()
    for s in ['sonde_type', 'bias_estimate', 'obs_minus_an', 'obs_minus_bg']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ ' - ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['sonde', 'air_temperature', 'dew_point_temperature']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [6]:
def test_area():
    log = []
    log.append('\n\n---AREA---')
    cachworkaround = np.random.random_sample()
    for s in [[80,140,-40,359], [50,0,40,20], [49,-180,48,180], [49,0,48,360], [90, -180, -90, 180]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [[80,140,70], [80,140,70,150,0],[0,0,0,0], [40,20,50,0], [49,-180,48,360]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('area - testing: finished')
    return log

In [7]:
def test_country():
    log = []
    log.append('\n\n---COUNTRY---')
    cachworkaround = np.random.random_sample()
    for s in ['GLOBE', 'ALL', 'NOR', ["NOR","DEU"]]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['NORWAY', 'nor',]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('country - testing: finished')
    return log

In [8]:
def test_date(): 
    log = []
    log.append('\n\n---DATE---')
    cachworkaround = np.random.random_sample()
    for s in [None, '20000231', '20000101', '20000101-20000201', ['20000101', '20000103', '20000106'], ['20000102', '20000101']]:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['2000011', '20000100', '00000000', '20000132', '20001301', '20000201-20000101', '20000101/20000201']:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('date - testing: finished')
    return log

In [9]:
def test_period(): 
    log = []
    log.append('\n\n---PERIOD---')
    # not working: ['1979-01-01/1980-08-16']
    cachworkaround = np.random.random_sample()
    for s in [None, '1979-01-01/1980-08-16']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['1980-01-02/1980-01-01']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('period - testing: finished')
    return log

In [10]:
def test_pressure_level():
    log = []
    log.append('\n\n---PRESSURE LEVEL---')
    cachworkaround = np.random.random_sample()
    for s in [100, '100', [100, 200], ['100', '200']]:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    for s in ['0', '2000']:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    print('pressure_level - testing: finished')
    return log

In [11]:
def test_time():
    log = []
    log.append('\n\n---TIME---')
    cachworkaround = np.random.random_sample()
    for s in [[22,23,0,1,2,3], ["22","23","00","01","02","03"], '', '0', '00', ["00"], [0,12], ["0","12"]]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['24', '25', '12.5', ]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('time - testing: finished')
    return log

In [12]:
def test_format():
    log = []
    log.append('\n\n---FORMAT---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'csv', 'nc']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['netcdf', 'csb', 'txt']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('format - testing: finished')
    return log

In [13]:
def test_ymd():
    log = []
    # if one of them is None -> no date selected = the whole dataset - change?
    cachworkaround = np.random.random_sample()
    log.append('\n\n---YEAR---')
    for s in [None, 2000, '2000', ['2000', '2001'], [2000, 2001]]:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [0, '20000', '-2000']:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---MONTH---')
    for s in [None, 1, '1', '01', ['01', '02'], ['1', '2'], [1, 2]]:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '13']:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---DAY---')
    for s in ['01', '31', ['01', '02'], ['1', '2'], [1, 2]]:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '32']:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('ymd - testing: finished')
    return log

In [14]:
def test_size():
    log = []
    log.append('\n\n---SIZE---')
    cachworkaround = np.random.random_sample()
    s = 'air_temperature 11035'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'air_temperature 10393'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '10393',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = 'air_temperature 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    s = 'air_temperature everything'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'all variables 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed'],
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('size - testing: finished')
    return log

In [15]:
def test_20300():
    log = []
    log.append('\n\n---20300---')
    cachworkaround = np.random.random_sample()
    s = 'country'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'country': 'KAZ',
        'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        check_data = request(rd)
        check_data = check_data[check_data.lat == 50][check_data.lon == 50]
        display(check_data)
        if(len(check_data) < 1):
            log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        else:
            log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'area'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'area': [51,49,49,51],
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = '20300*'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '0-20300*',
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('20300 - testing: finished')
    return log

In [16]:
def server_test():
    log = []
    log.append('Testing Server Requests \n')
    log.append('0 = failed | 1 = succeeded \n')
    a = !git rev-parse HEAD
    log.append('GIT revision: ' + str(a) + ' \n')
    log.append(str(date.today())+ ' \n')
    try: log.extend(test_statid())
    except: log.append('\nstatid - test: failed \n')
    try: log.extend(test_variable())
    except: log.append('\nvariable - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_area())
    except: log.append('\narea - test: failed \n')
    try: log.extend(test_country())
    except: log.append('\ncountry - test: failed \n')
    try: log.extend(test_date())
    except: log.append('\ndate - test: failed \n')
    try: log.extend(test_period())
    except: log.append('\nperiod - test: failed \n')
    try: log.extend(test_pressure_level())
    except: log.append('\npressure_level - test: failed \n')
    try: log.extend(test_time())
    except: log.append('\ntime - test: failed \n')
    try: log.extend(test_format())
    except: log.append('\nformat - test: failed \n')
    try: log.extend(test_ymd())
    except: log.append('\nymd - test: failed \n')
    try: log.extend(test_size())
    except: log.append('\nsize - test: failed \n')
    try: log.extend(test_20300())
    except: log.append('\n20300 - test: failed \n')
        
    writelog=open(str(date.today()) + '_server_test_log.txt','w')
    writelog.writelines(log)
    writelog.close()

In [17]:
server_test()

2021-01-05 09:24:40,270 INFO Welcome to the CDS
2021-01-05 09:24:40,271 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  None

2021-01-05 09:24:40,554 INFO Request is queued
2021-01-05 09:24:41,590 INFO Request is running
2021-01-05 09:24:53,930 INFO Request is completed
2021-01-05 09:24:53,930 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835088.8848329-14803-16-02111bb9-731f-4f1f-bacf-fa871ca1c241.zip to download.zip (49.7M)
2021-01-05 09:24:55,189 INFO Download rate 39.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-05 09:24:56,678 INFO Welcome to the CDS
2021-01-05 09:24:56,679 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:24:56,746 INFO Request is queued

statid - testing:  all

2021-01-05 09:24:57,784 INFO Request is running
2021-01-05 09:25:10,127 INFO Request is completed
2021-01-05 09:25:10,128 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835105.445944-18363-19-340c4b66-9c60-440e-a148-899530b74c4d.zip to download.zip (49.7M)
2021-01-05 09:25:11,785 INFO Download rate 30M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-05 09:25:13,007 INFO Welcome to the CDS
2021-01-05 09:25:13,008 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:13,075 INFO Request is queued

statid - testing:  11035

2021-01-05 09:25:14,111 INFO Request is completed
2021-01-05 09:25:14,112 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835113.2270896-23001-14-ca0c6b2a-71a5-4230-af77-05f20b26f64a.zip to download.zip (48.2K)
2021-01-05 09:25:14,201 INFO Download rate 542.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-05 09:25:14,293 INFO Welcome to the CDS
2021-01-05 09:25:14,294 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:14,355 INFO Request is queued

statid - testing:  11035

2021-01-05 09:25:15,390 INFO Request is completed
2021-01-05 09:25:15,391 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835114.5151715-13935-13-15578346-e703-47fc-8e1e-c6091d116544.zip to download.zip (48.2K)
2021-01-05 09:25:15,483 INFO Download rate 526.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-05 09:25:15,578 INFO Welcome to the CDS
2021-01-05 09:25:15,578 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:15,641 INFO Request is queued

statid - testing:  0-20000-0-11035

2021-01-05 09:25:18,214 INFO Request is completed
2021-01-05 09:25:18,215 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835117.7560663-23894-15-7bdb1089-3d24-49d9-b3fe-6f25d16ba047.zip to download.zip (48.2K)
2021-01-05 09:25:18,305 INFO Download rate 536K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-05 09:25:18,402 INFO Welcome to the CDS
2021-01-05 09:25:18,402 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:18,468 INFO Request is queued

statid - testing:  0-20100-0-00701

2021-01-05 09:25:19,504 INFO Request is completed
2021-01-05 09:25:19,504 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835118.5976772-18237-18-103286c8-ab35-4974-8932-ababeb1bb7b5.zip to download.zip (32.1K)
2021-01-05 09:25:19,566 INFO Download rate 524.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-05 09:25:19,662 INFO Welcome to the CDS
2021-01-05 09:25:19,663 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:19,727 INFO Request is queued

statid - testing:  11*

2021-01-05 09:25:20,763 INFO Request is completed
2021-01-05 09:25:20,763 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835120.207727-14599-18-c292a136-868b-481a-afca-eb38f5e9c3a9.zip to download.zip (1.1M)
2021-01-05 09:25:20,969 INFO Download rate 5.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,19.299999,-81.37001,29100.0,238.800003,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,30000.0,240.399994,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35000.0,249.699997,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35200.0,250.000000,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35900.0,251.100006,1978-10-01 00:00:00,20000015013
...,...,...,...,...,...,...
0,19.299999,-81.37001,85000.0,290.399994,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,90000.0,292.899994,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,93900.0,294.700012,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,95000.0,295.600006,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,100000.0,299.500000,1978-10-31 12:00:00,20000015074

2021-01-05 09:25:21,077 INFO Welcome to the CDS
2021-01-05 09:25:21,078 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:21,138 INFO Request is queued

statid - testing:  1103*

2021-01-05 09:25:22,173 INFO Request is completed
2021-01-05 09:25:22,174 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835121.380922-24202-17-0c3a064d-6b37-488f-a836-794c86d226e5.zip to download.zip (48.2K)
2021-01-05 09:25:22,263 INFO Download rate 543.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-05 09:25:22,362 INFO Welcome to the CDS
2021-01-05 09:25:22,362 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:22,423 INFO Request is queued

statid - testing:  0-20100*

2021-01-05 09:25:23,459 INFO Request is completed
2021-01-05 09:25:23,460 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835122.931374-17244-1-93c38299-eb34-4f99-a025-5ded4dcb93f9.zip to download.zip (106.4K)
2021-01-05 09:25:23,576 INFO Download rate 913.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,5000.0,212.95,1978-10-11 08:51:48,0-20100-0-00703-002
0,46.811578,6.942472,7000.0,212.65,1978-10-11 08:45:18,0-20100-0-00703-002
0,46.811578,6.942472,10000.0,209.15,1978-10-11 08:38:12,0-20100-0-00703-002
0,46.811578,6.942472,15000.0,211.75,1978-10-11 08:29:54,0-20100-0-00703-002
0,46.811578,6.942472,20000.0,212.25,1978-10-11 08:23:54,0-20100-0-00703-002
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,243.15,1978-10-20 12:26:54,0-20100-0-00703-041
0,46.811578,6.942472,50000.0,256.25,1978-10-20 12:20:54,0-20100-0-00703-041
0,46.811578,6.942472,70000.0,272.95,1978-10-20 12:11:42,0-20100-0-00703-041
0,46.811578,6.942472,85000.0,274.35,1978-10-20 12:05:42,0-20100-0-00703-041
0,46.811578,6.942472,90000.0,274.95,1978-10-20 12:04:06,0-20100-0-00703-041

2021-01-05 09:25:23,670 INFO Welcome to the CDS
2021-01-05 09:25:23,671 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:23,737 INFO Request is queued

statid - testing:  ['11035', 10393]

2021-01-05 09:25:24,774 INFO Request is completed
2021-01-05 09:25:24,775 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835123.9902332-18407-16-346dda00-9234-4134-8983-9b5031964d64.zip to download.zip (108.3K)
2021-01-05 09:25:24,892 INFO Download rate 926.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-05 09:25:24,989 INFO Welcome to the CDS
2021-01-05 09:25:24,989 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:25,050 INFO Request is queued

statid - testing:  ['0-20000-0-11035', '0-20000-0-10393']

2021-01-05 09:25:26,085 INFO Request is completed
2021-01-05 09:25:26,086 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835125.3904443-18057-1-5c7c7775-a74a-4cf3-babd-a277138a3fbb.zip to download.zip (108.3K)
2021-01-05 09:25:26,203 INFO Download rate 923.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-05 09:25:26,319 INFO Welcome to the CDS
2021-01-05 09:25:26,319 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:26,378 INFO Request is queued

statid - testing:  110350

2021-01-05 09:25:27,414 INFO Request is failed
2021-01-05 09:25:27,415 ERROR Message: an internal error occurred processing your request
2021-01-05 09:25:27,415 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-05 09:25:27,416 ERROR   Traceback (most recent call last):
2021-01-05 09:25:27,416 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:25:27,416 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:25:27,417 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:25:27,417 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:25:27,417 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:25:27,418 ERROR       return p(*args, **kwargs)
2021-01-05 09:25:27,418 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:25:27,418 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:25:27,418 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:25:27,419 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:25:27,419 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-05 09:25:27,450 INFO Welcome to the CDS
2021-01-05 09:25:27,451 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:27,511 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing:  1103

2021-01-05 09:25:28,549 INFO Request is failed
2021-01-05 09:25:28,549 ERROR Message: an internal error occurred processing your request
2021-01-05 09:25:28,550 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-05 09:25:28,550 ERROR   Traceback (most recent call last):
2021-01-05 09:25:28,550 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:25:28,550 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:25:28,551 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:25:28,551 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:25:28,551 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:25:28,552 ERROR       return p(*args, **kwargs)
2021-01-05 09:25:28,552 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:25:28,552 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:25:28,553 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:25:28,554 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:25:28,554 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-05 09:25:28,584 INFO Welcome to the CDS
2021-01-05 09:25:28,585 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:28,644 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing:  0-20000-0-1103

2021-01-05 09:25:29,680 INFO Request is failed
2021-01-05 09:25:29,681 ERROR Message: an internal error occurred processing your request
2021-01-05 09:25:29,681 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-05 09:25:29,682 ERROR   Traceback (most recent call last):
2021-01-05 09:25:29,682 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:25:29,682 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:25:29,683 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:25:29,683 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:25:29,684 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:25:29,684 ERROR       return p(*args, **kwargs)
2021-01-05 09:25:29,685 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:25:29,685 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:25:29,686 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:25:29,686 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:25:29,687 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-05 09:25:29,719 INFO Welcome to the CDS
2021-01-05 09:25:29,719 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:29,790 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing:  0-20000-0-110350

2021-01-05 09:25:30,827 INFO Request is failed
2021-01-05 09:25:30,828 ERROR Message: an internal error occurred processing your request
2021-01-05 09:25:30,828 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-05 09:25:30,828 ERROR   Traceback (most recent call last):
2021-01-05 09:25:30,829 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:25:30,829 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:25:30,830 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:25:30,830 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:25:30,831 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:25:30,831 ERROR       return p(*args, **kwargs)
2021-01-05 09:25:30,832 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:25:30,832 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:25:30,832 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:25:30,833 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:25:30,833 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-05 09:25:30,866 INFO Welcome to the CDS
2021-01-05 09:25:30,866 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:30,924 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing: finished
variable - testing:  air_temperature

2021-01-05 09:25:31,960 INFO Request is completed
2021-01-05 09:25:31,961 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835131.2361174-20830-1-33a512b3-28ac-4807-9137-2720af54f892.zip to download.zip (99.5K)
2021-01-05 09:25:32,078 INFO Download rate 851.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2021-01-05 09:25:32,173 INFO Welcome to the CDS
2021-01-05 09:25:32,173 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:32,238 INFO Request is queued

variable - testing:  dew_point_temperature

2021-01-05 09:25:33,274 INFO Request is completed
2021-01-05 09:25:33,274 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835132.3805263-3089-1-e77ac948-5814-4fa7-9ffe-d8f6d9adf342.zip to download.zip (99.3K)
2021-01-05 09:25:33,483 INFO Download rate 476.9K/s

,dew_point_temperature,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,187.899994,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,187.899994,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,187.300003,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,187.100006,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,184.699997,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,260.730011,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,260.910004,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,265.450012,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,268.019989,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,270.109985,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2021-01-05 09:25:33,581 INFO Welcome to the CDS
2021-01-05 09:25:33,581 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:33,641 INFO Request is queued

variable - testing:  eastward_wind_speed

2021-01-05 09:25:36,215 INFO Request is completed
2021-01-05 09:25:36,215 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835135.8224359-3028-1-bfe3b3bb-07b2-48a9-84bb-8f2915e380e6.zip to download.zip (110.5K)
2021-01-05 09:25:36,417 INFO Download rate 548.1K/s

,lat,lon,plev,time,ua,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,27.712812,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,29.908157,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,29.001850,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,26.282927,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,14.912988,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.833590,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,0.881049,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,-1.667180,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,-1.180919,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,-0.985890,10000051145

2021-01-05 09:25:36,515 INFO Welcome to the CDS
2021-01-05 09:25:36,516 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:36,579 INFO Request is queued

variable - testing:  northward_wind_speed

2021-01-05 09:25:37,614 INFO Request is completed
2021-01-05 09:25:37,615 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835136.7748349-3285-1-fe021b95-1147-43b9-a1f9-976e28cd5ed7.zip to download.zip (110.6K)
2021-01-05 09:25:37,817 INFO Download rate 547.1K/s

,lat,lon,plev,time,va,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,-16.000000,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,-13.946403,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,-13.523785,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,-12.255930,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,-21.297953,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.863208,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.088004,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,1.726416,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.222878,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,1.854190,10000051145

2021-01-05 09:25:37,913 INFO Welcome to the CDS
2021-01-05 09:25:37,913 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:37,973 INFO Request is queued

variable - testing:  relative_humidity

2021-01-05 09:25:39,010 INFO Request is completed
2021-01-05 09:25:39,010 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835138.191128-23211-15-5b060c33-f7ba-475b-b1f9-7afcc1aa7bd3.zip to download.zip (105.6K)
2021-01-05 09:25:39,186 INFO Download rate 601.7K/s

,hur,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.018269,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.016112,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.015643,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.015489,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.020350,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.436792,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,0.436065,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.540391,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.686344,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.887677,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2021-01-05 09:25:39,281 INFO Welcome to the CDS
2021-01-05 09:25:39,282 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:39,340 INFO Request is queued

variable - testing:  specific_humidity

2021-01-05 09:25:40,376 INFO Request is completed
2021-01-05 09:25:40,377 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835139.4720817-23577-17-7354159e-8101-4a57-a013-779568d9684b.zip to download.zip (107.2K)
2021-01-05 09:25:40,523 INFO Download rate 734.2K/s

,hus,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.000029,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.000027,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.000024,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.000020,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.000012,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.001742,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.002329,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.002811,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.003221,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145
0,0.003152,48.248901,16.357300,96620.0,2015-01-31 23:30:09,10000051145

2021-01-05 09:25:40,619 INFO Welcome to the CDS
2021-01-05 09:25:40,620 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:40,682 INFO Request is queued

variable - testing:  wind_from_direction

2021-01-05 09:25:41,719 INFO Request is completed
2021-01-05 09:25:41,720 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835140.8445094-16635-2-6613cd5b-c58d-4f84-8582-80e8dfe044a2.zip to download.zip (98.8K)
2021-01-05 09:25:41,867 INFO Download rate 671.4K/s

,lat,lon,plev,time,wind_from_direction,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,300.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,325.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,219.0,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,152.0,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,5.0,10000051145

2021-01-05 09:25:41,965 INFO Welcome to the CDS
2021-01-05 09:25:41,966 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:42,027 INFO Request is queued

variable - testing:  wind_speed

2021-01-05 09:25:43,063 INFO Request is completed
2021-01-05 09:25:43,063 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835142.1728766-23273-16-b433ad72-9024-4adb-a0ab-ded101dee8ca.zip to download.zip (100.9K)
2021-01-05 09:25:43,210 INFO Download rate 691.3K/s

,lat,lon,plev,time,wind_speed,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,33.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,29.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,26.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.4,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,2.4,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.7,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,2.1,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,1.0,10000051145

2021-01-05 09:25:43,309 INFO Welcome to the CDS
2021-01-05 09:25:43,310 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:43,374 INFO Request is queued

variable - testing:  temperature

2021-01-05 09:25:44,499 INFO Request is completed
2021-01-05 09:25:44,499 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835143.619687-23161-16-e02c48a3-0ac4-4957-a3fa-6d5e263371af.zip to download.zip (99.5K)
2021-01-05 09:25:44,617 INFO Download rate 846.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2021-01-05 09:25:44,714 INFO Welcome to the CDS
2021-01-05 09:25:44,714 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:44,774 INFO Request is queued

variable - testing:  dew_point

2021-01-05 09:25:45,811 INFO Request is failed
2021-01-05 09:25:45,811 ERROR Message: an internal error occurred processing your request
2021-01-05 09:25:45,812 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2021-01-05 09:25:45,812 ERROR   Traceback (most recent call last):
2021-01-05 09:25:45,813 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:25:45,813 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:25:45,813 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:25:45,814 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:25:45,814 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:25:45,814 ERROR       return p(*args, **kwargs)
2021-01-05 09:25:45,815 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:25:45,815 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:25:45,815 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:25:45,816 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:25:45,816 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2021-01-05 09:25:45,847 INFO Welcome to the CDS
2021-01-05 09:25:45,848 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:45,908 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'.
variable - testing:  wind

2021-01-05 09:25:46,944 INFO Request is failed
2021-01-05 09:25:46,945 ERROR Message: an internal error occurred processing your request
2021-01-05 09:25:46,945 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2021-01-05 09:25:46,945 ERROR   Traceback (most recent call last):
2021-01-05 09:25:46,946 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:25:46,946 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:25:46,946 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:25:46,947 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:25:46,947 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:25:46,947 ERROR       return p(*args, **kwargs)
2021-01-05 09:25:46,947 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:25:46,948 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:25:46,948 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:25:46,948 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:25:46,948 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2021-01-05 09:25:46,979 INFO Welcome to the CDS
2021-01-05 09:25:46,980 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:47,042 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'.
variable - testing:  humidity

2021-01-05 09:25:48,078 INFO Request is failed
2021-01-05 09:25:48,078 ERROR Message: an internal error occurred processing your request
2021-01-05 09:25:48,079 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2021-01-05 09:25:48,079 ERROR   Traceback (most recent call last):
2021-01-05 09:25:48,079 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:25:48,079 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:25:48,080 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:25:48,080 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:25:48,080 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:25:48,080 ERROR       return p(*args, **kwargs)
2021-01-05 09:25:48,081 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:25:48,081 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:25:48,081 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:25:48,082 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:25:48,082 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2021-01-05 09:25:48,113 INFO Welcome to the CDS
2021-01-05 09:25:48,113 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:48,177 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'.
variable - testing:  sonde_type

2021-01-05 09:25:49,213 INFO Request is failed
2021-01-05 09:25:49,214 ERROR Message: an internal error occurred processing your request
2021-01-05 09:25:49,214 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2021-01-05 09:25:49,214 ERROR   Traceback (most recent call last):
2021-01-05 09:25:49,214 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:25:49,215 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:25:49,215 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:25:49,215 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:25:49,216 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:25:49,216 ERROR       return p(*args, **kwargs)
2021-01-05 09:25:49,217 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:25:49,217 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:25:49,217 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:25:49,218 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:25:49,218 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2021-01-05 09:25:49,248 INFO Welcome to the CDS
2021-01-05 09:25:49,249 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:49,311 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'.
variable - testing: finished
optional - testing:  sonde_type

2021-01-05 09:25:50,347 INFO Request is completed
2021-01-05 09:25:50,347 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835149.5070126-22879-16-74b578e9-25fd-4237-99ec-156c125bd383.zip to download.zip (91K)
2021-01-05 09:25:50,464 INFO Download rate 779.3K/s

,lat,lon,plev,ta,time,sonde_type,trajectory_label
obs,,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,S09,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,S09,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,S09,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,S09,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,S09,0-20100-0-00701-001
...,...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,S09,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,S09,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,S09,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,S09,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,S09,0-20100-0-00701-054

2021-01-05 09:25:50,564 INFO Welcome to the CDS
2021-01-05 09:25:50,565 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:50,634 INFO Request is queued

optional - testing:  bias_estimate

2021-01-05 09:25:51,670 INFO Request is completed
2021-01-05 09:25:51,671 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835150.8525527-23482-14-5746bd65-adab-4678-9865-47476a3e2586.zip to download.zip (87.5K)
2021-01-05 09:25:51,788 INFO Download rate 749.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-05 09:25:51,881 INFO Welcome to the CDS
2021-01-05 09:25:51,881 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:51,945 INFO Request is queued

optional - testing:  obs_minus_an

2021-01-05 09:25:52,981 INFO Request is completed
2021-01-05 09:25:52,981 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835152.1371303-1775-3-bd638b6c-74ef-4f1a-ae89-910aa9d98061.zip to download.zip (90.6K)
2021-01-05 09:25:53,100 INFO Download rate 764.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-05 09:25:53,194 INFO Welcome to the CDS
2021-01-05 09:25:53,195 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:53,263 INFO Request is queued

optional - testing:  obs_minus_bg

2021-01-05 09:25:54,299 INFO Request is completed
2021-01-05 09:25:54,300 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835153.4530396-1780-3-7fed7973-92f2-433c-835d-55a82000abea.zip to download.zip (90.6K)
2021-01-05 09:25:54,417 INFO Download rate 771.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-05 09:25:54,513 INFO Welcome to the CDS
2021-01-05 09:25:54,513 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:54,577 INFO Request is queued

optional - testing:  sonde

2021-01-05 09:25:55,613 INFO Request is failed
2021-01-05 09:25:55,613 ERROR Message: an internal error occurred processing your request
2021-01-05 09:25:55,614 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2021-01-05 09:25:55,614 ERROR   Traceback (most recent call last):
2021-01-05 09:25:55,614 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:25:55,615 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:25:55,615 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:25:55,615 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:25:55,616 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:25:55,616 ERROR       return p(*args, **kwargs)
2021-01-05 09:25:55,617 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:25:55,617 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:25:55,617 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:25:55,617 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:25:55,618 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2021-01-05 09:25:55,648 INFO Welcome to the CDS
2021-01-05 09:25:55,649 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:55,712 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'.
optional - testing:  air_temperature

2021-01-05 09:25:56,748 INFO Request is failed
2021-01-05 09:25:56,748 ERROR Message: an internal error occurred processing your request
2021-01-05 09:25:56,749 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2021-01-05 09:25:56,749 ERROR   Traceback (most recent call last):
2021-01-05 09:25:56,749 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:25:56,750 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:25:56,750 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:25:56,750 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:25:56,750 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:25:56,751 ERROR       return p(*args, **kwargs)
2021-01-05 09:25:56,751 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:25:56,751 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:25:56,751 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:25:56,752 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:25:56,752 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2021-01-05 09:25:56,783 INFO Welcome to the CDS
2021-01-05 09:25:56,784 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:56,845 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'.
optional - testing:  dew_point_temperature

2021-01-05 09:25:57,882 INFO Request is failed
2021-01-05 09:25:57,882 ERROR Message: an internal error occurred processing your request
2021-01-05 09:25:57,882 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2021-01-05 09:25:57,883 ERROR   Traceback (most recent call last):
2021-01-05 09:25:57,883 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:25:57,883 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:25:57,883 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:25:57,884 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:25:57,884 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:25:57,884 ERROR       return p(*args, **kwargs)
2021-01-05 09:25:57,885 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:25:57,885 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:25:57,885 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:25:57,885 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:25:57,886 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2021-01-05 09:25:57,916 INFO Welcome to the CDS
2021-01-05 09:25:57,917 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:25:57,988 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'.
optional - testing: finished
area - testing:  [80, 140, -40, 359]

2021-01-05 09:25:59,024 INFO Request is running
2021-01-05 09:26:02,848 INFO Request is completed
2021-01-05 09:26:02,849 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835162.0205476-14567-16-c84d598a-1584-4cde-917e-b5c373020001.zip to download.zip (23.7M)
2021-01-05 09:26:03,714 INFO Download rate 27.5M/s

       lat         lon      plev          ta       time trajectory_label
obs
0    18.23 -111.050003    1100.0  233.600006 1978-10-01      20000002973
0    18.23 -111.050003    1500.0  228.500000 1978-10-01      20000002973
0    18.23 -111.050003    2000.0  223.899994 1978-10-01      20000002973
0    18.23 -111.050003    2500.0  220.899994 1978-10-01      20000002973
0    18.23 -111.050003    3000.0  218.500000 1978-10-01      20000002973
..     ...         ...       ...         ...        ...              ...
0    18.23 -111.050003   91400.0  293.700012 1978-10-31      20000003019
0    18.23 -111.050003   94500.0  296.700012 1978-10-31      20000003019
0    18.23 -111.050003   95000.0  296.799988 1978-10-31      20000003019
0    18.23 -111.050003   97400.0  297.200012 1978-10-31      20000003019
0    18.23 -111.050003  100000.0  299.200012 1978-10-31      20000003019

[1389 rows x 6 columns]

2021-01-05 09:26:04,164 INFO Welcome to the CDS
2021-01-05 09:26:04,165 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:26:04,228 INFO Request is queued

area - testing:  [50, 0, 40, 20]

2021-01-05 09:26:05,263 INFO Request is completed
2021-01-05 09:26:05,264 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835164.8915927-14719-12-351cf9d9-700c-4050-9d4e-d8f97e69c419.zip to download.zip (931.4K)
2021-01-05 09:26:05,466 INFO Download rate 4.5M/s

       lat    lon      plev          ta                time trajectory_label
obs
0    47.43  19.18    3000.0  215.500000 1978-10-01 00:00:00      20000020136
0    47.43  19.18    5000.0  217.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7000.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7200.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    8100.0  215.500000 1978-10-01 00:00:00      20000020136
..     ...    ...       ...         ...                 ...              ...
0    47.43  19.18   75100.0  276.000000 1978-10-31 18:00:00      20000020252
0    47.43  19.18   79900.0  269.299988 1978-10-31 18:00:00      20000020252
0    47.43  19.18   85000.0  273.399994 1978-10-31 18:00:00      20000020252
0    47.43  19.18   98500.0  283.200012 1978-10-31 18:00:00      20000020252
0    47.43  19.18  100000.0  283.399994 1978-10-31 18:00:00      20000020252

[3523 rows x 6 columns]

2021-01-05 09:26:05,581 INFO Welcome to the CDS
2021-01-05 09:26:05,582 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:26:05,645 INFO Request is queued

area - testing:  [49, -180, 48, 180]

2021-01-05 09:26:08,220 INFO Request is completed
2021-01-05 09:26:08,221 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835168.077828-17738-16-ed117674-8872-495b-95e8-0c00797c0252.zip to download.zip (933.7K)
2021-01-05 09:26:08,848 INFO Download rate 1.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2021-01-05 09:26:08,951 INFO Welcome to the CDS
2021-01-05 09:26:08,951 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:26:09,015 INFO Request is queued

area - testing:  [49, 0, 48, 360]

2021-01-05 09:26:10,051 INFO Request is completed
2021-01-05 09:26:10,051 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835169.5485117-14481-18-91009497-c15c-47ad-8fc3-41ad2ff2cbab.zip to download.zip (933.7K)
2021-01-05 09:26:10,255 INFO Download rate 4.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2021-01-05 09:26:10,356 INFO Welcome to the CDS
2021-01-05 09:26:10,356 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:26:10,421 INFO Request is queued

area - testing:  [90, -180, -90, 180]

2021-01-05 09:26:11,458 INFO Request is running
2021-01-05 09:26:23,799 INFO Request is completed
2021-01-05 09:26:23,799 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835179.3030624-23402-15-5c320f01-070a-426e-b49b-1fc70c646159.zip to download.zip (49.6M)
2021-01-05 09:26:34,719 INFO Download rate 4.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-05 09:26:35,483 INFO Welcome to the CDS
2021-01-05 09:26:35,483 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:26:35,560 INFO Request is queued

area - testing:  [80, 140, 70]

2021-01-05 09:26:36,596 INFO Request is failed
2021-01-05 09:26:36,597 ERROR Message: an internal error occurred processing your request
2021-01-05 09:26:36,597 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"list index out of range"'
2021-01-05 09:26:36,597 ERROR   Traceback (most recent call last):
2021-01-05 09:26:36,598 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:26:36,598 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:26:36,598 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:26:36,598 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:26:36,599 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:26:36,599 ERROR       return p(*args, **kwargs)
2021-01-05 09:26:36,599 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:26:36,600 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:26:36,600 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:26:36,600 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:26:36,600 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"list index out of range"'
2021-01-05 09:26:36,631 INFO Welcome to the CDS
2021-01-05 09:26:36,632 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:26:36,729 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"list index out of range"'.
area - testing:  [80, 140, 70, 150, 0]

2021-01-05 09:26:37,765 INFO Request is completed
2021-01-05 09:26:37,766 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835197.1355011-14528-17-7077c80e-9939-4662-8478-5625f7228429.zip to download.zip (105.6K)
2021-01-05 09:26:37,885 INFO Download rate 889K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,73.18,143.929993,510.0,226.100006,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,1000.0,220.699997,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,1480.0,217.500000,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,2000.0,218.899994,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,2570.0,220.699997,1978-10-01 00:00:00,20000020656
...,...,...,...,...,...,...
0,73.18,143.929993,82000.0,259.100006,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,83900.0,257.700012,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,85000.0,258.100006,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,95700.0,262.299988,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,97600.0,257.500000,1978-10-31 18:00:00,20000020744

2021-01-05 09:26:37,982 INFO Welcome to the CDS
2021-01-05 09:26:37,982 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:26:38,048 INFO Request is queued

area - testing:  [0, 0, 0, 0]

2021-01-05 09:26:39,083 INFO Request is failed
2021-01-05 09:26:39,084 ERROR Message: an internal error occurred processing your request
2021-01-05 09:26:39,084 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-05 09:26:39,084 ERROR   Traceback (most recent call last):
2021-01-05 09:26:39,085 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:26:39,085 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:26:39,085 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:26:39,086 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:26:39,086 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:26:39,086 ERROR       return p(*args, **kwargs)
2021-01-05 09:26:39,086 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:26:39,087 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:26:39,087 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:26:39,087 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:26:39,087 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-05 09:26:39,118 INFO Welcome to the CDS
2021-01-05 09:26:39,119 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:26:39,182 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [40, 20, 50, 0]

2021-01-05 09:26:40,219 INFO Request is failed
2021-01-05 09:26:40,220 ERROR Message: an internal error occurred processing your request
2021-01-05 09:26:40,220 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-05 09:26:40,220 ERROR   Traceback (most recent call last):
2021-01-05 09:26:40,220 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:26:40,221 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:26:40,221 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:26:40,221 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:26:40,222 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:26:40,222 ERROR       return p(*args, **kwargs)
2021-01-05 09:26:40,222 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:26:40,222 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:26:40,223 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:26:40,223 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:26:40,223 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-05 09:26:40,254 INFO Welcome to the CDS
2021-01-05 09:26:40,255 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:26:40,318 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [49, -180, 48, 360]

2021-01-05 09:26:41,355 INFO Request is failed
2021-01-05 09:26:41,355 ERROR Message: an internal error occurred processing your request
2021-01-05 09:26:41,355 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-05 09:26:41,356 ERROR   Traceback (most recent call last):
2021-01-05 09:26:41,356 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:26:41,356 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:26:41,356 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:26:41,357 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:26:41,357 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:26:41,357 ERROR       return p(*args, **kwargs)
2021-01-05 09:26:41,358 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:26:41,358 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:26:41,358 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:26:41,358 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:26:41,359 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-05 09:26:41,390 INFO Welcome to the CDS
2021-01-05 09:26:41,390 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:26:41,459 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing: finished
country - testing:  GLOBE

2021-01-05 09:26:42,498 INFO Request is running
2021-01-05 09:26:54,838 INFO Request is completed
2021-01-05 09:26:54,839 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835209.9163296-13710-1-461e680f-6781-480d-84ef-e3863723f90d.zip to download.zip (49.7M)
2021-01-05 09:26:57,459 INFO Download rate 19M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-05 09:27:03,484 INFO Welcome to the CDS
2021-01-05 09:27:03,485 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:03,549 INFO Request is queued

country - testing:  ALL

2021-01-05 09:27:04,585 INFO Request is running
2021-01-05 09:27:16,923 INFO Request is completed
2021-01-05 09:27:16,924 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835232.2453563-13751-1-c9028491-832f-4293-913d-1080a2336b45.zip to download.zip (49.7M)
2021-01-05 09:27:20,079 INFO Download rate 15.8M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-05 09:27:21,230 INFO Welcome to the CDS
2021-01-05 09:27:21,231 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:21,301 INFO Request is queued

country - testing:  NOR

2021-01-05 09:27:22,425 INFO Request is completed
2021-01-05 09:27:22,426 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835241.6985068-18632-14-34374231-8493-4c8e-b7df-c335c801a49e.zip to download.zip (250.5K)
2021-01-05 09:27:22,573 INFO Download rate 1.7M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    67.25  14.4    1500.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    2000.0  217.300003 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3000.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3800.0  216.699997 1978-10-01 00:00:00      20000012548
0    67.25  14.4    5000.0  218.100006 1978-10-01 00:00:00      20000012548
..     ...   ...       ...         ...                 ...              ...
0    67.25  14.4   85000.0  271.500000 1978-10-31 12:00:00      20000012609
0    67.25  14.4   86000.0  271.700012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   94000.0  276.200012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   98000.0  274.000000 1978-10-31 12:00:00      20000012609
0    67.25  14.4  100000.0  275.200012 1978-10-31 12:00:00      20000012609

[1734 rows x 6 columns]

2021-01-05 09:27:22,682 INFO Welcome to the CDS
2021-01-05 09:27:22,683 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:22,750 INFO Request is queued

country - testing:  ['NOR', 'DEU']

2021-01-05 09:27:23,786 INFO Request is completed
2021-01-05 09:27:23,787 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835243.1911757-18576-16-76536832-20bd-4330-a57c-77c2c4b0c5ca.zip to download.zip (862.5K)
2021-01-05 09:27:24,020 INFO Download rate 3.6M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    52.82  9.93    5000.0  218.699997 1978-10-02 06:00:00      20000006050
0    52.82  9.93    7000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   10000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   15000.0  218.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   19000.0  213.100006 1978-10-02 06:00:00      20000006050
..     ...   ...       ...         ...                 ...              ...
0    52.82  9.93   40000.0  243.899994 1978-10-31 12:00:00      20000006110
0    52.82  9.93   50000.0  255.699997 1978-10-31 12:00:00      20000006110
0    52.82  9.93   70000.0  273.200012 1978-10-31 12:00:00      20000006110
0    52.82  9.93   85000.0  273.799988 1978-10-31 12:00:00      20000006110
0    52.82  9.93  100000.0  283.399994 1978-10-31 12:00:00      20000006110

[683 rows x 6 columns]

2021-01-05 09:27:24,128 INFO Welcome to the CDS
2021-01-05 09:27:24,129 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:24,196 INFO Request is queued

country - testing:  NORWAY

2021-01-05 09:27:25,232 INFO Request is failed
2021-01-05 09:27:25,232 ERROR Message: an internal error occurred processing your request
2021-01-05 09:27:25,232 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2021-01-05 09:27:25,233 ERROR   Traceback (most recent call last):
2021-01-05 09:27:25,233 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:27:25,234 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:27:25,234 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:27:25,234 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:27:25,235 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:27:25,235 ERROR       return p(*args, **kwargs)
2021-01-05 09:27:25,235 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:27:25,236 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:27:25,236 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:27:25,236 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:27:25,237 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2021-01-05 09:27:25,268 INFO Welcome to the CDS
2021-01-05 09:27:25,268 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:25,341 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'.
country - testing:  nor

2021-01-05 09:27:26,376 INFO Request is failed
2021-01-05 09:27:26,377 ERROR Message: an internal error occurred processing your request
2021-01-05 09:27:26,378 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2021-01-05 09:27:26,378 ERROR   Traceback (most recent call last):
2021-01-05 09:27:26,378 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:27:26,379 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:27:26,379 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:27:26,379 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:27:26,380 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:27:26,380 ERROR       return p(*args, **kwargs)
2021-01-05 09:27:26,380 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:27:26,381 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:27:26,381 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:27:26,381 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:27:26,382 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2021-01-05 09:27:26,413 INFO Welcome to the CDS
2021-01-05 09:27:26,414 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:26,479 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'.
country - testing: finished
date - testing:  None

2021-01-05 09:27:27,517 INFO Request is running
2021-01-05 09:27:29,057 INFO Request is completed
2021-01-05 09:27:29,057 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835248.6162777-30058-2-bf6d7db0-3fef-4055-8217-1a2c4cff5882.zip to download.zip (40M)
2021-01-05 09:27:32,349 INFO Download rate 12.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-05 09:27:33,450 INFO Welcome to the CDS
2021-01-05 09:27:33,450 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:33,516 INFO Request is queued

date - testing:  20000231

2021-01-05 09:27:34,552 INFO Request is completed
2021-01-05 09:27:34,553 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835253.7287822-23714-15-96238176-2b18-4887-b718-948062e4af96.zip to download.zip (23.6K)
2021-01-05 09:27:34,614 INFO Download rate 387.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,570.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,650.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,680.0,228.500000,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,720.0,223.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,1000.0,220.699997,2000-02-29 00:00:00,10000030873
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-05 09:27:34,704 INFO Welcome to the CDS
2021-01-05 09:27:34,704 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:34,785 INFO Request is queued

date - testing:  20000101

2021-01-05 09:27:35,821 INFO Request is completed
2021-01-05 09:27:35,821 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835255.0114393-23366-16-8b9a55c3-1120-4751-b9e7-d8675fddbc09.zip to download.zip (23.6K)
2021-01-05 09:27:35,883 INFO Download rate 384.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-05 09:27:35,976 INFO Welcome to the CDS
2021-01-05 09:27:35,976 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:36,041 INFO Request is queued

date - testing:  20000101-20000201

2021-01-05 09:27:37,078 INFO Request is completed
2021-01-05 09:27:37,079 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835256.186041-14274-17-6ebe1d43-7bc7-4a7e-b67f-0d7191d05b11.zip to download.zip (69.4K)
2021-01-05 09:27:37,170 INFO Download rate 763.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,90900.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,91400.0,281.600006,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,92500.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,95700.0,282.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,99100.0,285.600006,2000-02-01 12:00:00,10000030763

2021-01-05 09:27:37,264 INFO Welcome to the CDS
2021-01-05 09:27:37,264 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:37,330 INFO Request is queued

date - testing:  ['20000101', '20000103', '20000106']

2021-01-05 09:27:38,367 INFO Request is completed
2021-01-05 09:27:38,367 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835257.4755518-10983-2-913d14aa-2a1e-4a28-82b5-48341c613cf0.zip to download.zip (31.6K)
2021-01-05 09:27:38,459 INFO Download rate 346.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,96100.0,272.299988,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,96800.0,272.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97600.0,271.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97900.0,270.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,98100.0,269.500000,2000-01-06 12:00:00,10000030658

2021-01-05 09:27:38,567 INFO Welcome to the CDS
2021-01-05 09:27:38,568 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:38,634 INFO Request is queued

date - testing:  ['20000102', '20000101']

2021-01-05 09:27:39,670 INFO Request is completed
2021-01-05 09:27:39,671 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835258.760492-18851-17-ea3a0ac0-4ee6-4386-8bc3-9581b5a73a53.zip to download.zip (25.6K)
2021-01-05 09:27:39,733 INFO Download rate 411.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,94800.0,272.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,97800.0,273.600006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,98300.0,271.500000,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,99100.0,271.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,100000.0,271.700012,2000-01-02 12:00:00,10000030642

2021-01-05 09:27:39,827 INFO Welcome to the CDS
2021-01-05 09:27:39,827 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:39,893 INFO Request is queued

date - testing:  2000011

2021-01-05 09:27:40,929 INFO Request is failed
2021-01-05 09:27:40,930 ERROR Message: an internal error occurred processing your request
2021-01-05 09:27:40,930 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2021-01-05 09:27:40,930 ERROR   Traceback (most recent call last):
2021-01-05 09:27:40,931 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:27:40,931 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:27:40,931 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:27:40,931 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:27:40,932 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:27:40,932 ERROR       return p(*args, **kwargs)
2021-01-05 09:27:40,932 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:27:40,933 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:27:40,933 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:27:40,933 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:27:40,933 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2021-01-05 09:27:40,965 INFO Welcome to the CDS
2021-01-05 09:27:40,965 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:41,032 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'.
date - testing:  20000100

2021-01-05 09:27:42,069 INFO Request is failed
2021-01-05 09:27:42,069 ERROR Message: an internal error occurred processing your request
2021-01-05 09:27:42,070 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-05 09:27:42,070 ERROR   Traceback (most recent call last):
2021-01-05 09:27:42,070 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:27:42,071 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:27:42,071 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:27:42,071 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:27:42,071 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:27:42,072 ERROR       return p(*args, **kwargs)
2021-01-05 09:27:42,073 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:27:42,073 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:27:42,073 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:27:42,073 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:27:42,074 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-05 09:27:42,105 INFO Welcome to the CDS
2021-01-05 09:27:42,105 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:42,217 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
date - testing:  00000000

2021-01-05 09:27:43,254 INFO Request is failed
2021-01-05 09:27:43,255 ERROR Message: an internal error occurred processing your request
2021-01-05 09:27:43,255 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2021-01-05 09:27:43,256 ERROR   Traceback (most recent call last):
2021-01-05 09:27:43,256 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:27:43,256 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:27:43,256 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:27:43,257 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:27:43,257 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:27:43,257 ERROR       return p(*args, **kwargs)
2021-01-05 09:27:43,257 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:27:43,258 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:27:43,258 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:27:43,258 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:27:43,258 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2021-01-05 09:27:43,290 INFO Welcome to the CDS
2021-01-05 09:27:43,290 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:43,375 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'.
date - testing:  20000132

2021-01-05 09:27:44,411 INFO Request is failed
2021-01-05 09:27:44,411 ERROR Message: an internal error occurred processing your request
2021-01-05 09:27:44,412 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-05 09:27:44,412 ERROR   Traceback (most recent call last):
2021-01-05 09:27:44,412 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:27:44,412 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:27:44,413 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:27:44,413 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:27:44,413 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:27:44,414 ERROR       return p(*args, **kwargs)
2021-01-05 09:27:44,414 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:27:44,414 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:27:44,414 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:27:44,415 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:27:44,415 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-05 09:27:44,447 INFO Welcome to the CDS
2021-01-05 09:27:44,447 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:44,513 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
date - testing:  20001301

2021-01-05 09:27:45,549 INFO Request is failed
2021-01-05 09:27:45,549 ERROR Message: an internal error occurred processing your request
2021-01-05 09:27:45,550 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-05 09:27:45,550 ERROR   Traceback (most recent call last):
2021-01-05 09:27:45,550 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:27:45,551 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:27:45,551 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:27:45,551 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:27:45,552 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:27:45,552 ERROR       return p(*args, **kwargs)
2021-01-05 09:27:45,552 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:27:45,552 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:27:45,553 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:27:45,554 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:27:45,554 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-05 09:27:45,584 INFO Welcome to the CDS
2021-01-05 09:27:45,585 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:45,651 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
date - testing:  20000201-20000101

2021-01-05 09:27:48,223 INFO Request is failed
2021-01-05 09:27:48,224 ERROR Message: an internal error occurred processing your request
2021-01-05 09:27:48,224 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2021-01-05 09:27:48,225 ERROR   Traceback (most recent call last):
2021-01-05 09:27:48,225 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:27:48,225 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:27:48,225 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:27:48,226 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:27:48,226 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:27:48,226 ERROR       return p(*args, **kwargs)
2021-01-05 09:27:48,226 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:27:48,227 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:27:48,227 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:27:48,227 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:27:48,228 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2021-01-05 09:27:48,259 INFO Welcome to the CDS
2021-01-05 09:27:48,259 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:48,322 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'.
date - testing:  20000101/20000201

2021-01-05 09:27:49,357 INFO Request is failed
2021-01-05 09:27:49,357 ERROR Message: an internal error occurred processing your request
2021-01-05 09:27:49,358 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2021-01-05 09:27:49,358 ERROR   Traceback (most recent call last):
2021-01-05 09:27:49,358 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:27:49,359 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:27:49,359 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:27:49,359 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:27:49,359 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:27:49,360 ERROR       return p(*args, **kwargs)
2021-01-05 09:27:49,360 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:27:49,360 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:27:49,360 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:27:49,361 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:27:49,361 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2021-01-05 09:27:49,392 INFO Welcome to the CDS
2021-01-05 09:27:49,392 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:49,455 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'.
date - testing: finished
period - testing:  None

2021-01-05 09:27:50,491 INFO Request is running
2021-01-05 09:27:52,028 INFO Request is completed
2021-01-05 09:27:52,029 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835271.5066788-23642-16-5ab95a89-83a8-4004-b536-5438dade9cef.zip to download.zip (40M)
2021-01-05 09:27:56,788 INFO Download rate 8.4M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-05 09:27:57,883 INFO Welcome to the CDS
2021-01-05 09:27:57,883 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:57,954 INFO Request is queued

period - testing:  1979-01-01/1980-08-16

2021-01-05 09:27:58,990 INFO Request is completed
2021-01-05 09:27:58,990 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835278.19092-24004-13-188e4565-61de-4665-8140-d9a2d9c921b7.zip to download.zip (517.4K)
2021-01-05 09:27:59,167 INFO Download rate 2.9M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.360001,1000.0,212.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1300.0,215.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1700.0,202.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2000.0,204.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2700.0,208.699997,1979-01-01 00:00:00,10000000001
...,...,...,...,...,...,...
0,48.25,16.370001,81800.0,282.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,85000.0,285.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,88200.0,288.200012,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,93000.0,290.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,98000.0,294.799988,1980-08-16 12:00:00,10000002339

2021-01-05 09:27:59,272 INFO Welcome to the CDS
2021-01-05 09:27:59,273 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:27:59,334 INFO Request is queued

period - testing:  1980-01-02/1980-01-01

2021-01-05 09:28:00,370 INFO Request is failed
2021-01-05 09:28:00,371 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:00,371 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2021-01-05 09:28:00,371 ERROR   Traceback (most recent call last):
2021-01-05 09:28:00,372 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:00,372 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:00,372 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:00,372 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:00,373 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:00,373 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:00,373 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:00,373 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:00,374 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:00,374 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:00,374 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2021-01-05 09:28:00,405 INFO Welcome to the CDS
2021-01-05 09:28:00,406 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:00,472 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'.
period - testing: finished
pressure_level - testing:  100

2021-01-05 09:28:01,507 INFO Request is completed
2021-01-05 09:28:01,508 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835280.709214-31452-3-8900d73b-a836-4b69-a6d7-787ba7dd9c83.zip to download.zip (23.6K)
2021-01-05 09:28:01,571 INFO Download rate 372.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2021-01-05 09:28:01,659 INFO Welcome to the CDS
2021-01-05 09:28:01,659 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:01,730 INFO Request is queued

pressure_level - testing:  100

2021-01-05 09:28:02,765 INFO Request is completed
2021-01-05 09:28:02,766 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835281.949235-18681-16-37ed617b-743c-42c1-8e87-589623226507.zip to download.zip (23.6K)
2021-01-05 09:28:02,829 INFO Download rate 378.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2021-01-05 09:28:02,915 INFO Welcome to the CDS
2021-01-05 09:28:02,916 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:02,980 INFO Request is queued

pressure_level - testing:  [100, 200]

2021-01-05 09:28:04,016 INFO Request is completed
2021-01-05 09:28:04,017 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835283.1180365-18436-17-e58337d9-15a6-4e0c-a589-0e0f9a287fcc.zip to download.zip (23.6K)
2021-01-05 09:28:04,078 INFO Download rate 386.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2021-01-05 09:28:04,166 INFO Welcome to the CDS
2021-01-05 09:28:04,166 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:04,234 INFO Request is queued

pressure_level - testing:  ['100', '200']

2021-01-05 09:28:05,269 INFO Request is completed
2021-01-05 09:28:05,270 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835284.426736-22559-1-0c617ef2-a7f6-46a3-8824-399f1ce82bdc.zip to download.zip (23.6K)
2021-01-05 09:28:05,331 INFO Download rate 385K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2021-01-05 09:28:05,419 INFO Welcome to the CDS
2021-01-05 09:28:05,419 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:05,488 INFO Request is queued

pressure_level - testing:  0

2021-01-05 09:28:06,525 INFO Request is failed
2021-01-05 09:28:06,525 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:06,526 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2021-01-05 09:28:06,526 ERROR   Traceback (most recent call last):
2021-01-05 09:28:06,526 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:06,526 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:06,527 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:06,527 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:06,527 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:06,528 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:06,528 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:06,528 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:06,528 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:06,529 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:06,529 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2021-01-05 09:28:06,560 INFO Welcome to the CDS
2021-01-05 09:28:06,560 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:06,650 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'.
pressure_level - testing:  2000

2021-01-05 09:28:07,687 INFO Request is failed
2021-01-05 09:28:07,687 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:07,687 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2021-01-05 09:28:07,688 ERROR   Traceback (most recent call last):
2021-01-05 09:28:07,688 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:07,688 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:07,689 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:07,689 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:07,689 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:07,689 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:07,690 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:07,690 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:07,690 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:07,690 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:07,691 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2021-01-05 09:28:07,722 INFO Welcome to the CDS
2021-01-05 09:28:07,722 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:07,787 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'.
pressure_level - testing: finished
time - testing:  [22, 23, 0, 1, 2, 3]

2021-01-05 09:28:08,822 INFO Request is completed
2021-01-05 09:28:08,823 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835287.9225786-23001-15-ae418d62-1647-491d-870c-513c87d14cf3.zip to download.zip (43.3K)
2021-01-05 09:28:08,913 INFO Download rate 484.1K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2021-01-05 09:28:09,004 INFO Welcome to the CDS
2021-01-05 09:28:09,005 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:09,071 INFO Request is queued

time - testing:  ['22', '23', '00', '01', '02', '03']

2021-01-05 09:28:10,109 INFO Request is completed
2021-01-05 09:28:10,109 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835289.2051206-13935-14-7e85a832-2bcb-43f1-83b6-41a61de472a8.zip to download.zip (43.3K)
2021-01-05 09:28:10,199 INFO Download rate 484.1K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2021-01-05 09:28:10,382 INFO Welcome to the CDS
2021-01-05 09:28:10,383 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:10,449 INFO Request is queued

time - testing:

2021-01-05 09:28:11,486 INFO Request is completed
2021-01-05 09:28:11,487 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835290.6653872-23894-16-644e7850-555c-4772-9292-9e7dd44e72fd.zip to download.zip (67.9K)
2021-01-05 09:28:11,577 INFO Download rate 754.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-05 09:28:11,670 INFO Welcome to the CDS
2021-01-05 09:28:11,670 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:11,748 INFO Request is queued

time - testing:  0

2021-01-05 09:28:12,785 INFO Request is completed
2021-01-05 09:28:12,786 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835291.9965904-18237-19-0fb3527e-12dd-4e4f-b4d9-49e2ffa8f502.zip to download.zip (44.1K)
2021-01-05 09:28:12,877 INFO Download rate 486.8K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2021-01-05 09:28:12,971 INFO Welcome to the CDS
2021-01-05 09:28:12,972 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:13,040 INFO Request is queued

time - testing:  00

2021-01-05 09:28:14,076 INFO Request is completed
2021-01-05 09:28:14,077 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835293.1782465-24202-18-3e35f77f-8f8a-4ce7-9258-11c0bca2c28f.zip to download.zip (44.1K)
2021-01-05 09:28:14,167 INFO Download rate 492K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2021-01-05 09:28:14,259 INFO Welcome to the CDS
2021-01-05 09:28:14,260 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:14,328 INFO Request is queued

time - testing:  ['00']

2021-01-05 09:28:15,364 INFO Request is completed
2021-01-05 09:28:15,365 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835294.5316176-8605-1-47081e30-9ee4-4a07-bd62-71ad6dc8d06f.zip to download.zip (44.1K)
2021-01-05 09:28:15,456 INFO Download rate 486.9K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2021-01-05 09:28:15,550 INFO Welcome to the CDS
2021-01-05 09:28:15,550 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:15,617 INFO Request is queued

time - testing:  [0, 12]

2021-01-05 09:28:16,654 INFO Request is completed
2021-01-05 09:28:16,654 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835295.7549586-14803-17-eaf993b1-465e-4e93-a9b0-5e076e13bd3d.zip to download.zip (65.7K)
2021-01-05 09:28:16,745 INFO Download rate 729.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-05 09:28:16,840 INFO Welcome to the CDS
2021-01-05 09:28:16,840 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:16,904 INFO Request is queued

time - testing:  ['0', '12']

2021-01-05 09:28:17,940 INFO Request is completed
2021-01-05 09:28:17,941 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835297.0476124-17244-2-59cc9031-9a95-4446-b1c5-8be8981f08c4.zip to download.zip (65.7K)
2021-01-05 09:28:18,031 INFO Download rate 729.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-05 09:28:18,124 INFO Welcome to the CDS
2021-01-05 09:28:18,125 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:18,194 INFO Request is queued

time - testing:  24

2021-01-05 09:28:19,230 INFO Request is failed
2021-01-05 09:28:19,231 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:19,231 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2021-01-05 09:28:19,231 ERROR   Traceback (most recent call last):
2021-01-05 09:28:19,232 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:19,232 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:19,232 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:19,232 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:19,233 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:19,233 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:19,233 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:19,234 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:19,235 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:19,235 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:19,235 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2021-01-05 09:28:19,265 INFO Welcome to the CDS
2021-01-05 09:28:19,266 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:19,333 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'.
time - testing:  25

2021-01-05 09:28:20,370 INFO Request is failed
2021-01-05 09:28:20,371 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:20,371 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2021-01-05 09:28:20,371 ERROR   Traceback (most recent call last):
2021-01-05 09:28:20,372 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:20,372 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:20,372 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:20,372 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:20,373 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:20,373 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:20,374 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:20,374 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:20,374 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:20,375 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:20,375 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2021-01-05 09:28:20,405 INFO Welcome to the CDS
2021-01-05 09:28:20,406 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:20,473 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'.
time - testing:  12.5

2021-01-05 09:28:21,510 INFO Request is failed
2021-01-05 09:28:21,511 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:21,511 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2021-01-05 09:28:21,511 ERROR   Traceback (most recent call last):
2021-01-05 09:28:21,511 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:21,512 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:21,512 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:21,512 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:21,513 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:21,513 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:21,513 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:21,513 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:21,514 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:21,514 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:21,514 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2021-01-05 09:28:21,545 INFO Welcome to the CDS
2021-01-05 09:28:21,546 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:21,611 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'.
time - testing: finished
format - testing:  None

2021-01-05 09:28:22,647 INFO Request is completed
2021-01-05 09:28:22,648 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835301.760787-18803-1-8bfe5705-d7fe-4f2d-b0c3-c9742c9d9d7f.zip to download.zip (67.9K)
2021-01-05 09:28:22,739 INFO Download rate 747.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-05 09:28:22,832 INFO Welcome to the CDS
2021-01-05 09:28:22,832 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:22,898 INFO Request is queued

format - testing:  csv

2021-01-05 09:28:23,934 INFO Request is completed
2021-01-05 09:28:23,934 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835303.111598-19619-1-dc7365e8-08b2-4ca6-bbd2-4114bb11697d.zip to download.zip (29.1K)
2021-01-05 09:28:24,001 INFO Download rate 438.1K/s

,obs_id,lat,lon,plev,ta,time,trajectory_label,statid,statindex
0,0,48.2500,16.3700,640.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
1,1,48.2500,16.3700,700.0,223.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
2,2,48.2500,16.3700,790.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
3,3,48.2500,16.3700,880.0,220.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
4,4,48.2500,16.3700,1000.0,224.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
...,...,...,...,...,...,...,...,...,...
3850,3850,48.2486,16.3564,85000.0,263.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3851,3851,48.2486,16.3564,92500.0,268.05,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3852,3852,48.2486,16.3564,93100.0,268.25,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3853,3853,48.2486,16.3564,98000.0,272.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3854,3854,48.2486,16.3564,98700.0,274.15,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0

2021-01-05 09:28:24,093 INFO Welcome to the CDS
2021-01-05 09:28:24,093 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:24,158 INFO Request is queued

format - testing:  nc

2021-01-05 09:28:25,194 INFO Request is completed
2021-01-05 09:28:25,194 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835304.3066244-24083-16-2cf1c396-8010-4583-8d19-ad98af5fdd0f.zip to download.zip (67.9K)
2021-01-05 09:28:25,285 INFO Download rate 752.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-05 09:28:25,380 INFO Welcome to the CDS
2021-01-05 09:28:25,381 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:25,445 INFO Request is queued

format - testing:  netcdf

2021-01-05 09:28:26,482 INFO Request is failed
2021-01-05 09:28:26,482 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:26,482 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2021-01-05 09:28:26,483 ERROR   Traceback (most recent call last):
2021-01-05 09:28:26,483 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:26,483 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:26,483 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:26,484 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:26,484 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:26,484 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:26,484 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:26,485 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:26,485 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:26,485 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:26,486 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2021-01-05 09:28:26,517 INFO Welcome to the CDS
2021-01-05 09:28:26,518 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:26,586 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'.
format - testing:  csb

2021-01-05 09:28:27,622 INFO Request is failed
2021-01-05 09:28:27,622 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:27,622 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2021-01-05 09:28:27,623 ERROR   Traceback (most recent call last):
2021-01-05 09:28:27,623 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:27,623 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:27,624 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:27,624 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:27,624 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:27,624 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:27,625 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:27,625 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:27,625 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:27,625 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:27,626 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2021-01-05 09:28:27,657 INFO Welcome to the CDS
2021-01-05 09:28:27,657 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:27,719 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'.
format - testing:  txt

2021-01-05 09:28:28,756 INFO Request is failed
2021-01-05 09:28:28,757 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:28,757 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2021-01-05 09:28:28,757 ERROR   Traceback (most recent call last):
2021-01-05 09:28:28,758 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:28,758 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:28,758 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:28,759 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:28,759 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:28,759 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:28,759 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:28,760 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:28,760 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:28,760 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:28,760 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2021-01-05 09:28:28,792 INFO Welcome to the CDS
2021-01-05 09:28:28,792 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:28,878 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'.
format - testing: finished
y - testing:  None

2021-01-05 09:28:29,914 INFO Request is running
2021-01-05 09:28:31,451 INFO Request is completed
2021-01-05 09:28:31,452 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835310.9686744-3285-2-018b62b2-e39a-4529-9e86-473be4650748.zip to download.zip (40M)
2021-01-05 09:28:35,457 INFO Download rate 10M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-05 09:28:36,550 INFO Welcome to the CDS
2021-01-05 09:28:36,550 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:36,614 INFO Request is queued

y - testing:  2000

2021-01-05 09:28:37,651 INFO Request is completed
2021-01-05 09:28:37,652 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835316.748991-23577-18-c6cd1a74-0fca-404f-bb08-02a21df28c36.zip to download.zip (23.6K)
2021-01-05 09:28:37,712 INFO Download rate 392.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-05 09:28:37,805 INFO Welcome to the CDS
2021-01-05 09:28:37,805 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:37,873 INFO Request is queued

y - testing:  2000

2021-01-05 09:28:38,909 INFO Request is completed
2021-01-05 09:28:38,910 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835318.016021-16635-3-0d627f2b-808b-425f-aece-2ff2480789a0.zip to download.zip (23.6K)
2021-01-05 09:28:38,971 INFO Download rate 385.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-05 09:28:39,064 INFO Welcome to the CDS
2021-01-05 09:28:39,064 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:39,126 INFO Request is queued

y - testing:  ['2000', '2001']

2021-01-05 09:28:40,162 INFO Request is completed
2021-01-05 09:28:40,163 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835319.3433328-25743-1-8d3d54d8-bdd0-4d8f-9f17-8c9e14ed08f5.zip to download.zip (596.5K)
2021-01-05 09:28:40,340 INFO Download rate 3.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2021-01-05 09:28:40,446 INFO Welcome to the CDS
2021-01-05 09:28:40,446 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:40,510 INFO Request is queued

y - testing:  [2000, 2001]

2021-01-05 09:28:41,546 INFO Request is completed
2021-01-05 09:28:41,547 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835320.7621217-23273-17-8c6804ba-855f-4bdf-8e3e-988aa49bd7ab.zip to download.zip (596.5K)
2021-01-05 09:28:41,723 INFO Download rate 3.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2021-01-05 09:28:41,829 INFO Welcome to the CDS
2021-01-05 09:28:41,830 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:41,898 INFO Request is queued

y - testing:  0

2021-01-05 09:28:42,935 INFO Request is failed
2021-01-05 09:28:42,936 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:42,936 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2021-01-05 09:28:42,937 ERROR   Traceback (most recent call last):
2021-01-05 09:28:42,937 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:42,937 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:42,938 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:42,938 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:42,939 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:42,939 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:42,940 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:42,940 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:42,941 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:42,941 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:42,941 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2021-01-05 09:28:42,974 INFO Welcome to the CDS
2021-01-05 09:28:42,975 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:43,044 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'.
y - testing:  20000

2021-01-05 09:28:44,081 INFO Request is failed
2021-01-05 09:28:44,081 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:44,082 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2021-01-05 09:28:44,082 ERROR   Traceback (most recent call last):
2021-01-05 09:28:44,083 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:44,083 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:44,084 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:44,084 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:44,084 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:44,085 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:44,085 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:44,086 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:44,086 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:44,087 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:44,087 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2021-01-05 09:28:44,119 INFO Welcome to the CDS
2021-01-05 09:28:44,120 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:44,184 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'.
y - testing:  -2000

2021-01-05 09:28:45,220 INFO Request is failed
2021-01-05 09:28:45,220 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:45,221 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2021-01-05 09:28:45,221 ERROR   Traceback (most recent call last):
2021-01-05 09:28:45,222 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:45,222 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:45,223 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:45,223 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:45,223 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:45,224 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:45,224 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:45,225 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:45,225 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:45,226 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:45,226 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2021-01-05 09:28:45,259 INFO Welcome to the CDS
2021-01-05 09:28:45,260 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:45,329 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'.
m - testing:  None

2021-01-05 09:28:46,365 INFO Request is completed
2021-01-05 09:28:46,366 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835325.5589657-9742-1-e0087ae9-f708-4b3f-86af-5e7f3ca60bc7.zip to download.zip (547.1K)
2021-01-05 09:28:46,545 INFO Download rate 3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84900.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85000.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85200.0,264.700012,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,92500.0,270.500000,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,97400.0,273.600006,2000-12-31 12:00:00,10000032099

2021-01-05 09:28:46,676 INFO Welcome to the CDS
2021-01-05 09:28:46,677 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:46,741 INFO Request is queued

m - testing:  1

2021-01-05 09:28:47,777 INFO Request is completed
2021-01-05 09:28:47,778 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835326.9877841-22879-17-ef45c450-5a14-442a-9557-938f9ac662cc.zip to download.zip (23.6K)
2021-01-05 09:28:47,838 INFO Download rate 394.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-05 09:28:47,945 INFO Welcome to the CDS
2021-01-05 09:28:47,946 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:48,013 INFO Request is queued

m - testing:  1

2021-01-05 09:28:49,050 INFO Request is completed
2021-01-05 09:28:49,050 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835328.2220595-25751-1-f6707f5c-dc04-4d86-981a-32e877e0bd48.zip to download.zip (23.6K)
2021-01-05 09:28:49,112 INFO Download rate 385.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-05 09:28:49,232 INFO Welcome to the CDS
2021-01-05 09:28:49,233 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:49,343 INFO Request is completed
2021-01-05 09:28:49,344 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835318.016021-16635-3-0d627f2b-808b-425f-aece-2ff2480789a0.zip to download.zip (23.6K)
  0%|          | 0.00/23.6k [00:00<?, ?B/s]

m - testing:  01

2021-01-05 09:28:49,404 INFO Download rate 390.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-05 09:28:49,590 INFO Welcome to the CDS
2021-01-05 09:28:49,591 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:49,658 INFO Request is queued

m - testing:  ['01', '02']

2021-01-05 09:28:52,230 INFO Request is completed
2021-01-05 09:28:52,231 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835331.8813548-23482-15-4212bfd1-9b76-4b00-a79c-f61807e0627c.zip to download.zip (110.7K)
2021-01-05 09:28:52,347 INFO Download rate 951.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-05 09:28:52,443 INFO Welcome to the CDS
2021-01-05 09:28:52,443 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:52,511 INFO Request is queued

m - testing:  ['1', '2']

2021-01-05 09:28:53,549 INFO Request is completed
2021-01-05 09:28:53,549 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835332.7455883-14638-15-bfbf7970-bb59-49a9-b725-1aaeb502a300.zip to download.zip (110.7K)
2021-01-05 09:28:53,667 INFO Download rate 941.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-05 09:28:53,762 INFO Welcome to the CDS
2021-01-05 09:28:53,762 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:53,837 INFO Request is queued

m - testing:  [1, 2]

2021-01-05 09:28:54,874 INFO Request is completed
2021-01-05 09:28:54,875 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835334.0679178-27250-2-b1d44f45-37f4-4f18-b3fb-073fe19e51ec.zip to download.zip (110.7K)
2021-01-05 09:28:54,992 INFO Download rate 946.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-05 09:28:55,089 INFO Welcome to the CDS
2021-01-05 09:28:55,090 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:55,154 INFO Request is queued

m - testing:  00

2021-01-05 09:28:56,191 INFO Request is failed
2021-01-05 09:28:56,192 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:56,192 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-05 09:28:56,192 ERROR   Traceback (most recent call last):
2021-01-05 09:28:56,193 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:56,193 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:56,193 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:56,194 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:56,194 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:56,195 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:56,195 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:56,195 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:56,196 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:56,196 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:56,196 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-05 09:28:56,227 INFO Welcome to the CDS
2021-01-05 09:28:56,228 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:56,302 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  0

2021-01-05 09:28:57,340 INFO Request is failed
2021-01-05 09:28:57,341 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:57,341 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-05 09:28:57,341 ERROR   Traceback (most recent call last):
2021-01-05 09:28:57,341 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:57,342 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:57,342 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:57,342 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:57,343 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:57,343 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:57,343 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:57,343 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:57,344 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:57,345 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:57,345 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-05 09:28:57,375 INFO Welcome to the CDS
2021-01-05 09:28:57,376 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:57,440 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  13

2021-01-05 09:28:58,476 INFO Request is failed
2021-01-05 09:28:58,477 ERROR Message: an internal error occurred processing your request
2021-01-05 09:28:58,477 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-05 09:28:58,477 ERROR   Traceback (most recent call last):
2021-01-05 09:28:58,477 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:28:58,478 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:28:58,478 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:28:58,478 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:28:58,479 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:28:58,479 ERROR       return p(*args, **kwargs)
2021-01-05 09:28:58,479 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:28:58,479 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:28:58,480 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:28:58,480 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:28:58,480 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-05 09:28:58,511 INFO Welcome to the CDS
2021-01-05 09:28:58,512 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:58,616 INFO Request is completed
2021-01-05 09:28:58,616 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835318.016021-16635-3-0d627f2b-808b-425f-aece-2ff2480789a0.zip to download.zip (23.6K)
2021-01-05 09:28:58,677 INFO Download rate 389.1K/s

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
d - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-05 09:28:58,768 INFO Welcome to the CDS
2021-01-05 09:28:58,768 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:28:58,860 INFO Request is queued

d - testing:  31

2021-01-05 09:28:59,895 INFO Request is completed
2021-01-05 09:28:59,896 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835339.0937243-17738-17-345c5cc9-8221-488c-9c23-8ffeac8a6fe7.zip to download.zip (23.6K)
2021-01-05 09:28:59,957 INFO Download rate 391.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,2870.0,203.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3000.0,202.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3750.0,205.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4020.0,201.699997,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4600.0,208.500000,2000-01-31 00:00:00,10000030757
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-05 09:29:00,049 INFO Welcome to the CDS
2021-01-05 09:29:00,050 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:29:00,115 INFO Request is queued

d - testing:  ['01', '02']

2021-01-05 09:29:01,150 INFO Request is completed
2021-01-05 09:29:01,151 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835340.248935-14481-19-731c8db1-c3cf-42b9-a344-a56e8dd1b1bd.zip to download.zip (68.1K)
2021-01-05 09:29:01,241 INFO Download rate 755.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-05 09:29:01,336 INFO Welcome to the CDS
2021-01-05 09:29:01,337 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:29:01,402 INFO Request is queued

d - testing:  ['1', '2']

2021-01-05 09:29:02,438 INFO Request is completed
2021-01-05 09:29:02,439 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835341.6337435-23402-16-ffaf0552-e3ff-4fec-8871-ba65fd5a15e8.zip to download.zip (68.1K)
2021-01-05 09:29:02,529 INFO Download rate 754.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-05 09:29:02,623 INFO Welcome to the CDS
2021-01-05 09:29:02,624 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:29:02,701 INFO Request is queued

d - testing:  [1, 2]

2021-01-05 09:29:03,737 INFO Request is completed
2021-01-05 09:29:03,738 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835342.8450243-14762-13-d05994b2-9c22-49d4-b5d0-a1f896444586.zip to download.zip (68.1K)
2021-01-05 09:29:03,829 INFO Download rate 752.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-05 09:29:03,923 INFO Welcome to the CDS
2021-01-05 09:29:03,923 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:29:03,997 INFO Request is queued

d - testing:  00

2021-01-05 09:29:05,032 INFO Request is failed
2021-01-05 09:29:05,033 ERROR Message: an internal error occurred processing your request
2021-01-05 09:29:05,033 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-05 09:29:05,033 ERROR   Traceback (most recent call last):
2021-01-05 09:29:05,033 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:29:05,034 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:29:05,034 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:29:05,034 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:29:05,034 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:29:05,035 ERROR       return p(*args, **kwargs)
2021-01-05 09:29:05,035 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:29:05,035 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:29:05,036 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:29:05,036 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:29:05,036 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-05 09:29:05,067 INFO Welcome to the CDS
2021-01-05 09:29:05,068 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:29:05,134 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  0

2021-01-05 09:29:06,169 INFO Request is failed
2021-01-05 09:29:06,170 ERROR Message: an internal error occurred processing your request
2021-01-05 09:29:06,170 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-05 09:29:06,170 ERROR   Traceback (most recent call last):
2021-01-05 09:29:06,171 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:29:06,171 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:29:06,171 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:29:06,171 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:29:06,172 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:29:06,172 ERROR       return p(*args, **kwargs)
2021-01-05 09:29:06,172 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:29:06,172 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:29:06,173 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:29:06,173 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:29:06,173 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-05 09:29:06,204 INFO Welcome to the CDS
2021-01-05 09:29:06,205 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:29:06,281 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  32

2021-01-05 09:29:07,316 INFO Request is failed
2021-01-05 09:29:07,317 ERROR Message: an internal error occurred processing your request
2021-01-05 09:29:07,317 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-05 09:29:07,317 ERROR   Traceback (most recent call last):
2021-01-05 09:29:07,318 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:29:07,318 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:29:07,318 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:29:07,319 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:29:07,319 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:29:07,319 ERROR       return p(*args, **kwargs)
2021-01-05 09:29:07,319 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:29:07,320 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:29:07,320 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:29:07,320 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:29:07,321 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-05 09:29:07,352 INFO Welcome to the CDS
2021-01-05 09:29:07,352 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:29:07,440 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
ymd - testing: finished
size - testing:  air_temperature 11035

2021-01-05 09:29:08,476 INFO Request is running
2021-01-05 09:29:10,011 INFO Request is completed
2021-01-05 09:29:10,012 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835349.7151413-13710-2-9d7b2e32-1ee8-4a6d-9dfb-c8439ec93257.zip to download.zip (40M)
2021-01-05 09:29:13,486 INFO Download rate 11.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-05 09:29:14,581 INFO Welcome to the CDS
2021-01-05 09:29:14,582 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:29:14,654 INFO Request is queued

size - testing:  air_temperature 10393

2021-01-05 09:29:15,693 INFO Request is running
2021-01-05 09:29:35,668 INFO Request is completed
2021-01-05 09:29:35,668 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835370.9566927-4788-1-a7af5676-43c7-4584-a292-b11d8af54367.zip to download.zip (321.3M)
2021-01-05 09:30:00,035 INFO Download rate 13.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,52.216702,14.11670,20000.0,211.350006,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,25000.0,220.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,30000.0,228.449997,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,40000.0,241.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,50000.0,254.850006,1905-04-04 06:00:00,30000000001
...,...,...,...,...,...,...
0,52.209301,14.12041,101330.0,278.450012,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101400.0,278.369995,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101450.0,278.309998,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101510.0,278.250000,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101600.0,278.290009,2019-12-31 16:45:10,10000041139

2021-01-05 09:30:07,821 INFO Welcome to the CDS
2021-01-05 09:30:07,822 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

size - testing:  air_temperature 1 month all stations

2021-01-05 09:30:08,055 INFO Request is queued
2021-01-05 09:30:09,092 INFO Request is running
2021-01-05 09:30:16,338 INFO Request is completed
2021-01-05 09:30:16,338 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835414.6143157-13751-2-fb4d898b-1d79-4fd4-87b5-84e9e6ce11ca.zip to download.zip (39.9M)
2021-01-05 09:30:20,572 INFO Download rate 9.4M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,47.461399,-111.384697,960.0,213.350006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1000.0,212.949997,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1080.0,210.850006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1130.0,211.149994,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1390.0,216.449997,2010-01-01 00:00:00,30000055381
...,...,...,...,...,...,...
0,47.461399,-111.384697,83250.0,271.450012,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85000.0,271.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85900.0,268.250000,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,87600.0,265.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,88150.0,264.549988,2010-02-01 12:00:00,30000055444

2021-01-05 09:30:21,145 INFO Welcome to the CDS
2021-01-05 09:30:21,146 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:30:21,213 INFO Request is queued

size - testing:  air_temperature everything

2021-01-05 09:30:22,250 INFO Request is failed
2021-01-05 09:30:22,251 ERROR Message: an internal error occurred processing your request
2021-01-05 09:30:22,251 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-05 09:30:22,251 ERROR   Traceback (most recent call last):
2021-01-05 09:30:22,252 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:30:22,252 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:30:22,252 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:30:22,252 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:30:22,253 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:30:22,253 ERROR       return p(*args, **kwargs)
2021-01-05 09:30:22,253 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:30:22,253 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:30:22,254 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:30:22,254 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:30:22,254 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-05 09:30:22,286 INFO Welcome to the CDS
2021-01-05 09:30:22,286 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:30:22,371 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing:  all variables 1 month all stations

2021-01-05 09:30:23,407 INFO Request is failed
2021-01-05 09:30:23,408 ERROR Message: an internal error occurred processing your request
2021-01-05 09:30:23,408 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-05 09:30:23,408 ERROR   Traceback (most recent call last):
2021-01-05 09:30:23,409 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-05 09:30:23,409 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-05 09:30:23,409 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-05 09:30:23,409 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-05 09:30:23,410 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-05 09:30:23,410 ERROR       return p(*args, **kwargs)
2021-01-05 09:30:23,410 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-05 09:30:23,410 ERROR       return self.proc(context, *args, **kwargs)
2021-01-05 09:30:23,411 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-05 09:30:23,411 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-05 09:30:23,411 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-05 09:30:23,443 INFO Welcome to the CDS
2021-01-05 09:30:23,443 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:30:23,509 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing: finished
20300 - testing:  country

2021-01-05 09:30:24,545 INFO Request is completed
2021-01-05 09:30:24,545 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835423.8551369-14678-17-a27aa885-865e-4c38-b4c6-0b3921bc745f.zip to download.zip (148K)
2021-01-05 09:30:24,662 INFO Download rate 1.2M/s

Empty DataFrame
Columns: [lat, lon, plev, ta, time, trajectory_label]
Index: []

2021-01-05 09:30:24,905 INFO Welcome to the CDS
2021-01-05 09:30:24,905 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:30:24,968 INFO Request is queued

20300 - testing:  area

2021-01-05 09:30:26,006 INFO Request is running
2021-01-05 09:30:27,544 INFO Request is completed
2021-01-05 09:30:27,544 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1609835426.5689251-18535-15-fcaf2628-4b9c-4254-bc47-764718df6e05.zip to download.zip (33.6M)
2021-01-05 09:30:29,666 INFO Download rate 15.9M/s

      lat   lon      plev    ta                time trajectory_label
obs
0    50.0  50.0   32000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   40000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   43000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   50000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   52300.0  10.0 1949-02-08 04:00:00      30000000849
..    ...   ...       ...   ...                 ...              ...
0    50.0  50.0   99890.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100000.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100140.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100220.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100330.0  10.0 2019-12-31 11:32:33      10000055268

[3573965 rows x 6 columns]

2021-01-05 09:30:30,671 INFO Welcome to the CDS
2021-01-05 09:30:30,671 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-05 09:30:30,736 INFO Request is queued

20300 - testing:  20300*

2021-01-05 09:30:31,773 INFO Request is running
2021-01-05 09:30:33,309 INFO Request is completed
2021-01-05 09:30:33,310 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1609835432.412287-30058-3-335985f7-d2b0-4a89-8771-b51b7f41c2ca.zip to download.zip (33.6M)
2021-01-05 09:30:37,273 INFO Download rate 8.5M/s

      lat   lon      plev    ta                time trajectory_label
obs
0    50.0  50.0   32000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   40000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   43000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   50000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   52300.0  10.0 1949-02-08 04:00:00      30000000849
..    ...   ...       ...   ...                 ...              ...
0    50.0  50.0   99890.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100000.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100140.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100220.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100330.0  10.0 2019-12-31 11:32:33      10000055268

[3573965 rows x 6 columns]

20300 - testing: finished