In [1]:
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
from datetime import date
warnings.filterwarnings('ignore')

sys.path.append(os.getcwd()+'/../cds-backend/code/')
import cds_eua3 as eua

In [2]:
def request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.nc')
    
    with eua.CDMDataset(files[0]) as f:
        data = f.to_dataframe()
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [3]:
def csv_request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.csv')
    
    data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [4]:
def cdmrequest(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.nc')
    
    data = eua.CDMDataset(files[0])
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [5]:
#
# returns the whole dataframe instead of just the first bit whenever there are more files retrieved from the cds
# only relevant, if you would like to have a look at the data
#
def multi_request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test2/')
    z.close()
    
    datalist = []
    files = glob.glob('./test2/*.nc')
    with eua.CDMDataset(files[0]) as f:
        data = f.to_dataframe()
    if len(files) > 0:
        for i in files[1:]:
            with eua.CDMDataset(i) as f:
                add = f.to_dataframe()
            data = data.append(add, ignore_index=True)
#     if len(files) > 0:
#         for i in range(len(files)):
#             ds = xarray.open_dataset(files[i])            
#             to_be_removed = ['trajectory_index', 'trajectory']
#             for ivar in list(ds.variables):
#                 if 'string' in ivar:
#                     to_be_removed.append(ivar)

#                 if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
#                     report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
#                     ds = ds.drop_vars(ivar)
#                     ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???

#                 if ds[ivar].ndim > 1:
#                     tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
#                     ds = ds.drop_vars(ivar)
#                     idim = tmp.dims[0]
#                     ds[ivar] = (idim, tmp)

#             ds = ds.drop_vars(to_be_removed)
#             data = ds.to_dataframe()
#             datalist.append(data)
#         data = pd.concat(datalist, axis=0)
#     else:
#         files = glob.glob('./test2/*.csv')
#         data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test2/')
    except:
       print('Error while deleting directory')
    
    return data

In [6]:
def test_statid():
    log = []
    log.append('\n\n---STATID---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'all', 11035, '11035', '0-20001-0-11035', '0-20100-0-00701','11*', '1103*', '0-20100*', ['11035', 10393], ['0-20001-0-11035', '0-20001-0-10393']]:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            print(rd)
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['110350', '1103', '0-20000-0-1103', '0-20000-0-110350']:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        }
        try: 
            print(rd)
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('statid - testing: finished')
    return log

In [7]:
test_statid()

2021-05-25 11:19:14,727 INFO Welcome to the CDS
2021-05-25 11:19:14,728 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  None
{'variable': 'air_temperature', 'statid': None, 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:19:14,881 INFO Request is queued
2021-05-25 11:19:15,917 INFO Request is running
2021-05-25 11:19:28,252 INFO Request is completed
2021-05-25 11:19:28,253 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934364.0725882-15094-10-547797d8-d230-4aeb-9b8f-b63b5d084f0d.zip to download.zip (75.3M)
2021-05-25 11:19:43,116 INFO Download rate 5.1M/s
2021-05-25 11:19:52,876 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,50.279999,57.150002,12300.0,20000020980,AKTOBE,218.100006,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,50.279999,57.150002,15000.0,20000020980,AKTOBE,217.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,50.279999,57.150002,16900.0,20000020980,AKTOBE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,50.279999,57.150002,20000.0,20000020980,AKTOBE,214.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,50.279999,57.150002,20100.0,20000020980,AKTOBE,214.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3882,50.279999,57.150002,70000.0,20000021103,AKTOBE,260.100006,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3883,50.279999,57.150002,74000.0,20000021103,AKTOBE,263.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3884,50.279999,57.150002,85000.0,20000021103,AKTOBE,270.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3885,50.279999,57.150002,89500.0,20000021103,AKTOBE,273.799988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3886,50.279999,57.150002,95700.0,20000021103,AKTOBE,275.000000,1978-10-31 18:00:00,nnnnnnnnnnnnnn

statid - testing:  all
{'variable': 'air_temperature', 'statid': 'all', 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:19:57,221 INFO Welcome to the CDS
2021-05-25 11:19:57,222 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-05-25 11:19:57,378 INFO Request is queued
2021-05-25 11:19:58,415 INFO Request is running
2021-05-25 11:20:10,751 INFO Request is completed
2021-05-25 11:20:10,753 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934405.1719885-14652-16-25d837fb-3c0d-4c9f-b464-a25afe873770.zip to download.zip (75.3M)
2021-05-25 11:20:24,567 INFO Download rate 5.5M/s
2021-05-25 11:20:37,258 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,50.279999,57.150002,12300.0,20000020980,AKTOBE,218.100006,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,50.279999,57.150002,15000.0,20000020980,AKTOBE,217.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,50.279999,57.150002,16900.0,20000020980,AKTOBE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,50.279999,57.150002,20000.0,20000020980,AKTOBE,214.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,50.279999,57.150002,20100.0,20000020980,AKTOBE,214.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3882,50.279999,57.150002,70000.0,20000021103,AKTOBE,260.100006,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3883,50.279999,57.150002,74000.0,20000021103,AKTOBE,263.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3884,50.279999,57.150002,85000.0,20000021103,AKTOBE,270.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3885,50.279999,57.150002,89500.0,20000021103,AKTOBE,273.799988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3886,50.279999,57.150002,95700.0,20000021103,AKTOBE,275.000000,1978-10-31 18:00:00,nnnnnnnnnnnnnn

2021-05-25 11:20:39,405 INFO Welcome to the CDS
2021-05-25 11:20:39,407 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  11035
{'variable': 'air_temperature', 'statid': 11035, 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:20:39,562 INFO Request is queued
2021-05-25 11:20:40,599 INFO Request is completed
2021-05-25 11:20:40,600 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934439.7975087-15304-13-8f905dd6-4a70-40bf-b5db-fb3effd50206.zip to download.zip (111.5K)
2021-05-25 11:20:40,770 INFO Download rate 659.6K/s
2021-05-25 11:20:40,808 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:20:41,008 INFO Welcome to the CDS
2021-05-25 11:20:41,009 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  11035
{'variable': 'air_temperature', 'statid': '11035', 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:20:41,168 INFO Request is queued
2021-05-25 11:20:42,204 INFO Request is completed
2021-05-25 11:20:42,206 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934441.3170037-15499-14-1358029e-fae5-44c8-941e-0c6386f55476.zip to download.zip (111.5K)
2021-05-25 11:20:42,386 INFO Download rate 624.9K/s
2021-05-25 11:20:42,402 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:20:42,602 INFO Welcome to the CDS
2021-05-25 11:20:42,604 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  0-20001-0-11035
{'variable': 'air_temperature', 'statid': '0-20001-0-11035', 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:20:42,756 INFO Request is queued
2021-05-25 11:20:43,792 INFO Request is completed
2021-05-25 11:20:43,793 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934442.912339-17125-12-5d4646cf-aca4-4491-9ef9-11e82e703e12.zip to download.zip (111.5K)
2021-05-25 11:20:43,943 INFO Download rate 746.6K/s
2021-05-25 11:20:44,008 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:20:44,217 INFO Welcome to the CDS
2021-05-25 11:20:44,217 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  0-20100-0-00701
{'variable': 'air_temperature', 'statid': '0-20100-0-00701', 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:20:44,368 INFO Request is queued
2021-05-25 11:20:45,402 INFO Request is completed
2021-05-25 11:20:45,403 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934444.5014386-15647-6-8041e86f-9ffd-4b28-8b68-f3951a9a538c.zip to download.zip (35.2K)
2021-05-25 11:20:45,496 INFO Download rate 379.2K/s
2021-05-25 11:20:45,526 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,ta,time,trajectory_label
0,46.811578,6.942472,3000.0,0-20100-0-00701-001,213.35,1978-10-10 10:59:12,nnnnnnnnnnnnnnnnnnn
1,46.811578,6.942472,5000.0,0-20100-0-00701-001,210.85,1978-10-10 10:50:24,nnnnnnnnnnnnnnnnnnn
2,46.811578,6.942472,7000.0,0-20100-0-00701-001,209.15,1978-10-10 10:44:42,nnnnnnnnnnnnnnnnnnn
3,46.811578,6.942472,10000.0,0-20100-0-00701-001,207.85,1978-10-10 10:38:54,nnnnnnnnnnnnnnnnnnn
4,46.811578,6.942472,15000.0,0-20100-0-00701-001,205.55,1978-10-10 10:30:18,nnnnnnnnnnnnnnnnnnn
...,...,...,...,...,...,...,...
584,46.811578,6.942472,40000.0,0-20100-0-00701-055,245.25,1978-10-31 10:10:30,nnnnnnnnnnnnnnnnnnn
585,46.811578,6.942472,50000.0,0-20100-0-00701-055,257.05,1978-10-31 10:04:42,nnnnnnnnnnnnnnnnnnn
586,46.811578,6.942472,70000.0,0-20100-0-00701-055,275.15,1978-10-31 09:55:06,nnnnnnnnnnnnnnnnnnn
587,46.811578,6.942472,85000.0,0-20100-0-00701-055,283.65,1978-10-31 09:48:54,nnnnnnnnnnnnnnnnnnn
588,46.811578,6.942472,90000.0,0-20100-0-00701-055,283.95,1978-10-31 09:47:00,nnnnnnnnnnnnnnnnnnn

2021-05-25 11:20:45,716 INFO Welcome to the CDS
2021-05-25 11:20:45,717 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  11*
{'variable': 'air_temperature', 'statid': '11*', 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:20:45,867 INFO Request is queued
2021-05-25 11:20:46,905 INFO Request is completed
2021-05-25 11:20:46,907 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934446.2753105-15258-15-889002b0-d01d-4c04-82f2-102f37b6b4bb.zip to download.zip (449.5K)
2021-05-25 11:20:47,185 INFO Download rate 1.6M/s
2021-05-25 11:20:47,254 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,49.029999,20.32,1000.0,20000001181,POPRAD-GANOVCE,223.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,49.029999,20.32,1700.0,20000001181,POPRAD-GANOVCE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,49.029999,20.32,2000.0,20000001181,POPRAD-GANOVCE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,49.029999,20.32,2520.0,20000001181,POPRAD-GANOVCE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,49.029999,20.32,2800.0,20000001181,POPRAD-GANOVCE,215.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3240,49.029999,20.32,63000.0,20000001304,POPRAD-GANOVCE,264.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3241,49.029999,20.32,70000.0,20000001304,POPRAD-GANOVCE,266.500000,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3242,49.029999,20.32,75000.0,20000001304,POPRAD-GANOVCE,267.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3243,49.029999,20.32,82000.0,20000001304,POPRAD-GANOVCE,270.500000,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3244,49.029999,20.32,85000.0,20000001304,POPRAD-GANOVCE,272.500000,1978-10-31 18:00:00,nnnnnnnnnnnnnn

2021-05-25 11:20:47,543 INFO Welcome to the CDS
2021-05-25 11:20:47,544 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  1103*
{'variable': 'air_temperature', 'statid': '1103*', 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:20:47,715 INFO Request is queued
2021-05-25 11:20:48,753 INFO Request is completed
2021-05-25 11:20:48,755 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934447.9423537-17039-14-e0053937-f5fd-49d1-b44a-c90b4e3c473d.zip to download.zip (111.5K)
2021-05-25 11:20:48,935 INFO Download rate 620.3K/s
2021-05-25 11:20:49,023 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:20:49,231 INFO Welcome to the CDS
2021-05-25 11:20:49,231 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  0-20100*
{'variable': 'air_temperature', 'statid': '0-20100*', 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:20:49,382 INFO Request is queued
2021-05-25 11:20:50,414 INFO Request is running
2021-05-25 11:20:54,235 INFO Request is completed
2021-05-25 11:20:54,236 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934452.6595147-16614-16-ad3bfe05-5c0f-4285-827b-1e2c137a97ab.zip to download.zip (118.7K)
2021-05-25 11:20:54,377 INFO Download rate 848.9K/s
2021-05-25 11:20:54,461 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,ta,time,trajectory_label
0,46.811578,6.942472,3000.0,0-20100-0-00701-001,213.35,1978-10-10 10:59:12,nnnnnnnnnnnnnnnnnnn
1,46.811578,6.942472,5000.0,0-20100-0-00701-001,210.85,1978-10-10 10:50:24,nnnnnnnnnnnnnnnnnnn
2,46.811578,6.942472,7000.0,0-20100-0-00701-001,209.15,1978-10-10 10:44:42,nnnnnnnnnnnnnnnnnnn
3,46.811578,6.942472,10000.0,0-20100-0-00701-001,207.85,1978-10-10 10:38:54,nnnnnnnnnnnnnnnnnnn
4,46.811578,6.942472,15000.0,0-20100-0-00701-001,205.55,1978-10-10 10:30:18,nnnnnnnnnnnnnnnnnnn
...,...,...,...,...,...,...,...
584,46.811578,6.942472,40000.0,0-20100-0-00701-055,245.25,1978-10-31 10:10:30,nnnnnnnnnnnnnnnnnnn
585,46.811578,6.942472,50000.0,0-20100-0-00701-055,257.05,1978-10-31 10:04:42,nnnnnnnnnnnnnnnnnnn
586,46.811578,6.942472,70000.0,0-20100-0-00701-055,275.15,1978-10-31 09:55:06,nnnnnnnnnnnnnnnnnnn
587,46.811578,6.942472,85000.0,0-20100-0-00701-055,283.65,1978-10-31 09:48:54,nnnnnnnnnnnnnnnnnnn
588,46.811578,6.942472,90000.0,0-20100-0-00701-055,283.95,1978-10-31 09:47:00,nnnnnnnnnnnnnnnnnnn

2021-05-25 11:20:54,665 INFO Welcome to the CDS
2021-05-25 11:20:54,666 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  ['11035', 10393]
{'variable': 'air_temperature', 'statid': ['11035', 10393], 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:20:54,817 INFO Request is queued
2021-05-25 11:20:55,853 INFO Request is completed
2021-05-25 11:20:55,855 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934455.0442426-17442-14-c68b3b54-979c-4346-bac3-1353bd218c4f.zip to download.zip (244.6K)
2021-05-25 11:20:56,058 INFO Download rate 1.2M/s
2021-05-25 11:20:56,082 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:20:56,285 INFO Welcome to the CDS
2021-05-25 11:20:56,286 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  ['0-20001-0-11035', '0-20001-0-10393']
{'variable': 'air_temperature', 'statid': ['0-20001-0-11035', '0-20001-0-10393'], 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:20:56,436 INFO Request is queued
2021-05-25 11:20:57,472 INFO Request is completed
2021-05-25 11:20:57,474 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934456.6703749-16346-16-53e6a567-b993-4726-85cf-f8f374b8d2ae.zip to download.zip (244.6K)
2021-05-25 11:20:57,787 INFO Download rate 783.8K/s
2021-05-25 11:20:57,803 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:20:57,995 INFO Welcome to the CDS
2021-05-25 11:20:57,997 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  110350
{'variable': 'air_temperature', 'statid': '110350', 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:20:58,145 INFO Request is queued
2021-05-25 11:20:59,179 INFO Request is failed
2021-05-25 11:20:59,180 ERROR Message: an internal error occurred processing your request
2021-05-25 11:20:59,181 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:20:59,183 ERROR   Traceback (most recent call last):
2021-05-25 11:20:59,184 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:20:59,186 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:20:59,187 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:20:59,188 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:20:59,190 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:20:59,191 ERROR       return p(*args, **kwargs)
2021-05-25 11:20:59,192 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:20:59,193 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:20:59,194 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:20:59,195 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:20:59,197 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:20:59,334 INFO Welcome to the CDS
2021-05-25 11:20:59,335 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
statid - testing:  1103
{'variable': 'air_temperature', 'statid': '1103', 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:20:59,493 INFO Request is queued
2021-05-25 11:21:00,528 INFO Request is failed
2021-05-25 11:21:00,530 ERROR Message: an internal error occurred processing your request
2021-05-25 11:21:00,531 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:21:00,532 ERROR   Traceback (most recent call last):
2021-05-25 11:21:00,533 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:21:00,534 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:21:00,535 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:21:00,536 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:21:00,537 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:21:00,538 ERROR       return p(*args, **kwargs)
2021-05-25 11:21:00,539 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:21:00,540 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:21:00,541 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:21:00,542 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:21:00,543 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:21:00,665 INFO Welcome to the CDS
2021-05-25 11:21:00,666 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
statid - testing:  0-20000-0-1103
{'variable': 'air_temperature', 'statid': '0-20000-0-1103', 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:21:00,822 INFO Request is queued
2021-05-25 11:21:01,859 INFO Request is failed
2021-05-25 11:21:01,861 ERROR Message: an internal error occurred processing your request
2021-05-25 11:21:01,862 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:21:01,865 ERROR   Traceback (most recent call last):
2021-05-25 11:21:01,866 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:21:01,869 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:21:01,870 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:21:01,871 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:21:01,872 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:21:01,874 ERROR       return p(*args, **kwargs)
2021-05-25 11:21:01,875 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:21:01,876 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:21:01,881 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:21:01,882 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:21:01,884 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:21:02,025 INFO Welcome to the CDS
2021-05-25 11:21:02,026 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
statid - testing:  0-20000-0-110350
{'variable': 'air_temperature', 'statid': '0-20000-0-110350', 'date': '19781001-19781031', 'cachworkaround': 0.6941978331199204}

2021-05-25 11:21:02,180 INFO Request is queued
2021-05-25 11:21:03,216 INFO Request is failed
2021-05-25 11:21:03,218 ERROR Message: an internal error occurred processing your request
2021-05-25 11:21:03,219 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:21:03,220 ERROR   Traceback (most recent call last):
2021-05-25 11:21:03,221 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:21:03,222 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:21:03,223 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:21:03,224 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:21:03,225 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:21:03,226 ERROR       return p(*args, **kwargs)
2021-05-25 11:21:03,227 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:21:03,228 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:21:03,229 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:21:03,230 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:21:03,231 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
statid - testing: finished

['\n\n---STATID---',
 '\n1 request successful: None',
 '\n1 request successful: all',
 '\n1 request successful: 11035',
 '\n1 request successful: 11035',
 '\n1 request successful: 0-20001-0-11035',
 '\n1 request successful: 0-20100-0-00701',
 '\n1 request successful: 11*',
 '\n1 request successful: 1103*',
 '\n1 request successful: 0-20100*',
 "\n1 request successful: ['11035', 10393]",
 "\n1 request successful: ['0-20001-0-11035', '0-20001-0-10393']",
 "\n1 request successfully failed: 110350\n     'A server error occurred.  Please contact the administrator.'.",
 "\n1 request successfully failed: 1103\n     'A server error occurred.  Please contact the administrator.'.",
 "\n1 request successfully failed: 0-20000-0-1103\n     'A server error occurred.  Please contact the administrator.'.",
 "\n1 request successfully failed: 0-20000-0-110350\n     'A server error occurred.  Please contact the administrator.'."]

In [8]:
def test_variable():
    log = []
    log.append('\n\n---VARIABLE---')
    cachworkaround = np.random.random_sample()
    for s in ['air_temperature','dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['temperature', 'dew_point', 'wind', 'humidity', 'sonde_type']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('variable - testing: finished')
    return log

In [9]:
def test_optional():
    log = []
    log.append('\n\n---OPTIONAL---')
    cachworkaround = np.random.random_sample()
    for s in ['sonde_type', 'bias_estimate', 'obs_minus_an', 'obs_minus_bg']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['11035'], # '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ ' - ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['sonde', 'air_temperature', 'dew_point_temperature']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['11035'],# '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [10]:
def test_area():
    log = []
    log.append('\n\n---AREA---')
    cachworkaround = np.random.random_sample()
    for s in [[80,140,-40,359], [50,0,40,20], [49,-180,48,180], [49,0,48,360], [90, -180, -90, 180]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [[80,140,70], [80,140,70,150,0],[0,0,0,0], [40,20,50,0], [49,-180,48,360]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('area - testing: finished')
    return log

In [11]:
def test_country():
    log = []
    log.append('\n\n---COUNTRY---')
    cachworkaround = np.random.random_sample()
    for s in ['GLOBE', 'ALL', 'NOR', ["NOR","DEU"]]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['NORWAY', 'nor',]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('country - testing: finished')
    return log

In [12]:
def test_date(): 
    log = []
    log.append('\n\n---DATE---')
    cachworkaround = np.random.random_sample()
    for s in [None, '20000231', '20000101', '20000101-20000201', ['20000101', '20000103', '20000106'], ['20000102', '20000101']]:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['2000011', '20000100', '00000000', '20000132', '20001301', '20000201-20000101', '20000101/20000201']:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('date - testing: finished')
    return log

In [13]:
def test_period(): 
    log = []
    log.append('\n\n---PERIOD---')
    # not working: ['1979-01-01/1980-08-16']
    cachworkaround = np.random.random_sample()
    for s in [None, '1979-01-01/1980-08-16']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['1980-01-02/1980-01-01']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('period - testing: finished')
    return log

In [14]:
def test_pressure_level():
    log = []
    log.append('\n\n---PRESSURE LEVEL---')
    cachworkaround = np.random.random_sample()
    for s in [100, '100', [100, 200], ['100', '200']]:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    for s in ['0', '2000']:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    print('pressure_level - testing: finished')
    return log

In [15]:
def test_time():
    log = []
    log.append('\n\n---TIME---')
    cachworkaround = np.random.random_sample()
    for s in [[22,23,0,1,2,3], ["22","23","00","01","02","03"], '', '0', '00', ["00"], [0,12], ["0","12"]]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
#             'da': False,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['24', '25', '12.5', ]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
#             'da': False,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('time - testing: finished')
    return log

In [16]:
def test_format():
    log = []
    log.append('\n\n---FORMAT---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'nc']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['csv',]:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(csv_request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['netcdf', 'csb', 'txt']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('format - testing: finished')
    return log

In [17]:
def test_ymd():
    log = []
    # if one of them is None -> no date selected = the whole dataset - change?
    cachworkaround = np.random.random_sample()
    log.append('\n\n---YEAR---')
    for s in [None, 2000, '2000', ['2000', '2001'], [2000, 2001]]:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [0, '20000', '-2000']:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---MONTH---')
    for s in [None, 1, '1', '01', ['01', '02'], ['1', '2'], [1, 2]]:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '13']:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---DAY---')
    for s in ['01', '31', ['01', '02'], ['1', '2'], [1, 2]]:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '32']:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('ymd - testing: finished')
    return log

In [18]:
def test_size():
    log = []
    log.append('\n\n---SIZE---')
    cachworkaround = np.random.random_sample()
    s = 'air_temperature 11035'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'air_temperature 10393'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '10393',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = 'air_temperature 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    s = 'air_temperature everything'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'all variables 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed'],
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('size - testing: finished')
    return log

In [19]:
def test_20300():
    log = []
    log.append('\n\n---20300---')
    cachworkaround = np.random.random_sample()
    s = 'country'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'country': 'KAZ',
        'date': '20191230-20191231',
        'cachworkaround': cachworkaround,
    } 
    try:
        check_data = multi_request(rd)
#         check_data = check_data[check_data.lat == 50][check_data.lon == 50]
        display(check_data)
        if(len(check_data) < 1):
            log.append('\n0 request failed: ' + str(s))
        else:
            log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'area'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'area': [51,49,49,51],
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = '20300*'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '0-20300*',
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('20300 - testing: finished')
    return log

In [20]:
def test_optional():
    log = []
    log.append('\n\n---optional---')
    cachworkaround = np.random.random_sample()
    s = ['sonde_type', 'bias_estimate','obs_minus_an','obs_minus_bg',
         'RISE_bias_estimate', 'RICH_bias_estimate', 'RASE_bias_estimate', 'RAOBCORE_bias_estimate', 
         'desroziers_30', 'desroziers_60', 'desroziers_90', 'desroziers_180', 
         'wind_bias_estimate', 'humidity_bias_estimate']
    var = ['temperature', 'temperature', 'temperature', 'temperature',
           'temperature', 'temperature', 'temperature', 'temperature',
           'temperature', 'temperature', 'temperature', 'temperature',
           'u_component_of_wind', 'relative_humidity']
    for i in range(len(s)):
        print('optional - testing: ', s[i])
        rd={
            'variable': var[i],
            'statid': '11035',
            'optional': s[i],
            'date': '20191230-20191231',
            'cachworkaround': cachworkaround,
        } 
        try:
            check_data = request(rd)
            display(check_data)
            if(len(check_data) < 1):
                log.append('\n0 request failed: ' + str(s[i]))
            else:
                log.append('\n1 request successful: ' + str(s[i]))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [21]:
def test_toolbox():
    log = []
    log.append('\n\n---toolbox---')
    cachworkaround = np.random.random_sample()
    s = 'bias_estimate'
    print('toolbox - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'optional': s,
        'toolbox': 'True',
        'date': '20191230-20191231',
        'cachworkaround': cachworkaround,
    } 
    try:
        check_data = request(rd)
        display(check_data)
        if(len(check_data) < 1):
            log.append('\n0 request failed: ' + str(s))
        else:
            log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('toolbox - testing: finished')
    return log

In [22]:
def test_cdm():
    log = []
    log.append('\n\n---cdm---')
    cachworkaround = np.random.random_sample()
    s = ['era5fb/date@hdr', 'sensor_configuration/comments', 'sensor_configuration/observing_method', 'header_table/location_accuracy',
         'crs', 'observations_table/location_method', 'era5fb/obsvalue@body']
    for i in s:
        print('cds - testing: ', i)
        rd={
            'variable': 'temperature',
            'statid': '11035',
            'cdm': [i],
            'date': '20191230-20191231',
            'cachworkaround': cachworkaround,
        } 
        try:
            check_data = cdmrequest(rd)
            display(check_data)
            if(len(check_data['lat'][:]) < 1):
                log.append('\n0 request failed: ' + str(i))
            else:
                log.append('\n1 request successful: ' + str(i))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('cdm - testing: finished')
    return log

In [23]:
def server_test():
    log = []
    log.append('Testing Server Requests \n')
    log.append('0 = failed | 1 = succeeded \n')
    a = !git rev-parse HEAD
    log.append('GIT revision: ' + str(a) + ' \n')
    log.append(str(date.today())+ ' \n')
    try: log.extend(test_statid())
    except: log.append('\nstatid - test: failed \n')
    try: log.extend(test_variable())
    except: log.append('\nvariable - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_area())
    except: log.append('\narea - test: failed \n')
    try: log.extend(test_country())
    except: log.append('\ncountry - test: failed \n')
    try: log.extend(test_date())
    except: log.append('\ndate - test: failed \n')
    try: log.extend(test_period())
    except: log.append('\nperiod - test: failed \n')
    try: log.extend(test_pressure_level())
    except: log.append('\npressure_level - test: failed \n')
    try: log.extend(test_time())
    except: log.append('\ntime - test: failed \n')
    try: log.extend(test_format())
    except: log.append('\nformat - test: failed \n')
    try: log.extend(test_ymd())
    except: log.append('\nymd - test: failed \n')
    log.append('\nsize - test: disabled \n')
#     try: log.extend(test_size())
#     except: log.append('\nsize - test: failed \n')
    try: log.extend(test_20300())
    except: log.append('\n20300 - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_toolbox())
    except: log.append('\ntoolbox - test: failed \n')
    try: log.extend(test_cdm())
    except: log.append('\ncdm - test: failed \n')
        
    writelog=open(str(date.today()) + '_server_test_log.txt','w')
    writelog.writelines(log)
    writelog.close()

In [24]:
server_test()

2021-05-25 11:21:04,942 INFO Welcome to the CDS
2021-05-25 11:21:04,944 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  None
{'variable': 'air_temperature', 'statid': None, 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:21:05,097 INFO Request is queued
2021-05-25 11:21:06,133 INFO Request is running
2021-05-25 11:21:18,479 INFO Request is completed
2021-05-25 11:21:18,482 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934473.3808982-15382-16-0a284ed6-bdcd-40af-b6d5-7d335ce2a1b8.zip to download.zip (75.3M)
2021-05-25 11:21:28,231 INFO Download rate 7.7M/s
2021-05-25 11:21:32,266 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,50.279999,57.150002,12300.0,20000020980,AKTOBE,218.100006,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,50.279999,57.150002,15000.0,20000020980,AKTOBE,217.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,50.279999,57.150002,16900.0,20000020980,AKTOBE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,50.279999,57.150002,20000.0,20000020980,AKTOBE,214.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,50.279999,57.150002,20100.0,20000020980,AKTOBE,214.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3882,50.279999,57.150002,70000.0,20000021103,AKTOBE,260.100006,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3883,50.279999,57.150002,74000.0,20000021103,AKTOBE,263.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3884,50.279999,57.150002,85000.0,20000021103,AKTOBE,270.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3885,50.279999,57.150002,89500.0,20000021103,AKTOBE,273.799988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3886,50.279999,57.150002,95700.0,20000021103,AKTOBE,275.000000,1978-10-31 18:00:00,nnnnnnnnnnnnnn

2021-05-25 11:21:34,375 INFO Welcome to the CDS
2021-05-25 11:21:34,376 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  all
{'variable': 'air_temperature', 'statid': 'all', 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:21:34,530 INFO Request is queued
2021-05-25 11:21:35,564 INFO Request is running
2021-05-25 11:21:42,800 INFO Request is completed
2021-05-25 11:21:42,802 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934502.3067589-15478-17-083514bb-147b-48e8-a312-2c6506269838.zip to download.zip (75.3M)
2021-05-25 11:21:52,774 INFO Download rate 7.6M/s
2021-05-25 11:22:04,004 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,50.279999,57.150002,12300.0,20000020980,AKTOBE,218.100006,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,50.279999,57.150002,15000.0,20000020980,AKTOBE,217.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,50.279999,57.150002,16900.0,20000020980,AKTOBE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,50.279999,57.150002,20000.0,20000020980,AKTOBE,214.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,50.279999,57.150002,20100.0,20000020980,AKTOBE,214.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3882,50.279999,57.150002,70000.0,20000021103,AKTOBE,260.100006,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3883,50.279999,57.150002,74000.0,20000021103,AKTOBE,263.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3884,50.279999,57.150002,85000.0,20000021103,AKTOBE,270.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3885,50.279999,57.150002,89500.0,20000021103,AKTOBE,273.799988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3886,50.279999,57.150002,95700.0,20000021103,AKTOBE,275.000000,1978-10-31 18:00:00,nnnnnnnnnnnnnn

2021-05-25 11:22:05,224 INFO Welcome to the CDS
2021-05-25 11:22:05,226 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  11035
{'variable': 'air_temperature', 'statid': 11035, 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:05,383 INFO Request is queued
2021-05-25 11:22:06,419 INFO Request is completed
2021-05-25 11:22:06,420 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934525.6029916-15115-16-b3001bb1-122a-440b-9aed-b6912372d46f.zip to download.zip (111.5K)
2021-05-25 11:22:06,567 INFO Download rate 764.4K/s
2021-05-25 11:22:06,611 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:22:06,816 INFO Welcome to the CDS
2021-05-25 11:22:06,817 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  11035
{'variable': 'air_temperature', 'statid': '11035', 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:06,965 INFO Request is queued
2021-05-25 11:22:08,004 INFO Request is completed
2021-05-25 11:22:08,006 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934527.3056946-5944-6-e4fd3413-00a8-4c44-b5c0-251da8e3f6f8.zip to download.zip (111.5K)
2021-05-25 11:22:08,179 INFO Download rate 647.2K/s
2021-05-25 11:22:08,263 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:22:08,503 INFO Welcome to the CDS
2021-05-25 11:22:08,505 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  0-20001-0-11035
{'variable': 'air_temperature', 'statid': '0-20001-0-11035', 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:08,660 INFO Request is queued
2021-05-25 11:22:09,696 INFO Request is completed
2021-05-25 11:22:09,697 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934528.8252096-6297-6-6cfc0a15-ede8-46f8-b627-0f705ec42651.zip to download.zip (111.5K)
2021-05-25 11:22:09,864 INFO Download rate 674.1K/s
2021-05-25 11:22:09,908 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:22:10,111 INFO Welcome to the CDS
2021-05-25 11:22:10,112 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  0-20100-0-00701
{'variable': 'air_temperature', 'statid': '0-20100-0-00701', 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:10,268 INFO Request is queued
2021-05-25 11:22:11,305 INFO Request is completed
2021-05-25 11:22:11,307 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934530.390436-15536-15-f9b87529-895b-4e8f-af28-d6dbde43a6d1.zip to download.zip (35.2K)
2021-05-25 11:22:11,402 INFO Download rate 372.1K/s
2021-05-25 11:22:11,440 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,ta,time,trajectory_label
0,46.811578,6.942472,3000.0,0-20100-0-00701-001,213.35,1978-10-10 10:59:12,nnnnnnnnnnnnnnnnnnn
1,46.811578,6.942472,5000.0,0-20100-0-00701-001,210.85,1978-10-10 10:50:24,nnnnnnnnnnnnnnnnnnn
2,46.811578,6.942472,7000.0,0-20100-0-00701-001,209.15,1978-10-10 10:44:42,nnnnnnnnnnnnnnnnnnn
3,46.811578,6.942472,10000.0,0-20100-0-00701-001,207.85,1978-10-10 10:38:54,nnnnnnnnnnnnnnnnnnn
4,46.811578,6.942472,15000.0,0-20100-0-00701-001,205.55,1978-10-10 10:30:18,nnnnnnnnnnnnnnnnnnn
...,...,...,...,...,...,...,...
584,46.811578,6.942472,40000.0,0-20100-0-00701-055,245.25,1978-10-31 10:10:30,nnnnnnnnnnnnnnnnnnn
585,46.811578,6.942472,50000.0,0-20100-0-00701-055,257.05,1978-10-31 10:04:42,nnnnnnnnnnnnnnnnnnn
586,46.811578,6.942472,70000.0,0-20100-0-00701-055,275.15,1978-10-31 09:55:06,nnnnnnnnnnnnnnnnnnn
587,46.811578,6.942472,85000.0,0-20100-0-00701-055,283.65,1978-10-31 09:48:54,nnnnnnnnnnnnnnnnnnn
588,46.811578,6.942472,90000.0,0-20100-0-00701-055,283.95,1978-10-31 09:47:00,nnnnnnnnnnnnnnnnnnn

2021-05-25 11:22:12,263 INFO Welcome to the CDS
2021-05-25 11:22:12,265 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  11*
{'variable': 'air_temperature', 'statid': '11*', 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:12,425 INFO Request is queued
2021-05-25 11:22:13,463 INFO Request is completed
2021-05-25 11:22:13,465 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934533.0693035-14924-14-c6f8eec4-b969-4066-886d-2c42c5f8d04b.zip to download.zip (449.5K)
2021-05-25 11:22:13,746 INFO Download rate 1.6M/s
2021-05-25 11:22:13,868 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,49.029999,20.32,1000.0,20000001181,POPRAD-GANOVCE,223.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,49.029999,20.32,1700.0,20000001181,POPRAD-GANOVCE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,49.029999,20.32,2000.0,20000001181,POPRAD-GANOVCE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,49.029999,20.32,2520.0,20000001181,POPRAD-GANOVCE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,49.029999,20.32,2800.0,20000001181,POPRAD-GANOVCE,215.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3240,49.029999,20.32,63000.0,20000001304,POPRAD-GANOVCE,264.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3241,49.029999,20.32,70000.0,20000001304,POPRAD-GANOVCE,266.500000,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3242,49.029999,20.32,75000.0,20000001304,POPRAD-GANOVCE,267.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3243,49.029999,20.32,82000.0,20000001304,POPRAD-GANOVCE,270.500000,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3244,49.029999,20.32,85000.0,20000001304,POPRAD-GANOVCE,272.500000,1978-10-31 18:00:00,nnnnnnnnnnnnnn

2021-05-25 11:22:14,084 INFO Welcome to the CDS
2021-05-25 11:22:14,085 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  1103*
{'variable': 'air_temperature', 'statid': '1103*', 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:14,244 INFO Request is queued
2021-05-25 11:22:15,280 INFO Request is completed
2021-05-25 11:22:15,281 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934534.4604836-15094-17-cd5d6a51-8b23-4710-a6d5-c8ee7bbcb8fa.zip to download.zip (111.5K)
2021-05-25 11:22:15,423 INFO Download rate 797.5K/s
2021-05-25 11:22:15,476 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:22:15,704 INFO Welcome to the CDS
2021-05-25 11:22:15,705 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  0-20100*
{'variable': 'air_temperature', 'statid': '0-20100*', 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:15,864 INFO Request is queued
2021-05-25 11:22:16,900 INFO Request is running
2021-05-25 11:22:20,726 INFO Request is completed
2021-05-25 11:22:20,729 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934539.350322-7861-6-c886585b-a592-474a-8b2f-b9c8dda96d5a.zip to download.zip (118.7K)
2021-05-25 11:22:20,879 INFO Download rate 799.4K/s
2021-05-25 11:22:20,914 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,ta,time,trajectory_label
0,46.811578,6.942472,3000.0,0-20100-0-00701-001,213.35,1978-10-10 10:59:12,nnnnnnnnnnnnnnnnnnn
1,46.811578,6.942472,5000.0,0-20100-0-00701-001,210.85,1978-10-10 10:50:24,nnnnnnnnnnnnnnnnnnn
2,46.811578,6.942472,7000.0,0-20100-0-00701-001,209.15,1978-10-10 10:44:42,nnnnnnnnnnnnnnnnnnn
3,46.811578,6.942472,10000.0,0-20100-0-00701-001,207.85,1978-10-10 10:38:54,nnnnnnnnnnnnnnnnnnn
4,46.811578,6.942472,15000.0,0-20100-0-00701-001,205.55,1978-10-10 10:30:18,nnnnnnnnnnnnnnnnnnn
...,...,...,...,...,...,...,...
584,46.811578,6.942472,40000.0,0-20100-0-00701-055,245.25,1978-10-31 10:10:30,nnnnnnnnnnnnnnnnnnn
585,46.811578,6.942472,50000.0,0-20100-0-00701-055,257.05,1978-10-31 10:04:42,nnnnnnnnnnnnnnnnnnn
586,46.811578,6.942472,70000.0,0-20100-0-00701-055,275.15,1978-10-31 09:55:06,nnnnnnnnnnnnnnnnnnn
587,46.811578,6.942472,85000.0,0-20100-0-00701-055,283.65,1978-10-31 09:48:54,nnnnnnnnnnnnnnnnnnn
588,46.811578,6.942472,90000.0,0-20100-0-00701-055,283.95,1978-10-31 09:47:00,nnnnnnnnnnnnnnnnnnn

2021-05-25 11:22:21,109 INFO Welcome to the CDS
2021-05-25 11:22:21,110 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  ['11035', 10393]
{'variable': 'air_temperature', 'statid': ['11035', 10393], 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:21,264 INFO Request is queued
2021-05-25 11:22:22,300 INFO Request is completed
2021-05-25 11:22:22,301 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934541.546005-15647-13-85cb9e67-3884-49c0-8efb-81068d4b552e.zip to download.zip (244.6K)
2021-05-25 11:22:22,532 INFO Download rate 1M/s
2021-05-25 11:22:22,578 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:22:22,786 INFO Welcome to the CDS
2021-05-25 11:22:22,787 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  ['0-20001-0-11035', '0-20001-0-10393']
{'variable': 'air_temperature', 'statid': ['0-20001-0-11035', '0-20001-0-10393'], 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:22,937 INFO Request is queued
2021-05-25 11:22:23,973 INFO Request is running
2021-05-25 11:22:27,799 INFO Request is completed
2021-05-25 11:22:27,801 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934546.2126071-8662-6-82e15649-2824-488a-a11a-491c6666a802.zip to download.zip (244.6K)
2021-05-25 11:22:28,017 INFO Download rate 1.1M/s
2021-05-25 11:22:28,048 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:22:28,269 INFO Welcome to the CDS
2021-05-25 11:22:28,271 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  110350
{'variable': 'air_temperature', 'statid': '110350', 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:28,428 INFO Request is queued
2021-05-25 11:22:29,464 INFO Request is failed
2021-05-25 11:22:29,465 ERROR Message: an internal error occurred processing your request
2021-05-25 11:22:29,467 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:29,468 ERROR   Traceback (most recent call last):
2021-05-25 11:22:29,469 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:22:29,470 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:22:29,471 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:22:29,472 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:22:29,473 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:22:29,474 ERROR       return p(*args, **kwargs)
2021-05-25 11:22:29,475 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:22:29,476 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:22:29,477 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:22:29,478 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:22:29,479 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:29,618 INFO Welcome to the CDS
2021-05-25 11:22:29,620 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
statid - testing:  1103
{'variable': 'air_temperature', 'statid': '1103', 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:29,767 INFO Request is queued
2021-05-25 11:22:30,803 INFO Request is failed
2021-05-25 11:22:30,805 ERROR Message: an internal error occurred processing your request
2021-05-25 11:22:30,806 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:30,807 ERROR   Traceback (most recent call last):
2021-05-25 11:22:30,808 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:22:30,809 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:22:30,810 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:22:30,811 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:22:30,812 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:22:30,813 ERROR       return p(*args, **kwargs)
2021-05-25 11:22:30,813 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:22:30,814 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:22:30,816 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:22:30,817 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:22:30,818 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:30,972 INFO Welcome to the CDS
2021-05-25 11:22:30,974 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
statid - testing:  0-20000-0-1103
{'variable': 'air_temperature', 'statid': '0-20000-0-1103', 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:31,153 INFO Request is queued
2021-05-25 11:22:32,191 INFO Request is failed
2021-05-25 11:22:32,192 ERROR Message: an internal error occurred processing your request
2021-05-25 11:22:32,194 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:32,195 ERROR   Traceback (most recent call last):
2021-05-25 11:22:32,196 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:22:32,197 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:22:32,198 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:22:32,200 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:22:32,201 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:22:32,202 ERROR       return p(*args, **kwargs)
2021-05-25 11:22:32,203 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:22:32,204 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:22:32,205 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:22:32,206 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:22:32,207 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:32,342 INFO Welcome to the CDS
2021-05-25 11:22:32,343 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
statid - testing:  0-20000-0-110350
{'variable': 'air_temperature', 'statid': '0-20000-0-110350', 'date': '19781001-19781031', 'cachworkaround': 0.6450693347211179}

2021-05-25 11:22:32,491 INFO Request is queued
2021-05-25 11:22:33,527 INFO Request is failed
2021-05-25 11:22:33,529 ERROR Message: an internal error occurred processing your request
2021-05-25 11:22:33,530 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:33,531 ERROR   Traceback (most recent call last):
2021-05-25 11:22:33,532 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:22:33,532 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:22:33,533 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:22:33,534 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:22:33,535 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:22:33,535 ERROR       return p(*args, **kwargs)
2021-05-25 11:22:33,536 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:22:33,537 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:22:33,538 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:22:33,539 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:22:33,540 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:33,681 INFO Welcome to the CDS
2021-05-25 11:22:33,682 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
statid - testing: finished
variable - testing:  air_temperature

2021-05-25 11:22:33,879 INFO Request is queued
2021-05-25 11:22:34,916 INFO Request is completed
2021-05-25 11:22:34,918 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934554.1298656-8736-6-32f8cbf4-8acb-4381-baf2-11a8f5c69e2a.zip to download.zip (277.5K)
2021-05-25 11:22:35,127 INFO Download rate 1.3M/s
2021-05-25 11:22:35,181 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.250000,16.360001,910.0,10000051065,WIEN/HOHE WARTE (11035-0),214.899994,2015-01-01 12:00:00,nnnnnnnnnnnnnn
1,48.250000,16.360001,980.0,10000051065,WIEN/HOHE WARTE (11035-0),215.899994,2015-01-01 12:00:00,nnnnnnnnnnnnnn
2,48.250000,16.360001,1000.0,10000051065,WIEN/HOHE WARTE (11035-0),215.300003,2015-01-01 12:00:00,nnnnnnnnnnnnnn
3,48.250000,16.360001,1120.0,10000051065,WIEN/HOHE WARTE (11035-0),215.100006,2015-01-01 12:00:00,nnnnnnnnnnnnnn
4,48.250000,16.360001,1190.0,10000051065,WIEN/HOHE WARTE (11035-0),209.699997,2015-01-01 12:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
6031,48.248901,16.357300,85250.0,10000051145,WIEN/HOHE WARTE (11035-0),271.470001,2015-01-31 23:30:09,nnnnnnnnnnnnnn
6032,48.248901,16.357300,85540.0,10000051145,WIEN/HOHE WARTE (11035-0),271.690002,2015-01-31 23:30:09,nnnnnnnnnnnnnn
6033,48.248901,16.357300,91660.0,10000051145,WIEN/HOHE WARTE (11035-0),273.670013,2015-01-31 23:30:09,nnnnnnnnnnnnnn
6034,48.248901,16.357300,92500.0,10000051145,WIEN/HOHE WARTE (11035-0),273.089996,2015-01-31 23:30:09,nnnnnnnnnnnnnn
6035,48.248901,16.357300,94490.0,10000051145,WIEN/HOHE WARTE (11035-0),271.720001,2015-01-31 23:30:09,nnnnnnnnnnnnnn

2021-05-25 11:22:35,423 INFO Welcome to the CDS
2021-05-25 11:22:35,425 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

variable - testing:  dew_point_temperature

2021-05-25 11:22:35,667 INFO Request is queued
2021-05-25 11:22:36,706 INFO Request is completed
2021-05-25 11:22:36,707 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934555.922969-6124-12-f59da9a6-1186-4571-8e3b-dbda85ebe015.zip to download.zip (277.2K)
2021-05-25 11:22:36,927 INFO Download rate 1.2M/s
2021-05-25 11:22:36,965 INFO Reading Profile on slice(None, None, None)

,dew_point_temperature,lat,lon,plev,report_id,station_id,time,trajectory_label
0,187.899994,48.250000,16.360001,910.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
1,187.899994,48.250000,16.360001,980.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
2,187.300003,48.250000,16.360001,1000.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
3,187.100006,48.250000,16.360001,1120.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
4,184.699997,48.250000,16.360001,1190.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
6021,260.730011,48.248901,16.357300,85250.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6022,260.910004,48.248901,16.357300,85540.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6023,265.450012,48.248901,16.357300,91660.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6024,268.019989,48.248901,16.357300,92500.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6025,270.109985,48.248901,16.357300,94490.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn

2021-05-25 11:22:37,171 INFO Welcome to the CDS
2021-05-25 11:22:37,172 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

variable - testing:  eastward_wind_speed

2021-05-25 11:22:37,332 INFO Request is queued
2021-05-25 11:22:38,368 INFO Request is completed
2021-05-25 11:22:38,370 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934557.5315988-8764-6-8ce9830b-1a94-4baf-9dc2-db40c6af1b3c.zip to download.zip (301K)
2021-05-25 11:22:38,609 INFO Download rate 1.2M/s
2021-05-25 11:22:38,705 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,time,trajectory_label,ua
0,48.250000,16.360001,910.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,27.712812
1,48.250000,16.360001,970.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,29.908157
2,48.250000,16.360001,1000.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,29.001850
3,48.250000,16.360001,1080.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,26.282927
4,48.250000,16.360001,1150.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,14.912988
...,...,...,...,...,...,...,...,...
6455,48.248901,16.357300,85540.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,0.881049
6456,48.248901,16.357300,91660.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,-1.667180
6457,48.248901,16.357300,92500.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,-1.180919
6458,48.248901,16.357300,94490.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,-0.985890
6459,48.248901,16.357300,96620.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,-0.087156

2021-05-25 11:22:38,962 INFO Welcome to the CDS
2021-05-25 11:22:38,964 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

variable - testing:  northward_wind_speed

2021-05-25 11:22:39,116 INFO Request is queued
2021-05-25 11:22:40,152 INFO Request is completed
2021-05-25 11:22:40,153 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934559.3057163-8818-6-ca743e94-1e88-425a-951f-5770c4e32dc1.zip to download.zip (301.1K)
2021-05-25 11:22:40,393 INFO Download rate 1.2M/s
2021-05-25 11:22:40,448 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,time,trajectory_label,va
0,48.250000,16.360001,910.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,-16.000000
1,48.250000,16.360001,970.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,-13.946403
2,48.250000,16.360001,1000.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,-13.523785
3,48.250000,16.360001,1080.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,-12.255930
4,48.250000,16.360001,1150.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,-21.297953
...,...,...,...,...,...,...,...,...
6455,48.248901,16.357300,85540.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,1.088004
6456,48.248901,16.357300,91660.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,1.726416
6457,48.248901,16.357300,92500.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,1.222878
6458,48.248901,16.357300,94490.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,1.854190
6459,48.248901,16.357300,96620.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,-0.996195

2021-05-25 11:22:40,674 INFO Welcome to the CDS
2021-05-25 11:22:40,675 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

variable - testing:  relative_humidity

2021-05-25 11:22:40,830 INFO Request is queued
2021-05-25 11:22:41,867 INFO Request is completed
2021-05-25 11:22:41,868 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934561.0156884-8822-6-1a37d531-5664-4805-a861-fe9c434421dd.zip to download.zip (283.5K)
2021-05-25 11:22:42,105 INFO Download rate 1.2M/s
2021-05-25 11:22:42,329 INFO Reading Profile on slice(None, None, None)

,hur,lat,lon,plev,report_id,station_id,time,trajectory_label
0,0.018269,48.250000,16.360001,910.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
1,0.016112,48.250000,16.360001,980.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
2,0.015643,48.250000,16.360001,1000.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
3,0.015489,48.250000,16.360001,1120.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
4,0.020350,48.250000,16.360001,1190.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
6021,0.436792,48.248901,16.357300,85250.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6022,0.436065,48.248901,16.357300,85540.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6023,0.540391,48.248901,16.357300,91660.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6024,0.686344,48.248901,16.357300,92500.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6025,0.887677,48.248901,16.357300,94490.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn

2021-05-25 11:22:42,594 INFO Welcome to the CDS
2021-05-25 11:22:42,596 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

variable - testing:  specific_humidity

2021-05-25 11:22:42,752 INFO Request is queued
2021-05-25 11:22:43,789 INFO Request is completed
2021-05-25 11:22:43,791 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934563.4088702-9543-5-b3f75f03-0cc8-490a-a5ba-76ab42e47042.zip to download.zip (286.8K)
2021-05-25 11:22:44,032 INFO Download rate 1.2M/s
2021-05-25 11:22:44,070 INFO Reading Profile on slice(None, None, None)

,hus,lat,lon,plev,report_id,station_id,time,trajectory_label
0,0.000029,48.250000,16.360001,910.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
1,0.000027,48.250000,16.360001,980.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
2,0.000024,48.250000,16.360001,1000.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
3,0.000020,48.250000,16.360001,1120.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
4,0.000012,48.250000,16.360001,1190.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
6086,0.001742,48.248901,16.357300,85540.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6087,0.002329,48.248901,16.357300,91660.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6088,0.002811,48.248901,16.357300,92500.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6089,0.003221,48.248901,16.357300,94490.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn
6090,0.003152,48.248901,16.357300,96620.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn

2021-05-25 11:22:44,290 INFO Welcome to the CDS
2021-05-25 11:22:44,291 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

variable - testing:  wind_from_direction

2021-05-25 11:22:44,449 INFO Request is queued
2021-05-25 11:22:45,487 INFO Request is completed
2021-05-25 11:22:45,489 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934564.7995665-8873-5-90aeaed9-4f9f-45da-83c9-81066f295ac0.zip to download.zip (288.4K)
2021-05-25 11:22:45,722 INFO Download rate 1.2M/s
2021-05-25 11:22:45,784 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,time,trajectory_label,wind_from_direction
0,48.250000,16.360001,910.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,300.0
1,48.250000,16.360001,970.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,295.0
2,48.250000,16.360001,1000.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,295.0
3,48.250000,16.360001,1080.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,295.0
4,48.250000,16.360001,1150.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,325.0
...,...,...,...,...,...,...,...,...
6455,48.248901,16.357300,85540.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,219.0
6456,48.248901,16.357300,91660.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,136.0
6457,48.248901,16.357300,92500.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,136.0
6458,48.248901,16.357300,94490.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,152.0
6459,48.248901,16.357300,96620.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,5.0

2021-05-25 11:22:46,018 INFO Welcome to the CDS
2021-05-25 11:22:46,019 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

variable - testing:  wind_speed

2021-05-25 11:22:46,167 INFO Request is queued
2021-05-25 11:22:47,201 INFO Request is completed
2021-05-25 11:22:47,203 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934566.3550262-8875-5-4ab1cad3-9b6a-4dae-b341-d6206b2995a6.zip to download.zip (290.6K)
2021-05-25 11:22:47,422 INFO Download rate 1.3M/s
2021-05-25 11:22:47,436 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,time,trajectory_label,wind_speed
0,48.250000,16.360001,910.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,32.0
1,48.250000,16.360001,970.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,33.0
2,48.250000,16.360001,1000.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,32.0
3,48.250000,16.360001,1080.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,29.0
4,48.250000,16.360001,1150.0,10000051065,WIEN/HOHE WARTE (11035-0),2015-01-01 12:00:00,nnnnnnnnnnnnnn,26.0
...,...,...,...,...,...,...,...,...
6455,48.248901,16.357300,85540.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,1.4
6456,48.248901,16.357300,91660.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,2.4
6457,48.248901,16.357300,92500.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,1.7
6458,48.248901,16.357300,94490.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,2.1
6459,48.248901,16.357300,96620.0,10000051145,WIEN/HOHE WARTE (11035-0),2015-01-31 23:30:09,nnnnnnnnnnnnnn,1.0

2021-05-25 11:22:47,648 INFO Welcome to the CDS
2021-05-25 11:22:47,649 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

variable - testing:  temperature

2021-05-25 11:22:47,829 INFO Request is queued
2021-05-25 11:22:48,865 INFO Request is completed
2021-05-25 11:22:48,867 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934554.1298656-8736-6-32f8cbf4-8acb-4381-baf2-11a8f5c69e2a.zip to download.zip (277.5K)
2021-05-25 11:22:49,075 INFO Download rate 1.3M/s
2021-05-25 11:22:49,134 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.250000,16.360001,910.0,10000051065,WIEN/HOHE WARTE (11035-0),214.899994,2015-01-01 12:00:00,nnnnnnnnnnnnnn
1,48.250000,16.360001,980.0,10000051065,WIEN/HOHE WARTE (11035-0),215.899994,2015-01-01 12:00:00,nnnnnnnnnnnnnn
2,48.250000,16.360001,1000.0,10000051065,WIEN/HOHE WARTE (11035-0),215.300003,2015-01-01 12:00:00,nnnnnnnnnnnnnn
3,48.250000,16.360001,1120.0,10000051065,WIEN/HOHE WARTE (11035-0),215.100006,2015-01-01 12:00:00,nnnnnnnnnnnnnn
4,48.250000,16.360001,1190.0,10000051065,WIEN/HOHE WARTE (11035-0),209.699997,2015-01-01 12:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
6031,48.248901,16.357300,85250.0,10000051145,WIEN/HOHE WARTE (11035-0),271.470001,2015-01-31 23:30:09,nnnnnnnnnnnnnn
6032,48.248901,16.357300,85540.0,10000051145,WIEN/HOHE WARTE (11035-0),271.690002,2015-01-31 23:30:09,nnnnnnnnnnnnnn
6033,48.248901,16.357300,91660.0,10000051145,WIEN/HOHE WARTE (11035-0),273.670013,2015-01-31 23:30:09,nnnnnnnnnnnnnn
6034,48.248901,16.357300,92500.0,10000051145,WIEN/HOHE WARTE (11035-0),273.089996,2015-01-31 23:30:09,nnnnnnnnnnnnnn
6035,48.248901,16.357300,94490.0,10000051145,WIEN/HOHE WARTE (11035-0),271.720001,2015-01-31 23:30:09,nnnnnnnnnnnnnn

2021-05-25 11:22:49,365 INFO Welcome to the CDS
2021-05-25 11:22:49,367 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

variable - testing:  dew_point

2021-05-25 11:22:49,523 INFO Request is queued
2021-05-25 11:22:50,560 INFO Request is failed
2021-05-25 11:22:50,562 ERROR Message: an internal error occurred processing your request
2021-05-25 11:22:50,563 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:50,565 ERROR   Traceback (most recent call last):
2021-05-25 11:22:50,566 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:22:50,567 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:22:50,568 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:22:50,569 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:22:50,570 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:22:50,571 ERROR       return p(*args, **kwargs)
2021-05-25 11:22:50,572 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:22:50,573 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:22:50,574 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:22:50,575 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:22:50,576 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:50,711 INFO Welcome to the CDS
2021-05-25 11:22:50,712 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
variable - testing:  wind

2021-05-25 11:22:50,871 INFO Request is queued
2021-05-25 11:22:51,910 INFO Request is failed
2021-05-25 11:22:51,912 ERROR Message: an internal error occurred processing your request
2021-05-25 11:22:51,913 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:51,914 ERROR   Traceback (most recent call last):
2021-05-25 11:22:51,916 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:22:51,917 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:22:51,919 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:22:51,920 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:22:51,921 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:22:51,923 ERROR       return p(*args, **kwargs)
2021-05-25 11:22:51,924 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:22:51,925 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:22:51,926 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:22:51,928 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:22:51,930 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:52,060 INFO Welcome to the CDS
2021-05-25 11:22:52,062 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
variable - testing:  humidity

2021-05-25 11:22:52,221 INFO Request is queued
2021-05-25 11:22:53,256 INFO Request is failed
2021-05-25 11:22:53,257 ERROR Message: an internal error occurred processing your request
2021-05-25 11:22:53,259 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:53,260 ERROR   Traceback (most recent call last):
2021-05-25 11:22:53,261 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:22:53,262 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:22:53,264 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:22:53,265 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:22:53,266 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:22:53,267 ERROR       return p(*args, **kwargs)
2021-05-25 11:22:53,268 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:22:53,269 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:22:53,270 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:22:53,271 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:22:53,272 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:53,395 INFO Welcome to the CDS
2021-05-25 11:22:53,396 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
variable - testing:  sonde_type

2021-05-25 11:22:53,546 INFO Request is queued
2021-05-25 11:22:54,580 INFO Request is failed
2021-05-25 11:22:54,582 ERROR Message: an internal error occurred processing your request
2021-05-25 11:22:54,583 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:54,585 ERROR   Traceback (most recent call last):
2021-05-25 11:22:54,586 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:22:54,587 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:22:54,588 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:22:54,589 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:22:54,590 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:22:54,591 ERROR       return p(*args, **kwargs)
2021-05-25 11:22:54,592 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:22:54,593 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:22:54,594 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:22:54,595 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:22:54,596 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:22:54,732 INFO Welcome to the CDS
2021-05-25 11:22:54,733 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
variable - testing: finished
optional - testing:  sonde_type

2021-05-25 11:22:54,889 INFO Request is queued
2021-05-25 11:22:55,925 INFO Request is completed
2021-05-25 11:22:55,927 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934575.0704124-8908-5-b42ea4a4-271a-45c7-bae8-40f784091dba.zip to download.zip (261.6K)
2021-05-25 11:22:56,164 INFO Download rate 1.1M/s
2021-05-25 11:22:56,251 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,sonde_type,station_id,ta,time,trajectory_label
0,48.248951,16.356859,560.0,10000055267,VnG,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,48.248951,16.356859,570.0,10000055267,VnG,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,48.248951,16.356859,580.0,10000055267,VnG,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,48.248951,16.356859,590.0,10000055267,VnG,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,48.248951,16.356859,600.0,10000055267,VnG,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,48.248951,16.357180,92500.0,10000055270,VnG,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,48.248951,16.357180,93430.0,10000055270,VnG,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,48.248951,16.357180,97960.0,10000055270,VnG,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,48.248951,16.357180,100000.0,10000055270,VnG,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,48.248951,16.357180,100440.0,10000055270,VnG,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:22:56,465 INFO Welcome to the CDS
2021-05-25 11:22:56,467 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  bias_estimate

2021-05-25 11:22:56,625 INFO Request is queued
2021-05-25 11:22:57,661 INFO Request is completed
2021-05-25 11:22:57,663 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934576.895487-9616-5-017b347f-ff70-4fdc-9752-492f4ff88db2.zip to download.zip (259K)
2021-05-25 11:22:57,874 INFO Download rate 1.2M/s
2021-05-25 11:22:57,986 INFO Reading Profile on slice(None, None, None)

,bias_estimate,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,0.0,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,0.0,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,0.0,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,0.0,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,0.0,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.0,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,0.0,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,0.0,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,0.0,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,0.0,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:22:58,221 INFO Welcome to the CDS
2021-05-25 11:22:58,222 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  obs_minus_an

2021-05-25 11:22:58,385 INFO Request is queued
2021-05-25 11:22:59,421 INFO Request is completed
2021-05-25 11:22:59,422 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934578.6109493-9618-5-06bcabf0-df35-4c9a-a26b-b0ab8e61d6ba.zip to download.zip (279.7K)
2021-05-25 11:22:59,737 INFO Download rate 889.7K/s
2021-05-25 11:22:59,753 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs_minus_an,plev,report_id,station_id,ta,time,trajectory_label
0,48.248951,16.356859,-1.340239,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,48.248951,16.356859,-0.847053,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,48.248951,16.356859,-0.613867,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,48.248951,16.356859,-0.330681,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,48.248951,16.356859,-0.567495,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,48.248951,16.357180,-0.255160,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,48.248951,16.357180,0.103390,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,48.248951,16.357180,0.515455,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,48.248951,16.357180,2.375421,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,48.248951,16.357180,3.113251,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:23:00,016 INFO Welcome to the CDS
2021-05-25 11:23:00,017 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  obs_minus_bg

2021-05-25 11:23:00,187 INFO Request is queued
2021-05-25 11:23:01,223 INFO Request is completed
2021-05-25 11:23:01,224 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934580.385726-9022-5-67350cdd-4b66-479d-a534-78b14c76d6dc.zip to download.zip (279.6K)
2021-05-25 11:23:01,461 INFO Download rate 1.2M/s
2021-05-25 11:23:01,479 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs_minus_bg,plev,report_id,station_id,ta,time,trajectory_label
0,48.248951,16.356859,-2.445801,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,48.248951,16.356859,-1.908885,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,48.248951,16.356859,-1.631969,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,48.248951,16.356859,-1.305054,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,48.248951,16.356859,-1.498138,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,48.248951,16.357180,0.580931,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,48.248951,16.357180,1.124605,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,48.248951,16.357180,1.348505,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,48.248951,16.357180,2.602726,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,48.248951,16.357180,3.038934,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:23:01,690 INFO Welcome to the CDS
2021-05-25 11:23:01,691 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  RISE_bias_estimate

2021-05-25 11:23:01,849 INFO Request is queued
2021-05-25 11:23:02,887 INFO Request is completed
2021-05-25 11:23:02,890 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934582.0381281-9025-5-e1f010a7-2084-4ff3-9903-be43541ea1ae.zip to download.zip (258.9K)
2021-05-25 11:23:03,938 INFO Download rate 247.4K/s
2021-05-25 11:23:04,069 INFO Reading Profile on slice(None, None, None)

,RISE_bias_estimate,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.0,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,0.0,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:23:04,425 INFO Welcome to the CDS
2021-05-25 11:23:04,426 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  RICH_bias_estimate

2021-05-25 11:23:04,596 INFO Request is queued
2021-05-25 11:23:05,633 INFO Request is completed
2021-05-25 11:23:05,634 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934584.7929194-9028-5-e909099c-36b0-4705-b46b-0962e942a4d4.zip to download.zip (258.9K)
2021-05-25 11:23:05,833 INFO Download rate 1.3M/s
2021-05-25 11:23:05,879 INFO Reading Profile on slice(None, None, None)

,RICH_bias_estimate,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.0,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,0.0,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:23:06,208 INFO Welcome to the CDS
2021-05-25 11:23:06,209 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  RASE_bias_estimate

2021-05-25 11:23:06,387 INFO Request is queued
2021-05-25 11:23:07,425 INFO Request is completed
2021-05-25 11:23:07,426 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934586.5811188-9030-5-6274d465-bba6-4bec-8e51-049ce72fda1a.zip to download.zip (258.9K)
2021-05-25 11:23:07,645 INFO Download rate 1.2M/s
2021-05-25 11:23:07,679 INFO Reading Profile on slice(None, None, None)

,RASE_bias_estimate,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.0,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,0.0,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:23:07,905 INFO Welcome to the CDS
2021-05-25 11:23:07,906 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  RAOBCORE_bias_estimate

2021-05-25 11:23:08,058 INFO Request is queued
2021-05-25 11:23:09,093 INFO Request is completed
2021-05-25 11:23:09,094 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934588.247663-9632-5-db687ed7-cc61-4c9b-b987-6af9d50ca357.zip to download.zip (258.9K)
2021-05-25 11:23:09,341 INFO Download rate 1M/s
2021-05-25 11:23:09,384 INFO Reading Profile on slice(None, None, None)

,RAOBCORE_bias_estimate,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,-0.0,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,-0.0,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:23:09,701 INFO Welcome to the CDS
2021-05-25 11:23:09,703 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  desroziers_30

2021-05-25 11:23:09,879 INFO Request is queued
2021-05-25 11:23:10,915 INFO Request is completed
2021-05-25 11:23:10,916 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934590.107798-9033-6-46e067a0-72a9-43cf-b054-69caed86ef87.zip to download.zip (258.9K)
2021-05-25 11:23:11,172 INFO Download rate 1017.4K/s
2021-05-25 11:23:11,249 INFO Reading Profile on slice(None, None, None)

,desroziers_30,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.552916,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,1.208805,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:23:11,518 INFO Welcome to the CDS
2021-05-25 11:23:11,519 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  desroziers_60

2021-05-25 11:23:11,691 INFO Request is queued
2021-05-25 11:23:12,743 INFO Request is running
2021-05-25 11:23:14,279 INFO Request is completed
2021-05-25 11:23:14,280 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934592.886125-9654-6-4a7eb1ca-2a8b-49c5-ab19-578970a9a453.zip to download.zip (258.9K)
2021-05-25 11:23:14,542 INFO Download rate 990.6K/s
2021-05-25 11:23:14,728 INFO Reading Profile on slice(None, None, None)

,desroziers_60,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.348003,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,NaN,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:23:14,948 INFO Welcome to the CDS
2021-05-25 11:23:14,949 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  desroziers_90

2021-05-25 11:23:15,105 INFO Request is queued
2021-05-25 11:23:16,141 INFO Request is completed
2021-05-25 11:23:16,142 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934595.291207-9102-5-f98d24f1-b971-4cef-8559-36d440c05906.zip to download.zip (258.9K)
2021-05-25 11:23:16,366 INFO Download rate 1.1M/s
2021-05-25 11:23:16,416 INFO Reading Profile on slice(None, None, None)

,desroziers_90,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.508933,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,NaN,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:23:16,691 INFO Welcome to the CDS
2021-05-25 11:23:16,692 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  desroziers_180

2021-05-25 11:23:16,866 INFO Request is queued
2021-05-25 11:23:17,903 INFO Request is completed
2021-05-25 11:23:17,905 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934597.082359-9116-6-88b90f13-96a2-4050-aaea-9d9c03000fba.zip to download.zip (258.9K)
2021-05-25 11:23:18,128 INFO Download rate 1.1M/s
2021-05-25 11:23:18,213 INFO Reading Profile on slice(None, None, None)

,desroziers_180,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.430498,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,NaN,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:23:18,483 INFO Welcome to the CDS
2021-05-25 11:23:18,484 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  wind_bias_estimate

2021-05-25 11:23:18,648 INFO Request is queued
2021-05-25 11:23:19,684 INFO Request is completed
2021-05-25 11:23:19,685 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934598.8268008-5944-12-a7d9d5ce-d33b-4a66-a3c7-e9d61c3f6dc8.zip to download.zip (260.6K)
2021-05-25 11:23:19,953 INFO Download rate 974.8K/s
2021-05-25 11:23:20,027 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,time,trajectory_label,ua,wind_bias_estimate
0,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn,72.345924,0.0
1,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn,76.125641,0.0
2,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn,75.094482,0.0
3,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn,72.675148,0.0
4,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn,72.481094,0.0
...,...,...,...,...,...,...,...,...,...
5667,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn,6.128872,0.0
5668,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn,11.894828,0.0
5669,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn,6.920714,0.0
5670,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn,4.886402,0.0
5671,48.248951,16.357180,100980.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn,0.176590,0.0

2021-05-25 11:23:20,393 INFO Welcome to the CDS
2021-05-25 11:23:20,394 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  humidity_bias_estimate

2021-05-25 11:23:20,579 INFO Request is queued
2021-05-25 11:23:21,617 INFO Request is completed
2021-05-25 11:23:21,619 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934600.751315-6297-12-5ecfb0e3-d557-4156-b1ac-c1126264c467.zip to download.zip (286.8K)
2021-05-25 11:23:21,868 INFO Download rate 1.1M/s
2021-05-25 11:23:21,937 INFO Reading Profile on slice(None, None, None)

,humidity_bias_estimate,hur,lat,lon,plev,report_id,station_id,time,trajectory_label
0,NaN,0.010622,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,0.010620,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,0.010630,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,0.010616,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,0.010610,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,-0.0,0.795246,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,0.761943,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,0.679380,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,-0.0,0.621206,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,0.616800,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:23:22,166 INFO Welcome to the CDS
2021-05-25 11:23:22,168 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing: finished
area - testing:  [80, 140, -40, 359]

2021-05-25 11:23:22,321 INFO Request is queued
2021-05-25 11:23:23,356 INFO Request is running
2021-05-25 11:23:27,176 INFO Request is completed
2021-05-25 11:23:27,177 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934605.3640308-7861-12-f085d780-5e24-49c9-a7f7-09c992b7cccd.zip to download.zip (34.3M)
2021-05-25 11:23:32,888 INFO Download rate 6M/s
2021-05-25 11:23:38,030 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,54.48,-6.1,5000.0,30000014829,CASTOR BAY,214.250000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,54.48,-6.1,7000.0,30000014829,CASTOR BAY,214.850006,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,54.48,-6.1,10000.0,30000014829,CASTOR BAY,213.449997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,54.48,-6.1,10300.0,30000014829,CASTOR BAY,213.649994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,54.48,-6.1,10600.0,30000014829,CASTOR BAY,214.050003,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
1822,54.48,-6.1,85000.0,30000014947,CASTOR BAY,272.850006,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1823,54.48,-6.1,85600.0,30000014947,CASTOR BAY,272.250000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1824,54.48,-6.1,100000.0,30000014947,CASTOR BAY,281.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1825,54.48,-6.1,101200.0,30000014947,CASTOR BAY,282.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1826,54.48,-6.1,101300.0,30000014947,CASTOR BAY,282.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:23:38,925 INFO Welcome to the CDS
2021-05-25 11:23:38,926 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

area - testing:  [50, 0, 40, 20]

2021-05-25 11:23:39,081 INFO Request is queued
2021-05-25 11:23:40,119 INFO Request is completed
2021-05-25 11:23:40,120 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934619.546348-5908-12-4ad53eb4-641a-46ad-abc9-be02451f1f01.zip to download.zip (1.2M)
2021-05-25 11:23:40,585 INFO Download rate 2.6M/s
2021-05-25 11:23:40,730 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:23:41,048 INFO Welcome to the CDS
2021-05-25 11:23:41,049 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

area - testing:  [49, -180, 48, 180]

2021-05-25 11:23:41,228 INFO Request is queued
2021-05-25 11:23:42,268 INFO Request is completed
2021-05-25 11:23:42,270 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934621.7713077-9781-5-88c00227-b9a8-448e-a809-42ab6a073d0b.zip to download.zip (1.6M)
2021-05-25 11:23:42,742 INFO Download rate 3.4M/s
2021-05-25 11:23:42,901 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:23:43,127 INFO Welcome to the CDS
2021-05-25 11:23:43,127 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

area - testing:  [49, 0, 48, 360]

2021-05-25 11:23:43,291 INFO Request is queued
2021-05-25 11:23:44,325 INFO Request is completed
2021-05-25 11:23:44,327 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934623.690607-9784-5-344a8e51-5ac1-4505-8e55-2a74b454e5b5.zip to download.zip (1.6M)
2021-05-25 11:23:44,744 INFO Download rate 3.8M/s
2021-05-25 11:23:44,917 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,1800.0,20000028816,WIEN/HOHE WARTE (11035-0),218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,2000.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,3000.0,20000028816,WIEN/HOHE WARTE (11035-0),216.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,3200.0,20000028816,WIEN/HOHE WARTE (11035-0),216.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,3700.0,20000028816,WIEN/HOHE WARTE (11035-0),218.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2095,48.25,16.370001,50000.0,20000029118,WIEN/HOHE WARTE (11035-0),254.750000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2096,48.25,16.370001,70000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.549988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2097,48.25,16.370001,85000.0,20000029118,WIEN/HOHE WARTE (11035-0),274.649994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2098,48.25,16.370001,92500.0,20000029118,WIEN/HOHE WARTE (11035-0),280.149994,1978-10-31 12:00:00,nnnnnnnnnnnnnn
2099,48.25,16.370001,100000.0,20000029118,WIEN/HOHE WARTE (11035-0),285.350006,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:23:45,136 INFO Welcome to the CDS
2021-05-25 11:23:45,137 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

area - testing:  [90, -180, -90, 180]

2021-05-25 11:23:45,290 INFO Request is queued
2021-05-25 11:23:46,325 INFO Request is running
2021-05-25 11:23:58,660 INFO Request is completed
2021-05-25 11:23:58,662 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934633.223187-8662-11-3b667658-ae82-4629-a84d-34f713dc4718.zip to download.zip (75.2M)
2021-05-25 11:24:11,613 INFO Download rate 5.8M/s
2021-05-25 11:24:19,415 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,50.279999,57.150002,12300.0,20000020980,AKTOBE,218.100006,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,50.279999,57.150002,15000.0,20000020980,AKTOBE,217.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,50.279999,57.150002,16900.0,20000020980,AKTOBE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,50.279999,57.150002,20000.0,20000020980,AKTOBE,214.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,50.279999,57.150002,20100.0,20000020980,AKTOBE,214.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3882,50.279999,57.150002,70000.0,20000021103,AKTOBE,260.100006,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3883,50.279999,57.150002,74000.0,20000021103,AKTOBE,263.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3884,50.279999,57.150002,85000.0,20000021103,AKTOBE,270.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3885,50.279999,57.150002,89500.0,20000021103,AKTOBE,273.799988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3886,50.279999,57.150002,95700.0,20000021103,AKTOBE,275.000000,1978-10-31 18:00:00,nnnnnnnnnnnnnn

2021-05-25 11:24:22,580 INFO Welcome to the CDS
2021-05-25 11:24:22,582 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

area - testing:  [80, 140, 70]

2021-05-25 11:24:22,759 INFO Request is queued
2021-05-25 11:24:23,798 INFO Request is failed
2021-05-25 11:24:23,800 ERROR Message: an internal error occurred processing your request
2021-05-25 11:24:23,801 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:24:23,802 ERROR   Traceback (most recent call last):
2021-05-25 11:24:23,804 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:24:23,805 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:24:23,806 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:24:23,810 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:24:23,812 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:24:23,813 ERROR       return p(*args, **kwargs)
2021-05-25 11:24:23,814 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:24:23,815 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:24:23,818 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:24:23,819 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:24:23,821 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:24:23,964 INFO Welcome to the CDS
2021-05-25 11:24:23,965 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
area - testing:  [80, 140, 70, 150, 0]

2021-05-25 11:24:24,115 INFO Request is queued
2021-05-25 11:24:25,150 INFO Request is completed
2021-05-25 11:24:25,152 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934664.5333138-8529-10-64c55e1b-c240-4478-beae-8b276e644960.zip to download.zip (189.7K)
2021-05-25 11:24:25,350 INFO Download rate 961.9K/s
2021-05-25 11:24:25,398 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,73.18,143.929993,510.0,20000020656,MYS SHALAUROVA,226.100006,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,73.18,143.929993,1000.0,20000020656,MYS SHALAUROVA,220.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,73.18,143.929993,1480.0,20000020656,MYS SHALAUROVA,217.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,73.18,143.929993,2000.0,20000020656,MYS SHALAUROVA,218.899994,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,73.18,143.929993,2570.0,20000020656,MYS SHALAUROVA,220.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
2778,73.18,143.929993,82000.0,20000020744,MYS SHALAUROVA,259.100006,1978-10-31 18:00:00,nnnnnnnnnnnnnn
2779,73.18,143.929993,83900.0,20000020744,MYS SHALAUROVA,257.700012,1978-10-31 18:00:00,nnnnnnnnnnnnnn
2780,73.18,143.929993,85000.0,20000020744,MYS SHALAUROVA,258.100006,1978-10-31 18:00:00,nnnnnnnnnnnnnn
2781,73.18,143.929993,95700.0,20000020744,MYS SHALAUROVA,262.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
2782,73.18,143.929993,97600.0,20000020744,MYS SHALAUROVA,257.500000,1978-10-31 18:00:00,nnnnnnnnnnnnnn

2021-05-25 11:24:25,600 INFO Welcome to the CDS
2021-05-25 11:24:25,601 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

area - testing:  [0, 0, 0, 0]

2021-05-25 11:24:25,758 INFO Request is queued
2021-05-25 11:24:26,795 INFO Request is failed
2021-05-25 11:24:26,796 ERROR Message: an internal error occurred processing your request
2021-05-25 11:24:26,797 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:24:26,798 ERROR   Traceback (most recent call last):
2021-05-25 11:24:26,799 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:24:26,800 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:24:26,801 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:24:26,802 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:24:26,802 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:24:26,803 ERROR       return p(*args, **kwargs)
2021-05-25 11:24:26,804 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:24:26,805 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:24:26,806 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:24:26,808 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:24:26,808 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:24:26,931 INFO Welcome to the CDS
2021-05-25 11:24:26,932 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
area - testing:  [40, 20, 50, 0]

2021-05-25 11:24:27,090 INFO Request is queued
2021-05-25 11:24:28,126 INFO Request is failed
2021-05-25 11:24:28,127 ERROR Message: an internal error occurred processing your request
2021-05-25 11:24:28,128 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:24:28,129 ERROR   Traceback (most recent call last):
2021-05-25 11:24:28,130 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:24:28,131 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:24:28,132 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:24:28,133 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:24:28,134 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:24:28,135 ERROR       return p(*args, **kwargs)
2021-05-25 11:24:28,137 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:24:28,138 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:24:28,139 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:24:28,140 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:24:28,141 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:24:28,279 INFO Welcome to the CDS
2021-05-25 11:24:28,280 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
area - testing:  [49, -180, 48, 360]

2021-05-25 11:24:28,438 INFO Request is queued
2021-05-25 11:24:29,472 INFO Request is running
2021-05-25 11:24:33,291 INFO Request is failed
2021-05-25 11:24:33,292 ERROR Message: an internal error occurred processing your request
2021-05-25 11:24:33,293 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:24:33,294 ERROR   Traceback (most recent call last):
2021-05-25 11:24:33,295 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:24:33,296 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:24:33,297 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:24:33,298 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:24:33,299 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:24:33,300 ERROR       return p(*args, **kwargs)
2021-05-25 11:24:33,301 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:24:33,302 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:24:33,303 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:24:33,304 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:24:33,305 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:24:33,437 INFO Welcome to the CDS
2021-05-25 11:24:33,438 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
area - testing: finished
country - testing:  GLOBE

2021-05-25 11:24:33,588 INFO Request is queued
2021-05-25 11:24:34,624 INFO Request is running
2021-05-25 11:24:46,955 INFO Request is completed
2021-05-25 11:24:46,957 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934681.4515154-8624-10-1bb0e97c-1c54-44a8-b881-ae9dce410355.zip to download.zip (75.3M)
2021-05-25 11:25:12,549 INFO Download rate 2.9M/s
2021-05-25 11:25:20,681 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,50.279999,57.150002,12300.0,20000020980,AKTOBE,218.100006,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,50.279999,57.150002,15000.0,20000020980,AKTOBE,217.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,50.279999,57.150002,16900.0,20000020980,AKTOBE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,50.279999,57.150002,20000.0,20000020980,AKTOBE,214.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,50.279999,57.150002,20100.0,20000020980,AKTOBE,214.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3882,50.279999,57.150002,70000.0,20000021103,AKTOBE,260.100006,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3883,50.279999,57.150002,74000.0,20000021103,AKTOBE,263.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3884,50.279999,57.150002,85000.0,20000021103,AKTOBE,270.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3885,50.279999,57.150002,89500.0,20000021103,AKTOBE,273.799988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3886,50.279999,57.150002,95700.0,20000021103,AKTOBE,275.000000,1978-10-31 18:00:00,nnnnnnnnnnnnnn

2021-05-25 11:25:24,446 INFO Welcome to the CDS
2021-05-25 11:25:24,447 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

country - testing:  ALL

2021-05-25 11:25:24,720 INFO Request is queued
2021-05-25 11:25:25,758 INFO Request is running
2021-05-25 11:25:38,097 INFO Request is completed
2021-05-25 11:25:38,099 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934733.02589-8736-11-14770770-c4d4-4d72-9ea5-bfb0b4c71fe0.zip to download.zip (75.3M)
2021-05-25 11:25:49,093 INFO Download rate 6.9M/s
2021-05-25 11:25:59,511 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,50.279999,57.150002,12300.0,20000020980,AKTOBE,218.100006,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,50.279999,57.150002,15000.0,20000020980,AKTOBE,217.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,50.279999,57.150002,16900.0,20000020980,AKTOBE,217.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,50.279999,57.150002,20000.0,20000020980,AKTOBE,214.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,50.279999,57.150002,20100.0,20000020980,AKTOBE,214.500000,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3882,50.279999,57.150002,70000.0,20000021103,AKTOBE,260.100006,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3883,50.279999,57.150002,74000.0,20000021103,AKTOBE,263.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3884,50.279999,57.150002,85000.0,20000021103,AKTOBE,270.299988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3885,50.279999,57.150002,89500.0,20000021103,AKTOBE,273.799988,1978-10-31 18:00:00,nnnnnnnnnnnnnn
3886,50.279999,57.150002,95700.0,20000021103,AKTOBE,275.000000,1978-10-31 18:00:00,nnnnnnnnnnnnnn

2021-05-25 11:26:01,491 INFO Welcome to the CDS
2021-05-25 11:26:01,494 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

country - testing:  NOR

2021-05-25 11:26:01,679 INFO Request is queued
2021-05-25 11:26:02,714 INFO Request is completed
2021-05-25 11:26:02,715 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934762.1820602-6124-17-a5773893-f3f8-4072-bd73-322b0e9bdc70.zip to download.zip (478.7K)
2021-05-25 11:26:02,965 INFO Download rate 1.9M/s
2021-05-25 11:26:03,151 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,58.869999,5.67,2000.0,20000012728,STAVANGER/SOLA (1415-0),213.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,58.869999,5.67,3000.0,20000012728,STAVANGER/SOLA (1415-0),215.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,58.869999,5.67,5000.0,20000012728,STAVANGER/SOLA (1415-0),217.300003,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,58.869999,5.67,7000.0,20000012728,STAVANGER/SOLA (1415-0),218.100006,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,58.869999,5.67,10000.0,20000012728,STAVANGER/SOLA (1415-0),218.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
1672,58.869999,5.67,74200.0,20000012790,STAVANGER/SOLA (1415-0),272.100006,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1673,58.869999,5.67,76100.0,20000012790,STAVANGER/SOLA (1415-0),268.100006,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1674,58.869999,5.67,85000.0,20000012790,STAVANGER/SOLA (1415-0),275.799988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1675,58.869999,5.67,90900.0,20000012790,STAVANGER/SOLA (1415-0),280.000000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1676,58.869999,5.67,100000.0,20000012790,STAVANGER/SOLA (1415-0),282.200012,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:26:03,380 INFO Welcome to the CDS
2021-05-25 11:26:03,381 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

country - testing:  ['NOR', 'DEU']

2021-05-25 11:26:03,531 INFO Request is queued
2021-05-25 11:26:04,568 INFO Request is completed
2021-05-25 11:26:04,570 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934763.9076757-9859-4-77139603-49f2-4f76-b523-c332898b67a0.zip to download.zip (1.9M)
2021-05-25 11:26:05,122 INFO Download rate 3.5M/s
2021-05-25 11:26:05,801 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,58.869999,5.67,2000.0,20000012728,STAVANGER/SOLA (1415-0),213.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
1,58.869999,5.67,3000.0,20000012728,STAVANGER/SOLA (1415-0),215.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
2,58.869999,5.67,5000.0,20000012728,STAVANGER/SOLA (1415-0),217.300003,1978-10-01 00:00:00,nnnnnnnnnnnnnn
3,58.869999,5.67,7000.0,20000012728,STAVANGER/SOLA (1415-0),218.100006,1978-10-01 00:00:00,nnnnnnnnnnnnnn
4,58.869999,5.67,10000.0,20000012728,STAVANGER/SOLA (1415-0),218.699997,1978-10-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
1672,58.869999,5.67,74200.0,20000012790,STAVANGER/SOLA (1415-0),272.100006,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1673,58.869999,5.67,76100.0,20000012790,STAVANGER/SOLA (1415-0),268.100006,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1674,58.869999,5.67,85000.0,20000012790,STAVANGER/SOLA (1415-0),275.799988,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1675,58.869999,5.67,90900.0,20000012790,STAVANGER/SOLA (1415-0),280.000000,1978-10-31 12:00:00,nnnnnnnnnnnnnn
1676,58.869999,5.67,100000.0,20000012790,STAVANGER/SOLA (1415-0),282.200012,1978-10-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:26:06,109 INFO Welcome to the CDS
2021-05-25 11:26:06,110 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

country - testing:  NORWAY

2021-05-25 11:26:06,277 INFO Request is queued
2021-05-25 11:26:07,315 INFO Request is failed
2021-05-25 11:26:07,317 ERROR Message: an internal error occurred processing your request
2021-05-25 11:26:07,318 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:26:07,319 ERROR   Traceback (most recent call last):
2021-05-25 11:26:07,320 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:26:07,320 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:26:07,321 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:26:07,321 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:26:07,322 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:26:07,322 ERROR       return p(*args, **kwargs)
2021-05-25 11:26:07,323 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:26:07,323 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:26:07,323 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:26:07,324 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:26:07,324 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:26:07,459 INFO Welcome to the CDS
2021-05-25 11:26:07,460 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
country - testing:  nor

2021-05-25 11:26:07,612 INFO Request is queued
2021-05-25 11:26:08,653 INFO Request is failed
2021-05-25 11:26:08,655 ERROR Message: an internal error occurred processing your request
2021-05-25 11:26:08,657 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:26:08,660 ERROR   Traceback (most recent call last):
2021-05-25 11:26:08,662 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:26:08,664 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:26:08,666 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:26:08,667 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:26:08,669 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:26:08,671 ERROR       return p(*args, **kwargs)
2021-05-25 11:26:08,672 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:26:08,674 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:26:08,675 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:26:08,677 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:26:08,678 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:26:08,837 INFO Welcome to the CDS
2021-05-25 11:26:08,839 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
country - testing: finished
date - testing:  None

2021-05-25 11:26:09,004 INFO Request is queued
2021-05-25 11:26:10,040 INFO Request is running
2021-05-25 11:26:30,007 INFO Request is completed
2021-05-25 11:26:30,008 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934782.8035817-8822-10-6aeb9868-3b65-49ad-94ea-d6b8c54af56a.zip to download.zip (222.1M)
2021-05-25 11:26:40,418 INFO Download rate 21.3M/s
2021-05-25 11:26:42,438 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.250000,16.370001,4300.0,80000000000,WIEN/HOHE WARTE (11035-0),220.750000,1925-01-24 09:22:00,nnnnnnnnnnnnnn
1,48.250000,16.370001,4400.0,80000000000,WIEN/HOHE WARTE (11035-0),220.550003,1925-01-24 09:22:00,nnnnnnnnnnnnnn
2,48.250000,16.370001,5300.0,80000000000,WIEN/HOHE WARTE (11035-0),216.250000,1925-01-24 09:22:00,nnnnnnnnnnnnnn
3,48.250000,16.370001,9200.0,80000000000,WIEN/HOHE WARTE (11035-0),215.850006,1925-01-24 09:22:00,nnnnnnnnnnnnnn
4,48.250000,16.370001,10300.0,80000000000,WIEN/HOHE WARTE (11035-0),220.050003,1925-01-24 09:22:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
6327436,48.248951,16.357180,98130.0,10000056183,WIEN/HOHE WARTE (11035-0),278.739990,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327437,48.248951,16.357180,98190.0,10000056183,WIEN/HOHE WARTE (11035-0),278.839996,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327438,48.248951,16.357180,98210.0,10000056183,WIEN/HOHE WARTE (11035-0),278.950012,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327439,48.248951,16.357180,98240.0,10000056183,WIEN/HOHE WARTE (11035-0),278.940002,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327440,48.248951,16.357180,98320.0,10000056183,WIEN/HOHE WARTE (11035-0),279.109985,2020-12-31 11:30:10,nnnnnnnnnnnnnn

date - testing:  20000231

2021-05-25 11:27:36,856 INFO Welcome to the CDS
2021-05-25 11:27:36,857 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-05-25 11:27:37,116 INFO Request is queued
2021-05-25 11:27:38,152 INFO Request is completed
2021-05-25 11:27:38,154 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934857.290981-9543-10-a079433c-ca0c-4f55-99e5-9a51ba922651.zip to download.zip (37.9K)
2021-05-25 11:27:38,251 INFO Download rate 390.5K/s
2021-05-25 11:27:38,273 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,570.0,10000030872,WIEN/HOHE WARTE (11035-0),230.100006,2000-02-29 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,650.0,10000030872,WIEN/HOHE WARTE (11035-0),230.100006,2000-02-29 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,680.0,10000030872,WIEN/HOHE WARTE (11035-0),228.500000,2000-02-29 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,720.0,10000030872,WIEN/HOHE WARTE (11035-0),223.100006,2000-02-29 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,1000.0,10000030872,WIEN/HOHE WARTE (11035-0),220.699997,2000-02-29 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
129,48.25,16.370001,92400.0,10000030874,WIEN/HOHE WARTE (11035-0),278.200012,2000-02-29 12:00:00,nnnnnnnnnnnnnn
130,48.25,16.370001,92500.0,10000030874,WIEN/HOHE WARTE (11035-0),278.200012,2000-02-29 12:00:00,nnnnnnnnnnnnnn
131,48.25,16.370001,93500.0,10000030874,WIEN/HOHE WARTE (11035-0),275.399994,2000-02-29 12:00:00,nnnnnnnnnnnnnn
132,48.25,16.370001,94000.0,10000030874,WIEN/HOHE WARTE (11035-0),275.200012,2000-02-29 12:00:00,nnnnnnnnnnnnnn
133,48.25,16.370001,98900.0,10000030874,WIEN/HOHE WARTE (11035-0),278.799988,2000-02-29 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:27:38,531 INFO Welcome to the CDS
2021-05-25 11:27:38,532 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

date - testing:  20000101

2021-05-25 11:27:38,686 INFO Request is queued
2021-05-25 11:27:39,721 INFO Request is completed
2021-05-25 11:27:39,722 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934858.8315558-8873-10-cad3c4cc-77c1-4ede-a1f1-7ddf3ba7366b.zip to download.zip (37.8K)
2021-05-25 11:27:39,816 INFO Download rate 402.9K/s
2021-05-25 11:27:39,903 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
125,48.23,16.370001,85000.0,10000030637,WIEN/HOHE WARTE (11035-0),266.299988,2000-01-01 12:00:00,nnnnnnnnnnnnnn
126,48.23,16.370001,89800.0,10000030637,WIEN/HOHE WARTE (11035-0),270.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
127,48.23,16.370001,91500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
128,48.23,16.370001,92500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.700012,2000-01-01 12:00:00,nnnnnnnnnnnnnn
129,48.23,16.370001,95700.0,10000030637,WIEN/HOHE WARTE (11035-0),271.899994,2000-01-01 12:00:00,nnnnnnnnnnnnnn

date - testing:  20000101-20000201

2021-05-25 11:27:40,205 INFO Welcome to the CDS
2021-05-25 11:27:40,205 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-05-25 11:27:40,364 INFO Request is queued
2021-05-25 11:27:41,401 INFO Request is completed
2021-05-25 11:27:41,403 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621934860.5106323-8875-10-3d34fb86-8891-4283-82ac-bd1becb6c87c.zip to download.zip (191.1K)
2021-05-25 11:27:41,606 INFO Download rate 943K/s
2021-05-25 11:27:41,625 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3968,48.23,16.370001,90900.0,10000030762,WIEN/HOHE WARTE (11035-0),281.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3969,48.23,16.370001,91400.0,10000030762,WIEN/HOHE WARTE (11035-0),281.600006,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3970,48.23,16.370001,92500.0,10000030762,WIEN/HOHE WARTE (11035-0),281.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3971,48.23,16.370001,95700.0,10000030762,WIEN/HOHE WARTE (11035-0),282.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3972,48.23,16.370001,99100.0,10000030762,WIEN/HOHE WARTE (11035-0),285.600006,2000-02-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:27:41,831 INFO Welcome to the CDS
2021-05-25 11:27:41,832 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

date - testing:  ['20000101', '20000103', '20000106']

2021-05-25 11:27:42,008 INFO Request is queued
2021-05-25 11:27:43,044 INFO Request is running
2021-05-25 11:27:46,870 INFO Request is completed
2021-05-25 11:27:46,871 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934865.2969713-9586-8-53a2a2d6-e24a-48ab-bf15-038db673164d.zip to download.zip (61.2K)
2021-05-25 11:27:46,989 INFO Download rate 520.1K/s
2021-05-25 11:27:47,001 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
757,48.23,16.370001,96100.0,10000030657,WIEN/HOHE WARTE (11035-0),272.299988,2000-01-06 12:00:00,nnnnnnnnnnnnnn
758,48.23,16.370001,96800.0,10000030657,WIEN/HOHE WARTE (11035-0),272.700012,2000-01-06 12:00:00,nnnnnnnnnnnnnn
759,48.23,16.370001,97600.0,10000030657,WIEN/HOHE WARTE (11035-0),271.700012,2000-01-06 12:00:00,nnnnnnnnnnnnnn
760,48.23,16.370001,97900.0,10000030657,WIEN/HOHE WARTE (11035-0),270.700012,2000-01-06 12:00:00,nnnnnnnnnnnnnn
761,48.23,16.370001,98100.0,10000030657,WIEN/HOHE WARTE (11035-0),269.500000,2000-01-06 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:27:47,196 INFO Welcome to the CDS
2021-05-25 11:27:47,197 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

date - testing:  ['20000102', '20000101']

2021-05-25 11:27:47,346 INFO Request is queued
2021-05-25 11:27:48,381 INFO Request is completed
2021-05-25 11:27:48,382 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934867.6837096-8880-8-71543c10-0c25-4387-9fe8-6ee2e4a23eb7.zip to download.zip (42.6K)
2021-05-25 11:27:48,497 INFO Download rate 373.1K/s
2021-05-25 11:27:48,551 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
242,48.23,16.370001,94800.0,10000030641,WIEN/HOHE WARTE (11035-0),272.100006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
243,48.23,16.370001,97800.0,10000030641,WIEN/HOHE WARTE (11035-0),273.600006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
244,48.23,16.370001,98300.0,10000030641,WIEN/HOHE WARTE (11035-0),271.500000,2000-01-02 12:00:00,nnnnnnnnnnnnnn
245,48.23,16.370001,99100.0,10000030641,WIEN/HOHE WARTE (11035-0),271.100006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
246,48.23,16.370001,100000.0,10000030641,WIEN/HOHE WARTE (11035-0),271.700012,2000-01-02 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:27:48,747 INFO Welcome to the CDS
2021-05-25 11:27:48,748 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

date - testing:  2000011

2021-05-25 11:27:48,900 INFO Request is queued
2021-05-25 11:27:49,936 INFO Request is failed
2021-05-25 11:27:49,937 ERROR Message: an internal error occurred processing your request
2021-05-25 11:27:49,938 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:49,938 ERROR   Traceback (most recent call last):
2021-05-25 11:27:49,938 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:27:49,939 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:27:49,939 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:27:49,940 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:27:49,941 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:27:49,941 ERROR       return p(*args, **kwargs)
2021-05-25 11:27:49,942 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:27:49,942 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:27:49,943 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:27:49,944 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:27:49,945 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:50,072 INFO Welcome to the CDS
2021-05-25 11:27:50,073 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
date - testing:  20000100

2021-05-25 11:27:50,227 INFO Request is queued
2021-05-25 11:27:51,268 INFO Request is failed
2021-05-25 11:27:51,270 ERROR Message: an internal error occurred processing your request
2021-05-25 11:27:51,273 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:51,275 ERROR   Traceback (most recent call last):
2021-05-25 11:27:51,277 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:27:51,278 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:27:51,279 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:27:51,281 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:27:51,282 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:27:51,284 ERROR       return p(*args, **kwargs)
2021-05-25 11:27:51,286 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:27:51,287 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:27:51,288 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:27:51,290 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:27:51,291 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:51,448 INFO Welcome to the CDS
2021-05-25 11:27:51,449 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
date - testing:  00000000

2021-05-25 11:27:51,620 INFO Request is queued
2021-05-25 11:27:52,657 INFO Request is failed
2021-05-25 11:27:52,658 ERROR Message: an internal error occurred processing your request
2021-05-25 11:27:52,658 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:52,659 ERROR   Traceback (most recent call last):
2021-05-25 11:27:52,659 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:27:52,660 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:27:52,660 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:27:52,661 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:27:52,662 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:27:52,662 ERROR       return p(*args, **kwargs)
2021-05-25 11:27:52,663 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:27:52,663 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:27:52,664 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:27:52,664 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:27:52,665 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:52,797 INFO Welcome to the CDS
2021-05-25 11:27:52,798 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
date - testing:  20000132

2021-05-25 11:27:52,952 INFO Request is queued
2021-05-25 11:27:53,989 INFO Request is failed
2021-05-25 11:27:53,990 ERROR Message: an internal error occurred processing your request
2021-05-25 11:27:53,991 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:53,992 ERROR   Traceback (most recent call last):
2021-05-25 11:27:53,992 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:27:53,993 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:27:53,993 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:27:53,994 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:27:53,995 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:27:53,995 ERROR       return p(*args, **kwargs)
2021-05-25 11:27:53,996 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:27:53,996 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:27:53,997 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:27:53,997 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:27:53,998 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:54,123 INFO Welcome to the CDS
2021-05-25 11:27:54,124 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
date - testing:  20001301

2021-05-25 11:27:54,282 INFO Request is queued
2021-05-25 11:27:55,319 INFO Request is failed
2021-05-25 11:27:55,320 ERROR Message: an internal error occurred processing your request
2021-05-25 11:27:55,321 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:55,322 ERROR   Traceback (most recent call last):
2021-05-25 11:27:55,322 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:27:55,323 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:27:55,324 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:27:55,325 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:27:55,326 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:27:55,326 ERROR       return p(*args, **kwargs)
2021-05-25 11:27:55,327 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:27:55,327 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:27:55,329 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:27:55,329 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:27:55,330 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:55,462 INFO Welcome to the CDS
2021-05-25 11:27:55,462 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
date - testing:  20000201-20000101

2021-05-25 11:27:55,620 INFO Request is queued
2021-05-25 11:27:56,656 INFO Request is failed
2021-05-25 11:27:56,657 ERROR Message: an internal error occurred processing your request
2021-05-25 11:27:56,657 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:56,658 ERROR   Traceback (most recent call last):
2021-05-25 11:27:56,658 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:27:56,659 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:27:56,659 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:27:56,659 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:27:56,660 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:27:56,660 ERROR       return p(*args, **kwargs)
2021-05-25 11:27:56,661 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:27:56,661 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:27:56,661 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:27:56,662 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:27:56,662 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:56,792 INFO Welcome to the CDS
2021-05-25 11:27:56,793 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
date - testing:  20000101/20000201

2021-05-25 11:27:56,968 INFO Request is queued
2021-05-25 11:27:58,005 INFO Request is failed
2021-05-25 11:27:58,006 ERROR Message: an internal error occurred processing your request
2021-05-25 11:27:58,006 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:58,007 ERROR   Traceback (most recent call last):
2021-05-25 11:27:58,007 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:27:58,008 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:27:58,008 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:27:58,011 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:27:58,012 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:27:58,012 ERROR       return p(*args, **kwargs)
2021-05-25 11:27:58,012 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:27:58,013 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:27:58,013 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:27:58,014 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:27:58,014 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:27:58,161 INFO Welcome to the CDS
2021-05-25 11:27:58,162 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
date - testing: finished
period - testing:  None

2021-05-25 11:27:58,312 INFO Request is queued
2021-05-25 11:27:59,347 INFO Request is running
2021-05-25 11:28:19,317 INFO Request is completed
2021-05-25 11:28:19,318 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621934890.4820569-9025-8-0e6626c6-3a6d-44a8-a742-fc3f5369981c.zip to download.zip (222.1M)
2021-05-25 11:29:04,335 INFO Download rate 4.9M/s
2021-05-25 11:29:05,536 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.250000,16.370001,4300.0,80000000000,WIEN/HOHE WARTE (11035-0),220.750000,1925-01-24 09:22:00,nnnnnnnnnnnnnn
1,48.250000,16.370001,4400.0,80000000000,WIEN/HOHE WARTE (11035-0),220.550003,1925-01-24 09:22:00,nnnnnnnnnnnnnn
2,48.250000,16.370001,5300.0,80000000000,WIEN/HOHE WARTE (11035-0),216.250000,1925-01-24 09:22:00,nnnnnnnnnnnnnn
3,48.250000,16.370001,9200.0,80000000000,WIEN/HOHE WARTE (11035-0),215.850006,1925-01-24 09:22:00,nnnnnnnnnnnnnn
4,48.250000,16.370001,10300.0,80000000000,WIEN/HOHE WARTE (11035-0),220.050003,1925-01-24 09:22:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
6327436,48.248951,16.357180,98130.0,10000056183,WIEN/HOHE WARTE (11035-0),278.739990,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327437,48.248951,16.357180,98190.0,10000056183,WIEN/HOHE WARTE (11035-0),278.839996,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327438,48.248951,16.357180,98210.0,10000056183,WIEN/HOHE WARTE (11035-0),278.950012,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327439,48.248951,16.357180,98240.0,10000056183,WIEN/HOHE WARTE (11035-0),278.940002,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327440,48.248951,16.357180,98320.0,10000056183,WIEN/HOHE WARTE (11035-0),279.109985,2020-12-31 11:30:10,nnnnnnnnnnnnnn

2021-05-25 11:30:44,102 INFO Welcome to the CDS
2021-05-25 11:30:44,103 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

period - testing:  1979-01-01/1980-08-16

2021-05-25 11:30:44,403 INFO Request is queued
2021-05-25 11:30:45,438 INFO Request is completed
2021-05-25 11:30:45,440 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935044.7892692-9028-8-78c53f21-edc0-42a8-a99c-33f1a0e25795.zip to download.zip (1.7M)
2021-05-25 11:30:45,908 INFO Download rate 3.6M/s
2021-05-25 11:30:45,973 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.360001,1000.0,10000000000,WIEN/HOHE WARTE (11035-0),212.699997,1979-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.360001,1300.0,10000000000,WIEN/HOHE WARTE (11035-0),215.500000,1979-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.360001,1700.0,10000000000,WIEN/HOHE WARTE (11035-0),202.500000,1979-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.360001,2000.0,10000000000,WIEN/HOHE WARTE (11035-0),204.699997,1979-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.360001,2700.0,10000000000,WIEN/HOHE WARTE (11035-0),208.699997,1979-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
43198,48.25,16.370001,81800.0,10000002338,WIEN/HOHE WARTE (11035-0),282.399994,1980-08-16 12:00:00,nnnnnnnnnnnnnn
43199,48.25,16.370001,85000.0,10000002338,WIEN/HOHE WARTE (11035-0),285.399994,1980-08-16 12:00:00,nnnnnnnnnnnnnn
43200,48.25,16.370001,88200.0,10000002338,WIEN/HOHE WARTE (11035-0),288.200012,1980-08-16 12:00:00,nnnnnnnnnnnnnn
43201,48.25,16.370001,93000.0,10000002338,WIEN/HOHE WARTE (11035-0),290.399994,1980-08-16 12:00:00,nnnnnnnnnnnnnn
43202,48.25,16.370001,98000.0,10000002338,WIEN/HOHE WARTE (11035-0),294.799988,1980-08-16 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:30:46,317 INFO Welcome to the CDS
2021-05-25 11:30:46,318 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

period - testing:  1980-01-02/1980-01-01

2021-05-25 11:30:46,466 INFO Request is queued
2021-05-25 11:30:47,501 INFO Request is failed
2021-05-25 11:30:47,502 ERROR Message: an internal error occurred processing your request
2021-05-25 11:30:47,502 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:30:47,503 ERROR   Traceback (most recent call last):
2021-05-25 11:30:47,503 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:30:47,504 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:30:47,504 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:30:47,505 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:30:47,505 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:30:47,506 ERROR       return p(*args, **kwargs)
2021-05-25 11:30:47,506 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:30:47,507 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:30:47,507 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:30:47,508 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:30:47,508 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:30:47,633 INFO Welcome to the CDS
2021-05-25 11:30:47,634 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
period - testing: finished
pressure_level - testing:  100

2021-05-25 11:30:47,783 INFO Request is queued
2021-05-25 11:30:48,818 INFO Request is completed
2021-05-25 11:30:48,819 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935048.0892224-9632-8-54af33bd-82af-4ed0-91e5-a25228e2273b.zip to download.zip (34.6K)
2021-05-25 11:30:48,916 INFO Download rate 358.7K/s
2021-05-25 11:30:48,941 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,10000.0,10000045408,WIEN/HOHE WARTE (11035-0),216.300003,2010-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,10000.0,10000045410,WIEN/HOHE WARTE (11035-0),216.500000,2010-01-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:30:49,147 INFO Welcome to the CDS
2021-05-25 11:30:49,148 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

pressure_level - testing:  100

2021-05-25 11:30:49,299 INFO Request is queued
2021-05-25 11:30:50,337 INFO Request is completed
2021-05-25 11:30:50,338 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935049.6136725-9033-8-abc4a25a-993a-47c5-953e-edb99de38d0b.zip to download.zip (34.6K)
2021-05-25 11:30:50,590 INFO Download rate 137.3K/s
2021-05-25 11:30:50,601 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,10000.0,10000045408,WIEN/HOHE WARTE (11035-0),216.300003,2010-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,10000.0,10000045410,WIEN/HOHE WARTE (11035-0),216.500000,2010-01-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:30:50,784 INFO Welcome to the CDS
2021-05-25 11:30:50,784 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

pressure_level - testing:  [100, 200]

2021-05-25 11:30:50,940 INFO Request is queued
2021-05-25 11:30:51,974 INFO Request is completed
2021-05-25 11:30:51,976 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935051.4019315-9654-8-918ab4bb-9c75-4c36-b7f4-300672dcfe39.zip to download.zip (34.6K)
2021-05-25 11:30:52,072 INFO Download rate 360K/s
2021-05-25 11:30:52,102 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,10000.0,10000045408,WIEN/HOHE WARTE (11035-0),216.300003,2010-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,20000.0,10000045408,WIEN/HOHE WARTE (11035-0),218.699997,2010-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,10000.0,10000045410,WIEN/HOHE WARTE (11035-0),216.500000,2010-01-01 12:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,20000.0,10000045410,WIEN/HOHE WARTE (11035-0),215.699997,2010-01-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:30:52,295 INFO Welcome to the CDS
2021-05-25 11:30:52,296 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

pressure_level - testing:  ['100', '200']

2021-05-25 11:30:52,452 INFO Request is queued
2021-05-25 11:30:53,489 INFO Request is completed
2021-05-25 11:30:53,489 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935052.7423193-9102-7-b49fefe7-e223-4865-9f33-c354213cd07b.zip to download.zip (34.6K)
2021-05-25 11:30:53,577 INFO Download rate 396.4K/s
2021-05-25 11:30:53,591 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,10000.0,10000045408,WIEN/HOHE WARTE (11035-0),216.300003,2010-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,20000.0,10000045408,WIEN/HOHE WARTE (11035-0),218.699997,2010-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,10000.0,10000045410,WIEN/HOHE WARTE (11035-0),216.500000,2010-01-01 12:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,20000.0,10000045410,WIEN/HOHE WARTE (11035-0),215.699997,2010-01-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:30:53,782 INFO Welcome to the CDS
2021-05-25 11:30:53,783 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

pressure_level - testing:  0

2021-05-25 11:30:53,933 INFO Request is queued
2021-05-25 11:30:54,968 INFO Request is failed
2021-05-25 11:30:54,969 ERROR Message: an internal error occurred processing your request
2021-05-25 11:30:54,969 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:30:54,970 ERROR   Traceback (most recent call last):
2021-05-25 11:30:54,970 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:30:54,971 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:30:54,971 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:30:54,972 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:30:54,972 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:30:54,973 ERROR       return p(*args, **kwargs)
2021-05-25 11:30:54,973 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:30:54,974 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:30:54,974 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:30:54,974 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:30:54,975 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:30:55,110 INFO Welcome to the CDS
2021-05-25 11:30:55,111 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
pressure_level - testing:  2000

2021-05-25 11:30:55,265 INFO Request is queued
2021-05-25 11:30:56,305 INFO Request is failed
2021-05-25 11:30:56,307 ERROR Message: an internal error occurred processing your request
2021-05-25 11:30:56,308 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:30:56,309 ERROR   Traceback (most recent call last):
2021-05-25 11:30:56,311 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:30:56,312 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:30:56,313 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:30:56,315 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:30:56,316 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:30:56,317 ERROR       return p(*args, **kwargs)
2021-05-25 11:30:56,318 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:30:56,320 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:30:56,321 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:30:56,322 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:30:56,323 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:30:56,476 INFO Welcome to the CDS
2021-05-25 11:30:56,477 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
pressure_level - testing: finished
time - testing:  [22, 23, 0, 1, 2, 3]

2021-05-25 11:30:56,659 INFO Request is queued
2021-05-25 11:30:57,697 INFO Request is completed
2021-05-25 11:30:57,698 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935057.277432-6297-14-662bf809-a66e-444a-b096-0cbdfea8aed6.zip to download.zip (97.7K)
2021-05-25 11:30:57,854 INFO Download rate 628.2K/s
2021-05-25 11:30:57,973 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,640.0,10000045408,WIEN/HOHE WARTE (11035-0),224.500000,2010-01-01,nnnnnnnnnnnnnn
1,48.25,16.370001,700.0,10000045408,WIEN/HOHE WARTE (11035-0),223.300003,2010-01-01,nnnnnnnnnnnnnn
2,48.25,16.370001,790.0,10000045408,WIEN/HOHE WARTE (11035-0),224.500000,2010-01-01,nnnnnnnnnnnnnn
3,48.25,16.370001,880.0,10000045408,WIEN/HOHE WARTE (11035-0),220.500000,2010-01-01,nnnnnnnnnnnnnn
4,48.25,16.370001,1000.0,10000045408,WIEN/HOHE WARTE (11035-0),224.300003,2010-01-01,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
1703,48.25,16.370001,79700.0,10000045532,WIEN/HOHE WARTE (11035-0),258.500000,2010-02-01,nnnnnnnnnnnnnn
1704,48.25,16.370001,84000.0,10000045532,WIEN/HOHE WARTE (11035-0),262.500000,2010-02-01,nnnnnnnnnnnnnn
1705,48.25,16.370001,85000.0,10000045532,WIEN/HOHE WARTE (11035-0),262.899994,2010-02-01,nnnnnnnnnnnnnn
1706,48.25,16.370001,87000.0,10000045532,WIEN/HOHE WARTE (11035-0),263.700012,2010-02-01,nnnnnnnnnnnnnn
1707,48.25,16.370001,92500.0,10000045532,WIEN/HOHE WARTE (11035-0),267.500000,2010-02-01,nnnnnnnnnnnnnn

2021-05-25 11:30:58,195 INFO Welcome to the CDS
2021-05-25 11:30:58,196 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

time - testing:  ['22', '23', '00', '01', '02', '03']

2021-05-25 11:30:58,358 INFO Request is queued
2021-05-25 11:30:59,395 INFO Request is completed
2021-05-25 11:30:59,396 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935058.6176543-7861-14-b275cb51-1a75-48ee-ad0c-d8146747efe3.zip to download.zip (97.7K)
2021-05-25 11:30:59,545 INFO Download rate 658.8K/s
2021-05-25 11:30:59,564 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,640.0,10000045408,WIEN/HOHE WARTE (11035-0),224.500000,2010-01-01,nnnnnnnnnnnnnn
1,48.25,16.370001,700.0,10000045408,WIEN/HOHE WARTE (11035-0),223.300003,2010-01-01,nnnnnnnnnnnnnn
2,48.25,16.370001,790.0,10000045408,WIEN/HOHE WARTE (11035-0),224.500000,2010-01-01,nnnnnnnnnnnnnn
3,48.25,16.370001,880.0,10000045408,WIEN/HOHE WARTE (11035-0),220.500000,2010-01-01,nnnnnnnnnnnnnn
4,48.25,16.370001,1000.0,10000045408,WIEN/HOHE WARTE (11035-0),224.300003,2010-01-01,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
1703,48.25,16.370001,79700.0,10000045532,WIEN/HOHE WARTE (11035-0),258.500000,2010-02-01,nnnnnnnnnnnnnn
1704,48.25,16.370001,84000.0,10000045532,WIEN/HOHE WARTE (11035-0),262.500000,2010-02-01,nnnnnnnnnnnnnn
1705,48.25,16.370001,85000.0,10000045532,WIEN/HOHE WARTE (11035-0),262.899994,2010-02-01,nnnnnnnnnnnnnn
1706,48.25,16.370001,87000.0,10000045532,WIEN/HOHE WARTE (11035-0),263.700012,2010-02-01,nnnnnnnnnnnnnn
1707,48.25,16.370001,92500.0,10000045532,WIEN/HOHE WARTE (11035-0),267.500000,2010-02-01,nnnnnnnnnnnnnn

2021-05-25 11:30:59,763 INFO Welcome to the CDS
2021-05-25 11:30:59,764 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

time - testing:

2021-05-25 11:30:59,912 INFO Request is queued
2021-05-25 11:31:00,946 INFO Request is completed
2021-05-25 11:31:00,947 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935060.0642984-5908-14-bdbce86a-0c9e-422a-916c-6353bfd37eb2.zip to download.zip (184.7K)
2021-05-25 11:31:01,134 INFO Download rate 991.5K/s
2021-05-25 11:31:01,186 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,640.0,10000045408,WIEN/HOHE WARTE (11035-0),224.500000,2010-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,700.0,10000045408,WIEN/HOHE WARTE (11035-0),223.300003,2010-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,790.0,10000045408,WIEN/HOHE WARTE (11035-0),224.500000,2010-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,880.0,10000045408,WIEN/HOHE WARTE (11035-0),220.500000,2010-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,1000.0,10000045408,WIEN/HOHE WARTE (11035-0),224.300003,2010-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3809,48.25,16.370001,3810.0,10000045534,WIEN/HOHE WARTE (11035-0),208.699997,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3810,48.25,16.370001,4010.0,10000045534,WIEN/HOHE WARTE (11035-0),211.500000,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3811,48.25,16.370001,4530.0,10000045534,WIEN/HOHE WARTE (11035-0),213.100006,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3812,48.25,16.370001,7560.0,10000045534,WIEN/HOHE WARTE (11035-0),208.300003,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3813,48.25,16.370001,9440.0,10000045534,WIEN/HOHE WARTE (11035-0),211.300003,2010-02-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:31:01,446 INFO Welcome to the CDS
2021-05-25 11:31:01,447 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

time - testing:  0

2021-05-25 11:31:01,595 INFO Request is queued
2021-05-25 11:31:02,629 INFO Request is completed
2021-05-25 11:31:02,630 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935061.8873858-9781-7-50f30028-74ef-47ac-9a41-ea81a656284f.zip to download.zip (100.3K)
2021-05-25 11:31:02,785 INFO Download rate 647.8K/s
2021-05-25 11:31:02,823 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,540.0,10000045404,WIEN/HOHE WARTE (11035-0),223.100006,2009-12-31,nnnnnnnnnnnnnn
1,48.25,16.370001,750.0,10000045404,WIEN/HOHE WARTE (11035-0),222.500000,2009-12-31,nnnnnnnnnnnnnn
2,48.25,16.370001,830.0,10000045404,WIEN/HOHE WARTE (11035-0),219.699997,2009-12-31,nnnnnnnnnnnnnn
3,48.25,16.370001,1000.0,10000045404,WIEN/HOHE WARTE (11035-0),221.500000,2009-12-31,nnnnnnnnnnnnnn
4,48.25,16.370001,1360.0,10000045404,WIEN/HOHE WARTE (11035-0),225.500000,2009-12-31,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
1774,48.25,16.370001,79700.0,10000045532,WIEN/HOHE WARTE (11035-0),258.500000,2010-02-01,nnnnnnnnnnnnnn
1775,48.25,16.370001,84000.0,10000045532,WIEN/HOHE WARTE (11035-0),262.500000,2010-02-01,nnnnnnnnnnnnnn
1776,48.25,16.370001,85000.0,10000045532,WIEN/HOHE WARTE (11035-0),262.899994,2010-02-01,nnnnnnnnnnnnnn
1777,48.25,16.370001,87000.0,10000045532,WIEN/HOHE WARTE (11035-0),263.700012,2010-02-01,nnnnnnnnnnnnnn
1778,48.25,16.370001,92500.0,10000045532,WIEN/HOHE WARTE (11035-0),267.500000,2010-02-01,nnnnnnnnnnnnnn

2021-05-25 11:31:03,050 INFO Welcome to the CDS
2021-05-25 11:31:03,052 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

time - testing:  00

2021-05-25 11:31:03,207 INFO Request is queued
2021-05-25 11:31:04,242 INFO Request is completed
2021-05-25 11:31:04,244 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935063.4487517-9784-7-fe164fee-421b-4e37-8a03-2d5d8757cade.zip to download.zip (100.3K)
2021-05-25 11:31:04,388 INFO Download rate 702.3K/s
2021-05-25 11:31:04,409 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,540.0,10000045404,WIEN/HOHE WARTE (11035-0),223.100006,2009-12-31,nnnnnnnnnnnnnn
1,48.25,16.370001,750.0,10000045404,WIEN/HOHE WARTE (11035-0),222.500000,2009-12-31,nnnnnnnnnnnnnn
2,48.25,16.370001,830.0,10000045404,WIEN/HOHE WARTE (11035-0),219.699997,2009-12-31,nnnnnnnnnnnnnn
3,48.25,16.370001,1000.0,10000045404,WIEN/HOHE WARTE (11035-0),221.500000,2009-12-31,nnnnnnnnnnnnnn
4,48.25,16.370001,1360.0,10000045404,WIEN/HOHE WARTE (11035-0),225.500000,2009-12-31,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
1774,48.25,16.370001,79700.0,10000045532,WIEN/HOHE WARTE (11035-0),258.500000,2010-02-01,nnnnnnnnnnnnnn
1775,48.25,16.370001,84000.0,10000045532,WIEN/HOHE WARTE (11035-0),262.500000,2010-02-01,nnnnnnnnnnnnnn
1776,48.25,16.370001,85000.0,10000045532,WIEN/HOHE WARTE (11035-0),262.899994,2010-02-01,nnnnnnnnnnnnnn
1777,48.25,16.370001,87000.0,10000045532,WIEN/HOHE WARTE (11035-0),263.700012,2010-02-01,nnnnnnnnnnnnnn
1778,48.25,16.370001,92500.0,10000045532,WIEN/HOHE WARTE (11035-0),267.500000,2010-02-01,nnnnnnnnnnnnnn

2021-05-25 11:31:04,606 INFO Welcome to the CDS
2021-05-25 11:31:04,608 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

time - testing:  ['00']

2021-05-25 11:31:04,757 INFO Request is queued
2021-05-25 11:31:05,793 INFO Request is running
2021-05-25 11:31:07,328 INFO Request is completed
2021-05-25 11:31:07,330 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935066.1795068-8662-14-ead17324-39e5-4972-bd13-081795b5d24e.zip to download.zip (100.3K)
2021-05-25 11:31:07,482 INFO Download rate 666.1K/s
2021-05-25 11:31:07,542 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,540.0,10000045404,WIEN/HOHE WARTE (11035-0),223.100006,2009-12-31,nnnnnnnnnnnnnn
1,48.25,16.370001,750.0,10000045404,WIEN/HOHE WARTE (11035-0),222.500000,2009-12-31,nnnnnnnnnnnnnn
2,48.25,16.370001,830.0,10000045404,WIEN/HOHE WARTE (11035-0),219.699997,2009-12-31,nnnnnnnnnnnnnn
3,48.25,16.370001,1000.0,10000045404,WIEN/HOHE WARTE (11035-0),221.500000,2009-12-31,nnnnnnnnnnnnnn
4,48.25,16.370001,1360.0,10000045404,WIEN/HOHE WARTE (11035-0),225.500000,2009-12-31,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
1774,48.25,16.370001,79700.0,10000045532,WIEN/HOHE WARTE (11035-0),258.500000,2010-02-01,nnnnnnnnnnnnnn
1775,48.25,16.370001,84000.0,10000045532,WIEN/HOHE WARTE (11035-0),262.500000,2010-02-01,nnnnnnnnnnnnnn
1776,48.25,16.370001,85000.0,10000045532,WIEN/HOHE WARTE (11035-0),262.899994,2010-02-01,nnnnnnnnnnnnnn
1777,48.25,16.370001,87000.0,10000045532,WIEN/HOHE WARTE (11035-0),263.700012,2010-02-01,nnnnnnnnnnnnnn
1778,48.25,16.370001,92500.0,10000045532,WIEN/HOHE WARTE (11035-0),267.500000,2010-02-01,nnnnnnnnnnnnnn

2021-05-25 11:31:07,744 INFO Welcome to the CDS
2021-05-25 11:31:07,747 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

time - testing:  [0, 12]

2021-05-25 11:31:07,899 INFO Request is queued
2021-05-25 11:31:08,933 INFO Request is completed
2021-05-25 11:31:08,935 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935068.3402472-14838-14-2bf2caa6-63ac-4d59-817b-215bc5fea9c4.zip to download.zip (168K)
2021-05-25 11:31:09,112 INFO Download rate 953.7K/s
2021-05-25 11:31:09,210 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,540.0,10000045404,WIEN/HOHE WARTE (11035-0),223.100006,2009-12-31 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,750.0,10000045404,WIEN/HOHE WARTE (11035-0),222.500000,2009-12-31 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,830.0,10000045404,WIEN/HOHE WARTE (11035-0),219.699997,2009-12-31 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,1000.0,10000045404,WIEN/HOHE WARTE (11035-0),221.500000,2009-12-31 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,1360.0,10000045404,WIEN/HOHE WARTE (11035-0),225.500000,2009-12-31 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3608,48.25,16.370001,3810.0,10000045534,WIEN/HOHE WARTE (11035-0),208.699997,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3609,48.25,16.370001,4010.0,10000045534,WIEN/HOHE WARTE (11035-0),211.500000,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3610,48.25,16.370001,4530.0,10000045534,WIEN/HOHE WARTE (11035-0),213.100006,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3611,48.25,16.370001,7560.0,10000045534,WIEN/HOHE WARTE (11035-0),208.300003,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3612,48.25,16.370001,9440.0,10000045534,WIEN/HOHE WARTE (11035-0),211.300003,2010-02-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:31:09,434 INFO Welcome to the CDS
2021-05-25 11:31:09,435 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

time - testing:  ['0', '12']

2021-05-25 11:31:09,593 INFO Request is queued
2021-05-25 11:31:10,630 INFO Request is completed
2021-05-25 11:31:10,632 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935069.9298222-10215-1-487496b0-a0eb-4fc7-a6aa-d53d1cef5c7f.zip to download.zip (168K)
2021-05-25 11:31:10,839 INFO Download rate 814.3K/s
2021-05-25 11:31:10,876 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,540.0,10000045404,WIEN/HOHE WARTE (11035-0),223.100006,2009-12-31 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,750.0,10000045404,WIEN/HOHE WARTE (11035-0),222.500000,2009-12-31 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,830.0,10000045404,WIEN/HOHE WARTE (11035-0),219.699997,2009-12-31 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,1000.0,10000045404,WIEN/HOHE WARTE (11035-0),221.500000,2009-12-31 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,1360.0,10000045404,WIEN/HOHE WARTE (11035-0),225.500000,2009-12-31 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3608,48.25,16.370001,3810.0,10000045534,WIEN/HOHE WARTE (11035-0),208.699997,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3609,48.25,16.370001,4010.0,10000045534,WIEN/HOHE WARTE (11035-0),211.500000,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3610,48.25,16.370001,4530.0,10000045534,WIEN/HOHE WARTE (11035-0),213.100006,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3611,48.25,16.370001,7560.0,10000045534,WIEN/HOHE WARTE (11035-0),208.300003,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3612,48.25,16.370001,9440.0,10000045534,WIEN/HOHE WARTE (11035-0),211.300003,2010-02-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:31:11,078 INFO Welcome to the CDS
2021-05-25 11:31:11,080 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

time - testing:  24

2021-05-25 11:31:11,243 INFO Request is queued
2021-05-25 11:31:12,280 INFO Request is failed
2021-05-25 11:31:12,281 ERROR Message: an internal error occurred processing your request
2021-05-25 11:31:12,282 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:12,283 ERROR   Traceback (most recent call last):
2021-05-25 11:31:12,284 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:31:12,285 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:31:12,286 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:31:12,287 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:31:12,288 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:31:12,289 ERROR       return p(*args, **kwargs)
2021-05-25 11:31:12,290 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:31:12,291 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:31:12,292 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:31:12,293 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:31:12,294 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:12,423 INFO Welcome to the CDS
2021-05-25 11:31:12,424 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
time - testing:  25

2021-05-25 11:31:12,580 INFO Request is queued
2021-05-25 11:31:13,617 INFO Request is failed
2021-05-25 11:31:13,619 ERROR Message: an internal error occurred processing your request
2021-05-25 11:31:13,620 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:13,621 ERROR   Traceback (most recent call last):
2021-05-25 11:31:13,622 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:31:13,623 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:31:13,624 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:31:13,625 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:31:13,625 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:31:13,626 ERROR       return p(*args, **kwargs)
2021-05-25 11:31:13,627 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:31:13,628 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:31:13,629 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:31:13,630 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:31:13,631 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:13,770 INFO Welcome to the CDS
2021-05-25 11:31:13,771 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
time - testing:  12.5

2021-05-25 11:31:13,920 INFO Request is queued
2021-05-25 11:31:14,955 INFO Request is failed
2021-05-25 11:31:14,957 ERROR Message: an internal error occurred processing your request
2021-05-25 11:31:14,958 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:14,959 ERROR   Traceback (most recent call last):
2021-05-25 11:31:14,960 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:31:14,961 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:31:14,962 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:31:14,963 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:31:14,964 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:31:14,965 ERROR       return p(*args, **kwargs)
2021-05-25 11:31:14,966 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:31:14,967 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:31:14,968 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:31:14,969 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:31:14,970 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:15,101 INFO Welcome to the CDS
2021-05-25 11:31:15,102 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
time - testing: finished
format - testing:  None

2021-05-25 11:31:15,260 INFO Request is queued
2021-05-25 11:31:16,297 INFO Request is completed
2021-05-25 11:31:16,299 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935075.420388-8731-11-e4f62dc7-c200-45ae-9367-cda8a603edec.zip to download.zip (184.7K)
2021-05-25 11:31:16,504 INFO Download rate 906.7K/s
2021-05-25 11:31:16,541 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,640.0,10000045408,WIEN/HOHE WARTE (11035-0),224.500000,2010-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,700.0,10000045408,WIEN/HOHE WARTE (11035-0),223.300003,2010-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,790.0,10000045408,WIEN/HOHE WARTE (11035-0),224.500000,2010-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,880.0,10000045408,WIEN/HOHE WARTE (11035-0),220.500000,2010-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,1000.0,10000045408,WIEN/HOHE WARTE (11035-0),224.300003,2010-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3809,48.25,16.370001,3810.0,10000045534,WIEN/HOHE WARTE (11035-0),208.699997,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3810,48.25,16.370001,4010.0,10000045534,WIEN/HOHE WARTE (11035-0),211.500000,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3811,48.25,16.370001,4530.0,10000045534,WIEN/HOHE WARTE (11035-0),213.100006,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3812,48.25,16.370001,7560.0,10000045534,WIEN/HOHE WARTE (11035-0),208.300003,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3813,48.25,16.370001,9440.0,10000045534,WIEN/HOHE WARTE (11035-0),211.300003,2010-02-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:31:16,753 INFO Welcome to the CDS
2021-05-25 11:31:16,755 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

format - testing:  nc

2021-05-25 11:31:16,903 INFO Request is queued
2021-05-25 11:31:17,938 INFO Request is completed
2021-05-25 11:31:17,939 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935077.0661442-9815-5-7e20bcda-6f62-4da3-8a9e-f0674b602634.zip to download.zip (184.7K)
2021-05-25 11:31:18,147 INFO Download rate 895.9K/s
2021-05-25 11:31:18,257 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.25,16.370001,640.0,10000045408,WIEN/HOHE WARTE (11035-0),224.500000,2010-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.25,16.370001,700.0,10000045408,WIEN/HOHE WARTE (11035-0),223.300003,2010-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.25,16.370001,790.0,10000045408,WIEN/HOHE WARTE (11035-0),224.500000,2010-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.25,16.370001,880.0,10000045408,WIEN/HOHE WARTE (11035-0),220.500000,2010-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.25,16.370001,1000.0,10000045408,WIEN/HOHE WARTE (11035-0),224.300003,2010-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3809,48.25,16.370001,3810.0,10000045534,WIEN/HOHE WARTE (11035-0),208.699997,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3810,48.25,16.370001,4010.0,10000045534,WIEN/HOHE WARTE (11035-0),211.500000,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3811,48.25,16.370001,4530.0,10000045534,WIEN/HOHE WARTE (11035-0),213.100006,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3812,48.25,16.370001,7560.0,10000045534,WIEN/HOHE WARTE (11035-0),208.300003,2010-02-01 12:00:00,nnnnnnnnnnnnnn
3813,48.25,16.370001,9440.0,10000045534,WIEN/HOHE WARTE (11035-0),211.300003,2010-02-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:31:18,488 INFO Welcome to the CDS
2021-05-25 11:31:18,489 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

format - testing:  csv

2021-05-25 11:31:18,637 INFO Request is queued
2021-05-25 11:31:19,672 INFO Request is running
2021-05-25 11:31:23,502 INFO Request is completed
2021-05-25 11:31:23,503 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935081.7670312-8624-12-67dd7449-7e40-4d2d-84b2-d3f2546c021c.zip to download.zip (2.3M)
2021-05-25 11:31:24,181 INFO Download rate 3.3M/s

,obs_id,lat,lon,plev,report_id,station_id,ta,trajectory_index,trajectory_label,statid,statindex
0,0,48.25,16.37,640.0,b'10000045408',b'WIEN/HOHE WARTE (11035-0)',224.5,0,b'nnnnnnnnnnnnnn',0-20001-0-11035,0
1,1,48.25,16.37,700.0,b'10000045408',b'WIEN/HOHE WARTE (11035-0)',223.3,0,b'nnnnnnnnnnnnnn',0-20001-0-11035,0
2,2,48.25,16.37,790.0,b'10000045408',b'WIEN/HOHE WARTE (11035-0)',224.5,0,b'nnnnnnnnnnnnnn',0-20001-0-11035,0
3,3,48.25,16.37,880.0,b'10000045408',b'WIEN/HOHE WARTE (11035-0)',220.5,0,b'nnnnnnnnnnnnnn',0-20001-0-11035,0
4,4,48.25,16.37,1000.0,b'10000045408',b'WIEN/HOHE WARTE (11035-0)',224.3,0,b'nnnnnnnnnnnnnn',0-20001-0-11035,0
...,...,...,...,...,...,...,...,...,...,...,...
266975,266975,48.25,16.37,3810.0,b'10000045534',b'WIEN/HOHE WARTE (11035-0)',208.7,69,b'nnnnnnnnnnnnnn',0-20001-0-11035,0
266976,266976,48.25,16.37,4010.0,b'10000045534',b'WIEN/HOHE WARTE (11035-0)',211.5,69,b'nnnnnnnnnnnnnn',0-20001-0-11035,0
266977,266977,48.25,16.37,4530.0,b'10000045534',b'WIEN/HOHE WARTE (11035-0)',213.1,69,b'nnnnnnnnnnnnnn',0-20001-0-11035,0
266978,266978,48.25,16.37,7560.0,b'10000045534',b'WIEN/HOHE WARTE (11035-0)',208.3,69,b'nnnnnnnnnnnnnn',0-20001-0-11035,0
266979,266979,48.25,16.37,9440.0,b'10000045534',b'WIEN/HOHE WARTE (11035-0)',211.3,69,b'nnnnnnnnnnnnnn',0-20001-0-11035,0

2021-05-25 11:31:24,962 INFO Welcome to the CDS
2021-05-25 11:31:24,964 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

format - testing:  netcdf

2021-05-25 11:31:25,121 INFO Request is queued
2021-05-25 11:31:26,158 INFO Request is failed
2021-05-25 11:31:26,159 ERROR Message: an internal error occurred processing your request
2021-05-25 11:31:26,161 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:26,162 ERROR   Traceback (most recent call last):
2021-05-25 11:31:26,163 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:31:26,164 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:31:26,165 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:31:26,166 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:31:26,167 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:31:26,168 ERROR       return p(*args, **kwargs)
2021-05-25 11:31:26,169 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:31:26,170 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:31:26,170 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:31:26,171 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:31:26,172 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:26,302 INFO Welcome to the CDS
2021-05-25 11:31:26,304 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
format - testing:  csb

2021-05-25 11:31:26,455 INFO Request is queued
2021-05-25 11:31:27,491 INFO Request is failed
2021-05-25 11:31:27,492 ERROR Message: an internal error occurred processing your request
2021-05-25 11:31:27,493 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:27,494 ERROR   Traceback (most recent call last):
2021-05-25 11:31:27,495 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:31:27,496 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:31:27,498 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:31:27,499 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:31:27,499 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:31:27,500 ERROR       return p(*args, **kwargs)
2021-05-25 11:31:27,501 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:31:27,502 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:31:27,503 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:31:27,504 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:31:27,505 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:27,638 INFO Welcome to the CDS
2021-05-25 11:31:27,639 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
format - testing:  txt

2021-05-25 11:31:27,797 INFO Request is queued
2021-05-25 11:31:28,834 INFO Request is failed
2021-05-25 11:31:28,835 ERROR Message: an internal error occurred processing your request
2021-05-25 11:31:28,836 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:28,836 ERROR   Traceback (most recent call last):
2021-05-25 11:31:28,837 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:31:28,837 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:31:28,838 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:31:28,838 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:31:28,839 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:31:28,839 ERROR       return p(*args, **kwargs)
2021-05-25 11:31:28,840 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:31:28,840 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:31:28,840 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:31:28,841 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:31:28,841 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:31:28,976 INFO Welcome to the CDS
2021-05-25 11:31:28,977 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
format - testing: finished
y - testing:  None

2021-05-25 11:31:29,127 INFO Request is queued
2021-05-25 11:31:30,162 INFO Request is running
2021-05-25 11:31:50,130 INFO Request is completed
2021-05-25 11:31:50,131 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935101.2375789-8764-11-451e6282-8019-403f-a3d3-49496c70f5a0.zip to download.zip (222.1M)
2021-05-25 11:32:03,079 INFO Download rate 17.2M/s
2021-05-25 11:32:04,598 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.250000,16.370001,4300.0,80000000000,WIEN/HOHE WARTE (11035-0),220.750000,1925-01-24 09:22:00,nnnnnnnnnnnnnn
1,48.250000,16.370001,4400.0,80000000000,WIEN/HOHE WARTE (11035-0),220.550003,1925-01-24 09:22:00,nnnnnnnnnnnnnn
2,48.250000,16.370001,5300.0,80000000000,WIEN/HOHE WARTE (11035-0),216.250000,1925-01-24 09:22:00,nnnnnnnnnnnnnn
3,48.250000,16.370001,9200.0,80000000000,WIEN/HOHE WARTE (11035-0),215.850006,1925-01-24 09:22:00,nnnnnnnnnnnnnn
4,48.250000,16.370001,10300.0,80000000000,WIEN/HOHE WARTE (11035-0),220.050003,1925-01-24 09:22:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
6327436,48.248951,16.357180,98130.0,10000056183,WIEN/HOHE WARTE (11035-0),278.739990,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327437,48.248951,16.357180,98190.0,10000056183,WIEN/HOHE WARTE (11035-0),278.839996,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327438,48.248951,16.357180,98210.0,10000056183,WIEN/HOHE WARTE (11035-0),278.950012,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327439,48.248951,16.357180,98240.0,10000056183,WIEN/HOHE WARTE (11035-0),278.940002,2020-12-31 11:30:10,nnnnnnnnnnnnnn
6327440,48.248951,16.357180,98320.0,10000056183,WIEN/HOHE WARTE (11035-0),279.109985,2020-12-31 11:30:10,nnnnnnnnnnnnnn

2021-05-25 11:33:03,213 INFO Welcome to the CDS
2021-05-25 11:33:03,214 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

y - testing:  2000

2021-05-25 11:33:03,509 INFO Request is queued
2021-05-25 11:33:04,547 INFO Request is completed
2021-05-25 11:33:04,548 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935183.8496773-8818-11-dba634cb-f6b0-45ed-9d5b-ec70a3d120c7.zip to download.zip (37.8K)
2021-05-25 11:33:04,642 INFO Download rate 403.6K/s
2021-05-25 11:33:04,658 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
125,48.23,16.370001,85000.0,10000030637,WIEN/HOHE WARTE (11035-0),266.299988,2000-01-01 12:00:00,nnnnnnnnnnnnnn
126,48.23,16.370001,89800.0,10000030637,WIEN/HOHE WARTE (11035-0),270.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
127,48.23,16.370001,91500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
128,48.23,16.370001,92500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.700012,2000-01-01 12:00:00,nnnnnnnnnnnnnn
129,48.23,16.370001,95700.0,10000030637,WIEN/HOHE WARTE (11035-0),271.899994,2000-01-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:04,859 INFO Welcome to the CDS
2021-05-25 11:33:04,860 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

y - testing:  2000

2021-05-25 11:33:05,017 INFO Request is queued
2021-05-25 11:33:06,054 INFO Request is completed
2021-05-25 11:33:06,055 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935185.336908-8822-12-7bda7484-f705-4a03-99bd-ae66d26204b5.zip to download.zip (37.8K)
2021-05-25 11:33:06,148 INFO Download rate 406.6K/s
2021-05-25 11:33:06,166 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
125,48.23,16.370001,85000.0,10000030637,WIEN/HOHE WARTE (11035-0),266.299988,2000-01-01 12:00:00,nnnnnnnnnnnnnn
126,48.23,16.370001,89800.0,10000030637,WIEN/HOHE WARTE (11035-0),270.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
127,48.23,16.370001,91500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
128,48.23,16.370001,92500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.700012,2000-01-01 12:00:00,nnnnnnnnnnnnnn
129,48.23,16.370001,95700.0,10000030637,WIEN/HOHE WARTE (11035-0),271.899994,2000-01-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:06,370 INFO Welcome to the CDS
2021-05-25 11:33:06,371 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

y - testing:  ['2000', '2001']

2021-05-25 11:33:06,619 INFO Request is queued
2021-05-25 11:33:07,658 INFO Request is completed
2021-05-25 11:33:07,659 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935186.9794767-9543-11-7d13c36d-54e2-4cfe-abaa-9ac931c56a47.zip to download.zip (1.8M)
2021-05-25 11:33:08,214 INFO Download rate 3.2M/s
2021-05-25 11:33:08,298 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
45419,48.25,16.370001,92200.0,10000032103,WIEN/HOHE WARTE (11035-0),270.899994,2001-01-01 18:00:00,nnnnnnnnnnnnnn
45420,48.25,16.370001,92400.0,10000032103,WIEN/HOHE WARTE (11035-0),271.100006,2001-01-01 18:00:00,nnnnnnnnnnnnnn
45421,48.25,16.370001,92500.0,10000032103,WIEN/HOHE WARTE (11035-0),270.899994,2001-01-01 18:00:00,nnnnnnnnnnnnnn
45422,48.25,16.370001,94000.0,10000032103,WIEN/HOHE WARTE (11035-0),269.299988,2001-01-01 18:00:00,nnnnnnnnnnnnnn
45423,48.25,16.370001,98200.0,10000032103,WIEN/HOHE WARTE (11035-0),272.500000,2001-01-01 18:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:08,931 INFO Welcome to the CDS
2021-05-25 11:33:08,932 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

y - testing:  [2000, 2001]

2021-05-25 11:33:09,107 INFO Request is queued
2021-05-25 11:33:10,143 INFO Request is completed
2021-05-25 11:33:10,144 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935189.5021517-8873-11-7d8b6b7f-a821-40ef-b377-23b1df5c24cf.zip to download.zip (1.8M)
2021-05-25 11:33:10,591 INFO Download rate 4M/s
2021-05-25 11:33:10,622 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
45419,48.25,16.370001,92200.0,10000032103,WIEN/HOHE WARTE (11035-0),270.899994,2001-01-01 18:00:00,nnnnnnnnnnnnnn
45420,48.25,16.370001,92400.0,10000032103,WIEN/HOHE WARTE (11035-0),271.100006,2001-01-01 18:00:00,nnnnnnnnnnnnnn
45421,48.25,16.370001,92500.0,10000032103,WIEN/HOHE WARTE (11035-0),270.899994,2001-01-01 18:00:00,nnnnnnnnnnnnnn
45422,48.25,16.370001,94000.0,10000032103,WIEN/HOHE WARTE (11035-0),269.299988,2001-01-01 18:00:00,nnnnnnnnnnnnnn
45423,48.25,16.370001,98200.0,10000032103,WIEN/HOHE WARTE (11035-0),272.500000,2001-01-01 18:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:10,975 INFO Welcome to the CDS
2021-05-25 11:33:10,976 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

y - testing:  0

2021-05-25 11:33:11,123 INFO Request is queued
2021-05-25 11:33:12,159 INFO Request is running
2021-05-25 11:33:15,980 INFO Request is failed
2021-05-25 11:33:15,981 ERROR Message: an internal error occurred processing your request
2021-05-25 11:33:15,981 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:15,982 ERROR   Traceback (most recent call last):
2021-05-25 11:33:15,982 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:33:15,982 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:33:15,983 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:33:15,983 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:33:15,984 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:33:15,984 ERROR       return p(*args, **kwargs)
2021-05-25 11:33:15,985 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:33:15,986 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:33:15,986 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:33:15,987 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:33:15,987 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:16,118 INFO Welcome to the CDS
2021-05-25 11:33:16,119 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
y - testing:  20000

2021-05-25 11:33:16,267 INFO Request is queued
2021-05-25 11:33:17,302 INFO Request is running
2021-05-25 11:33:21,123 INFO Request is failed
2021-05-25 11:33:21,125 ERROR Message: an internal error occurred processing your request
2021-05-25 11:33:21,126 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:21,127 ERROR   Traceback (most recent call last):
2021-05-25 11:33:21,128 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:33:21,129 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:33:21,130 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:33:21,131 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:33:21,132 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:33:21,133 ERROR       return p(*args, **kwargs)
2021-05-25 11:33:21,134 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:33:21,135 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:33:21,136 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:33:21,137 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:33:21,138 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:21,289 INFO Welcome to the CDS
2021-05-25 11:33:21,291 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
y - testing:  -2000

2021-05-25 11:33:21,468 INFO Request is queued
2021-05-25 11:33:22,506 INFO Request is failed
2021-05-25 11:33:22,508 ERROR Message: an internal error occurred processing your request
2021-05-25 11:33:22,509 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:22,510 ERROR   Traceback (most recent call last):
2021-05-25 11:33:22,511 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:33:22,513 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:33:22,514 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:33:22,515 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:33:22,516 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:33:22,517 ERROR       return p(*args, **kwargs)
2021-05-25 11:33:22,518 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:33:22,519 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:33:22,522 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:33:22,527 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:33:22,528 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:22,675 INFO Welcome to the CDS
2021-05-25 11:33:22,677 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
m - testing:  None

2021-05-25 11:33:22,849 INFO Request is queued
2021-05-25 11:33:23,886 INFO Request is completed
2021-05-25 11:33:23,887 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935203.071939-9588-8-58dfb30b-ab28-4632-a7c6-f9ed79e926c2.zip to download.zip (1.8M)
2021-05-25 11:33:24,438 INFO Download rate 3.2M/s
2021-05-25 11:33:24,483 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
45236,48.25,16.370001,84900.0,10000032098,WIEN/HOHE WARTE (11035-0),265.100006,2000-12-31 12:00:00,nnnnnnnnnnnnnn
45237,48.25,16.370001,85000.0,10000032098,WIEN/HOHE WARTE (11035-0),265.100006,2000-12-31 12:00:00,nnnnnnnnnnnnnn
45238,48.25,16.370001,85200.0,10000032098,WIEN/HOHE WARTE (11035-0),264.700012,2000-12-31 12:00:00,nnnnnnnnnnnnnn
45239,48.25,16.370001,92500.0,10000032098,WIEN/HOHE WARTE (11035-0),270.500000,2000-12-31 12:00:00,nnnnnnnnnnnnnn
45240,48.25,16.370001,97400.0,10000032098,WIEN/HOHE WARTE (11035-0),273.600006,2000-12-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:24,867 INFO Welcome to the CDS
2021-05-25 11:33:24,868 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

m - testing:  1

2021-05-25 11:33:25,018 INFO Request is queued
2021-05-25 11:33:26,053 INFO Request is completed
2021-05-25 11:33:26,054 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935205.174438-8883-8-ba040f15-0566-45ff-95ee-fc5fb0703160.zip to download.zip (37.8K)
2021-05-25 11:33:26,169 INFO Download rate 332.1K/s
2021-05-25 11:33:26,195 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
125,48.23,16.370001,85000.0,10000030637,WIEN/HOHE WARTE (11035-0),266.299988,2000-01-01 12:00:00,nnnnnnnnnnnnnn
126,48.23,16.370001,89800.0,10000030637,WIEN/HOHE WARTE (11035-0),270.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
127,48.23,16.370001,91500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
128,48.23,16.370001,92500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.700012,2000-01-01 12:00:00,nnnnnnnnnnnnnn
129,48.23,16.370001,95700.0,10000030637,WIEN/HOHE WARTE (11035-0),271.899994,2000-01-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:26,393 INFO Welcome to the CDS
2021-05-25 11:33:26,394 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

m - testing:  1

2021-05-25 11:33:26,549 INFO Request is queued
2021-05-25 11:33:27,586 INFO Request is completed
2021-05-25 11:33:27,587 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935206.7032528-8906-8-f7930eab-4610-44c4-af69-c3a526f54deb.zip to download.zip (37.8K)
2021-05-25 11:33:27,687 INFO Download rate 380.2K/s
2021-05-25 11:33:27,713 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
125,48.23,16.370001,85000.0,10000030637,WIEN/HOHE WARTE (11035-0),266.299988,2000-01-01 12:00:00,nnnnnnnnnnnnnn
126,48.23,16.370001,89800.0,10000030637,WIEN/HOHE WARTE (11035-0),270.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
127,48.23,16.370001,91500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
128,48.23,16.370001,92500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.700012,2000-01-01 12:00:00,nnnnnnnnnnnnnn
129,48.23,16.370001,95700.0,10000030637,WIEN/HOHE WARTE (11035-0),271.899994,2000-01-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:27,950 INFO Welcome to the CDS
2021-05-25 11:33:27,951 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

m - testing:  01

2021-05-25 11:33:28,114 INFO Request is completed
2021-05-25 11:33:28,115 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935185.336908-8822-12-7bda7484-f705-4a03-99bd-ae66d26204b5.zip to download.zip (37.8K)
2021-05-25 11:33:28,207 INFO Download rate 411.2K/s
2021-05-25 11:33:28,265 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
125,48.23,16.370001,85000.0,10000030637,WIEN/HOHE WARTE (11035-0),266.299988,2000-01-01 12:00:00,nnnnnnnnnnnnnn
126,48.23,16.370001,89800.0,10000030637,WIEN/HOHE WARTE (11035-0),270.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
127,48.23,16.370001,91500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
128,48.23,16.370001,92500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.700012,2000-01-01 12:00:00,nnnnnnnnnnnnnn
129,48.23,16.370001,95700.0,10000030637,WIEN/HOHE WARTE (11035-0),271.899994,2000-01-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:28,463 INFO Welcome to the CDS
2021-05-25 11:33:28,463 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

m - testing:  ['01', '02']

2021-05-25 11:33:28,612 INFO Request is queued
2021-05-25 11:33:29,647 INFO Request is completed
2021-05-25 11:33:29,649 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935208.7708516-8908-9-2117c8de-8169-40a4-b2b0-46b537b90b63.zip to download.zip (191.1K)
2021-05-25 11:33:29,856 INFO Download rate 924.7K/s
2021-05-25 11:33:29,891 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3968,48.23,16.370001,90900.0,10000030762,WIEN/HOHE WARTE (11035-0),281.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3969,48.23,16.370001,91400.0,10000030762,WIEN/HOHE WARTE (11035-0),281.600006,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3970,48.23,16.370001,92500.0,10000030762,WIEN/HOHE WARTE (11035-0),281.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3971,48.23,16.370001,95700.0,10000030762,WIEN/HOHE WARTE (11035-0),282.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3972,48.23,16.370001,99100.0,10000030762,WIEN/HOHE WARTE (11035-0),285.600006,2000-02-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:30,097 INFO Welcome to the CDS
2021-05-25 11:33:30,098 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

m - testing:  ['1', '2']

2021-05-25 11:33:30,254 INFO Request is queued
2021-05-25 11:33:31,291 INFO Request is completed
2021-05-25 11:33:31,292 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935210.5239673-9616-9-5b1cfb23-dc89-4a7b-a1cd-6f08b06e134b.zip to download.zip (191.1K)
2021-05-25 11:33:31,500 INFO Download rate 923.9K/s
2021-05-25 11:33:31,536 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3968,48.23,16.370001,90900.0,10000030762,WIEN/HOHE WARTE (11035-0),281.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3969,48.23,16.370001,91400.0,10000030762,WIEN/HOHE WARTE (11035-0),281.600006,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3970,48.23,16.370001,92500.0,10000030762,WIEN/HOHE WARTE (11035-0),281.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3971,48.23,16.370001,95700.0,10000030762,WIEN/HOHE WARTE (11035-0),282.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3972,48.23,16.370001,99100.0,10000030762,WIEN/HOHE WARTE (11035-0),285.600006,2000-02-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:31,769 INFO Welcome to the CDS
2021-05-25 11:33:31,771 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

m - testing:  [1, 2]

2021-05-25 11:33:31,926 INFO Request is queued
2021-05-25 11:33:32,962 INFO Request is completed
2021-05-25 11:33:32,963 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935212.0825531-9618-8-9618e46d-e796-4590-9ca1-1005d5c88f5a.zip to download.zip (191.1K)
2021-05-25 11:33:33,140 INFO Download rate 1.1M/s
2021-05-25 11:33:33,213 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
3968,48.23,16.370001,90900.0,10000030762,WIEN/HOHE WARTE (11035-0),281.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3969,48.23,16.370001,91400.0,10000030762,WIEN/HOHE WARTE (11035-0),281.600006,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3970,48.23,16.370001,92500.0,10000030762,WIEN/HOHE WARTE (11035-0),281.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3971,48.23,16.370001,95700.0,10000030762,WIEN/HOHE WARTE (11035-0),282.799988,2000-02-01 12:00:00,nnnnnnnnnnnnnn
3972,48.23,16.370001,99100.0,10000030762,WIEN/HOHE WARTE (11035-0),285.600006,2000-02-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:33,438 INFO Welcome to the CDS
2021-05-25 11:33:33,439 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

m - testing:  00

2021-05-25 11:33:33,603 INFO Request is queued
2021-05-25 11:33:34,638 INFO Request is failed
2021-05-25 11:33:34,639 ERROR Message: an internal error occurred processing your request
2021-05-25 11:33:34,640 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:34,641 ERROR   Traceback (most recent call last):
2021-05-25 11:33:34,641 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:33:34,642 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:33:34,642 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:33:34,643 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:33:34,643 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:33:34,644 ERROR       return p(*args, **kwargs)
2021-05-25 11:33:34,644 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:33:34,645 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:33:34,645 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:33:34,646 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:33:34,646 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:34,772 INFO Welcome to the CDS
2021-05-25 11:33:34,773 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
m - testing:  0

2021-05-25 11:33:34,922 INFO Request is queued
2021-05-25 11:33:35,957 INFO Request is failed
2021-05-25 11:33:35,958 ERROR Message: an internal error occurred processing your request
2021-05-25 11:33:35,959 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:35,959 ERROR   Traceback (most recent call last):
2021-05-25 11:33:35,960 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:33:35,960 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:33:35,961 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:33:35,961 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:33:35,962 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:33:35,962 ERROR       return p(*args, **kwargs)
2021-05-25 11:33:35,963 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:33:35,963 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:33:35,964 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:33:35,964 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:33:35,965 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:36,100 INFO Welcome to the CDS
2021-05-25 11:33:36,100 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
m - testing:  13

2021-05-25 11:33:36,258 INFO Request is queued
2021-05-25 11:33:37,297 INFO Request is failed
2021-05-25 11:33:37,300 ERROR Message: an internal error occurred processing your request
2021-05-25 11:33:37,301 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:37,303 ERROR   Traceback (most recent call last):
2021-05-25 11:33:37,305 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:33:37,306 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:33:37,308 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:33:37,309 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:33:37,310 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:33:37,312 ERROR       return p(*args, **kwargs)
2021-05-25 11:33:37,315 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:33:37,316 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:33:37,317 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:33:37,319 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:33:37,320 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:37,477 INFO Welcome to the CDS
2021-05-25 11:33:37,479 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
d - testing:  01

2021-05-25 11:33:37,664 INFO Request is completed
2021-05-25 11:33:37,666 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935185.336908-8822-12-7bda7484-f705-4a03-99bd-ae66d26204b5.zip to download.zip (37.8K)
2021-05-25 11:33:37,764 INFO Download rate 390.5K/s
2021-05-25 11:33:37,810 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
125,48.23,16.370001,85000.0,10000030637,WIEN/HOHE WARTE (11035-0),266.299988,2000-01-01 12:00:00,nnnnnnnnnnnnnn
126,48.23,16.370001,89800.0,10000030637,WIEN/HOHE WARTE (11035-0),270.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
127,48.23,16.370001,91500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.100006,2000-01-01 12:00:00,nnnnnnnnnnnnnn
128,48.23,16.370001,92500.0,10000030637,WIEN/HOHE WARTE (11035-0),269.700012,2000-01-01 12:00:00,nnnnnnnnnnnnnn
129,48.23,16.370001,95700.0,10000030637,WIEN/HOHE WARTE (11035-0),271.899994,2000-01-01 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:38,018 INFO Welcome to the CDS
2021-05-25 11:33:38,019 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

d - testing:  31

2021-05-25 11:33:38,169 INFO Request is queued
2021-05-25 11:33:39,208 INFO Request is completed
2021-05-25 11:33:39,209 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935218.4752645-9030-8-905dfeeb-ce12-4afa-96f1-83dab1f17471.zip to download.zip (37.4K)
2021-05-25 11:33:39,306 INFO Download rate 392.1K/s
2021-05-25 11:33:39,344 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,2870.0,10000030756,WIEN/HOHE WARTE (11035-0),203.500000,2000-01-31 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,3000.0,10000030756,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-31 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,3750.0,10000030756,WIEN/HOHE WARTE (11035-0),205.500000,2000-01-31 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,4020.0,10000030756,WIEN/HOHE WARTE (11035-0),201.699997,2000-01-31 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,4600.0,10000030756,WIEN/HOHE WARTE (11035-0),208.500000,2000-01-31 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
109,48.23,16.370001,88100.0,10000030758,WIEN/HOHE WARTE (11035-0),277.399994,2000-01-31 12:00:00,nnnnnnnnnnnnnn
110,48.23,16.370001,89200.0,10000030758,WIEN/HOHE WARTE (11035-0),276.799988,2000-01-31 12:00:00,nnnnnnnnnnnnnn
111,48.23,16.370001,92500.0,10000030758,WIEN/HOHE WARTE (11035-0),279.200012,2000-01-31 12:00:00,nnnnnnnnnnnnnn
112,48.23,16.370001,97400.0,10000030758,WIEN/HOHE WARTE (11035-0),283.399994,2000-01-31 12:00:00,nnnnnnnnnnnnnn
113,48.23,16.370001,99000.0,10000030758,WIEN/HOHE WARTE (11035-0),285.000000,2000-01-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:39,602 INFO Welcome to the CDS
2021-05-25 11:33:39,604 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

d - testing:  ['01', '02']

2021-05-25 11:33:39,770 INFO Request is queued
2021-05-25 11:33:40,805 INFO Request is completed
2021-05-25 11:33:40,807 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935219.9249372-9632-9-ce5cb6ad-27bd-4700-b39c-ea99964dec41.zip to download.zip (42.6K)
2021-05-25 11:33:40,920 INFO Download rate 379K/s
2021-05-25 11:33:40,949 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
242,48.23,16.370001,94800.0,10000030641,WIEN/HOHE WARTE (11035-0),272.100006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
243,48.23,16.370001,97800.0,10000030641,WIEN/HOHE WARTE (11035-0),273.600006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
244,48.23,16.370001,98300.0,10000030641,WIEN/HOHE WARTE (11035-0),271.500000,2000-01-02 12:00:00,nnnnnnnnnnnnnn
245,48.23,16.370001,99100.0,10000030641,WIEN/HOHE WARTE (11035-0),271.100006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
246,48.23,16.370001,100000.0,10000030641,WIEN/HOHE WARTE (11035-0),271.700012,2000-01-02 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:41,143 INFO Welcome to the CDS
2021-05-25 11:33:41,144 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

d - testing:  ['1', '2']

2021-05-25 11:33:41,299 INFO Request is queued
2021-05-25 11:33:42,336 INFO Request is completed
2021-05-25 11:33:42,337 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935221.4540179-9033-9-47e9aec7-7a10-4a28-8565-c24f0fe0473e.zip to download.zip (42.6K)
2021-05-25 11:33:42,462 INFO Download rate 340.6K/s
2021-05-25 11:33:42,522 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
242,48.23,16.370001,94800.0,10000030641,WIEN/HOHE WARTE (11035-0),272.100006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
243,48.23,16.370001,97800.0,10000030641,WIEN/HOHE WARTE (11035-0),273.600006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
244,48.23,16.370001,98300.0,10000030641,WIEN/HOHE WARTE (11035-0),271.500000,2000-01-02 12:00:00,nnnnnnnnnnnnnn
245,48.23,16.370001,99100.0,10000030641,WIEN/HOHE WARTE (11035-0),271.100006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
246,48.23,16.370001,100000.0,10000030641,WIEN/HOHE WARTE (11035-0),271.700012,2000-01-02 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:42,737 INFO Welcome to the CDS
2021-05-25 11:33:42,737 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

d - testing:  [1, 2]

2021-05-25 11:33:42,903 INFO Request is queued
2021-05-25 11:33:43,939 INFO Request is completed
2021-05-25 11:33:43,940 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935223.0438051-9654-9-b76827ad-c270-4047-b2bc-431712f89ceb.zip to download.zip (42.6K)
2021-05-25 11:33:44,059 INFO Download rate 356.9K/s
2021-05-25 11:33:44,092 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.23,16.370001,590.0,10000030635,WIEN/HOHE WARTE (11035-0),211.300003,2000-01-01 00:00:00,nnnnnnnnnnnnnn
1,48.23,16.370001,760.0,10000030635,WIEN/HOHE WARTE (11035-0),206.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
2,48.23,16.370001,1000.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
3,48.23,16.370001,1190.0,10000030635,WIEN/HOHE WARTE (11035-0),205.899994,2000-01-01 00:00:00,nnnnnnnnnnnnnn
4,48.23,16.370001,1320.0,10000030635,WIEN/HOHE WARTE (11035-0),202.500000,2000-01-01 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
242,48.23,16.370001,94800.0,10000030641,WIEN/HOHE WARTE (11035-0),272.100006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
243,48.23,16.370001,97800.0,10000030641,WIEN/HOHE WARTE (11035-0),273.600006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
244,48.23,16.370001,98300.0,10000030641,WIEN/HOHE WARTE (11035-0),271.500000,2000-01-02 12:00:00,nnnnnnnnnnnnnn
245,48.23,16.370001,99100.0,10000030641,WIEN/HOHE WARTE (11035-0),271.100006,2000-01-02 12:00:00,nnnnnnnnnnnnnn
246,48.23,16.370001,100000.0,10000030641,WIEN/HOHE WARTE (11035-0),271.700012,2000-01-02 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:44,301 INFO Welcome to the CDS
2021-05-25 11:33:44,301 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

d - testing:  00

2021-05-25 11:33:44,450 INFO Request is queued
2021-05-25 11:33:45,484 INFO Request is failed
2021-05-25 11:33:45,485 ERROR Message: an internal error occurred processing your request
2021-05-25 11:33:45,486 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:45,486 ERROR   Traceback (most recent call last):
2021-05-25 11:33:45,488 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:33:45,488 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:33:45,489 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:33:45,489 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:33:45,490 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:33:45,491 ERROR       return p(*args, **kwargs)
2021-05-25 11:33:45,491 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:33:45,492 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:33:45,492 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:33:45,493 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:33:45,495 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:45,618 INFO Welcome to the CDS
2021-05-25 11:33:45,619 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
d - testing:  0

2021-05-25 11:33:45,775 INFO Request is queued
2021-05-25 11:33:48,353 INFO Request is failed
2021-05-25 11:33:48,354 ERROR Message: an internal error occurred processing your request
2021-05-25 11:33:48,354 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:48,355 ERROR   Traceback (most recent call last):
2021-05-25 11:33:48,355 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:33:48,356 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:33:48,356 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:33:48,357 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:33:48,357 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:33:48,358 ERROR       return p(*args, **kwargs)
2021-05-25 11:33:48,358 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:33:48,359 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:33:48,359 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:33:48,360 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:33:48,360 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:48,503 INFO Welcome to the CDS
2021-05-25 11:33:48,503 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
d - testing:  32

2021-05-25 11:33:48,654 INFO Request is queued
2021-05-25 11:33:49,691 INFO Request is failed
2021-05-25 11:33:49,694 ERROR Message: an internal error occurred processing your request
2021-05-25 11:33:49,696 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:49,697 ERROR   Traceback (most recent call last):
2021-05-25 11:33:49,699 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:33:49,702 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:33:49,704 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:33:49,705 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:33:49,706 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:33:49,707 ERROR       return p(*args, **kwargs)
2021-05-25 11:33:49,709 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:33:49,710 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:33:49,711 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:33:49,713 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:33:49,713 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:49,865 INFO Welcome to the CDS
2021-05-25 11:33:49,865 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'.
ymd - testing: finished
20300 - testing:  country

2021-05-25 11:33:50,021 INFO Request is queued
2021-05-25 11:33:51,058 INFO Request is completed
2021-05-25 11:33:51,059 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935230.6518106-6297-15-97692760-e6c3-4e8f-b55b-1980a62c995f.zip to download.zip (227.5K)
2021-05-25 11:33:51,269 INFO Download rate 1.1M/s
2021-05-25 11:33:51,814 INFO Reading Profile on slice(None, None, None)
2021-05-25 11:33:51,892 INFO Reading Profile on slice(None, None, None)
2021-05-25 11:33:51,990 INFO Reading Profile on slice(None, None, None)
2021-05-25 11:33:52,092 INFO Reading Profile on slice(None, None, None)
2021-05-25 11:33:52,184 INFO Reading Profile on slice(None, None, None)
2021-05-25 11:33:52,257 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,50.279999,57.150002,2510.0,10000028675,AKTOBE,208.699997,2019-12-30 00:00:00,nnnnnnnnnnnnnn
1,50.279999,57.150002,2840.0,10000028675,AKTOBE,207.699997,2019-12-30 00:00:00,nnnnnnnnnnnnnn
2,50.279999,57.150002,2950.0,10000028675,AKTOBE,207.500000,2019-12-30 00:00:00,nnnnnnnnnnnnnn
3,50.279999,57.150002,3000.0,10000028675,AKTOBE,207.300003,2019-12-30 00:00:00,nnnnnnnnnnnnnn
4,50.279999,57.150002,3680.0,10000028675,AKTOBE,203.899994,2019-12-30 00:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
1196,43.360001,77.000000,76900.0,10000005217,ALMATY OGMS,266.899994,2019-12-31 12:00:00,nnnnnnnnnnnnnn
1197,43.360001,77.000000,80100.0,10000005217,ALMATY OGMS,269.299988,2019-12-31 12:00:00,nnnnnnnnnnnnnn
1198,43.360001,77.000000,85000.0,10000005217,ALMATY OGMS,270.700012,2019-12-31 12:00:00,nnnnnnnnnnnnnn
1199,43.360001,77.000000,87900.0,10000005217,ALMATY OGMS,270.299988,2019-12-31 12:00:00,nnnnnnnnnnnnnn
1200,43.360001,77.000000,92500.0,10000005217,ALMATY OGMS,272.700012,2019-12-31 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:33:52,578 INFO Welcome to the CDS
2021-05-25 11:33:52,580 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

20300 - testing:  area

2021-05-25 11:33:52,749 INFO Request is queued
2021-05-25 11:33:53,786 INFO Request is failed
2021-05-25 11:33:53,787 ERROR Message: an internal error occurred processing your request
2021-05-25 11:33:53,787 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:53,788 ERROR   Traceback (most recent call last):
2021-05-25 11:33:53,788 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 55, in handle_request
2021-05-25 11:33:53,789 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-05-25 11:33:53,789 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-05-25 11:33:53,789 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-05-25 11:33:53,790 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-05-25 11:33:53,790 ERROR       return p(*args, **kwargs)
2021-05-25 11:33:53,791 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-05-25 11:33:53,791 ERROR       return self.proc(context, *args, **kwargs)
2021-05-25 11:33:53,792 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 88, in execute
2021-05-25 11:33:53,792 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-05-25 11:33:53,793 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'A server error occurred.  Please contact the administrator.'
2021-05-25 11:33:53,920 INFO Welcome to the CDS
2021-05-25 11:33:53,921 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

20300 - testing:  20300*

2021-05-25 11:33:54,074 INFO Request is queued
2021-05-25 11:33:55,114 INFO Request is completed
2021-05-25 11:33:55,116 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935234.852665-5908-15-1463ad1a-4b8a-4c4e-9266-9b1cb42aced5.zip to download.zip (22.1M)
2021-05-25 11:34:01,080 INFO Download rate 3.7M/s
2021-05-25 11:34:01,640 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,-77.730003,-41.119999,3000.0,20000000001,ELLSWORTH IGY,224.949997,1957-03-15 18:00:00,nnnnnnnnnnnnnn
1,-77.730003,-41.119999,4000.0,20000000001,ELLSWORTH IGY,225.449997,1957-03-15 18:00:00,nnnnnnnnnnnnnn
2,-77.730003,-41.119999,5000.0,20000000001,ELLSWORTH IGY,225.850006,1957-03-15 18:00:00,nnnnnnnnnnnnnn
3,-77.730003,-41.119999,6000.0,20000000001,ELLSWORTH IGY,226.250000,1957-03-15 18:00:00,nnnnnnnnnnnnnn
4,-77.730003,-41.119999,7000.0,20000000001,ELLSWORTH IGY,226.050003,1957-03-15 18:00:00,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
64694,-77.730011,-41.119999,75000.0,20000002073,ELLSWORTH IGY,257.200012,1962-11-30 12:00:00,nnnnnnnnnnnnnn
64695,-77.730011,-41.119999,80000.0,20000002073,ELLSWORTH IGY,259.200012,1962-11-30 12:00:00,nnnnnnnnnnnnnn
64696,-77.730011,-41.119999,85000.0,20000002073,ELLSWORTH IGY,261.399994,1962-11-30 12:00:00,nnnnnnnnnnnnnn
64697,-77.730011,-41.119999,90000.0,20000002073,ELLSWORTH IGY,261.399994,1962-11-30 12:00:00,nnnnnnnnnnnnnn
64698,-77.730011,-41.119999,95000.0,20000002073,ELLSWORTH IGY,259.399994,1962-11-30 12:00:00,nnnnnnnnnnnnnn

2021-05-25 11:34:02,465 INFO Welcome to the CDS
2021-05-25 11:34:02,467 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

20300 - testing: finished
optional - testing:  sonde_type

2021-05-25 11:34:02,644 INFO Request is queued
2021-05-25 11:34:03,681 INFO Request is completed
2021-05-25 11:34:03,682 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935242.9533622-9781-8-a06e69e7-83e1-4b31-9b1b-eac8699cc3f0.zip to download.zip (261.6K)
2021-05-25 11:34:03,917 INFO Download rate 1.1M/s
2021-05-25 11:34:03,961 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,sonde_type,station_id,ta,time,trajectory_label
0,48.248951,16.356859,560.0,10000055267,VnG,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,48.248951,16.356859,570.0,10000055267,VnG,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,48.248951,16.356859,580.0,10000055267,VnG,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,48.248951,16.356859,590.0,10000055267,VnG,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,48.248951,16.356859,600.0,10000055267,VnG,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,48.248951,16.357180,92500.0,10000055270,VnG,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,48.248951,16.357180,93430.0,10000055270,VnG,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,48.248951,16.357180,97960.0,10000055270,VnG,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,48.248951,16.357180,100000.0,10000055270,VnG,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,48.248951,16.357180,100440.0,10000055270,VnG,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:04,281 INFO Welcome to the CDS
2021-05-25 11:34:04,283 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  bias_estimate

2021-05-25 11:34:04,459 INFO Request is queued
2021-05-25 11:34:05,498 INFO Request is completed
2021-05-25 11:34:05,500 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935244.753754-9784-8-6002d3f2-3dc1-41af-b724-0130c2c948c3.zip to download.zip (259K)
2021-05-25 11:34:05,722 INFO Download rate 1.1M/s
2021-05-25 11:34:05,793 INFO Reading Profile on slice(None, None, None)

,bias_estimate,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,0.0,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,0.0,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,0.0,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,0.0,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,0.0,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.0,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,0.0,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,0.0,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,0.0,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,0.0,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:06,116 INFO Welcome to the CDS
2021-05-25 11:34:06,117 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  obs_minus_an

2021-05-25 11:34:06,310 INFO Request is queued
2021-05-25 11:34:07,348 INFO Request is completed
2021-05-25 11:34:07,350 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935246.5202577-8662-15-44b5c4ca-43a2-4cef-8a3e-3a7df3eb58d1.zip to download.zip (279.7K)
2021-05-25 11:34:07,901 INFO Download rate 509.1K/s
2021-05-25 11:34:08,160 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs_minus_an,plev,report_id,station_id,ta,time,trajectory_label
0,48.248951,16.356859,-1.340239,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,48.248951,16.356859,-0.847053,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,48.248951,16.356859,-0.613867,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,48.248951,16.356859,-0.330681,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,48.248951,16.356859,-0.567495,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,48.248951,16.357180,-0.255160,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,48.248951,16.357180,0.103390,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,48.248951,16.357180,0.515455,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,48.248951,16.357180,2.375421,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,48.248951,16.357180,3.113251,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:08,489 INFO Welcome to the CDS
2021-05-25 11:34:08,491 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  obs_minus_bg

2021-05-25 11:34:08,672 INFO Request is queued
2021-05-25 11:34:09,711 INFO Request is completed
2021-05-25 11:34:09,712 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935248.8215585-14838-15-99b8d32f-6a62-47e6-be70-e73a6519ab51.zip to download.zip (279.6K)
2021-05-25 11:34:09,946 INFO Download rate 1.2M/s
2021-05-25 11:34:10,007 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs_minus_bg,plev,report_id,station_id,ta,time,trajectory_label
0,48.248951,16.356859,-2.445801,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,48.248951,16.356859,-1.908885,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,48.248951,16.356859,-1.631969,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,48.248951,16.356859,-1.305054,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,48.248951,16.356859,-1.498138,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,48.248951,16.357180,0.580931,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,48.248951,16.357180,1.124605,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,48.248951,16.357180,1.348505,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,48.248951,16.357180,2.602726,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,48.248951,16.357180,3.038934,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:10,224 INFO Welcome to the CDS
2021-05-25 11:34:10,224 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  RISE_bias_estimate

2021-05-25 11:34:10,384 INFO Request is queued
2021-05-25 11:34:11,421 INFO Request is completed
2021-05-25 11:34:11,422 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935250.6699426-10215-2-82b03ff2-b3a0-4bd9-b94c-71f0b30c3b79.zip to download.zip (258.9K)
2021-05-25 11:34:11,639 INFO Download rate 1.2M/s
2021-05-25 11:34:11,678 INFO Reading Profile on slice(None, None, None)

,RISE_bias_estimate,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.0,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,0.0,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:11,893 INFO Welcome to the CDS
2021-05-25 11:34:11,894 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  RICH_bias_estimate

2021-05-25 11:34:12,069 INFO Request is queued
2021-05-25 11:34:13,106 INFO Request is completed
2021-05-25 11:34:13,107 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935252.2268-8705-12-8cd624ea-27d6-4445-8e31-7a1c6a6d4793.zip to download.zip (258.9K)
2021-05-25 11:34:13,340 INFO Download rate 1.1M/s
2021-05-25 11:34:13,451 INFO Reading Profile on slice(None, None, None)

,RICH_bias_estimate,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.0,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,0.0,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:13,833 INFO Welcome to the CDS
2021-05-25 11:34:13,835 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  RASE_bias_estimate

2021-05-25 11:34:13,999 INFO Request is queued
2021-05-25 11:34:15,036 INFO Request is completed
2021-05-25 11:34:15,038 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935254.1630847-8529-12-635b5d0f-f169-4254-8e29-1a923d54593b.zip to download.zip (258.9K)
2021-05-25 11:34:15,302 INFO Download rate 987.8K/s
2021-05-25 11:34:15,548 INFO Reading Profile on slice(None, None, None)

,RASE_bias_estimate,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.0,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,0.0,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:15,856 INFO Welcome to the CDS
2021-05-25 11:34:15,858 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  RAOBCORE_bias_estimate

2021-05-25 11:34:16,028 INFO Request is queued
2021-05-25 11:34:17,065 INFO Request is running
2021-05-25 11:34:20,894 INFO Request is completed
2021-05-25 11:34:20,896 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935259.3353705-9813-5-474bb565-8593-4512-b4dc-6cd0b2bcf7cd.zip to download.zip (258.9K)
2021-05-25 11:34:21,147 INFO Download rate 1M/s
2021-05-25 11:34:21,286 INFO Reading Profile on slice(None, None, None)

,RAOBCORE_bias_estimate,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,-0.0,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,-0.0,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:21,567 INFO Welcome to the CDS
2021-05-25 11:34:21,570 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  desroziers_30

2021-05-25 11:34:21,742 INFO Request is queued
2021-05-25 11:34:22,780 INFO Request is completed
2021-05-25 11:34:22,782 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935261.900627-8731-12-da87b1fd-1ae0-44e3-ba81-153835d8d1a8.zip to download.zip (258.9K)
2021-05-25 11:34:23,048 INFO Download rate 977.9K/s
2021-05-25 11:34:23,201 INFO Reading Profile on slice(None, None, None)

,desroziers_30,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.552916,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,1.208805,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:23,550 INFO Welcome to the CDS
2021-05-25 11:34:23,552 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  desroziers_60

2021-05-25 11:34:23,727 INFO Request is queued
2021-05-25 11:34:24,769 INFO Request is completed
2021-05-25 11:34:24,772 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935264.0093215-9815-6-d46afbc7-733b-44b6-ba55-01301a1204e2.zip to download.zip (258.9K)
2021-05-25 11:34:25,002 INFO Download rate 1.1M/s
2021-05-25 11:34:25,122 INFO Reading Profile on slice(None, None, None)

,desroziers_60,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.348003,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,NaN,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:25,356 INFO Welcome to the CDS
2021-05-25 11:34:25,358 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  desroziers_90

2021-05-25 11:34:25,556 INFO Request is queued
2021-05-25 11:34:26,596 INFO Request is completed
2021-05-25 11:34:26,599 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935265.7119536-8624-13-e80431c6-77e3-42c6-a4f9-6f8f7a1f5e40.zip to download.zip (258.9K)
2021-05-25 11:34:26,830 INFO Download rate 1.1M/s
2021-05-25 11:34:26,949 INFO Reading Profile on slice(None, None, None)

,desroziers_90,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.508933,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,NaN,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:27,286 INFO Welcome to the CDS
2021-05-25 11:34:27,288 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  desroziers_180

2021-05-25 11:34:27,463 INFO Request is queued
2021-05-25 11:34:28,503 INFO Request is completed
2021-05-25 11:34:28,505 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935267.6288924-8736-13-eb2cff65-d6a7-498d-8d0c-df0d1f246f42.zip to download.zip (258.9K)
2021-05-25 11:34:28,753 INFO Download rate 1M/s
2021-05-25 11:34:28,943 INFO Reading Profile on slice(None, None, None)

,desroziers_180,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,NaN,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),227.250000,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),227.559998,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),227.610001,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),227.710007,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),227.289993,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,0.430498,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),272.239990,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),272.959991,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),275.779999,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,NaN,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),277.309998,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),277.570007,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:29,272 INFO Welcome to the CDS
2021-05-25 11:34:29,274 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  wind_bias_estimate

2021-05-25 11:34:29,449 INFO Request is queued
2021-05-25 11:34:30,490 INFO Request is completed
2021-05-25 11:34:30,492 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935269.6174295-6124-19-41448336-4d47-4c56-bc4b-2b68feb86af9.zip to download.zip (260.6K)
2021-05-25 11:34:30,735 INFO Download rate 1.1M/s
2021-05-25 11:34:30,901 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,time,trajectory_label,ua,wind_bias_estimate
0,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn,72.345924,0.0
1,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn,76.125641,0.0
2,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn,75.094482,0.0
3,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn,72.675148,0.0
4,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn,72.481094,0.0
...,...,...,...,...,...,...,...,...,...
5667,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn,6.128872,0.0
5668,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn,11.894828,0.0
5669,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn,6.920714,0.0
5670,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn,4.886402,0.0
5671,48.248951,16.357180,100980.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn,0.176590,0.0

2021-05-25 11:34:31,261 INFO Welcome to the CDS
2021-05-25 11:34:31,263 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing:  humidity_bias_estimate

2021-05-25 11:34:31,425 INFO Request is queued
2021-05-25 11:34:32,465 INFO Request is completed
2021-05-25 11:34:32,467 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935271.6126554-9859-5-049a6bc7-a0cf-49b5-9f0e-f6d4fec3d2da.zip to download.zip (286.8K)
2021-05-25 11:34:32,699 INFO Download rate 1.2M/s
2021-05-25 11:34:32,877 INFO Reading Profile on slice(None, None, None)

,humidity_bias_estimate,hur,lat,lon,plev,report_id,station_id,time,trajectory_label
0,NaN,0.010622,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,NaN,0.010620,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,NaN,0.010630,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,NaN,0.010616,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,NaN,0.010610,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...,...
5663,-0.0,0.795246,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,NaN,0.761943,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,NaN,0.679380,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,-0.0,0.621206,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,NaN,0.616800,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:33,215 INFO Welcome to the CDS
2021-05-25 11:34:33,216 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

optional - testing: finished
toolbox - testing:  bias_estimate

2021-05-25 11:34:33,391 INFO Request is queued
2021-05-25 11:34:34,430 INFO Request is completed
2021-05-25 11:34:34,431 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935273.547698-8764-12-309997e0-5a12-4d7f-965e-557483919340.zip to download.zip (259K)
2021-05-25 11:34:34,676 INFO Download rate 1M/s
2021-05-25 11:34:34,796 INFO Reading Profile on slice(None, None, None)

,lat,lon,plev,report_id,station_id,ta,time,trajectory_label
0,48.248951,16.356859,560.0,10000055267,WIEN/HOHE WARTE (11035-0),0.0,2019-12-30 11:32:22,nnnnnnnnnnnnnn
1,48.248951,16.356859,570.0,10000055267,WIEN/HOHE WARTE (11035-0),0.0,2019-12-30 11:32:22,nnnnnnnnnnnnnn
2,48.248951,16.356859,580.0,10000055267,WIEN/HOHE WARTE (11035-0),0.0,2019-12-30 11:32:22,nnnnnnnnnnnnnn
3,48.248951,16.356859,590.0,10000055267,WIEN/HOHE WARTE (11035-0),0.0,2019-12-30 11:32:22,nnnnnnnnnnnnnn
4,48.248951,16.356859,600.0,10000055267,WIEN/HOHE WARTE (11035-0),0.0,2019-12-30 11:32:22,nnnnnnnnnnnnnn
...,...,...,...,...,...,...,...,...
5663,48.248951,16.357180,92500.0,10000055270,WIEN/HOHE WARTE (11035-0),0.0,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5664,48.248951,16.357180,93430.0,10000055270,WIEN/HOHE WARTE (11035-0),0.0,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5665,48.248951,16.357180,97960.0,10000055270,WIEN/HOHE WARTE (11035-0),0.0,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5666,48.248951,16.357180,100000.0,10000055270,WIEN/HOHE WARTE (11035-0),0.0,2019-12-31 23:41:21,nnnnnnnnnnnnnn
5667,48.248951,16.357180,100440.0,10000055270,WIEN/HOHE WARTE (11035-0),0.0,2019-12-31 23:41:21,nnnnnnnnnnnnnn

2021-05-25 11:34:35,086 INFO Welcome to the CDS
2021-05-25 11:34:35,087 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

toolbox - testing: finished
cds - testing:  era5fb/date@hdr

2021-05-25 11:34:35,261 INFO Request is queued
2021-05-25 11:34:36,299 INFO Request is completed
2021-05-25 11:34:36,301 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935275.6085825-8818-12-8632d1b1-82a0-4fc7-abce-d6f151b81259.zip to download.zip (258.9K)
2021-05-25 11:34:36,676 INFO Download rate 693.3K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Permissions:  (mblaschek)
Filesize: 0.25 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | date@hdr_____________________________________ : : (5668,)
 - V | lat__________________________________________ : : (5668,)
 - V | lon__________________________________________ : : (5668,)
 - V | plev_________________________________________ : : (5668,)
 - V | report_id____________________________________ : : (5668, 11)
 - V | station_id___________________________________ : : (5668, 25)
 - V | ta___________________________________________ : : (5668,)
 - V | time_________________________________________ : : (5668,)
 - V | trajectory_index_____________________________ : : (5668,)
 - V | trajectory_label_____________________________ : : (4, 14)

2021-05-25 11:34:37,082 INFO Welcome to the CDS
2021-05-25 11:34:37,084 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

cds - testing:  sensor_configuration/comments

2021-05-25 11:34:37,259 INFO Request is queued
2021-05-25 11:34:38,298 INFO Request is completed
2021-05-25 11:34:38,300 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935277.6059754-8822-13-d0052687-3fb9-43be-bd05-0590d5e688c7.zip to download.zip (901.1K)
2021-05-25 11:34:38,668 INFO Download rate 2.4M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Permissions:  (mblaschek)
Filesize: 0.88 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (5668,)
 - V | lon__________________________________________ : : (5668,)
 - V | plev_________________________________________ : : (5668,)
 - V | report_id____________________________________ : : (5668, 11)
 - G | sensor_configuration_________________________ : : 1
 - V | station_id___________________________________ : : (5668, 25)
 - V | ta___________________________________________ : : (5668,)
 - V | time_________________________________________ : : (5668,)
 - V | trajectory_index_____________________________ : : (5668,)
 - V | trajectory_label_____________________________ : : (4, 14)

2021-05-25 11:34:39,108 INFO Welcome to the CDS
2021-05-25 11:34:39,110 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

cds - testing:  sensor_configuration/observing_method

2021-05-25 11:34:39,276 INFO Request is queued
2021-05-25 11:34:40,314 INFO Request is running
2021-05-25 11:34:44,139 INFO Request is completed
2021-05-25 11:34:44,141 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935282.6509967-9543-12-b5c0aa53-4738-4c3f-81a1-eb71716da60c.zip to download.zip (283.3K)
2021-05-25 11:34:44,340 INFO Download rate 1.4M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Permissions:  (mblaschek)
Filesize: 0.28 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (5668,)
 - V | lon__________________________________________ : : (5668,)
 - V | plev_________________________________________ : : (5668,)
 - V | report_id____________________________________ : : (5668, 11)
 - G | sensor_configuration_________________________ : : 1
 - V | station_id___________________________________ : : (5668, 25)
 - V | ta___________________________________________ : : (5668,)
 - V | time_________________________________________ : : (5668,)
 - V | trajectory_index_____________________________ : : (5668,)
 - V | trajectory_label_____________________________ : : (4, 14)

2021-05-25 11:34:44,557 INFO Welcome to the CDS
2021-05-25 11:34:44,559 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

cds - testing:  header_table/location_accuracy

2021-05-25 11:34:44,733 INFO Request is queued
2021-05-25 11:34:45,770 INFO Request is completed
2021-05-25 11:34:45,771 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935285.0794544-8873-12-65bb1236-9af0-4553-ad64-0d561f28d118.zip to download.zip (618.8K)
2021-05-25 11:34:46,098 INFO Download rate 1.9M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Permissions:  (mblaschek)
Filesize: 0.60 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - G | header_table_________________________________ : : 1
 - V | lat__________________________________________ : : (5668,)
 - V | lon__________________________________________ : : (5668,)
 - V | plev_________________________________________ : : (5668,)
 - V | report_id____________________________________ : : (5668, 11)
 - V | station_id___________________________________ : : (5668, 25)
 - V | ta___________________________________________ : : (5668,)
 - V | time_________________________________________ : : (5668,)
 - V | trajectory_index_____________________________ : : (5668,)
 - V | trajectory_label_____________________________ : : (4, 14)

2021-05-25 11:34:46,301 INFO Welcome to the CDS
2021-05-25 11:34:46,303 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

cds - testing:  crs

2021-05-25 11:34:46,457 INFO Request is queued
2021-05-25 11:34:47,493 INFO Request is completed
2021-05-25 11:34:47,494 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1621935286.9418294-8875-11-75a5f75a-637a-4138-954d-bf05b4f7348f.zip to download.zip (258.4K)
2021-05-25 11:34:47,724 INFO Download rate 1.1M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Permissions:  (mblaschek)
Filesize: 0.25 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - G | crs__________________________________________ : : 4
 - V | lat__________________________________________ : : (5668,)
 - V | lon__________________________________________ : : (5668,)
 - V | plev_________________________________________ : : (5668,)
 - V | report_id____________________________________ : : (5668, 11)
 - V | station_id___________________________________ : : (5668, 25)
 - V | ta___________________________________________ : : (5668,)
 - V | time_________________________________________ : : (5668,)
 - V | trajectory_index_____________________________ : : (5668,)
 - V | trajectory_label_____________________________ : : (4, 14)

2021-05-25 11:34:47,969 INFO Welcome to the CDS
2021-05-25 11:34:47,970 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

cds - testing:  observations_table/location_method

2021-05-25 11:34:48,123 INFO Request is queued
2021-05-25 11:34:49,160 INFO Request is completed
2021-05-25 11:34:49,161 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935288.4517577-9586-9-88a1f1c2-cf36-492b-a03c-dcb71a7b3f94.zip to download.zip (258.9K)
2021-05-25 11:34:49,401 INFO Download rate 1.1M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Permissions:  (mblaschek)
Filesize: 0.25 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (5668,)
 - V | location_method______________________________ : : (5668,)
 - V | lon__________________________________________ : : (5668,)
 - V | plev_________________________________________ : : (5668,)
 - V | report_id____________________________________ : : (5668, 11)
 - V | station_id___________________________________ : : (5668, 25)
 - V | ta___________________________________________ : : (5668,)
 - V | time_________________________________________ : : (5668,)
 - V | trajectory_index_____________________________ : : (5668,)
 - V | trajectory_label_____________________________ : : (4, 14)

2021-05-25 11:34:49,689 INFO Welcome to the CDS
2021-05-25 11:34:49,692 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

cds - testing:  era5fb/obsvalue@body

2021-05-25 11:34:49,873 INFO Request is queued
2021-05-25 11:34:50,907 INFO Request is completed
2021-05-25 11:34:50,909 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1621935290.2112234-8880-9-87ecdf4d-7d4e-4567-962a-dda1597fbf2c.zip to download.zip (256.3K)
2021-05-25 11:34:51,175 INFO Download rate 968.4K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Permissions:  (mblaschek)
Filesize: 0.25 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (5668,)
 - V | lon__________________________________________ : : (5668,)
 - V | plev_________________________________________ : : (5668,)
 - V | report_id____________________________________ : : (5668, 11)
 - V | station_id___________________________________ : : (5668, 25)
 - V | ta___________________________________________ : : (5668,)
 - V | time_________________________________________ : : (5668,)
 - V | trajectory_index_____________________________ : : (5668,)
 - V | trajectory_label_____________________________ : : (4, 14)

cdm - testing: finished