In [1]:
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
from datetime import date
warnings.filterwarnings('ignore')

sys.path.append(os.getcwd()+'/../cds-backend/code/')
import cds_eua3 as eua

In [2]:
def request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.nc')
    
    with eua.CDMDataset(files[0]) as f:
        data = f.to_dataframe()
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [3]:
def csv_request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.csv*')
    
    data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [4]:
def cdmrequest(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test1/')
    z.close()
    
    files = glob.glob('./test1/*.nc')
    
    data = eua.CDMDataset(files[0])
    
    os.remove('download.zip')
    for i in files:
        os.remove(i)
    
    return data

In [5]:
#
# returns the whole dataframe instead of just the first bit whenever there are more files retrieved from the cds
# only relevant, if you would like to have a look at the data
#
def multi_request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test2/')
    z.close()
    
    datalist = []
    files = glob.glob('./test2/*.nc')
    with eua.CDMDataset(files[0]) as f:
        data = f.to_dataframe()
    if len(files) > 0:
        for i in files[1:]:
            with eua.CDMDataset(i) as f:
                add = f.to_dataframe()
            data = data.append(add, ignore_index=True)
#     if len(files) > 0:
#         for i in range(len(files)):
#             ds = xarray.open_dataset(files[i])            
#             to_be_removed = ['trajectory_index', 'trajectory']
#             for ivar in list(ds.variables):
#                 if 'string' in ivar:
#                     to_be_removed.append(ivar)

#                 if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
#                     report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
#                     ds = ds.drop_vars(ivar)
#                     ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???

#                 if ds[ivar].ndim > 1:
#                     tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
#                     ds = ds.drop_vars(ivar)
#                     idim = tmp.dims[0]
#                     ds[ivar] = (idim, tmp)

#             ds = ds.drop_vars(to_be_removed)
#             data = ds.to_dataframe()
#             datalist.append(data)
#         data = pd.concat(datalist, axis=0)
#     else:
#         files = glob.glob('./test2/*.csv')
#         data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test2/')
    except:
       print('Error while deleting directory')
    
    return data

In [6]:
def test_statid():
    log = []
    log.append('\n\n---STATID---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'all', 11035, '11035', '0-20001-0-11035', '0-20100-0-00701','11*', '1103*', '0-20100*', ['11035', 10393], ['0-20001-0-11035', '0-20001-0-10393']]:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            print(rd)
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['110350', '1103', '0-20000-0-1103', '0-20000-0-110350']:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        }
        try: 
            print(rd)
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('statid - testing: finished')
    return log

In [7]:
def test_variable():
    log = []
    log.append('\n\n---VARIABLE---')
    cachworkaround = np.random.random_sample()
    for s in ['air_temperature','dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '11035',
            'date': '20000101-20000131',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['temperature', 'dew_point', 'wind', 'humidity', 'sonde_type']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '11035',
            'date': '20000101-20000131',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('variable - testing: finished')
    return log

In [8]:
def test_optional():
    log = []
    log.append('\n\n---OPTIONAL---')
    cachworkaround = np.random.random_sample()
    for s in ['sonde_type', 'bias_estimate', 'obs_minus_an', 'obs_minus_bg']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['11035'], # '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ ' - ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['sonde', 'air_temperature', 'dew_point_temperature']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['11035'],# '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [9]:
def test_area():
    log = []
    log.append('\n\n---AREA---')
    cachworkaround = np.random.random_sample()
    for s in [[80,140,-40,359], [49,16,48,17], [49,-180,48,180], [49,0,48,360], [90, -180, -90, 180]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [[80,140,70], [80,140,70,150,0],[0,0,0,0], [40,20,50,0], [49,-180,48,360]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('area - testing: finished')
    return log

In [10]:
def test_country():
    log = []
    log.append('\n\n---COUNTRY---')
    cachworkaround = np.random.random_sample()
    for s in ['GLOBE', 'ALL', 'NOR', ["NOR","DEU"]]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['NORWAY', 'nor',]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('country - testing: finished')
    return log

In [11]:
def test_date(): 
    log = []
    log.append('\n\n---DATE---')
    cachworkaround = np.random.random_sample()
    for s in [None, '20000231', '20000101', '20000101-20000201', ['20000101', '20000103', '20000106'], ['20000102', '20000101']]:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['2000011', '20000100', '00000000', '20000132', '20001301', '20000201-20000101', '20000101/20000201']:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('date - testing: finished')
    return log

In [12]:
def test_period(): 
    log = []
    log.append('\n\n---PERIOD---')
    # not working: ['1979-01-01/1980-08-16']
    cachworkaround = np.random.random_sample()
    for s in [None, '1979-01-01/1980-08-16']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['1980-01-02/1980-01-01']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('period - testing: finished')
    return log

In [13]:
def test_pressure_level():
    log = []
    log.append('\n\n---PRESSURE LEVEL---')
    cachworkaround = np.random.random_sample()
    for s in [100, '100', [100, 200], ['100', '200']]:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    for s in ['0', '2000']:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    print('pressure_level - testing: finished')
    return log

In [14]:
def test_time():
    log = []
    log.append('\n\n---TIME---')
    cachworkaround = np.random.random_sample()
    for s in [[22,23,0,1,2,3], ["22","23","00","01","02","03"], '', '0', '00', ["00"], [0,12], ["0","12"]]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101-20000201',
            'time': s,
#             'da': False,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['24', '25', '12.5', ]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101-20000201',
            'time': s,
#             'da': False,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('time - testing: finished')
    return log

In [15]:
def test_format():
    log = []
    log.append('\n\n---FORMAT---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'nc']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101-20000201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['csv',]:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101-20000201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(csv_request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['netcdf', 'csb', 'txt']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20000101-20000201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('format - testing: finished')
    return log

In [16]:
def test_ymd():
    log = []
    # if one of them is None -> no date selected = the whole dataset - change?
    cachworkaround = np.random.random_sample()
    log.append('\n\n---YEAR---')
    for s in [None, 2000, '2000', ['2000', '2001'], [2000, 2001]]:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [0, '20000', '-2000']:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---MONTH---')
    for s in [None, 1, '1', '01', ['01', '02'], ['1', '2'], [1, 2]]:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '13']:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---DAY---')
    for s in ['01', '31', ['01', '02'], ['1', '2'], [1, 2]]:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '32']:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('ymd - testing: finished')
    return log

In [17]:
def test_size():
    log = []
    log.append('\n\n---SIZE---')
    cachworkaround = np.random.random_sample()
    s = 'air_temperature 11035'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'air_temperature 10393'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '10393',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = 'air_temperature 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'date': '20000101-20000201',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    s = 'air_temperature everything'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'all variables 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed'],
        'date': '20000101-20000201',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('size - testing: finished')
    return log

In [25]:
def test_20300():
    log = []
    log.append('\n\n---20300---')
    cachworkaround = np.random.random_sample()
   
    s = 'area'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'area': [-77,-42,-78,-41],
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = '20300*'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '0-20300*',
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('20300 - testing: finished')
    return log

In [19]:
def test_optional():
    log = []
    log.append('\n\n---optional---')
    cachworkaround = np.random.random_sample()
    s = ['sonde_type', 'bias_estimate','obs_minus_an','obs_minus_bg',
         'RISE_bias_estimate', 'RICH_bias_estimate', 'RASE_bias_estimate', 'RAOBCORE_bias_estimate', 
         'desroziers_30', 'desroziers_60', 'desroziers_90', 'desroziers_180', 
         'wind_bias_estimate', 'humidity_bias_estimate']
    var = ['temperature', 'temperature', 'temperature', 'temperature',
           'temperature', 'temperature', 'temperature', 'temperature',
           'temperature', 'temperature', 'temperature', 'temperature',
           'u_component_of_wind', 'relative_humidity']
    for i in range(len(s)):
        print('optional - testing: ', s[i])
        rd={
            'variable': var[i],
            'statid': '11035',
            'optional': s[i],
            'date': '20001230-20001231',
            'cachworkaround': cachworkaround,
        } 
        try:
            check_data = request(rd)
            display(check_data)
            if(len(check_data) < 1):
                log.append('\n0 request failed: ' + str(s[i]))
            else:
                log.append('\n1 request successful: ' + str(s[i]))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [20]:
def test_toolbox():
    log = []
    log.append('\n\n---toolbox---')
    cachworkaround = np.random.random_sample()
    s = 'bias_estimate'
    print('toolbox - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'optional': s,
        'toolbox': 'True',
        'date': '20001230-20001231',
        'cachworkaround': cachworkaround,
    } 
    try:
        check_data = request(rd)
        display(check_data)
        if(len(check_data) < 1):
            log.append('\n0 request failed: ' + str(s))
        else:
            log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('toolbox - testing: finished')
    return log

In [21]:
def test_cdm():
    log = []
    log.append('\n\n---cdm---')
    cachworkaround = np.random.random_sample()
    s = ['era5fb/date@hdr', 'sensor_configuration/comments', 'sensor_configuration/observing_method', 'header_table/location_accuracy',
         'crs', 'observations_table/location_method', 'era5fb/obsvalue@body']
    for i in s:
        print('cds - testing: ', i)
        rd={
            'variable': 'temperature',
            'statid': '11035',
            'cdm': [i],
            'date': '20001230-20001231',
            'cachworkaround': cachworkaround,
        } 
        try:
            check_data = cdmrequest(rd)
            display(check_data)
            if(len(check_data['lat'][:]) < 1):
                log.append('\n0 request failed: ' + str(i))
            else:
                log.append('\n1 request successful: ' + str(i))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('cdm - testing: finished')
    return log

In [22]:
def server_test():
    log = []
    log.append('Testing Server Requests \n')
    log.append('0 = failed | 1 = succeeded \n')
    a = !git rev-parse HEAD
    log.append('GIT revision: ' + str(a) + ' \n')
    log.append(str(date.today())+ ' \n')
    try: log.extend(test_statid())
    except: log.append('\nstatid - test: failed \n')
    try: log.extend(test_variable())
    except: log.append('\nvariable - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_area())
    except: log.append('\narea - test: failed \n')
    try: log.extend(test_country())
    except: log.append('\ncountry - test: failed \n')
    try: log.extend(test_date())
    except: log.append('\ndate - test: failed \n')
    try: log.extend(test_period())
    except: log.append('\nperiod - test: failed \n')
    try: log.extend(test_pressure_level())
    except: log.append('\npressure_level - test: failed \n')
    try: log.extend(test_time())
    except: log.append('\ntime - test: failed \n')
    try: log.extend(test_format())
    except: log.append('\nformat - test: failed \n')
    try: log.extend(test_ymd())
    except: log.append('\nymd - test: failed \n')
    log.append('\nsize - test: disabled \n')
#     try: log.extend(test_size())
#     except: log.append('\nsize - test: failed \n')
    try: log.extend(test_20300())
    except: log.append('\n20300 - test: failed \n')
    try: log.extend(test_cdm())
    except: log.append('\ncdm - test: failed \n')
        
    writelog=open(str(date.today()) + '_server_test_log.txt','w')
    writelog.writelines(log)
    writelog.close()

In [23]:
server_test()

2022-10-13 14:44:26,355 INFO Welcome to the CDS
2022-10-13 14:44:26,358 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  None
{'variable': 'air_temperature', 'statid': None, 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:44:26,440 INFO Request is queued
2022-10-13 14:44:27,470 INFO Request is running
2022-10-13 14:45:41,646 INFO Request is completed
2022-10-13 14:45:41,648 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665115.8638628-22042-2-239a9051-f4ba-480f-b6a0-505513f6b42e.zip to download.zip (34M)
2022-10-13 14:45:43,002 INFO Download rate 25.1M/s
2022-10-13 14:45:44,421 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,50.220001,-5.32,0,2970.0,60000022123,CAMBORNE,217.850006,1978-09-30 14:00:00
1,50.220001,-5.32,0,3000.0,60000022123,CAMBORNE,217.649994,1978-09-30 14:00:00
2,50.220001,-5.32,0,3980.0,60000022123,CAMBORNE,215.050003,1978-09-30 14:00:00
3,50.220001,-5.32,0,5000.0,60000022123,CAMBORNE,215.250000,1978-09-30 14:00:00
4,50.220001,-5.32,0,6550.0,60000022123,CAMBORNE,215.449997,1978-09-30 14:00:00
...,...,...,...,...,...,...,...,...
1712,50.220001,-5.32,0,81100.0,20000027688,CAMBORNE,277.200012,1978-10-31 12:00:00
1713,50.220001,-5.32,0,85000.0,20000027688,CAMBORNE,277.200012,1978-10-31 12:00:00
1714,50.220001,-5.32,0,86600.0,20000027688,CAMBORNE,277.799988,1978-10-31 12:00:00
1715,50.220001,-5.32,0,100000.0,20000027688,CAMBORNE,286.200012,1978-10-31 12:00:00
1716,50.220001,-5.32,0,100600.0,20000027688,CAMBORNE,286.600006,1978-10-31 12:00:00

2022-10-13 14:45:44,558 INFO Welcome to the CDS
2022-10-13 14:45:44,559 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:45:44,622 INFO Request is queued

statid - testing:  all
{'variable': 'air_temperature', 'statid': 'all', 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:45:45,650 INFO Request is running
2022-10-13 14:46:34,145 INFO Request is completed
2022-10-13 14:46:34,147 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665191.0595639-22093-1-602966ee-b7b9-4df9-8bf6-1df252c65715.zip to download.zip (34M)
2022-10-13 14:46:35,438 INFO Download rate 26.3M/s
2022-10-13 14:46:35,644 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,50.220001,-5.32,0,2970.0,60000022123,CAMBORNE,217.850006,1978-09-30 14:00:00
1,50.220001,-5.32,0,3000.0,60000022123,CAMBORNE,217.649994,1978-09-30 14:00:00
2,50.220001,-5.32,0,3980.0,60000022123,CAMBORNE,215.050003,1978-09-30 14:00:00
3,50.220001,-5.32,0,5000.0,60000022123,CAMBORNE,215.250000,1978-09-30 14:00:00
4,50.220001,-5.32,0,6550.0,60000022123,CAMBORNE,215.449997,1978-09-30 14:00:00
...,...,...,...,...,...,...,...,...
1712,50.220001,-5.32,0,81100.0,20000027688,CAMBORNE,277.200012,1978-10-31 12:00:00
1713,50.220001,-5.32,0,85000.0,20000027688,CAMBORNE,277.200012,1978-10-31 12:00:00
1714,50.220001,-5.32,0,86600.0,20000027688,CAMBORNE,277.799988,1978-10-31 12:00:00
1715,50.220001,-5.32,0,100000.0,20000027688,CAMBORNE,286.200012,1978-10-31 12:00:00
1716,50.220001,-5.32,0,100600.0,20000027688,CAMBORNE,286.600006,1978-10-31 12:00:00

2022-10-13 14:46:35,735 INFO Welcome to the CDS
2022-10-13 14:46:35,736 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:35,792 INFO Request is queued

statid - testing:  11035
{'variable': 'air_temperature', 'statid': 11035, 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:36,821 INFO Request is completed
2022-10-13 14:46:36,822 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665196.4709406-22048-1-59686558-6d03-49ce-91e9-87a5ff080ba6.zip to download.zip (44.2K)
2022-10-13 14:46:36,894 INFO Download rate 620.2K/s
2022-10-13 14:46:36,906 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00

2022-10-13 14:46:36,979 INFO Welcome to the CDS
2022-10-13 14:46:36,980 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:37,032 INFO Request is queued

statid - testing:  11035
{'variable': 'air_temperature', 'statid': '11035', 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:38,060 INFO Request is completed
2022-10-13 14:46:38,062 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665197.483404-2628-19-0a976211-4d24-40fe-959f-fbbb1d7b3c45.zip to download.zip (44.2K)
2022-10-13 14:46:38,135 INFO Download rate 616.2K/s
2022-10-13 14:46:38,149 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00

2022-10-13 14:46:38,222 INFO Welcome to the CDS
2022-10-13 14:46:38,223 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:38,278 INFO Request is queued

statid - testing:  0-20001-0-11035
{'variable': 'air_temperature', 'statid': '0-20001-0-11035', 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:39,307 INFO Request is completed
2022-10-13 14:46:39,309 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665198.8589382-2664-16-20a68329-53c7-45b6-ac12-a55e1c557327.zip to download.zip (44.2K)
2022-10-13 14:46:39,381 INFO Download rate 619.9K/s
2022-10-13 14:46:39,391 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00

2022-10-13 14:46:39,467 INFO Welcome to the CDS
2022-10-13 14:46:39,468 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:39,528 INFO Request is queued

statid - testing:  0-20100-0-00701
{'variable': 'air_temperature', 'statid': '0-20100-0-00701', 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:40,558 INFO Request is completed
2022-10-13 14:46:40,559 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665200.0680475-22057-2-5c4b9d20-4d21-4116-8e7a-ad4423dcebb5.zip to download.zip (58.6K)
2022-10-13 14:46:40,632 INFO Download rate 814.8K/s
2022-10-13 14:46:40,643 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,ta,time
0,46.811578,6.942472,0,3000.0,0-20100-0-00701-001,213.35,1978-10-10 10:59:12
1,46.811578,6.942472,0,5000.0,0-20100-0-00701-001,210.85,1978-10-10 10:50:24
2,46.811578,6.942472,0,7000.0,0-20100-0-00701-001,209.15,1978-10-10 10:44:42
3,46.811578,6.942472,0,10000.0,0-20100-0-00701-001,207.85,1978-10-10 10:38:54
4,46.811578,6.942472,0,15000.0,0-20100-0-00701-001,205.55,1978-10-10 10:30:18
...,...,...,...,...,...,...,...
584,46.811578,6.942472,0,40000.0,0-20100-0-00701-055,245.25,1978-10-31 10:10:30
585,46.811578,6.942472,0,50000.0,0-20100-0-00701-055,257.05,1978-10-31 10:04:42
586,46.811578,6.942472,0,70000.0,0-20100-0-00701-055,275.15,1978-10-31 09:55:06
587,46.811578,6.942472,0,85000.0,0-20100-0-00701-055,283.65,1978-10-31 09:48:54
588,46.811578,6.942472,0,90000.0,0-20100-0-00701-055,283.95,1978-10-31 09:47:00

2022-10-13 14:46:40,710 INFO Welcome to the CDS
2022-10-13 14:46:40,711 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:40,765 INFO Request is queued

statid - testing:  11*
{'variable': 'air_temperature', 'statid': '11*', 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:41,793 INFO Request is running
2022-10-13 14:46:43,323 INFO Request is completed
2022-10-13 14:46:43,324 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665202.125799-22060-2-1565aa7f-c0cf-4f48-a770-b0c8ea1ba92a.zip to download.zip (120.4K)
2022-10-13 14:46:43,419 INFO Download rate 1.3M/s
2022-10-13 14:46:43,431 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,50.0,14.45,0,2000.0,20000011451,PRAHA-LIBUS,219.100006,1978-10-01 12:00:00
1,50.0,14.45,0,3000.0,20000011451,PRAHA-LIBUS,219.899994,1978-10-01 12:00:00
2,50.0,14.45,0,5000.0,20000011451,PRAHA-LIBUS,220.100006,1978-10-01 12:00:00
3,50.0,14.45,0,5400.0,20000011451,PRAHA-LIBUS,220.899994,1978-10-01 12:00:00
4,50.0,14.45,0,7000.0,20000011451,PRAHA-LIBUS,218.100006,1978-10-01 12:00:00
...,...,...,...,...,...,...,...,...
1462,50.0,14.45,0,72000.0,20000011570,PRAHA-LIBUS,276.200012,1978-10-31 12:00:00
1463,50.0,14.45,0,76000.0,20000011570,PRAHA-LIBUS,276.200012,1978-10-31 12:00:00
1464,50.0,14.45,0,80000.0,20000011570,PRAHA-LIBUS,270.100006,1978-10-31 12:00:00
1465,50.0,14.45,0,85000.0,20000011570,PRAHA-LIBUS,275.000000,1978-10-31 12:00:00
1466,50.0,14.45,0,89500.0,20000011570,PRAHA-LIBUS,279.000000,1978-10-31 12:00:00

2022-10-13 14:46:43,499 INFO Welcome to the CDS
2022-10-13 14:46:43,500 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:43,549 INFO Request is queued

statid - testing:  1103*
{'variable': 'air_temperature', 'statid': '1103*', 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:44,577 INFO Request is completed
2022-10-13 14:46:44,578 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665204.0101783-19195-3-3a40d163-9166-471c-b11b-590533522ad4.zip to download.zip (44.2K)
2022-10-13 14:46:44,650 INFO Download rate 624.1K/s
2022-10-13 14:46:44,662 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00

2022-10-13 14:46:44,727 INFO Welcome to the CDS
2022-10-13 14:46:44,728 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:44,776 INFO Request is queued

statid - testing:  0-20100*
{'variable': 'air_temperature', 'statid': '0-20100*', 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:45,801 INFO Request is running
2022-10-13 14:46:47,330 INFO Request is completed
2022-10-13 14:46:47,332 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665205.909868-2805-18-224eac75-8ee8-4f53-9392-ad32b8596d19.zip to download.zip (151.1K)
2022-10-13 14:46:47,426 INFO Download rate 1.6M/s
2022-10-13 14:46:47,439 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,ta,time
0,46.811578,6.942472,0,3000.0,0-20100-0-00701-001,213.35,1978-10-10 10:59:12
1,46.811578,6.942472,0,5000.0,0-20100-0-00701-001,210.85,1978-10-10 10:50:24
2,46.811578,6.942472,0,7000.0,0-20100-0-00701-001,209.15,1978-10-10 10:44:42
3,46.811578,6.942472,0,10000.0,0-20100-0-00701-001,207.85,1978-10-10 10:38:54
4,46.811578,6.942472,0,15000.0,0-20100-0-00701-001,205.55,1978-10-10 10:30:18
...,...,...,...,...,...,...,...
584,46.811578,6.942472,0,40000.0,0-20100-0-00701-055,245.25,1978-10-31 10:10:30
585,46.811578,6.942472,0,50000.0,0-20100-0-00701-055,257.05,1978-10-31 10:04:42
586,46.811578,6.942472,0,70000.0,0-20100-0-00701-055,275.15,1978-10-31 09:55:06
587,46.811578,6.942472,0,85000.0,0-20100-0-00701-055,283.65,1978-10-31 09:48:54
588,46.811578,6.942472,0,90000.0,0-20100-0-00701-055,283.95,1978-10-31 09:47:00

2022-10-13 14:46:47,501 INFO Welcome to the CDS
2022-10-13 14:46:47,502 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:47,554 INFO Request is queued

statid - testing:  ['11035', 10393]
{'variable': 'air_temperature', 'statid': ['11035', 10393], 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:48,582 INFO Request is running
2022-10-13 14:46:50,110 INFO Request is completed
2022-10-13 14:46:50,112 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665208.6000838-22066-2-02b02586-edcc-4609-88e9-022f17725330.zip to download.zip (96.2K)
2022-10-13 14:46:50,205 INFO Download rate 1M/s
2022-10-13 14:46:50,218 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00

2022-10-13 14:46:50,287 INFO Welcome to the CDS
2022-10-13 14:46:50,288 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:50,337 INFO Request is queued

statid - testing:  ['0-20001-0-11035', '0-20001-0-10393']
{'variable': 'air_temperature', 'statid': ['0-20001-0-11035', '0-20001-0-10393'], 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:51,366 INFO Request is completed
2022-10-13 14:46:51,367 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665211.1585422-2635-15-eb584f33-d66f-4d76-9577-1969819904a6.zip to download.zip (96.2K)
2022-10-13 14:46:51,460 INFO Download rate 1M/s
2022-10-13 14:46:51,473 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00

2022-10-13 14:46:51,543 INFO Welcome to the CDS
2022-10-13 14:46:51,544 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:51,594 INFO Request is queued

statid - testing:  110350
{'variable': 'air_temperature', 'statid': '110350', 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:52,622 INFO Request is failed
2022-10-13 14:46:52,623 ERROR Message: an internal error occurred processing your request
2022-10-13 14:46:52,624 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:46:52,625 ERROR   Traceback (most recent call last):
2022-10-13 14:46:52,626 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:46:52,627 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:46:52,627 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:46:52,628 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:46:52,629 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:46:52,630 ERROR       return p(*args, **kwargs)
2022-10-13 14:46:52,630 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:46:52,631 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:46:52,632 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:46:52,633 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:46:52,633 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:46:52,634 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:46:52,660 INFO Welcome to the CDS
2022-10-13 14:46:52,661 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:52,713 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
statid - testing:  1103
{'variable': 'air_temperature', 'statid': '1103', 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:53,742 INFO Request is failed
2022-10-13 14:46:53,744 ERROR Message: an internal error occurred processing your request
2022-10-13 14:46:53,745 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:46:53,746 ERROR   Traceback (most recent call last):
2022-10-13 14:46:53,747 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:46:53,748 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:46:53,749 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:46:53,750 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:46:53,751 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:46:53,752 ERROR       return p(*args, **kwargs)
2022-10-13 14:46:53,753 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:46:53,754 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:46:53,755 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:46:53,755 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:46:53,756 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:46:53,756 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:46:53,775 INFO Welcome to the CDS
2022-10-13 14:46:53,776 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:53,824 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
statid - testing:  0-20000-0-1103
{'variable': 'air_temperature', 'statid': '0-20000-0-1103', 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:54,852 INFO Request is failed
2022-10-13 14:46:54,853 ERROR Message: an internal error occurred processing your request
2022-10-13 14:46:54,855 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:46:54,856 ERROR   Traceback (most recent call last):
2022-10-13 14:46:54,857 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:46:54,858 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:46:54,860 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:46:54,861 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:46:54,862 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:46:54,862 ERROR       return p(*args, **kwargs)
2022-10-13 14:46:54,863 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:46:54,863 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:46:54,864 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:46:54,864 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:46:54,864 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:46:54,865 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:46:54,885 INFO Welcome to the CDS
2022-10-13 14:46:54,885 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:54,936 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
statid - testing:  0-20000-0-110350
{'variable': 'air_temperature', 'statid': '0-20000-0-110350', 'date': '19781001-19781031', 'cachworkaround': 0.3452263419570093}

2022-10-13 14:46:55,964 INFO Request is failed
2022-10-13 14:46:55,965 ERROR Message: an internal error occurred processing your request
2022-10-13 14:46:55,966 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:46:55,967 ERROR   Traceback (most recent call last):
2022-10-13 14:46:55,968 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:46:55,969 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:46:55,970 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:46:55,971 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:46:55,971 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:46:55,972 ERROR       return p(*args, **kwargs)
2022-10-13 14:46:55,973 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:46:55,973 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:46:55,974 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:46:55,975 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:46:55,976 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:46:55,976 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:46:55,999 INFO Welcome to the CDS
2022-10-13 14:46:56,000 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:56,054 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
statid - testing: finished
variable - testing:  air_temperature

2022-10-13 14:46:57,082 INFO Request is completed
2022-10-13 14:46:57,084 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665216.512148-22042-3-7f34a5cc-6f0a-4eb3-86bc-bf309d9b81eb.zip to download.zip (58.3K)
2022-10-13 14:46:57,157 INFO Download rate 804.2K/s
2022-10-13 14:46:57,168 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
3921,48.23,16.370001,0,89200.0,10000030758,WIEN/HOHE WARTE (11035-1),276.799988,2000-01-31 12:00:00
3922,48.23,16.370001,0,92500.0,10000030758,WIEN/HOHE WARTE (11035-1),279.200012,2000-01-31 12:00:00
3923,48.23,16.370001,0,97400.0,10000030758,WIEN/HOHE WARTE (11035-1),283.399994,2000-01-31 12:00:00
3924,48.23,16.370001,0,99000.0,10000030758,WIEN/HOHE WARTE (11035-1),285.000000,2000-01-31 12:00:00
3925,48.23,16.370001,0,99100.0,10000030758,WIEN/HOHE WARTE (11035-1),285.000000,2000-01-31 12:00:00

2022-10-13 14:46:57,239 INFO Welcome to the CDS
2022-10-13 14:46:57,240 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:57,288 INFO Request is queued

variable - testing:  dew_point_temperature

2022-10-13 14:46:58,317 INFO Request is completed
2022-10-13 14:46:58,318 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665217.9159467-22093-2-7d50d221-f58d-4c51-9944-03ef4364902e.zip to download.zip (54.6K)
2022-10-13 14:46:58,391 INFO Download rate 760.3K/s
2022-10-13 14:46:58,404 INFO Reading Profile on slice(None, None, None)

,dew_point_temperature,lat,lon,obs,plev,report_id,station_id,time
0,181.899994,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
1,183.899994,48.23,16.370001,0,2000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
2,184.300003,48.23,16.370001,0,3000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
3,185.100006,48.23,16.370001,0,5000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
4,187.500000,48.23,16.370001,0,7000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
3348,273.500000,48.23,16.370001,0,89200.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3349,274.899994,48.23,16.370001,0,92500.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3350,276.399994,48.23,16.370001,0,97400.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3351,275.000000,48.23,16.370001,0,99000.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3352,276.000000,48.23,16.370001,0,99100.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00

2022-10-13 14:46:58,475 INFO Welcome to the CDS
2022-10-13 14:46:58,476 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:58,532 INFO Request is queued

variable - testing:  eastward_wind_speed

2022-10-13 14:46:59,561 INFO Request is completed
2022-10-13 14:46:59,562 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665218.9769788-16218-4-f6565898-c591-47e9-9630-6918bcdf879e.zip to download.zip (72.4K)
2022-10-13 14:46:59,635 INFO Download rate 1005.6K/s
2022-10-13 14:46:59,649 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,ua
0,48.23,16.370001,0,590.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,55.000000
1,48.23,16.370001,0,660.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,60.767876
2,48.23,16.370001,0,1000.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,39.000000
3,48.23,16.370001,0,1030.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,37.000000
4,48.23,16.370001,0,1230.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,41.840176
...,...,...,...,...,...,...,...,...
4921,48.23,16.370001,0,85000.000000,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,26.212866
4922,48.23,16.370001,0,88267.265625,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,29.001850
4923,48.23,16.370001,0,91584.601562,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,27.251085
4924,48.23,16.370001,0,95011.234375,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,22.552624
4925,48.23,16.370001,0,99720.539062,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,7.878462

2022-10-13 14:46:59,726 INFO Welcome to the CDS
2022-10-13 14:46:59,727 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:46:59,777 INFO Request is queued

variable - testing:  northward_wind_speed

2022-10-13 14:47:00,806 INFO Request is completed
2022-10-13 14:47:00,807 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665220.252321-22048-2-0e488dad-71ba-42d8-a284-430aa82edb45.zip to download.zip (72.5K)
2022-10-13 14:47:00,880 INFO Download rate 1003.7K/s
2022-10-13 14:47:00,892 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,va
0,48.23,16.370001,0,590.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,1.010000e-14
1,48.23,16.370001,0,660.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,-5.316500e+00
2,48.23,16.370001,0,1000.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,7.160000e-15
3,48.23,16.370001,0,1030.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,6.800000e-15
4,48.23,16.370001,0,1230.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,-3.660541e+00
...,...,...,...,...,...,...,...,...
4921,48.23,16.370001,0,85000.000000,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,-1.835445e+01
4922,48.23,16.370001,0,88267.265625,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,-1.352378e+01
4923,48.23,16.370001,0,91584.601562,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,-9.918584e+00
4924,48.23,16.370001,0,95011.234375,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,-8.208484e+00
4925,48.23,16.370001,0,99720.539062,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,-1.389185e+00

2022-10-13 14:47:00,969 INFO Welcome to the CDS
2022-10-13 14:47:00,970 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:01,023 INFO Request is queued

variable - testing:  relative_humidity

2022-10-13 14:47:02,052 INFO Request is completed
2022-10-13 14:47:02,053 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665221.4622662-2664-17-9faf70de-f952-4260-8422-8eea811cdb8c.zip to download.zip (59K)
2022-10-13 14:47:02,126 INFO Download rate 818.4K/s
2022-10-13 14:47:02,139 INFO Reading Profile on slice(None, None, None)

,hur,lat,lon,obs,plev,report_id,station_id,time
0,0.020402,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
1,0.029577,48.23,16.370001,0,2000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
2,0.030094,48.23,16.370001,0,3000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
3,0.020739,48.23,16.370001,0,5000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
4,0.020362,48.23,16.370001,0,7000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
3354,0.789951,48.23,16.370001,0,89200.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3355,0.738973,48.23,16.370001,0,92500.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3356,0.618026,48.23,16.370001,0,97400.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3357,0.503057,48.23,16.370001,0,99000.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3358,0.540203,48.23,16.370001,0,99100.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00

2022-10-13 14:47:02,211 INFO Welcome to the CDS
2022-10-13 14:47:02,212 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:02,265 INFO Request is queued

variable - testing:  specific_humidity

2022-10-13 14:47:03,294 INFO Request is completed
2022-10-13 14:47:03,296 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665222.8329015-22057-3-17d0de10-15a6-48e4-b4b7-aac5d5399875.zip to download.zip (60.5K)
2022-10-13 14:47:03,369 INFO Download rate 836.1K/s
2022-10-13 14:47:03,383 INFO Reading Profile on slice(None, None, None)

,hus,lat,lon,obs,plev,report_id,station_id,time
0,0.000009,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
1,0.000006,48.23,16.370001,0,2000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
2,0.000005,48.23,16.370001,0,3000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
3,0.000003,48.23,16.370001,0,5000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
4,0.000003,48.23,16.370001,0,7000.0,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
3345,0.004380,48.23,16.370001,0,89200.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3346,0.004673,48.23,16.370001,0,92500.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3347,0.004938,48.23,16.370001,0,97400.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3348,0.004396,48.23,16.370001,0,99000.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00
3349,0.004717,48.23,16.370001,0,99100.0,10000030758,WIEN/HOHE WARTE (11035-1),2000-01-31 12:00:00

2022-10-13 14:47:03,455 INFO Welcome to the CDS
2022-10-13 14:47:03,456 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:03,509 INFO Request is queued

variable - testing:  wind_from_direction

2022-10-13 14:47:04,647 INFO Request is completed
2022-10-13 14:47:04,649 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665223.9727185-22060-3-cb7e6cd6-f989-4e24-bdf1-a9722418f10b.zip to download.zip (66K)
2022-10-13 14:47:04,723 INFO Download rate 906.3K/s
2022-10-13 14:47:04,735 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,wind_from_direction
0,48.23,16.370001,0,590.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,270.0
1,48.23,16.370001,0,660.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,275.0
2,48.23,16.370001,0,1000.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,270.0
3,48.23,16.370001,0,1030.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,270.0
4,48.23,16.370001,0,1230.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,275.0
...,...,...,...,...,...,...,...,...
4921,48.23,16.370001,0,85000.000000,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,305.0
4922,48.23,16.370001,0,88267.265625,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,295.0
4923,48.23,16.370001,0,91584.601562,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,290.0
4924,48.23,16.370001,0,95011.234375,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,290.0
4925,48.23,16.370001,0,99720.539062,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,280.0

2022-10-13 14:47:04,817 INFO Welcome to the CDS
2022-10-13 14:47:04,818 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:04,871 INFO Request is queued

variable - testing:  wind_speed

2022-10-13 14:47:05,902 INFO Request is completed
2022-10-13 14:47:05,904 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665225.383154-30530-1-b8e5abc3-13ce-422f-be90-a1fd0d5d8677.zip to download.zip (66.9K)
2022-10-13 14:47:05,978 INFO Download rate 913.3K/s
2022-10-13 14:47:05,991 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,wind_speed
0,48.23,16.370001,0,590.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,55.0
1,48.23,16.370001,0,660.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,61.0
2,48.23,16.370001,0,1000.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,39.0
3,48.23,16.370001,0,1030.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,37.0
4,48.23,16.370001,0,1230.000000,10000030635,WIEN/HOHE WARTE (11035-1),2000-01-01 00:00:00,42.0
...,...,...,...,...,...,...,...,...
4921,48.23,16.370001,0,85000.000000,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,32.0
4922,48.23,16.370001,0,88267.265625,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,32.0
4923,48.23,16.370001,0,91584.601562,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,29.0
4924,48.23,16.370001,0,95011.234375,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,24.0
4925,48.23,16.370001,0,99720.539062,10000030759,WIEN/HOHE WARTE (11035-1),2000-01-31 18:00:00,8.0

2022-10-13 14:47:06,074 INFO Welcome to the CDS
2022-10-13 14:47:06,075 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:06,129 INFO Request is queued

variable - testing:  temperature

2022-10-13 14:47:07,159 INFO Request is completed
2022-10-13 14:47:07,160 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665226.609622-19195-4-3c207216-5ae4-4b27-8955-f7b314ff6fdd.zip to download.zip (58.3K)
2022-10-13 14:47:07,231 INFO Download rate 831.2K/s
2022-10-13 14:47:07,241 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
3921,48.23,16.370001,0,89200.0,10000030758,WIEN/HOHE WARTE (11035-1),276.799988,2000-01-31 12:00:00
3922,48.23,16.370001,0,92500.0,10000030758,WIEN/HOHE WARTE (11035-1),279.200012,2000-01-31 12:00:00
3923,48.23,16.370001,0,97400.0,10000030758,WIEN/HOHE WARTE (11035-1),283.399994,2000-01-31 12:00:00
3924,48.23,16.370001,0,99000.0,10000030758,WIEN/HOHE WARTE (11035-1),285.000000,2000-01-31 12:00:00
3925,48.23,16.370001,0,99100.0,10000030758,WIEN/HOHE WARTE (11035-1),285.000000,2000-01-31 12:00:00

2022-10-13 14:47:07,336 INFO Welcome to the CDS
2022-10-13 14:47:07,338 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:07,392 INFO Request is queued

variable - testing:  dew_point

2022-10-13 14:47:08,421 INFO Request is failed
2022-10-13 14:47:08,422 ERROR Message: an internal error occurred processing your request
2022-10-13 14:47:08,423 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:47:08,424 ERROR   Traceback (most recent call last):
2022-10-13 14:47:08,425 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:47:08,425 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:47:08,426 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:47:08,427 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:47:08,428 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:47:08,428 ERROR       return p(*args, **kwargs)
2022-10-13 14:47:08,429 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:47:08,429 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:47:08,430 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:47:08,430 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:47:08,431 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:47:08,432 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:47:08,455 INFO Welcome to the CDS
2022-10-13 14:47:08,455 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:08,510 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
variable - testing:  wind

2022-10-13 14:47:09,541 INFO Request is failed
2022-10-13 14:47:09,542 ERROR Message: an internal error occurred processing your request
2022-10-13 14:47:09,543 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:47:09,544 ERROR   Traceback (most recent call last):
2022-10-13 14:47:09,545 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:47:09,545 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:47:09,546 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:47:09,547 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:47:09,548 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:47:09,549 ERROR       return p(*args, **kwargs)
2022-10-13 14:47:09,549 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:47:09,550 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:47:09,551 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:47:09,551 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:47:09,552 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:47:09,553 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:47:09,580 INFO Welcome to the CDS
2022-10-13 14:47:09,582 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:09,637 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
variable - testing:  humidity

2022-10-13 14:47:10,665 INFO Request is failed
2022-10-13 14:47:10,667 ERROR Message: an internal error occurred processing your request
2022-10-13 14:47:10,667 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:47:10,668 ERROR   Traceback (most recent call last):
2022-10-13 14:47:10,669 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:47:10,670 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:47:10,671 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:47:10,671 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:47:10,672 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:47:10,673 ERROR       return p(*args, **kwargs)
2022-10-13 14:47:10,673 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:47:10,674 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:47:10,675 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:47:10,675 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:47:10,676 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:47:10,677 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:47:10,702 INFO Welcome to the CDS
2022-10-13 14:47:10,703 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:10,755 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
variable - testing:  sonde_type

2022-10-13 14:47:11,787 INFO Request is failed
2022-10-13 14:47:11,788 ERROR Message: an internal error occurred processing your request
2022-10-13 14:47:11,789 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:47:11,790 ERROR   Traceback (most recent call last):
2022-10-13 14:47:11,791 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:47:11,791 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:47:11,792 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:47:11,793 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:47:11,794 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:47:11,794 ERROR       return p(*args, **kwargs)
2022-10-13 14:47:11,795 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:47:11,796 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:47:11,797 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:47:11,798 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:47:11,798 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:47:11,799 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:47:11,826 INFO Welcome to the CDS
2022-10-13 14:47:11,827 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:11,892 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
variable - testing: finished
optional - testing:  sonde_type

2022-10-13 14:47:12,924 INFO Request is completed
2022-10-13 14:47:12,925 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665232.4618464-23658-1-9f12acd4-952f-492c-92a8-442df94f0036.zip to download.zip (36K)
2022-10-13 14:47:12,999 INFO Download rate 496K/s
2022-10-13 14:47:13,014 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,sonde_type,station_id,ta,time
0,48.25,16.370001,0,1020.0,10000032092,V9t,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,48.25,16.370001,0,1080.0,10000032092,V9t,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,48.25,16.370001,0,1240.0,10000032092,V9t,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,48.25,16.370001,0,1390.0,10000032092,V9t,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,48.25,16.370001,0,1500.0,10000032092,V9t,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,48.25,16.370001,0,85000.0,10000032098,V9t,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,48.25,16.370001,0,85200.0,10000032098,V9t,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,48.25,16.370001,0,92500.0,10000032098,V9t,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,48.25,16.370001,0,97400.0,10000032098,V9t,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,48.25,16.370001,0,99200.0,10000032098,V9t,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:13,087 INFO Welcome to the CDS
2022-10-13 14:47:13,088 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:13,145 INFO Request is queued

optional - testing:  bias_estimate

2022-10-13 14:47:14,176 INFO Request is completed
2022-10-13 14:47:14,178 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665233.5125465-2837-17-bbbf8690-42aa-4080-8e74-050d96199298.zip to download.zip (33.3K)
2022-10-13 14:47:14,230 INFO Download rate 656.4K/s
2022-10-13 14:47:14,242 INFO Reading Profile on slice(None, None, None)

,bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time
0,0.043947,48.25,16.370001,0,1020.0,10000032092,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,0.043947,48.25,16.370001,0,1080.0,10000032092,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,0.050758,48.25,16.370001,0,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,0.053748,48.25,16.370001,0,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,0.059094,48.25,16.370001,0,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,0.278239,48.25,16.370001,0,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,0.270507,48.25,16.370001,0,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,0.000000,48.25,16.370001,0,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,0.000000,48.25,16.370001,0,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,NaN,48.25,16.370001,0,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:14,314 INFO Welcome to the CDS
2022-10-13 14:47:14,315 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:14,370 INFO Request is queued

optional - testing:  obs_minus_an

2022-10-13 14:47:15,401 INFO Request is completed
2022-10-13 14:47:15,403 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665234.761601-2641-15-6c1b17af-3f56-45ca-84bd-0de0f711fb14.zip to download.zip (33.3K)
2022-10-13 14:47:15,455 INFO Download rate 655.3K/s
2022-10-13 14:47:15,469 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,obs_minus_an,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1.162598,1020.0,10000032092,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,48.25,16.370001,0,2.689869,1080.0,10000032092,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,48.25,16.370001,0,-0.296323,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,48.25,16.370001,0,2.352908,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,48.25,16.370001,0,-1.515003,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,48.25,16.370001,0,-0.213559,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,48.25,16.370001,0,-0.667617,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,48.25,16.370001,0,-0.073506,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,48.25,16.370001,0,-0.936399,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,48.25,16.370001,0,NaN,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:15,541 INFO Welcome to the CDS
2022-10-13 14:47:15,542 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:15,607 INFO Request is queued

optional - testing:  obs_minus_bg

2022-10-13 14:47:16,645 INFO Request is completed
2022-10-13 14:47:16,646 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665236.0041246-22042-4-0a4091d6-2778-4ddd-b648-9e20d463c915.zip to download.zip (33.3K)
2022-10-13 14:47:16,698 INFO Download rate 661.4K/s
2022-10-13 14:47:16,711 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,obs_minus_bg,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1.494776,1020.0,10000032092,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,48.25,16.370001,0,2.964746,1080.0,10000032092,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,48.25,16.370001,0,-0.189032,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,48.25,16.370001,0,2.219897,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,48.25,16.370001,0,-1.846134,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,48.25,16.370001,0,-0.413153,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,48.25,16.370001,0,-0.891199,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,48.25,16.370001,0,-0.422948,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,48.25,16.370001,0,-1.382434,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,48.25,16.370001,0,NaN,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:16,787 INFO Welcome to the CDS
2022-10-13 14:47:16,788 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:16,848 INFO Request is queued

optional - testing:  RISE_bias_estimate

2022-10-13 14:47:17,881 INFO Request is completed
2022-10-13 14:47:17,883 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665237.254898-22093-3-850b4ab9-c703-463d-9c9b-c0f877ee9efa.zip to download.zip (33.2K)
2022-10-13 14:47:17,934 INFO Download rate 655.8K/s
2022-10-13 14:47:17,948 INFO Reading Profile on slice(None, None, None)

,RISE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time
0,NaN,48.25,16.370001,0,1020.0,10000032092,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,NaN,48.25,16.370001,0,1080.0,10000032092,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,NaN,48.25,16.370001,0,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,NaN,48.25,16.370001,0,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,NaN,48.25,16.370001,0,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,-1.343117,48.25,16.370001,0,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,NaN,48.25,16.370001,0,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,-0.012975,48.25,16.370001,0,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,NaN,48.25,16.370001,0,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,NaN,48.25,16.370001,0,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:18,023 INFO Welcome to the CDS
2022-10-13 14:47:18,024 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:18,080 INFO Request is queued

optional - testing:  RICH_bias_estimate

2022-10-13 14:47:19,112 INFO Request is completed
2022-10-13 14:47:19,114 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665238.477737-16218-5-99f325bb-4e22-4db4-bb0b-4ab9a68c159e.zip to download.zip (33.2K)
2022-10-13 14:47:19,170 INFO Download rate 598.2K/s
2022-10-13 14:47:19,184 INFO Reading Profile on slice(None, None, None)

,RICH_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time
0,NaN,48.25,16.370001,0,1020.0,10000032092,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,NaN,48.25,16.370001,0,1080.0,10000032092,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,NaN,48.25,16.370001,0,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,NaN,48.25,16.370001,0,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,NaN,48.25,16.370001,0,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,-1.343117,48.25,16.370001,0,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,NaN,48.25,16.370001,0,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,-0.012975,48.25,16.370001,0,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,NaN,48.25,16.370001,0,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,NaN,48.25,16.370001,0,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:19,260 INFO Welcome to the CDS
2022-10-13 14:47:19,261 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:19,318 INFO Request is queued

optional - testing:  RASE_bias_estimate

2022-10-13 14:47:20,350 INFO Request is completed
2022-10-13 14:47:20,352 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665239.737009-22048-3-2b158214-02e4-43e1-a5c1-9fd7c6e886b0.zip to download.zip (33.2K)
2022-10-13 14:47:20,406 INFO Download rate 632.4K/s
2022-10-13 14:47:20,419 INFO Reading Profile on slice(None, None, None)

,RASE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time
0,NaN,48.25,16.370001,0,1020.0,10000032092,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,NaN,48.25,16.370001,0,1080.0,10000032092,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,NaN,48.25,16.370001,0,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,NaN,48.25,16.370001,0,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,NaN,48.25,16.370001,0,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,-0.0196,48.25,16.370001,0,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,NaN,48.25,16.370001,0,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,-0.0000,48.25,16.370001,0,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,NaN,48.25,16.370001,0,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,NaN,48.25,16.370001,0,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:20,494 INFO Welcome to the CDS
2022-10-13 14:47:20,495 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:20,550 INFO Request is queued

optional - testing:  RAOBCORE_bias_estimate

2022-10-13 14:47:21,578 INFO Request is completed
2022-10-13 14:47:21,579 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665240.9650304-2664-18-f6364838-7a72-4cfd-bf4e-7e0d40703873.zip to download.zip (33.2K)
2022-10-13 14:47:21,630 INFO Download rate 666.5K/s
2022-10-13 14:47:21,639 INFO Reading Profile on slice(None, None, None)

,RAOBCORE_bias_estimate,lat,lon,obs,plev,report_id,station_id,ta,time
0,NaN,48.25,16.370001,0,1020.0,10000032092,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,NaN,48.25,16.370001,0,1080.0,10000032092,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,NaN,48.25,16.370001,0,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,NaN,48.25,16.370001,0,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,NaN,48.25,16.370001,0,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,-0.0196,48.25,16.370001,0,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,NaN,48.25,16.370001,0,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,-0.0000,48.25,16.370001,0,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,NaN,48.25,16.370001,0,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,NaN,48.25,16.370001,0,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:21,716 INFO Welcome to the CDS
2022-10-13 14:47:21,717 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:21,775 INFO Request is queued

optional - testing:  desroziers_30

2022-10-13 14:47:22,807 INFO Request is completed
2022-10-13 14:47:22,809 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665242.1865304-22057-4-d6829efc-e70f-4730-9f8f-b2b45ec0062f.zip to download.zip (33.3K)
2022-10-13 14:47:22,861 INFO Download rate 652.4K/s
2022-10-13 14:47:22,875 INFO Reading Profile on slice(None, None, None)

,desroziers_30,lat,lon,obs,plev,report_id,station_id,ta,time
0,NaN,48.25,16.370001,0,1020.0,10000032092,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,NaN,48.25,16.370001,0,1080.0,10000032092,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,NaN,48.25,16.370001,0,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,NaN,48.25,16.370001,0,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,NaN,48.25,16.370001,0,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,0.536994,48.25,16.370001,0,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,NaN,48.25,16.370001,0,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,0.610926,48.25,16.370001,0,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,NaN,48.25,16.370001,0,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,NaN,48.25,16.370001,0,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:22,948 INFO Welcome to the CDS
2022-10-13 14:47:22,948 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:23,014 INFO Request is queued

optional - testing:  desroziers_60

2022-10-13 14:47:24,045 INFO Request is completed
2022-10-13 14:47:24,047 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665243.3887029-22060-4-392eacd9-46e6-4a5d-9991-747fd7dc7296.zip to download.zip (33.3K)
2022-10-13 14:47:24,098 INFO Download rate 657.4K/s
2022-10-13 14:47:24,112 INFO Reading Profile on slice(None, None, None)

,desroziers_60,lat,lon,obs,plev,report_id,station_id,ta,time
0,NaN,48.25,16.370001,0,1020.0,10000032092,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,NaN,48.25,16.370001,0,1080.0,10000032092,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,NaN,48.25,16.370001,0,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,NaN,48.25,16.370001,0,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,NaN,48.25,16.370001,0,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,0.560690,48.25,16.370001,0,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,NaN,48.25,16.370001,0,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,0.761445,48.25,16.370001,0,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,NaN,48.25,16.370001,0,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,NaN,48.25,16.370001,0,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:24,184 INFO Welcome to the CDS
2022-10-13 14:47:24,185 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:24,242 INFO Request is queued

optional - testing:  desroziers_90

2022-10-13 14:47:25,271 INFO Request is completed
2022-10-13 14:47:25,273 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665244.8492227-30530-2-bd22d80e-f2e5-4e37-b5e2-951cdc722f9a.zip to download.zip (33.3K)
2022-10-13 14:47:25,324 INFO Download rate 662.5K/s
2022-10-13 14:47:25,335 INFO Reading Profile on slice(None, None, None)

,desroziers_90,lat,lon,obs,plev,report_id,station_id,ta,time
0,NaN,48.25,16.370001,0,1020.0,10000032092,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,NaN,48.25,16.370001,0,1080.0,10000032092,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,NaN,48.25,16.370001,0,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,NaN,48.25,16.370001,0,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,NaN,48.25,16.370001,0,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,0.580349,48.25,16.370001,0,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,NaN,48.25,16.370001,0,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,0.691327,48.25,16.370001,0,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,NaN,48.25,16.370001,0,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,NaN,48.25,16.370001,0,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:25,416 INFO Welcome to the CDS
2022-10-13 14:47:25,417 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:25,474 INFO Request is queued

optional - testing:  desroziers_180

2022-10-13 14:47:26,507 INFO Request is completed
2022-10-13 14:47:26,509 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665246.0294697-19195-5-0580129a-3bc6-4c41-97d5-9dd59e307106.zip to download.zip (33.3K)
2022-10-13 14:47:26,561 INFO Download rate 649.5K/s
2022-10-13 14:47:26,578 INFO Reading Profile on slice(None, None, None)

,desroziers_180,lat,lon,obs,plev,report_id,station_id,ta,time
0,NaN,48.25,16.370001,0,1020.0,10000032092,WIEN/HOHE WARTE (11035-1),216.500000,2000-12-30 00:00:00
1,NaN,48.25,16.370001,0,1080.0,10000032092,WIEN/HOHE WARTE (11035-1),217.899994,2000-12-30 00:00:00
2,NaN,48.25,16.370001,0,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),213.899994,2000-12-30 00:00:00
3,NaN,48.25,16.370001,0,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),214.500000,2000-12-30 00:00:00
4,NaN,48.25,16.370001,0,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),208.699997,2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
247,0.547618,48.25,16.370001,0,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),265.100006,2000-12-31 12:00:00
248,NaN,48.25,16.370001,0,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),264.700012,2000-12-31 12:00:00
249,0.606015,48.25,16.370001,0,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),270.500000,2000-12-31 12:00:00
250,NaN,48.25,16.370001,0,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),273.600006,2000-12-31 12:00:00
251,NaN,48.25,16.370001,0,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),276.000000,2000-12-31 12:00:00

2022-10-13 14:47:26,652 INFO Welcome to the CDS
2022-10-13 14:47:26,653 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:26,712 INFO Request is queued

optional - testing:  wind_bias_estimate

2022-10-13 14:47:27,742 INFO Request is completed
2022-10-13 14:47:27,744 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665247.1163955-22066-3-de0f7012-088b-426c-bd1b-9dcb935c9c82.zip to download.zip (37.2K)
2022-10-13 14:47:27,799 INFO Download rate 694.3K/s
2022-10-13 14:47:27,811 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,time,ua,wind_bias_estimate
0,48.25,16.370001,0,1020.000000,10000032092,WIEN/HOHE WARTE (11035-1),2000-12-30 00:00:00,26.589809,-6.251042e-08
1,48.25,16.370001,0,1440.000000,10000032092,WIEN/HOHE WARTE (11035-1),2000-12-30 00:00:00,31.878231,7.475208e-08
2,48.25,16.370001,0,1970.000000,10000032092,WIEN/HOHE WARTE (11035-1),2000-12-30 00:00:00,17.931505,-6.556159e-08
3,48.25,16.370001,0,2000.000000,10000032092,WIEN/HOHE WARTE (11035-1),2000-12-30 00:00:00,17.931505,-6.556159e-08
4,48.25,16.370001,0,2140.000000,10000032092,WIEN/HOHE WARTE (11035-1),2000-12-30 00:00:00,17.931505,-6.556159e-08
...,...,...,...,...,...,...,...,...,...
448,48.25,16.370001,0,85000.000000,10000032099,WIEN/HOHE WARTE (11035-1),2000-12-31 18:00:00,8.485281,-2.907116e-07
449,48.25,16.370001,0,87607.164062,10000032099,WIEN/HOHE WARTE (11035-1),2000-12-31 18:00:00,9.958578,8.108912e-08
450,48.25,16.370001,0,91015.679688,10000032099,WIEN/HOHE WARTE (11035-1),2000-12-31 18:00:00,10.392304,-8.881784e-16
451,48.25,16.370001,0,94531.953125,10000032099,WIEN/HOHE WARTE (11035-1),2000-12-31 18:00:00,10.832886,-1.125060e-07
452,48.25,16.370001,0,99378.023438,10000032099,WIEN/HOHE WARTE (11035-1),2000-12-31 18:00:00,2.954423,-2.828161e-08

2022-10-13 14:47:27,886 INFO Welcome to the CDS
2022-10-13 14:47:27,887 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:27,947 INFO Request is queued

optional - testing:  humidity_bias_estimate

2022-10-13 14:47:28,977 INFO Request is completed
2022-10-13 14:47:28,979 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665248.5702214-30539-1-d9e09dec-46d5-465b-8b65-0ccee1bd2b66.zip to download.zip (33.2K)
2022-10-13 14:47:29,029 INFO Download rate 676.1K/s
2022-10-13 14:47:29,044 INFO Reading Profile on slice(None, None, None)

,humidity_bias_estimate,hur,lat,lon,obs,plev,report_id,station_id,time
0,NaN,0.020744,48.25,16.370001,0,1240.0,10000032092,WIEN/HOHE WARTE (11035-1),2000-12-30 00:00:00
1,NaN,0.017923,48.25,16.370001,0,1390.0,10000032092,WIEN/HOHE WARTE (11035-1),2000-12-30 00:00:00
2,NaN,0.019398,48.25,16.370001,0,1500.0,10000032092,WIEN/HOHE WARTE (11035-1),2000-12-30 00:00:00
3,NaN,0.021000,48.25,16.370001,0,1660.0,10000032092,WIEN/HOHE WARTE (11035-1),2000-12-30 00:00:00
4,NaN,0.017814,48.25,16.370001,0,1910.0,10000032092,WIEN/HOHE WARTE (11035-1),2000-12-30 00:00:00
...,...,...,...,...,...,...,...,...,...
215,-0.033568,0.868462,48.25,16.370001,0,85000.0,10000032098,WIEN/HOHE WARTE (11035-1),2000-12-31 12:00:00
216,NaN,0.910191,48.25,16.370001,0,85200.0,10000032098,WIEN/HOHE WARTE (11035-1),2000-12-31 12:00:00
217,-0.027369,0.750686,48.25,16.370001,0,92500.0,10000032098,WIEN/HOHE WARTE (11035-1),2000-12-31 12:00:00
218,NaN,0.723015,48.25,16.370001,0,97400.0,10000032098,WIEN/HOHE WARTE (11035-1),2000-12-31 12:00:00
219,NaN,0.701327,48.25,16.370001,0,99200.0,10000032098,WIEN/HOHE WARTE (11035-1),2000-12-31 12:00:00

2022-10-13 14:47:29,117 INFO Welcome to the CDS
2022-10-13 14:47:29,119 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:29,175 INFO Request is queued

optional - testing: finished
area - testing:  [80, 140, -40, 359]

2022-10-13 14:47:30,207 INFO Request is running
2022-10-13 14:47:50,153 INFO Request is completed
2022-10-13 14:47:50,155 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665267.0706272-2635-16-0742b7d3-6f5c-4d17-a4a7-ffe8488fd059.zip to download.zip (13.2M)
2022-10-13 14:47:50,703 INFO Download rate 24.1M/s
2022-10-13 14:47:50,830 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,38.77,-9.13,0,10000.0,20000016680,LISBOA/GAGO COUTINHO,210.699997,1978-10-01 00:00:00
1,38.77,-9.13,0,14100.0,20000016680,LISBOA/GAGO COUTINHO,203.300003,1978-10-01 00:00:00
2,38.77,-9.13,0,16600.0,20000016680,LISBOA/GAGO COUTINHO,209.699997,1978-10-01 00:00:00
3,38.77,-9.13,0,18800.0,20000016680,LISBOA/GAGO COUTINHO,208.100006,1978-10-01 00:00:00
4,38.77,-9.13,0,23400.0,20000016680,LISBOA/GAGO COUTINHO,218.100006,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
1203,38.77,-9.13,0,90000.0,20000016791,LISBOA/GAGO COUTINHO,284.799988,1978-10-31 12:00:00
1204,38.77,-9.13,0,94600.0,20000016791,LISBOA/GAGO COUTINHO,283.399994,1978-10-31 12:00:00
1205,38.77,-9.13,0,99700.0,20000016791,LISBOA/GAGO COUTINHO,285.799988,1978-10-31 12:00:00
1206,38.77,-9.13,0,100000.0,20000016791,LISBOA/GAGO COUTINHO,286.399994,1978-10-31 12:00:00
1207,38.77,-9.13,0,101400.0,20000016791,LISBOA/GAGO COUTINHO,289.000000,1978-10-31 12:00:00

2022-10-13 14:47:50,910 INFO Welcome to the CDS
2022-10-13 14:47:50,911 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:50,972 INFO Request is queued

area - testing:  [49, 16, 48, 17]

2022-10-13 14:47:52,003 INFO Request is completed
2022-10-13 14:47:52,004 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665271.4287958-2836-15-bcb4468f-2706-481f-bf70-ffb643ce9b32.zip to download.zip (44.2K)
2022-10-13 14:47:52,056 INFO Download rate 869.5K/s
2022-10-13 14:47:52,070 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,1800.0,20000028816,WIEN/HOHE WARTE (11035-1),218.899994,1978-10-01 00:00:00
1,48.25,16.370001,0,2000.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
2,48.25,16.370001,0,3000.0,20000028816,WIEN/HOHE WARTE (11035-1),216.899994,1978-10-01 00:00:00
3,48.25,16.370001,0,3200.0,20000028816,WIEN/HOHE WARTE (11035-1),216.699997,1978-10-01 00:00:00
4,48.25,16.370001,0,3700.0,20000028816,WIEN/HOHE WARTE (11035-1),218.500000,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
2154,48.25,16.370001,0,50000.0,20000029118,WIEN/HOHE WARTE (11035-1),254.750000,1978-10-31 12:00:00
2155,48.25,16.370001,0,70000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.549988,1978-10-31 12:00:00
2156,48.25,16.370001,0,85000.0,20000029118,WIEN/HOHE WARTE (11035-1),274.649994,1978-10-31 12:00:00
2157,48.25,16.370001,0,92500.0,20000029118,WIEN/HOHE WARTE (11035-1),280.149994,1978-10-31 12:00:00
2158,48.25,16.370001,0,100000.0,20000029118,WIEN/HOHE WARTE (11035-1),285.350006,1978-10-31 12:00:00

2022-10-13 14:47:52,146 INFO Welcome to the CDS
2022-10-13 14:47:52,147 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:52,202 INFO Request is queued

area - testing:  [49, -180, 48, 180]

2022-10-13 14:47:53,231 INFO Request is running
2022-10-13 14:47:57,046 INFO Request is completed
2022-10-13 14:47:57,048 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665275.2361176-23658-2-c4fa8bc2-49b6-4670-9397-50a0d97b891c.zip to download.zip (608.2K)
2022-10-13 14:47:57,192 INFO Download rate 4.1M/s
2022-10-13 14:47:57,216 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.450001,-4.42,0,9600.0,20000025058,BREST-GUIPAVAS,217.899994,1978-09-30 12:00:00
1,48.450001,-4.42,0,10000.0,20000025058,BREST-GUIPAVAS,219.500000,1978-09-30 12:00:00
2,48.450001,-4.42,0,11100.0,20000025058,BREST-GUIPAVAS,221.699997,1978-09-30 12:00:00
3,48.450001,-4.42,0,13600.0,20000025058,BREST-GUIPAVAS,217.300003,1978-09-30 12:00:00
4,48.450001,-4.42,0,15000.0,20000025058,BREST-GUIPAVAS,218.899994,1978-09-30 12:00:00
5,48.450001,-4.42,0,17500.0,20000025058,BREST-GUIPAVAS,220.500000,1978-09-30 12:00:00
6,48.450001,-4.42,0,20000.0,20000025058,BREST-GUIPAVAS,222.100006,1978-09-30 12:00:00
7,48.450001,-4.42,0,25000.0,20000025058,BREST-GUIPAVAS,224.899994,1978-09-30 12:00:00
8,48.450001,-4.42,0,30000.0,20000025058,BREST-GUIPAVAS,227.100006,1978-09-30 12:00:00
9,48.450001,-4.42,0,34200.0,20000025058,BREST-GUIPAVAS,233.300003,1978-09-30 12:00:00
10,48.450001,-4.42,0,40000.0,20000025058,BREST-GUIPAVAS,238.300003,1978-09-30 12:00:00
11,48.450001,-4.42,0,41200.0,20000025058,BREST-GUIPAVAS,239.300003,1978-09-30 12:00:00
12,48.450001,-4.42,0,50000.0,20000025058,BREST-GUIPAVAS,249.899994,1978-09-30 12:00:00
13,48.450001,-4.42,0,60000.0,20000025058,BREST-GUIPAVAS,256.500000,1978-09-30 12:00:00
14,48.450001,-4.42,0,66000.0,20000025058,BREST-GUIPAVAS,260.899994,1978-09-30 12:00:00
15,48.450001,-4.42,0,70000.0,20000025058,BREST-GUIPAVAS,263.700012,1978-09-30 12:00:00
16,48.450001,-4.42,0,75000.0,20000025058,BREST-GUIPAVAS,267.299988,1978-09-30 12:00:00
17,48.450001,-4.42,0,79000.0,20000025058,BREST-GUIPAVAS,269.700012,1978-09-30 12:00:00
18,48.450001,-4.42,0,85000.0,20000025058,BREST-GUIPAVAS,273.200012,1978-09-30 12:00:00
19,48.450001,-4.42,0,87000.0,20000025058,BREST-GUIPAVAS,274.200012,1978-09-30 12:00:00
20,48.450001,-4.42,0,100000.0,20000025058,BREST-GUIPAVAS,285.600006,1978-09-30 12:00:00
21,48.450001,-4.42,0,4400.0,20000025086,BREST-GUIPAVAS,220.100006,1978-10-07 12:00:00
22,48.450001,-4.42,0,5000.0,20000025086,BREST-GUIPAVAS,216.300003,1978-10-07 12:00:00
23,48.450001,-4.42,0,5200.0,20000025086,BREST-GUIPAVAS,215.199997,1978-10-07 12:00:00
24,48.450001,-4.42,0,6400.0,20000025086,BREST-GUIPAVAS,216.800003,1978-10-07 12:00:00
25,48.450001,-4.42,0,7000.0,20000025086,BREST-GUIPAVAS,216.199997,1978-10-07 12:00:00
26,48.450001,-4.42,0,10000.0,20000025086,BREST-GUIPAVAS,213.600006,1978-10-07 12:00:00
27,48.450001,-4.42,0,12000.0,20000025086,BREST-GUIPAVAS,214.699997,1978-10-07 12:00:00
28,48.450001,-4.42,0,13400.0,20000025086,BREST-GUIPAVAS,209.500000,1978-10-07 12:00:00
29,48.450001,-4.42,0,15000.0,20000025086,BREST-GUIPAVAS,210.199997,1978-10-07 12:00:00
30,48.450001,-4.42,0,18900.0,20000025086,BREST-GUIPAVAS,211.600006,1978-10-07 12:00:00
31,48.450001,-4.42,0,20000.0,20000025086,BREST-GUIPAVAS,213.899994,1978-10-07 12:00:00
32,48.450001,-4.42,0,25000.0,20000025086,BREST-GUIPAVAS,223.199997,1978-10-07 12:00:00
33,48.450001,-4.42,0,30000.0,20000025086,BREST-GUIPAVAS,230.800003,1978-10-07 12:00:00
34,48.450001,-4.42,0,40000.0,20000025086,BREST-GUIPAVAS,247.199997,1978-10-07 12:00:00
35,48.450001,-4.42,0,47400.0,20000025086,BREST-GUIPAVAS,257.500000,1978-10-07 12:00:00
36,48.450001,-4.42,0,49200.0,20000025086,BREST-GUIPAVAS,257.700012,1978-10-07 12:00:00
37,48.450001,-4.42,0,50000.0,20000025086,BREST-GUIPAVAS,258.899994,1978-10-07 12:00:00
38,48.450001,-4.42,0,52900.0,20000025086,BREST-GUIPAVAS,263.200012,1978-10-07 12:00:00
39,48.450001,-4.42,0,60000.0,20000025086,BREST-GUIPAVAS,268.700012,1978-10-07 12:00:00
40,48.450001,-4.42,0,65200.0,20000025086,BREST-GUIPAVAS,272.299988,1978-10-07 12:00:00
41,48.450001,-4.42,0,66200.0,20000025086,BREST-GUIPAVAS,273.200012,1978-10-07 12:00:00
42,48.450001,-4.42,0,70000.0,20000025086,BREST-GUIPAVAS,276.299988,1978-10-07 12:00:00
43,48.450001,-4.42,0,80000.0,20000025086,BREST-GUIPAVAS,283.700012,1978-10-07 12:00:00
44,48.450001,-4.42,0,85000.0,20000025086,BREST-GUIPAVAS,287.100006,1978-10-07 12:00:00
45,48.450001,-4.42,0,87500.0,20000025086,BREST-GUIPAVAS,288.799988,1978-10-07 12:00:00
46,48.450001,-4.42,0,90000.0,20000025086,BREST-GUIPAVAS,289.700012,1978-10-07 12:00:00
47,48.450001,-4.42,0,92000.0,20000025086,BREST-GUIPAVAS,290.399994,1978-10-07 12:00:00
48,48.450001,-4.42,0,95000.0,20000025086,BREST-GUIPAVAS,288.100006,1978-10-07 12:00:00
49,48.450001,-4.42,0,96000.0,20000025086,BREST-GUIPAVAS,287.399994,1978-10-07 12:00:00
50,48.450001,-4.42,0,100000.0,20000025086,BREST-GUIPAVAS,291.100006,1978-10-07 12:00:00

2022-10-13 14:47:57,301 INFO Welcome to the CDS
2022-10-13 14:47:57,302 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:47:57,359 INFO Request is queued

area - testing:  [49, 0, 48, 360]

2022-10-13 14:47:58,391 INFO Request is running
2022-10-13 14:48:02,295 INFO Request is completed
2022-10-13 14:48:02,297 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665280.5080135-2837-18-19bfe5ff-f82a-40b6-977a-4ab425d14a80.zip to download.zip (608.2K)
2022-10-13 14:48:02,440 INFO Download rate 4.2M/s
2022-10-13 14:48:02,456 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.450001,-4.42,0,9600.0,20000025058,BREST-GUIPAVAS,217.899994,1978-09-30 12:00:00
1,48.450001,-4.42,0,10000.0,20000025058,BREST-GUIPAVAS,219.500000,1978-09-30 12:00:00
2,48.450001,-4.42,0,11100.0,20000025058,BREST-GUIPAVAS,221.699997,1978-09-30 12:00:00
3,48.450001,-4.42,0,13600.0,20000025058,BREST-GUIPAVAS,217.300003,1978-09-30 12:00:00
4,48.450001,-4.42,0,15000.0,20000025058,BREST-GUIPAVAS,218.899994,1978-09-30 12:00:00
5,48.450001,-4.42,0,17500.0,20000025058,BREST-GUIPAVAS,220.500000,1978-09-30 12:00:00
6,48.450001,-4.42,0,20000.0,20000025058,BREST-GUIPAVAS,222.100006,1978-09-30 12:00:00
7,48.450001,-4.42,0,25000.0,20000025058,BREST-GUIPAVAS,224.899994,1978-09-30 12:00:00
8,48.450001,-4.42,0,30000.0,20000025058,BREST-GUIPAVAS,227.100006,1978-09-30 12:00:00
9,48.450001,-4.42,0,34200.0,20000025058,BREST-GUIPAVAS,233.300003,1978-09-30 12:00:00
10,48.450001,-4.42,0,40000.0,20000025058,BREST-GUIPAVAS,238.300003,1978-09-30 12:00:00
11,48.450001,-4.42,0,41200.0,20000025058,BREST-GUIPAVAS,239.300003,1978-09-30 12:00:00
12,48.450001,-4.42,0,50000.0,20000025058,BREST-GUIPAVAS,249.899994,1978-09-30 12:00:00
13,48.450001,-4.42,0,60000.0,20000025058,BREST-GUIPAVAS,256.500000,1978-09-30 12:00:00
14,48.450001,-4.42,0,66000.0,20000025058,BREST-GUIPAVAS,260.899994,1978-09-30 12:00:00
15,48.450001,-4.42,0,70000.0,20000025058,BREST-GUIPAVAS,263.700012,1978-09-30 12:00:00
16,48.450001,-4.42,0,75000.0,20000025058,BREST-GUIPAVAS,267.299988,1978-09-30 12:00:00
17,48.450001,-4.42,0,79000.0,20000025058,BREST-GUIPAVAS,269.700012,1978-09-30 12:00:00
18,48.450001,-4.42,0,85000.0,20000025058,BREST-GUIPAVAS,273.200012,1978-09-30 12:00:00
19,48.450001,-4.42,0,87000.0,20000025058,BREST-GUIPAVAS,274.200012,1978-09-30 12:00:00
20,48.450001,-4.42,0,100000.0,20000025058,BREST-GUIPAVAS,285.600006,1978-09-30 12:00:00
21,48.450001,-4.42,0,4400.0,20000025086,BREST-GUIPAVAS,220.100006,1978-10-07 12:00:00
22,48.450001,-4.42,0,5000.0,20000025086,BREST-GUIPAVAS,216.300003,1978-10-07 12:00:00
23,48.450001,-4.42,0,5200.0,20000025086,BREST-GUIPAVAS,215.199997,1978-10-07 12:00:00
24,48.450001,-4.42,0,6400.0,20000025086,BREST-GUIPAVAS,216.800003,1978-10-07 12:00:00
25,48.450001,-4.42,0,7000.0,20000025086,BREST-GUIPAVAS,216.199997,1978-10-07 12:00:00
26,48.450001,-4.42,0,10000.0,20000025086,BREST-GUIPAVAS,213.600006,1978-10-07 12:00:00
27,48.450001,-4.42,0,12000.0,20000025086,BREST-GUIPAVAS,214.699997,1978-10-07 12:00:00
28,48.450001,-4.42,0,13400.0,20000025086,BREST-GUIPAVAS,209.500000,1978-10-07 12:00:00
29,48.450001,-4.42,0,15000.0,20000025086,BREST-GUIPAVAS,210.199997,1978-10-07 12:00:00
30,48.450001,-4.42,0,18900.0,20000025086,BREST-GUIPAVAS,211.600006,1978-10-07 12:00:00
31,48.450001,-4.42,0,20000.0,20000025086,BREST-GUIPAVAS,213.899994,1978-10-07 12:00:00
32,48.450001,-4.42,0,25000.0,20000025086,BREST-GUIPAVAS,223.199997,1978-10-07 12:00:00
33,48.450001,-4.42,0,30000.0,20000025086,BREST-GUIPAVAS,230.800003,1978-10-07 12:00:00
34,48.450001,-4.42,0,40000.0,20000025086,BREST-GUIPAVAS,247.199997,1978-10-07 12:00:00
35,48.450001,-4.42,0,47400.0,20000025086,BREST-GUIPAVAS,257.500000,1978-10-07 12:00:00
36,48.450001,-4.42,0,49200.0,20000025086,BREST-GUIPAVAS,257.700012,1978-10-07 12:00:00
37,48.450001,-4.42,0,50000.0,20000025086,BREST-GUIPAVAS,258.899994,1978-10-07 12:00:00
38,48.450001,-4.42,0,52900.0,20000025086,BREST-GUIPAVAS,263.200012,1978-10-07 12:00:00
39,48.450001,-4.42,0,60000.0,20000025086,BREST-GUIPAVAS,268.700012,1978-10-07 12:00:00
40,48.450001,-4.42,0,65200.0,20000025086,BREST-GUIPAVAS,272.299988,1978-10-07 12:00:00
41,48.450001,-4.42,0,66200.0,20000025086,BREST-GUIPAVAS,273.200012,1978-10-07 12:00:00
42,48.450001,-4.42,0,70000.0,20000025086,BREST-GUIPAVAS,276.299988,1978-10-07 12:00:00
43,48.450001,-4.42,0,80000.0,20000025086,BREST-GUIPAVAS,283.700012,1978-10-07 12:00:00
44,48.450001,-4.42,0,85000.0,20000025086,BREST-GUIPAVAS,287.100006,1978-10-07 12:00:00
45,48.450001,-4.42,0,87500.0,20000025086,BREST-GUIPAVAS,288.799988,1978-10-07 12:00:00
46,48.450001,-4.42,0,90000.0,20000025086,BREST-GUIPAVAS,289.700012,1978-10-07 12:00:00
47,48.450001,-4.42,0,92000.0,20000025086,BREST-GUIPAVAS,290.399994,1978-10-07 12:00:00
48,48.450001,-4.42,0,95000.0,20000025086,BREST-GUIPAVAS,288.100006,1978-10-07 12:00:00
49,48.450001,-4.42,0,96000.0,20000025086,BREST-GUIPAVAS,287.399994,1978-10-07 12:00:00
50,48.450001,-4.42,0,100000.0,20000025086,BREST-GUIPAVAS,291.100006,1978-10-07 12:00:00

2022-10-13 14:48:02,540 INFO Welcome to the CDS
2022-10-13 14:48:02,541 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:48:02,605 INFO Request is queued

area - testing:  [90, -180, -90, 180]

2022-10-13 14:48:03,639 INFO Request is running
2022-10-13 14:48:52,140 INFO Request is completed
2022-10-13 14:48:52,142 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665327.9625468-22042-5-51c42464-8360-4eee-bfbc-98dac12b1213.zip to download.zip (34M)
2022-10-13 14:48:53,340 INFO Download rate 28.4M/s
2022-10-13 14:48:53,576 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,50.220001,-5.32,0,2970.0,60000022123,CAMBORNE,217.850006,1978-09-30 14:00:00
1,50.220001,-5.32,0,3000.0,60000022123,CAMBORNE,217.649994,1978-09-30 14:00:00
2,50.220001,-5.32,0,3980.0,60000022123,CAMBORNE,215.050003,1978-09-30 14:00:00
3,50.220001,-5.32,0,5000.0,60000022123,CAMBORNE,215.250000,1978-09-30 14:00:00
4,50.220001,-5.32,0,6550.0,60000022123,CAMBORNE,215.449997,1978-09-30 14:00:00
...,...,...,...,...,...,...,...,...
1712,50.220001,-5.32,0,81100.0,20000027688,CAMBORNE,277.200012,1978-10-31 12:00:00
1713,50.220001,-5.32,0,85000.0,20000027688,CAMBORNE,277.200012,1978-10-31 12:00:00
1714,50.220001,-5.32,0,86600.0,20000027688,CAMBORNE,277.799988,1978-10-31 12:00:00
1715,50.220001,-5.32,0,100000.0,20000027688,CAMBORNE,286.200012,1978-10-31 12:00:00
1716,50.220001,-5.32,0,100600.0,20000027688,CAMBORNE,286.600006,1978-10-31 12:00:00

2022-10-13 14:48:53,678 INFO Welcome to the CDS
2022-10-13 14:48:53,679 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:48:53,749 INFO Request is queued

area - testing:  [80, 140, 70]

2022-10-13 14:48:54,784 INFO Request is failed
2022-10-13 14:48:54,786 ERROR Message: an internal error occurred processing your request
2022-10-13 14:48:54,787 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:48:54,787 ERROR   Traceback (most recent call last):
2022-10-13 14:48:54,788 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:48:54,789 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:48:54,790 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:48:54,791 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:48:54,792 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:48:54,792 ERROR       return p(*args, **kwargs)
2022-10-13 14:48:54,793 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:48:54,794 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:48:54,795 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:48:54,795 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:48:54,796 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:48:54,797 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:48:54,826 INFO Welcome to the CDS
2022-10-13 14:48:54,827 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:48:54,891 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
area - testing:  [80, 140, 70, 150, 0]

2022-10-13 14:48:55,925 INFO Request is completed
2022-10-13 14:48:55,927 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665335.641221-16218-6-0ba304f2-180a-4376-a445-d323a205685b.zip to download.zip (88.7K)
2022-10-13 14:48:56,001 INFO Download rate 1.2M/s
2022-10-13 14:48:56,015 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,70.62001,147.880005,0,660.0,20000018461,CHOKURDAH,228.300003,1978-10-01 00:00:00
1,70.62001,147.880005,0,840.0,20000018461,CHOKURDAH,227.699997,1978-10-01 00:00:00
2,70.62001,147.880005,0,1000.0,20000018461,CHOKURDAH,225.100006,1978-10-01 00:00:00
3,70.62001,147.880005,0,1220.0,20000018461,CHOKURDAH,221.100006,1978-10-01 00:00:00
4,70.62001,147.880005,0,2000.0,20000018461,CHOKURDAH,219.500000,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
1726,70.62001,147.880005,0,75800.0,20000018552,CHOKURDAH,253.899994,1978-10-31 12:00:00
1727,70.62001,147.880005,0,79100.0,20000018552,CHOKURDAH,255.899994,1978-10-31 12:00:00
1728,70.62001,147.880005,0,85000.0,20000018552,CHOKURDAH,255.899994,1978-10-31 12:00:00
1729,70.62001,147.880005,0,97500.0,20000018552,CHOKURDAH,255.899994,1978-10-31 12:00:00
1730,70.62001,147.880005,0,100000.0,20000018552,CHOKURDAH,249.500000,1978-10-31 12:00:00

2022-10-13 14:48:56,094 INFO Welcome to the CDS
2022-10-13 14:48:56,095 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:48:56,159 INFO Request is queued

area - testing:  [0, 0, 0, 0]

2022-10-13 14:48:57,193 INFO Request is failed
2022-10-13 14:48:57,195 ERROR Message: an internal error occurred processing your request
2022-10-13 14:48:57,196 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:48:57,197 ERROR   Traceback (most recent call last):
2022-10-13 14:48:57,197 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:48:57,198 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:48:57,199 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:48:57,200 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:48:57,201 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:48:57,201 ERROR       return p(*args, **kwargs)
2022-10-13 14:48:57,202 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:48:57,203 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:48:57,203 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:48:57,204 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:48:57,205 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:48:57,205 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:48:57,235 INFO Welcome to the CDS
2022-10-13 14:48:57,236 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:48:57,300 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
area - testing:  [40, 20, 50, 0]

2022-10-13 14:48:58,334 INFO Request is failed
2022-10-13 14:48:58,336 ERROR Message: an internal error occurred processing your request
2022-10-13 14:48:58,337 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:48:58,338 ERROR   Traceback (most recent call last):
2022-10-13 14:48:58,338 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:48:58,339 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:48:58,340 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:48:58,341 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:48:58,342 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:48:58,343 ERROR       return p(*args, **kwargs)
2022-10-13 14:48:58,343 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:48:58,344 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:48:58,345 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:48:58,345 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:48:58,346 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:48:58,347 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:48:58,377 INFO Welcome to the CDS
2022-10-13 14:48:58,378 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:48:58,445 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
area - testing:  [49, -180, 48, 360]

2022-10-13 14:48:59,479 INFO Request is failed
2022-10-13 14:48:59,481 ERROR Message: an internal error occurred processing your request
2022-10-13 14:48:59,482 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:48:59,483 ERROR   Traceback (most recent call last):
2022-10-13 14:48:59,484 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:48:59,484 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:48:59,485 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:48:59,486 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:48:59,487 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:48:59,488 ERROR       return p(*args, **kwargs)
2022-10-13 14:48:59,489 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:48:59,489 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:48:59,490 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:48:59,491 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:48:59,492 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:48:59,492 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:48:59,523 INFO Welcome to the CDS
2022-10-13 14:48:59,524 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:48:59,589 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
area - testing: finished
country - testing:  GLOBE

2022-10-13 14:49:00,623 INFO Request is running
2022-10-13 14:49:49,133 INFO Request is completed
2022-10-13 14:49:49,135 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665385.8676486-22060-5-2a3ba77f-90f9-4733-8e13-b3b5b10f8f13.zip to download.zip (34M)
2022-10-13 14:49:50,270 INFO Download rate 30M/s
2022-10-13 14:49:50,470 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,50.220001,-5.32,0,2970.0,60000022123,CAMBORNE,217.850006,1978-09-30 14:00:00
1,50.220001,-5.32,0,3000.0,60000022123,CAMBORNE,217.649994,1978-09-30 14:00:00
2,50.220001,-5.32,0,3980.0,60000022123,CAMBORNE,215.050003,1978-09-30 14:00:00
3,50.220001,-5.32,0,5000.0,60000022123,CAMBORNE,215.250000,1978-09-30 14:00:00
4,50.220001,-5.32,0,6550.0,60000022123,CAMBORNE,215.449997,1978-09-30 14:00:00
...,...,...,...,...,...,...,...,...
1712,50.220001,-5.32,0,81100.0,20000027688,CAMBORNE,277.200012,1978-10-31 12:00:00
1713,50.220001,-5.32,0,85000.0,20000027688,CAMBORNE,277.200012,1978-10-31 12:00:00
1714,50.220001,-5.32,0,86600.0,20000027688,CAMBORNE,277.799988,1978-10-31 12:00:00
1715,50.220001,-5.32,0,100000.0,20000027688,CAMBORNE,286.200012,1978-10-31 12:00:00
1716,50.220001,-5.32,0,100600.0,20000027688,CAMBORNE,286.600006,1978-10-31 12:00:00

2022-10-13 14:49:50,567 INFO Welcome to the CDS
2022-10-13 14:49:50,568 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:49:50,632 INFO Request is queued

country - testing:  ALL

2022-10-13 14:49:51,666 INFO Request is running
2022-10-13 14:50:40,182 INFO Request is completed
2022-10-13 14:50:40,184 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665438.4196217-30530-3-a0158b93-7566-464c-a29c-0ca8b412083e.zip to download.zip (34M)
2022-10-13 14:50:41,314 INFO Download rate 30.1M/s
2022-10-13 14:50:41,528 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,50.220001,-5.32,0,2970.0,60000022123,CAMBORNE,217.850006,1978-09-30 14:00:00
1,50.220001,-5.32,0,3000.0,60000022123,CAMBORNE,217.649994,1978-09-30 14:00:00
2,50.220001,-5.32,0,3980.0,60000022123,CAMBORNE,215.050003,1978-09-30 14:00:00
3,50.220001,-5.32,0,5000.0,60000022123,CAMBORNE,215.250000,1978-09-30 14:00:00
4,50.220001,-5.32,0,6550.0,60000022123,CAMBORNE,215.449997,1978-09-30 14:00:00
...,...,...,...,...,...,...,...,...
1712,50.220001,-5.32,0,81100.0,20000027688,CAMBORNE,277.200012,1978-10-31 12:00:00
1713,50.220001,-5.32,0,85000.0,20000027688,CAMBORNE,277.200012,1978-10-31 12:00:00
1714,50.220001,-5.32,0,86600.0,20000027688,CAMBORNE,277.799988,1978-10-31 12:00:00
1715,50.220001,-5.32,0,100000.0,20000027688,CAMBORNE,286.200012,1978-10-31 12:00:00
1716,50.220001,-5.32,0,100600.0,20000027688,CAMBORNE,286.600006,1978-10-31 12:00:00

2022-10-13 14:50:41,640 INFO Welcome to the CDS
2022-10-13 14:50:41,641 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:50:41,707 INFO Request is queued

country - testing:  NOR

2022-10-13 14:50:42,741 INFO Request is running
2022-10-13 14:50:44,276 INFO Request is completed
2022-10-13 14:50:44,278 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665443.7312334-19195-6-520f6351-6576-4393-b17b-66056b39482f.zip to download.zip (240.4K)
2022-10-13 14:50:44,394 INFO Download rate 2M/s
2022-10-13 14:50:44,408 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,67.25,14.4,0,1500.0,20000012548,BODO VI,218.100006,1978-10-01 00:00:00
1,67.25,14.4,0,2000.0,20000012548,BODO VI,217.300003,1978-10-01 00:00:00
2,67.25,14.4,0,3000.0,20000012548,BODO VI,218.100006,1978-10-01 00:00:00
3,67.25,14.4,0,3800.0,20000012548,BODO VI,216.699997,1978-10-01 00:00:00
4,67.25,14.4,0,5000.0,20000012548,BODO VI,218.100006,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
1727,67.25,14.4,0,85000.0,20000012609,BODO VI,271.500000,1978-10-31 12:00:00
1728,67.25,14.4,0,86000.0,20000012609,BODO VI,271.700012,1978-10-31 12:00:00
1729,67.25,14.4,0,94000.0,20000012609,BODO VI,276.200012,1978-10-31 12:00:00
1730,67.25,14.4,0,98000.0,20000012609,BODO VI,274.000000,1978-10-31 12:00:00
1731,67.25,14.4,0,100000.0,20000012609,BODO VI,275.200012,1978-10-31 12:00:00

2022-10-13 14:50:44,488 INFO Welcome to the CDS
2022-10-13 14:50:44,489 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:50:44,557 INFO Request is queued

country - testing:  ['NOR', 'DEU']

2022-10-13 14:50:45,591 INFO Request is running
2022-10-13 14:50:49,413 INFO Request is completed
2022-10-13 14:50:49,415 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665448.0278428-22066-4-3417fc6f-ce0a-41d6-b257-09433e4c6ac1.zip to download.zip (925.2K)
2022-10-13 14:50:49,576 INFO Download rate 5.6M/s
2022-10-13 14:50:49,596 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,54.529999,9.55,0,1000.0,20000026537,SCHLESWIG (10035-1),222.300003,1978-10-01 00:00:00
1,54.529999,9.55,0,1060.0,20000026537,SCHLESWIG (10035-1),222.100006,1978-10-01 00:00:00
2,54.529999,9.55,0,2000.0,20000026537,SCHLESWIG (10035-1),218.899994,1978-10-01 00:00:00
3,54.529999,9.55,0,3000.0,20000026537,SCHLESWIG (10035-1),216.500000,1978-10-01 00:00:00
4,54.529999,9.55,0,3500.0,20000026537,SCHLESWIG (10035-1),215.699997,1978-10-01 00:00:00
...,...,...,...,...,...,...,...,...
1887,54.529999,9.55,0,83400.0,20000026658,SCHLESWIG (10035-1),277.200012,1978-10-31 12:00:00
1888,54.529999,9.55,0,85000.0,20000026658,SCHLESWIG (10035-1),273.799988,1978-10-31 12:00:00
1889,54.529999,9.55,0,85400.0,20000026658,SCHLESWIG (10035-1),273.100006,1978-10-31 12:00:00
1890,54.529999,9.55,0,95200.0,20000026658,SCHLESWIG (10035-1),281.000000,1978-10-31 12:00:00
1891,54.529999,9.55,0,100000.0,20000026658,SCHLESWIG (10035-1),283.200012,1978-10-31 12:00:00

2022-10-13 14:50:49,678 INFO Welcome to the CDS
2022-10-13 14:50:49,679 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:50:49,747 INFO Request is queued

country - testing:  NORWAY

2022-10-13 14:50:50,782 INFO Request is failed
2022-10-13 14:50:50,783 ERROR Message: an internal error occurred processing your request
2022-10-13 14:50:50,784 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:50:50,785 ERROR   Traceback (most recent call last):
2022-10-13 14:50:50,786 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:50:50,786 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:50:50,787 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:50:50,788 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:50:50,789 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:50:50,790 ERROR       return p(*args, **kwargs)
2022-10-13 14:50:50,791 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:50:50,791 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:50:50,792 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:50:50,793 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:50:50,794 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:50:50,794 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:50:50,824 INFO Welcome to the CDS
2022-10-13 14:50:50,826 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:50:50,889 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
country - testing:  nor

2022-10-13 14:50:51,924 INFO Request is failed
2022-10-13 14:50:51,926 ERROR Message: an internal error occurred processing your request
2022-10-13 14:50:51,927 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:50:51,928 ERROR   Traceback (most recent call last):
2022-10-13 14:50:51,929 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:50:51,930 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:50:51,931 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:50:51,932 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:50:51,932 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:50:51,933 ERROR       return p(*args, **kwargs)
2022-10-13 14:50:51,934 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:50:51,935 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:50:51,935 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:50:51,936 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:50:51,937 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:50:51,938 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:50:51,968 INFO Welcome to the CDS
2022-10-13 14:50:51,969 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:50:52,032 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
country - testing: finished
date - testing:  None

2022-10-13 14:50:53,067 INFO Request is running
2022-10-13 14:53:43,490 INFO Request is completed
2022-10-13 14:53:43,491 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665583.598458-2836-16-ed28603c-9868-4463-8056-154aa38d11a9.zip to download.zip (23.8M)
2022-10-13 14:53:44,996 INFO Download rate 15.9M/s
2022-10-13 14:53:45,042 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.320000,16.120001,0,36500.0,60000000016,WIEN/HOHE WARTE (11035-1),229.350006,1949-04-08 03:00:00
1,48.320000,16.120001,0,40000.0,60000000016,WIEN/HOHE WARTE (11035-1),232.350006,1949-04-08 03:00:00
2,48.320000,16.120001,0,50000.0,60000000016,WIEN/HOHE WARTE (11035-1),239.149994,1949-04-08 03:00:00
3,48.320000,16.120001,0,60000.0,60000000016,WIEN/HOHE WARTE (11035-1),249.949997,1949-04-08 03:00:00
4,48.320000,16.120001,0,70000.0,60000000016,WIEN/HOHE WARTE (11035-1),260.149994,1949-04-08 03:00:00
...,...,...,...,...,...,...,...,...
3270369,48.248951,16.357180,0,89460.0,10000055084,WIEN/HOHE WARTE (11035-1),283.119995,2019-09-30 23:30:11
3270370,48.248951,16.357180,0,92500.0,10000055084,WIEN/HOHE WARTE (11035-1),285.239990,2019-09-30 23:30:11
3270371,48.248951,16.357180,0,96020.0,10000055084,WIEN/HOHE WARTE (11035-1),287.859985,2019-09-30 23:30:11
3270372,48.248951,16.357180,0,98110.0,10000055084,WIEN/HOHE WARTE (11035-1),288.390015,2019-09-30 23:30:11
3270373,48.248951,16.357180,0,99200.0,10000055084,WIEN/HOHE WARTE (11035-1),286.799988,2019-09-30 23:30:11

2022-10-13 14:54:00,898 INFO Welcome to the CDS
2022-10-13 14:54:00,899 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:00,965 INFO Request is queued

date - testing:  20000231

2022-10-13 14:54:01,999 INFO Request is completed
2022-10-13 14:54:02,000 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665641.4193974-23658-3-0a653f0a-91c4-4d90-9a88-3a8773859dcc.zip to download.zip (28.5K)
2022-10-13 14:54:02,049 INFO Download rate 596.1K/s
2022-10-13 14:54:02,065 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.370001,0,570.0,10000030872,WIEN/HOHE WARTE (11035-1),230.100006,2000-02-29 00:00:00
1,48.25,16.370001,0,650.0,10000030872,WIEN/HOHE WARTE (11035-1),230.100006,2000-02-29 00:00:00
2,48.25,16.370001,0,680.0,10000030872,WIEN/HOHE WARTE (11035-1),228.500000,2000-02-29 00:00:00
3,48.25,16.370001,0,720.0,10000030872,WIEN/HOHE WARTE (11035-1),223.100006,2000-02-29 00:00:00
4,48.25,16.370001,0,1000.0,10000030872,WIEN/HOHE WARTE (11035-1),220.699997,2000-02-29 00:00:00
...,...,...,...,...,...,...,...,...
131,48.25,16.370001,0,92500.0,10000030874,WIEN/HOHE WARTE (11035-1),278.200012,2000-02-29 12:00:00
132,48.25,16.370001,0,93500.0,10000030874,WIEN/HOHE WARTE (11035-1),275.399994,2000-02-29 12:00:00
133,48.25,16.370001,0,94000.0,10000030874,WIEN/HOHE WARTE (11035-1),275.200012,2000-02-29 12:00:00
134,48.25,16.370001,0,98900.0,10000030874,WIEN/HOHE WARTE (11035-1),278.799988,2000-02-29 12:00:00
135,48.25,16.370001,0,99700.0,10000030874,WIEN/HOHE WARTE (11035-1),281.200012,2000-02-29 12:00:00

2022-10-13 14:54:02,142 INFO Welcome to the CDS
2022-10-13 14:54:02,143 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:02,203 INFO Request is queued

date - testing:  20000101

2022-10-13 14:54:03,237 INFO Request is completed
2022-10-13 14:54:03,238 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665642.6552255-30657-1-aac102df-a854-4d21-9939-07a29cf2d980.zip to download.zip (28.5K)
2022-10-13 14:54:03,286 INFO Download rate 607.1K/s
2022-10-13 14:54:03,301 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00

2022-10-13 14:54:03,379 INFO Welcome to the CDS
2022-10-13 14:54:03,380 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:03,439 INFO Request is queued

date - testing:  20000101-20000201

2022-10-13 14:54:04,473 INFO Request is completed
2022-10-13 14:54:04,474 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665643.944577-22042-6-13637d39-8932-489b-933d-562c5dac417f.zip to download.zip (59K)
2022-10-13 14:54:04,541 INFO Download rate 900.8K/s
2022-10-13 14:54:04,554 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
4033,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00
4034,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00
4035,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00
4036,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00
4037,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00

2022-10-13 14:54:04,640 INFO Welcome to the CDS
2022-10-13 14:54:04,641 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:04,699 INFO Request is queued

date - testing:  ['20000101', '20000103', '20000106']

2022-10-13 14:54:05,733 INFO Request is completed
2022-10-13 14:54:05,734 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665645.2391546-22093-4-97773885-f4d8-404f-86e8-17051976af57.zip to download.zip (33.6K)
2022-10-13 14:54:05,800 INFO Download rate 515.3K/s
2022-10-13 14:54:05,815 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
769,48.23,16.370001,0,96800.0,10000030657,WIEN/HOHE WARTE (11035-1),272.700012,2000-01-06 12:00:00
770,48.23,16.370001,0,97600.0,10000030657,WIEN/HOHE WARTE (11035-1),271.700012,2000-01-06 12:00:00
771,48.23,16.370001,0,97900.0,10000030657,WIEN/HOHE WARTE (11035-1),270.700012,2000-01-06 12:00:00
772,48.23,16.370001,0,98100.0,10000030657,WIEN/HOHE WARTE (11035-1),269.500000,2000-01-06 12:00:00
773,48.23,16.370001,0,100000.0,10000030657,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-06 12:00:00

2022-10-13 14:54:05,894 INFO Welcome to the CDS
2022-10-13 14:54:05,895 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:06,035 INFO Request is queued

date - testing:  ['20000102', '20000101']

2022-10-13 14:54:07,062 INFO Request is completed
2022-10-13 14:54:07,064 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665646.565636-16218-7-5100681e-bccb-4ecc-92b9-7bbd417e4eb1.zip to download.zip (30.5K)
2022-10-13 14:54:07,115 INFO Download rate 604.5K/s
2022-10-13 14:54:07,128 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
246,48.23,16.370001,0,97800.0,10000030641,WIEN/HOHE WARTE (11035-1),273.600006,2000-01-02 12:00:00
247,48.23,16.370001,0,98300.0,10000030641,WIEN/HOHE WARTE (11035-1),271.500000,2000-01-02 12:00:00
248,48.23,16.370001,0,99100.0,10000030641,WIEN/HOHE WARTE (11035-1),271.100006,2000-01-02 12:00:00
249,48.23,16.370001,0,100000.0,10000030641,WIEN/HOHE WARTE (11035-1),271.700012,2000-01-02 12:00:00
250,48.23,16.370001,0,100400.0,10000030641,WIEN/HOHE WARTE (11035-1),272.100006,2000-01-02 12:00:00

2022-10-13 14:54:07,190 INFO Welcome to the CDS
2022-10-13 14:54:07,191 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:07,244 INFO Request is queued

date - testing:  2000011

2022-10-13 14:54:08,272 INFO Request is failed
2022-10-13 14:54:08,273 ERROR Message: an internal error occurred processing your request
2022-10-13 14:54:08,274 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:08,275 ERROR   Traceback (most recent call last):
2022-10-13 14:54:08,276 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:54:08,277 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:54:08,280 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:54:08,281 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:54:08,282 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:54:08,282 ERROR       return p(*args, **kwargs)
2022-10-13 14:54:08,283 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:54:08,284 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:54:08,285 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:54:08,286 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:54:08,286 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:54:08,287 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:08,308 INFO Welcome to the CDS
2022-10-13 14:54:08,309 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:08,361 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  20000100

2022-10-13 14:54:09,390 INFO Request is failed
2022-10-13 14:54:09,391 ERROR Message: an internal error occurred processing your request
2022-10-13 14:54:09,392 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:09,393 ERROR   Traceback (most recent call last):
2022-10-13 14:54:09,395 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:54:09,396 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:54:09,397 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:54:09,398 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:54:09,399 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:54:09,400 ERROR       return p(*args, **kwargs)
2022-10-13 14:54:09,401 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:54:09,402 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:54:09,403 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:54:09,404 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:54:09,405 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:54:09,406 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:09,428 INFO Welcome to the CDS
2022-10-13 14:54:09,429 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:09,481 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  00000000

2022-10-13 14:54:10,509 INFO Request is failed
2022-10-13 14:54:10,510 ERROR Message: an internal error occurred processing your request
2022-10-13 14:54:10,511 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:10,512 ERROR   Traceback (most recent call last):
2022-10-13 14:54:10,512 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:54:10,513 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:54:10,514 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:54:10,515 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:54:10,515 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:54:10,516 ERROR       return p(*args, **kwargs)
2022-10-13 14:54:10,517 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:54:10,518 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:54:10,518 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:54:10,519 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:54:10,520 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:54:10,521 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:10,544 INFO Welcome to the CDS
2022-10-13 14:54:10,545 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:10,599 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  20000132

2022-10-13 14:54:11,623 INFO Request is failed
2022-10-13 14:54:11,625 ERROR Message: an internal error occurred processing your request
2022-10-13 14:54:11,625 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:11,626 ERROR   Traceback (most recent call last):
2022-10-13 14:54:11,627 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:54:11,629 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:54:11,629 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:54:11,630 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:54:11,631 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:54:11,632 ERROR       return p(*args, **kwargs)
2022-10-13 14:54:11,633 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:54:11,634 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:54:11,634 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:54:11,635 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:54:11,635 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:54:11,636 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:11,656 INFO Welcome to the CDS
2022-10-13 14:54:11,657 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:11,710 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  20001301

2022-10-13 14:54:12,736 INFO Request is failed
2022-10-13 14:54:12,737 ERROR Message: an internal error occurred processing your request
2022-10-13 14:54:12,738 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:12,738 ERROR   Traceback (most recent call last):
2022-10-13 14:54:12,739 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:54:12,740 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:54:12,740 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:54:12,741 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:54:12,742 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:54:12,742 ERROR       return p(*args, **kwargs)
2022-10-13 14:54:12,743 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:54:12,744 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:54:12,744 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:54:12,745 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:54:12,746 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:54:12,747 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:12,768 INFO Welcome to the CDS
2022-10-13 14:54:12,769 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:12,822 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  20000201-20000101

2022-10-13 14:54:13,850 INFO Request is failed
2022-10-13 14:54:13,851 ERROR Message: an internal error occurred processing your request
2022-10-13 14:54:13,852 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:13,853 ERROR   Traceback (most recent call last):
2022-10-13 14:54:13,854 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:54:13,855 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:54:13,855 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:54:13,856 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:54:13,857 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:54:13,858 ERROR       return p(*args, **kwargs)
2022-10-13 14:54:13,858 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:54:13,859 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:54:13,860 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:54:13,860 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:54:13,861 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:54:13,862 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:13,885 INFO Welcome to the CDS
2022-10-13 14:54:13,885 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:13,938 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing:  20000101/20000201

2022-10-13 14:54:14,966 INFO Request is failed
2022-10-13 14:54:14,967 ERROR Message: an internal error occurred processing your request
2022-10-13 14:54:14,968 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:14,969 ERROR   Traceback (most recent call last):
2022-10-13 14:54:14,970 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:54:14,970 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:54:14,971 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:54:14,972 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:54:14,972 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:54:14,973 ERROR       return p(*args, **kwargs)
2022-10-13 14:54:14,974 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:54:14,975 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:54:14,975 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:54:14,976 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:54:14,978 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:54:14,979 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:54:15,003 INFO Welcome to the CDS
2022-10-13 14:54:15,005 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:54:15,059 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
date - testing: finished
period - testing:  None

2022-10-13 14:54:16,087 INFO Request is running
2022-10-13 14:57:06,462 INFO Request is completed
2022-10-13 14:57:06,471 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665788.1542463-30539-2-d6056d9a-bee4-4eb7-abd9-322d92c5ebaa.zip to download.zip (23.8M)
2022-10-13 14:57:07,118 INFO Download rate 36.9M/s
2022-10-13 14:57:07,196 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.320000,16.120001,0,36500.0,60000000016,WIEN/HOHE WARTE (11035-1),229.350006,1949-04-08 03:00:00
1,48.320000,16.120001,0,40000.0,60000000016,WIEN/HOHE WARTE (11035-1),232.350006,1949-04-08 03:00:00
2,48.320000,16.120001,0,50000.0,60000000016,WIEN/HOHE WARTE (11035-1),239.149994,1949-04-08 03:00:00
3,48.320000,16.120001,0,60000.0,60000000016,WIEN/HOHE WARTE (11035-1),249.949997,1949-04-08 03:00:00
4,48.320000,16.120001,0,70000.0,60000000016,WIEN/HOHE WARTE (11035-1),260.149994,1949-04-08 03:00:00
...,...,...,...,...,...,...,...,...
3270369,48.248951,16.357180,0,89460.0,10000055084,WIEN/HOHE WARTE (11035-1),283.119995,2019-09-30 23:30:11
3270370,48.248951,16.357180,0,92500.0,10000055084,WIEN/HOHE WARTE (11035-1),285.239990,2019-09-30 23:30:11
3270371,48.248951,16.357180,0,96020.0,10000055084,WIEN/HOHE WARTE (11035-1),287.859985,2019-09-30 23:30:11
3270372,48.248951,16.357180,0,98110.0,10000055084,WIEN/HOHE WARTE (11035-1),288.390015,2019-09-30 23:30:11
3270373,48.248951,16.357180,0,99200.0,10000055084,WIEN/HOHE WARTE (11035-1),286.799988,2019-09-30 23:30:11

2022-10-13 14:57:21,614 INFO Welcome to the CDS
2022-10-13 14:57:21,615 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:21,673 INFO Request is queued

period - testing:  1979-01-01/1980-08-16

2022-10-13 14:57:22,701 INFO Request is running
2022-10-13 14:57:24,231 INFO Request is completed
2022-10-13 14:57:24,233 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665842.972637-30640-1-2e16c88b-3912-40d2-80ac-ba6a4524d808.zip to download.zip (360.5K)
2022-10-13 14:57:24,338 INFO Download rate 3.4M/s
2022-10-13 14:57:24,353 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.25,16.360001,0,1000.0,10000000000,WIEN/HOHE WARTE (11035-1),212.699997,1979-01-01 00:00:00
1,48.25,16.360001,0,1300.0,10000000000,WIEN/HOHE WARTE (11035-1),215.500000,1979-01-01 00:00:00
2,48.25,16.360001,0,1700.0,10000000000,WIEN/HOHE WARTE (11035-1),202.500000,1979-01-01 00:00:00
3,48.25,16.360001,0,2000.0,10000000000,WIEN/HOHE WARTE (11035-1),204.699997,1979-01-01 00:00:00
4,48.25,16.360001,0,2700.0,10000000000,WIEN/HOHE WARTE (11035-1),208.699997,1979-01-01 00:00:00
...,...,...,...,...,...,...,...,...
43968,48.25,16.370001,0,85000.0,10000002338,WIEN/HOHE WARTE (11035-1),285.399994,1980-08-16 12:00:00
43969,48.25,16.370001,0,88200.0,10000002338,WIEN/HOHE WARTE (11035-1),288.200012,1980-08-16 12:00:00
43970,48.25,16.370001,0,93000.0,10000002338,WIEN/HOHE WARTE (11035-1),290.399994,1980-08-16 12:00:00
43971,48.25,16.370001,0,98000.0,10000002338,WIEN/HOHE WARTE (11035-1),294.799988,1980-08-16 12:00:00
43972,48.25,16.370001,0,99200.0,10000002338,WIEN/HOHE WARTE (11035-1),296.200012,1980-08-16 12:00:00

2022-10-13 14:57:24,533 INFO Welcome to the CDS
2022-10-13 14:57:24,534 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:24,591 INFO Request is queued

period - testing:  1980-01-02/1980-01-01

2022-10-13 14:57:25,621 INFO Request is failed
2022-10-13 14:57:25,622 ERROR Message: an internal error occurred processing your request
2022-10-13 14:57:25,623 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:25,624 ERROR   Traceback (most recent call last):
2022-10-13 14:57:25,625 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:57:25,626 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:57:25,626 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:57:25,627 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:57:25,627 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:57:25,628 ERROR       return p(*args, **kwargs)
2022-10-13 14:57:25,629 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:57:25,629 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:57:25,630 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:57:25,632 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:57:25,632 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:57:25,633 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:25,655 INFO Welcome to the CDS
2022-10-13 14:57:25,656 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:25,711 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
period - testing: finished
pressure_level - testing:  100

2022-10-13 14:57:26,741 INFO Request is completed
2022-10-13 14:57:26,742 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665846.2900598-22048-5-274d7922-0f9d-4337-8cf6-ae7c086dd555.zip to download.zip (28.5K)
2022-10-13 14:57:26,789 INFO Download rate 632.6K/s
2022-10-13 14:57:26,801 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,10000.0,10000030635,WIEN/HOHE WARTE (11035-1),215.899994,2000-01-01 00:00:00
1,48.23,16.370001,0,10000.0,10000030637,WIEN/HOHE WARTE (11035-1),215.100006,2000-01-01 12:00:00

2022-10-13 14:57:26,867 INFO Welcome to the CDS
2022-10-13 14:57:26,868 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:26,925 INFO Request is queued

pressure_level - testing:  100

2022-10-13 14:57:27,949 INFO Request is completed
2022-10-13 14:57:27,950 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665847.4969094-23658-4-22492bc2-e4ba-430a-8d2f-6c3dd9cb78f8.zip to download.zip (28.5K)
2022-10-13 14:57:27,993 INFO Download rate 683.2K/s
2022-10-13 14:57:28,000 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,10000.0,10000030635,WIEN/HOHE WARTE (11035-1),215.899994,2000-01-01 00:00:00
1,48.23,16.370001,0,10000.0,10000030637,WIEN/HOHE WARTE (11035-1),215.100006,2000-01-01 12:00:00

2022-10-13 14:57:28,057 INFO Welcome to the CDS
2022-10-13 14:57:28,059 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:28,110 INFO Request is queued

pressure_level - testing:  [100, 200]

2022-10-13 14:57:29,139 INFO Request is completed
2022-10-13 14:57:29,140 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665848.780877-30657-2-f421f358-37a9-4132-aa9a-a01e487b3c71.zip to download.zip (28.5K)
2022-10-13 14:57:29,186 INFO Download rate 633.9K/s
2022-10-13 14:57:29,198 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,10000.0,10000030635,WIEN/HOHE WARTE (11035-1),215.899994,2000-01-01 00:00:00
1,48.23,16.370001,0,20000.0,10000030635,WIEN/HOHE WARTE (11035-1),218.899994,2000-01-01 00:00:00
2,48.23,16.370001,0,10000.0,10000030637,WIEN/HOHE WARTE (11035-1),215.100006,2000-01-01 12:00:00
3,48.23,16.370001,0,20000.0,10000030637,WIEN/HOHE WARTE (11035-1),214.100006,2000-01-01 12:00:00

2022-10-13 14:57:29,264 INFO Welcome to the CDS
2022-10-13 14:57:29,265 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:29,331 INFO Request is queued

pressure_level - testing:  ['100', '200']

2022-10-13 14:57:30,360 INFO Request is completed
2022-10-13 14:57:30,362 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665849.7292275-22042-7-e422e5be-9477-4197-8ef4-9f9004f29c98.zip to download.zip (28.5K)
2022-10-13 14:57:30,409 INFO Download rate 619.3K/s
2022-10-13 14:57:30,422 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,10000.0,10000030635,WIEN/HOHE WARTE (11035-1),215.899994,2000-01-01 00:00:00
1,48.23,16.370001,0,20000.0,10000030635,WIEN/HOHE WARTE (11035-1),218.899994,2000-01-01 00:00:00
2,48.23,16.370001,0,10000.0,10000030637,WIEN/HOHE WARTE (11035-1),215.100006,2000-01-01 12:00:00
3,48.23,16.370001,0,20000.0,10000030637,WIEN/HOHE WARTE (11035-1),214.100006,2000-01-01 12:00:00

2022-10-13 14:57:30,482 INFO Welcome to the CDS
2022-10-13 14:57:30,483 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:30,535 INFO Request is queued

pressure_level - testing:  0

2022-10-13 14:57:31,564 INFO Request is failed
2022-10-13 14:57:31,565 ERROR Message: an internal error occurred processing your request
2022-10-13 14:57:31,566 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:31,567 ERROR   Traceback (most recent call last):
2022-10-13 14:57:31,568 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:57:31,569 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:57:31,570 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:57:31,571 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:57:31,571 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:57:31,572 ERROR       return p(*args, **kwargs)
2022-10-13 14:57:31,573 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:57:31,574 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:57:31,575 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:57:31,575 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:57:31,576 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:57:31,577 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:31,601 INFO Welcome to the CDS
2022-10-13 14:57:31,602 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:31,654 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
pressure_level - testing:  2000

2022-10-13 14:57:32,683 INFO Request is failed
2022-10-13 14:57:32,684 ERROR Message: an internal error occurred processing your request
2022-10-13 14:57:32,685 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:32,686 ERROR   Traceback (most recent call last):
2022-10-13 14:57:32,687 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:57:32,688 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:57:32,688 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:57:32,689 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:57:32,690 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:57:32,691 ERROR       return p(*args, **kwargs)
2022-10-13 14:57:32,691 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:57:32,692 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:57:32,693 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:57:32,693 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:57:32,694 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:57:32,695 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:32,720 INFO Welcome to the CDS
2022-10-13 14:57:32,721 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:32,781 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
pressure_level - testing: finished
time - testing:  [22, 23, 0, 1, 2, 3]

2022-10-13 14:57:33,809 INFO Request is completed
2022-10-13 14:57:33,811 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665853.3105516-30585-1-d1051ab0-c32f-401c-a053-29a901c2030b.zip to download.zip (43.4K)
2022-10-13 14:57:33,874 INFO Download rate 698K/s
2022-10-13 14:57:33,883 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01
...,...,...,...,...,...,...,...,...
1964,48.23,16.370001,0,85000.0,10000030760,WIEN/HOHE WARTE (11035-1),274.399994,2000-02-01
1965,48.23,16.370001,0,92500.0,10000030760,WIEN/HOHE WARTE (11035-1),279.000000,2000-02-01
1966,48.23,16.370001,0,99200.0,10000030760,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01
1967,48.23,16.370001,0,100000.0,10000030760,WIEN/HOHE WARTE (11035-1),282.600006,2000-02-01
1968,48.23,16.370001,0,100100.0,10000030760,WIEN/HOHE WARTE (11035-1),282.600006,2000-02-01

2022-10-13 14:57:33,953 INFO Welcome to the CDS
2022-10-13 14:57:33,954 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:34,008 INFO Request is queued

time - testing:  ['22', '23', '00', '01', '02', '03']

2022-10-13 14:57:35,034 INFO Request is completed
2022-10-13 14:57:35,036 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665854.5231159-22057-5-1377984f-af6b-4f4c-a5bf-969918428760.zip to download.zip (43.4K)
2022-10-13 14:57:35,100 INFO Download rate 688.5K/s
2022-10-13 14:57:35,112 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01
...,...,...,...,...,...,...,...,...
1964,48.23,16.370001,0,85000.0,10000030760,WIEN/HOHE WARTE (11035-1),274.399994,2000-02-01
1965,48.23,16.370001,0,92500.0,10000030760,WIEN/HOHE WARTE (11035-1),279.000000,2000-02-01
1966,48.23,16.370001,0,99200.0,10000030760,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01
1967,48.23,16.370001,0,100000.0,10000030760,WIEN/HOHE WARTE (11035-1),282.600006,2000-02-01
1968,48.23,16.370001,0,100100.0,10000030760,WIEN/HOHE WARTE (11035-1),282.600006,2000-02-01

2022-10-13 14:57:35,182 INFO Welcome to the CDS
2022-10-13 14:57:35,184 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:35,237 INFO Request is queued

time - testing:

2022-10-13 14:57:36,265 INFO Request is completed
2022-10-13 14:57:36,266 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665665855.7693622-22060-6-a7943b0c-0048-4d16-b782-ce4b30183932.zip to download.zip (59K)
2022-10-13 14:57:36,331 INFO Download rate 928.4K/s
2022-10-13 14:57:36,343 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
4033,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00
4034,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00
4035,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00
4036,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00
4037,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00

2022-10-13 14:57:36,419 INFO Welcome to the CDS
2022-10-13 14:57:36,420 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:36,476 INFO Request is queued

time - testing:  0

2022-10-13 14:57:37,504 INFO Request is completed
2022-10-13 14:57:37,506 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665857.1695015-30749-1-e7bd0494-70ac-4dbe-bd28-b83e40f6e77a.zip to download.zip (42.4K)
2022-10-13 14:57:37,570 INFO Download rate 670.9K/s
2022-10-13 14:57:37,584 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,600.0,10000030631,WIEN/HOHE WARTE (11035-1),217.699997,1999-12-31
1,48.23,16.370001,0,640.0,10000030631,WIEN/HOHE WARTE (11035-1),213.100006,1999-12-31
2,48.23,16.370001,0,860.0,10000030631,WIEN/HOHE WARTE (11035-1),206.699997,1999-12-31
3,48.23,16.370001,0,1000.0,10000030631,WIEN/HOHE WARTE (11035-1),209.699997,1999-12-31
4,48.23,16.370001,0,1050.0,10000030631,WIEN/HOHE WARTE (11035-1),209.899994,1999-12-31
...,...,...,...,...,...,...,...,...
1813,48.23,16.370001,0,85000.0,10000030760,WIEN/HOHE WARTE (11035-1),274.399994,2000-02-01
1814,48.23,16.370001,0,92500.0,10000030760,WIEN/HOHE WARTE (11035-1),279.000000,2000-02-01
1815,48.23,16.370001,0,99200.0,10000030760,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01
1816,48.23,16.370001,0,100000.0,10000030760,WIEN/HOHE WARTE (11035-1),282.600006,2000-02-01
1817,48.23,16.370001,0,100100.0,10000030760,WIEN/HOHE WARTE (11035-1),282.600006,2000-02-01

2022-10-13 14:57:37,653 INFO Welcome to the CDS
2022-10-13 14:57:37,654 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:37,715 INFO Request is queued

time - testing:  00

2022-10-13 14:57:38,744 INFO Request is completed
2022-10-13 14:57:38,746 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665858.3596313-30530-4-85c4d986-a8eb-41b7-90f6-42887f6dfe50.zip to download.zip (42.4K)
2022-10-13 14:57:38,810 INFO Download rate 666.9K/s
2022-10-13 14:57:38,822 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,600.0,10000030631,WIEN/HOHE WARTE (11035-1),217.699997,1999-12-31
1,48.23,16.370001,0,640.0,10000030631,WIEN/HOHE WARTE (11035-1),213.100006,1999-12-31
2,48.23,16.370001,0,860.0,10000030631,WIEN/HOHE WARTE (11035-1),206.699997,1999-12-31
3,48.23,16.370001,0,1000.0,10000030631,WIEN/HOHE WARTE (11035-1),209.699997,1999-12-31
4,48.23,16.370001,0,1050.0,10000030631,WIEN/HOHE WARTE (11035-1),209.899994,1999-12-31
...,...,...,...,...,...,...,...,...
1813,48.23,16.370001,0,85000.0,10000030760,WIEN/HOHE WARTE (11035-1),274.399994,2000-02-01
1814,48.23,16.370001,0,92500.0,10000030760,WIEN/HOHE WARTE (11035-1),279.000000,2000-02-01
1815,48.23,16.370001,0,99200.0,10000030760,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01
1816,48.23,16.370001,0,100000.0,10000030760,WIEN/HOHE WARTE (11035-1),282.600006,2000-02-01
1817,48.23,16.370001,0,100100.0,10000030760,WIEN/HOHE WARTE (11035-1),282.600006,2000-02-01

2022-10-13 14:57:38,891 INFO Welcome to the CDS
2022-10-13 14:57:38,892 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:38,949 INFO Request is queued

time - testing:  ['00']

2022-10-13 14:57:39,978 INFO Request is completed
2022-10-13 14:57:39,979 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665859.4929001-22066-5-ca909610-f5b2-4321-b230-3ef174b2dc93.zip to download.zip (42.4K)
2022-10-13 14:57:40,045 INFO Download rate 656.3K/s
2022-10-13 14:57:40,058 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,600.0,10000030631,WIEN/HOHE WARTE (11035-1),217.699997,1999-12-31
1,48.23,16.370001,0,640.0,10000030631,WIEN/HOHE WARTE (11035-1),213.100006,1999-12-31
2,48.23,16.370001,0,860.0,10000030631,WIEN/HOHE WARTE (11035-1),206.699997,1999-12-31
3,48.23,16.370001,0,1000.0,10000030631,WIEN/HOHE WARTE (11035-1),209.699997,1999-12-31
4,48.23,16.370001,0,1050.0,10000030631,WIEN/HOHE WARTE (11035-1),209.899994,1999-12-31
...,...,...,...,...,...,...,...,...
1813,48.23,16.370001,0,85000.0,10000030760,WIEN/HOHE WARTE (11035-1),274.399994,2000-02-01
1814,48.23,16.370001,0,92500.0,10000030760,WIEN/HOHE WARTE (11035-1),279.000000,2000-02-01
1815,48.23,16.370001,0,99200.0,10000030760,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01
1816,48.23,16.370001,0,100000.0,10000030760,WIEN/HOHE WARTE (11035-1),282.600006,2000-02-01
1817,48.23,16.370001,0,100100.0,10000030760,WIEN/HOHE WARTE (11035-1),282.600006,2000-02-01

2022-10-13 14:57:40,135 INFO Welcome to the CDS
2022-10-13 14:57:40,136 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:40,192 INFO Request is queued

time - testing:  [0, 12]

2022-10-13 14:57:41,218 INFO Request is completed
2022-10-13 14:57:41,220 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665860.8781428-30539-3-004e8747-7c1b-4b7e-ab19-b6d8a4eedb9c.zip to download.zip (57.1K)
2022-10-13 14:57:41,284 INFO Download rate 900.4K/s
2022-10-13 14:57:41,296 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,600.0,10000030631,WIEN/HOHE WARTE (11035-1),217.699997,1999-12-31 00:00:00
1,48.23,16.370001,0,640.0,10000030631,WIEN/HOHE WARTE (11035-1),213.100006,1999-12-31 00:00:00
2,48.23,16.370001,0,860.0,10000030631,WIEN/HOHE WARTE (11035-1),206.699997,1999-12-31 00:00:00
3,48.23,16.370001,0,1000.0,10000030631,WIEN/HOHE WARTE (11035-1),209.699997,1999-12-31 00:00:00
4,48.23,16.370001,0,1050.0,10000030631,WIEN/HOHE WARTE (11035-1),209.899994,1999-12-31 00:00:00
...,...,...,...,...,...,...,...,...
3767,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00
3768,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00
3769,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00
3770,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00
3771,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00

2022-10-13 14:57:41,372 INFO Welcome to the CDS
2022-10-13 14:57:41,373 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:41,431 INFO Request is queued

time - testing:  ['0', '12']

2022-10-13 14:57:42,459 INFO Request is completed
2022-10-13 14:57:42,461 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665862.1438167-19195-7-34474483-5113-4b44-898b-11f6c1cb7197.zip to download.zip (57.1K)
2022-10-13 14:57:42,525 INFO Download rate 903.3K/s
2022-10-13 14:57:42,539 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,600.0,10000030631,WIEN/HOHE WARTE (11035-1),217.699997,1999-12-31 00:00:00
1,48.23,16.370001,0,640.0,10000030631,WIEN/HOHE WARTE (11035-1),213.100006,1999-12-31 00:00:00
2,48.23,16.370001,0,860.0,10000030631,WIEN/HOHE WARTE (11035-1),206.699997,1999-12-31 00:00:00
3,48.23,16.370001,0,1000.0,10000030631,WIEN/HOHE WARTE (11035-1),209.699997,1999-12-31 00:00:00
4,48.23,16.370001,0,1050.0,10000030631,WIEN/HOHE WARTE (11035-1),209.899994,1999-12-31 00:00:00
...,...,...,...,...,...,...,...,...
3767,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00
3768,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00
3769,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00
3770,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00
3771,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00

2022-10-13 14:57:42,737 INFO Welcome to the CDS
2022-10-13 14:57:42,738 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

time - testing:  24

2022-10-13 14:57:42,798 INFO Request is queued
2022-10-13 14:57:43,828 INFO Request is failed
2022-10-13 14:57:43,830 ERROR Message: an internal error occurred processing your request
2022-10-13 14:57:43,830 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:43,831 ERROR   Traceback (most recent call last):
2022-10-13 14:57:43,833 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:57:43,834 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:57:43,835 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:57:43,835 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:57:43,836 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:57:43,838 ERROR       return p(*args, **kwargs)
2022-10-13 14:57:43,838 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:57:43,839 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:57:43,840 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:57:43,840 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:57:43,841 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:57:43,841 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:43,867 INFO Welcome to the CDS
2022-10-13 14:57:43,867 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:43,928 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
time - testing:  25

2022-10-13 14:57:44,958 INFO Request is failed
2022-10-13 14:57:44,960 ERROR Message: an internal error occurred processing your request
2022-10-13 14:57:44,961 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:44,961 ERROR   Traceback (most recent call last):
2022-10-13 14:57:44,962 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:57:44,963 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:57:44,964 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:57:44,965 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:57:44,966 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:57:44,966 ERROR       return p(*args, **kwargs)
2022-10-13 14:57:44,967 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:57:44,968 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:57:44,969 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:57:44,969 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:57:44,970 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:57:44,971 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:44,998 INFO Welcome to the CDS
2022-10-13 14:57:44,999 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:45,072 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
time - testing:  12.5

2022-10-13 14:57:46,103 INFO Request is failed
2022-10-13 14:57:46,104 ERROR Message: an internal error occurred processing your request
2022-10-13 14:57:46,105 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:46,106 ERROR   Traceback (most recent call last):
2022-10-13 14:57:46,107 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:57:46,107 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:57:46,108 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:57:46,109 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:57:46,110 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:57:46,111 ERROR       return p(*args, **kwargs)
2022-10-13 14:57:46,111 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:57:46,112 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:57:46,113 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:57:46,114 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:57:46,115 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:57:46,115 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:46,142 INFO Welcome to the CDS
2022-10-13 14:57:46,143 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:46,202 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
time - testing: finished
format - testing:  None

2022-10-13 14:57:47,233 INFO Request is completed
2022-10-13 14:57:47,235 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665866.6963704-30657-3-ee30c188-c343-4493-bf6e-79495862b378.zip to download.zip (59K)
2022-10-13 14:57:47,300 INFO Download rate 923.4K/s
2022-10-13 14:57:47,312 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
4033,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00
4034,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00
4035,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00
4036,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00
4037,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00

2022-10-13 14:57:47,399 INFO Welcome to the CDS
2022-10-13 14:57:47,400 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:47,456 INFO Request is queued

format - testing:  nc

2022-10-13 14:57:48,486 INFO Request is completed
2022-10-13 14:57:48,487 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665867.97902-31578-1-399227c0-5eb6-45ec-986b-1425c723d9f1.zip to download.zip (59K)
2022-10-13 14:57:48,551 INFO Download rate 949.4K/s
2022-10-13 14:57:48,564 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
4033,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00
4034,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00
4035,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00
4036,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00
4037,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00

2022-10-13 14:57:48,646 INFO Welcome to the CDS
2022-10-13 14:57:48,647 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:48,717 INFO Request is queued

format - testing:  csv

2022-10-13 14:57:49,748 INFO Request is running
2022-10-13 14:57:51,281 INFO Request is completed
2022-10-13 14:57:51,282 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665665869.9157057-22042-8-8cdb3002-cd84-4d97-b748-abcaf9aaae7d.zip to download.zip (398.2K)
2022-10-13 14:57:51,400 INFO Download rate 3.3M/s
2022-10-13 14:57:51,486 INFO Welcome to the CDS
2022-10-13 14:57:51,488 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:51,545 INFO Request is queued

format - testing:  netcdf

2022-10-13 14:57:52,576 INFO Request is failed
2022-10-13 14:57:52,577 ERROR Message: an internal error occurred processing your request
2022-10-13 14:57:52,578 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:52,579 ERROR   Traceback (most recent call last):
2022-10-13 14:57:52,580 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:57:52,581 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:57:52,581 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:57:52,582 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:57:52,583 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:57:52,584 ERROR       return p(*args, **kwargs)
2022-10-13 14:57:52,584 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:57:52,585 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:57:52,586 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:57:52,587 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:57:52,587 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:57:52,588 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:52,615 INFO Welcome to the CDS
2022-10-13 14:57:52,616 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:52,690 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
format - testing:  csb

2022-10-13 14:57:53,722 INFO Request is failed
2022-10-13 14:57:53,723 ERROR Message: an internal error occurred processing your request
2022-10-13 14:57:53,724 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:53,725 ERROR   Traceback (most recent call last):
2022-10-13 14:57:53,726 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:57:53,727 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:57:53,727 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:57:53,728 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:57:53,729 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:57:53,730 ERROR       return p(*args, **kwargs)
2022-10-13 14:57:53,731 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:57:53,731 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:57:53,732 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:57:53,733 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:57:53,734 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:57:53,735 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:53,761 INFO Welcome to the CDS
2022-10-13 14:57:53,762 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:53,833 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
format - testing:  txt

2022-10-13 14:57:54,864 INFO Request is failed
2022-10-13 14:57:54,866 ERROR Message: an internal error occurred processing your request
2022-10-13 14:57:54,867 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:54,867 ERROR   Traceback (most recent call last):
2022-10-13 14:57:54,868 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 14:57:54,869 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 14:57:54,870 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 14:57:54,871 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 14:57:54,872 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 14:57:54,873 ERROR       return p(*args, **kwargs)
2022-10-13 14:57:54,873 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 14:57:54,874 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 14:57:54,875 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 14:57:54,876 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 14:57:54,876 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 14:57:54,877 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 14:57:54,904 INFO Welcome to the CDS
2022-10-13 14:57:54,905 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 14:57:54,966 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
format - testing: finished
y - testing:  None

2022-10-13 14:57:55,996 INFO Request is running
2022-10-13 15:00:46,444 INFO Request is completed
2022-10-13 15:00:46,446 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666008.6880634-22060-7-1a53adf1-d721-4f81-a014-5036f0b831f5.zip to download.zip (23.8M)
2022-10-13 15:00:46,940 INFO Download rate 48.3M/s
2022-10-13 15:00:46,991 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.320000,16.120001,0,36500.0,60000000016,WIEN/HOHE WARTE (11035-1),229.350006,1949-04-08 03:00:00
1,48.320000,16.120001,0,40000.0,60000000016,WIEN/HOHE WARTE (11035-1),232.350006,1949-04-08 03:00:00
2,48.320000,16.120001,0,50000.0,60000000016,WIEN/HOHE WARTE (11035-1),239.149994,1949-04-08 03:00:00
3,48.320000,16.120001,0,60000.0,60000000016,WIEN/HOHE WARTE (11035-1),249.949997,1949-04-08 03:00:00
4,48.320000,16.120001,0,70000.0,60000000016,WIEN/HOHE WARTE (11035-1),260.149994,1949-04-08 03:00:00
...,...,...,...,...,...,...,...,...
3270369,48.248951,16.357180,0,89460.0,10000055084,WIEN/HOHE WARTE (11035-1),283.119995,2019-09-30 23:30:11
3270370,48.248951,16.357180,0,92500.0,10000055084,WIEN/HOHE WARTE (11035-1),285.239990,2019-09-30 23:30:11
3270371,48.248951,16.357180,0,96020.0,10000055084,WIEN/HOHE WARTE (11035-1),287.859985,2019-09-30 23:30:11
3270372,48.248951,16.357180,0,98110.0,10000055084,WIEN/HOHE WARTE (11035-1),288.390015,2019-09-30 23:30:11
3270373,48.248951,16.357180,0,99200.0,10000055084,WIEN/HOHE WARTE (11035-1),286.799988,2019-09-30 23:30:11

2022-10-13 15:00:56,061 INFO Welcome to the CDS
2022-10-13 15:00:56,062 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:00:56,120 INFO Request is queued

y - testing:  2000

2022-10-13 15:00:57,151 INFO Request is completed
2022-10-13 15:00:57,153 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666056.5845282-30749-2-a794ece8-9bb3-466e-9ad6-2fba933ac380.zip to download.zip (28.5K)
2022-10-13 15:00:57,195 INFO Download rate 697.2K/s
2022-10-13 15:00:57,207 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00

2022-10-13 15:00:57,276 INFO Welcome to the CDS
2022-10-13 15:00:57,277 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:00:57,332 INFO Request is queued

y - testing:  2000

2022-10-13 15:00:58,363 INFO Request is completed
2022-10-13 15:00:58,365 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665666057.7328658-30530-5-f8e9daef-dc2a-46c2-8748-a8369330c566.zip to download.zip (28.5K)
2022-10-13 15:00:58,405 INFO Download rate 723.2K/s
2022-10-13 15:00:58,418 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00

2022-10-13 15:00:58,491 INFO Welcome to the CDS
2022-10-13 15:00:58,492 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:00:58,549 INFO Request is queued

y - testing:  ['2000', '2001']

2022-10-13 15:00:59,580 INFO Request is running
2022-10-13 15:01:01,111 INFO Request is completed
2022-10-13 15:01:01,113 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665666059.6292515-30539-4-7b1c84f5-1e8b-422a-990a-5425502901ed.zip to download.zip (382.8K)
2022-10-13 15:01:01,213 INFO Download rate 3.8M/s
2022-10-13 15:01:01,226 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
46013,48.25,16.370001,0,92400.0,10000032103,WIEN/HOHE WARTE (11035-1),271.100006,2001-01-01 18:00:00
46014,48.25,16.370001,0,92500.0,10000032103,WIEN/HOHE WARTE (11035-1),270.899994,2001-01-01 18:00:00
46015,48.25,16.370001,0,94000.0,10000032103,WIEN/HOHE WARTE (11035-1),269.299988,2001-01-01 18:00:00
46016,48.25,16.370001,0,98200.0,10000032103,WIEN/HOHE WARTE (11035-1),272.500000,2001-01-01 18:00:00
46017,48.25,16.370001,0,98700.0,10000032103,WIEN/HOHE WARTE (11035-1),272.299988,2001-01-01 18:00:00

2022-10-13 15:01:01,413 INFO Welcome to the CDS
2022-10-13 15:01:01,414 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:01,470 INFO Request is queued

y - testing:  [2000, 2001]

2022-10-13 15:01:02,500 INFO Request is running
2022-10-13 15:01:04,031 INFO Request is completed
2022-10-13 15:01:04,032 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666062.5887713-19195-8-3f7901fd-ab33-4a10-bf07-c13b4294f1d4.zip to download.zip (382.8K)
2022-10-13 15:01:04,132 INFO Download rate 3.8M/s
2022-10-13 15:01:04,145 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
46013,48.25,16.370001,0,92400.0,10000032103,WIEN/HOHE WARTE (11035-1),271.100006,2001-01-01 18:00:00
46014,48.25,16.370001,0,92500.0,10000032103,WIEN/HOHE WARTE (11035-1),270.899994,2001-01-01 18:00:00
46015,48.25,16.370001,0,94000.0,10000032103,WIEN/HOHE WARTE (11035-1),269.299988,2001-01-01 18:00:00
46016,48.25,16.370001,0,98200.0,10000032103,WIEN/HOHE WARTE (11035-1),272.500000,2001-01-01 18:00:00
46017,48.25,16.370001,0,98700.0,10000032103,WIEN/HOHE WARTE (11035-1),272.299988,2001-01-01 18:00:00

2022-10-13 15:01:04,323 INFO Welcome to the CDS
2022-10-13 15:01:04,325 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:04,380 INFO Request is queued

y - testing:  0

2022-10-13 15:01:05,411 INFO Request is failed
2022-10-13 15:01:05,412 ERROR Message: an internal error occurred processing your request
2022-10-13 15:01:05,413 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:05,414 ERROR   Traceback (most recent call last):
2022-10-13 15:01:05,415 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 15:01:05,416 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 15:01:05,416 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 15:01:05,417 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 15:01:05,418 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 15:01:05,419 ERROR       return p(*args, **kwargs)
2022-10-13 15:01:05,419 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 15:01:05,420 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 15:01:05,421 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 15:01:05,421 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 15:01:05,422 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 15:01:05,423 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:05,450 INFO Welcome to the CDS
2022-10-13 15:01:05,451 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:05,508 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
y - testing:  20000

2022-10-13 15:01:06,539 INFO Request is failed
2022-10-13 15:01:06,540 ERROR Message: an internal error occurred processing your request
2022-10-13 15:01:06,541 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:06,542 ERROR   Traceback (most recent call last):
2022-10-13 15:01:06,543 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 15:01:06,544 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 15:01:06,544 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 15:01:06,545 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 15:01:06,546 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 15:01:06,547 ERROR       return p(*args, **kwargs)
2022-10-13 15:01:06,547 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 15:01:06,548 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 15:01:06,548 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 15:01:06,549 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 15:01:06,550 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 15:01:06,550 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:06,577 INFO Welcome to the CDS
2022-10-13 15:01:06,578 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:06,636 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
y - testing:  -2000

2022-10-13 15:01:07,667 INFO Request is failed
2022-10-13 15:01:07,669 ERROR Message: an internal error occurred processing your request
2022-10-13 15:01:07,669 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:07,670 ERROR   Traceback (most recent call last):
2022-10-13 15:01:07,671 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 15:01:07,672 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 15:01:07,673 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 15:01:07,673 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 15:01:07,674 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 15:01:07,675 ERROR       return p(*args, **kwargs)
2022-10-13 15:01:07,676 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 15:01:07,676 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 15:01:07,677 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 15:01:07,678 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 15:01:07,679 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 15:01:07,679 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:07,708 INFO Welcome to the CDS
2022-10-13 15:01:07,709 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:07,765 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
m - testing:  None

2022-10-13 15:01:08,796 INFO Request is running
2022-10-13 15:01:10,328 INFO Request is completed
2022-10-13 15:01:10,330 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666069.0656152-31578-2-19921db9-121a-4a23-a3df-7b1f53edb50c.zip to download.zip (352.8K)
2022-10-13 15:01:10,422 INFO Download rate 3.8M/s
2022-10-13 15:01:10,433 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
41857,48.25,16.370001,0,94000.0,10000031978,WIEN/HOHE WARTE (11035-1),271.899994,2000-12-01 12:00:00
41858,48.25,16.370001,0,94900.0,10000031978,WIEN/HOHE WARTE (11035-1),272.299988,2000-12-01 12:00:00
41859,48.25,16.370001,0,95500.0,10000031978,WIEN/HOHE WARTE (11035-1),272.299988,2000-12-01 12:00:00
41860,48.25,16.370001,0,99200.0,10000031978,WIEN/HOHE WARTE (11035-1),274.200012,2000-12-01 12:00:00
41861,48.25,16.370001,0,99700.0,10000031978,WIEN/HOHE WARTE (11035-1),275.200012,2000-12-01 12:00:00

2022-10-13 15:01:10,598 INFO Welcome to the CDS
2022-10-13 15:01:10,599 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:10,655 INFO Request is queued

m - testing:  1

2022-10-13 15:01:11,682 INFO Request is completed
2022-10-13 15:01:11,683 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666071.2440257-16218-8-11193fe8-5eee-4c33-8042-70640a2d3ec5.zip to download.zip (28.5K)
2022-10-13 15:01:11,721 INFO Download rate 767.6K/s
2022-10-13 15:01:11,731 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00

2022-10-13 15:01:11,803 INFO Welcome to the CDS
2022-10-13 15:01:11,804 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:11,858 INFO Request is queued

m - testing:  1

2022-10-13 15:01:12,887 INFO Request is completed
2022-10-13 15:01:12,888 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666072.466302-30585-2-ce6ff841-7d32-4e72-bd20-1e8e40e5d429.zip to download.zip (28.5K)
2022-10-13 15:01:12,926 INFO Download rate 770.4K/s
2022-10-13 15:01:12,936 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00

2022-10-13 15:01:13,015 INFO Welcome to the CDS
2022-10-13 15:01:13,016 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:13,136 INFO Request is completed
2022-10-13 15:01:13,137 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665666057.7328658-30530-5-f8e9daef-dc2a-46c2-8748-a8369330c566.zip to download.zip (28.5K)

m - testing:  01

2022-10-13 15:01:13,174 INFO Download rate 779.6K/s
2022-10-13 15:01:13,185 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00

2022-10-13 15:01:13,263 INFO Welcome to the CDS
2022-10-13 15:01:13,264 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:13,317 INFO Request is queued

m - testing:  ['01', '02']

2022-10-13 15:01:14,346 INFO Request is completed
2022-10-13 15:01:14,348 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666073.7517395-22042-9-fb453e69-fa38-45b5-9c37-3802d97d1438.zip to download.zip (59K)
2022-10-13 15:01:14,404 INFO Download rate 1M/s
2022-10-13 15:01:14,416 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
4033,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00
4034,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00
4035,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00
4036,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00
4037,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00

2022-10-13 15:01:14,499 INFO Welcome to the CDS
2022-10-13 15:01:14,500 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:14,560 INFO Request is queued

m - testing:  ['1', '2']

2022-10-13 15:01:15,591 INFO Request is completed
2022-10-13 15:01:15,592 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666075.0720131-22048-6-7b56f35f-d06d-4f8d-8635-28b91087f869.zip to download.zip (59K)
2022-10-13 15:01:15,648 INFO Download rate 1M/s
2022-10-13 15:01:15,661 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
4033,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00
4034,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00
4035,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00
4036,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00
4037,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00

2022-10-13 15:01:15,743 INFO Welcome to the CDS
2022-10-13 15:01:15,744 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:15,802 INFO Request is queued

m - testing:  [1, 2]

2022-10-13 15:01:16,832 INFO Request is completed
2022-10-13 15:01:16,833 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666076.3785138-22060-8-1b55b5a9-ef92-4191-a111-7f772d19f643.zip to download.zip (59K)
2022-10-13 15:01:16,890 INFO Download rate 1M/s
2022-10-13 15:01:16,901 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
4033,48.23,16.370001,0,91400.0,10000030762,WIEN/HOHE WARTE (11035-1),281.600006,2000-02-01 12:00:00
4034,48.23,16.370001,0,92500.0,10000030762,WIEN/HOHE WARTE (11035-1),281.799988,2000-02-01 12:00:00
4035,48.23,16.370001,0,95700.0,10000030762,WIEN/HOHE WARTE (11035-1),282.799988,2000-02-01 12:00:00
4036,48.23,16.370001,0,99100.0,10000030762,WIEN/HOHE WARTE (11035-1),285.600006,2000-02-01 12:00:00
4037,48.23,16.370001,0,99800.0,10000030762,WIEN/HOHE WARTE (11035-1),287.200012,2000-02-01 12:00:00

2022-10-13 15:01:17,088 INFO Welcome to the CDS
2022-10-13 15:01:17,089 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:17,154 INFO Request is queued

m - testing:  00

2022-10-13 15:01:18,185 INFO Request is failed
2022-10-13 15:01:18,187 ERROR Message: an internal error occurred processing your request
2022-10-13 15:01:18,188 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:18,189 ERROR   Traceback (most recent call last):
2022-10-13 15:01:18,189 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 15:01:18,190 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 15:01:18,191 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 15:01:18,191 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 15:01:18,192 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 15:01:18,193 ERROR       return p(*args, **kwargs)
2022-10-13 15:01:18,196 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 15:01:18,196 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 15:01:18,197 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 15:01:18,197 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 15:01:18,198 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 15:01:18,199 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:18,224 INFO Welcome to the CDS
2022-10-13 15:01:18,225 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:18,285 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
m - testing:  0

2022-10-13 15:01:19,318 INFO Request is failed
2022-10-13 15:01:19,319 ERROR Message: an internal error occurred processing your request
2022-10-13 15:01:19,320 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:19,321 ERROR   Traceback (most recent call last):
2022-10-13 15:01:19,323 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 15:01:19,323 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 15:01:19,324 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 15:01:19,325 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 15:01:19,326 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 15:01:19,326 ERROR       return p(*args, **kwargs)
2022-10-13 15:01:19,327 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 15:01:19,328 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 15:01:19,329 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 15:01:19,329 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 15:01:19,330 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 15:01:19,331 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:19,359 INFO Welcome to the CDS
2022-10-13 15:01:19,360 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:19,419 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
m - testing:  13

2022-10-13 15:01:20,451 INFO Request is failed
2022-10-13 15:01:20,452 ERROR Message: an internal error occurred processing your request
2022-10-13 15:01:20,453 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:20,454 ERROR   Traceback (most recent call last):
2022-10-13 15:01:20,455 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 15:01:20,456 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 15:01:20,456 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 15:01:20,457 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 15:01:20,458 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 15:01:20,459 ERROR       return p(*args, **kwargs)
2022-10-13 15:01:20,459 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 15:01:20,460 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 15:01:20,461 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 15:01:20,461 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 15:01:20,462 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 15:01:20,462 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:20,490 INFO Welcome to the CDS
2022-10-13 15:01:20,491 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:20,582 INFO Request is completed
2022-10-13 15:01:20,583 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665666057.7328658-30530-5-f8e9daef-dc2a-46c2-8748-a8369330c566.zip to download.zip (28.5K)

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
d - testing:  01

2022-10-13 15:01:20,623 INFO Download rate 733.3K/s
2022-10-13 15:01:20,635 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
127,48.23,16.370001,0,89800.0,10000030637,WIEN/HOHE WARTE (11035-1),270.100006,2000-01-01 12:00:00
128,48.23,16.370001,0,91500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.100006,2000-01-01 12:00:00
129,48.23,16.370001,0,92500.0,10000030637,WIEN/HOHE WARTE (11035-1),269.700012,2000-01-01 12:00:00
130,48.23,16.370001,0,95700.0,10000030637,WIEN/HOHE WARTE (11035-1),271.899994,2000-01-01 12:00:00
131,48.23,16.370001,0,100000.0,10000030637,WIEN/HOHE WARTE (11035-1),273.200012,2000-01-01 12:00:00

2022-10-13 15:01:20,706 INFO Welcome to the CDS
2022-10-13 15:01:20,707 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:20,756 INFO Request is queued

d - testing:  31

2022-10-13 15:01:21,789 INFO Request is completed
2022-10-13 15:01:21,790 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666081.139468-30530-6-896708aa-917a-442c-9c0b-9adc1570cc78.zip to download.zip (28.5K)
2022-10-13 15:01:21,830 INFO Download rate 736.9K/s
2022-10-13 15:01:21,841 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,2870.0,10000030756,WIEN/HOHE WARTE (11035-1),203.500000,2000-01-31 00:00:00
1,48.23,16.370001,0,3000.0,10000030756,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-31 00:00:00
2,48.23,16.370001,0,3750.0,10000030756,WIEN/HOHE WARTE (11035-1),205.500000,2000-01-31 00:00:00
3,48.23,16.370001,0,4020.0,10000030756,WIEN/HOHE WARTE (11035-1),201.699997,2000-01-31 00:00:00
4,48.23,16.370001,0,4600.0,10000030756,WIEN/HOHE WARTE (11035-1),208.500000,2000-01-31 00:00:00
...,...,...,...,...,...,...,...,...
111,48.23,16.370001,0,89200.0,10000030758,WIEN/HOHE WARTE (11035-1),276.799988,2000-01-31 12:00:00
112,48.23,16.370001,0,92500.0,10000030758,WIEN/HOHE WARTE (11035-1),279.200012,2000-01-31 12:00:00
113,48.23,16.370001,0,97400.0,10000030758,WIEN/HOHE WARTE (11035-1),283.399994,2000-01-31 12:00:00
114,48.23,16.370001,0,99000.0,10000030758,WIEN/HOHE WARTE (11035-1),285.000000,2000-01-31 12:00:00
115,48.23,16.370001,0,99100.0,10000030758,WIEN/HOHE WARTE (11035-1),285.000000,2000-01-31 12:00:00

2022-10-13 15:01:21,915 INFO Welcome to the CDS
2022-10-13 15:01:21,915 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:21,977 INFO Request is queued

d - testing:  ['01', '02']

2022-10-13 15:01:23,009 INFO Request is completed
2022-10-13 15:01:23,011 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665666082.3700113-30539-5-1cdb6b07-8dde-4b2e-9721-8be61029f32b.zip to download.zip (30.5K)
2022-10-13 15:01:23,065 INFO Download rate 570.7K/s
2022-10-13 15:01:23,077 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
246,48.23,16.370001,0,97800.0,10000030641,WIEN/HOHE WARTE (11035-1),273.600006,2000-01-02 12:00:00
247,48.23,16.370001,0,98300.0,10000030641,WIEN/HOHE WARTE (11035-1),271.500000,2000-01-02 12:00:00
248,48.23,16.370001,0,99100.0,10000030641,WIEN/HOHE WARTE (11035-1),271.100006,2000-01-02 12:00:00
249,48.23,16.370001,0,100000.0,10000030641,WIEN/HOHE WARTE (11035-1),271.700012,2000-01-02 12:00:00
250,48.23,16.370001,0,100400.0,10000030641,WIEN/HOHE WARTE (11035-1),272.100006,2000-01-02 12:00:00

2022-10-13 15:01:23,149 INFO Welcome to the CDS
2022-10-13 15:01:23,150 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:23,208 INFO Request is queued

d - testing:  ['1', '2']

2022-10-13 15:01:24,240 INFO Request is completed
2022-10-13 15:01:24,242 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666083.5956988-19195-9-0488997b-1821-4d27-bf2d-7cc764a88e51.zip to download.zip (30.5K)
2022-10-13 15:01:24,297 INFO Download rate 565.1K/s
2022-10-13 15:01:24,311 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
246,48.23,16.370001,0,97800.0,10000030641,WIEN/HOHE WARTE (11035-1),273.600006,2000-01-02 12:00:00
247,48.23,16.370001,0,98300.0,10000030641,WIEN/HOHE WARTE (11035-1),271.500000,2000-01-02 12:00:00
248,48.23,16.370001,0,99100.0,10000030641,WIEN/HOHE WARTE (11035-1),271.100006,2000-01-02 12:00:00
249,48.23,16.370001,0,100000.0,10000030641,WIEN/HOHE WARTE (11035-1),271.700012,2000-01-02 12:00:00
250,48.23,16.370001,0,100400.0,10000030641,WIEN/HOHE WARTE (11035-1),272.100006,2000-01-02 12:00:00

2022-10-13 15:01:24,383 INFO Welcome to the CDS
2022-10-13 15:01:24,384 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:24,441 INFO Request is queued

d - testing:  [1, 2]

2022-10-13 15:01:25,472 INFO Request is completed
2022-10-13 15:01:25,474 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666084.9479914-30640-2-00485edc-a379-45d1-88f1-a454cbc1c88d.zip to download.zip (30.5K)
2022-10-13 15:01:25,529 INFO Download rate 566.1K/s
2022-10-13 15:01:25,541 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,48.23,16.370001,0,590.0,10000030635,WIEN/HOHE WARTE (11035-1),211.300003,2000-01-01 00:00:00
1,48.23,16.370001,0,760.0,10000030635,WIEN/HOHE WARTE (11035-1),206.500000,2000-01-01 00:00:00
2,48.23,16.370001,0,1000.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
3,48.23,16.370001,0,1190.0,10000030635,WIEN/HOHE WARTE (11035-1),205.899994,2000-01-01 00:00:00
4,48.23,16.370001,0,1320.0,10000030635,WIEN/HOHE WARTE (11035-1),202.500000,2000-01-01 00:00:00
...,...,...,...,...,...,...,...,...
246,48.23,16.370001,0,97800.0,10000030641,WIEN/HOHE WARTE (11035-1),273.600006,2000-01-02 12:00:00
247,48.23,16.370001,0,98300.0,10000030641,WIEN/HOHE WARTE (11035-1),271.500000,2000-01-02 12:00:00
248,48.23,16.370001,0,99100.0,10000030641,WIEN/HOHE WARTE (11035-1),271.100006,2000-01-02 12:00:00
249,48.23,16.370001,0,100000.0,10000030641,WIEN/HOHE WARTE (11035-1),271.700012,2000-01-02 12:00:00
250,48.23,16.370001,0,100400.0,10000030641,WIEN/HOHE WARTE (11035-1),272.100006,2000-01-02 12:00:00

2022-10-13 15:01:25,615 INFO Welcome to the CDS
2022-10-13 15:01:25,615 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:25,672 INFO Request is queued

d - testing:  00

2022-10-13 15:01:26,704 INFO Request is failed
2022-10-13 15:01:26,705 ERROR Message: an internal error occurred processing your request
2022-10-13 15:01:26,706 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:26,707 ERROR   Traceback (most recent call last):
2022-10-13 15:01:26,708 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 15:01:26,708 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 15:01:26,709 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 15:01:26,710 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 15:01:26,710 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 15:01:26,711 ERROR       return p(*args, **kwargs)
2022-10-13 15:01:26,712 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 15:01:26,713 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 15:01:26,713 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 15:01:26,714 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 15:01:26,715 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 15:01:26,716 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:26,743 INFO Welcome to the CDS
2022-10-13 15:01:26,744 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:26,803 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
d - testing:  0

2022-10-13 15:01:27,834 INFO Request is failed
2022-10-13 15:01:27,836 ERROR Message: an internal error occurred processing your request
2022-10-13 15:01:27,836 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:27,837 ERROR   Traceback (most recent call last):
2022-10-13 15:01:27,838 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 15:01:27,839 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 15:01:27,839 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 15:01:27,840 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 15:01:27,841 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 15:01:27,842 ERROR       return p(*args, **kwargs)
2022-10-13 15:01:27,842 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 15:01:27,843 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 15:01:27,844 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 15:01:27,844 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 15:01:27,845 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 15:01:27,845 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:27,872 INFO Welcome to the CDS
2022-10-13 15:01:27,873 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:27,934 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
d - testing:  32

2022-10-13 15:01:28,965 INFO Request is failed
2022-10-13 15:01:28,967 ERROR Message: an internal error occurred processing your request
2022-10-13 15:01:28,967 ERROR Reason:  When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:28,968 ERROR   Traceback (most recent call last):
2022-10-13 15:01:28,969 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 59, in handle_request
2022-10-13 15:01:28,970 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2022-10-13 15:01:28,970 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2022-10-13 15:01:28,971 ERROR       result = proc(context, *context.args, **context.kwargs)
2022-10-13 15:01:28,972 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 124, in __call__
2022-10-13 15:01:28,973 ERROR       return p(*args, **kwargs)
2022-10-13 15:01:28,973 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 60, in __call__
2022-10-13 15:01:28,974 ERROR       return self.proc(context, *args, **kwargs)
2022-10-13 15:01:28,975 ERROR     File "/home/cds/cdsservices/services/insitu/comprehensive_upper_air.py", line 88, in retrieve
2022-10-13 15:01:28,976 ERROR       f'When calling {res.request.url}\n ' \
2022-10-13 15:01:28,976 ERROR   AssertionError: When calling http://early-upper-air.copernicus-climate.eu/
2022-10-13 15:01:28,977 ERROR    Something went wrong in the data provider service, check your query and try later b'Internal Server Error'
2022-10-13 15:01:29,005 INFO Welcome to the CDS
2022-10-13 15:01:29,005 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:29,063 INFO Request is queued

an internal error occurred processing your request. When calling http://early-upper-air.copernicus-climate.eu/
 Something went wrong in the data provider service, check your query and try later b'Internal Server Error'.
ymd - testing: finished
20300 - testing:  country

2022-10-13 15:01:30,093 INFO Request is running
2022-10-13 15:01:31,624 INFO Request is completed
2022-10-13 15:01:31,626 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666091.1303477-16218-9-d81bb3f0-7088-45a2-bdaf-5da94251d478.zip to download.zip (74.7K)
2022-10-13 15:01:31,682 INFO Download rate 1.3M/s
2022-10-13 15:01:31,850 INFO Reading Profile on slice(None, None, None)
2022-10-13 15:01:31,859 INFO Reading Profile on slice(None, None, None)
2022-10-13 15:01:31,867 INFO Reading Profile on slice(None, None, None)
2022-10-13 15:01:31,875 INFO Reading Profile on slice(None, None, None)
2022-10-13 15:01:31,882 INFO Reading Profile on slice(None, None, None)
2022-10-13 15:01:31,890 INFO Reading Profile on slice(None, None, None)

Empty DataFrame
Columns: [lat, lon, obs, plev, report_id, station_id, ta, time]
Index: []

2022-10-13 15:01:31,950 INFO Welcome to the CDS
2022-10-13 15:01:31,951 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:32,006 INFO Request is queued

20300 - testing:  area

2022-10-13 15:01:33,035 INFO Request is running
2022-10-13 15:01:34,566 INFO Request is completed
2022-10-13 15:01:34,568 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665666093.2622397-30585-3-cfc1f908-6d59-41f2-869c-dbbcbb865d47.zip to download.zip (464.1K)
2022-10-13 15:01:34,672 INFO Download rate 4.4M/s
2022-10-13 15:01:34,696 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,-77.730003,-41.119999,0,4000.0,20000000004,ELLSWORTH IGY,212.449997,1957-04-01 04:00:00
1,-77.730003,-41.119999,0,5000.0,20000000004,ELLSWORTH IGY,213.550003,1957-04-01 04:00:00
2,-77.730003,-41.119999,0,6000.0,20000000004,ELLSWORTH IGY,214.449997,1957-04-01 04:00:00
3,-77.730003,-41.119999,0,7000.0,20000000004,ELLSWORTH IGY,215.350006,1957-04-01 04:00:00
4,-77.730003,-41.119999,0,8000.0,20000000004,ELLSWORTH IGY,216.149994,1957-04-01 04:00:00
...,...,...,...,...,...,...,...,...
64039,-77.730011,-41.119999,0,75000.0,20000002073,ELLSWORTH IGY,257.200012,1962-11-30 12:00:00
64040,-77.730011,-41.119999,0,80000.0,20000002073,ELLSWORTH IGY,259.200012,1962-11-30 12:00:00
64041,-77.730011,-41.119999,0,85000.0,20000002073,ELLSWORTH IGY,261.399994,1962-11-30 12:00:00
64042,-77.730011,-41.119999,0,90000.0,20000002073,ELLSWORTH IGY,261.399994,1962-11-30 12:00:00
64043,-77.730011,-41.119999,0,95000.0,20000002073,ELLSWORTH IGY,259.399994,1962-11-30 12:00:00

2022-10-13 15:01:34,886 INFO Welcome to the CDS
2022-10-13 15:01:34,887 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:01:34,942 INFO Request is queued

20300 - testing:  20300*

2022-10-13 15:01:35,973 INFO Request is running
2022-10-13 15:03:28,642 INFO Request is completed
2022-10-13 15:03:28,644 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666173.985675-22042-10-fa958d65-e961-44aa-b92f-1cc83f9b164b.zip to download.zip (221.4M)
2022-10-13 15:03:32,700 INFO Download rate 54.6M/s
2022-10-13 15:03:33,645 INFO Reading Profile on slice(None, None, None)

,lat,lon,obs,plev,report_id,station_id,ta,time
0,25.9,-81.720001,0,1000.0,20000000000,DELTA SEVEN,231.750000,1960-12-23 12:00:00
1,25.9,-81.720001,0,1500.0,20000000000,DELTA SEVEN,223.949997,1960-12-23 12:00:00
2,25.9,-81.720001,0,2000.0,20000000000,DELTA SEVEN,217.850006,1960-12-23 12:00:00
3,25.9,-81.720001,0,2500.0,20000000000,DELTA SEVEN,217.449997,1960-12-23 12:00:00
4,25.9,-81.720001,0,3000.0,20000000000,DELTA SEVEN,217.949997,1960-12-23 12:00:00
...,...,...,...,...,...,...,...,...
7705,25.9,-81.720001,0,85000.0,20000000505,DELTA SEVEN,291.350006,1962-09-13 14:00:00
7706,25.9,-81.720001,0,90000.0,20000000505,DELTA SEVEN,294.450012,1962-09-13 14:00:00
7707,25.9,-81.720001,0,95000.0,20000000505,DELTA SEVEN,297.350006,1962-09-13 14:00:00
7708,25.9,-81.720001,0,100000.0,20000000505,DELTA SEVEN,300.149994,1962-09-13 14:00:00
7709,25.9,-81.720001,0,101700.0,20000000505,DELTA SEVEN,301.149994,1962-09-13 14:00:00

2022-10-13 15:03:33,782 INFO Welcome to the CDS
2022-10-13 15:03:33,783 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:03:33,852 INFO Request is queued

20300 - testing: finished
cds - testing:  era5fb/date@hdr

2022-10-13 15:03:34,884 INFO Request is completed
2022-10-13 15:03:34,886 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665666214.3180764-22048-7-fa882d7f-32e1-4c54-9b6d-50c7d9a239a1.zip to download.zip (33K)
2022-10-13 15:03:34,958 INFO Download rate 463.8K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.03 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | date@hdr_____________________________________ : : (252,)
 - V | lat__________________________________________ : : (252,)
 - V | lon__________________________________________ : : (252,)
 - V | obs__________________________________________ : : (252,)
 - V | plev_________________________________________ : : (252,)
 - V | report_id____________________________________ : : (252, 11)
 - V | station_id___________________________________ : : (252, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (252,)
 - V | time_________________________________________ : : (252,)

2022-10-13 15:03:35,027 INFO Welcome to the CDS
2022-10-13 15:03:35,027 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:03:35,088 INFO Request is queued

cds - testing:  sensor_configuration/comments

2022-10-13 15:03:36,120 INFO Request is completed
2022-10-13 15:03:36,122 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666215.514011-22060-9-45c5729f-a68f-4764-9692-e5c047cb7678.zip to download.zip (675.3K)
2022-10-13 15:03:36,266 INFO Download rate 4.6M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.66 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (252,)
 - V | lon__________________________________________ : : (252,)
 - V | obs__________________________________________ : : (252,)
 - V | plev_________________________________________ : : (252,)
 - V | report_id____________________________________ : : (252, 11)
 - G | sensor_configuration_________________________ : : 1
 - V | station_id___________________________________ : : (252, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (252,)
 - V | time_________________________________________ : : (252,)

2022-10-13 15:03:36,333 INFO Welcome to the CDS
2022-10-13 15:03:36,334 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:03:36,398 INFO Request is queued

cds - testing:  sensor_configuration/observing_method

2022-10-13 15:03:37,430 INFO Request is completed
2022-10-13 15:03:37,432 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666216.9611769-22066-6-55ac436a-c7f2-4e5b-8c68-89311b26af5c.zip to download.zip (57.5K)
2022-10-13 15:03:37,505 INFO Download rate 799.6K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.06 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (252,)
 - V | lon__________________________________________ : : (252,)
 - V | obs__________________________________________ : : (252,)
 - V | plev_________________________________________ : : (252,)
 - V | report_id____________________________________ : : (252, 11)
 - G | sensor_configuration_________________________ : : 1
 - V | station_id___________________________________ : : (252, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (252,)
 - V | time_________________________________________ : : (252,)

2022-10-13 15:03:37,577 INFO Welcome to the CDS
2022-10-13 15:03:37,577 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:03:37,638 INFO Request is queued

cds - testing:  header_table/location_accuracy

2022-10-13 15:03:38,668 INFO Request is completed
2022-10-13 15:03:38,670 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666218.2258966-22093-5-5e05cc8a-16b7-452e-98f2-a131174e1f3d.zip to download.zip (412.7K)
2022-10-13 15:03:38,809 INFO Download rate 2.9M/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.40 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - G | header_table_________________________________ : : 1
 - V | lat__________________________________________ : : (252,)
 - V | lon__________________________________________ : : (252,)
 - V | obs__________________________________________ : : (252,)
 - V | plev_________________________________________ : : (252,)
 - V | report_id____________________________________ : : (252, 11)
 - V | station_id___________________________________ : : (252, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (252,)
 - V | time_________________________________________ : : (252,)

2022-10-13 15:03:38,883 INFO Welcome to the CDS
2022-10-13 15:03:38,884 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:03:38,946 INFO Request is queued

cds - testing:  crs

2022-10-13 15:03:39,977 INFO Request is completed
2022-10-13 15:03:39,979 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data0/adaptor.comprehensive_upper_air.retrieve-1665666219.4747138-30749-3-b9fe592c-6b71-4014-b4e1-b99dbfa08348.zip to download.zip (32.6K)
2022-10-13 15:03:40,051 INFO Download rate 459K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.03 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - G | crs__________________________________________ : : 4
 - V | lat__________________________________________ : : (252,)
 - V | lon__________________________________________ : : (252,)
 - V | obs__________________________________________ : : (252,)
 - V | plev_________________________________________ : : (252,)
 - V | report_id____________________________________ : : (252, 11)
 - V | station_id___________________________________ : : (252, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (252,)
 - V | time_________________________________________ : : (252,)

2022-10-13 15:03:40,122 INFO Welcome to the CDS
2022-10-13 15:03:40,123 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:03:40,182 INFO Request is queued

cds - testing:  observations_table/location_method

2022-10-13 15:03:41,213 INFO Request is completed
2022-10-13 15:03:41,214 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666220.7212443-30530-7-5c53f2cf-5f7e-4197-9393-1a31f41442cd.zip to download.zip (33.1K)
2022-10-13 15:03:41,267 INFO Download rate 644.7K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.03 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (252,)
 - V | location_method______________________________ : : (252,)
 - V | lon__________________________________________ : : (252,)
 - V | obs__________________________________________ : : (252,)
 - V | plev_________________________________________ : : (252,)
 - V | report_id____________________________________ : : (252, 11)
 - V | station_id___________________________________ : : (252, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (252,)
 - V | time_________________________________________ : : (252,)

2022-10-13 15:03:41,337 INFO Welcome to the CDS
2022-10-13 15:03:41,339 INFO Sending request to https://cds-test.copernicus-climate.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2022-10-13 15:03:41,401 INFO Request is queued

cds - testing:  era5fb/obsvalue@body

2022-10-13 15:03:42,435 INFO Request is completed
2022-10-13 15:03:42,436 INFO Downloading https://cds-test-download-0000.copernicus-climate.eu/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1665666221.792629-30539-6-12a22371-f4e7-4ffc-93a9-e53c86328223.zip to download.zip (30.5K)
2022-10-13 15:03:42,488 INFO Download rate 593.5K/s

File: <HDF5 file "dest_0-20001-0-11035_air_temperature.nc" (mode r)>
Filesize: 0.03 MB
Filename: ./test1/dest_0-20001-0-11035_air_temperature.nc
(G)roups/(V)ariables:

 - V | lat__________________________________________ : : (252,)
 - V | lon__________________________________________ : : (252,)
 - V | obs__________________________________________ : : (252,)
 - V | plev_________________________________________ : : (252,)
 - V | report_id____________________________________ : : (252, 11)
 - V | station_id___________________________________ : : (252, 25)
 - V | string11_____________________________________ : : (11,)
 - V | string25_____________________________________ : : (25,)
 - V | ta___________________________________________ : : (252,)
 - V | time_________________________________________ : : (252,)

cdm - testing: finished