In [1]:
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
from datetime import date
warnings.filterwarnings('ignore')

In [2]:
def request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test/')
    z.close()
    
    files = glob.glob('./test/*.nc')
    if len(files) > 0:
        ds = xarray.open_dataset(files[0])            
        to_be_removed = ['trajectory_index', 'trajectory']
        for ivar in list(ds.variables):
            if 'string' in ivar:
                to_be_removed.append(ivar)
            
            if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
                report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???
                
            if ds[ivar].ndim > 1:
                tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
                ds = ds.drop_vars(ivar)
                idim = tmp.dims[0]
                ds[ivar] = (idim, tmp)

        ds = ds.drop_vars(to_be_removed)
        data = ds.to_dataframe()
    else:
        files = glob.glob('./test/*.csv')
        data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test/')
    except:
       print('Error while deleting directory')
    
    return data

In [19]:
#
# returns the whole dataframe instead of just the first bit whenever there are more files retrieved from the cds
# only relevant, if you would like to have a look at the data
#
def multi_request(rqdict):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        'insitu-comprehensive-upper-air-observation-network',rqdict)
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
#     z = zipfile.ZipFile('download.zip')
#     z.extractall(path='./test_requests/')
#     z.close()
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./test/')
    z.close()
    
    datalist = []
    files = glob.glob('./test/*.nc')
    if len(files) > 0:
        for i in range(len(files)):
            ds = xarray.open_dataset(files[i])            
            to_be_removed = ['trajectory_index', 'trajectory']
            for ivar in list(ds.variables):
                if 'string' in ivar:
                    to_be_removed.append(ivar)

                if 'trajectory' in ds[ivar].dims and ivar not in list(ds.coords):
                    report_id = ds[ivar].astype(object).sum(axis=1).astype(str)
                    ds = ds.drop_vars(ivar)
                    ds[ivar] = ('obs', report_id.values[ds.trajectory_index.values])  # todo obs ???

                if ds[ivar].ndim > 1:
                    tmp= ds[ivar].astype(object).sum(axis=1).astype(str)
                    ds = ds.drop_vars(ivar)
                    idim = tmp.dims[0]
                    ds[ivar] = (idim, tmp)

            ds = ds.drop_vars(to_be_removed)
            data = ds.to_dataframe()
            datalist.append(data)
        data = pd.concat(datalist, axis=0)
    else:
        files = glob.glob('./test/*.csv')
        data = pd.read_csv(files[0])
    
    os.remove('download.zip')
    try:
       shutil.rmtree('./test/')
    except:
       print('Error while deleting directory')
    
    return data

In [4]:
def test_statid():
    log = []
    log.append('\n\n---STATID---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'all', 11035, '11035', '0-20000-0-11035', '0-20100-0-00701','11*', '1103*', '0-20100*', ['11035', 10393], ['0-20000-0-11035', '0-20000-0-10393']]:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['110350', '1103', '0-20000-0-1103', '0-20000-0-110350']:
        print('statid - testing: ', s)
        rd={
            'variable':'air_temperature',
            'statid':s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        }
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('statid - testing: finished')
    return log

In [5]:
def test_variable():
    log = []
    log.append('\n\n---VARIABLE---')
    cachworkaround = np.random.random_sample()
    for s in ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['temperature', 'dew_point', 'wind', 'humidity', 'sonde_type']:
        print('variable - testing: ', s)
        rd={
            'variable': s,
            'statid': '0-20000-0-11035',
            'date': '20150101-20150131',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('variable - testing: finished')
    return log

In [6]:
def test_optional():
    log = []
    log.append('\n\n---OPTIONAL---')
    cachworkaround = np.random.random_sample()
    for s in ['sonde_type', 'bias_estimate', 'obs_minus_an', 'obs_minus_bg']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ ' - ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['sonde', 'air_temperature', 'dew_point_temperature']:
        print('optional - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': ['0-20000-0-11035', '0-20100-0-00701'],
            'date': '19781001-19781031',
            'optional': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('optional - testing: finished')
    return log

In [7]:
def test_area():
    log = []
    log.append('\n\n---AREA---')
    cachworkaround = np.random.random_sample()
    for s in [[80,140,-40,359], [50,0,40,20], [49,-180,48,180], [49,0,48,360], [90, -180, -90, 180]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [[80,140,70], [80,140,70,150,0],[0,0,0,0], [40,20,50,0], [49,-180,48,360]]:
        print('area - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'area': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('area - testing: finished')
    return log

In [8]:
def test_country():
    log = []
    log.append('\n\n---COUNTRY---')
    cachworkaround = np.random.random_sample()
    for s in ['GLOBE', 'ALL', 'NOR', ["NOR","DEU"]]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['NORWAY', 'nor',]:
        print('country - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'country': s,
            'date': '19781001-19781031',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('country - testing: finished')
    return log

In [9]:
def test_date(): 
    log = []
    log.append('\n\n---DATE---')
    cachworkaround = np.random.random_sample()
    for s in [None, '20000231', '20000101', '20000101-20000201', ['20000101', '20000103', '20000106'], ['20000102', '20000101']]:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['2000011', '20000100', '00000000', '20000132', '20001301', '20000201-20000101', '20000101/20000201']:
        print('date - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('date - testing: finished')
    return log

In [10]:
def test_period(): 
    log = []
    log.append('\n\n---PERIOD---')
    # not working: ['1979-01-01/1980-08-16']
    cachworkaround = np.random.random_sample()
    for s in [None, '1979-01-01/1980-08-16']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['1980-01-02/1980-01-01']:
        print('period - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'period': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('period - testing: finished')
    return log

In [11]:
def test_pressure_level():
    log = []
    log.append('\n\n---PRESSURE LEVEL---')
    cachworkaround = np.random.random_sample()
    for s in [100, '100', [100, 200], ['100', '200']]:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    for s in ['0', '2000']:
        print('pressure_level - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101',
            'pressure_level': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
        
    print('pressure_level - testing: finished')
    return log

In [12]:
def test_time():
    log = []
    log.append('\n\n---TIME---')
    cachworkaround = np.random.random_sample()
    for s in [[22,23,0,1,2,3], ["22","23","00","01","02","03"], '', '0', '00', ["00"], [0,12], ["0","12"]]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['24', '25', '12.5', ]:
        print('time - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'time': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('time - testing: finished')
    return log

In [13]:
def test_format():
    log = []
    log.append('\n\n---FORMAT---')
    cachworkaround = np.random.random_sample()
    for s in [None, 'csv', 'nc']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in ['netcdf', 'csb', 'txt']:
        print('format - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'date': '20100101-20100201',
            'format': s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('format - testing: finished')
    return log

In [14]:
def test_ymd():
    log = []
    # if one of them is None -> no date selected = the whole dataset - change?
    cachworkaround = np.random.random_sample()
    log.append('\n\n---YEAR---')
    for s in [None, 2000, '2000', ['2000', '2001'], [2000, 2001]]:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    for s in [0, '20000', '-2000']:
        print('y - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': s,
            'month': '01',
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---MONTH---')
    for s in [None, 1, '1', '01', ['01', '02'], ['1', '2'], [1, 2]]:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '13']:
        print('m - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': s,
            'day':'01',
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    log.append('\n\n---DAY---')
    for s in ['01', '31', ['01', '02'], ['1', '2'], [1, 2]]:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try:
            display(request(rd))
            log.append('\n1 request successful: ' + str(s))
        except Exception as e:
            log.append('\n0 request failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    for s in ['00', 0, '32']:
        print('d - testing: ', s)
        rd={
            'variable': 'air_temperature',
            'statid': '11035',
            'year': '2000',
            'month': '01',
            'day':s,
            'cachworkaround': cachworkaround,
        } 
        try: 
            display(request(rd))
            log.append('\n0 request falsely successful: ' + str(s))
        except Exception as e:
            print(e)
            log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('ymd - testing: finished')
    return log

In [15]:
def test_size():
    log = []
    log.append('\n\n---SIZE---')
    cachworkaround = np.random.random_sample()
    s = 'air_temperature 11035'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '11035',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'air_temperature 10393'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '10393',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = 'air_temperature 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    s = 'air_temperature everything'
    print('size - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'all variables 1 month all stations'
    print('size - testing: ', s)
    rd={
        'variable': ['air_temperature', 'dew_point_temperature', 'eastward_wind_speed', 'northward_wind_speed', 'relative_humidity', 'specific_humidity', 'wind_from_direction', 'wind_speed'],
        'date': '20100101-20100201',
        'cachworkaround': cachworkaround,
    }
    try: 
        display(request(rd))
        log.append('\n0 request falsely successful: ' + str(s))
    except Exception as e:
        print(e)
        log.append('\n1 request successfully failed: ' + str(s)+ '\n     ' + e.args[0].split('try later b')[-1])
            
    print('size - testing: finished')
    return log

In [16]:
def test_20300():
    log = []
    log.append('\n\n---20300---')
    cachworkaround = np.random.random_sample()
    s = 'country'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'country': 'KAZ',
        'date': '20191230-20191231',
        'cachworkaround': cachworkaround,
    } 
    try:
        check_data = multi_request(rd)
#         check_data = check_data[check_data.lat == 50][check_data.lon == 50]
        display(check_data)
        if(len(check_data) < 1):
            log.append('\n0 request failed: ' + str(s))
        else:
            log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
    
    s = 'area'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'area': [51,49,49,51],
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
        
    s = '20300*'
    print('20300 - testing: ', s)
    rd={
        'variable': 'air_temperature',
        'statid': '0-20300*',
#         'date': '20021001-20021101',
        'cachworkaround': cachworkaround,
    } 
    try:
        display(request(rd))
        log.append('\n1 request successful: ' + str(s))
    except Exception as e:
        log.append('\n0 request failed: ' + str(s) + '\n     ' + e.args[0].split('try later b')[-1])
            
    print('20300 - testing: finished')
    return log

In [17]:
def server_test():
    log = []
    log.append('Testing Server Requests \n')
    log.append('0 = failed | 1 = succeeded \n')
    a = !git rev-parse HEAD
    log.append('GIT revision: ' + str(a) + ' \n')
    log.append(str(date.today())+ ' \n')
    try: log.extend(test_statid())
    except: log.append('\nstatid - test: failed \n')
    try: log.extend(test_variable())
    except: log.append('\nvariable - test: failed \n')
    try: log.extend(test_optional())
    except: log.append('\noptional - test: failed \n')
    try: log.extend(test_area())
    except: log.append('\narea - test: failed \n')
    try: log.extend(test_country())
    except: log.append('\ncountry - test: failed \n')
    try: log.extend(test_date())
    except: log.append('\ndate - test: failed \n')
    try: log.extend(test_period())
    except: log.append('\nperiod - test: failed \n')
    try: log.extend(test_pressure_level())
    except: log.append('\npressure_level - test: failed \n')
    try: log.extend(test_time())
    except: log.append('\ntime - test: failed \n')
    try: log.extend(test_format())
    except: log.append('\nformat - test: failed \n')
    try: log.extend(test_ymd())
    except: log.append('\nymd - test: failed \n')
    try: log.extend(test_size())
    except: log.append('\nsize - test: failed \n')
    try: log.extend(test_20300())
    except: log.append('\n20300 - test: failed \n')
        
    writelog=open(str(date.today()) + '_server_test_log.txt','w')
    writelog.writelines(log)
    writelog.close()

In [18]:
server_test()

2021-01-08 09:24:11,193 INFO Welcome to the CDS
2021-01-08 09:24:11,194 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

statid - testing:  None

2021-01-08 09:24:11,495 INFO Request is queued
2021-01-08 09:24:12,532 INFO Request is running
2021-01-08 09:24:43,941 INFO Request is completed
2021-01-08 09:24:43,941 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094281.5851572-13373-5-915225f9-9814-42d5-a516-05c1444648c5.zip to download.zip (49.7M)
2021-01-08 09:24:45,028 INFO Download rate 45.8M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-08 09:24:50,424 INFO Welcome to the CDS
2021-01-08 09:24:50,424 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:24:50,487 INFO Request is queued

statid - testing:  all

2021-01-08 09:24:51,522 INFO Request is running
2021-01-08 09:25:22,934 INFO Request is completed
2021-01-08 09:25:22,934 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094321.0480528-6516-20-98005c91-7f32-43b6-9528-5f9516136ccf.zip to download.zip (49.7M)
2021-01-08 09:25:24,358 INFO Download rate 34.9M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-08 09:25:25,338 INFO Welcome to the CDS
2021-01-08 09:25:25,339 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:25,399 INFO Request is queued

statid - testing:  11035

2021-01-08 09:25:26,435 INFO Request is completed
2021-01-08 09:25:26,436 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094325.7222834-13657-1-90c030bc-d6f5-44d8-b0ec-c7d05df06a79.zip to download.zip (48.2K)
2021-01-08 09:25:26,525 INFO Download rate 543.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-08 09:25:26,616 INFO Welcome to the CDS
2021-01-08 09:25:26,616 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:26,675 INFO Request is queued

statid - testing:  11035

2021-01-08 09:25:27,710 INFO Request is completed
2021-01-08 09:25:27,711 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094326.8992994-19386-7-18f8f770-6fa1-4b69-80cc-85c153d5b909.zip to download.zip (48.2K)
2021-01-08 09:25:27,830 INFO Download rate 405.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-08 09:25:27,924 INFO Welcome to the CDS
2021-01-08 09:25:27,925 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:27,981 INFO Request is queued

statid - testing:  0-20000-0-11035

2021-01-08 09:25:29,017 INFO Request is completed
2021-01-08 09:25:29,018 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094328.294827-7274-20-cfc55485-e438-43d8-b314-03768a648063.zip to download.zip (48.2K)
2021-01-08 09:25:29,142 INFO Download rate 390.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-08 09:25:29,234 INFO Welcome to the CDS
2021-01-08 09:25:29,234 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:29,291 INFO Request is queued

statid - testing:  0-20100-0-00701

2021-01-08 09:25:30,326 INFO Request is completed
2021-01-08 09:25:30,326 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094329.6692297-10049-1-d7519334-5407-4e3f-8d72-25c17cd28e46.zip to download.zip (32.1K)
2021-01-08 09:25:30,389 INFO Download rate 512K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-08 09:25:30,481 INFO Welcome to the CDS
2021-01-08 09:25:30,481 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:30,538 INFO Request is queued

statid - testing:  11*

2021-01-08 09:25:31,573 INFO Request is completed
2021-01-08 09:25:31,574 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094331.462108-7417-12-8cb1849b-09af-46d3-96af-fc5014d9882b.zip to download.zip (1.1M)
2021-01-08 09:25:32,600 INFO Download rate 1.1M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,19.299999,-81.37001,29100.0,238.800003,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,30000.0,240.399994,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35000.0,249.699997,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35200.0,250.000000,1978-10-01 00:00:00,20000015013
0,19.299999,-81.37001,35900.0,251.100006,1978-10-01 00:00:00,20000015013
...,...,...,...,...,...,...
0,19.299999,-81.37001,85000.0,290.399994,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,90000.0,292.899994,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,93900.0,294.700012,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,95000.0,295.600006,1978-10-31 12:00:00,20000015074
0,19.299999,-81.37001,100000.0,299.500000,1978-10-31 12:00:00,20000015074

2021-01-08 09:25:32,720 INFO Welcome to the CDS
2021-01-08 09:25:32,720 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:32,779 INFO Request is queued

statid - testing:  1103*

2021-01-08 09:25:33,816 INFO Request is completed
2021-01-08 09:25:33,817 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094332.9944568-6556-21-5a8534cf-8623-4465-802e-7458a3364640.zip to download.zip (48.2K)
2021-01-08 09:25:33,905 INFO Download rate 546.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-08 09:25:33,999 INFO Welcome to the CDS
2021-01-08 09:25:33,999 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:34,062 INFO Request is queued

statid - testing:  0-20100*

2021-01-08 09:25:35,099 INFO Request is completed
2021-01-08 09:25:35,099 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094334.4490554-17837-1-c73e4b18-4122-4075-b888-82454eb60d61.zip to download.zip (106.4K)
2021-01-08 09:25:35,217 INFO Download rate 904.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,5000.0,212.95,1978-10-11 08:51:48,0-20100-0-00703-002
0,46.811578,6.942472,7000.0,212.65,1978-10-11 08:45:18,0-20100-0-00703-002
0,46.811578,6.942472,10000.0,209.15,1978-10-11 08:38:12,0-20100-0-00703-002
0,46.811578,6.942472,15000.0,211.75,1978-10-11 08:29:54,0-20100-0-00703-002
0,46.811578,6.942472,20000.0,212.25,1978-10-11 08:23:54,0-20100-0-00703-002
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,243.15,1978-10-20 12:26:54,0-20100-0-00703-041
0,46.811578,6.942472,50000.0,256.25,1978-10-20 12:20:54,0-20100-0-00703-041
0,46.811578,6.942472,70000.0,272.95,1978-10-20 12:11:42,0-20100-0-00703-041
0,46.811578,6.942472,85000.0,274.35,1978-10-20 12:05:42,0-20100-0-00703-041
0,46.811578,6.942472,90000.0,274.95,1978-10-20 12:04:06,0-20100-0-00703-041

2021-01-08 09:25:35,315 INFO Welcome to the CDS
2021-01-08 09:25:35,315 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:35,375 INFO Request is queued

statid - testing:  ['11035', 10393]

2021-01-08 09:25:36,411 INFO Request is completed
2021-01-08 09:25:36,411 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094335.7079422-3229-3-6c5ddc64-4316-4f27-b865-47a4d44c5d12.zip to download.zip (108.3K)
2021-01-08 09:25:36,531 INFO Download rate 905.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-08 09:25:36,626 INFO Welcome to the CDS
2021-01-08 09:25:36,626 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:36,690 INFO Request is queued

statid - testing:  ['0-20000-0-11035', '0-20000-0-10393']

2021-01-08 09:25:37,726 INFO Request is completed
2021-01-08 09:25:37,726 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094337.0231347-30483-22-f2e70914-f045-42f9-88ef-af25ce5b507f.zip to download.zip (108.3K)
2021-01-08 09:25:37,844 INFO Download rate 921.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,1800.0,218.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,2000.0,218.500000,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3000.0,216.899994,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3200.0,216.699997,1978-10-01 00:00:00,40044763848
0,48.25,16.370001,3700.0,218.500000,1978-10-01 00:00:00,40044763848
...,...,...,...,...,...,...
0,48.25,16.370001,92500.0,280.149994,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,93500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,94500.0,280.750000,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100000.0,285.350006,1978-10-31 12:00:00,40044847546
0,48.25,16.370001,100400.0,285.750000,1978-10-31 12:00:00,40044847546

2021-01-08 09:25:37,941 INFO Welcome to the CDS
2021-01-08 09:25:37,941 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:38,002 INFO Request is queued

statid - testing:  110350

2021-01-08 09:25:39,038 INFO Request is failed
2021-01-08 09:25:39,039 ERROR Message: an internal error occurred processing your request
2021-01-08 09:25:39,039 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-08 09:25:39,039 ERROR   Traceback (most recent call last):
2021-01-08 09:25:39,039 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:25:39,040 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:25:39,040 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:25:39,040 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:25:39,041 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:25:39,041 ERROR       return p(*args, **kwargs)
2021-01-08 09:25:39,041 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:25:39,041 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:25:39,042 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:25:39,042 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:25:39,043 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-08 09:25:39,074 INFO Welcome to the CDS
2021-01-08 09:25:39,074 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:39,131 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing:  1103

2021-01-08 09:25:40,166 INFO Request is failed
2021-01-08 09:25:40,167 ERROR Message: an internal error occurred processing your request
2021-01-08 09:25:40,167 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-08 09:25:40,168 ERROR   Traceback (most recent call last):
2021-01-08 09:25:40,168 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:25:40,168 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:25:40,168 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:25:40,169 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:25:40,169 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:25:40,169 ERROR       return p(*args, **kwargs)
2021-01-08 09:25:40,170 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:25:40,170 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:25:40,170 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:25:40,170 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:25:40,171 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-08 09:25:40,202 INFO Welcome to the CDS
2021-01-08 09:25:40,203 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:40,266 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing:  0-20000-0-1103

2021-01-08 09:25:41,301 INFO Request is failed
2021-01-08 09:25:41,302 ERROR Message: an internal error occurred processing your request
2021-01-08 09:25:41,302 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-08 09:25:41,303 ERROR   Traceback (most recent call last):
2021-01-08 09:25:41,303 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:25:41,303 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:25:41,304 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:25:41,304 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:25:41,304 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:25:41,305 ERROR       return p(*args, **kwargs)
2021-01-08 09:25:41,305 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:25:41,306 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:25:41,306 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:25:41,306 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:25:41,306 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-08 09:25:41,337 INFO Welcome to the CDS
2021-01-08 09:25:41,338 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:41,395 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing:  0-20000-0-110350

2021-01-08 09:25:42,430 INFO Request is failed
2021-01-08 09:25:42,431 ERROR Message: an internal error occurred processing your request
2021-01-08 09:25:42,431 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-08 09:25:42,431 ERROR   Traceback (most recent call last):
2021-01-08 09:25:42,432 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:25:42,432 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:25:42,432 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:25:42,432 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:25:42,433 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:25:42,433 ERROR       return p(*args, **kwargs)
2021-01-08 09:25:42,433 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:25:42,434 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:25:42,434 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:25:42,434 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:25:42,434 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'
2021-01-08 09:25:42,466 INFO Welcome to the CDS
2021-01-08 09:25:42,466 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:42,524 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"statid not available - please select an area, country or check your statid"'.
statid - testing: finished
variable - testing:  air_temperature

2021-01-08 09:25:43,560 INFO Request is completed
2021-01-08 09:25:43,560 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094342.7720485-32005-2-6e4844b2-08b7-4203-ba60-ba46bd2fd5e0.zip to download.zip (99.5K)
2021-01-08 09:25:43,679 INFO Download rate 841.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2021-01-08 09:25:43,772 INFO Welcome to the CDS
2021-01-08 09:25:43,773 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:43,830 INFO Request is queued

variable - testing:  dew_point_temperature

2021-01-08 09:25:44,865 INFO Request is completed
2021-01-08 09:25:44,866 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094344.2725616-2192-1-7d987b08-b2b1-491c-a8e9-6dc5d119a92e.zip to download.zip (99.3K)
2021-01-08 09:25:44,984 INFO Download rate 841.9K/s

,dew_point_temperature,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,187.899994,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,187.899994,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,187.300003,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,187.100006,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,184.699997,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,260.730011,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,260.910004,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,265.450012,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,268.019989,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,270.109985,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2021-01-08 09:25:45,079 INFO Welcome to the CDS
2021-01-08 09:25:45,080 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:45,157 INFO Request is queued

variable - testing:  eastward_wind_speed

2021-01-08 09:25:46,192 INFO Request is completed
2021-01-08 09:25:46,193 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094345.5780222-22012-1-a3bb3f7a-fc53-4538-950d-4cf7ff034b04.zip to download.zip (110.5K)
2021-01-08 09:25:46,312 INFO Download rate 929.9K/s

,lat,lon,plev,time,ua,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,27.712812,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,29.908157,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,29.001850,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,26.282927,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,14.912988,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.833590,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,0.881049,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,-1.667180,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,-1.180919,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,-0.985890,10000051145

2021-01-08 09:25:46,406 INFO Welcome to the CDS
2021-01-08 09:25:46,407 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:46,466 INFO Request is queued

variable - testing:  northward_wind_speed

2021-01-08 09:25:47,500 INFO Request is completed
2021-01-08 09:25:47,501 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094346.8088298-31619-9-25d02ed5-3401-4777-bc8b-75e76bb08205.zip to download.zip (110.6K)
2021-01-08 09:25:47,620 INFO Download rate 929.9K/s

,lat,lon,plev,time,va,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,-16.000000,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,-13.946403,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,-13.523785,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,-12.255930,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,-21.297953,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,2015-01-31 23:30:09,0.863208,10000051145
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.088004,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,1.726416,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.222878,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,1.854190,10000051145

2021-01-08 09:25:47,713 INFO Welcome to the CDS
2021-01-08 09:25:47,714 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:47,772 INFO Request is queued

variable - testing:  relative_humidity

2021-01-08 09:25:48,808 INFO Request is completed
2021-01-08 09:25:48,808 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094347.9883652-6581-2-939c6efa-a168-450e-8325-5dd0d836cea6.zip to download.zip (105.6K)
2021-01-08 09:25:48,926 INFO Download rate 897.6K/s

,hur,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.018269,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.016112,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.015643,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.015489,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.020350,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.436792,48.248901,16.357300,85250.0,2015-01-31 23:30:09,10000051145
0,0.436065,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.540391,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.686344,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.887677,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145

2021-01-08 09:25:49,021 INFO Welcome to the CDS
2021-01-08 09:25:49,021 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:49,081 INFO Request is queued

variable - testing:  specific_humidity

2021-01-08 09:25:50,116 INFO Request is completed
2021-01-08 09:25:50,117 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094349.3916175-7192-14-e04e0b36-01e6-4c57-90de-cf4d18b064a6.zip to download.zip (107.2K)
2021-01-08 09:25:50,235 INFO Download rate 912.7K/s

,hus,lat,lon,plev,time,trajectory_label
obs,,,,,,
0,0.000029,48.250000,16.360001,910.0,2015-01-01 12:00:00,10000051065
0,0.000027,48.250000,16.360001,980.0,2015-01-01 12:00:00,10000051065
0,0.000024,48.250000,16.360001,1000.0,2015-01-01 12:00:00,10000051065
0,0.000020,48.250000,16.360001,1120.0,2015-01-01 12:00:00,10000051065
0,0.000012,48.250000,16.360001,1190.0,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,0.001742,48.248901,16.357300,85540.0,2015-01-31 23:30:09,10000051145
0,0.002329,48.248901,16.357300,91660.0,2015-01-31 23:30:09,10000051145
0,0.002811,48.248901,16.357300,92500.0,2015-01-31 23:30:09,10000051145
0,0.003221,48.248901,16.357300,94490.0,2015-01-31 23:30:09,10000051145
0,0.003152,48.248901,16.357300,96620.0,2015-01-31 23:30:09,10000051145

2021-01-08 09:25:50,329 INFO Welcome to the CDS
2021-01-08 09:25:50,330 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:50,387 INFO Request is queued

variable - testing:  wind_from_direction

2021-01-08 09:25:51,423 INFO Request is completed
2021-01-08 09:25:51,423 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094350.7853138-25528-1-3e20e387-9841-4351-81aa-c498237e4181.zip to download.zip (98.8K)
2021-01-08 09:25:51,541 INFO Download rate 839.2K/s

,lat,lon,plev,time,wind_from_direction,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,300.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,295.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,325.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,219.0,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,136.0,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,152.0,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,5.0,10000051145

2021-01-08 09:25:51,635 INFO Welcome to the CDS
2021-01-08 09:25:51,635 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:51,690 INFO Request is queued

variable - testing:  wind_speed

2021-01-08 09:25:52,726 INFO Request is completed
2021-01-08 09:25:52,726 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094351.9002736-12575-3-0cb829a4-1c59-456f-a1c2-36068142a43f.zip to download.zip (100.9K)
2021-01-08 09:25:52,845 INFO Download rate 851.8K/s

,lat,lon,plev,time,wind_speed,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,970.0,2015-01-01 12:00:00,33.0,10000051065
0,48.250000,16.360001,1000.0,2015-01-01 12:00:00,32.0,10000051065
0,48.250000,16.360001,1080.0,2015-01-01 12:00:00,29.0,10000051065
0,48.250000,16.360001,1150.0,2015-01-01 12:00:00,26.0,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85540.0,2015-01-31 23:30:09,1.4,10000051145
0,48.248901,16.357300,91660.0,2015-01-31 23:30:09,2.4,10000051145
0,48.248901,16.357300,92500.0,2015-01-31 23:30:09,1.7,10000051145
0,48.248901,16.357300,94490.0,2015-01-31 23:30:09,2.1,10000051145
0,48.248901,16.357300,96620.0,2015-01-31 23:30:09,1.0,10000051145

2021-01-08 09:25:53,029 INFO Welcome to the CDS
2021-01-08 09:25:53,029 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:53,087 INFO Request is queued

variable - testing:  temperature

2021-01-08 09:25:54,122 INFO Request is completed
2021-01-08 09:25:54,123 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094342.7720485-32005-2-6e4844b2-08b7-4203-ba60-ba46bd2fd5e0.zip to download.zip (99.5K)
2021-01-08 09:25:54,240 INFO Download rate 846.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.250000,16.360001,910.0,214.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,980.0,215.899994,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1000.0,215.300003,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1120.0,215.100006,2015-01-01 12:00:00,10000051065
0,48.250000,16.360001,1190.0,209.699997,2015-01-01 12:00:00,10000051065
...,...,...,...,...,...,...
0,48.248901,16.357300,85250.0,271.470001,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,85540.0,271.690002,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,91660.0,273.670013,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,92500.0,273.089996,2015-01-31 23:30:09,10000051145
0,48.248901,16.357300,94490.0,271.720001,2015-01-31 23:30:09,10000051145

2021-01-08 09:25:54,334 INFO Welcome to the CDS
2021-01-08 09:25:54,334 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:54,394 INFO Request is queued

variable - testing:  dew_point

2021-01-08 09:25:55,429 INFO Request is failed
2021-01-08 09:25:55,429 ERROR Message: an internal error occurred processing your request
2021-01-08 09:25:55,430 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2021-01-08 09:25:55,430 ERROR   Traceback (most recent call last):
2021-01-08 09:25:55,430 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:25:55,430 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:25:55,431 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:25:55,431 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:25:55,431 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:25:55,431 ERROR       return p(*args, **kwargs)
2021-01-08 09:25:55,432 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:25:55,432 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:25:55,432 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:25:55,433 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:25:55,433 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'
2021-01-08 09:25:55,464 INFO Welcome to the CDS
2021-01-08 09:25:55,464 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:55,522 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: dew_point"'.
variable - testing:  wind

2021-01-08 09:25:56,558 INFO Request is failed
2021-01-08 09:25:56,559 ERROR Message: an internal error occurred processing your request
2021-01-08 09:25:56,559 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2021-01-08 09:25:56,559 ERROR   Traceback (most recent call last):
2021-01-08 09:25:56,560 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:25:56,560 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:25:56,560 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:25:56,560 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:25:56,561 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:25:56,561 ERROR       return p(*args, **kwargs)
2021-01-08 09:25:56,561 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:25:56,562 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:25:56,562 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:25:56,562 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:25:56,562 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'
2021-01-08 09:25:56,593 INFO Welcome to the CDS
2021-01-08 09:25:56,594 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:56,652 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: wind"'.
variable - testing:  humidity

2021-01-08 09:25:57,689 INFO Request is failed
2021-01-08 09:25:57,690 ERROR Message: an internal error occurred processing your request
2021-01-08 09:25:57,690 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2021-01-08 09:25:57,690 ERROR   Traceback (most recent call last):
2021-01-08 09:25:57,691 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:25:57,691 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:25:57,691 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:25:57,691 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:25:57,692 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:25:57,692 ERROR       return p(*args, **kwargs)
2021-01-08 09:25:57,692 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:25:57,693 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:25:57,693 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:25:57,693 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:25:57,693 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'
2021-01-08 09:25:57,725 INFO Welcome to the CDS
2021-01-08 09:25:57,725 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:57,787 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: humidity"'.
variable - testing:  sonde_type

2021-01-08 09:25:58,822 INFO Request is failed
2021-01-08 09:25:58,823 ERROR Message: an internal error occurred processing your request
2021-01-08 09:25:58,823 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2021-01-08 09:25:58,823 ERROR   Traceback (most recent call last):
2021-01-08 09:25:58,823 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:25:58,824 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:25:58,824 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:25:58,824 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:25:58,825 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:25:58,825 ERROR       return p(*args, **kwargs)
2021-01-08 09:25:58,825 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:25:58,825 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:25:58,826 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:25:58,826 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:25:58,826 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'
2021-01-08 09:25:58,857 INFO Welcome to the CDS
2021-01-08 09:25:58,858 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:25:58,914 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid variable selected: sonde_type"'.
variable - testing: finished
optional - testing:  sonde_type

2021-01-08 09:25:59,950 INFO Request is completed
2021-01-08 09:25:59,950 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094359.386066-7441-1-b4ff924c-a99e-4e40-9f51-ac0b4e80e38e.zip to download.zip (91K)
2021-01-08 09:26:00,068 INFO Download rate 774.6K/s

,lat,lon,plev,ta,time,sonde_type,trajectory_label
obs,,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,S09,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,S09,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,S09,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,S09,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,S09,0-20100-0-00701-001
...,...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,S09,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,S09,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,S09,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,S09,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,S09,0-20100-0-00701-054

2021-01-08 09:26:00,227 INFO Welcome to the CDS
2021-01-08 09:26:00,228 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:26:00,285 INFO Request is queued

optional - testing:  bias_estimate

2021-01-08 09:26:01,320 INFO Request is completed
2021-01-08 09:26:01,320 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094360.811415-7556-1-38b2bd23-e024-4ed0-a5f0-93d811e118be.zip to download.zip (87.5K)
2021-01-08 09:26:01,439 INFO Download rate 741.7K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-08 09:26:01,532 INFO Welcome to the CDS
2021-01-08 09:26:01,533 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:26:01,591 INFO Request is queued

optional - testing:  obs_minus_an

2021-01-08 09:26:02,626 INFO Request is completed
2021-01-08 09:26:02,627 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094361.8943794-15865-9-8659992b-559d-4808-b109-78a5a8b100d5.zip to download.zip (90.6K)
2021-01-08 09:26:02,718 INFO Download rate 999.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-08 09:26:02,812 INFO Welcome to the CDS
2021-01-08 09:26:02,812 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:26:02,874 INFO Request is queued

optional - testing:  obs_minus_bg

2021-01-08 09:26:03,909 INFO Request is completed
2021-01-08 09:26:03,910 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094363.1752503-13956-4-be95ec7d-5b2d-4c9f-8f64-55bbfe13ddf1.zip to download.zip (90.6K)
2021-01-08 09:26:04,030 INFO Download rate 755.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,46.811578,6.942472,3000.0,213.35,1978-10-10 10:59:12,0-20100-0-00701-001
0,46.811578,6.942472,5000.0,210.85,1978-10-10 10:50:24,0-20100-0-00701-001
0,46.811578,6.942472,7000.0,209.15,1978-10-10 10:44:42,0-20100-0-00701-001
0,46.811578,6.942472,10000.0,207.85,1978-10-10 10:38:54,0-20100-0-00701-001
0,46.811578,6.942472,15000.0,205.55,1978-10-10 10:30:18,0-20100-0-00701-001
...,...,...,...,...,...,...
0,46.811578,6.942472,40000.0,245.25,1978-10-31 10:10:30,0-20100-0-00701-054
0,46.811578,6.942472,50000.0,257.05,1978-10-31 10:04:42,0-20100-0-00701-054
0,46.811578,6.942472,70000.0,275.15,1978-10-31 09:55:06,0-20100-0-00701-054
0,46.811578,6.942472,85000.0,283.65,1978-10-31 09:48:54,0-20100-0-00701-054
0,46.811578,6.942472,90000.0,283.95,1978-10-31 09:47:00,0-20100-0-00701-054

2021-01-08 09:26:04,122 INFO Welcome to the CDS
2021-01-08 09:26:04,123 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:26:04,180 INFO Request is queued

optional - testing:  sonde

2021-01-08 09:26:05,216 INFO Request is failed
2021-01-08 09:26:05,217 ERROR Message: an internal error occurred processing your request
2021-01-08 09:26:05,217 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2021-01-08 09:26:05,217 ERROR   Traceback (most recent call last):
2021-01-08 09:26:05,218 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:26:05,218 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:26:05,218 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:26:05,218 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:26:05,219 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:26:05,219 ERROR       return p(*args, **kwargs)
2021-01-08 09:26:05,219 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:26:05,220 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:26:05,221 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:26:05,221 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:26:05,221 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'
2021-01-08 09:26:05,252 INFO Welcome to the CDS
2021-01-08 09:26:05,252 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:26:05,320 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: sonde"'.
optional - testing:  air_temperature

2021-01-08 09:26:06,356 INFO Request is failed
2021-01-08 09:26:06,357 ERROR Message: an internal error occurred processing your request
2021-01-08 09:26:06,357 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2021-01-08 09:26:06,357 ERROR   Traceback (most recent call last):
2021-01-08 09:26:06,357 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:26:06,358 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:26:06,358 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:26:06,358 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:26:06,359 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:26:06,359 ERROR       return p(*args, **kwargs)
2021-01-08 09:26:06,359 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:26:06,359 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:26:06,361 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:26:06,361 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:26:06,361 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'
2021-01-08 09:26:06,391 INFO Welcome to the CDS
2021-01-08 09:26:06,391 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:26:06,454 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: air_temperature"'.
optional - testing:  dew_point_temperature

2021-01-08 09:26:07,489 INFO Request is failed
2021-01-08 09:26:07,490 ERROR Message: an internal error occurred processing your request
2021-01-08 09:26:07,490 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2021-01-08 09:26:07,491 ERROR   Traceback (most recent call last):
2021-01-08 09:26:07,491 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:26:07,491 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:26:07,491 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:26:07,492 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:26:07,492 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:26:07,492 ERROR       return p(*args, **kwargs)
2021-01-08 09:26:07,493 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:26:07,493 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:26:07,493 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:26:07,493 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:26:07,494 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'
2021-01-08 09:26:07,525 INFO Welcome to the CDS
2021-01-08 09:26:07,525 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:26:07,590 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid optional selected: dew_point_temperature"'.
optional - testing: finished
area - testing:  [80, 140, -40, 359]

2021-01-08 09:26:08,626 INFO Request is running
2021-01-08 09:26:20,964 INFO Request is completed
2021-01-08 09:26:20,965 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094379.3020296-7349-17-e46fcf1c-5903-43df-b3bf-5c1767372dc1.zip to download.zip (23.7M)
2021-01-08 09:26:27,017 INFO Download rate 3.9M/s

       lat         lon      plev          ta       time trajectory_label
obs
0    18.23 -111.050003    1100.0  233.600006 1978-10-01      20000002973
0    18.23 -111.050003    1500.0  228.500000 1978-10-01      20000002973
0    18.23 -111.050003    2000.0  223.899994 1978-10-01      20000002973
0    18.23 -111.050003    2500.0  220.899994 1978-10-01      20000002973
0    18.23 -111.050003    3000.0  218.500000 1978-10-01      20000002973
..     ...         ...       ...         ...        ...              ...
0    18.23 -111.050003   91400.0  293.700012 1978-10-31      20000003019
0    18.23 -111.050003   94500.0  296.700012 1978-10-31      20000003019
0    18.23 -111.050003   95000.0  296.799988 1978-10-31      20000003019
0    18.23 -111.050003   97400.0  297.200012 1978-10-31      20000003019
0    18.23 -111.050003  100000.0  299.200012 1978-10-31      20000003019

[1389 rows x 6 columns]

2021-01-08 09:26:27,650 INFO Welcome to the CDS
2021-01-08 09:26:27,651 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:26:27,711 INFO Request is queued

area - testing:  [50, 0, 40, 20]

2021-01-08 09:26:28,745 INFO Request is running
2021-01-08 09:26:30,281 INFO Request is completed
2021-01-08 09:26:30,282 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094389.0943704-29778-1-75fa4f08-3719-4fbb-817a-8bf9e3b458f8.zip to download.zip (931.4K)
2021-01-08 09:26:30,487 INFO Download rate 4.4M/s

       lat    lon      plev          ta                time trajectory_label
obs
0    47.43  19.18    3000.0  215.500000 1978-10-01 00:00:00      20000020136
0    47.43  19.18    5000.0  217.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7000.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    7200.0  218.100006 1978-10-01 00:00:00      20000020136
0    47.43  19.18    8100.0  215.500000 1978-10-01 00:00:00      20000020136
..     ...    ...       ...         ...                 ...              ...
0    47.43  19.18   75100.0  276.000000 1978-10-31 18:00:00      20000020252
0    47.43  19.18   79900.0  269.299988 1978-10-31 18:00:00      20000020252
0    47.43  19.18   85000.0  273.399994 1978-10-31 18:00:00      20000020252
0    47.43  19.18   98500.0  283.200012 1978-10-31 18:00:00      20000020252
0    47.43  19.18  100000.0  283.399994 1978-10-31 18:00:00      20000020252

[3523 rows x 6 columns]

2021-01-08 09:26:30,592 INFO Welcome to the CDS
2021-01-08 09:26:30,592 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:26:30,651 INFO Request is queued

area - testing:  [49, -180, 48, 180]

2021-01-08 09:26:31,687 INFO Request is completed
2021-01-08 09:26:31,688 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094391.3943353-20614-3-f6b7afdb-ca8d-4bbe-bc86-1ac3a74fb8f4.zip to download.zip (933.7K)
2021-01-08 09:26:32,995 INFO Download rate 714.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2021-01-08 09:26:33,099 INFO Welcome to the CDS
2021-01-08 09:26:33,100 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:26:33,164 INFO Request is queued

area - testing:  [49, 0, 48, 360]

2021-01-08 09:26:34,200 INFO Request is completed
2021-01-08 09:26:34,201 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094394.0117645-10920-5-40fba863-6da7-47cb-b93f-d18df39deedc.zip to download.zip (933.7K)
2021-01-08 09:26:34,884 INFO Download rate 1.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.529999,-58.549999,5000.0,220.149994,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,7000.0,215.050003,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,10000.0,216.350006,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,20000.0,213.250000,1978-10-01 00:00:00,20000032525
0,48.529999,-58.549999,30000.0,228.149994,1978-10-01 00:00:00,20000032525
...,...,...,...,...,...,...
0,48.529999,-58.549999,40000.0,240.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,50000.0,252.649994,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,70000.0,267.750000,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,85000.0,267.350006,1978-10-31 12:00:00,20000032586
0,48.529999,-58.549999,100000.0,276.950012,1978-10-31 12:00:00,20000032586

2021-01-08 09:26:34,987 INFO Welcome to the CDS
2021-01-08 09:26:34,988 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:26:35,049 INFO Request is queued

area - testing:  [90, -180, -90, 180]

2021-01-08 09:26:36,085 INFO Request is running
2021-01-08 09:27:07,495 INFO Request is completed
2021-01-08 09:27:07,496 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094424.7814128-7388-17-20e1e36d-a602-4bd0-bda3-d31e1e4f2e9f.zip to download.zip (49.6M)
2021-01-08 09:27:17,861 INFO Download rate 4.8M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-08 09:27:19,242 INFO Welcome to the CDS
2021-01-08 09:27:19,242 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:27:19,309 INFO Request is queued

area - testing:  [80, 140, 70]

2021-01-08 09:27:20,345 INFO Request is failed
2021-01-08 09:27:20,346 ERROR Message: an internal error occurred processing your request
2021-01-08 09:27:20,346 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"list index out of range"'
2021-01-08 09:27:20,346 ERROR   Traceback (most recent call last):
2021-01-08 09:27:20,347 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:27:20,347 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:27:20,348 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:27:20,348 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:27:20,348 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:27:20,349 ERROR       return p(*args, **kwargs)
2021-01-08 09:27:20,349 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:27:20,349 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:27:20,350 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:27:20,350 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:27:20,350 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"list index out of range"'
2021-01-08 09:27:20,382 INFO Welcome to the CDS
2021-01-08 09:27:20,383 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:27:20,444 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"list index out of range"'.
area - testing:  [80, 140, 70, 150, 0]

2021-01-08 09:27:21,479 INFO Request is completed
2021-01-08 09:27:21,480 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094440.7820883-29233-1-bacc07d6-065a-4c0d-8dad-e984042c37a2.zip to download.zip (105.6K)
2021-01-08 09:27:21,600 INFO Download rate 876.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,73.18,143.929993,510.0,226.100006,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,1000.0,220.699997,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,1480.0,217.500000,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,2000.0,218.899994,1978-10-01 00:00:00,20000020656
0,73.18,143.929993,2570.0,220.699997,1978-10-01 00:00:00,20000020656
...,...,...,...,...,...,...
0,73.18,143.929993,82000.0,259.100006,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,83900.0,257.700012,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,85000.0,258.100006,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,95700.0,262.299988,1978-10-31 18:00:00,20000020744
0,73.18,143.929993,97600.0,257.500000,1978-10-31 18:00:00,20000020744

2021-01-08 09:27:21,697 INFO Welcome to the CDS
2021-01-08 09:27:21,697 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:27:21,782 INFO Request is queued

area - testing:  [0, 0, 0, 0]

2021-01-08 09:27:22,819 INFO Request is failed
2021-01-08 09:27:22,819 ERROR Message: an internal error occurred processing your request
2021-01-08 09:27:22,819 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-08 09:27:22,820 ERROR   Traceback (most recent call last):
2021-01-08 09:27:22,821 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:27:22,821 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:27:22,821 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:27:22,822 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:27:22,822 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:27:22,822 ERROR       return p(*args, **kwargs)
2021-01-08 09:27:22,823 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:27:22,823 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:27:22,823 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:27:22,824 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:27:22,824 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-08 09:27:22,856 INFO Welcome to the CDS
2021-01-08 09:27:22,856 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:27:22,918 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [40, 20, 50, 0]

2021-01-08 09:27:23,954 INFO Request is failed
2021-01-08 09:27:23,955 ERROR Message: an internal error occurred processing your request
2021-01-08 09:27:23,955 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-08 09:27:23,955 ERROR   Traceback (most recent call last):
2021-01-08 09:27:23,956 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:27:23,956 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:27:23,956 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:27:23,957 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:27:23,957 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:27:23,957 ERROR       return p(*args, **kwargs)
2021-01-08 09:27:23,958 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:27:23,958 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:27:23,959 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:27:23,959 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:27:23,959 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-08 09:27:23,991 INFO Welcome to the CDS
2021-01-08 09:27:23,991 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:27:24,055 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing:  [49, -180, 48, 360]

2021-01-08 09:27:25,091 INFO Request is failed
2021-01-08 09:27:25,091 ERROR Message: an internal error occurred processing your request
2021-01-08 09:27:25,092 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-08 09:27:25,092 ERROR   Traceback (most recent call last):
2021-01-08 09:27:25,092 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:27:25,093 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:27:25,093 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:27:25,094 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:27:25,094 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:27:25,094 ERROR       return p(*args, **kwargs)
2021-01-08 09:27:25,095 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:27:25,095 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:27:25,095 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:27:25,096 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:27:25,096 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'
2021-01-08 09:27:25,128 INFO Welcome to the CDS
2021-01-08 09:27:25,129 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:27:25,192 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, bounding box: lower<upper [-90, 90], left<right [-180, 360]"'.
area - testing: finished
country - testing:  GLOBE

2021-01-08 09:27:26,226 INFO Request is running
2021-01-08 09:27:57,634 INFO Request is completed
2021-01-08 09:27:57,635 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094474.5103424-7832-1-1b2e0ff6-a16e-4f5e-84f3-ee253a58e4a1.zip to download.zip (49.7M)
2021-01-08 09:27:59,447 INFO Download rate 27.4M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-08 09:28:00,392 INFO Welcome to the CDS
2021-01-08 09:28:00,393 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:00,461 INFO Request is queued

country - testing:  ALL

2021-01-08 09:28:01,584 INFO Request is running
2021-01-08 09:28:32,994 INFO Request is completed
2021-01-08 09:28:32,995 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094509.3851-7843-2-24a687a8-1e1c-4a0d-a08f-ec9cc95c577c.zip to download.zip (49.7M)
2021-01-08 09:28:36,211 INFO Download rate 15.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,23.370001,85.330002,45800.0,272.500000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,50000.0,272.899994,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,55200.0,273.200012,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,60000.0,278.000000,1978-10-01 00:00:00,20000001339
0,23.370001,85.330002,66600.0,282.600006,1978-10-01 00:00:00,20000001339
...,...,...,...,...,...,...
0,23.370001,85.330002,70000.0,281.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,72800.0,284.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,80600.0,289.000000,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,85000.0,291.399994,1978-10-31 12:00:00,20000001381
0,23.370001,85.330002,90500.0,294.799988,1978-10-31 12:00:00,20000001381

2021-01-08 09:28:37,273 INFO Welcome to the CDS
2021-01-08 09:28:37,274 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:37,336 INFO Request is queued

country - testing:  NOR

2021-01-08 09:28:38,372 INFO Request is completed
2021-01-08 09:28:38,372 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094517.9105735-7846-2-d929ce35-4947-47e3-a10b-e1af17a72d02.zip to download.zip (250.5K)
2021-01-08 09:28:38,520 INFO Download rate 1.7M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    67.25  14.4    1500.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    2000.0  217.300003 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3000.0  218.100006 1978-10-01 00:00:00      20000012548
0    67.25  14.4    3800.0  216.699997 1978-10-01 00:00:00      20000012548
0    67.25  14.4    5000.0  218.100006 1978-10-01 00:00:00      20000012548
..     ...   ...       ...         ...                 ...              ...
0    67.25  14.4   85000.0  271.500000 1978-10-31 12:00:00      20000012609
0    67.25  14.4   86000.0  271.700012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   94000.0  276.200012 1978-10-31 12:00:00      20000012609
0    67.25  14.4   98000.0  274.000000 1978-10-31 12:00:00      20000012609
0    67.25  14.4  100000.0  275.200012 1978-10-31 12:00:00      20000012609

[1734 rows x 6 columns]

2021-01-08 09:28:38,619 INFO Welcome to the CDS
2021-01-08 09:28:38,619 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:38,679 INFO Request is queued

country - testing:  ['NOR', 'DEU']

2021-01-08 09:28:39,715 INFO Request is completed
2021-01-08 09:28:39,716 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094519.6604779-16630-3-a4ef31b4-a8bc-4778-825e-65baab76e4b8.zip to download.zip (1.2M)
2021-01-08 09:28:39,952 INFO Download rate 5.3M/s

       lat   lon      plev          ta                time trajectory_label
obs
0    52.82  9.93    5000.0  218.699997 1978-10-02 06:00:00      20000006050
0    52.82  9.93    7000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   10000.0  217.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   15000.0  218.300003 1978-10-02 06:00:00      20000006050
0    52.82  9.93   19000.0  213.100006 1978-10-02 06:00:00      20000006050
..     ...   ...       ...         ...                 ...              ...
0    52.82  9.93   40000.0  243.899994 1978-10-31 12:00:00      20000006110
0    52.82  9.93   50000.0  255.699997 1978-10-31 12:00:00      20000006110
0    52.82  9.93   70000.0  273.200012 1978-10-31 12:00:00      20000006110
0    52.82  9.93   85000.0  273.799988 1978-10-31 12:00:00      20000006110
0    52.82  9.93  100000.0  283.399994 1978-10-31 12:00:00      20000006110

[683 rows x 6 columns]

2021-01-08 09:28:40,077 INFO Welcome to the CDS
2021-01-08 09:28:40,077 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:40,144 INFO Request is queued

country - testing:  NORWAY

2021-01-08 09:28:41,179 INFO Request is failed
2021-01-08 09:28:41,180 ERROR Message: an internal error occurred processing your request
2021-01-08 09:28:41,180 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2021-01-08 09:28:41,181 ERROR   Traceback (most recent call last):
2021-01-08 09:28:41,181 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:28:41,181 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:28:41,181 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:28:41,182 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:28:41,182 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:28:41,182 ERROR       return p(*args, **kwargs)
2021-01-08 09:28:41,183 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:28:41,183 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:28:41,183 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:28:41,183 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:28:41,184 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'
2021-01-08 09:28:41,215 INFO Welcome to the CDS
2021-01-08 09:28:41,216 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:41,277 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, NORWAY is not a valid country code"'.
country - testing:  nor

2021-01-08 09:28:42,313 INFO Request is failed
2021-01-08 09:28:42,314 ERROR Message: an internal error occurred processing your request
2021-01-08 09:28:42,314 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2021-01-08 09:28:42,314 ERROR   Traceback (most recent call last):
2021-01-08 09:28:42,315 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:28:42,315 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:28:42,315 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:28:42,315 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:28:42,316 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:28:42,316 ERROR       return p(*args, **kwargs)
2021-01-08 09:28:42,316 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:28:42,317 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:28:42,317 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:28:42,317 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:28:42,317 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'
2021-01-08 09:28:42,350 INFO Welcome to the CDS
2021-01-08 09:28:42,350 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:42,415 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid selection, nor is not a valid country code"'.
country - testing: finished
date - testing:  None

2021-01-08 09:28:43,450 INFO Request is running
2021-01-08 09:28:44,986 INFO Request is completed
2021-01-08 09:28:44,987 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094524.6107817-19229-3-1746be8b-f674-4c2a-96ea-72c9e03da6e0.zip to download.zip (40M)
2021-01-08 09:28:45,740 INFO Download rate 53.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-08 09:28:46,914 INFO Welcome to the CDS
2021-01-08 09:28:46,915 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:46,985 INFO Request is queued

date - testing:  20000231

2021-01-08 09:28:48,021 INFO Request is completed
2021-01-08 09:28:48,021 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094527.2811303-32287-6-19f3cfe5-80b3-414c-9141-1ad77e11f023.zip to download.zip (23.6K)
2021-01-08 09:28:48,083 INFO Download rate 387K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,570.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,650.0,230.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,680.0,228.500000,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,720.0,223.100006,2000-02-29 00:00:00,10000030873
0,48.25,16.370001,1000.0,220.699997,2000-02-29 00:00:00,10000030873
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-08 09:28:48,177 INFO Welcome to the CDS
2021-01-08 09:28:48,178 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:48,243 INFO Request is queued

date - testing:  20000101

2021-01-08 09:28:49,279 INFO Request is completed
2021-01-08 09:28:49,280 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094528.4534395-30926-22-87b84346-0033-446d-8431-d47e315cd7c6.zip to download.zip (23.6K)
2021-01-08 09:28:49,342 INFO Download rate 383.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-08 09:28:49,435 INFO Welcome to the CDS
2021-01-08 09:28:49,435 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:49,501 INFO Request is queued

date - testing:  20000101-20000201

2021-01-08 09:28:50,537 INFO Request is completed
2021-01-08 09:28:50,538 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094529.8264432-9766-2-60b3f4b8-404a-44dc-8af9-686cad145b05.zip to download.zip (69.4K)
2021-01-08 09:28:50,629 INFO Download rate 767.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,90900.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,91400.0,281.600006,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,92500.0,281.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,95700.0,282.799988,2000-02-01 12:00:00,10000030763
0,48.23,16.370001,99100.0,285.600006,2000-02-01 12:00:00,10000030763

2021-01-08 09:28:50,724 INFO Welcome to the CDS
2021-01-08 09:28:50,724 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:50,788 INFO Request is queued

date - testing:  ['20000101', '20000103', '20000106']

2021-01-08 09:28:51,823 INFO Request is completed
2021-01-08 09:28:51,824 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094531.0099301-6670-21-c71535e0-1cdf-47cd-9821-6a35db0ba8bf.zip to download.zip (31.6K)
2021-01-08 09:28:51,913 INFO Download rate 353.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,96100.0,272.299988,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,96800.0,272.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97600.0,271.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,97900.0,270.700012,2000-01-06 12:00:00,10000030658
0,48.23,16.370001,98100.0,269.500000,2000-01-06 12:00:00,10000030658

2021-01-08 09:28:52,005 INFO Welcome to the CDS
2021-01-08 09:28:52,006 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:52,069 INFO Request is queued

date - testing:  ['20000102', '20000101']

2021-01-08 09:28:53,105 INFO Request is completed
2021-01-08 09:28:53,105 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094532.3068151-15601-2-8469ae57-dedd-4757-bfc1-3d8857b693ea.zip to download.zip (25.6K)
2021-01-08 09:28:53,167 INFO Download rate 416.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,94800.0,272.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,97800.0,273.600006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,98300.0,271.500000,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,99100.0,271.100006,2000-01-02 12:00:00,10000030642
0,48.23,16.370001,100000.0,271.700012,2000-01-02 12:00:00,10000030642

2021-01-08 09:28:53,262 INFO Welcome to the CDS
2021-01-08 09:28:53,263 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:53,329 INFO Request is queued

date - testing:  2000011

2021-01-08 09:28:54,367 INFO Request is failed
2021-01-08 09:28:54,367 ERROR Message: an internal error occurred processing your request
2021-01-08 09:28:54,368 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2021-01-08 09:28:54,368 ERROR   Traceback (most recent call last):
2021-01-08 09:28:54,368 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:28:54,369 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:28:54,369 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:28:54,369 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:28:54,369 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:28:54,370 ERROR       return p(*args, **kwargs)
2021-01-08 09:28:54,370 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:28:54,370 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:28:54,370 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:28:54,371 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:28:54,371 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'
2021-01-08 09:28:54,402 INFO Welcome to the CDS
2021-01-08 09:28:54,403 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:54,475 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 2000011"'.
date - testing:  20000100

2021-01-08 09:28:55,511 INFO Request is failed
2021-01-08 09:28:55,511 ERROR Message: an internal error occurred processing your request
2021-01-08 09:28:55,512 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-08 09:28:55,512 ERROR   Traceback (most recent call last):
2021-01-08 09:28:55,512 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:28:55,513 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:28:55,513 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:28:55,513 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:28:55,513 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:28:55,514 ERROR       return p(*args, **kwargs)
2021-01-08 09:28:55,514 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:28:55,514 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:28:55,514 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:28:55,515 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:28:55,515 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-08 09:28:55,546 INFO Welcome to the CDS
2021-01-08 09:28:55,547 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:55,628 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
date - testing:  00000000

2021-01-08 09:28:56,664 INFO Request is failed
2021-01-08 09:28:56,665 ERROR Message: an internal error occurred processing your request
2021-01-08 09:28:56,665 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2021-01-08 09:28:56,666 ERROR   Traceback (most recent call last):
2021-01-08 09:28:56,666 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:28:56,666 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:28:56,666 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:28:56,667 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:28:56,667 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:28:56,667 ERROR       return p(*args, **kwargs)
2021-01-08 09:28:56,668 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:28:56,668 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:28:56,668 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:28:56,668 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:28:56,670 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'
2021-01-08 09:28:56,700 INFO Welcome to the CDS
2021-01-08 09:28:56,700 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:56,761 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000000"'.
date - testing:  20000132

2021-01-08 09:28:57,796 INFO Request is failed
2021-01-08 09:28:57,797 ERROR Message: an internal error occurred processing your request
2021-01-08 09:28:57,797 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-08 09:28:57,797 ERROR   Traceback (most recent call last):
2021-01-08 09:28:57,798 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:28:57,798 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:28:57,798 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:28:57,799 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:28:57,799 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:28:57,800 ERROR       return p(*args, **kwargs)
2021-01-08 09:28:57,800 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:28:57,800 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:28:57,800 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:28:57,801 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:28:57,801 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-08 09:28:57,831 INFO Welcome to the CDS
2021-01-08 09:28:57,832 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:57,892 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
date - testing:  20001301

2021-01-08 09:28:58,927 INFO Request is failed
2021-01-08 09:28:58,928 ERROR Message: an internal error occurred processing your request
2021-01-08 09:28:58,928 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-08 09:28:58,928 ERROR   Traceback (most recent call last):
2021-01-08 09:28:58,929 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:28:58,929 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:28:58,929 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:28:58,929 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:28:58,930 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:28:58,930 ERROR       return p(*args, **kwargs)
2021-01-08 09:28:58,930 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:28:58,931 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:28:58,931 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:28:58,931 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:28:58,931 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-08 09:28:58,963 INFO Welcome to the CDS
2021-01-08 09:28:58,963 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:28:59,026 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
date - testing:  20000201-20000101

2021-01-08 09:29:00,062 INFO Request is failed
2021-01-08 09:29:00,062 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:00,063 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2021-01-08 09:29:00,063 ERROR   Traceback (most recent call last):
2021-01-08 09:29:00,063 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:00,063 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:00,064 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:00,064 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:00,064 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:00,065 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:00,065 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:00,065 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:00,065 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:00,066 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:00,066 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'
2021-01-08 09:29:00,098 INFO Welcome to the CDS
2021-01-08 09:29:00,099 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:00,160 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 20000201 - 20000101"'.
date - testing:  20000101/20000201

2021-01-08 09:29:01,196 INFO Request is failed
2021-01-08 09:29:01,196 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:01,196 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2021-01-08 09:29:01,197 ERROR   Traceback (most recent call last):
2021-01-08 09:29:01,197 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:01,197 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:01,198 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:01,198 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:01,198 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:01,198 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:01,199 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:01,199 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:01,199 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:01,199 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:01,201 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'
2021-01-08 09:29:01,232 INFO Welcome to the CDS
2021-01-08 09:29:01,233 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:01,297 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000101/20000201"'.
date - testing: finished
period - testing:  None

2021-01-08 09:29:02,332 INFO Request is running
2021-01-08 09:29:03,868 INFO Request is completed
2021-01-08 09:29:03,869 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094543.3703208-30092-20-5494971b-bd47-40b7-b755-4b63267b9852.zip to download.zip (40M)
2021-01-08 09:29:05,483 INFO Download rate 24.8M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-08 09:29:06,591 INFO Welcome to the CDS
2021-01-08 09:29:06,591 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:06,651 INFO Request is queued

period - testing:  1979-01-01/1980-08-16

2021-01-08 09:29:07,686 INFO Request is completed
2021-01-08 09:29:07,686 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094546.9719868-6516-21-89488acd-d9f9-4fad-b59e-8a6405b98bf6.zip to download.zip (517.4K)
2021-01-08 09:29:07,863 INFO Download rate 2.9M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.360001,1000.0,212.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1300.0,215.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,1700.0,202.500000,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2000.0,204.699997,1979-01-01 00:00:00,10000000001
0,48.25,16.360001,2700.0,208.699997,1979-01-01 00:00:00,10000000001
...,...,...,...,...,...,...
0,48.25,16.370001,81800.0,282.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,85000.0,285.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,88200.0,288.200012,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,93000.0,290.399994,1980-08-16 12:00:00,10000002339
0,48.25,16.370001,98000.0,294.799988,1980-08-16 12:00:00,10000002339

2021-01-08 09:29:07,968 INFO Welcome to the CDS
2021-01-08 09:29:07,969 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:08,038 INFO Request is queued

period - testing:  1980-01-02/1980-01-01

2021-01-08 09:29:09,074 INFO Request is failed
2021-01-08 09:29:09,075 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:09,075 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2021-01-08 09:29:09,075 ERROR   Traceback (most recent call last):
2021-01-08 09:29:09,076 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:09,076 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:09,076 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:09,077 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:09,077 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:09,077 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:09,077 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:09,078 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:09,078 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:09,078 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:09,078 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'
2021-01-08 09:29:09,110 INFO Welcome to the CDS
2021-01-08 09:29:09,110 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:09,182 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"starting date has to be before ending date: 19800102 - 19800101"'.
period - testing: finished
pressure_level - testing:  100

2021-01-08 09:29:10,218 INFO Request is completed
2021-01-08 09:29:10,218 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094549.5961757-1581-1-9974741b-0be4-4dac-806f-7f3d9935b70d.zip to download.zip (23.6K)
2021-01-08 09:29:10,281 INFO Download rate 380.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2021-01-08 09:29:10,369 INFO Welcome to the CDS
2021-01-08 09:29:10,370 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:10,442 INFO Request is queued

pressure_level - testing:  100

2021-01-08 09:29:11,478 INFO Request is completed
2021-01-08 09:29:11,479 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094550.6493998-17126-3-ba235721-cf3d-47b1-8bd5-965ca4d03fc4.zip to download.zip (23.6K)
2021-01-08 09:29:11,539 INFO Download rate 392.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411

2021-01-08 09:29:11,628 INFO Welcome to the CDS
2021-01-08 09:29:11,628 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:11,689 INFO Request is queued

pressure_level - testing:  [100, 200]

2021-01-08 09:29:12,725 INFO Request is completed
2021-01-08 09:29:12,725 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094552.0316944-13657-2-8017ddf6-50d3-4234-bf53-a8f3e6e7ff7a.zip to download.zip (23.6K)
2021-01-08 09:29:12,787 INFO Download rate 382.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2021-01-08 09:29:12,878 INFO Welcome to the CDS
2021-01-08 09:29:12,878 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:12,940 INFO Request is queued

pressure_level - testing:  ['100', '200']

2021-01-08 09:29:13,976 INFO Request is completed
2021-01-08 09:29:13,977 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094553.146459-19386-8-c3eb82b1-f50a-4864-a018-a1c2b1155524.zip to download.zip (23.6K)
2021-01-08 09:29:14,038 INFO Download rate 385.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.25,16.370001,10000.0,216.300003,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,20000.0,218.699997,2010-01-01 00:00:00,10000045409
0,48.25,16.370001,10000.0,216.500000,2010-01-01 12:00:00,10000045411
0,48.25,16.370001,20000.0,215.699997,2010-01-01 12:00:00,10000045411

2021-01-08 09:29:14,127 INFO Welcome to the CDS
2021-01-08 09:29:14,127 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:14,190 INFO Request is queued

pressure_level - testing:  0

2021-01-08 09:29:15,227 INFO Request is failed
2021-01-08 09:29:15,228 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:15,228 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2021-01-08 09:29:15,228 ERROR   Traceback (most recent call last):
2021-01-08 09:29:15,228 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:15,229 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:15,229 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:15,229 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:15,230 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:15,230 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:15,230 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:15,230 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:15,232 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:15,232 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:15,232 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'
2021-01-08 09:29:15,264 INFO Welcome to the CDS
2021-01-08 09:29:15,264 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 0 Pa"'.
pressure_level - testing:  2000

2021-01-08 09:29:15,530 INFO Request is queued
2021-01-08 09:29:16,567 INFO Request is failed
2021-01-08 09:29:16,567 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:16,568 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2021-01-08 09:29:16,568 ERROR   Traceback (most recent call last):
2021-01-08 09:29:16,568 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:16,569 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:16,569 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:16,569 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:16,569 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:16,570 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:16,570 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:16,570 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:16,570 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:16,571 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:16,571 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'
2021-01-08 09:29:16,603 INFO Welcome to the CDS
2021-01-08 09:29:16,603 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:16,664 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, pressure_level out of range [5-1100 hPa]: 200000 Pa"'.
pressure_level - testing: finished
time - testing:  [22, 23, 0, 1, 2, 3]

2021-01-08 09:29:17,699 INFO Request is completed
2021-01-08 09:29:17,699 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094556.9520686-3713-1-95d80caf-abde-4c02-8805-82bd94f2dcda.zip to download.zip (43.3K)
2021-01-08 09:29:17,787 INFO Download rate 494.5K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2021-01-08 09:29:17,880 INFO Welcome to the CDS
2021-01-08 09:29:17,881 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:17,942 INFO Request is queued

time - testing:  ['22', '23', '00', '01', '02', '03']

2021-01-08 09:29:18,978 INFO Request is completed
2021-01-08 09:29:18,978 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094558.2419908-7417-13-10b312e6-2837-4b46-a080-43cf3cc04f36.zip to download.zip (43.3K)
2021-01-08 09:29:19,068 INFO Download rate 483.3K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    640.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    700.0  223.300003 2010-01-01      10000045409
0    48.25  16.370001    790.0  224.500000 2010-01-01      10000045409
0    48.25  16.370001    880.0  220.500000 2010-01-01      10000045409
0    48.25  16.370001   1000.0  224.300003 2010-01-01      10000045409
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1708 rows x 6 columns]

2021-01-08 09:29:19,162 INFO Welcome to the CDS
2021-01-08 09:29:19,162 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:19,230 INFO Request is queued

time - testing:

2021-01-08 09:29:20,266 INFO Request is completed
2021-01-08 09:29:20,266 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094559.4244509-21076-3-a2d77d12-c36e-4292-bf69-e099e4b2128c.zip to download.zip (67.9K)
2021-01-08 09:29:20,356 INFO Download rate 760.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-08 09:29:20,450 INFO Welcome to the CDS
2021-01-08 09:29:20,451 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:20,511 INFO Request is queued

time - testing:  0

2021-01-08 09:29:21,547 INFO Request is completed
2021-01-08 09:29:21,548 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094560.8191905-6556-22-f31d399c-5274-4b8b-a093-e8e6697f84b0.zip to download.zip (44.1K)
2021-01-08 09:29:21,638 INFO Download rate 490.4K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2021-01-08 09:29:21,731 INFO Welcome to the CDS
2021-01-08 09:29:21,731 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:21,792 INFO Request is queued

time - testing:  00

2021-01-08 09:29:22,828 INFO Request is completed
2021-01-08 09:29:22,829 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094562.1463044-17837-2-50b6f2df-2f72-498e-8cd7-04dd1306e227.zip to download.zip (44.1K)
2021-01-08 09:29:22,919 INFO Download rate 490.8K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2021-01-08 09:29:23,012 INFO Welcome to the CDS
2021-01-08 09:29:23,012 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:23,072 INFO Request is queued

time - testing:  ['00']

2021-01-08 09:29:24,107 INFO Request is completed
2021-01-08 09:29:24,108 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094563.346169-3229-4-11e3ebdc-dbce-46a6-befd-c805156f60e3.zip to download.zip (44.1K)
2021-01-08 09:29:24,197 INFO Download rate 497.2K/s

       lat        lon     plev          ta       time trajectory_label
obs
0    48.25  16.370001    540.0  223.100006 2009-12-31      10000045405
0    48.25  16.370001    750.0  222.500000 2009-12-31      10000045405
0    48.25  16.370001    830.0  219.699997 2009-12-31      10000045405
0    48.25  16.370001   1000.0  221.500000 2009-12-31      10000045405
0    48.25  16.370001   1360.0  225.500000 2009-12-31      10000045405
..     ...        ...      ...         ...        ...              ...
0    48.25  16.370001  79700.0  258.500000 2010-02-01      10000045533
0    48.25  16.370001  84000.0  262.500000 2010-02-01      10000045533
0    48.25  16.370001  85000.0  262.899994 2010-02-01      10000045533
0    48.25  16.370001  87000.0  263.700012 2010-02-01      10000045533
0    48.25  16.370001  92500.0  267.500000 2010-02-01      10000045533

[1779 rows x 6 columns]

2021-01-08 09:29:24,290 INFO Welcome to the CDS
2021-01-08 09:29:24,290 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:24,351 INFO Request is queued

time - testing:  [0, 12]

2021-01-08 09:29:25,387 INFO Request is completed
2021-01-08 09:29:25,388 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094564.6344576-23188-9-34e0d426-1355-4fe0-a1e2-fd7e3a42e1a3.zip to download.zip (65.7K)
2021-01-08 09:29:25,479 INFO Download rate 720.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-08 09:29:25,573 INFO Welcome to the CDS
2021-01-08 09:29:25,573 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:25,632 INFO Request is queued

time - testing:  ['0', '12']

2021-01-08 09:29:26,667 INFO Request is completed
2021-01-08 09:29:26,668 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094566.04187-12295-1-1c21a4c9-aae8-4e22-87dc-f494f78fcf77.zip to download.zip (65.7K)
2021-01-08 09:29:26,758 INFO Download rate 734.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,540.0,223.100006,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,750.0,222.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,830.0,219.699997,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1000.0,221.500000,2009-12-31 00:00:00,10000045405
0,48.2500,16.370001,1360.0,225.500000,2009-12-31 00:00:00,10000045405
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-08 09:29:26,851 INFO Welcome to the CDS
2021-01-08 09:29:26,852 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:26,917 INFO Request is queued

time - testing:  24

2021-01-08 09:29:27,954 INFO Request is failed
2021-01-08 09:29:27,955 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:27,955 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2021-01-08 09:29:27,955 ERROR   Traceback (most recent call last):
2021-01-08 09:29:27,956 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:27,956 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:27,956 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:27,957 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:27,957 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:27,957 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:27,957 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:27,958 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:27,958 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:27,958 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:27,958 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'
2021-01-08 09:29:27,990 INFO Welcome to the CDS
2021-01-08 09:29:27,990 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:28,052 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Error: exception \\"\\" occurred while reading /data/public/merged/0-20000-0-11035_CEUAS_merged_v0.nc ({\'variable\': [\'temperature\'], \'format\': \'nc\', \'statid\': [\'0-20000-0-11035\'], \'date\': [\'20100101\', \'20100201\'], \'time\': [\'24\']})"'.
time - testing:  25

2021-01-08 09:29:29,089 INFO Request is failed
2021-01-08 09:29:29,089 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:29,090 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2021-01-08 09:29:29,090 ERROR   Traceback (most recent call last):
2021-01-08 09:29:29,090 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:29,091 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:29,091 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:29,091 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:29,091 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:29,092 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:29,092 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:29,092 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:29,092 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:29,093 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:29,093 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'
2021-01-08 09:29:29,124 INFO Welcome to the CDS
2021-01-08 09:29:29,125 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:29,207 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 25"'.
time - testing:  12.5

2021-01-08 09:29:30,242 INFO Request is failed
2021-01-08 09:29:30,243 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:30,243 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2021-01-08 09:29:30,244 ERROR   Traceback (most recent call last):
2021-01-08 09:29:30,244 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:30,244 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:30,244 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:30,245 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:30,245 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:30,245 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:30,245 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:30,246 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:30,247 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:30,247 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:30,247 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'
2021-01-08 09:29:30,278 INFO Welcome to the CDS
2021-01-08 09:29:30,278 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:30,341 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid selection, time allows only integer, 12.5"'.
time - testing: finished
format - testing:  None

2021-01-08 09:29:31,377 INFO Request is completed
2021-01-08 09:29:31,378 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094570.5603144-32005-3-e6189785-58a7-4762-b2a4-c29a944a74f1.zip to download.zip (67.9K)
2021-01-08 09:29:31,475 INFO Download rate 699.5K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-08 09:29:31,570 INFO Welcome to the CDS
2021-01-08 09:29:31,570 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:31,632 INFO Request is queued

format - testing:  csv

2021-01-08 09:29:32,667 INFO Request is completed
2021-01-08 09:29:32,667 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094571.9538798-2192-2-87d17f0c-6939-4e0d-bf1b-dd02a3fff1b6.zip to download.zip (29.1K)
2021-01-08 09:29:32,729 INFO Download rate 479.5K/s

,obs_id,lat,lon,plev,ta,time,trajectory_label,statid,statindex
0,0,48.2500,16.3700,640.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
1,1,48.2500,16.3700,700.0,223.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
2,2,48.2500,16.3700,790.0,224.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
3,3,48.2500,16.3700,880.0,220.50,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
4,4,48.2500,16.3700,1000.0,224.30,2010-01-01 00:00:00,10000045409,0-20000-0-11035,0
...,...,...,...,...,...,...,...,...,...
3850,3850,48.2486,16.3564,85000.0,263.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3851,3851,48.2486,16.3564,92500.0,268.05,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3852,3852,48.2486,16.3564,93100.0,268.25,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3853,3853,48.2486,16.3564,98000.0,272.45,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0
3854,3854,48.2486,16.3564,98700.0,274.15,2010-02-01 12:00:00,10000045535,0-20000-0-11035,0

2021-01-08 09:29:32,821 INFO Welcome to the CDS
2021-01-08 09:29:32,822 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:32,883 INFO Request is queued

format - testing:  nc

2021-01-08 09:29:33,918 INFO Request is completed
2021-01-08 09:29:33,919 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094573.1092587-22012-2-40246ef8-84a6-4324-8d78-ca0960474ee5.zip to download.zip (67.9K)
2021-01-08 09:29:34,009 INFO Download rate 753.6K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.2500,16.370001,640.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,700.0,223.300003,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,790.0,224.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,880.0,220.500000,2010-01-01 00:00:00,10000045409
0,48.2500,16.370001,1000.0,224.300003,2010-01-01 00:00:00,10000045409
...,...,...,...,...,...,...
0,48.2486,16.356400,85000.0,263.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,92500.0,268.049988,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,93100.0,268.250000,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98000.0,272.450012,2010-02-01 12:00:00,10000045535
0,48.2486,16.356400,98700.0,274.149994,2010-02-01 12:00:00,10000045535

2021-01-08 09:29:34,104 INFO Welcome to the CDS
2021-01-08 09:29:34,105 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:34,166 INFO Request is queued

format - testing:  netcdf

2021-01-08 09:29:35,202 INFO Request is failed
2021-01-08 09:29:35,203 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:35,203 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2021-01-08 09:29:35,203 ERROR   Traceback (most recent call last):
2021-01-08 09:29:35,204 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:35,204 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:35,204 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:35,205 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:35,205 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:35,205 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:35,206 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:35,206 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:35,206 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:35,207 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:35,207 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'
2021-01-08 09:29:35,239 INFO Welcome to the CDS
2021-01-08 09:29:35,240 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:35,306 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: netcdf"'.
format - testing:  csb

2021-01-08 09:29:36,342 INFO Request is failed
2021-01-08 09:29:36,343 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:36,343 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2021-01-08 09:29:36,343 ERROR   Traceback (most recent call last):
2021-01-08 09:29:36,344 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:36,344 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:36,344 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:36,345 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:36,346 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:36,346 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:36,346 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:36,347 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:36,347 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:36,347 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:36,348 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'
2021-01-08 09:29:36,379 INFO Welcome to the CDS
2021-01-08 09:29:36,380 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:36,441 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: csb"'.
format - testing:  txt

2021-01-08 09:29:37,476 INFO Request is failed
2021-01-08 09:29:37,477 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:37,477 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2021-01-08 09:29:37,477 ERROR   Traceback (most recent call last):
2021-01-08 09:29:37,478 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:37,478 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:37,478 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:37,479 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:37,479 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:37,480 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:37,480 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:37,480 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:37,481 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:37,481 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:37,481 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'
2021-01-08 09:29:37,514 INFO Welcome to the CDS
2021-01-08 09:29:37,514 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:37,577 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Invalid format selected [nc, csv]: txt"'.
format - testing: finished
y - testing:  None

2021-01-08 09:29:38,612 INFO Request is running
2021-01-08 09:29:40,148 INFO Request is completed
2021-01-08 09:29:40,149 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094579.7593179-25528-2-cfa4d3db-aa8e-40bb-bfff-7c0bc5822535.zip to download.zip (40M)
2021-01-08 09:29:44,268 INFO Download rate 9.7M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-08 09:29:45,365 INFO Welcome to the CDS
2021-01-08 09:29:45,366 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:45,434 INFO Request is queued

y - testing:  2000

2021-01-08 09:29:46,471 INFO Request is completed
2021-01-08 09:29:46,471 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094585.6458375-12575-4-95974825-a5de-4f06-af7e-fc5ffbb1b135.zip to download.zip (23.6K)
2021-01-08 09:29:46,532 INFO Download rate 386.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-08 09:29:46,627 INFO Welcome to the CDS
2021-01-08 09:29:46,628 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:46,703 INFO Request is queued

y - testing:  2000

2021-01-08 09:29:47,738 INFO Request is completed
2021-01-08 09:29:47,739 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094586.929842-9077-6-20f22d94-6b9e-4aad-b716-db92c0e7d0dc.zip to download.zip (23.6K)
2021-01-08 09:29:47,800 INFO Download rate 386.1K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-08 09:29:47,893 INFO Welcome to the CDS
2021-01-08 09:29:47,894 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:47,960 INFO Request is queued

y - testing:  ['2000', '2001']

2021-01-08 09:29:48,996 INFO Request is completed
2021-01-08 09:29:48,997 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094588.205946-29723-3-3279bdab-c8c4-4cb1-93ab-efac804b7511.zip to download.zip (596.5K)
2021-01-08 09:29:49,175 INFO Download rate 3.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2021-01-08 09:29:49,283 INFO Welcome to the CDS
2021-01-08 09:29:49,284 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:49,364 INFO Request is queued

y - testing:  [2000, 2001]

2021-01-08 09:29:50,399 INFO Request is completed
2021-01-08 09:29:50,400 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094589.7929106-1637-1-97c56a70-88f2-4201-96de-603a4b584337.zip to download.zip (596.5K)
2021-01-08 09:29:50,578 INFO Download rate 3.3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84500.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,84800.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,85000.0,264.100006,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,92500.0,269.899994,2001-01-31 12:00:00,10000032225
0,48.25,16.370001,98200.0,274.399994,2001-01-31 12:00:00,10000032225

2021-01-08 09:29:50,683 INFO Welcome to the CDS
2021-01-08 09:29:50,683 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:50,744 INFO Request is queued

y - testing:  0

2021-01-08 09:29:51,780 INFO Request is failed
2021-01-08 09:29:51,780 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:51,781 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2021-01-08 09:29:51,781 ERROR   Traceback (most recent call last):
2021-01-08 09:29:51,781 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:51,781 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:51,782 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:51,782 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:51,782 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:51,783 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:51,783 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:51,783 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:51,783 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:51,784 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:51,784 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'
2021-01-08 09:29:51,815 INFO Welcome to the CDS
2021-01-08 09:29:51,816 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:51,881 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 00000101"'.
y - testing:  20000

2021-01-08 09:29:52,916 INFO Request is failed
2021-01-08 09:29:52,917 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:52,917 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2021-01-08 09:29:52,917 ERROR   Traceback (most recent call last):
2021-01-08 09:29:52,917 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:52,918 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:52,918 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:52,918 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:52,919 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:52,919 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:52,919 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:52,919 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:52,920 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:52,920 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:52,920 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'
2021-01-08 09:29:52,953 INFO Welcome to the CDS
2021-01-08 09:29:52,953 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:53,020 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 200000101"'.
y - testing:  -2000

2021-01-08 09:29:54,057 INFO Request is failed
2021-01-08 09:29:54,057 ERROR Message: an internal error occurred processing your request
2021-01-08 09:29:54,058 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2021-01-08 09:29:54,058 ERROR   Traceback (most recent call last):
2021-01-08 09:29:54,058 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:29:54,058 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:29:54,059 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:29:54,059 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:29:54,059 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:29:54,060 ERROR       return p(*args, **kwargs)
2021-01-08 09:29:54,060 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:29:54,060 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:29:54,060 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:29:54,061 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:29:54,061 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'
2021-01-08 09:29:54,092 INFO Welcome to the CDS
2021-01-08 09:29:54,092 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:54,155 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"invalid literal for int() with base 10: \'\'"'.
m - testing:  None

2021-01-08 09:29:55,191 INFO Request is completed
2021-01-08 09:29:55,191 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094594.4257002-7556-2-1d427350-849a-4d7b-a242-948ee2809767.zip to download.zip (547.1K)
2021-01-08 09:29:55,367 INFO Download rate 3M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,84900.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85000.0,265.100006,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,85200.0,264.700012,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,92500.0,270.500000,2000-12-31 12:00:00,10000032099
0,48.25,16.370001,97400.0,273.600006,2000-12-31 12:00:00,10000032099

2021-01-08 09:29:55,474 INFO Welcome to the CDS
2021-01-08 09:29:55,474 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:55,543 INFO Request is queued

m - testing:  1

2021-01-08 09:29:56,666 INFO Request is completed
2021-01-08 09:29:56,666 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094595.7583258-15865-10-7589705c-57d4-48b0-b2c7-4e5a11767e15.zip to download.zip (23.6K)
2021-01-08 09:29:56,728 INFO Download rate 384.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-08 09:29:56,821 INFO Welcome to the CDS
2021-01-08 09:29:56,821 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:56,882 INFO Request is queued

m - testing:  1

2021-01-08 09:29:57,918 INFO Request is completed
2021-01-08 09:29:57,919 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094597.0850732-13956-5-49acc665-dc21-4800-b3b3-af0cdcb0f376.zip to download.zip (23.6K)
2021-01-08 09:29:57,981 INFO Download rate 381.4K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-08 09:29:58,072 INFO Welcome to the CDS
2021-01-08 09:29:58,073 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:58,155 INFO Request is completed
2021-01-08 09:29:58,155 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094586.929842-9077-6-20f22d94-6b9e-4aad-b716-db92c0e7d0dc.zip to download.zip (23.6K)
2021-01-08 09:29:58,190 INFO Download rate 689.6K/s

m - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-08 09:29:58,282 INFO Welcome to the CDS
2021-01-08 09:29:58,282 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:58,342 INFO Request is queued

m - testing:  ['01', '02']

2021-01-08 09:29:59,379 INFO Request is completed
2021-01-08 09:29:59,380 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094598.6242604-5882-1-1cef5dfe-1e57-4b78-91e2-d1ba589813c9.zip to download.zip (110.7K)
2021-01-08 09:29:59,497 INFO Download rate 947K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-08 09:29:59,592 INFO Welcome to the CDS
2021-01-08 09:29:59,593 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:29:59,656 INFO Request is queued

m - testing:  ['1', '2']

2021-01-08 09:30:00,692 INFO Request is completed
2021-01-08 09:30:00,693 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094599.9844654-5870-3-9f57b688-bd6e-404b-890e-fc04b086924b.zip to download.zip (110.7K)
2021-01-08 09:30:00,810 INFO Download rate 941.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-08 09:30:00,906 INFO Welcome to the CDS
2021-01-08 09:30:00,906 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:00,968 INFO Request is queued

m - testing:  [1, 2]

2021-01-08 09:30:02,005 INFO Request is completed
2021-01-08 09:30:02,005 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094601.204245-7349-19-d4ca8b75-4e35-4925-853b-01ff5501e0a3.zip to download.zip (110.7K)
2021-01-08 09:30:02,122 INFO Download rate 947.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.25,16.370001,92400.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,92500.0,278.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,93500.0,275.399994,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,94000.0,275.200012,2000-02-29 12:00:00,10000030875
0,48.25,16.370001,98900.0,278.799988,2000-02-29 12:00:00,10000030875

2021-01-08 09:30:02,220 INFO Welcome to the CDS
2021-01-08 09:30:02,221 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:02,297 INFO Request is queued

m - testing:  00

2021-01-08 09:30:03,335 INFO Request is failed
2021-01-08 09:30:03,335 ERROR Message: an internal error occurred processing your request
2021-01-08 09:30:03,335 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-08 09:30:03,336 ERROR   Traceback (most recent call last):
2021-01-08 09:30:03,336 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:30:03,336 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:30:03,337 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:30:03,337 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:30:03,337 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:30:03,337 ERROR       return p(*args, **kwargs)
2021-01-08 09:30:03,338 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:30:03,338 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:30:03,338 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:30:03,338 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:30:03,339 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-08 09:30:03,370 INFO Welcome to the CDS
2021-01-08 09:30:03,370 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:03,448 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  0

2021-01-08 09:30:04,483 INFO Request is failed
2021-01-08 09:30:04,484 ERROR Message: an internal error occurred processing your request
2021-01-08 09:30:04,484 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-08 09:30:04,484 ERROR   Traceback (most recent call last):
2021-01-08 09:30:04,485 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:30:04,485 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:30:04,485 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:30:04,485 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:30:04,486 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:30:04,486 ERROR       return p(*args, **kwargs)
2021-01-08 09:30:04,486 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:30:04,487 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:30:04,487 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:30:04,487 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:30:04,487 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'
2021-01-08 09:30:04,518 INFO Welcome to the CDS
2021-01-08 09:30:04,519 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:04,589 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000001"'.
m - testing:  13

2021-01-08 09:30:05,624 INFO Request is failed
2021-01-08 09:30:05,625 ERROR Message: an internal error occurred processing your request
2021-01-08 09:30:05,625 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-08 09:30:05,626 ERROR   Traceback (most recent call last):
2021-01-08 09:30:05,626 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:30:05,626 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:30:05,626 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:30:05,627 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:30:05,627 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:30:05,627 ERROR       return p(*args, **kwargs)
2021-01-08 09:30:05,627 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:30:05,628 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:30:05,628 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:30:05,628 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:30:05,628 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'
2021-01-08 09:30:05,661 INFO Welcome to the CDS
2021-01-08 09:30:05,661 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:05,743 INFO Request is completed
2021-01-08 09:30:05,743 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094586.929842-9077-6-20f22d94-6b9e-4aad-b716-db92c0e7d0dc.zip to download.zip (23.6K)
2021-01-08 09:30:05,804 INFO Download rate 392.7K/s

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20001301"'.
d - testing:  01

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,85000.0,266.299988,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,89800.0,270.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,91500.0,269.100006,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,92500.0,269.700012,2000-01-01 12:00:00,10000030638
0,48.23,16.370001,95700.0,271.899994,2000-01-01 12:00:00,10000030638

2021-01-08 09:30:05,896 INFO Welcome to the CDS
2021-01-08 09:30:05,897 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:05,955 INFO Request is queued

d - testing:  31

2021-01-08 09:30:06,990 INFO Request is completed
2021-01-08 09:30:06,991 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094606.1660097-7388-18-a8361c76-3dab-4079-bad1-c53b22b5111c.zip to download.zip (23.6K)
2021-01-08 09:30:07,059 INFO Download rate 347.9K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,2870.0,203.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3000.0,202.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,3750.0,205.500000,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4020.0,201.699997,2000-01-31 00:00:00,10000030757
0,48.23,16.370001,4600.0,208.500000,2000-01-31 00:00:00,10000030757
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-08 09:30:07,152 INFO Welcome to the CDS
2021-01-08 09:30:07,152 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:07,213 INFO Request is queued

d - testing:  ['01', '02']

2021-01-08 09:30:08,249 INFO Request is completed
2021-01-08 09:30:08,249 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094607.5985277-30175-1-3dc3f9fb-d8e2-485d-874f-d24dbc3c7b6c.zip to download.zip (68.1K)
2021-01-08 09:30:08,339 INFO Download rate 765.8K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-08 09:30:08,434 INFO Welcome to the CDS
2021-01-08 09:30:08,434 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:08,507 INFO Request is queued

d - testing:  ['1', '2']

2021-01-08 09:30:09,543 INFO Request is completed
2021-01-08 09:30:09,543 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094608.7506182-29233-2-e79672c5-0bb8-4785-bf8e-a91cba5a9c06.zip to download.zip (68.1K)
2021-01-08 09:30:09,634 INFO Download rate 750.3K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-08 09:30:09,730 INFO Welcome to the CDS
2021-01-08 09:30:09,730 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:09,804 INFO Request is queued

d - testing:  [1, 2]

2021-01-08 09:30:10,840 INFO Request is completed
2021-01-08 09:30:10,841 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094610.029565-998-1-eb249e2d-568f-4c05-8fb7-831fa247788d.zip to download.zip (68.1K)
2021-01-08 09:30:10,930 INFO Download rate 761.2K/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.23,16.370001,590.0,211.300003,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,760.0,206.500000,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1000.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1190.0,205.899994,2000-01-01 00:00:00,10000030636
0,48.23,16.370001,1320.0,202.500000,2000-01-01 00:00:00,10000030636
...,...,...,...,...,...,...
0,48.23,16.370001,88100.0,277.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,89200.0,276.799988,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,92500.0,279.200012,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,97400.0,283.399994,2000-01-31 12:00:00,10000030759
0,48.23,16.370001,99000.0,285.000000,2000-01-31 12:00:00,10000030759

2021-01-08 09:30:11,027 INFO Welcome to the CDS
2021-01-08 09:30:11,028 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:11,091 INFO Request is queued

d - testing:  00

2021-01-08 09:30:12,126 INFO Request is failed
2021-01-08 09:30:12,127 ERROR Message: an internal error occurred processing your request
2021-01-08 09:30:12,127 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-08 09:30:12,127 ERROR   Traceback (most recent call last):
2021-01-08 09:30:12,128 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:30:12,128 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:30:12,128 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:30:12,128 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:30:12,129 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:30:12,129 ERROR       return p(*args, **kwargs)
2021-01-08 09:30:12,129 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:30:12,130 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:30:12,130 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:30:12,130 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:30:12,130 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-08 09:30:12,162 INFO Welcome to the CDS
2021-01-08 09:30:12,163 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:12,227 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  0

2021-01-08 09:30:13,262 INFO Request is failed
2021-01-08 09:30:13,263 ERROR Message: an internal error occurred processing your request
2021-01-08 09:30:13,263 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-08 09:30:13,264 ERROR   Traceback (most recent call last):
2021-01-08 09:30:13,264 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:30:13,264 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:30:13,264 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:30:13,265 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:30:13,265 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:30:13,265 ERROR       return p(*args, **kwargs)
2021-01-08 09:30:13,266 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:30:13,266 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:30:13,266 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:30:13,266 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:30:13,267 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'
2021-01-08 09:30:13,298 INFO Welcome to the CDS
2021-01-08 09:30:13,298 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:13,358 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000100"'.
d - testing:  32

2021-01-08 09:30:14,394 INFO Request is failed
2021-01-08 09:30:14,395 ERROR Message: an internal error occurred processing your request
2021-01-08 09:30:14,395 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-08 09:30:14,396 ERROR   Traceback (most recent call last):
2021-01-08 09:30:14,396 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:30:14,396 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:30:14,396 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:30:14,397 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:30:14,397 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:30:14,397 ERROR       return p(*args, **kwargs)
2021-01-08 09:30:14,398 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:30:14,398 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:30:14,398 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:30:14,398 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:30:14,399 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'
2021-01-08 09:30:14,430 INFO Welcome to the CDS
2021-01-08 09:30:14,430 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:14,492 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"only valid dates allowed for date: 20000132"'.
ymd - testing: finished
size - testing:  air_temperature 11035

2021-01-08 09:30:15,528 INFO Request is running
2021-01-08 09:30:17,063 INFO Request is completed
2021-01-08 09:30:17,064 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094616.6090271-7843-3-e2bd54e9-e600-4ab6-8a4c-8d4614ebf812.zip to download.zip (40M)
2021-01-08 09:30:22,060 INFO Download rate 8M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,48.248600,16.35640,32000.0,226.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,40000.0,236.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,43000.0,240.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,50000.0,248.649994,1949-02-08 04:00:00,30000000849
0,48.248600,16.35640,52300.0,251.649994,1949-02-08 04:00:00,30000000849
...,...,...,...,...,...,...
0,48.248959,16.35684,99890.0,282.329987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100000.0,282.420013,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100140.0,282.510010,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100220.0,282.579987,2019-12-31 11:32:33,10000055268
0,48.248959,16.35684,100330.0,282.720001,2019-12-31 11:32:33,10000055268

2021-01-08 09:30:23,171 INFO Welcome to the CDS
2021-01-08 09:30:23,171 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:30:23,238 INFO Request is queued

size - testing:  air_temperature 10393

2021-01-08 09:30:24,273 INFO Request is running
2021-01-08 09:30:44,245 INFO Request is completed
2021-01-08 09:30:44,245 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094640.4406078-7846-3-2270d46d-8eff-4af6-b3f1-cd2d29cee0a9.zip to download.zip (321.3M)
2021-01-08 09:31:21,799 INFO Download rate 8.6M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,52.216702,14.11670,20000.0,211.350006,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,25000.0,220.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,30000.0,228.449997,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,40000.0,241.649994,1905-04-04 06:00:00,30000000001
0,52.216702,14.11670,50000.0,254.850006,1905-04-04 06:00:00,30000000001
...,...,...,...,...,...,...
0,52.209301,14.12041,101330.0,278.450012,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101400.0,278.369995,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101450.0,278.309998,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101510.0,278.250000,2019-12-31 16:45:10,10000041139
0,52.209301,14.12041,101600.0,278.290009,2019-12-31 16:45:10,10000041139

2021-01-08 09:31:30,040 INFO Welcome to the CDS
2021-01-08 09:31:30,040 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network

size - testing:  air_temperature 1 month all stations

2021-01-08 09:31:30,272 INFO Request is queued
2021-01-08 09:31:31,308 INFO Request is running
2021-01-08 09:31:51,280 INFO Request is completed
2021-01-08 09:31:51,281 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094706.7353127-16630-4-150210d0-6abd-4198-8ad3-c7eafdd8ae3e.zip to download.zip (39.9M)
2021-01-08 09:31:52,519 INFO Download rate 32.2M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,47.461399,-111.384697,960.0,213.350006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1000.0,212.949997,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1080.0,210.850006,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1130.0,211.149994,2010-01-01 00:00:00,30000055381
0,47.461399,-111.384697,1390.0,216.449997,2010-01-01 00:00:00,30000055381
...,...,...,...,...,...,...
0,47.461399,-111.384697,83250.0,271.450012,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85000.0,271.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,85900.0,268.250000,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,87600.0,265.149994,2010-02-01 12:00:00,30000055444
0,47.461399,-111.384697,88150.0,264.549988,2010-02-01 12:00:00,30000055444

2021-01-08 09:31:53,111 INFO Welcome to the CDS
2021-01-08 09:31:53,112 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:31:53,178 INFO Request is queued

size - testing:  air_temperature everything

2021-01-08 09:31:54,214 INFO Request is failed
2021-01-08 09:31:54,214 ERROR Message: an internal error occurred processing your request
2021-01-08 09:31:54,215 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-08 09:31:54,215 ERROR   Traceback (most recent call last):
2021-01-08 09:31:54,215 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:31:54,216 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:31:54,216 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:31:54,216 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:31:54,216 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:31:54,217 ERROR       return p(*args, **kwargs)
2021-01-08 09:31:54,217 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:31:54,217 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:31:54,218 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:31:54,218 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:31:54,218 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-08 09:31:54,249 INFO Welcome to the CDS
2021-01-08 09:31:54,249 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:31:54,334 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing:  all variables 1 month all stations

2021-01-08 09:31:55,369 INFO Request is failed
2021-01-08 09:31:55,370 ERROR Message: an internal error occurred processing your request
2021-01-08 09:31:55,370 ERROR Reason:  something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-08 09:31:55,371 ERROR   Traceback (most recent call last):
2021-01-08 09:31:55,371 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/cdshandlers/services/handler.py", line 49, in handle_request
2021-01-08 09:31:55,371 ERROR       result = cached(context.method, proc, context, context.args, context.kwargs)
2021-01-08 09:31:55,371 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/caching.py", line 108, in cached
2021-01-08 09:31:55,372 ERROR       result = proc(context, *context.args, **context.kwargs)
2021-01-08 09:31:55,372 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 118, in __call__
2021-01-08 09:31:55,372 ERROR       return p(*args, **kwargs)
2021-01-08 09:31:55,372 ERROR     File "/opt/cdstoolbox/cdscompute/cdscompute/services.py", line 59, in __call__
2021-01-08 09:31:55,373 ERROR       return self.proc(context, *args, **kwargs)
2021-01-08 09:31:55,373 ERROR     File "/home/cds/cdsservices_contrib/services/comprehensive_upper_air.py", line 70, in execute
2021-01-08 09:31:55,373 ERROR       'something went wrong in the data provider service, check your query and try later {}'.format(res.content)
2021-01-08 09:31:55,374 ERROR   AssertionError: something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'
2021-01-08 09:31:55,404 INFO Welcome to the CDS
2021-01-08 09:31:55,405 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:31:55,489 INFO Request is queued

an internal error occurred processing your request. something went wrong in the data provider service, check your query and try later b'"Request too large - please split"'.
size - testing: finished
20300 - testing:  country

2021-01-08 09:31:56,525 INFO Request is completed
2021-01-08 09:31:56,525 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094715.9519653-29134-2-9d93b5c3-10a3-4e36-a333-1ae5e1ec35db.zip to download.zip (179.4K)
2021-01-08 09:31:56,643 INFO Download rate 1.5M/s

,lat,lon,plev,ta,time,trajectory_label
obs,,,,,,
0,50.279999,57.150002,2510.0,208.699997,2019-12-30 00:00:00,10000028675
0,50.279999,57.150002,2840.0,207.699997,2019-12-30 00:00:00,10000028675
0,50.279999,57.150002,2950.0,207.500000,2019-12-30 00:00:00,10000028675
0,50.279999,57.150002,3000.0,207.300003,2019-12-30 00:00:00,10000028675
0,50.279999,57.150002,3680.0,203.899994,2019-12-30 00:00:00,10000028675
...,...,...,...,...,...,...
0,50.000000,50.000000,99890.0,10.000000,2019-12-31 11:32:33,10000055268
0,50.000000,50.000000,100000.0,10.000000,2019-12-31 11:32:33,10000055268
0,50.000000,50.000000,100140.0,10.000000,2019-12-31 11:32:33,10000055268
0,50.000000,50.000000,100220.0,10.000000,2019-12-31 11:32:33,10000055268
0,50.000000,50.000000,100330.0,10.000000,2019-12-31 11:32:33,10000055268

2021-01-08 09:31:56,784 INFO Welcome to the CDS
2021-01-08 09:31:56,785 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:31:56,843 INFO Request is queued

20300 - testing:  area

2021-01-08 09:31:57,879 INFO Request is running
2021-01-08 09:31:59,415 INFO Request is completed
2021-01-08 09:31:59,415 INFO Downloading http://136.156.132.176/cache-compute-0000/cache/data1/adaptor.comprehensive_upper_air.retrieve-1610094718.5551078-19229-4-4a33ad53-3dae-45ed-8127-57cc0d33edc4.zip to download.zip (33.6M)
2021-01-08 09:32:01,693 INFO Download rate 14.8M/s

      lat   lon      plev    ta                time trajectory_label
obs
0    50.0  50.0   32000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   40000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   43000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   50000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   52300.0  10.0 1949-02-08 04:00:00      30000000849
..    ...   ...       ...   ...                 ...              ...
0    50.0  50.0   99890.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100000.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100140.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100220.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100330.0  10.0 2019-12-31 11:32:33      10000055268

[3573965 rows x 6 columns]

2021-01-08 09:32:02,709 INFO Welcome to the CDS
2021-01-08 09:32:02,709 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-comprehensive-upper-air-observation-network
2021-01-08 09:32:02,769 INFO Request is queued

20300 - testing:  20300*

2021-01-08 09:32:03,804 INFO Request is running
2021-01-08 09:32:05,340 INFO Request is completed
2021-01-08 09:32:05,340 INFO Downloading http://136.156.132.204/cache-compute-0001/cache/data2/adaptor.comprehensive_upper_air.retrieve-1610094724.3982651-32287-7-7154eb23-e554-432f-b473-b20577e3fdcf.zip to download.zip (33.6M)
2021-01-08 09:32:07,115 INFO Download rate 19M/s

      lat   lon      plev    ta                time trajectory_label
obs
0    50.0  50.0   32000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   40000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   43000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   50000.0  10.0 1949-02-08 04:00:00      30000000849
0    50.0  50.0   52300.0  10.0 1949-02-08 04:00:00      30000000849
..    ...   ...       ...   ...                 ...              ...
0    50.0  50.0   99890.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100000.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100140.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100220.0  10.0 2019-12-31 11:32:33      10000055268
0    50.0  50.0  100330.0  10.0 2019-12-31 11:32:33      10000055268

[3573965 rows x 6 columns]

20300 - testing: finished