In [1]:
import numpy
import numpy as np
import pandas
import pandas as pd
from numba import njit
import sys,glob
import zipfile, os, time
import urllib3
from datetime import datetime, timedelta
import glob
import h5py
sys.path.append(os.getcwd()+'/../cds-backend/code/')
sys.path.append(os.getcwd()+'/../harvest/code/')
from harvest_convert_to_netCDF_newfixes import write_dict_h5
import cds_eua3 as eua
eua.logging_set_level(30)
import xarray as xr

import cdsapi, zipfile, os, time
#import schedule
import copy
from shutil import copyfile
import multiprocessing
sys.path.append(os.getcwd()+'/../resort/rasotools-master/')
import rasotools
np.seterr(all='warn')
np.errstate(divide='raise')

## Calculating the estimate time for calculation:

In [2]:
files = glob.glob('/raid60/scratch/federico/MERGED_DATABASE_OCTOBER2020_sensor/*.nc')
files[6020]

'/raid60/scratch/federico/MERGED_DATABASE_OCTOBER2020_sensor/0-20000-0-54102_CEUAS_merged_v0.nc'

In [3]:
b = os.path.getsize(files[6020])
b

122974841

In [4]:
t = 2633.3687977790833/60
t

43.88947996298472

v2:

In [5]:
tnew = (1306.7448754310608 + 185.2546329498291) / 60
tnew

24.86665847301483

In [6]:
b/tnew

4945370.570535308

Speed: ~4.9 MB/(min thread)

In [7]:
dirsize = 0 
for i in files:
    dirsize += os.path.getsize(i)
dirsize

618842993516

In [8]:
mintime = (dirsize)/(b/tnew)

In [9]:
mintime/60/24 , 'days'

(86.89987387214894, 'days')

~ 4 days on 20 cores -> more cores available on the jet?

---
---

## v1:

In [10]:
filesout = glob.glob('/raid60/scratch/uli/converted/*')
filesout

['/raid60/scratch/uli/converted/0-20000-0-22152_CEUAS_merged_v0.nc',
 '/raid60/scratch/uli/converted/0-20000-0-11019_CEUAS_merged_v0.nc',
 '/raid60/scratch/uli/converted/0-20000-0-54102_CEUAS_merged_v0.nc',
 '/raid60/scratch/uli/converted/0-20000-0-11035_CEUAS_merged_v0.nc']

In [11]:
# with eua.CDMDataset('/raid60/scratch/federico/MERGED_DATABASE_OCTOBER2020_sensor/0-20000-0-11019_CEUAS_merged_v0.nc') as test:
with eua.CDMDataset(filesout[2]) as test:

    print(test)
    print(test.recordindices)
    print(test.observations_table)
    print(test.era5fb)
    print(test.era5fb['an_depar@body'][:])
    print(test.era5fb['fg_depar@body'][:])
    aa = test.to_dataframe(groups=['observations_table', 'era5fb'], variables=['z_coordinate', 'date_time','observed_variable', 'observation_value', 'conversion_flag', 'conversion_method', 'fg_depar@body', 'an_depar@body','biascorr@body', 'biascorr_fg@body'])
aa

File: <HDF5 file "0-20000-0-54102_CEUAS_merged_v0.nc" (mode r)>
Filename: /raid60/scratch/uli/converted/0-20000-0-54102_CEUAS_merged_v0.nc
(G)roups/(V)ariables:

 - G | crs__________________________________________ : : 4
 - V | dateindex____________________________________ : : (22851,)
 - G | era5fb_______________________________________ : : 71
 - G | header_table_________________________________ : : 56
 - G | observations_table___________________________ : : 49
 - G | observed_variable____________________________ : : 9
 - G | recordindices________________________________ : : 18
 - G | sensor_configuration_________________________ : : 12
 - G | source_configuration_________________________ : : 2
 - G | station_configuration________________________ : : 48
 - G | station_configuration_codes__________________ : : 7
 - G | station_type_________________________________ : : 4
 - G | units________________________________________ : : 6
 - G | z_coordinate_type____________________________ : : 4
recordindices:

0_________________________________________________ : : (47051,)
104_______________________________________________ : : (47051,)
105_______________________________________________ : : (47051,)
106_______________________________________________ : : (47051,)
107_______________________________________________ : : (47051,)
117_______________________________________________ : : (47051,)
136_______________________________________________ : : (47051,)
137_______________________________________________ : : (47051,)
138_______________________________________________ : : (47051,)
139_______________________________________________ : : (47051,)
140_______________________________________________ : : (47051,)
34________________________________________________ : : (47051,)
36________________________________________________ : : (47051,)
38________________________________________________ : : (47051,)
39________________________________________________ : : (47051,)
85________________________________________________ : : (47051,)
index_____________________________________________ : : (47051,)
recordtimestamp___________________________________ : : (47051,)
observations_table:

adjustment_id_____________________________________ : : (4954549,)
advanced_assimilation_feedback____________________ : : (4954549,)
advanced_homogenisation___________________________ : : (4954549,)
advanced_qc_______________________________________ : : (4954549,)
advanced_uncertainty______________________________ : : (4954549,)
bbox_max_latitude_________________________________ : : (4954549,)
bbox_max_longitude________________________________ : : (4954549,)
bbox_min_latitude_________________________________ : : (4954549,)
bbox_min_longitude________________________________ : : (4954549,)
code_table________________________________________ : : (4954549,)
conversion_flag___________________________________ : : (4954549,)
conversion_method_________________________________ : : (4954549,)
crs_______________________________________________ : : (4954549,)
data_policy_licence_______________________________ : : (4954549,)
date_time_________________________________________ : : (4954549,)
date_time_meaning_________________________________ : : (4954549,)
exposure_of_sensor________________________________ : : (4954549,)
latitude__________________________________________ : : (4954549,)
location_method___________________________________ : : (4954549,)
location_precision________________________________ : : (4954549,)
longitude_________________________________________ : : (4954549,)
numerical_precision_______________________________ : : (4954549,)
observation_duration______________________________ : : (4954549,)
observation_height_above_station_surface__________ : : (4954549,)
observation_id____________________________________ : : (4954549, 11)
observation_value_________________________________ : : (4954549,)
observed_variable_________________________________ : : (4954549,)
original_code_table_______________________________ : : (4954549,)
original_precision________________________________ : : (4954549,)
original_units____________________________________ : : (4954549,)
original_value____________________________________ : : (4954549,)
processing_level__________________________________ : : (4954549,)
quality_flag______________________________________ : : (4954549,)
report_id_________________________________________ : : (4954549, 11)
secondary_value___________________________________ : : (4954549,)
secondary_variable________________________________ : : (4954549,)
sensor_automation_status__________________________ : : (4954549,)
sensor_id_________________________________________ : : (4954549, 3)
source_id_________________________________________ : : (4954549, 9)
spatial_representativeness________________________ : : (4954549,)
string11__________________________________________ : : (11,)
string3___________________________________________ : : (3,)
string9___________________________________________ : : (9,)
traceability______________________________________ : : (4954549,)
units_____________________________________________ : : (4954549,)
value_significance________________________________ : : (4954549,)
z_coordinate______________________________________ : : (4954549,)
z_coordinate_method_______________________________ : : (4954549,)
z_coordinate_type_________________________________ : : (4954549,)
era5fb:

albedo@modsurf____________________________________ : : (4954549,)
an_depar@body_____________________________________ : : (4954549,)
an_depar@surfbody_feedback________________________ : : (4954549,)
an_sens_obs@body__________________________________ : : (4954549,)
andate____________________________________________ : : (4954549,)
antime____________________________________________ : : (4954549,)
biascorr@body_____________________________________ : : (4954549,)
biascorr_fg@body__________________________________ : : (4954549,)
bufrtype@hdr______________________________________ : : (4954549,)
class_____________________________________________ : : (4954549,)
codetype@hdr______________________________________ : : (4954549,)
collection_identifier@conv________________________ : : (4954549,)
date@hdr__________________________________________ : : (4954549,)
datum_anflag@body_________________________________ : : (4954549,)
datum_event1@body_________________________________ : : (4954549,)
datum_rdbflag@body________________________________ : : (4954549,)
datum_sfc_event@surfbody_feedback_________________ : : (4954549,)
datum_status@body_________________________________ : : (4954549,)
datum_status@surfbody_feedback____________________ : : (4954549,)
eda_spread@errstat________________________________ : : (4954549,)
entryno@body______________________________________ : : (4954549,)
expver____________________________________________ : : (4954549, 6)
fg_depar@body_____________________________________ : : (4954549,)
fg_depar@surfbody_feedback________________________ : : (4954549,)
fg_error@errstat__________________________________ : : (4954549,)
final_obs_error@errstat___________________________ : : (4954549,)
groupid@hdr_______________________________________ : : (4954549,)
lat@hdr___________________________________________ : : (4954549,)
lon@hdr___________________________________________ : : (4954549,)
lsm@modsurf_______________________________________ : : (4954549,)
lsm@surfbody_feedback_____________________________ : : (4954549,)
numtsl@desc_______________________________________ : : (4954549,)
obs_error@errstat_________________________________ : : (4954549,)
obstype@hdr_______________________________________ : : (4954549,)
obsvalue@body_____________________________________ : : (4954549,)
orography@modsurf_________________________________ : : (4954549,)
ppcode@conv_body__________________________________ : : (4954549,)
qc_pge@body_______________________________________ : : (4954549,)
report_event1@hdr_________________________________ : : (4954549,)
report_rdbflag@hdr________________________________ : : (4954549,)
report_status@hdr_________________________________ : : (4954549,)
reportype_________________________________________ : : (4954549,)
seaice@modsurf____________________________________ : : (4954549,)
sensor@hdr________________________________________ : : (4954549,)
seqno@hdr_________________________________________ : : (4954549,)
snow_density@surfbody_feedback____________________ : : (4954549,)
snow_depth@modsurf________________________________ : : (4954549,)
snow_depth@surfbody_feedback______________________ : : (4954549,)
sonde_type@conv___________________________________ : : (4954549,)
source@hdr________________________________________ : : (4954549, 10)
source_id_________________________________________ : : (4954549, 10)
stalt@hdr_________________________________________ : : (4954549,)
statid@hdr________________________________________ : : (4954549, 9)
station_type@conv_________________________________ : : (4954549,)
stream____________________________________________ : : (4954549,)
string10__________________________________________ : : (10,)
string6___________________________________________ : : (6,)
string9___________________________________________ : : (9,)
subtype@hdr_______________________________________ : : (4954549,)
time@hdr__________________________________________ : : (4954549,)
timeseries_index@conv_____________________________ : : (4954549,)
timeslot@timeslot_index___________________________ : : (4954549,)
tsfc@modsurf______________________________________ : : (4954549,)
type______________________________________________ : : (4954549,)
unique_identifier@conv____________________________ : : (4954549,)
varbc_ix@body_____________________________________ : : (4954549,)
varno@body________________________________________ : : (4954549,)
vertco_reference_1@body___________________________ : : (4954549,)
vertco_reference_2@body___________________________ : : (4954549,)
vertco_type@body__________________________________ : : (4954549,)
windspeed10m@modsurf______________________________ : : (4954549,)
[-1.70020813e+02 -3.53135101e+02  8.73054883e+03 ...  2.67600346e+00
  3.25205684e+00 -7.45814979e-01]
[-1.31210556e+02 -2.71075256e+02  8.76308203e+03 ...  1.91341853e+00
  3.49067974e+00 -8.06894898e-01]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
0,9473.223633,1964-06-01 11:00:00,0,90000.000000,-2147483648,-2147483648,-131.210556,-170.020813,0.0,0.0
1,9473.223633,1964-07-15 11:00:00,0,88500.000000,-2147483648,-2147483648,-271.075256,-353.135101,0.0,0.0
2,9473.223633,1964-07-30 11:00:00,0,98500.000000,-2147483648,-2147483648,8763.082031,8730.548828,0.0,0.0
3,9473.223633,1964-08-04 23:00:00,0,89300.000000,-2147483648,-2147483648,-244.882065,-286.890900,0.0,0.0
4,9473.223633,1964-08-15 23:00:00,0,89900.000000,-2147483648,-2147483648,-172.731949,-172.108704,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
4954544,89810.000000,2019-12-28 23:15:24,140,1.169487,-2147483648,-2147483648,0.506251,0.767653,NaN,NaN
4954545,90780.000000,2019-12-29 11:16:12,140,2.630227,-2147483648,-2147483648,3.134859,2.860141,NaN,NaN
4954546,91280.000000,2019-12-29 23:15:47,140,0.615662,-2147483648,-2147483648,1.913419,2.676003,NaN,NaN
4954547,91770.000000,2019-12-30 11:15:22,140,4.405243,-2147483648,-2147483648,3.490680,3.252057,NaN,NaN
4954548,91040.000000,2019-12-30 23:15:09,140,2.999543,-2147483648,-2147483648,-0.806895,-0.745815,NaN,NaN

In [12]:
b_aa = aa[aa['conversion_method'] > 0]
display(b_aa)
b_aa[np.isnan(b_aa['fg_depar@body'])]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
41,30000.0,1956-08-20 15:00:00,34,9.890000,0,3,5.820000,3.810000,NaN,NaN
42,40000.0,1956-08-20 15:00:00,34,9.690000,0,3,1.500000,-2.720000,NaN,NaN
43,50000.0,1956-08-20 15:00:00,34,6.950000,0,3,-18.830002,-21.860001,NaN,NaN
44,70000.0,1956-08-20 15:00:00,34,1.000000,0,3,-5.600000,-8.800000,NaN,NaN
45,85000.0,1956-08-20 15:00:00,34,3.190000,0,3,-3.310000,-4.140000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3149797,89810.0,2019-12-28 23:15:24,105,-3.825219,0,2,NaN,NaN,NaN,NaN
3149830,90780.0,2019-12-29 11:16:12,105,-5.392765,0,2,NaN,NaN,NaN,NaN
3149858,91280.0,2019-12-29 23:15:47,105,-0.788011,0,2,NaN,NaN,NaN,NaN
3149890,91770.0,2019-12-30 11:15:22,105,-5.440022,0,2,NaN,NaN,NaN,NaN
3149917,91040.0,2019-12-30 23:15:09,105,-0.052357,0,2,NaN,NaN,NaN,NaN

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
1371,81700.0,1957-06-22 00:00:00,34,5.250000,0,3,NaN,4.47,NaN,NaN
1871,49900.0,1957-07-23 00:00:00,34,0.000000,0,3,NaN,-0.19,NaN,NaN
1872,50000.0,1957-07-23 00:00:00,34,0.000000,0,3,NaN,-0.17,NaN,NaN
1919,89200.0,1957-07-25 00:00:00,34,1.240000,0,3,NaN,1.02,NaN,NaN
1951,82700.0,1957-07-27 00:00:00,34,0.000000,0,3,NaN,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3149797,89810.0,2019-12-28 23:15:24,105,-3.825219,0,2,NaN,NaN,NaN,NaN
3149830,90780.0,2019-12-29 11:16:12,105,-5.392765,0,2,NaN,NaN,NaN,NaN
3149858,91280.0,2019-12-29 23:15:47,105,-0.788011,0,2,NaN,NaN,NaN,NaN
3149890,91770.0,2019-12-30 11:15:22,105,-5.440022,0,2,NaN,NaN,NaN,NaN
3149917,91040.0,2019-12-30 23:15:09,105,-0.052357,0,2,NaN,NaN,NaN,NaN

In [13]:
aa[np.isnan(aa['observation_value'])]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
5419,36100.0,1958-04-27 00:00:00,34,NaN,0,3,NaN,NaN,NaN,NaN
32485,10000.0,1967-10-10 00:00:00,34,NaN,0,3,NaN,NaN,NaN,NaN
32486,20000.0,1967-10-10 00:00:00,34,NaN,0,3,NaN,NaN,NaN,NaN
32487,30000.0,1967-10-10 00:00:00,34,NaN,0,3,NaN,NaN,NaN,NaN
32493,10000.0,1967-10-11 00:00:00,34,NaN,0,3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
322011,12800.0,2013-07-11 11:00:00,34,NaN,0,3,NaN,NaN,NaN,NaN
322143,12500.0,2013-07-18 23:00:00,34,NaN,0,3,NaN,NaN,NaN,NaN
322212,13900.0,2013-07-21 23:00:00,34,NaN,0,3,NaN,NaN,NaN,NaN
322260,14000.0,2013-07-24 11:00:00,34,NaN,0,3,NaN,NaN,NaN,NaN
322334,12300.0,2013-07-28 23:00:00,34,NaN,0,3,NaN,NaN,NaN,NaN

---
---

## v2:

In [14]:
filesout = glob.glob('/raid60/scratch/uli/converted_v2/*')
filesout

['/raid60/scratch/uli/converted_v2/0-20000-0-11019_CEUAS_merged_v0.nc',
 '/raid60/scratch/uli/converted_v2/0-20000-0-22152_CEUAS_merged_v0.nc',
 '/raid60/scratch/uli/converted_v2/0-20000-0-54102_CEUAS_merged_v0.nc']

In [15]:
# with eua.CDMDataset('/raid60/scratch/federico/MERGED_DATABASE_OCTOBER2020_sensor/0-20000-0-11019_CEUAS_merged_v0.nc') as test:
with eua.CDMDataset(filesout[-1]) as test:

    print(test)
    print(test.recordindices)
    print(test.recordindices['34'][:])
    print(test.recordindices['36'][:])
    print(test.observations_table)
    print(test.era5fb)
    print(test.era5fb['an_depar@body'][:])
    print(test.era5fb['fg_depar@body'][:])
    aaa = test.to_dataframe(groups=['observations_table', 'era5fb'], variables=['z_coordinate', 'date_time','observed_variable', 'observation_value', 'conversion_flag', 'conversion_method', 'fg_depar@body', 'an_depar@body','biascorr@body', 'biascorr_fg@body'])
aaa

File: <HDF5 file "0-20000-0-54102_CEUAS_merged_v0.nc" (mode r)>
Filename: /raid60/scratch/uli/converted_v2/0-20000-0-54102_CEUAS_merged_v0.nc
(G)roups/(V)ariables:

 - G | crs__________________________________________ : : 4
 - V | dateindex____________________________________ : : (22851,)
 - G | era5fb_______________________________________ : : 71
 - G | header_table_________________________________ : : 56
 - G | observations_table___________________________ : : 49
 - G | observed_variable____________________________ : : 9
 - G | recordindices________________________________ : : 18
 - G | sensor_configuration_________________________ : : 12
 - G | source_configuration_________________________ : : 2
 - G | station_configuration________________________ : : 48
 - G | station_configuration_codes__________________ : : 7
 - G | station_type_________________________________ : : 4
 - G | units________________________________________ : : 6
 - G | z_coordinate_type____________________________ : : 4
recordindices:

0_________________________________________________ : : (47051,)
104_______________________________________________ : : (47051,)
105_______________________________________________ : : (47051,)
106_______________________________________________ : : (47051,)
107_______________________________________________ : : (47051,)
117_______________________________________________ : : (47051,)
136_______________________________________________ : : (47051,)
137_______________________________________________ : : (47051,)
138_______________________________________________ : : (47051,)
139_______________________________________________ : : (47051,)
140_______________________________________________ : : (47051,)
34________________________________________________ : : (47051,)
36________________________________________________ : : (47051,)
38________________________________________________ : : (47051,)
39________________________________________________ : : (47051,)
85________________________________________________ : : (47051,)
index_____________________________________________ : : (47051,)
recordtimestamp___________________________________ : : (47051,)
[    41     41     41 ... 372766 372766 372766]
[372766 372766 372766 ... 723745 723745 723745]
observations_table:

adjustment_id_____________________________________ : : (4954089,)
advanced_assimilation_feedback____________________ : : (4954089,)
advanced_homogenisation___________________________ : : (4954089,)
advanced_qc_______________________________________ : : (4954089,)
advanced_uncertainty______________________________ : : (4954089,)
bbox_max_latitude_________________________________ : : (4954089,)
bbox_max_longitude________________________________ : : (4954089,)
bbox_min_latitude_________________________________ : : (4954089,)
bbox_min_longitude________________________________ : : (4954089,)
code_table________________________________________ : : (4954089,)
conversion_flag___________________________________ : : (4954089,)
conversion_method_________________________________ : : (4954089,)
crs_______________________________________________ : : (4954089,)
data_policy_licence_______________________________ : : (4954089,)
date_time_________________________________________ : : (4954089,)
date_time_meaning_________________________________ : : (4954089,)
exposure_of_sensor________________________________ : : (4954089,)
latitude__________________________________________ : : (4954089,)
location_method___________________________________ : : (4954089,)
location_precision________________________________ : : (4954089,)
longitude_________________________________________ : : (4954089,)
numerical_precision_______________________________ : : (4954089,)
observation_duration______________________________ : : (4954089,)
observation_height_above_station_surface__________ : : (4954089,)
observation_id____________________________________ : : (4954089, 11)
observation_value_________________________________ : : (4954089,)
observed_variable_________________________________ : : (4954089,)
original_code_table_______________________________ : : (4954089,)
original_precision________________________________ : : (4954089,)
original_units____________________________________ : : (4954089,)
original_value____________________________________ : : (4954089,)
processing_level__________________________________ : : (4954089,)
quality_flag______________________________________ : : (4954089,)
report_id_________________________________________ : : (4954089, 11)
secondary_value___________________________________ : : (4954089,)
secondary_variable________________________________ : : (4954089,)
sensor_automation_status__________________________ : : (4954089,)
sensor_id_________________________________________ : : (4954089, 3)
source_id_________________________________________ : : (4954089, 9)
spatial_representativeness________________________ : : (4954089,)
string11__________________________________________ : : (11,)
string3___________________________________________ : : (3,)
string9___________________________________________ : : (9,)
traceability______________________________________ : : (4954089,)
units_____________________________________________ : : (4954089,)
value_significance________________________________ : : (4954089,)
z_coordinate______________________________________ : : (4954089,)
z_coordinate_method_______________________________ : : (4954089,)
z_coordinate_type_________________________________ : : (4954089,)
era5fb:

albedo@modsurf____________________________________ : : (4954089,)
an_depar@body_____________________________________ : : (4954089,)
an_depar@surfbody_feedback________________________ : : (4954089,)
an_sens_obs@body__________________________________ : : (4954089,)
andate____________________________________________ : : (4954089,)
antime____________________________________________ : : (4954089,)
biascorr@body_____________________________________ : : (4954089,)
biascorr_fg@body__________________________________ : : (4954089,)
bufrtype@hdr______________________________________ : : (4954089,)
class_____________________________________________ : : (4954089,)
codetype@hdr______________________________________ : : (4954089,)
collection_identifier@conv________________________ : : (4954089,)
date@hdr__________________________________________ : : (4954089,)
datum_anflag@body_________________________________ : : (4954089,)
datum_event1@body_________________________________ : : (4954089,)
datum_rdbflag@body________________________________ : : (4954089,)
datum_sfc_event@surfbody_feedback_________________ : : (4954089,)
datum_status@body_________________________________ : : (4954089,)
datum_status@surfbody_feedback____________________ : : (4954089,)
eda_spread@errstat________________________________ : : (4954089,)
entryno@body______________________________________ : : (4954089,)
expver____________________________________________ : : (4954089, 6)
fg_depar@body_____________________________________ : : (4954089,)
fg_depar@surfbody_feedback________________________ : : (4954089,)
fg_error@errstat__________________________________ : : (4954089,)
final_obs_error@errstat___________________________ : : (4954089,)
groupid@hdr_______________________________________ : : (4954089,)
lat@hdr___________________________________________ : : (4954089,)
lon@hdr___________________________________________ : : (4954089,)
lsm@modsurf_______________________________________ : : (4954089,)
lsm@surfbody_feedback_____________________________ : : (4954089,)
numtsl@desc_______________________________________ : : (4954089,)
obs_error@errstat_________________________________ : : (4954089,)
obstype@hdr_______________________________________ : : (4954089,)
obsvalue@body_____________________________________ : : (4954089,)
orography@modsurf_________________________________ : : (4954089,)
ppcode@conv_body__________________________________ : : (4954089,)
qc_pge@body_______________________________________ : : (4954089,)
report_event1@hdr_________________________________ : : (4954089,)
report_rdbflag@hdr________________________________ : : (4954089,)
report_status@hdr_________________________________ : : (4954089,)
reportype_________________________________________ : : (4954089,)
seaice@modsurf____________________________________ : : (4954089,)
sensor@hdr________________________________________ : : (4954089,)
seqno@hdr_________________________________________ : : (4954089,)
snow_density@surfbody_feedback____________________ : : (4954089,)
snow_depth@modsurf________________________________ : : (4954089,)
snow_depth@surfbody_feedback______________________ : : (4954089,)
sonde_type@conv___________________________________ : : (4954089,)
source@hdr________________________________________ : : (4954089, 10)
source_id_________________________________________ : : (4954089, 10)
stalt@hdr_________________________________________ : : (4954089,)
statid@hdr________________________________________ : : (4954089, 9)
station_type@conv_________________________________ : : (4954089,)
stream____________________________________________ : : (4954089,)
string10__________________________________________ : : (10,)
string6___________________________________________ : : (6,)
string9___________________________________________ : : (9,)
subtype@hdr_______________________________________ : : (4954089,)
time@hdr__________________________________________ : : (4954089,)
timeseries_index@conv_____________________________ : : (4954089,)
timeslot@timeslot_index___________________________ : : (4954089,)
tsfc@modsurf______________________________________ : : (4954089,)
type______________________________________________ : : (4954089,)
unique_identifier@conv____________________________ : : (4954089,)
varbc_ix@body_____________________________________ : : (4954089,)
varno@body________________________________________ : : (4954089,)
vertco_reference_1@body___________________________ : : (4954089,)
vertco_reference_2@body___________________________ : : (4954089,)
vertco_type@body__________________________________ : : (4954089,)
windspeed10m@modsurf______________________________ : : (4954089,)
[-1.70020813e+02 -3.53135101e+02  8.73054883e+03 ...  2.67600346e+00
  3.25205684e+00 -7.45814979e-01]
[-1.31210556e+02 -2.71075256e+02  8.76308203e+03 ...  1.91341853e+00
  3.49067974e+00 -8.06894898e-01]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
0,9473.223633,1964-06-01 11:00:00,0,90000.000000,-2147483648,-2147483648,-131.210556,-170.020813,0.0,0.0
1,9473.223633,1964-07-15 11:00:00,0,88500.000000,-2147483648,-2147483648,-271.075256,-353.135101,0.0,0.0
2,9473.223633,1964-07-30 11:00:00,0,98500.000000,-2147483648,-2147483648,8763.082031,8730.548828,0.0,0.0
3,9473.223633,1964-08-04 23:00:00,0,89300.000000,-2147483648,-2147483648,-244.882065,-286.890900,0.0,0.0
4,9473.223633,1964-08-15 23:00:00,0,89900.000000,-2147483648,-2147483648,-172.731949,-172.108704,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
4954084,89810.000000,2019-12-28 23:15:24,140,1.169487,-2147483648,-2147483648,0.506251,0.767653,NaN,NaN
4954085,90780.000000,2019-12-29 11:16:12,140,2.630227,-2147483648,-2147483648,3.134859,2.860141,NaN,NaN
4954086,91280.000000,2019-12-29 23:15:47,140,0.615662,-2147483648,-2147483648,1.913419,2.676003,NaN,NaN
4954087,91770.000000,2019-12-30 11:15:22,140,4.405243,-2147483648,-2147483648,3.490680,3.252057,NaN,NaN
4954088,91040.000000,2019-12-30 23:15:09,140,2.999543,-2147483648,-2147483648,-0.806895,-0.745815,NaN,NaN

In [16]:
b_aaa = aaa[aaa['conversion_method'] > 0]
display(b_aaa)
b_aaa[np.isnan(b_aaa['fg_depar@body'])]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
41,30000.0,1956-08-20 15:00:00,34,9.890000,0,3,5.820000,3.810000,NaN,NaN
42,40000.0,1956-08-20 15:00:00,34,9.690000,0,3,1.500000,-2.720000,NaN,NaN
43,50000.0,1956-08-20 15:00:00,34,6.950000,0,3,-18.830002,-21.860001,NaN,NaN
44,70000.0,1956-08-20 15:00:00,34,1.000000,0,3,-5.600000,-8.800000,NaN,NaN
45,85000.0,1956-08-20 15:00:00,34,3.190000,0,3,-3.310000,-4.140000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3149337,89810.0,2019-12-28 23:15:24,105,-3.825219,0,2,NaN,NaN,NaN,NaN
3149370,90780.0,2019-12-29 11:16:12,105,-5.392765,0,2,NaN,NaN,NaN,NaN
3149398,91280.0,2019-12-29 23:15:47,105,-0.788011,0,2,NaN,NaN,NaN,NaN
3149430,91770.0,2019-12-30 11:15:22,105,-5.440022,0,2,NaN,NaN,NaN,NaN
3149457,91040.0,2019-12-30 23:15:09,105,-0.052357,0,2,NaN,NaN,NaN,NaN

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
1371,81700.0,1957-06-22 00:00:00,34,5.250000,0,3,NaN,4.47,NaN,NaN
1871,49900.0,1957-07-23 00:00:00,34,0.000000,0,3,NaN,-0.19,NaN,NaN
1872,50000.0,1957-07-23 00:00:00,34,0.000000,0,3,NaN,-0.17,NaN,NaN
1919,89200.0,1957-07-25 00:00:00,34,1.240000,0,3,NaN,1.02,NaN,NaN
1951,82700.0,1957-07-27 00:00:00,34,0.000000,0,3,NaN,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3149337,89810.0,2019-12-28 23:15:24,105,-3.825219,0,2,NaN,NaN,NaN,NaN
3149370,90780.0,2019-12-29 11:16:12,105,-5.392765,0,2,NaN,NaN,NaN,NaN
3149398,91280.0,2019-12-29 23:15:47,105,-0.788011,0,2,NaN,NaN,NaN,NaN
3149430,91770.0,2019-12-30 11:15:22,105,-5.440022,0,2,NaN,NaN,NaN,NaN
3149457,91040.0,2019-12-30 23:15:09,105,-0.052357,0,2,NaN,NaN,NaN,NaN

In [17]:
aaa[np.isnan(aaa['observation_value'])]

Empty DataFrame
Columns: [z_coordinate, date_time, observed_variable, observation_value, conversion_flag, conversion_method, fg_depar@body, an_depar@body, biascorr@body, biascorr_fg@body]
Index: []

---
---

In [18]:
converted_variables_v1 = 460584 
converted_variables_v2 = 460124 
nan_variables_v1 = 483
nan_variables_v2 = 0

print('gained variables: ', ((converted_variables_v2 - nan_variables_v2) - (converted_variables_v1 - nan_variables_v1)))

time_v1 = 1306.7448754310608 + 185.2546329498291
time_v2 = 1411.9842202663422 + 183.59471774101257
print('more time consumed: ', (time_v2 - time_v1)/60, 'min')

gained variables:  23
more time consumed:  1.7263238271077475 min

---
---

In [19]:
aaa[aaa['observed_variable'] == 34]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
41,30000.0,1956-08-20 15:00:00,34,9.89,0,3,5.820000,3.810000,NaN,NaN
42,40000.0,1956-08-20 15:00:00,34,9.69,0,3,1.500000,-2.720000,NaN,NaN
43,50000.0,1956-08-20 15:00:00,34,6.95,0,3,-18.830002,-21.860001,NaN,NaN
44,70000.0,1956-08-20 15:00:00,34,1.00,0,3,-5.600000,-8.800000,NaN,NaN
45,85000.0,1956-08-20 15:00:00,34,3.19,0,3,-3.310000,-4.140000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
372761,85000.0,2019-12-30 23:15:09,34,8.59,0,3,-5.809999,-4.520000,NaN,NaN
372762,85500.0,2019-12-30 23:15:09,34,7.59,0,3,-6.000000,-4.690000,NaN,NaN
372763,88100.0,2019-12-30 23:15:09,34,6.79,0,3,-4.110000,-2.970000,NaN,NaN
372764,89100.0,2019-12-30 23:15:09,34,6.89,0,3,-3.880001,-2.830000,NaN,NaN
372765,91000.0,2019-12-30 23:15:09,34,6.69,0,3,-4.150000,-3.140000,NaN,NaN

In [20]:
with eua.CDMDataset('/raid60/scratch/federico/MERGED_DATABASE_OCTOBER2020_sensor/0-20000-0-54102_CEUAS_merged_v0.nc') as test:
    ref = test.to_dataframe(groups=['observations_table', 'era5fb'], variables=['z_coordinate', 'date_time','observed_variable', 'observation_value', 'conversion_flag', 'conversion_method', 'fg_depar@body', 'an_depar@body','biascorr@body', 'biascorr_fg@body'])
    arrayconverter = test.to_dataframe(groups='observations_table', variables=['observed_variable'])
    arrayconverter = arrayconverter.observed_variable.head(1).to_xarray()
ref

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
0,79190.484375,1956-08-20 03:00:00,106,150.000000,-2147483648,-2147483648,NaN,NaN,0.0,0.0
1,79190.484375,1956-08-20 03:00:00,107,7.000000,-2147483648,-2147483648,-0.236686,-0.458606,0.0,0.0
2,79190.484375,1956-08-20 03:00:00,104,-3.500000,-2147483648,-2147483648,-4.902144,-0.307024,0.0,0.0
3,79190.484375,1956-08-20 03:00:00,105,6.062178,-2147483648,-2147483648,-1.037373,-0.678424,0.0,0.0
4,84041.859375,1956-08-20 03:00:00,106,150.000000,-2147483648,-2147483648,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
4498261,90840.000000,2019-12-31 11:15:17,117,9845.876953,-2147483648,-2147483648,72.100586,41.154060,NaN,NaN
4498262,90840.000000,2019-12-31 11:15:17,136,253.050003,-2147483648,-2147483648,NaN,NaN,NaN,NaN
4498263,90840.000000,2019-12-31 11:15:17,137,246.750000,-2147483648,-2147483648,NaN,NaN,NaN,NaN
4498264,90840.000000,2019-12-31 11:15:17,138,0.570813,-2147483648,-2147483648,0.296632,0.273383,NaN,NaN
4498265,90840.000000,2019-12-31 11:15:17,39,0.000486,-2147483648,-2147483648,0.000151,0.000141,NaN,NaN

In [21]:
test = ref[ref['z_coordinate'] == 30000.0][ref['date_time'] == '1956-08-20 15:00:00']
display(test)

<ipython-input-21-1dde28cc5541>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  test = ref[ref['z_coordinate'] == 30000.0][ref['date_time'] == '1956-08-20 15:00:00']

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
18,30000.0,1956-08-20 15:00:00,117,92868.976562,-2147483648,-2147483648,396.621185,436.673920,0.00000,0.00000
19,30000.0,1956-08-20 15:00:00,85,238.649994,-2147483648,-2147483648,2.755198,2.094388,1.35494,1.35494
20,30000.0,1956-08-20 15:00:00,38,0.360000,-2147483648,-2147483648,-0.295861,-0.172303,0.00000,0.00000

In [22]:
arrayconverter.values = test[test['observed_variable'] == 85]['observation_value']
t = arrayconverter.copy()
arrayconverter.values = test[test['observed_variable'] == 38]['observation_value']
rh = arrayconverter.copy()
arrayconverter.values = test[test['observed_variable'] == 85]['z_coordinate']
zc = arrayconverter.copy()
dpd = rasotools.met.convert.to_dpd(temp=t,press=zc,rel_humi=rh).values
dpd

array([9.89], dtype=float32)

In [23]:
arrayconverter.values = test[test['observed_variable'] == 85]['observation_value'] - test[test['observed_variable'] == 85]['fg_depar@body']
t = arrayconverter.copy()
arrayconverter.values = test[test['observed_variable'] == 38]['observation_value']  - test[test['observed_variable'] == 38]['fg_depar@body']
rh = arrayconverter.copy()
arrayconverter.values = test[test['observed_variable'] == 85]['z_coordinate']
zc = arrayconverter.copy()
dpd_corr = rasotools.met.convert.to_dpd(temp=t,press=zc,rel_humi=rh).values
dpd_corr

array([4.07], dtype=float32)

In [24]:
fg_dep = dpd - dpd_corr
fg_dep

array([5.82], dtype=float32)

In [25]:
arrayconverter.values = test[test['observed_variable'] == 85]['observation_value'] - test[test['observed_variable'] == 85]['an_depar@body']
t = arrayconverter.copy()
arrayconverter.values = test[test['observed_variable'] == 38]['observation_value']  - test[test['observed_variable'] == 38]['an_depar@body']
rh = arrayconverter.copy()
arrayconverter.values = test[test['observed_variable'] == 85]['z_coordinate']
zc = arrayconverter.copy()
dpd_corr = rasotools.met.convert.to_dpd(temp=t,press=zc,rel_humi=rh).values
dpd_corr

array([6.08], dtype=float32)

In [26]:
an_dep = dpd - dpd_corr
an_dep

array([3.8100004], dtype=float32)

---
---

In [27]:
aaa[aaa['observed_variable'] == 85]['observation_value'].describe()

count    542125.000000
mean        233.411302
std          21.942441
min         173.500000
25%         217.300003
50%         223.300003
75%         247.899994
max         409.399994
Name: observation_value, dtype: float64

In [28]:
aaa[aaa['observed_variable'] == 85][aaa['observation_value'] > 273+60]

<ipython-input-28-7f9a8c9e6990>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  aaa[aaa['observed_variable'] == 85][aaa['observation_value'] > 273+60]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
1615248,100000.0,1977-04-12 12:00:00,85,358.549988,-2147483648,-2147483648,68.728920,65.781509,0.000000,0.000000
1617251,100000.0,1977-07-21 11:00:00,85,358.549988,-2147483648,-2147483648,53.794907,53.070599,0.000000,0.000000
1618206,70000.0,1977-09-03 23:00:00,85,344.149994,-2147483648,-2147483648,62.543777,62.842842,0.072587,0.072587
1629564,9590.0,1978-12-29 23:00:00,85,350.799988,-2147483648,-2147483648,131.994308,132.044220,0.405397,0.405397
1630266,23300.0,1979-01-25 23:00:00,85,349.399994,-2147483648,-2147483648,135.993622,135.850555,0.508642,0.508642
1640419,34500.0,1980-03-13 11:00:00,85,368.799988,-2147483648,-2147483648,144.914108,144.836792,0.442976,0.442976
1646227,3000.0,1980-11-05 11:00:00,85,358.200012,-2147483648,-2147483648,134.299271,133.178436,0.085514,0.085514
1651920,1000.0,1981-06-19 00:00:00,85,362.000000,-2147483648,-2147483648,124.410820,124.304565,0.280757,0.280757
1657254,1000.0,1982-01-23 12:00:00,85,361.600006,-2147483648,-2147483648,135.055359,135.592911,-0.465565,-0.465565
1664170,24500.0,1982-10-17 12:00:00,85,342.200012,-2147483648,-2147483648,128.494278,128.653015,0.631866,0.631866
1665636,24400.0,1982-12-13 12:00:00,85,334.799988,-2147483648,-2147483648,123.849571,123.675201,0.609479,0.609479
1671678,10000.0,1983-08-01 00:00:00,85,342.200012,-2147483648,-2147483648,128.649033,128.568893,0.898936,0.898936
1680469,85000.0,1984-07-09 00:00:00,85,334.399994,-2147483648,-2147483648,48.723736,49.043095,-0.315506,-0.315506
1682932,85000.0,1984-10-09 12:00:00,85,335.799988,-2147483648,-2147483648,51.462574,51.053253,-0.241275,-0.241275
1692140,70000.0,1985-09-16 12:00:00,85,333.399994,-2147483648,-2147483648,59.422951,59.720047,0.357365,0.357365
1708756,70000.0,1987-05-31 00:00:00,85,363.799988,-2147483648,-2147483648,89.603142,90.429085,0.315259,0.315259
1711503,70000.0,1987-09-12 00:00:00,85,343.600006,-2147483648,-2147483648,64.152428,64.373871,0.315259,0.315259
1713496,33300.0,1987-11-25 11:00:00,85,339.399994,-2147483648,-2147483648,109.792648,109.455521,0.532976,0.532976
1718185,85000.0,1988-05-20 00:00:00,85,343.799988,-2147483648,-2147483648,64.669731,64.882942,-0.408211,-0.408211
1724424,2000.0,1989-01-07 11:00:00,85,409.399994,-2147483648,-2147483648,184.154984,184.604919,-1.258051,-1.258051
1731938,50000.0,1989-10-14 11:00:00,85,336.399994,-2147483648,-2147483648,78.212708,78.171043,0.498997,0.498997
1732423,70000.0,1989-11-02 12:00:00,85,334.000000,-2147483648,-2147483648,60.373749,60.481186,0.509993,0.509993
1736447,85000.0,1990-03-29 12:00:00,85,343.799988,-2147483648,-2147483648,64.980354,64.394783,-0.083708,-0.083708
1744254,100000.0,1991-01-16 11:00:00,85,355.600006,-2147483648,-2147483648,89.993919,90.118568,0.000000,0.000000
1757906,85000.0,1992-06-19 23:00:00,85,337.799988,-2147483648,-2147483648,48.810833,49.082283,-0.633226,-0.633226
1758025,85000.0,1992-06-24 11:00:00,85,336.399994,-2147483648,-2147483648,48.928326,49.080990,-0.748322,-0.748322
1758411,85000.0,1992-07-08 23:00:00,85,336.600006,-2147483648,-2147483648,51.048218,51.190247,-0.633226,-0.633226
1778913,70000.0,1994-08-31 23:00:00,85,343.399994,-2147483648,-2147483648,63.053452,63.414276,0.335691,0.335691
1790155,30000.0,1995-11-01 00:00:00,85,361.350006,-2147483648,-2147483648,0.000000,0.000000,0.000000,0.000000
1797580,88700.0,1996-08-05 12:00:00,85,361.950012,-2147483648,-2147483648,0.000000,0.000000,0.000000,0.000000

In [29]:
ref[ref['observed_variable'] == 85][ref['observation_value'] > 273+50]

<ipython-input-29-33c289ee1a54>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ref[ref['observed_variable'] == 85][ref['observation_value'] > 273+50]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
721408,100000.0,1977-04-12 12:00:00,85,358.549988,-2147483648,-2147483648,68.728920,65.781509,0.000000,0.000000
738471,100000.0,1977-07-21 11:00:00,85,358.549988,-2147483648,-2147483648,53.794907,53.070599,0.000000,0.000000
745415,70000.0,1977-09-03 23:00:00,85,344.149994,-2147483648,-2147483648,62.543777,62.842842,0.072587,0.072587
839748,9590.0,1978-12-29 23:00:00,85,350.799988,-2147483648,-2147483648,131.994308,132.044220,0.405397,0.405397
845087,23300.0,1979-01-25 23:00:00,85,349.399994,-2147483648,-2147483648,135.993622,135.850555,0.508642,0.508642
932071,34500.0,1980-03-13 11:00:00,85,368.799988,-2147483648,-2147483648,144.914108,144.836792,0.442976,0.442976
936984,3000.0,1980-04-07 11:00:00,85,324.399994,-2147483648,-2147483648,101.990768,101.790520,-0.370253,-0.370253
940868,25000.0,1980-04-26 00:00:00,85,332.000000,-2147483648,-2147483648,116.958542,115.394341,0.049384,0.049384
958041,15000.0,1980-07-12 00:00:00,85,327.000000,-2147483648,-2147483648,110.299744,110.325272,0.842118,0.842118
980576,3000.0,1980-11-05 11:00:00,85,358.200012,-2147483648,-2147483648,134.299271,133.178436,0.085514,0.085514
1029681,1000.0,1981-06-19 00:00:00,85,362.000000,-2147483648,-2147483648,124.410820,124.304565,0.280757,0.280757
1062828,25000.0,1981-11-20 12:00:00,85,326.200012,-2147483648,-2147483648,107.015457,107.037941,0.520869,0.520869
1075708,1000.0,1982-01-23 12:00:00,85,361.600006,-2147483648,-2147483648,135.055359,135.592911,-0.465565,-0.465565
1087736,5000.0,1982-03-17 00:00:00,85,326.799988,-2147483648,-2147483648,110.004852,110.055717,1.395618,1.395618
1128370,25000.0,1982-09-06 12:00:00,85,325.600006,-2147483648,-2147483648,103.779488,103.598991,0.627533,0.627533
1130435,15000.0,1982-09-15 12:00:00,85,330.600006,-2147483648,-2147483648,111.590576,111.352417,0.870868,0.870868
1132205,2000.0,1982-09-23 00:00:00,85,323.799988,-2147483648,-2147483648,98.273010,97.785362,0.355313,0.355313
1137504,24500.0,1982-10-17 12:00:00,85,342.200012,-2147483648,-2147483648,128.494278,128.653015,0.631866,0.631866
1149850,24400.0,1982-12-13 12:00:00,85,334.799988,-2147483648,-2147483648,123.849571,123.675201,0.609479,0.609479
1202549,10000.0,1983-08-01 00:00:00,85,342.200012,-2147483648,-2147483648,128.649033,128.568893,0.898936,0.898936
1207121,7000.0,1983-08-21 12:00:00,85,328.600006,-2147483648,-2147483648,110.178200,110.316574,0.502282,0.502282
1214990,9900.0,1983-09-23 00:00:00,85,332.000000,-2147483648,-2147483648,115.523407,115.788391,0.625664,0.625664
1223642,10000.0,1983-10-29 12:00:00,85,332.000000,-2147483648,-2147483648,116.161194,116.234741,0.421624,0.421624
1281094,85000.0,1984-07-09 00:00:00,85,334.399994,-2147483648,-2147483648,48.723736,49.043095,-0.315506,-0.315506
1303312,85000.0,1984-10-09 12:00:00,85,335.799988,-2147483648,-2147483648,51.462574,51.053253,-0.241275,-0.241275
1383753,70000.0,1985-09-16 12:00:00,85,333.399994,-2147483648,-2147483648,59.422951,59.720047,0.357365,0.357365
1487528,5000.0,1986-11-28 11:00:00,85,330.000000,-2147483648,-2147483648,112.921333,113.133423,0.744652,0.744652
1529931,70000.0,1987-05-31 00:00:00,85,363.799988,-2147483648,-2147483648,89.603142,90.429085,0.315259,0.315259
1555082,70000.0,1987-09-12 00:00:00,85,343.600006,-2147483648,-2147483648,64.152428,64.373871,0.315259,0.315259
1572626,33300.0,1987-11-25 11:00:00,85,339.399994,-2147483648,-2147483648,109.792648,109.455521,0.532976,0.532976
1613440,85000.0,1988-05-20 00:00:00,85,343.799988,-2147483648,-2147483648,64.669731,64.882942,-0.408211,-0.408211
1668808,2000.0,1989-01-07 11:00:00,85,409.399994,-2147483648,-2147483648,184.154984,184.604919,-1.258051,-1.258051
1734535,50000.0,1989-10-14 11:00:00,85,336.399994,-2147483648,-2147483648,78.212708,78.171043,0.498997,0.498997
1738849,70000.0,1989-11-02 12:00:00,85,334.000000,-2147483648,-2147483648,60.373749,60.481186,0.509993,0.509993
1772885,85000.0,1990-03-29 12:00:00,85,343.799988,-2147483648,-2147483648,64.980354,64.394783,-0.083708,-0.083708
1841785,100000.0,1991-01-16 11:00:00,85,355.600006,-2147483648,-2147483648,89.993919,90.118568,0.000000,0.000000
1961849,85000.0,1992-06-19 23:00:00,85,337.799988,-2147483648,-2147483648,48.810833,49.082283,-0.633226,-0.633226
1962902,85000.0,1992-06-24 11:00:00,85,336.399994,-2147483648,-2147483648,48.928326,49.080990,-0.748322,-0.748322
1966406,85000.0,1992-07-08 23:00:00,85,336.600006,-2147483648,-2147483648,51.048218,51.190247,-0.633226,-0.633226
2109431,20000.0,1994-03-14 11:00:00,85,325.000000,-2147483648,-2147483648,111.178307,111.327278,0.073413,0.073413
2110707,3000.0,1994-03-19 23:00:00,85,323.200012,-2147483648,-2147483648,102.440735,102.244652,1.014652,1.014652
2149800,70000.0,1994-08-31 23:00:00,85,343.399994,-2147483648,-2147483648,63.053452,63.414276,0.335691,0.335691
2251217,30000.0,1995-11-01 00:00:00,85,361.350006,-2147483648,-2147483648,0.000000,0.000000,0.000000,0.000000
2317723,88700.0,1996-08-05 12:00:00,85,361.950012,-2147483648,-2147483648,0.000000,0.000000,0.000000,0.000000
2407397,85000.0,1997-08-22 11:00:00,85,331.200012,-2147483648,-2147483648,31.371666,30.910259,-0.096668,-0.096668

### corrected in the temperature, but no correction available for the dew point! Very wrong values in the data set:

In [30]:
ref[ref['observed_variable'] == 36][ref['observation_value'] > 400]

<ipython-input-30-4728a4da3272>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ref[ref['observed_variable'] == 36][ref['observation_value'] > 400]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
1668809,2000.0,1989-01-07 11:00:00,36,409.399994,-2147483648,-2147483648,NaN,NaN,NaN,NaN

In [31]:
aaa[aaa['observed_variable'] == 36]['observation_value'].describe()

count    350979.000000
mean        228.019405
std          23.150486
min         135.300003
25%         209.899994
50%         219.699997
75%         246.199997
max         409.399994
Name: observation_value, dtype: float64

In [32]:
aaa[aaa['observed_variable'] == 36][aaa['observation_value'] > 400]

<ipython-input-32-e101584df9b4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  aaa[aaa['observed_variable'] == 36][aaa['observation_value'] > 400]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
496254,2000.0,1989-01-07 11:00:00,36,409.399994,0,-2147483648,NaN,NaN,NaN,NaN

In [33]:
aaa[aaa['date_time'] == '1989-01-07 11:00:00'][aaa['z_coordinate'] == 2000.0]

<ipython-input-33-d954c8c00eb0>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  aaa[aaa['date_time'] == '1989-01-07 11:00:00'][aaa['z_coordinate'] == 2000.0]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
144409,2000.0,1989-01-07 11:00:00,34,0.000000,0,2,NaN,NaN,NaN,NaN
496254,2000.0,1989-01-07 11:00:00,36,409.399994,0,-2147483648,NaN,NaN,NaN,NaN
870278,2000.0,1989-01-07 11:00:00,38,0.000000,0,2,NaN,NaN,NaN,NaN
1254751,2000.0,1989-01-07 11:00:00,39,0.000000,0,4,NaN,NaN,NaN,NaN
1724424,2000.0,1989-01-07 11:00:00,85,409.399994,-2147483648,-2147483648,184.154984,184.604919,-1.258051,-1.258051

---
---

In [34]:
aaa[aaa['observed_variable'] == 38]['observation_value'].describe()

count    374890.000000
mean          0.389537
std           0.224552
min           0.000000
25%           0.218266
50%           0.363151
75%           0.543582
max          14.268437
Name: observation_value, dtype: float64

In [35]:
aaa[aaa['observed_variable'] == 38][aaa['observation_value'] > 1]

<ipython-input-35-238b147a7803>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  aaa[aaa['observed_variable'] == 38][aaa['observation_value'] > 1]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
766157,20000.0,1971-08-21 12:00:00,38,1.121865,-2147483648,-2147483648,0.905197,0.931630,NaN,NaN
766418,50000.0,1971-09-15 00:00:00,38,1.019705,-2147483648,-2147483648,0.865289,0.876684,NaN,NaN
769807,70000.0,1972-09-15 12:00:00,38,1.016086,-2147483648,-2147483648,0.811110,0.711070,NaN,NaN
770430,10000.0,1972-11-20 12:00:00,38,1.123224,-2147483648,-2147483648,1.111906,1.112919,NaN,NaN
801266,15000.0,1978-12-09 11:00:00,38,14.268437,-2147483648,-2147483648,14.240347,14.239548,NaN,NaN
803811,25000.0,1979-05-08 11:00:00,38,9.150748,-2147483648,-2147483648,8.808514,8.805318,NaN,NaN
803865,70000.0,1979-05-10 11:00:00,38,1.443589,-2147483648,-2147483648,0.790267,0.782120,NaN,NaN
804679,10000.0,1979-06-19 11:00:00,38,2.924753,-2147483648,-2147483648,2.907386,2.907102,NaN,NaN
804972,25000.0,1979-07-03 11:00:00,38,1.340657,-2147483648,-2147483648,1.275116,1.267282,NaN,NaN
806058,50000.0,1979-08-29 11:00:00,38,1.956470,-2147483648,-2147483648,1.529601,1.565617,NaN,NaN

In [36]:
ref[ref['observed_variable'] == 38][ref['observation_value'] > 1]

<ipython-input-36-66b371928ff7>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ref[ref['observed_variable'] == 38][ref['observation_value'] > 1]

,z_coordinate,date_time,observed_variable,observation_value,conversion_flag,conversion_method,fg_depar@body,an_depar@body,biascorr@body,biascorr_fg@body
445441,20000.0,1971-08-21 12:00:00,38,1.121865,-2147483648,-2147483648,0.905197,0.931630,NaN,NaN
448244,50000.0,1971-09-15 00:00:00,38,1.019705,-2147483648,-2147483648,0.865289,0.876684,NaN,NaN
485764,70000.0,1972-09-15 12:00:00,38,1.016086,-2147483648,-2147483648,0.811110,0.711070,NaN,NaN
492689,10000.0,1972-11-20 12:00:00,38,1.123224,-2147483648,-2147483648,1.111906,1.112919,NaN,NaN
835595,15000.0,1978-12-09 11:00:00,38,14.268437,-2147483648,-2147483648,14.240347,14.239548,NaN,NaN
866673,25000.0,1979-05-08 11:00:00,38,9.150748,-2147483648,-2147483648,8.808514,8.805318,NaN,NaN
867230,70000.0,1979-05-10 11:00:00,38,1.443589,-2147483648,-2147483648,0.790267,0.782120,NaN,NaN
875670,10000.0,1979-06-19 11:00:00,38,2.924753,-2147483648,-2147483648,2.907386,2.907102,NaN,NaN
878823,25000.0,1979-07-03 11:00:00,38,1.340657,-2147483648,-2147483648,1.275116,1.267282,NaN,NaN
891116,50000.0,1979-08-29 11:00:00,38,1.956470,-2147483648,-2147483648,1.529601,1.565617,NaN,NaN