# check missing geopotential

### 10603  19250514  130000    1                NaN                       196.132996     1         
10604  19250514  130000    1                NaN                       215.746307     1         
10605  19250514  130000    1                NaN                       411.879303     1         
10606  19250514  130000    1                NaN                       312.000000     111       
10607  19250514  130000    1                NaN                       6.000000       112       
10608  19250514  130000    1                NaN                       441.299255     1         
10609  19250514  130000    1                NaN                       627.625610     1         
10610  19250514  130000    1                NaN                       696.272156     1         
10611  19250514  130000    1                NaN                       951.245056     1         
10612  19250514  130000    1                NaN                       1098.344849    1         
10613  19250514  130000    1                NaN                       1147.378052    1         
10614  19250514  130000    1                NaN                       1549.450684    1         
10615  19250514  130000    1                NaN                       1951.523315    1         
10616  19250514  130000    1                NaN                       2000.556641    1         
10617  19250514  130000    1                NaN                       317.000000     111       
10618  19250514  130000    1                NaN                       12.000000      112       
10619  19250514  130000    1                NaN                       3000.834961    1         
10620  19250514  130000    1                NaN                       5001.391602    1         
10621  19250514  130000    1                NaN                       315.000000     111       
10622  19250514  130000    1                NaN                       2.000000       112       
10623  19250514  130000    1                NaN                       10002.783203   1         
10624  19250514  130000    1                NaN                       15013.981445   1         
10625  19250514  130000    1                NaN                       20015.373047   1         
10626  19250514  130000    1                NaN                       25016.763672   1         
10627  19250514  130000    1                NaN                       30018.156250   1         
10628  19250514  130000    1                NaN                       35019.546875   1         
10629  19250514  130000    1                NaN                       40030.746094   1         
10630  19250514  130000    1                NaN                       45032.136719   1         
10631  19250514  130000    1                NaN                       50033.527344   1         
10632  19250514  130000    1                NaN                       60036.312500   1         
10633  19250514  130000    1                NaN                       70047.500000   1         
10634  19250514  130000    1                NaN                       80054.289062   1         
10635  19250514  130000    1                NaN                       90061.070312   1         
10636  19250514  130000    1                NaN                       100067.859375  1         
10637  19250514  130000    1                NaN                       110074.640625  1         
10638  19250514  130000    1                NaN                       120081.429688  1         
10639  19250514  130000    1                NaN                       130088.210938  1         
10640  19250514  130000    1                NaN                       140095.000000  1         
10641  19250514  130000    1                NaN                       150101.781250  1

In [ ]:
import os,sys
import pandas as pd